<a href="{% url "rektor" %}" class="btn">Rektor</a>
<a href="{% url "prYoshlar" %}" class="btn">Yoshlar masalalari va ma’naviy-ma’rifiy ishlar bo‘yicha birinchi prorektor</a>
<a href="{% url "prOquv" %}" class="btn">O’quv ishlari bo’yicha prorektor</a>
<a href="{% url "prIlmiy" %}" class="btn">Ilmiy ishlar va innovatsiyalar bo’yicha prorektor</a>
<a href="{% url "prMoliya" %}" class="btn">Moliyaviy-iqtisodiy ishlari bo’yicha prorektor</a>
{% comment %} <a href="{% url "prXalqaro" %}" class="btn">Xalqaro hamkorlik bo‘yicha prorektor</a> {% endcomment %}