{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>XORIJIY TALABALAR</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "talabalar/xt/__xt-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col">
                    <main id="content" class="content-style">
                                                <article id="post-2670" class="post-2670 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Ijtimoiy muxofaza</h1>                             </div>
                                <div class="entry-content">
                                                                    <p style="text-align: center;"><strong>Жиззах политехника институтида ходимлар ва талабаларнинг ижтимоий&nbsp;&nbsp;&nbsp;&nbsp; мухофозаси бўйича олиб бораётган ишлар тўғрисида</strong></p>
    <p>&nbsp;</p>
    <p style="text-align: center;">&nbsp; &nbsp; <strong>&nbsp;М А Ъ Л У М О Т</strong></p>
    <p>&nbsp;</p>
    <p>Жиззах политехника институтида институт маъмурияти ва касаба уюшмаси қўмитаси ўртасида тузилган жамоа шартномаси асосида ишлар олиб борилди.</p>
    <p>Жумладан:</p>
    <ul>
    <li>Нафақа ёшидаги ходимлардан 14-кишига нафақага чиқишидан олдин уларнинг институтдаги кўп&nbsp; йиллик самарали мехнатларини хисобга олиб&nbsp; институт маъмурияти томонидан бир ойлик иш хақи миқдоридаги моддий рағбатлантириш ва институт касаба уюшмаси қўмитасининг қимматбахо совғалари&nbsp;&nbsp; тантанали &nbsp;топширилди.</li>
    <li>Институтда ишлаб нафақага чиққан бугунги кунда ишламайдиган пенсионерлардан 12- кишининг холидан хабар олинди,&nbsp; байрам кунларида институт маъмуриятининг ва касаба уюшмаси қўмитасининг совғалари топширилди.</li>
    <li>Икки ёшдан уч ёшгача бола парваришида бўлган ёш оналардан учтасига моддий ёрдамлар кўрсатилди.</li>
    <li>Кам таъминланган ходимлардан 52- кишига институт маъмурияти ва касаба уюшмаси қўмитасининг моддий ёрдамлари кўрсатилди.</li>
    <li>Институтда тахсил олаётган биринчи гурух ногирони “ЭваРЭ” факулътети иккинчи курс талабаси И. Каримовга соғлигини тиклаши учун 1760 000 сўмлик “Ботаника” оромгохииннг йўлланмаси бепул берилди.</li>
    <li>Чин етим талабалардан икки кишига касаба уюшмалари Федкрациясининг спипендиялари таъсис этилди.</li>
    <li>Институтда фаолият кўрсатаётган профессор-ўқитувчи ва ходимлардан 60-кишига соғликларини тиклашлари учун Республикамизда жойлашган сихатгохларга, бир кишига эса (профессор Юлдашев Уришбой)&nbsp; “Кисловодский” санаториясига дам олиш учун йўлланма берилди.</li>
    <li>Ходимларнинг фарзандларини соғломлаштириш учун 16-таси болалар оромгохларига юбоилди.</li>
    <li>Йил давомида Республикамизда жойлашган зиёратгохлардан бир нечтасига саёхатлар уюштирилди.</li>
    </ul>
    <p>Жумладан:</p>
    <p>Самарқанд вилоятида жойлашган “Хазрати-Давут” зиёратгохига (24-киши).</p>
    <p>Жиззах вилоятидаги “Хўжа Мушкент” зиёратгохига (23-киши).</p>
    <p>Бухоро шахридаги зиёратгохлар ва қадамжоларга 2-кунлик саёхат уюштирилди (22-киши).</p>
    <p>Самарқанд шахридаги қадамжоларга саёхат уюштирилди (22-киши).</p>
    <p>-Ходимларни Ижтимоий мухофоза қилиш мақсадида байрам тадбирларида (8-март “Халқаро хотин-қизлар куни,&nbsp; 1-октябр ”Ўқитувчи ва мураббийлар” куни, “Янги йил” байрами) моддий раҳбатлантиришлар институт маъмурияти томонидан бериб борилди ва фаол мехнат қилаётган ходимларга институт касаба уюшмаси қўмитасининг совғалари тарқатилди.</p>
    <p>вЖиззах политехника институтида “Фаол инвестициялар ва ижтимоий ривожланиш” йили дастури асосида ходимларни ижтимоий мухофоза қилиш бўйича ишлар олиб борилмоқда</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p style="text-align: center;">Жиззах политехника институти</p>
    <p style="text-align: center;">касаба уюшмаси қўмитаси раиси:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Қ. Ў. Такабоев</p>
    <p>&nbsp;</p>
    <p><strong>&nbsp;</strong></p>
    <p style="text-align: center;">
                                    </p><div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}