{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>XORIJIY TALABALAR</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "talabalar/xt/__xt-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col">
                    <main id="content" class="content-style">
                                                <article id="post-2666" class="post-2666 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Xorijiy talabalar</h1>                             </div>
                                <div class="entry-content">
                                                                    <table class="table table-bordered" width="100%">
    <tbody>
    <tr>
    <td colspan="5" width="586"><strong>Jizzax Politexnika Institutida taxsil olayotgan xorijiy talabalar ro’yxati:</strong></td>
    </tr>
    <tr>
    <td width="28">1.</td>
    <td width="236">Esanova Dinara Keldibek qizi</td>
    <td width="104">Qozog’iston</td>
    <td width="57">3 kurs</td>
    <td width="160">Servis</td>
    </tr>
    <tr>
    <td width="28">2.</td>
    <td width="236">Giyosov Sarvarjon Abdurashidovich</td>
    <td width="104">Qozog’iston</td>
    <td width="57">3 kurs</td>
    <td width="160">Servis</td>
    </tr>
    <tr>
    <td width="28">3.</td>
    <td width="236">Umurzokov Shukurullo Ibrohim o‘gli</td>
    <td width="104">Qozog’iston</td>
    <td width="57">3 kurs</td>
    <td width="160">Transport</td>
    </tr>
    <tr>
    <td width="28">4.</td>
    <td width="236">Ismailova Dilbakhar Abduali qizi</td>
    <td width="104">Qozog’iston</td>
    <td width="57">3 kurs</td>
    <td width="160">Sanoat texnologiyalari</td>
    </tr>
    <tr>
    <td width="28">5.</td>
    <td width="236">Nematov Javoxir Pardaxonovich</td>
    <td width="104">Qozog’iston</td>
    <td width="57">3 kurs</td>
    <td width="160">Energetika va radioelektronika</td>
    </tr>
    <tr>
    <td width="28">6.</td>
    <td width="236">Umarkulov Utkir Baxodir o‘gli</td>
    <td width="104">Qozog’iston</td>
    <td width="57">3 kurs</td>
    <td width="160">Sanoat texnologiyalari</td>
    </tr>
    <tr>
    <td width="28">7.</td>
    <td width="236">Ozkan Guler</td>
    <td width="104">Turkiya</td>
    <td width="57">3 kurs</td>
    <td width="160">Qurilish materiallari muhandisligi</td>
    </tr>
    <tr>
    <td width="28">8.</td>
    <td width="236">Malikov Farxod</td>
    <td width="104">Qozog’iston</td>
    <td width="57">3 kurs</td>
    <td width="160">Transport</td>
    </tr>
    <tr>
    <td width="28">9.</td>
    <td width="236">Ruziyev Sanjar Iskandarovich</td>
    <td width="104">Qozog’iston</td>
    <td width="57">3 kurs</td>
    <td width="160">Energetika va radioelektronika</td>
    </tr>
    <tr>
    <td width="28">10.</td>
    <td width="236">Atamuradova Gulrux Muzaffarovna</td>
    <td width="104">Rossiya Federatsiyasi</td>
    <td width="57">2 kurs</td>
    <td width="160">Servis</td>
    </tr>
    <tr>
    <td width="28">11.</td>
    <td width="236">Xadjiyev Taxir Alisherovich</td>
    <td width="104">Qozog‘iston</td>
    <td width="57">2 kurs</td>
    <td width="160">Servis</td>
    </tr>
    <tr>
    <td width="28">12.</td>
    <td width="236">Giyasova Mavlyuda Abdurashid Qizi</td>
    <td width="104">Tojikiston</td>
    <td width="57">2 kurs</td>
    <td width="160">Servis</td>
    </tr>
    <tr>
    <td width="28">13.</td>
    <td width="236">Cetin Emre</td>
    <td width="104">Turkiya</td>
    <td width="57">2 kurs</td>
    <td width="160">Qurilish materiallari muhandisligi</td>
    </tr>
    </tbody>
    </table>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}