{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>XORIJIY TALABALAR</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "talabalar/xt/__xt-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col">
                    <main id="content" class="content-style">
                                                <article id="post-2668" class="post-2668 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">To’lov kontrakti miqdori</h1>                             </div>
                                <div class="entry-content">
                                                                    <h3 class="text-center" style="text-align: center;">2022/2023 ўкув йилида Х<strong>орижий олий таълим муассасаларидан</strong>&nbsp;Жиззах политехника институтига ўқишини кўчирган талабалар учун таълим йўналишлари бўйича бир талабани тўлов – контракт шаклида бир йиллик ўқитиш қиймати<br>
    МИҚДОРЛАРИ</h3>
    <p class="text-center"><em>(Меҳнатга хақ тўлашнинг энг кам миқдорига баробарида белгиланади.)</em></p>
    <table class="table table-bordered" width="100%">
    <tbody>
    <tr>
    <td style="text-align: center;" width="319"><strong>Shartnoma summasi to’lanadigan yil</strong></td>
    <td style="text-align: center;" width="319"><strong>Shartnoma summasi</strong></td>
    </tr>
    <tr>
    <td style="text-align: center;" width="319">2022-2023 y.</td>
    <td style="text-align: center;" width="319">15626220 so’m</td>
    </tr>
    </tbody>
    </table>
    <p>&nbsp;</p>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}