 {% comment %} <a href="{% url "pageB1" %}" class="btn">Yoshlar bilan ishlash, ma’naviyat va ma’rifat bo’limi</a> {% endcomment %}
<a href="{% url "pageB2" %}" class="btn">Iqtidorli talabalar bilan ishlash bo’limi</a>
{% comment %} <a href="{% url "pageB3" %}" class="btn">Ilmiy tadqiqot va ilmiy pedogogik kadrlar tayyorlash</a> {% endcomment %}
<a href="{% url "pageB4" %}" class="btn">Jismoniy va yuridik shaxslarning murojaatlari bilan ishlash, nazorat va monitoring</a>
{% comment %} <a href="{% url "pageB5" %}" class="btn">Ta’lim sifatini nazorat qilish bo’limi</a> {% endcomment %}
 {% comment %} <a href="{% url "pageB6" %}" class="btn">Devonxona va arxiv bo’limi</a> {% endcomment %}
{% comment %} <a href="{% url "pageB7" %}" class="btn">Taxririy-nashryot bo’limi</a> {% endcomment %}
{% comment %} <a href="{% url "pageB8" %}" class="btn">Xalqaro aloqalar bo’lim</a> {% endcomment %}
<a href="{% url "pageB9" %}" class="btn">O’quv-uslubiy boshqarma</a>
{% comment %} <a href="{% url "pageB10" %}" class="btn">Reja-moliya bo’limi</a> {% endcomment %}
{% comment %} <a href="{% url "pageB11" %}" class="btn">Marketing bo’limi</a> {% endcomment %}
{% comment %} <a href="{% url "pageB12" %}" class="btn">Xodimlar bo’limi</a> {% endcomment %}
{% comment %} <a href="{% url "pageB13" %}" class="btn">Buxgalteriya</a> {% endcomment %}
{% comment %} <a href="{% url "pageB14" %}" class="btn">Magistratura</a> {% endcomment %}