<a href="#" class="btn">Yoshlar bilan ishlash, ma’naviyat va ma’rifat bo’limi</a>
<a href="#" class="btn">Iqtidorli talabalar bilan ishlash bo’limi</a>
<a href="#" class="btn">Ilmiy tadqiqot va ilmiy pedogogik kadrlar tayyorlash</a>
<a href="#" class="btn">Jismoniy va yuridik shaxslarning murojaatlari bilan ishlash, nazorat va monitoring</a>
<a href="#" class="btn">Ta’lim sifatini nazorat qilish bo’limi</a>
<a href="#" class="btn">Devonxona va arxiv bo’limi</a>
<a href="#" class="btn">Taxririy-nashryot bo’limi</a>
<a href="#" class="btn">Xalqaro aloqalar bo’lim</a>
<a href="#" class="btn">O’quv-uslubiy bo’lim</a>
<a href="#" class="btn">Reja-moliya bo’limi</a>
<a href="#" class="btn">Marketing bo’limi</a>
<a href="#" class="btn">Xodimlar bo’limi</a>
<a href="#" class="btn">Buxgalteriya</a>
<a href="#" class="btn">Magistratura</a>