{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Bo'limlar</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/bolimlar/bolim-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            
            {% comment %} #################################### {% endcomment %}
        
            <div class="__cards">  
                <a href="#" class="__card">
                    <img src="{% static "Photos/samandar.jpg" %}">
                    <h4>Sadullayev Jasurbek Ulug'bek o'g'li</h4>
                    <h6 class="__h6">Yoshlar bilan ishlash, ma’naviyat va ma’rifat bo’limi</h6>
                </a>
            
                <a href="#" class="__card">
                    <img src="{% static "Photos/samandar.jpg" %}">
                    <h4>Sadullayev Jasurbek Ulug'bek o'g'li</h4>
                    <h6 class="__h6">Iqtidorli talabalar bilan ishlash bo’limi</h6>
                </a>
            
                <a href="#" class="__card">
                    <img src="{% static "Photos/samandar.jpg" %}">
                    <h4>Sadullayev Jasurbek Ulug'bek o'g'li</h4>
                    <h6 class="__h6">Ilmiy tadqiqot va ilmiy pedogogik kadrlar tayyorlash</h6>
                </a>
    
                <a href="#" class="__card">
                    <img src="{% static "Photos/samandar.jpg" %}">
                    <h4>Sadullayev Jasurbek Ulug'bek o'g'li</h4>
                    <h6 class="__h6">Jismoniy va yuridik shaxslarning murojaatlari bilan ishlash, nazorat va monitoring</h6>
                </a>
    
                <a href="#" class="__card">
                    <img src="{% static "Photos/samandar.jpg" %}">
                    <h4>Sadullayev Jasurbek Ulug'bek o'g'li</h4>
                    <h6 class="__h6">Ta’lim sifatini nazorat qilish bo’limi</h6>
                </a>

                <a href="#" class="__card">
                    <img src="{% static "Photos/samandar.jpg" %}">
                    <h4>Sadullayev Jasurbek Ulug'bek o'g'li</h4>
                    <h6 class="__h6">Devonxona va arxiv bo’limi</h6>
                </a>

                <a href="#" class="__card">
                    <img src="{% static "Photos/samandar.jpg" %}">
                    <h4>Sadullayev Jasurbek Ulug'bek o'g'li</h4>
                    <h6 class="__h6">Taxririy-nashryot bo’limi</h6>
                </a>
    
                <a href="#" class="__card">
                    <img src="{% static "Photos/samandar.jpg" %}">
                    <h4>Sadullayev Jasurbek Ulug'bek o'g'li</h4>
                    <h6 class="__h6">Xalqaro aloqalar bo’lim</h6>
                </a>

                <a href="#" class="__card">
                    <img src="{% static "Photos/samandar.jpg" %}">
                    <h4>Sadullayev Jasurbek Ulug'bek o'g'li</h4>
                    <h6 class="__h6">O’quv-uslubiy bo’lim</h6>
                </a>

                <a href="#" class="__card">
                    <img src="{% static "Photos/samandar.jpg" %}">
                    <h4>Sadullayev Jasurbek Ulug'bek o'g'li</h4>
                    <h6 class="__h6">Reja-moliya bo’limi</h6>
                </a>
    
                <a href="#" class="__card">
                    <img src="{% static "Photos/samandar.jpg" %}">
                    <h4>Sadullayev Jasurbek Ulug'bek o'g'li</h4>
                    <h6 class="__h6">Marketing bo’limi</h6>
                </a>
        
                <a href="#" class="__card">
                    <img src="{% static "Photos/samandar.jpg" %}">
                    <h4>Sadullayev Jasurbek Ulug'bek o'g'li</h4>
                    <h6 class="__h6">Xodimlar bo’limi</h6>
                </a>
    
                <a href="#" class="__card">
                    <img src="{% static "Photos/samandar.jpg" %}">
                    <h4>Sadullayev Jasurbek Ulug'bek o'g'li</h4>
                    <h6 class="__h6">Buxgalteriya</h6>
                </a>

                <a href="#" class="__card">
                    <img src="{% static "Photos/samandar.jpg" %}">
                    <h4>Sadullayev Jasurbek Ulug'bek o'g'li</h4>
                    <h6 class="__h6">Magistratura</h6>
                </a>
            </div>
        
            {% comment %} #################################### {% endcomment %}   
                
        </div>
    </div>
</div>



{% endblock content %}