{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Bo'limlar</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/bolimlar/bolim-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="./samandar.jpg">
                </div>
                <div class="right">
                    <p>Tahririyat-nashriyot« bo’lim boshlig’i</p>
                    <p><b>Saydullayeva Gavhar Yo’ldosh qizi</b></p>
                    <p><b>Qabul vaqti:</b> Chorshanba 14:00 – 16:00</p>
                    <p><b>Telefon:</b>+99833.698-00-08</p>
                    <p><a href=" dgpi-info@edu.uz" class="poshta" ><b> E-mail: </b>dgpi-info@edu.uz</a> </p>
                </div>
            </div>
            <p>
                Saydullayeva Gavhar Yo’ldosh qizi «Bunyodkor yoshlar» gazetasi bosh muharriri O’zbekiston Davlat jahon tillari universitetini tamomlagan. Mutaxassisligi – xalqaro jurnalist.

Turli yillarda «Umumta’lim fanlari metodikasi» ilmiy–metodik jurnalida muxbir, «Doktor press» gazetasida jamoatchi muxbir, Jizzax shahar Mahalla va oilani qo’llab-quvvatlash bo’limi bosh mutaxassisi, «Jizzax ovozi» gazetasida bo’lim muharriri lavozimlarida ishlagan.

2021 yidan buyon Jizzax politexnika instituti muassisligidagi «Bunyodkor yoshlar» gazetasi bosh muharriri.

Gazeta 2012 yilning avgust oyidan 2020 yilga qadar oyiga bir marta, 2000-3000 nusxada chop etilayapti. 2020 yilda karantin tufayli gazeta bir muddat chop etilmadi. «Bunyodkor yoshlar» gazetasi sahifalarida institut hayoti mufassal aks ettiruvchi xabar va yangiliklar, professor-o’qituvchilarning ilmiymaqolalari hamda iqtidorli talaba yoshlarning ijod namunalari keng o’rin egallaydi. Jamoadagi ma’naviy-ma’rifiy, madaniy tadbirlarni, yoshlar tarbiyasiga oid maqolalarni, turli musobaqalarni yoritishga alohida ahamiyat berilayapti.

Gazetaning har bir soni institut veb-saytida e’lon qilib borilmoqda.
               
            </p>
           
        </div>
    </div>
</div>



{% endblock content %}




