{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Bo'limlar</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/bolimlar/bolim-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/iconmen.png" %}">
                </div>
                <div class="right">
                    <p>Iqtidorli talabalarning ilmiy tadqiqot ishlarini tashkil etish bo’limi boshlig'i</p>
                    <p>Pedagogika fanlari bo’yicha falsafa doktori, (PhD)<b>Mustafaqulov Asatulla Asrorovich</b></p>
                    <p><b>Qabul vaqti:</b> Har kuni (9:00-18:00)</p>
                    <p><b>Telefon:</b> +99891 591-22-25</p>
                    <p><a href=" amustafaqulov@mail.ru" class="poshta" ><b> E-mail: </b> amustafaqulov@mail.ru</a> </p>
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp;Bo‘lim boshlig‘ining vazifalari:</b>
                Iqtidorli talabalarning chuqur bilim olishlari va intellektual qobiliyatlarini rivojlantirishga ilmiy muhit va sharoit yaratish;
Kafedralarning malakali professor-o‘qituvchilarini iqtidorli talabalar bilan individuval ilmiy-tadqiqot ishlarini olib boorish uchun “Maqsadli tayyorlash dasturi”ni ishlab chiqish;
Iqtidorli talabalar va magistorlarni ilm-fan taraqqiyotining ustuvor yo‘nalishlari bo’yicha ilmiy tadqiqot ishlariga, ilmiy loyihalarga keng jalb etishni;
Iqtidorli talabalar va magistorlarni turli nomdor Davlat stipendiyalari: Beruniy, Navoiy, Islom Karimov hamda O’zbekiston Respublikasi Prezidenti stipendiyalari tanlovlarida ishtirok etishlarini ta’minlash;
Kafedralarda olib borilayotgan dolzarb, ilmiy-tadqiqot, ijodiy ishlarga talabalarni faol qatnashishlarini ta’minlash;
“Yilning eng yaxshi tadqiqotchisi” iqtidorli talabalar va magistrantlar o‘rtasida tanlov tashkil etish va uni samarali faoliyat yuritishi bo‘yicha chora-tadbirlar ishlab chiqish;
“Innovatsion g‘oyalar, texnologiyalar va loyihalar” tanlovini tashkil etish va o‘tkazish;
Talabalar ilmiy anjumanlari, seminarlari, ilmiy-tadqiqot ishlari tanlovlarini, davra suhbatlarini, fan olimpiadalarini va boshqa tadbirlarni tashkil qilish va o‘tkazish va boshqalar.
<br><b>&nbsp;&nbsp; Bo‘lim muhandisining vazifalari</b>
Iqtidorli talabalarni aniqlash va tanlash, moyilligiga qarab, ularni maqsadli maqsadli tayyorlashni tashkil etish;
Iqtidorli talabalar faoliyatini shakllantirish va rivijlantirish dasturini ishlab chiqish;
Talabalar ilmiy jamiyati faoliyatini yo’naltirish muvofaqlashtirish;
Ta’lim olayotgan iqtidorli talabalarning intellektual salohyatini davriy ravishda aniqlab borish;
Talabalarni ilmiy-tadqiqot, ijodiy ishlarga, ilmiy to’garaklarga faol jalb qilish;
Respublika va xalqaro miqyosda o’tkaziladigan ilmiy anjumanlar, fan olimpiadalari, seminarlar, tanlovlarda faol ishtirokini ta’minlash;
O’zbekiston Respublikasi Davlat stipendiyalari, “Umid” jamg’armasi, xorijiy fondlar, grantlariga, nomdor stipendiyalarga tafsiya qilish;
Xorijiy ta’lim muassasalari va ilmiy markazlariga iqtidorli talabalar va yosh mutaxassis olimlarning borishiga tavsiya berish va tashkil etish;
Iqtidorli talabalar o’rtasida muntazam ravishda tadqiqotlar o’tkazishni ta’minlash;
<br><b>&nbsp;&nbsp;Jizzax politexnika institut iqtidorli talabalarining erishgan yutuqlari</b>
Mamlakatimizda istiqbolli yoshlarning ijodiy, intellektual salohiyatini ro‘yobga chiqarish, innovatsion g‘oyalar, loyihalar va texnologiyalarni ishlab chiqarishga joriy qilish, iqtidorli talabalar va yosh olimlarning innovatsion faoliyatini rag‘batlantirish, ilm-fan, ta’lim va ishlab chiqarish integratsiyasini kuchaytirish uchun zarur shart-sharoitlar yaratilmoqda. O‘zbekiston Respublikasi Prezidentining 2019 yil 8 oktyabrdagi “O‘zbekiston Respublikasi oliy ta’lim tizimini 2030 yilgacha rivojlantirish konsepsiyasi” to‘g‘risidagi PQ-5847-son farmonida “Ijtimoiy soha va iqtisodiyot tarmoqlarining barqaror rivojlanishiga munosib hissa qo‘shadigan, mehnat bozorida o‘z o‘rnini topa oladigan yuqori malakali kadrlar tayyorlash tizimini yo‘lga qo‘yish” ustuvor vazifa etib belgilangan.

SHu o‘rinda ta’kidlash joizki, OTM faoliyatining asosiy natijasi ularning bitiruvchilari sifatidir. Jarayonning sifati esa o‘quv tizimini samarali tashkil etish bilan bog‘liq. SHuning uchun, OTM ta’lim xizmatlarini ko‘rsatish jarayonining sifati mehnat bozoriga chiqadigan mutaxassislarning natijaviy sifati bilan to‘g‘ridan to‘g‘ri bog‘liqdir. Bu shuni anglatadiki, ta’lim jarayonining barcha ishtirokchilari OTMni rivojlantirish uchun innovatsion modelning zarurligi va foydaliligini bilsalargina innovatsion loyihalarni ishlab chiqish va amalga oshirishga qodir bo‘ladilar. Bunda o‘ta zaruriy shart – bu ta’lim jarayoni ishtirokchilarida innovatsion ong, innovatsion madaniyat va tadbirkorlik tipidagi yaratuvchanlikni shakllantirishdir.

YUqorida keltirilgan ishlar bilan birgalikda, institutimizda Iqtidorli talabalarni ilmiy izlanish va ijodiy muhitga kirib kelishlari ularni O‘zbekiston Respublikasi Prezidenti Davlat stipendiyasi va nomli Davlat stipendiyalari hamda talabalar Respublika fan olimpiadalari, turli tanlovlar, Davlat dasturi asosida bajarilayotgan ilmiy loyihalarga jalb etish hamda ilmiy tadqiqot ishlari olib borish, konferensiya va seminarlar shuningdek ilmiy va ommaviy nashrlarda maqolalar chop etishlari va mustaqil ijodiy izlanishlar olib borishlariga alohida e’tibor qaratilgan.

Institutda iqtidorli talabalarni izlab topish va maqsadli tayyorlash ishlari rejasi tuzilib iqtidorli talabalarining soni 2020-2021 o‘quv yilda 410 nafarni tashkil etgan bo‘lsa, 2021-2022 o‘quv yilda esa 780 nafarni  tashkil etmoqda. Bu talabalar kafedralarda turli konkurslar, ilmiy ishlar taqdimotlari va tematik ko‘rgazmalar o‘tkazish yo‘li bilan tanlab olingan.

Iqtidorli talabalar uchun chet tillarni chuqurlashtirib o‘rganishni olib borishda “Xorijiy tillar” kafedrasidan malakali o‘qituvchilar ajratilib, iqtidorli talabalarga alohida dastur asosida muntazam ravishda mashg‘ulotlar olib borishmoqda.

Joriy yilda institutimizda IT park markazi tashkil etildi va ushbu markazda iqtidorli talabalar xamda dasturlash tillariga qiziqadigan bir qator yoshlarga Kompyuter savodxonligi, Grafik dasturlar, Web dasturlash, IT ingliz tili maxsus kurslari bo‘yicha mashg‘ulotlar olib borilmoqda.

Institut fakultetlari va kafedralari tomonidan tuzulgan maqsadli tayyorlash dasturi asosida iqtidorli talabalar bilan samarali faoliyat olib borilishi natijasida quyidagi yutuqlarni ko‘rsatib o‘tish mumkin:

Jizzax viloyatida yosh salohiyatli kadrlarni qo‘llab-quvvatlash va ularni davlat fuqarolik xizmatiga tayyorlash, mehnat bozorida raqobatbardoshligini ta’minlash maqsadida iqtidorli yoshlar uchun “Oltin fond” daftari joriy qilingan bo‘lib, ushbu “Oltin fond” daftariga a’lo baholarga o‘qiydigan umumta’lim muassasalari o‘quvchilari, kasbiy ta’limni rivojlantirish va muvofiqlashtirish boshqarmasi tasarrufidagi ta’lim muassasalarining hamda viloyatda faoliyat yuritayotgan oliy ta’lim muassasalari talabalari fan, ta’lim, madaniyat, adabiyot, san’at, sport yo‘nalishlarida jamiyatimiz turmush tarzini yanada yaxshilashga xizmat qiladigan maqsadli kreativ g‘oyalarga ega 200 nafar viloyat yoshlari kiritilgan. Ushbu “Oltin fond” daftariga institutimizning 23 nafar iqtidorli talabalari xam kiritilganligini ta’kilashimiz mumkin.
            </p>
            
        </div>
    </div>
</div>



{% endblock content %}




