{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Bo'limlar</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/bolimlar/bolim-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/jasur.jpg" %}">
                </div>
                <div class="right">
                    <p>O’quv-uslubiy boshqarma boshlig’i</p>
                    <p>Iqtisod fanlari falsafa doktori (PhD) <b>Nasriddinov Jasurjon Islomovich</b></p>
                    <p><b>Qabul vaqti:</b>  haftaning seshanba, payshanba va juma kunlari soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b> +998902657698</p>
                    <p><a href="  njasur1976@mail.ru" class="poshta" ><b> E-mail: </b>  njasur1976@mail.ru</a> </p>
                </div>
            </div>
            <p>
                O‘quv-uslubiy boshqarma – o‘quv jarayonini boshqaruvchi tuzilma bo‘lib, O‘zbekiston Respublikasining «Ta’lim to‘g‘risida”gi qonuni va «Kadrlar tayyorlash milliy dasturi”da belgilangan vazifalarni amalga oshirish bo’yicha maqsadlarni amalga oshiradi.

O‘quv-uslubiy boshqarma institut ta’lim jarayonini ilg‘or ilm-fan yutuqlari asosida takomillashtirish, asosiy o‘quv hujjatlari bilan ta’minlash, fakultet, kafedralar o‘quv ishlarida erishgan ilg‘or yutuqlarini umumlashtirish vakolatlariga ega.
<br><b>&nbsp;&nbsp;O‘quv-uslubiy boshqarmaning vazifalari:</b>
boshqarma institutda o‘quv ishlarini tashkil etadi, nazorat qiladi va boshqaradi. O’zbekiston Respublikasi oliy va o’rta maxsus ta’lim vazirligi o’rnatgan tartibda o’quv rejalari va dasturlariga muvofiq ravishda o’uv jarayonini tashkil qilish;

fakultetlarda o‘quv jarayoniga oid bo‘lgan me’yoriy xujjatlarni zamon talabalariga muvofiq yuritilishini nazorat va tahlil qilish,

institutda таълим tizimiga bog‘liq bo‘lgan so‘nggi yangiliklarni o‘quv jarayoniga tadbiq etish, bu borada professor- o‘qituvchilar o‘rtasida seminarlar uyushtirish va uning bajarilishini nazorat qilish;

institut ta’lim jarayonini ilg‘or ilm-fan yutuqlari asosida takomillashtirish, institut tuzilmalarini davlat ta’lim standartlari va asosiy o‘quv hujjatlari bilan ta’minlash;

ilg‘or pedagogik axborot texnologiyalarini o‘quv jarayoniga tadbiq etilishini tashkillashtirish;

institutda fanlar bo‘yicha o‘quv adabiyotlari va uslubiy ko‘rsatmalar bilan ta’minlanganlik darajasini doimiy ravishda nazorat va tahlil qilib borish;

zamon talablariga muvofiq holda o‘quv rejalari va dasturlarini takomillashtirish;

institut professor-o‘qituvchilar tarkibi tomonidan o‘quv rejalari va yuklamalarning bajarilishini nazorat qilish;

fakultetlarda o‘quv jarayonining tashkil qilinishini reydlar asosida tekshirish, nazorat natijalari bo‘yicha aniqlangan kamchiliklarni bartaraf etish maqsadida dekanlar e’tiboriga havola qilish;

kafedra ish faoliyatini o‘rganadi va tajribalarini umumlashtirish, dars jadvallarining bajarilishi va darslarning o‘tilishi ustidan nazorat qilish;

yangi o‘quv yili uchun o‘quv yuklamalar tuzilishini boshqarish va shu asosida rejalashtirish bo‘limi bilan birgalikda kafedralarning professor-o‘qituvchilar shtat jadvalini aniqlash;

O‘zbekiston Respublikasining ta’limga oid Qonunlari, Prezident Farmonlari, Farmoyishlari, qarorlari, Vazirlar Mahkamasining qarorlari, Oliy va o‘rta maxsus ta’lim vazirligining hay’at qarorlari, buyruqlari, yo‘riq xat, modemogramma va telefonogrammalarini, shuningdek, rektor buyruqlarining fakultetlar, kafedralar, bo‘limlarda bajarilishini ta’minlash va monitoringini olib boрish;

institutda shtatlar jadvalini tuzish uchun hujjatlarni tayyorlash, o‘quv yuklamalarini bajarish yuzasidan nazoratni amalga oshirish;

o‘rindosh va soatbay dars o‘tuvchi o‘qituvchilarning hujjatlarini rasmiylashtirish, soatbay dars fondining taqsimlanishini tashkil qilish va muvofiqlashtirish;

institut fakultet va kafedralarini o‘quv masalalari bo‘yicha faoliyatini o‘rganish;

professor – o‘qituvchilar tanlovini tashkil etish;

o‘quv jarayoniga rivojlangan chet el tajribalarini joriy etish;

akademik litsey va texnikumlar faoliyatini o‘quv-uslubiy jihatdan muvofiqlashtirish;

O‘quv-uslubiy boshqarmada boshliq, mutaxassis, uslubchi, dispetcherlar faoliyat olib boradi.
            </p>
            
        </div>
    </div>
</div>



{% endblock content %}




