{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Bo'limlar</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/bolimlar/bolim-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="./samandar.jpg">
                </div>
                <div class="right">
                    <p>Xalqaro hamkorlik» bo’limi boshlig’i</p>
                    <p><b>Raxmatov Utkirjon Farxod o‘g‘li</b></p>
                    <p><b>Qabul vaqti:</b> seshanba, chorshanba va juma kunlari 14:00-16:00 gacha.</p>
                    <p><b>Telefon:</b> +99891 626 2992</p>
                    <p><a href=" magicutkir2992@gmail.com" class="poshta" ><b> E-mail: </b> magicutkir2992@gmail.com</a> </p>
                </div>
            </div>
            <p>
                Institut tomonidan ta’lim soxasi bo’yicha xalqaro dasturlardagi ishtiroki, xalqaro hamkorlikni yo’lga qo’yish va rivojlantirish, chet el oliy o’quv yurtlari va stependiyalar tanlovlarida ishtirok etish, yangi hamkorlarni izlab topish va ular  bilan xalqaro hamkorlik qirralarini topish, institut professor-o’qituvchilari, talabalarni xalqaro grantlar, stipendiyalar tanlovi, o’quv dasturlari bilan muntazam tanishtirish, ularninig ishtirokini ta’minlash borasida bir qator ishlar amalga oshirilib kelinmoqda.
                Boʼlim oʼz faoliyatida Oʼzbekiston Respublikasi Konstitutsiyasi va qonunlariga, Oʼzbekiston Respublikasi Oliy Majlisi palatalarining qarorlari va boshqa hujjatlariga, Oʼzbekiston Respublikasi Prezidentining farmonlari, qarorlari va farmoyishlariga, Vazirlar Mahkamasining qarorlari va farmoyishlariga, Oliy va oʼrta maxsus taʼlim vazirligining Hayʼat qarorlari va buyruqlariga, institut Kengashi qarorlari hamda Ustaviga, institut rektori buyruqlari va mazkur Nizomga amal qiladi.
                
                Boʼlim institut va uning tarkibiy boʼlinmalari, professor- oʼqituvchilari, xodimlarining xorijiy davlatlar, shu jumladan xorijiy oliy taʼlim muassasalari, markazlari bilan hamkorlik faoliyatini muvofiqlashtiradi.
                
                Boʼlim oʼz faoliyatini amalga oshirishda institutning barcha tarkibiy boʼlinmalari, fakultetlari, kafedralari hamda xorijiy oliy taʼlim muassasalari va markazlari bilan oʼzaro hamkorlik qiladi.
                <br><b>&nbsp;&nbsp;Boʼlimning vazifalari va funksiyalari</b>
                Boʼlim quyidagi vazifalarni bajaradi:

Institutning xorijiy davlatlar taʼlim muassasalari hamda taʼlim markazlari bilan imzolangan bitimlari asosida xalqaro hamkorlik strategiyasini ishlab chiqadi va asosiy yoʼnalishlarini belgilaydi;

Xorijiy taʼlim muassasalari, markazlari va boshqa tegishli tashkilotlar bilan institutning hamkorlik toʼgʼrisidagi shartnomalari loyihalarini ishlab chiqadi va ularni rasmiylashtirish yuzasidan tavsiyalar beradi;

Xorijiy davlatlarda taʼlim olish, malaka oshirish yoki ilmiy- tadqiqot ishlarini olib borish, shu jumladan, Oʼzbekiston Respublikasi Vazirlar Mahkamasi xuzuridagi «El-yurt umidi» jamgʼarmasi, shuningdek boshqa nodavlat tashkilotlari tanlovlariga nomzodlar roʼyxatini institut rahbariyatiga koʼrib chiqish uchun tavsiya etadi;

Institut fakultet, kafedra va boʼlinmalarining xorijiy davlat hamda nodavlat va xalqaro tashkilotlar tomonidan taklif qilingan oʼquv- uslubiy dasturlarni mamlakatning ijtimoiy-iqtisodiy rivojlanish xususiyatlarini hisobga olib, amaliyotga joriy etish va ilmiy- tadqiqotlarni amalga oshirishga qaratilgan loyihalarda qatnashish yuzasidan umumiy faoliyatini muvofiqlashtiradi;

Xorijiy davlatlar olimlari, professor-oʼqituvchilari va mutaxassislarini institut taʼlim jarayoniga jalb etish hamda hamkorlikda oʼquv-uslubiy va ilmiy-tadqiqot ishlarni olib borishiga koʼmaklashadi;

Xorijiy safarlar Oʼzbekiston Respublikasi Prezidentining 2014 yil 5 martdagi «Mansabdor shaxslarning xorijiy mamlakatlarga chiqish tartibini takomillashtirish choralari toʼgʼrisida»gi PQ-2142-sonli Qarori, Oʼzbekiston Respublikasi Vazirlar Mahkamasining 2014 yil 6 fevraldagi «Oʼzbekiston Respublikasi fuqarolarining chet elga chiqishi tartibini takomillashtirish chora-tadbirlari toʼgʼrisida»gi 24-sonli Qarori va Oʼzbekiston Respublikasi Oliy va oʼrta maxsus taʼlim vazirligining tegishli xatlari asosida amalga oshiriladi;

Xalqaro hamkorlikning boshqa yoʼnalishlari boʼyicha faoliyatni tashkil etish yuzasidan takliflar kiritadi va amalga oshiradi.

Boʼlim oʼziga yuklatilgan vazifalarni bajarish maqsadida quyidagi funksiyalarni bajaradi:

Institutning xorijiy oliy taʼlim muassasalari, taʼlim markazlari bilan xalqaro hamkorligini oʼrnatilishida ishtirok etadi;

Institut professor-oʼqituvchilarining xorijiy davlatlar taʼlim muassasalari, markazlari, jamgʼarmalari, jumladan xalqaro tashkilot va jamgʼarmalar tomonidan eʼlon qilingan tanlovlarda ishtirok etishlarida yordam beradi;

Institutga tashrif buyurgan xorijiy davlatlar vakillari, professor-oʼqituvchilari va talabalar bilan davra suhbatlari va uchrashuvlarini tashkil etadi;
            </p>
        </div>
    </div>
</div>



{% endblock content %}




