{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Bo'limlar</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/bolimlar/bolim-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/iconmen.png" %}">
                </div>
                <div class="right">
                    <p>Yoshlar bilan ishlash, ma’naviyat va ma’rifat bo‘limi boshlig‘i</p>
                    <p><b>Xolbekova Mavluda Usmonovna</b></p>
                    <p><b>Qabul vaqti:</b> haftaning dushanba, chorshanba va juma kunlari soat 14:00 dan 16:00 gacha</p>
                    <p><b>Telefon:</b> (+998) 93-307-42-48</p>
                    <p><a href=" xolbekovamavluda@gmail.com" class="poshta" ><b> E-mail: </b> xolbekovamavluda@gmail.com</a> </p>
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp;Yoshlar bilan ishlash, ma’naviyat va ma’rifat bo‘limi</b>
                institut jamoasi, ayniqsa talaba-yoshlar o‘rtasida milliy g‘oya va kadrlar tayyorlash milliy dasturiga tayangan holda milliy va umumbashariy qadriyatlarga asoslangan demokratik tamoyillarni qaror toptirish orqali inson huquqlari va qadr-qimmatini ulug‘lashga, jismonan sog‘lom, aqlan yetuk, dunyoqarashi teran va mustaqil fikrlovchi komil insonni tarbiyalashga yo‘naltirilgan uzoq muddati, keng ko‘lamli ma’naviy-axloqiy tarbiya dasturini amalga oshiradi.

                Yoshlar bilan ishlash, ma’naviyat va ma’rifat bo‘limi  O‘zbekiston Respublikasining Konstitutsiyasi va qonunlari, O‘zbekiston Respublikasi Prezidenti farmon, qaror va farmoyishlari, O‘zbekiston Respublikasi Vazirlar Mahkamasi qarorlari, Oliy ta’lim, fan va innovatsiyalar vazirligi buyruqlari hamda institut ichki tartib-qoidasi va ushbu bo‘lim Nizomiga binoan faoliyat ko‘rsatadi.
                
                Тalabalarni milliy istiqlol g‘oyalariga sadoqat, ona diyorga mehr-muhabbat, ozod va obod Vatan, erkin va farovon hayot barpo etishdek ulug‘ va olijanob maqsadga e’tiqod, jasurlik va fidoiylik ruhida tarbiyalashga mo‘ljallangan ma’naviy va ma’rifiy tadbirlarni tashkil etadi, muvofiqlashtiradi va nazorat qiladi.
                <br>Yoshlar bilan ishlash, ma’naviyat va ma’rifat bo‘limi da 5 nafar xodim faoliyat olib boradi.<br>Yoshlar bilan ishlash, ma’naviyat va ma’rifat bo‘limi  boshligi<b> M.U.Xolbekova</b>
                <br><b>&nbsp;&nbsp;Yoshlar bilan ishlash, ma’naviyat va ma’rifat bo‘limining vazifalari:</b>
                – Oliy ta’lim, fan va innovatsiyalar vazirligining ma’naviy-ma’rifiy masalalar bo‘yicha qabul qilingan hujjatlari va ko‘rsatmalarini institut jamoasiga o‘z vaqtida yetkazadi va vazifalarning bajarilishini ta’minlaydi;

– fakultet dekanlarining yoshlar masalalari va ma’naviy-ma’rifiy ishlar bo‘yicha muovinlari va jamoatchilik kengashlari faoliyatini muvofiqlashtiradi va nazorat qiladi;

– talabalar turar joylarida ma’naviy-axloqiy va tarbiyaviy ishlarni tashkil etadi;

– Axborot resurs markazi ma’naviy-ma’rifiy hayotini nazorat qiladi;

– “Axborot guruhi” uchun yetarli shart sharoitlar yaratadi;

– Ustoz-murabbiylar kengashi faoliyatini takomillashtirish bo‘yicha taklif va tavsiyalar ishlab chiqadi;

– O‘zbekiston Yoshlar ittifoqi institut boshlang‘ich tashkiloti, xotin-qizlar kengashi hamda turli jamoatchilik tashkilotlari va tuzilmalari bilan yaqindan hamkorlik qiladi;

– ma’naviy-ma’rifiy maqsadlarda to‘garaklar, klub va yig‘inlar tashkil etadi, ularning faoliyatini muvofiqlashtiradi va nazorat qiladi;

– talaba-yoshlarni ma’naviyati yanada yuksaltirishga oid turli ko‘rik-tanlov, ma’naviy-ma’rifiy, madaniy tadbirlar tashkil etadi, faol yoshlarni rag‘batlantirish ishlarini yo‘lga qo‘yadi;

– institut ommaviy tadbirlarida, hashar va obodonchilik ishlarida institut jamoasi va talabalarning keng ishtirokini ta’minlaydi.

– mamlakatimizda amalga oshirilayotgan islohotlarni talaba-yoshlar orasida keng targ‘ib etadi;

– talaba-yoshlar orasida axloqiy, estetik, siyosiy, huquqiy, badiiy tarbiyani shakllantirish ishlarini yo‘lga qo‘yadi;

– milliy urf-odatlar, qadriyatlar targ‘ibotiga bag‘ishlangan anjumanlar, davra suhbatlari va uchrashuvlarni tashkil etadi;

– talabalarning ma’naviy va jismoniy kamolotini yuksaltirish ishlarini takomillashtirishga ko‘maklashadi;

– institutda ma’naviy-ma’rifiy va tarbiyaviy ishlarning ustuvor yo‘nalishlarini belgilaydi, bu borada zarur me’yoriy hujjatlarni ishlab chiqish va uni amalga oshirilishini ta’minlaydi;

– diniy ekstremizm, terrorizm, giyohvandlik va uyushgan jinoyatchilikka qarshi kurash borasida talaba-yoshlar orasida mafkuraviy immunitetni qaror toptirishni amalga oshiradi;

– yoshlarning musiqa, rassomchilik, adabiyot, teatr va san’atning boshqa turlariga qiziqishlarini oshiradi, iste’dodini yuzaga chiqarishga ko‘maklashish;

– yoshlarning sport sohasida qobiliyatini namoyon qilishlari uchun zarur sharoitlar yaratadi;

– yoshlar ma’naviyatini oshiradi, ular orasida kitobxonlik madaniyatini yuksaltirish ishlarini olib boradi;

– talaba-qizlarni kasb-hunar egallashlariga ko‘maklashish ishlarini tizimli tashkil etadi;

– Respublika Ma’naviyat va ma’rifat markazining shahar, tuman bo‘limlari hamda mamlakatimizda faoliyat olib borayotgan jamg‘armalar, jamoat tashkilotlari bilan hamkorlikda ma’naviy-ma’rifiy ishlarni takomillashtirishda faol ishtirok etishdan iborat.

 

Bo‘limning maqsadi:

Yoshlarni milliy va umuminsoniy qadriyatlariga sodiqlik ruhida tarbiyalash, ularning ruhiy-estetik dunyo qarashini kengaytirish, tafakkurini yuksaltirish, yoshlar dunyo qarashiga salbiy ta’sir ko‘rsatadigan har xil “ommaviy madaniyat” xurujlaridan avaylab-asrash, ularni bu yo‘llardan qaytarish, mustaqil O‘zbekistonning haqiqiy fidoyisi bo‘lib kamol topishini ta’minlashdan iborat.
                
            </p>
           
        </div>
    </div>
</div>



{% endblock content %}




