{% extends "base.html" %} {% load static %} {% block content %}

<div class="container block news">
  <div class="top-text">
    <div>
      <h3 class="news-h3">Bo'limlar</h3>
      <div class="line-b"></div>
    </div>
    <div class="line"></div>
  </div>
  <div class="row mt-4">
    <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
      <div class="card-box_left">
        {% include "rektorat/bolimlar/bolim-copy.html" %}
      </div>
    </div>
    <div class="block_right col col-xxl-9 col-xl-9 col-lg-9">
      <div class="__user_cards mb-3">
        <div class="left"><img src="{% static "Photos/ts2.JPG" %}"></div>
        <div class="right">
          <p>Taʼlim sifatini nazorat qilish bo‘limi boshlig‘i</p>
          <p><b>Qarshiboyev Sharof Egamnazarovich</b></p>
          <p><b>Telefon:</b> 0 (372) 226-44-70, (94) 199-65-85</p>
          <p>
            <a href="sharofjizpi@mail.ru" class="poshta"><b> E-mail: </b>sharofjizpi@mail.ru</a>
          </p>
        </div>
      </div><br><br>
      <div class="__user_cards mb-3">
        <div class="left"><img src="{% static "Photos/ts.JPG" %}"></div>
        <div class="right">
          <p>Taʼlim sifatini nazorat qilish bo‘limi bosh mutaxassisi </p>
          <p><b>Tovboyev Baxrom Xabibullayevich</b></p>
          <p><b>Telefon:</b> (88) 484-01-74</p>
          <p>
            <a href="sharofjizpi@mail.ru" class="poshta"><b> E-mail: </b>tovboyevbaxrom5@gmail.com</a>
          </p>
        </div>
      </div>
      <br><br>
      <div class="__user_cards mb-3">
        <div class="left"><img src="{% static "Photos/ts3.JPG" %}"></div>
        <div class="right">
          <p>Taʼlim sifatini nazorat qilish bo‘limi bosh mutaxassisi </p>
          <p><b>Xoshimova Shoira Safarovna</b></p>
          <p><b>Telefon:</b> (97)328-57-70</p>
          <p>
            <a href="sharofjizpi@mail.ru" class="poshta"><b> E-mail: </b>shoira.xoshimova@mail.ru</a>
          </p>
        </div>
      </div><br>
      <p>
        &nbsp;&nbsp;Jizzax politexnika instituti Ta’lim sifatini nazorat qilish bo‘limi
        O‘zbekiston Respublikasi Vazirlar Mahkamasining 2023 yil 10 fevraldagi
        2-son bayoni 6.3-bandi hamda Oliy ta’lim, fan va innovatsiyalar
        vazirining 2023-yil 27-martdagi “Davlat oliy ta’lim muassasalarida
        Ta’lim sifatini nazorat qilish bo‘limi faoliyatini takomillashtirish
        to‘g‘risida” 72-son buyrug‘iga muvofiq tashkil etilgan.
        <br /><b>&nbsp;&nbsp; UMUMIY QOIDALAR</b> <br />
        1. Bo‘limning asosiy maqsadi OTM talabalari bilimlarining davlat ta’lim
        standartlariga muvofiqligini o‘rganib borish, tahlil qilish, kadrlar
        tayyorlash sifati monitoringini yuritish, OTMni ichki attestatsiyadan
        o‘tkazishni tashkil etish va uning natijalari bo‘yicha ta’lim sifatiga
        salbiy ta’sir etuvchi omillarni aniqlash hamda ularni bartaraf etish va
        oldini olish choralarini ko‘rishdan iborat. <br>2. Bo‘lim o‘z faoliyatini
        O‘zbekiston Respublikasi Konstitutsiyasi, O‘zbekiston Respublikasining
        “Ta’lim to‘g‘risida”gi qonuni, Kadrlar tayyorlash milliy dasturi,
        O‘zbekiston Respublikasi Oliy Majlisining palatalari qarorlari,
        O‘zbekiston Respublikasi Prezidentining farmonlari, qarorlari va
        farmoyishlari, O‘zbekiston Respublikasi Vazirlar Mahkamasi qarorlari va
        farmoyishlari, OTM rektorining buyruqlari va qonuniy ko‘rsatmalariga,
        shuningdek Bo‘lim to‘g‘risidagi Nizomga muvofiq olib boradi. <br>3. Bo‘lim
        to‘g‘ridan-to‘g‘ri vazirlikning ta’lim muassasalari faoliyatini tashkil
        etish, litsenziyalash, ta’lim sifatini ta’minlash departamentiga
        hisobdar hisoblanadi. II. BO‘LIMNING ASOSIY VAZIFALARI VA FUNKSIYALARI<br>
        4. Bo‘limning asosiy vazifalari quyidagilardan iborat: ta’lim
        yo‘nalishlari va mutaxassisliklarning davlat ta’lim standartlari (DTS),
        malaka talablari, o‘quv rejalari va fan dasturlari bilan
        ta’minlanganligini tahlil etish; OTMda ta’lim jarayoni sifatini, uning
        o‘quv adabiyotlari va o‘quv-uslubiy materiallar bilan ta’minlanganlik
        darajasini o‘rganish; talabalar bilimini baholash jarayonlarida
        kuzatuvchi sifatida ishtirok etish; talabalar bilimini baholash
        jarayonlari va natijalarining xolisligi va shaffofligni o‘rganish;
        talabalar bilimini tanlanma asosida aniqlash uchun qo‘shimcha ravishda
        nazorat ishlarini o‘tkazish (mazkur nazorat natijasi talabaning
        o‘zlashtirish ko‘rsatkichida aks etmaydi), natijalarni tahlil qilish,
        ta’lim sifatiga ta’sir ko‘rsatgan omillarni aniqlash jarayonlarini
        tashkillashtirish; OTM dekanatlari tomonidan shakllantiriladigan dars
        jadvallarini optimallashtirishda ishtirok etish; Har bir fan bo‘yicha
        dars mashg‘ulotlarini tahlil qilish va OTM rektoriga ma’lumotlar berib
        borish; ta’labalar davomati va professor-o‘qituvchilarning darsga
        munosabatini monitoringini olib borish; baholash natijalari bo‘yicha
        tahliliy ma’lumotlar tayyorlash va ularning natijalari yuzasidan OTM
        kengashida hamda rektor yig‘ilishida hisobotlar berib borish;
        bitiruvchilarning bilim darajasini o‘rganish maqsadida yakuniy davlat
        attestatsiyasi komissiyalari hujjatlari bilan tanishish;
        tashkiliy-huquqiy va metodik ko‘rsatmalar asosida ta’lim va kadrlar
        tayyorlash sifati monitoringini olib borish va nazorat qilishni tashkil
        etish; OTMni ichki attestatsiyadan o‘tkazishni tashkil etish, natijalari
        bo‘yicha ta’lim sifatiga salbiy ta’sir etuvchi omillarni aniqlash,
        ma’lumotlarni OTM rektoriga taqdim etish; ta’lim sifatini belgilovchi
        ko‘rsatkichlarning holatini monitoring qilish, aniqlangan muammolar va
        kamchiliklar yuzasidan OTM rektoriga takliflar berish; ta’lim sifatini
        oshirish maqsadida professor-o‘qituvchilarning malakasini oshirish
        jarayonida zamonaviy usullar va uslublardan foydalanish samaradorligini
        tahlil qilish; OTMning tarkibiy tuzilmalarida (fakultet, kafedra,
        bo‘lim, markaz, akademik litsey) pedagog xodimlarning kasbiy malakasi
        holatini, shuningdek oliy o‘quv yurtidan keyingi ta’lim hamda malaka
        oshirish va qayta tayyorlash yo‘nalishlaridagi sifat darajasini aniqlash
        maqsadida ichki monitoringni o‘tkazish, tahliliy ma’lumotlarni
        tayyorlash, aniqlangan kamchilik va muammolarni bartaraf etish bo‘yicha
        OTM rahbariyatiga takliflar kiritish; OTM professor-o‘qituvchilari
        tayanch ma’lumotlarining tegishli dars beradigan fan(lar)iga mosligini
        tahlil qilish yoki ularning tegishli qayta tayyorlashdan o‘tganligini
        yoki mos ixtisoslik bo‘yicha ilmiy unvon, darajaga ega ekanligini
        o‘rganish va xulosalarni OTM rektoriga ma’lum qilish; ta’lim jarayoni
        OTM talabalari bilimlarining DTSga muvofiqligini o‘rganib borish,tahlil
        qilish; ta’lim sifatini oshirishga qaratilgan normativ-huquqiy hujjatlar
        ijrosini ta’minlash; kadrlar tayyorlash sifati monitoringini yuritish;
        OTMni ichki attestatsiyadan o‘tkazishni tashkil etish, natijalari
        bo‘yicha ta’lim sifatiga salbiy ta’sir etuvchi omillarni aniqlash,
        ma’lumotlarni OTM rektoriga taqdim etish; attestatsiya, ta’lim sifatini
        o‘rganish bilan bog‘liq jarayonlarda OTMda aniqlangan kamchiliklar va
        nuqsonlarni o‘z vaqtida bartaraf etilishi ustidan nazorat o‘rnatish;
        ta’lim sifatini belgilovchi ko‘rsatkichlarning holatini monitoring
        qilish va aniqlangan muammolar va kamchiliklar yuzasidan tegishli
        tarkibiy tuzilmalarga takliflar berish; ta’lim sifatini oshirish
        maqsadida professor-o‘qituvchilarning malakasini oshirish jarayonida
        zamonaviy usullar va uslublardan foydalanish samaradorligini tahlil
        qilish; OTMning tarkibiy tuzilmalarida (fakultet, kafedra, bo‘lim,
        markaz, akademik litsey) pedagog xodimlarning kasbiy malakasi holatini,
        shuningdek oliy o‘quv yurtidan keyingi ta’lim hamda malaka oshirish va
        qayta tayyorlash yo‘nalishlaridagi sifat darajasini aniqlash maqsadida
        ichki monitoringni o‘tkazish, tahliliy ma’lumotlarni tayyorlash,
        aniqlangan kamchilik va muammolarni bartaraf etish bo‘yicha OTM
        rahbariyatiga takliflar kiritish; OTM professor-o‘qituvchilari tayanch
        ma’lumotlarining tegishli dars beradigan fan(lar)iga mosligini tahlil
        qilish yoki ularning tegishli qayta tayyorlashdan o‘tganligini yoki mos
        ixtisoslik bo‘yicha ilmiy unvon, darajaga ega ekanligini o‘rganish va
        xulosalarni OTM rektoriga ma’lum qilish; OTMning o‘quv jarayoni,
        ilmiy-tadqiqot va ilmiy-uslubiy ishlar rejalarining bajarilishini
        monitoring qilish; ta’lim jarayoni moddiy-texnik bazasi holatini tahlil
        qilish, uni rivojlantirish va takomillashtirish bo‘yicha takliflar
        berish; OTMda talabalar amaliyotining ta’lim yo‘nalishlari va
        mutaxassisliklarni inobatga olingan holda tashkil etilganligini va uning
        samarasini nazorat qilish; talabalar bilimini baholash jarayonini tahlil
        qilish asosida reyting ballarining xolisligini, shaffofligini va sifat
        darajasini baholash; OTMdagi ijtimoiy muhit, kadrlar tayyorlash va
        ta’lim sifatini o‘rganish maqsadida doimiy ravishda talaba, ota-ona,
        professor-o‘qituvchi va kadrlar iste’molchilari o‘rtasida ijtimoiy
        so‘rovlar o‘tkazish; bo‘lim xodimlarining kasbiy mahoratini oshirish,
        O‘zbekiston Respublikasi Prezidentining “Iste’dod” jamg‘armasi yoki
        xalqaro loyihalar va OTM hisobidan rivojlangan xorijiy davlatlarning
        nufuzli o‘quv va ilmiy markazlari tajribasini o‘rganish va ularni ta’lim
        jarayoniga tadbiq etish; OTM reytingini xalqaro darajaga ko‘tarishga
        qaratilgan chora-tadbirlarni oliy ta’lim muassasasi rahbariyati bilan
        birgalikda ishlab chiqish va uni ijrosini ta’minlashda faol ishtirok
        etish; OTM tegishli tarkibiy tuzilmalari bilan hamkorlikda ta’lim
        sifatini oshirishga qaratilgan o‘quv seminarlari va treninglarni
        o‘tkazish; OTMda jamoatchi ekspertlar bazasini shakllantirish va ular
        bilan qo‘yilgan vazifalar doirasida seminar mashg‘ulotlarini muntazam
        ravishda o‘tkazib borish; O‘quv jarayoni bilan ishlab chiqarish
        o‘rtasidagi integratsion hamkorlik, innovatsion g‘oyalar, ishlanma va
        texnologiyalarning amaliy tatbig‘i masalalari monitoringini yuritish;
        OTM Kengashida, davra suhbatlari va anjumanlarda bo‘lim tomonidan ta’lim
        sifatini oshirishga oid amalga oshirilgan o‘rganish va monitoring
        natijalari to‘g‘risida ma’lumotlar berib borish; Ta’lim sifati holatini
        o‘rganish natijalariga asoslanib tegishli takliflarni OTM rahbariyatiga
        taqdim etish.<br> 5. Bo‘lim o‘ziga yuklatilgan vazifalarga muvofiq quyidagi
        funksiyalarni amalga oshiradi: OTMda ta’lim sifatini DTS va malaka
        talablariga muvofiqligini ta’minlash, o‘quv jarayoni samaradorligini
        oshirish maqsadida tizimli nazoratni tashkil etish bo‘yicha faoliyatni
        va chora-tadbirlarni amalga oshiradi; asosiy faoliyatini belgilangan
        mezonlar asosida ta’lim sifatini aniqlash, uni amalga oshirish
        mexanizmini ishlab chiqish va amaliyotga joriy etish yo‘nalishlarini
        belgilab berishga va bu jarayonni muvofiqlashtirishga qaratadi; ta’lim
        yo‘nalishi va mutaxassisliklarning normativ-huquqiy hujjatlar bilan
        ta’minlanganligini o‘rganadi; talabalarning darslik va o‘quv
        qo‘llanmalari (shu jumladan, elektron darslik va qo‘llanmalar) bilan
        ta’minlanganlik darajasini va zamonaviy talablarga mosligini ta’lim
        yo‘nalishlari va mutaxassisliklar hamda tillar kesimida tahlil qiladi;
        OTM professor-o‘qituvchilari tayanch ma’lumotlarining tegishli dars
        beradigan fan(lar)iga mosligini tahlil qiladi yoki ularning tegishli
        qayta tayyorlashdan o‘tganligini yoki mos ixtisoslik bo‘yicha ilmiy
        unvon, darajaga ega ekanligini o‘rganadi va xulosalarni OTM rektoriga
        ma’lum qiladi; o‘quv jarayonida ilg‘or pedagogik va axborot
        kommunikatsiya texnologiyalaridan foydalanish holatini o‘rganadi va
        ularni takomillashtirish bo‘yicha tegishli takliflarni beradi;
        ilmiy-tadqiqot ishlarining iste’molchilar talablaridan kelib chiqqan
        holda olib borilayotganligini, OTM professor-o‘qituvchilari va
        talabalarining ilmiy-tadqiqot ishlaridagi (fundamental, amaliy,
        innovatsion va h.k. tadqiqotlar kesimida) ishtirokini, ilmiy ishlarning
        ishlab chiqarishga tatbig‘ini moliyalashtirish manbalari holatlari
        bo‘yicha o‘rganadi; OTM tarkibiy tuzilmalarining zamonaviy moddiy-texnik
        ta’minoti, o‘quv-laboratoriya jihozlari, kompyuterlar bilan
        ta’minlanganligi va ulardan samarali foydalanilish darajasini tahlil
        qiladi; ta’limning ishlab chiqarish va ilm-fan bilan integratsiyasini,
        OTMning kadrlar tayyorlash va hamkorlikda ilmiy texnologik yechimlar
        yaratishda ishlab chiqarish salohiyatidan foydalanish darajasini
        (samarali yoki samarasizligini) o‘rganadi; o‘z sohasi bo‘yicha ilg‘or
        texnologiyalarning rivojlanishiga qarab ta’lim jarayonlarini amalga
        oshirish uchun pedagog kadrlarning bevosita ishlab chiqarishda malakasi
        oshirilishini (muntazam yoki muntazam emasligi) hamda ta’lim
        yo‘nalishlari bo‘yicha iste’molchilar bozorining o‘rganilganligini
        (marketing xizmati asosida) tahlil qiladi; ta’lim jarayoniga
        ilmiy-tadqiqot institutlari, ishlab chiqarish korxona va tashkilotlari
        hamda xorijiy davlatlar malakali mutaxassislarining jalb etilishini
        tahlil qiladi; talabalar bajarayotgan bitiruv malakaviy ishlari va
        magistrlik dissertatsiyasi mavzularining dolzarbligi, sifati va ularni
        ishlab chiqarishga qay darajada joriy qilinganligini o‘rganadi; OTMning
        tayanch doktorantura, doktorantura va mustaqil tadqiqotchi instituti
        orqali oliy malakali kadrlar tayyorlash faoliyatini tahlil qiladi;
        OTMning o‘rta maxsus, kasb-hunar ta’limi muassasalari bilan hamkorlik
        faoliyatini tahlil qiladi; OTMda ma’naviy-ma’rifiy ishlar rejasi,
        mazmuni va uning bajarilishini (bayonnomalar asosida),
        professor-o‘qituvchilarning tarbiyaviy ishlarga jalb etilganligini,
        ta’lim muassasasidagi ma’naviy-ijtimoiy muhitni, pedagog xodimlarning
        axloqiy sifatlarini (so‘rovnoma asosida) o‘rganadi; OTM axborot-resurs
        markazi fondining zarur adabiyotlar bilan ta’minlanganligini, ulardan
        foydalanayotgan professor-o‘qituvchilar va talabalar salmog‘ini
        aniqlaydi; bitiruvchilarning ta’limning keyingi bosqichiga o‘qishga
        kirishi yoki ishga joylashishlarini tahlil qiladi; ota-onalar va ish
        beruvchilar hamda boshqa manfaatdor shaxslarning homiylik kengashi
        faoliyatidagi va ta’lim jarayonidagi ishtirokini tahlil etadi;
        professor-o‘qituvchilar reytingini aniqlash bo‘yicha takliflar kiritadi;
        talabalarning mustaqil ta’lim samaradorligini davriy ravishda monitoring
        qiladi; OTM rahbariyati, professor-o‘qituvchilar, xodimlar va talabalar
        tomonidan xorijiy tillarni o‘rganishning samaradorligi bo‘yicha
        monitoring yuritadi; talabalar bilimini baholash bo‘yicha nazorat
        natijalarini tanlama tahlil qilish asosida reyting ballarining
        xolisligini va shaffofligini o‘rganadi va takliflar tayyorlaydi; yakuniy
        davlat attestatsiyalarini amaldagi normativ-huquqiy hujjatlarga rioya
        etilgan holda o‘tkazilganligini va uning natijalarini tahlil qiladi;
        OTMning tarkibiy tuzilmalarida (fakultet, kafedra, bo‘lim, markaz,
        akademik litsey) pedagog xodimlarning kasbiy malakasi holatini,
        shuningdek oliy o‘quv yurtidan keyingi ta’lim hamda malaka oshirish va
        qayta tayyorlash yo‘nalishlaridagi sifat darajasini aniqlash maqsadida
        ichki monitoringni o‘tkazadi, tahliliy ma’lumotlarni tayyorlaydi, ularni
        OTM rektoriga o‘rnatilgan tartibda taqdim qiladi; OTMda kadrlar
        tayyorlash sifati va talabalar bilim darajasini oshirish maqsadida
        doimiy ravishda talaba, ota-ona, professor-o‘qituvchi va kadrlar
        iste’molchilari o‘rtasida ijtimoiy so‘rovlar o‘tkazadi; OTM faoliyatini
        xalqaro ta’lim sifatini aniqlash indikatorlari bilan taqqoslash asosida
        uning jahon reytingida munosib o‘rin egallashi uchun tegishli tarkibiy
        tuzilmalar bilan chora-tadbirlarni ishlab chiqadi; OTMda xalqaro
        hamkorlikning yo‘lga qo‘yilganligini, xorijiy mamlakatlar bilan
        shartnoma asosida talaba, tayanch doktorant, doktorant, ilmiy xodimlar
        almashinuvini, fan sohasida xalqaro ilmiy tadbirlarning tashkil
        etilishini (seminar, anjuman, simpozium va h.k.), chet el grantlari
        asosida bajarilayotgan ilmiy-tadqiqot ishlarini, xorijiy
        investitsiyalarning jalb qilinishini tahlil qiladi va bu sohaning
        rivojlanishiga takliflar beradi va amaliy yordam ko‘rsatadi; bo‘lim
        xodimlarining kasbiy mahoratini oshirish maqsadida O‘zbekiston
        Respublikasi Prezidentining “Iste’dod” jamg‘armasi yoki xalqaro
        loyihalar va OTM hisobidan rivojlangan xorijiy davlatlarning nufuzli
        o‘quv va ilmiy markazlari tajribasini o‘rganadi va ularni ta’lim
        jarayoniga tatbiq etadi; OTM reytingini xalqaro darajaga ko‘tarish uchun
        tajribali professor-o‘qituvchilar va yosh mutaxassislarni chet el
        tajribasini o‘rganish maqsadida xizmat safariga yuborish va ularning
        natijasini ta’lim jarayoniga tadbiq etishda OTM rahbariyati bilan
        hamkorlikda ishlarni tashkil etadi; respublikada va xorijiy
        davlatlardagi ta’lim sifatini nazorat qilishga oid yangiliklarni doimiy
        o‘rganib boradi va ularni ta’lim jarayoniga tadbiq etish yuzasidan
        tavsiyalar ishlab chiqadi; OTMda ta’lim sifatini oshirish bo‘yicha olib
        borilgan o‘rganishlar natijalari asosidagi takliflarni universitet
        rahbariyatiga taqdim etadi. III. BO‘LIMNING HUQUQ VA MAJBURIYATLARI <br> 6.
        Bo‘lim quyidagi huquqlarga ega: Bo‘lim zimmasiga yuklatilgan vazifalar
        va funksiyalarni bajarish uchun OTM tarkibiy tuzilmalaridan zarur
        ma’lumotlar va materiallarni olish; OTM va uning tarkibiy tuzilmalarida
        talabalar, tinglovchilar va o‘quvchilarni o‘qitish sifatini, ta’limning
        tegishli turlari bo‘yicha ishchi o‘quv rejalari va fanlarning ishchi
        dasturlarini DTSlariga, davlat talablariga, malaka talablariga va o‘quv
        reja hamda fanlarning namunaviy dasturlariga muvofiqligini belgilangan
        tartibda o‘rganish; OTMda attestatsiya jarayonida aniqlangan
        kamchiliklarni bartaraf etish bo‘yicha chora-tadbirlar rejasini ishlab
        chiqishda ishtirok etish va uning o‘z vaqtida bajarilishini nazoratga
        olish; OTMda ta’lim sifatiga oid qabul qilingan buyruqlar, farmoyishlar
        va boshqa qarorlarning yetarli darajada ijrosi ta’minlanmaganligi
        aniqlanganda, mas’ullarga nisbatan tegishli choralar ko‘rish uchun
        rahbariyatga takliflar kiritish; OTMda ijtimoiy muhitni, kadrlar
        tayyorlash va ta’lim sifatini o‘rganish maqsadida doimiy ravishda
        talaba, ota-ona, professor-o‘qituvchi va kadrlar iste’molchilari
        o‘rtasida ijtimoiy so‘rovlar o‘tkazilishini tashkil qilish; ta’lim va
        kadrlar tayyorlash sifati muammolari bo‘yicha xalqaro konferensiyalar,
        anjumanlar, simpoziumlar, seminar va o‘quvlarda ishtirok etish;
        belgilangan tartibda OTM Kengashiga saylash va saylanish; O‘zbekiston
        Respublikasi qonunchiligida belgilangan boshqa huquqlardan foydalanish.<br>
        7. Bo‘lim quyidagi majburiyatlarga ega: Xizmat vazifalarini vijdonan
        bajaradi va o‘z sha’niga dog‘ tushirmaydi; O‘zbekiston Respublikasi
        Vazirlar Mahkamasining 1999 yil12 yanvardagi 12-sonli “Ijro intizomini
        mustahkamlash chora-tadbirlari to‘g‘risida”gi qaroriga muvofiq ijro
        intizomiga, o‘quv va mehnat intizomiga, mehnatni muhofaza qilish,
        xavfsizlik texnikasi va ishlab chiqarish sanitariyasiga doir qoidalar,
        OTMning Ustavi, Ichki tartib hamda Odob-ahloq qoidalariga rioya etadi.
        IV. BO‘LIM ISHINI TASHKIL ETISH <br> 8. Bo‘lim respublikadagi barcha OTM
        tarkibida ularning belgilangan shtatlari doirasida OTM rektori
        buyrug‘iga muvofiq tashkil etiladi. Bo‘lim yuridik shaxs maqomiga ega
        emas.<br> 9. Bo‘lim 3 nafar xodim: bo‘lim boshlig‘i va ikki nafar bosh
        mutaxassisdan iborat. <br>10. Bo‘lim xodimlarining oylik ish haqi
        O‘zbekiston Respublikasi Vazirlar Mahkamasining 2008 yil 1 avgustdagi
        Respublika oliy ta’lim muassasalari xodimlari mehnatiga haq to‘lashning
        takomillashtirilgan tizimini tasdiqlash to‘g‘risida”gi qaroriga
        (O‘zbekiston Respublikasi QT, 2008 y., 8-son,40-modda; O‘zbekiston
        Respublikasi qonun hujjatlari to‘plami, 2017 y., 33-son, 852-modda)
        muvofiq belgilanadi va OTM tomonidan to‘lanadi. Bo‘lim xodimlariga OTM
        xodimlari lavozimlari uchun belgilangan moddiy rag‘batlantirish
        shartlari qo‘llaniladi.<br> 11. Bo‘lim faoliyatiga rahbarlik qilish bo‘lim
        boshlig‘i tomonidan amalga oshiriladi. Bo‘lim boshlig‘ining lavozimi,
        dekan lavozimiga tenglashtiriladi. Bo‘lim boshlig‘i bo‘lmagan (ta’til,
        betoblik, xizmat safari) davrda uning vazifasini bajarish bosh
        mutaxassisga yuklatiladi. <br> 12. Bo‘limga ta’lim sifatini nazorat qilish
        sohasida amaliy-metodik ish tajribasiga ega bo‘lgan malakali
        mutaxassislar, shuningdek, ilmiy-pedagogik stajga ega bo‘lgan shaxslar
        tarkibidan malakaviy talablarga muvofiq belgilangan tartibda ishga qabul
        qilinadi.

        
    </div>
  </div>
</div>

{% endblock content %}
