{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Bo'limlar</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/bolimlar/bolim-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/iconmen.png" %}">
                </div>
                <div class="right">
                    <p>Buxgalteriya bo’limi boshlig’i</p>
                    <p><b>Akramov Alisher Abrorovich</b></p>
                    <p><b>Qabul vaqti:</b> haftaning seshanba, chorshanba va juma kunlari soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b>  0(372) 226-51-25</p>
                    <p><a href="dgpi-info@edu.uz" class="poshta" ><b> E-mail: </b>dgpi-info@edu.uz</a> </p>
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp;Institutning buxgalteriyasi quyidagi vazifalarni bajaradi:</b><br>
                • Buxgalteriya, tashqi va ichki foydalanuvchilarga institutning molyaviy-xo’jalik faoliyati va moliyaviy ahvoli to’g’risida to’liq va ishonchli ma’lumotlarni yetkazish uchun institut buxgalteriya hisobini tashkil etadi va yuritadi;<br>

• Institut faoliyatinining moliyaviy ahvoli va natijalarini baholash, tahlil qilish, loyihalash va nazorat qilish uchun o’z vaqtida ma’lumotlarni olish imkoniyatini beruvchi, institut faoliyatining xo’jalik yuritish shartlari, strukturasi, tarmoqqa taaluqlilik darajasi xususiyatlaridan va boshqa turdagi imkoniyatlaridan kelib chiqib buxgalteriya hisobi to’g’risidagi me’yoriy hujjatlarga mos ravishda hisobga olish siyosatini shakllantiradi.<br>

• Buxgalteriya ichki hisobotlari shakllarini, xo’jalik operatsiyalarini rasmiylashtirish uchun qo’llaniladigan birlamchi hisob xujjatlari shakllarini, statistik va analitik hisoblardan iborat buxgalteriya hisobi ish rejasini tayyorlaydi va tasdiqlatadi;<br>

• Inventarizatsiya o’tkazish va mulkni baholash tartibini, mulkning mavjudligi, uning holati va bahosi to’g’risidagi hujjatlarni yuritishni ta’minlaydi;<br>

• Hujjat aylanish tartibiga rioya etgan holda xo’jalik operatsiyalarini rasmiylashtirishning to’g’riligini ichki nazorat qilish tizimini tashkil etadi;<br>

• Tashqi va ichki foydalanuvchilarga zarur bo’lgan buxgalteriya ma’lumotlarini taqdim etishni ta’minlovchi, buxgalteriya, soliq, statistik va boshqaruv hisobi talablariga mos keluvchi buxgalteriya hisobi va hisobotlari axborot tizimini shakllantiradi;<br>

• Zamonaviy axborot texnologiyalarini, hisobga olish va nazorat qilishning progressiv shakllari va usullarini qo’llagan holda buxgalteriya hisobi reestrlarini yuritish bo’yicha ishlarni olib boradi;<br>

• Institut faoliyatining moliyaviy natijalari, moliyaviy, hisob va kredit operatsiyalari, moliyaviy mablag’lari, material-ishlab chiqarish zaxiralari, asosiy vositalar, majburiyatlar va mulkni hisobini yuritish bo’yicha ishlarni amalga oshiradi;<br>

<br><br><b>&nbsp;&nbsp;Buxgalteriya quyidagilarni ta’minlaydi:</b><br>

• Buxgalteriya hisob raqamlarida xo’jalik operatsiyalarini, vositalar harakatini, daromad va harajatlarni shakllantirishni va majburiyatlarni bajarishni aniq va o’z vaqtida aks ettirish;<br>

• Soliqlar va yig’imlarni respublika, mintaqaviy va mahalliy budjetlarga, sug’urta badallarini davlat budjetdan tashqari ijtimoiy fondlarga, to’lovlarni kredit tashkilotlariga, mablag’larni moliyalashtirish ob’ektlariga, mablag’larni ssudalar bo’yicha qarzdorlikni yopish uchun o’z vaqtida o’tkazib berish;<br>

• Tashkilot tomonidan mehnat uchun haq to’lash fondining sarflanishini va ishchilarga haq to’lash hisoblarining to’g’riligini, inventarizatsiya o’tkazishni, buxgalteriya hisobi va hisobotlar yuritish tartibini hamda qonuniy taftishlar o’tkazilishini nazorat qilish;<br>

• Tashkilot ichki auditida buxgalteriya hisobi va hisobotlaridagi ma’lumotlar asosida moliyaviy tahlil o’tkazishda va soliq siyosatini shakllantirishda ishtirok etish;<br>

• Institutning moliyaviy faoliyatini natijalarini yaxshilashga yo’naltirilgan takliflarni ishlab chiqish, moliyaviy yo’qotishlarni va ishlab chiqarishga qaratilmagan harajatlarni yo’q qilish;<br>

• Moliyaviy va g’azna tartib qoidalariga rioya etishni ta’minlash, yetishmovchiliklarning, debitorlik qarzdorliklarning va boshqa yo’qotishlarning buxgalteriya hisobi hisobotlaridan chiqarishni qonuniyligini ta’minlash bo’yicha ishlar olib borish.<br>
                
            </p>
           
        </div>
    </div>
</div>



{% endblock content %}




