{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Bo'limlar</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/bolimlar/bolim-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="./samandar.jpg">
                </div>
                <div class="right">
                    <p>Ish yuritish bo’linmasi va arxiv bo’limi bo’lim boshlig’i</p>
                    <p><b>Musaboyeva Ibodat Baxtiyorovna</b></p>
                    <p><b>Qabul vaqti:</b>Chorshanba 14:00 – 16:00</p>
                    <p><b>Telefon:</b> (+99872) 226-56-11</p>
                    <p><a href=" dgpi-info@edu.uz" class="poshta" ><b> E-mail: </b>dgpi-info@edu.uz</a> </p>
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp;Ish yuritish bo’linmasi va arxiv faoliyati haqida ma’lumot</b>
                Ish yuritish bo’linmasi institut tarkibiy tuzilmasiga kiradi va bevosita rektor boshqaruvida ish yuritadi. Ish yuritish bo’linmasi va arxivning zimmasiga quyidagi asosiy vazifalar kiradi:

                Institutning faoliyatiga tegishli ichki, tashqi tashkiliy buyruqlarni, farmoyishlarni ro’yxatdan o’tkazish, ko’paytirish, tarkibiy bo’limlarga yetkazish, saqlash;
                Institut rahbarlari (rektor va prorektorlar) nomiga yuborilgan xizmat yozishmalari, ma’lumot-axborot hujjatlari, olinma va jo’natma xatlar hamda xat-xabarlar (korrespondensiya)ni ro’yxatdan o’tkazish, tegishli bo’limlarga tarqatish, javoblarni adresatlarga jo’natish;
                Hujjatlardan talablar bo’yicha kerakli ko’chirmalar berish, muddatlari tugagan xujjatlarni dalolatnomalar asosida yo’q qilish singari ishlarni olib boradi.
                Arxiv institut ish yuritish bo’linmasi tuzilmasiga kiradi va o’quv yillariga tasdiqlangan tashkiliy tuzilmasiga muvofiq bevosita rektor boshqaruvida bo’ladi. Arxivni rektor buyrug’i bilan qabul qilingan arxiv mudiri boshqaradi. Arxiv tarkibiga tasdiqlangan shtat jadvaliga muvofiq arxiv mudiri, arxivarius lavozimlari kiradi. Arxiv mudiri va uning tarkibidagi lavozimlar rektor tomonidan alohida tasdiqlangan lavozim yo’riqnomalari asosida ish olib boradi.
                <br><b>&nbsp;&nbsp;Arxivning zimmasiga quyidagi asosiy vazifalar kiradi:</b>
                JizPI arxivi tashkilot hujjatlarini qabul qilish, hisobga olish, saralash, ulardan foydalanish va davlat tomonidan saqlashga topshirish uchun tayyorlashdan iborat bo’ladi.
Arxivga qabul qilingan yig’majildlar va hujjatlarga fond tartib raqamlarini beradi.;
Arxivda saqlanayotgan hujjatlarning ilmiy va amaliy qimmatini aniqlash uchun ekspertiza qilishni tashkil etadi, ish yuritish jarayonida hujjatlar qimmatini ekspertiza qilishda uslubiy yordam ko’rsatadi;
Hujjatlarni davlat tomonidan saqlashga topshirish uchun tayyorlaydi va O’zbekiston Respublikasi Milliy arxiv fondi to’g’risidagi Nizomda belgilangan muddatlarda topshiradi.
Hujjatlardan foydalanishni tashkil qiladi va belgilangan tartibda ham manfaatdor tashkilotlarga, ham fuqarolarga ma’lumotnomalar, hujjatlardan ko’chirmalar va nusxalar beradi.
Tashkilotning o’ziga xosligini hisobga olgan holda arxiv ishi va ish yuritishda hujjatlar bilan ishlash bo’yicha me’yoriy-uslubiy hujjatlar (yo’riqnoma, tavsiya , nizom, saqlash muddatlari ko’rsatilgan hujjatlar ro’yxati va boshqalar)ni ishlab chiqishda ishtirok etadi, ularni O’zbekiston Respublikasi Vazirlar Mahkamasi huzuridagi “O’zarxiv” agentligi organlari va muassasalari bilan kelishib oladi; (O’R VM 18.03.2004y. 131-son Qarori tahriridagi band).


            </p>
            
        </div>
    </div>
</div>



{% endblock content %}




