{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Rektorat</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/rektorat-copy.html" %}

            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/san.jpg" %}">
                </div>
                <div class="right">
                    <p>Yoshlar masalalari va ma’naviy-ma’rifiy ishlar bo‘yicha birinchi prorektor</p>
                    <p>f.- m.f.n, dotsent , <b>Eshbekova Sanobar Omonliqovna</b></p>
                    <p><b>Qabul vaqti:</b> Seshanba 15:00 – 17:00</p>
                    <p><b>Telefon:</b>(8 372) 226-57-17</p>
                    <p><a href="sanobar1931@mail.ru" class="poshta" ><b> E-mail: </b>sanobar1931@mail.ru</a> </p>  
                </div>
            </div>
            <p>
                
                <br><b>&nbsp;&nbsp;  Institut Yoshlar masalalari va ma’naviy-ma’rifiy ishlar bo‘yicha birinchi prorektor lavozim vazifalari:</b>
              
-O‘zbekiston Respublikasi qonunlari, Prezident farmonlari va farmoyishlari, Oliy Majlis va Vazirlar Mahkamasining ta’lim va kadrlar tayyorlash sohasidagi qarorlarini amalga oshirishni tashkil etish;
-Davlat ta’lim standartlari asosida ma’naviy-tarbiya ishlarini tashkil etish va malakali kadrlar tayyorlashni ta’minlash;
-Mutasaddi yuqori tashkilotlarning buyruqlarini, farmoyishlari va ko‘rsatmalarini, ma’naviy-ma’rifiy jarayonlariga oid masalalar bo‘yicha institut Ilmiy kengashi qarorlari va rektor buyruqlarining bajarilishini tashkil qilish;
-Faoliyat yo‘nalishi bo‘yicha takliflar tayyorlash va ishlarni tashkil etish;
-Ma’naviy-ma’rifiy ishlar bo‘yicha bo‘limlar, fakultet va kafedralar ish rejalarini tasdiqlash va ularning bajarilishini nazorat qilish;
-Ijro intizomini buzgan xodimlarga nisbatan chora ko‘rish, ular bilan shartnomani bekor qilish bo‘yicha takliflar tayyorlash;
-Kafedralar, fakultet va bo‘limlarning yillik faoliyati hisobotlarini o‘tkazish, tahlil qilish va xulosalar chiqarish, professor-o‘qituvchilarning ma’naviy-ma’rifiy faoliyatini zamonaviy usullarda baholashni amalga oshirish;
-Oliy ta’lim muassasalari bilan ma’naviy-ma’rifiy yo‘nalishda doimiy hamkorlikni amalga oshirish, konferensiya, seminarlarda professor-o‘qituvchilarning faol ishtirokini ta’minlash, mahalliy hokimiyatlar bilan hamkorlikda ishlash;
Bilishi kerak:
-O‘zbekiston Respublikasi Qonunlari, O‘zbekiston Respublikasi Mehnat kodeksi hamda Vazirlik buyruqlarini, institutda o‘quv, ilmiy, moliyaviy va tarbiya jarayonini belgilangan normativ hujjatlarni bilishi.
Malaka talablari:
-Institutda boshqaruv lavozimida zarur bo‘lgan kasbiy va tashkilotchilik qobiliyatlariga, ta’lim sohasida rahbarlik ish tajribasi va stajiga, faoliyat turi va vakolatlari doirasida tegishli bilim va ko‘nikmalarga;
-Namunaviy shaxsiy fazilatlarga-intellekt, madaniyatli, yetakchilik, ijodiy qobiliyatlar, xushmuomalalik, tashkilotchilik, tashabbuskorlik va tadbirkorlik qobiliyatlariga ega bo‘lish, mas’uliyat hissi, mustaqil qaror qabul qilish va ish tutish, qat’iy harakat qilish, institutning strategik maqsadlariga erishishni ta’minlash xususiyatlariga;
-Institutda bakalavr va magistrlar tayyorlash yo‘nalishlari va mutaxassisliklaridan biri bo‘yicha fan doktori yoki nomzodi ilmiy darajasiga, professor yoki dotsent ilmiy unvoniga ega bo‘lishi zarur.
-Institutning tegishli boshqaruv bo‘g‘inlarida-kafedra mudiri, fakultet dekani yoki o‘rinbosari kabi rahbarlik lavozimlarida kamida 7 yillik samarali ish stajiga ega bo‘lishi zarur.

         </p>
         <br><b>&nbsp;&nbsp;  Mehnat faoliyati</b>
            <pre>
                1992-1997 yy.     Toshkent davlat universiteti talabasi

                1994-1996 yy.     Toshkent shahri S.Rahimov tumani 28-maktab yoshlar bilan ishlash yetakchisi
                    
                1996-1997 yy.     Toshkent shahar Shayxontohur tumani 115-maktab o‘qituvchisi
                    
                1997-1998 yy.     Jizzax politexnika instituti Elektroenergetika va fizika kafedrasi laboratoriyasi mudiri
                    
                1998-2005 yy.    Jizzax politexnika instituti Elektroenergetika va fizika kafedrasi assistenti
                    
                2005-2006 yy.   Jizzax politexnika instituti Sanoat texnologiyasi va qurilish fakulteti dekani muovini
                    
                2007-2010 yy.    Jizzax politexnika instituti Elektroenergetika va fizika kafedrasi katta o‘qituvchisi
                    
                2010-2014 yy.    Jizzax politexnika instituti Elektroenergetika kafedrasi katta o‘qituvchisi
                    
                2014-2020 yy.    Jizzax politexnika instituti monitoring va ichki nazorat bo‘limi boshlig‘i
                    
                2020-2021 yy.    Jizzax politexnika institutining Yoshlar bilan ishlash bo‘yicha prorektori
                    
                2021-2022 yy.    Yoshlar masalalari va ma’naviy-ma’rifiy ishlar bo‘yicha prorektor
                  
                2022- y.h.v.     Yoshlar  masalalari va ma’naviy-ma’rifiy ishlar bo‘yicha birinchi  prorektor
            </pre>
        </div>
    </div>
</div>



{% endblock content %}




