{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Rektorat</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/rektorat-copy.html" %}

            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="./samandar.jpg">
                </div>
                <div class="right">
                    <p>Yoshlar masalalari va ma’naviy-ma’rifiy ishlar bo‘yicha birinchi prorektor</p>
                    <p>f.- m.f.n, dotsent , <b>Eshbekova Sanobar Omonliqovna</b></p>
                    <p><b>Qabul vaqti:</b> Seshanba 15:00 – 17:00</p>
                    <p><b>Telefon:</b>(8 372) 226-57-17</p>
                    <p><a href="sanobar1931@mail.ru" class="poshta" ><b> E-mail: </b>sanobar1931@mail.ru</a> </p>  
                </div>
            </div>
            <p>
                
                <br><b>&nbsp;&nbsp;MEHNAT FAOLIYATI</b>
            </p>
            <pre>
                1992-1997 yy.     Toshkent davlat universiteti talabasi

                1994-1996 yy.     Toshkent shahri S.Rahimov tumani 28-maktab yoshlar bilan ishlash yetakchisi
                
                1996-1997 yy.     Toshkent shahar Shayxontohur tumani 115-maktab o‘qituvchisi
                
                1997-1998 yy.     Jizzax politexnika instituti Elektroenergetika va fizika kafedrasi laboratoriyasi mudiri
                
                1998-2005 yy.    Jizzax politexnika instituti Elektroenergetika va fizika kafedrasi assistenti
                
                2005-2006 yy.   Jizzax politexnika instituti Sanoat texnologiyasi va qurilish fakulteti dekani muovini
                
                2007-2010 yy.    Jizzax politexnika instituti Elektroenergetika va fizika kafedrasi katta o‘qituvchisi
                
                2010-2014 yy.    Jizzax politexnika instituti Elektroenergetika kafedrasi katta o‘qituvchisi
                
                2014-2020 yy.    Jizzax politexnika instituti monitoring va ichki nazorat bo‘limi boshlig‘i
                
                2020-2021 yy.    Jizzax politexnika institutining Yoshlar bilan ishlash bo‘yicha prorektori
                
                2021-2022 yy.    Yoshlar masalalari va ma’naviy-ma’rifiy ishlar bo‘yicha prorektor
                
                2022- y.h.v.        Yoshlar  masalalari va ma’naviy-ma’rifiy ishlar bo‘yicha birinchi  prorektor
            </pre>
        </div>
    </div>
</div>



{% endblock content %}




