{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Rektorat</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/rektorat-copy.html" %}

            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/rector.jpg" %}">
                </div>
                <div class="right">
                    <p>Jizzax politexnika instituti rektori</p>
                    <p><b>Usmankulov Alisher Kadirkulovich</b></p>
                    <p><b>Qabul vaqti:</b>  Juma 15:00 – 17:00</p>
                    <p><b>Telefon:</b>  (+998 72) 226-46-05</p>
                    <p><a href=" usmankulov1968y@mail.ru" class="poshta" ><b> E-mail: </b> usmankulov1968y@mail.ru</a> </p>
                </div>
            </div>
            <p>
                Usmankulov Alisher Kadirkulovich 2016 yilning 28 sentabridan Jizzax politexnika instituti rektori lavozimida ishlab kelmoqda. Texnika fanlari doktori, dotsent.  Umumiy mehnat faoliyati 26 yil.

Usmankulov Alisher Kadirkulovich 1985 yili Toshkent to‘qimachilik va yengil sanoat institutining “Paxtani dastlabki ishlash” ixtisosligi bo‘yicha o‘qishga kirib, 1992 yilda shu institutni imtiyozli diplom bilan tugatdi. 1986-1988 yillari Armiya Safida xizmat qildi.

1992 yildan boshlangan pedagogik faoliyati davomida TTESI “Paxtani dastlabki ishlash” kafedrasida laboratoriya mudiri, assistent va dotsent lavozimlarida ishladi. 1999-2002 yillari TTESI “Paxta sanoati texnologiyasi va mexanika” fakultetining ma’naviy-ma’rifiy ishlari bo‘yicha dekan muovini, 2002-2006 yillari TTESI marketing bo‘limi boshlig‘i, 2007-2008 yillari TTESI “Paxtani dastlabki ishlash” kafedrasi mudiri, 2008 yildan TTESI “Paxta sanoati texnologiyasi” fakulteti dekani va 2016 yilning 4 aprelidan 28 sentyabrigacha TTESI moliya va iqtisod ishlari prorektori lavozimida ishlab keldi.

2002 yili “Повышение эффективности процесса сушки хлопка-сырца в барабанной сушилке” mavzusida nomzodlik dissertatsiyasini, 2016 yilning 26 noyabrida “Создание высокопроизводительной хлопко-сушильной установки и технологии на основе интенсификации тепло-массообменных процессов” mavzusida doktorlik dissertatsiyasi ishini muvaffaqiyatli himoya qildi.

A.Usmankulov tomonidan 130 dan ortiq ilmiy ishlari xalqaro va davlatimiz ilmiy jurnallarida chop etildi va 15 dan ortiq patent va ixtirolar soxibi, 3 ta monografiya va 2 ta darslik muallifidir.

Uning rahbarligida 14 nafar magistr va 100 ga yaqin bakalavrlar tayyorlangan.

2013 yil 14-27 avgust kunlari Chexiya Respublikasi Praga shaxridagi “Высшей школой экономика и менежмента (VSEM)” institutida  o‘tkazilgan “Ta’lim muassasalarida ilmiy ishlarni tashkil etish” mavzusidagi Xalqora seminarda ishtirok etdi.

Ilmiy tadqiqot yo‘nalishida oxirgi 10 yil davomida Davlat tomonidan e’lon qilingan 3 ta amaliy, 3 ta innovatsion, 1 ta fundamental grant loyixalarida ilmiy raxbar bo‘lgan.

Jizzax politexnika instituti rektori bo‘lib ishga kelgandan so‘ng:

Uning tashabbusi bilan 2017 yilning sentyabr oyidan institut tuzilmasiga o‘zgartirish kiritilib, yangi “Servis”, “Elektromexanika va radioelektronika” fakultetlari, 5 ta yangi kafedralar tashkil qilinib, “Arxitektura va qurilish” fakulteti qoshida “Arxitektura-loyixachilar va quruvchilarni qayta tayyorlash va ularning malakasini oshirish” mintaqaviy markazi tashkil qilinib xozirgi kunda Jizzax, Samarqand  hamda Sirdaryo viloyatlari arxitektor-loyixachilari va quruvchilari malakasi oshirilib borilmoqda.

Institutda o‘quv va ilmiy faoliyatni samarali tashkil qilish, moddiy texnika bazasini mustaxkamlash maqsadida 800,0 mln. so‘mlik o‘quv mebellari, 266,0 mln. so‘mlik o‘quv laboratoriya texnikalari sotib olindi hamda o‘quv-laboratoriya binosida 40 ta o‘quv xonalari yangi zamonaviy mebellar bilan jixozlandi, 2017 yilda institut 100 ta zamonaviy kompyuterlar bilan jixozlandi, 76,0 mln so‘mlik labaratoriya jixozlari bilan jixozlangan 2 ta kimyo laboratoriya xonasi tashkil qilindi. 400 o‘rinli Talabalar turar joyi kapital ta’mirdan chiqarildi va Talabalar turar joyi binosi yonidan 200 o‘ringa mo‘ljallangan zamonaviy Talabalar oshxonasi ishga tushirildi. Institutning xududi to‘liq obodonlashtirilib 8 xildagi mevali daraxtlardan iborat  6,02 ga maydonda zamonaviy usuldagi bog‘ yaratildi.



<p>
    <a style="color: blue; text-decoration:none;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
      Qo‘shimcha malumot
    </a>
  </p>
  <div>
    <div class="collapse collapse-horizontal" id="collapseWidthExample" >
      <div class="card card-body"style="border:none;" >
        Tayanch oliy ta’lim muassasalari professor-o‘qituvchilari bilan aloqalarni yaxshilash maqsadida institutda 2 ta auditoriyada masofaviy ta’lim markazlarini tashkil qilindi.

Institutda 2017 yilda o‘quv-amaliy mashg‘ulotlari sifatini tubdan yaxshilash maqsadida “O‘quv-amaliyot mashg‘ulotlari texnoparki” tashkil etildi. Texnopark mutaxassislik kafedralari bazasida mavjud bo‘lgan ta’lim yo‘nalishlari bo‘yicha eng zamonaviy o‘quv laboratoriya jihozlari bilan ta’minlandi.

Ushbu texnoparkga Yer usti transport tizimlari yo‘nalishi bo‘yicha SP «GM Uzbekistan» («Uz-Daewoo Auto») avtomobil zavodidan 3 ta, Samarkand «JV MAN Auto-Uzbekistan» korxonasidan 1 ta, OOO «Samarkand avtomobil zavodi»dan 1 ta – jami 174.4 mln so‘m miqdoridagi avtomobil dvigatellari, Elektroenergetika yo‘nalishi bo‘yicha “O‘zelektroapparat” AJ dan Avtogaz o‘zgaruvchan tok yuklamasini o‘chirgichi, 2500 kVA kuchlanishli transformator podstansiyasi majmui, taqsimlovchi shit, moyli transformatori – jami 846,3 mln. so‘m miqdordagi o‘quv jihozlari, Muxandislik kommunikatsiyalari yo‘nalishi bo‘yicha “Ichimlik suvini uzatish tizimi”, “Avtomatlashtirilgan isitish tizimi”, “Gaz ta’minoti tizimi”, “Ventilyasiya tizimi” bo‘yicha – jami 30,6 mln so‘m miqdoridagi o‘quv stendlari olib kelib o‘rnatildi.

Metrologiya, standartlashtirish va mahsulot sifati menejmenti yo‘nalishi bo‘yicha O‘zstandart agentligi homiyligida Oziq ovqat yo‘nalishi bo‘yicha 3 ta maket, Tekstil mahsulotlarini sinash bo‘yicha 5 ta maket, Elektrotexnik mahsulotlarini sinash bo‘yicha 4 ta maket  va metrologik faoliyat bo‘yicha 2 ta laboratoriya maketi – jami 43,7 mln so‘m miqdordagi o‘quv maketlari keltirildi. Bundan tashqari tashkil etilgan texnoparkning tom qismiga umumiy miqdori 35,0 mln so‘mlik 1,5 kVtli kuyosh panellari o‘rnatildi.

Germaniyaning Gamburg texnologiya universiteti, Germaniya ekologiya vazirligi va Jizzax politexnika instituti o‘rtasidagi xamkorlikda bajarilayotgan “O‘zbekistonning aholi yashaydigan hududlarida iqlim o‘zgarishiga moslashuv” mavzusidagi (umumiy miqdori 99900 evrolik) xalqaro grant doirasida quvvati 10 kVt kuyosh panellarini olib kelib institut xududiga o‘rnatildi va ilmiy tadqiqot ishlari davom ettirilmoqda. Ushbu grant loyixasi asosida  “LUCAS NULLE” elektr jixozlari ishlab chiqaruvchi korxona tomonidan miqdori 11,0 ming evro bo‘lgan EPH-2 etakchi quyosh labaratoriyasi Elektroenergetika kafedrasining o‘quv xonasiga joylashtirildi.

“Yer usti transport tizimlari” kafedrasi qoshida Evropa Ittifoqining xalqaro Tempus dasturi doirasida umumiy qiymati 837996,69 evro bo‘lgan 2015-2017 yillarga mo‘ljallangan “Avtomagistrallar qurilishi muxandisligi va transport mashinasozligi bo‘yicha o‘quv dasturlarni takomillashtirish” (HIGHVEC loyihasi) mavzusidagi xalqaro loyiha yuzasidan tadqiqot ishlari olib borildi. 2017 yilning yanvar oyida “Transport vositalarini tashxislash” o‘quv-ilmiy laboratoriyasi yuzasidan evropa mamlakatlarida ishlab chiqarilgan umumiy qiymati 19952,98 evro bo‘lgan 15 ta nomdagi eng zamonaviy o‘quv laboratoriya jihozlari, 14 ta ta’lim yo‘nalishlari uchun umumiy qiymati 2097,73 evro bo‘lgan 21 nomdagi o‘quv va ilmiy-texnik adabiyotlar keltirildi. Ushbu loyiha doirasida 6 nafar o‘qituvchilar Buyuk Britaniya, Portugaliya, Ispaniya, Ruminiya universitetlarida qisqa muddatli malaka oshirish kurslarida ishtirok etdilar.

2017 yilda institut professor-o‘qituvchilaridan 3 nafar –  ikki nafari doktorlik dissertatsiya ishi (DSn), bir nafari (Rhd) bo‘yicha falsafa doktori ilmiy darajalarini olishdi.

Institut ta’lim yo‘nalishlari bo‘yicha ish beruvchi korxona va tashkilotlar to‘g‘risida to‘liq ma’lumotlar banki yaratildi.

Jizzax viloyatida tashkil etilgan Jizzax erkin indisturial zonasi tarkibiga kiruvchi 14 ta  korxona, tashkilotlar bilan  xamkorlik aloqalari o‘rnatilib, xozirgi vaqtda institut mutaxassislik kafedralar tomonidan korxonalar va tashkilotlar faoliyatlari o‘rganib 2018 yil bitiruvchilarini ishga joylashtirish va malakaviy amaliyotlarini o‘tash bo‘yicha uch tomonlama shartnomalarni imzoladi.

Hozirgi kunda Jizzax Politexnika institutida byudjet hisobidan moliyalashtirilayotgan, bajarilishi 2015-2017 yillarga mo‘ljallangan “Noravshan to‘plamlar nazariyasi asosida tasvirlarni qayta ishlash va tahlil qilish algoritmlari va dasturiy ta’minotini yaratish” mavzusidagi umumiy miqdori 165 mln. so‘mlik, 2017-2021 yillarga mo‘ljallangan OT-F1-049 “Talabalarda assertiv xulqni shakllantirishning ijtimoiy psixolog xususiyatlari” mavzusidagi umumiy miqdori 42.5 mln. so‘mlik fundamental loyixa ishi, 2017-2021 yillarga OT-F1-128 “Iqtisodiyotni moderinizatsiyalash sharoitida xizmat ko‘rsatish sifati va tarkibini takomillashtirishning nazariy asoslari” mavzusidagi qiymati 45 mln.so‘mlik loyihalar yuzasidan tadqiqot ishlari olib borilmoqda.

Institut qoshida “Qurilish mahsulotlarini sinash” laboratoriyasi faoliyatini jadallashtirilishi natijasida 2017 yilda 53 ta tashkilot va korxonalar bilan shartnomalar imzolanib, 88,0 mln. so‘mlik mablag‘ institut hisob raqamiga tushirildi.
Rektorning lavozim vazifalari:

O‘zbekiston Respublikasi qonunlari, Prezident farmonlari va farmoyishlari, Oliy Majlis va Vazirlar Mahkamasining ta’lim va kadrlar tayyorlash sohasidagi qarorlarini amalga oshirishni tashkil etish;
Yuksak ma’naviy-axloqiy fazilatli, mustaqil fikrlashga qodir bo‘lgan, bozor sharoitida ishni tashkil etishning usullarini egallagan yuqori ma’lumotli malakali kadrlar tayyorlashni ta’minlash;
Davlat ta’lim standartlari asosida yuqori malakali kadrlar tayyorlashni tashkil etish;
JizPIda O‘zbekiston Respublikasining “Ta’lim to‘g‘risida”gi qonun va “Kadrlar tayyorlash milliy dasturi”da belgilangan vazifalar bajarilishini ta’minlash;
JizPIning tarkibiy tuzilmasidagi barcha bo‘linmalar vakolatlarini belgilab berish, faoliyatlarini rejalashtirish, muvofiqlashtirish, boshqarish, JizPIning boshqaruv lavozimlariga munosib kadrlarni tayyorlash, xodimlarni tanlash, rahbarlik lavozimiga tavsiya etish va ishga qabul qilish;
Xodimlarni moddiy va ma’naviy rag‘batlantirish, ijtimoiy muhofazasini ta’minlash, intizomiy jazo choralarini qo‘llash;
JizPIning daromadlari shakllantirilishi va ulardan samarali foydalanilishi ustidan nazorat qilish;
Ilmiy-tadqiqot ishlarini tashkil etish, ularning samaradorligini oshirish va tadqiqotlarning natijalarini amaliyotga keng joriy etish, oliy ta’lim, fan va ishlab chiqarishning o‘zaro integratsiyasini ta’minlash;
Uzluksiz ta’lim tizimi uchun yangi avlod o‘quv adabiyoti yaratish konsepsiyasi talablariga muvofiq darsliklar va o‘quv-metodik adabiyotlar yaratilishi, tarjima qilinishi va nashr etilishini tashkil etish;
O‘quv-tarbiya jarayonida o‘qitishning ilg‘or shakllarini, shu jumladan, masofadan turib o‘qitish, yangi pedagogik va axborot-kommunikatsiya texnologiyalarini joriy etish va ulardan samarali foydalanishni tashkil etish;
Ma’naviy-ma’rifiy, tarbiyaviy ishlarga rahbarlik etish, xodimlar va talabalarda milliy g‘oyani shakllantirish;
Talabalikka, magistratura va stajyor-tadqiqotchi-izlanuvchilarni universitetga qabul qilish, o‘qishdan chetlatish, tiklash, ichki-mehnat tartibiga rioya etilishini ta’minlash;
Professor-o‘qituvchilarning kasbiy malaka oshirishlarini ta’minlash;
Talabalar, stajyor-tadqiqotchi-izlanuvchilar, ilmiy-pedagogik xodimlar uchun maishiy xizmat ko‘rsatish va boshqa turdagi sharoitlarni tashkil etish, ularning ijtimoiy himoyasini ta’minlash;
Fakultetlar va kafedralar faoliyati, o‘quv jarayoni, ma’ruzalar, amaliy va laboratoriya mashg‘ulotlari, o‘quv va ishlab chiqarish amaliyotlari, boshqa turdagi mashg‘ulotlar sifatining doimiy nazorat etilishini ta’minlash;
JizPIda mutaxassislar tayyorlanadigan yo‘nalish va ixtisosliklar sohasining rivojlanish istiqbollarini aniqlashga qaratilgan tadbirlarni tashkil etish (ilmiy-amaliy konferensiyalar o‘tkazish, xalqaro anjumanlarda ishtirok etish, axborot makonidan foydalanish sharoitlarini yaratish, fan-texnika, texnologiyalar rivojlanishiga taaluqli adabiyot, informatsion materiallarni keltirish), buning asosida davlat ta’lim standartlari, o‘quv dasturlari, o‘quv adabiyotlarini takomillashtirib borishni ta’minlash, ilmiy izlanishlarni yo‘naltirib borish;
Marketing xizmatini rivojlantirib, ta’lim yo‘nalishi va ixtisosliklarga talab va ehtiyojni o‘rganishni, bitiruvchilarni amalda ishga joylashishi tahlilini, mutaxassislarni maqsadli tayyorlash borasida hamkorlik shartnomalari tuzilishini tashkil etish;
JizPIning moddiy-texnik bazasini mustahkamlash va rivojlantirish tadbirlarini ishlab chiqish va amalga oshirish, JizPI Ilmiy Kengashiga rahbarlik qilish, JizPIning tarkibiy tuzilishini takomillashtirish, tarkibiy bo‘linmalarini tashkil etish, tugatish, o‘zgartirish;
Xorijiy hamkorlar bilan ilmiy-ijodiy aloqalarni rivojlantirish, investitsiya va grantlar jalb etilishini ta’minlash, qo‘shma korxona (kafedra, ilmiy markaz, ilmiy tadqiqotlar, loyihalar va h.k.)lar tashkil etish faoliyatini amalga oshirish;
Jamoat tashkilotlari, vasiylar kengashi va boshqa shu kabi nodavlat tashkilotlar bilan hamkorlik faoliyatini olib borish;
Ta’lim jarayonini boshqarish bo‘yicha vakolatli organlar tomonidan belgilangan boshqa vazifalar ijrosini ta’minlash;
O‘zining xizmat vazifalarini vijdonan bajarish.
                <br><b>Biografiya:</b>
                <pre>
1985 – 1992 yy. – Toshkent to‘qimachilik va engil sanoat instituti Talaba
1986 – 1988 yy. – Xarbiy xizmatda
1992 – 1995 yy. – Toshkent to‘qimachilik va engil sanoat instituti paxtani dastlabki ishlash kafedrasi Laboratoriya mudiri
1995 – 1997 yy. – Toshkent to‘qimachilik va engil sanoat instituti paxtani dastlabki ishlash kafedrasi Assistent
1997 – 2000 yy. – Toshkent to‘qimachilik va engil sanoat instituti paxtani dastlabki ishlash kafedrasi Laboratoriya mudiri
2000 – 2002 yy. – Toshkent to‘qimachilik va engil sanoat instituti paxta texnologiyasi va mexanika fakulteti ma’naviy-ma’rifiy masalalar bo‘yicha dekan muovini
2002 – 2007 yy. – Toshkent to‘qimachilik va engil sanoat instituti Marketing bo‘limi boshlig‘i
2007 – 2008 yy. – Toshkent to‘qimachilik va engil sanoat instituti paxtani dastlabki ishlash kafedrasi Kafedra mudiri
2008 – 2012 yy. – Toshkent to‘qimachilik va engil sanoat instituti paxta sanoati texnologiyasi va mexanika fakulteti fakulteti dekani
2012 – 2016 yy. – Toshkent to‘qimachilik va engil sanoat instituti paxta sanoati texnologiyasi fakulteti Dekan
2016 – 2016 yy. – Toshkent to‘qimachilik va engil sanoat instituti moliya va iqtisod ishlari bo‘yicha prorektori
2016 y. – h.v. – Jizzax politexnika instituti Rektor
                </pre>
      </div>
    </div>
  </div>



            </p>
           
        </div>
    </div>
</div>



{% endblock content %}




