<a href="{% url "pageK1" %}" class="btn">Transport vositalari muxandisligi</a>
<a href="{% url "pageK2" %}" class="btn">Yo’l muxandisligi</a>
<a href="{% url "pageK3" %}" class="btn">Ijtimoiy fanlar</a>
<a href="{% url "pageK4" %}" class="btn">Xorijiy tillar</a>
<a href="{% url "pageK5" %}" class="btn">Bino va inshootlar qurilishi</a>
<a href="{% url "pageK6" %}" class="btn">Arxitekturaviy loyihalash</a>
<a href="{% url "pageK7" %}" class="btn">Muhandislik kommunikatsiyalari</a>
<a href="{% url "pageK8" %}" class="btn">O‘zbek tili va adabiyoti</a>
<a href="{% url "pageK9" %}" class="btn">Qurilish materiallari, buyumlari va konstruksiyalari texnologiyasi</a>
<a href="{% url "pageK10" %}" class="btn">Umumtexnika fanlari</a>
<a href="{% url "pageK11" %}" class="btn">Muxandislik va kompyuter grafikasi</a>
<a href="{% url "pageK12" %}" class="btn">To’qimachilik maxsulotlarini qayta ishlash</a>
<a href="{% url "pageK13" %}" class="btn">Tabiiy tolalar va mаtoga ishlov berish</a>
<a href="{% url "pageK14" %}" class="btn">Qishloq xo’jalik va oziq-ovqat maxsulotlarini qayta ishlash</a>
<a href="{% url "pageK15" %}" class="btn">Jismoniy tarbiya</a>
<a href="{% url "pageK16" %}" class="btn">Kimyoviy texnologiya</a>
<a href="{% url "pageK17" %}" class="btn">Ekologiya va atrof muhit muxofazasi</a>
<a href="{% url "pageK18" %}" class="btn">Kimyo</a>
<a href="{% url "pageK19" %}" class="btn">Oliy matematika</a>
<a href="{% url "pageK20" %}" class="btn">Energetika</a>
<a href="{% url "pageK21" %}" class="btn">Radioelektronika</a>
<a href="{% url "pageK22" %}" class="btn">Elektr texnologiyasi</a>
<a href="{% url "pageK23" %}" class="btn">Ishlab chiqarish jarayonlarini avtomatlashtirish va boshqarish</a>
<a href="{% url "pageK24" %}" class="btn">Fizika</a>
<a href="{% url "pageK25" %}" class="btn">Transport logistikasi</a>
<a href="{% url "pageK26" %}" class="btn">Iqtisodiyot va menejment</a>
<a href="{% url "pageK27" %}" class="btn">Professional ta’lim</a>
<a href="{% url "pageK28" %}" class="btn">Metrologiya va standartlashtirish</a>