{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedralar</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            
            {% comment %} #################################### {% endcomment %}
        
            <div class="__cards">  
                
                <a href="{% url "pageK1" %}" class="__card__">
                    <h6 class="__h6">Transport vositalari muxandisligi </h6>
                </a>
                
                <a href="{% url "pageK2" %}" class="__card__">
                    <h6 class="__h6">Yo’l muxandisligi </h6>
                </a>
                
                <a href="{% url "pageK3" %}" class="__card__">
                    <h6 class="__h6">Ijtimoiy fanlar </h6>
                </a>
                
                
                <a href="{% url "pageK4" %}" class="__card__">
                    <h6 class="__h6">Xorijiy tillar </h6>
                </a>
                
                
                <a href="{% url "pageK5" %}" class="__card__">
                    <h6 class="__h6">Bino va inshootlar qurilishi </h6>
                </a>
                
                
                <a href="{% url "pageK6" %}" class="__card__">
                    <h6 class="__h6">Arxitekturaviy loyihalash </h6>
                </a>
                
                
                <a href="{% url "pageK7" %}" class="__card__">
                    <h6 class="__h6">Muhandislik kommunikatsiyalari </h6>
                </a>
                
                
                <a href="{% url "pageK8" %}" class="__card__">
                    <h6 class="__h6">O‘zbek tili va adabiyoti </h6>
                </a>
                
                
                <a href="{% url "pageK9" %}" class="__card__">
                    <h6 class="__h6">Qurilish materiallari, buyumlari va konstruksiyalari texnologiyasi </h6>
                </a>
                
                
                <a href="{% url "pageK10" %}" class="__card__">
                    <h6 class="__h6">Umumtexnika fanlari </h6>
                </a>
                
                
                <a href="{% url "pageK11" %}" class="__card__">
                    <h6 class="__h6">Muxandislik va kompyuter grafikasi </h6>
                </a>
                
                
                <a href="{% url "pageK12" %}" class="__card__">
                    <h6 class="__h6">To’qimachilik maxsulotlarini qayta ishlash </h6>
                </a>
                
                
                <a href="{% url "pageK13" %}" class="__card__">
                    <h6 class="__h6">Tabiiy tolalar va mаtoga ishlov berish </h6>
                </a>
                
                
                <a href="{% url "pageK14" %}" class="__card__">
                    <h6 class="__h6">Qishloq xo’jalik va oziq-ovqat maxsulotlarini qayta ishlash </h6>
                </a>
                
                
                <a href="{% url "pageK15" %}" class="__card__">
                    <h6 class="__h6">Jismoniy tarbiya </h6>
                </a>
                
                
                <a href="{% url "pageK16" %}" class="__card__">
                    <h6 class="__h6">Kimyoviy texnologiya </h6>
                </a>
                
                
                <a href="{% url "pageK17" %}" class="__card__">
                    <h6 class="__h6">Ekologiya va atrof muhit muxofazasi </h6>
                </a>
                
                
                <a href="{% url "pageK18" %}" class="__card__">
                    <h6 class="__h6">Kimyo </h6>
                </a>
                
                
                <a href="{% url "pageK19" %}" class="__card__">
                    <h6 class="__h6">Oliy matematika </h6>
                </a>
                
                
                <a href="{% url "pageK20" %}" class="__card__">
                    <h6 class="__h6">Energetika </h6>
                </a>
                
                
                <a href="{% url "pageK21" %}" class="__card__">
                    <h6 class="__h6">Radioelektronika </h6>
                </a>
                
                
                <a href="{% url "pageK22" %}" class="__card__">
                    <h6 class="__h6">Elektr texnologiyasi </h6>
                </a>
                
                
                <a href="{% url "pageK23" %}" class="__card__">
                    <h6 class="__h6">Ishlab chiqarish jarayonlarini avtomatlashtirish va boshqarish </h6>
                </a>
                
                
                <a href="{% url "pageK24" %}" class="__card__">
                    <h6 class="__h6">Fizika </h6>
                </a>

                
                <a href="{% url "pageK25" %}" class="__card__">
                    <h6 class="__h6">Transport logistikasi </h6>
                </a>

                
                <a href="{% url "pageK26" %}" class="__card__">
                    <h6 class="__h6">Iqtisodiyot va menejment </h6>
                </a>
                
                <a href="{% url "pageK27" %}" class="__card__">
                    <h6 class="__h6">Professional ta’lim </h6>
                </a>
                
                <a href="{% url "pageK28" %}" class="__card__">
                    <h6 class="__h6">Metrologiya va standartlashtirish </h6>
                </a>


                
                

    
    
            </div>
        
            {% comment %} #################################### {% endcomment %}   
                
        </div>
    </div>
</div>



{% endblock content %}