{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/iconmen.png" %}">
                </div>
                <div class="right">
                    <p>To’qimachilik maxsulotlarini qayta ishlash kafedrasi mudiri</p>
                    <p>Texnika fanlari nomzodi (PhD) <b>Doniyorov Bektosh Bahodirovich</b></p>
                    <p><b>Qabul vaqti:</b> haftaning seshanba, payshanba va juma kunlari soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b> +998 97 701 57 76</p>
                    <p><b>E-mail: </b> ...</p>
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp; To’qimachilik maxsulotlarini qayta ishlash kafedrasi haqida ma’lumot</b><br>
                “To’qimachilik mahsulotlarini qayta ishlash” kafedrasida hozirgi kunda 5320900 – Yengil sanoat buyumlari konstruksiyasini ishlash va texnologiyasi (ishlab chiqarish turlari bo’yicha) va 60721200- Yengil sanoat buyumlari konstruksiyasini ishlash va texnologiyasi (ishlab chiqarish turlari bo’yicha) kunduzgi;

5320900 – Yengil sanoat buyumlari konstruksiyasini ishlash va texnologiyasi (ishlab chiqarish turlari bo’yicha) sirtqi ta’lim yo’nalishi  bo’yicha bakalavrlar;

Bundan tashqari, 70721201-To’qimachilik mahsulotlari texnologiyasi (to’qima) ta’lim yo’nalishi  bo’yicha magistrlar ham tahsil olmoqda.

Ta’lim yo’nalishlari bo’yicha jami  192 nafar talabalar tahsil olib kelmoqda, shundan, 36 nafar birinchi kurs, 39 nafar ikkinchi kurs, 46 nafar uchinchi kurs, 50 nafar to’rtinchi kurs va 5 nafar birinchi kurs magistr, 16 nafar ikkinchi kurs magistr talabaridan iborat.

2022-2023 o’quv yilida talabalarga 45 nomdagi mutaxassislik fanlaridan yuqori saviyada tashkil etilgan o’quv xonalarida dars mashg’ulotlari olib borilmoqda.

Kafedrada bitta zamonaviy jihozlangan ma’ruza xonasi, uchta amaliy-seminarlar xonasi va ikkita o’quv-ishlab chiqarish laborotoriya xonalari mavjud.

Bundan tashqari, ta’lim va ishlab chiqarish o’rtasidagi integratsiyani, nazariya bilan amaliyotning uyg’unlashuvini jadallashtirish maqsadida Ishlab shiqarish korxonalari va kafedra o’rtasida imzolangan hamkorlik shartomalari asosida MCHJ “JIZZAX TEXTILE” xorijiy korxonasi, MCHJ “JIZZAX-TOSHTEPA TEXTILE” korxonasi hamda MCHJ “JADA COLOR TEXTILE”, MCHJ “JIZZAX KENTEKS”, MCHJ “OSTEXTILE” va boshqa korxonalarida kafedra filiallari tashkil etilgan bo’lib, bugungi kunda bo’lg’usi mutaxassislarga ushbu korxonalarda barcha shart-sharoitlar yaratilib mutaxassislik fanlaridan dars mashg’ulotlari olib borilmoqda.

Hozirgi kunda kafedrada jami 26 nafar professor-o’qituvchilar faoliyat ko’rsatib kelmoqda, e’tiborli jihatlaridan yana biri shundaki, kafedrada faoliyat ko’rsatayotgan professor-o’qituvchilarning asosiy qismini yoshlar tashkil etadi.

Bundan tashqari, talabalarga chuqur bilim berish, yosh kadrlarga ilmiy maslahatlar berish maqsadida “To’qimachilik mahsulotlarini qayta ishlash” kafedrasi mudiri  t.f.n. dotsent Doniyorov Bektosh Baxodirovich tomonidan ilgari surilgan takliflari va tashabbuslari bilan kafedraga tayanch bo’lgan Toshkent to’qimachilik va yengil sanoat institutining bir qancha yetakchi olimlari t.f.n. professor. Alimboyev Erkin Sharipovich; t.f.d. professor. G’ofurov Jahongir Qobulovich;  t.f.d. professor. Jumaniyozov Qadam Jumaniyozovich, dotsentlar Hazratqulov Xamid Aliqulovich va Inagamjanov Dovrug’bek Davronovichlar o’quv jarayoniga keng jalb qilinib bugungi kunda bitiruvchi talabalar hamda yosh olimlarga o’zlarining bilim va tavsiyalarini berib kelmoqda.

Kafedramizda xorijiy OTM lar bilan ham aloqalar yo’lga qo’yilgan bo’lib, ular bilan doimiy almashinuv va seminar-treninglar tashkil etib kelinmoqda. Jumladan, dunyoning kuchli 500 talikka kiruvchi Qozog’istonning  M.Auezov nomidagi Janubiy Qo’zog’iston universiteti, Almata to’qimachilik texnologiyalari institutlari va boshqalarni misol qilishimiz mumkin. Bundan tashqari, kafedra professor-o’qituvchilari chet el mamlakatlaridagi turli universitet va institutlarda stajirovkaga borib kelishmoqda.

O‘zbekiston Respublikasi Oliy attestatsiya komissiyasi Rayosatining 2020 yil 30 iyundagi 168-sonli qaroriga asosan, Jizzax politexnika instituti huzurida PhD.03/30.06.2020.T.115.01 raqamli ilmiy darajalar beruvchi ilmiy kengan tuzilib, uning tarkibi 9 kishi bo‘lib, shundan 5 nafari kafedramiz professor va dotsentlari tashkil etadi.

               
                <br><b>&nbsp;&nbsp; BAKALAVRIAT YO’NALISHI:</b><br>
                5320900 – Yengil sanoat buyumlari konstruksiyasini ishlash va texnologiyasi (ishlab chiqarish turlari bo’yicha);<br>

60721200- Yengil sanoat buyumlari konstruksiyasini ishlash va texnologiyasi (ishlab chiqarish turlari bo’yicha)
                <br><b>&nbsp;&nbsp;MAGISTRATURA MUTAXASSISLIGI:</b><br>
                70721201-To’qimachilik mahsulotlari texnologiyasi (to’qima) ta’lim yo’nalishi  bo’yicha.
                <br><b>&nbsp;&nbsp; TAYANCH DOKTORANTURA IXTISOSLIGI:</b><br>
                05.06.02.- “To‘qimachilik materiallari texnologiyasi va xomashyoga dastlabki ishlov berish” (texnika fanlari).
                <br><b>&nbsp;&nbsp; KAFEDRADA OLIB BORILAYOTGAN ILMIY ISHLAR</b><br>
                Kafedrada 2022-yil davomida 4 nafar professor-o’qituvchi X.Yo’ldoshev, E.Xolboyev, A.Kushimov va A.Salomovlar texnika fanlari bo’yicha falsafa doktori (PhD) ilmiy darajalarini olishdi. Bundan tashqari, A.Shodmonqulovning ham 2022-2023 o’quv yili yakuniga qadar ilmiy ishini yakunlab dissertatsiya himoyasini o’tkazishi ham rejalashtirilgan.

Kafedradagi ilmiy izlanishlar natijasi sifatida kafedra professor-o’qituvchilari A.Usmankulov, B.Doniyorov, D.Inagamjanov, J.G’ofurov va boshqalar ERASMUS+ loyihalari doirasida “O’zbekiston va Qozog’iston OTMlarida charm va charm buyumlari masalalarini kuchaytirish” mavzusida grand mablag’lari yutilgan bo’lib, bosqichma-bosqich institut hisob raqamiga kelib tushmoqda hamda ilmiy ishlarni bajarish maqsadida yo’naltirilmoqda.

Hozirda kafedrada olib borilayotgan ilmiy tadqiqot ishlari yo‘nalishlari to‘g‘risida ma’lumot:

– To‘quvchilikka tanda iplarini tayyorlashning takomillashtirilgan texnologiyalari. (prof.E.SH.Alimboev rahbarligida B.Doniyorovning ilmiy tadqiqot yo‘nalishi);

– Matolarni to‘quv usulida badiiy bezash. (prof. E.SH.Alimboev rahbarligida M.Doniyorovaning DSc  ilmiy tadqiqot yo‘nalishi);

– Gilam ishlab chiqarishda mahalliy xom ashyolardan foydalanishning innovatsion texnologiyasini tadqiq qilish. (dots. B.Doniyorov rahbarligida U.Jabborovning PhD dissertatsiyasi);

– To`quv dаstgоhlаri аssоrtimentlik imkоniyatlаri аsоsidа yo`l-yo`l nаqshli to`qimаlаrni lоyihаlаsh. (dots. M.Doniyorova rahbarligida D.Shamiyevning PhD dissertatsiyasi);

– Ikki qatlamli naqshli trikotaj to’qimalarining yangi assortimentlarini yaratish texnologiyasi (prof. N.Xanxodjayeva rahbarligida S.Karimovning PhD dissertatsiyasi) va boshqalar.

Talabalarning bo’sh vaqtini mazmunli o’tkazish maqsadida kafedrada “Yosh to’qimachilar” ilmiy-ijodiy to’garagi tashkil etilgan bo’lib, bunda 45 nafar iqtidorli talabalar qatnashib kelmoqda.

            </p>

        </div>
    </div>
</div>



{% endblock content %}




