{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/xortil.jpg" %}">
                </div>
                <div class="right">
                    <p>Xorijiy tillar kafedrasi mudiri </p>
                    <p><b>Bazarov Bunyod Tulkunjonovich</b></p>
                    <p><b>Qabul vaqti:</b> haftaning Seshanba payshanba va juma kunlari soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b> 0372-226-40-00</p>
                    <p><a href="coding@list.ru" class="poshta" ><b> E-mail: </b> coding@list.ru</a> </p>
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp; Xorijiy tillar kafedrasi tarixi</b><br>
                1972 yil Toshkent politexnika institutining Jizzax filiali umumtexnik fakultetida umumiy ta’lim fanlari kafedrasi tashkil topdi. Kafedra «Marksizm-leninizm va tillar» nomi bilan ataldi.
                Kafedraga falsafa fanlari nomzodi A.S. Soatov rahbarlik qildi. Kafedra tarkibi 15 ta o’qituvchidan iborat edi. 1980 yil kafedra «Obshyeobrazovbatelniye dissiplini» nomi bilan atalib, kafedraga G.O. Bilchenko rahbarlik qildi. Kafedrada nemis va rus tillaridan darslar olib borildi.
                Fakultet Toshkent Politehnika institutining filiali bulib, qayta tashkil topgandan keyin ham kafedraning nomi uzgarmasdan qoldi. Endilikda kafedra o’qituvchilari nemis, ingliz va rus tillaridan dars berishdi. G.O. Bilchenko nafaqaga chiqqandan keyin kafedrani dotsent. K.T. Tagmatov boshqardi, kafedrada rus tili, ingliz tili, rus tili va jismoniy tarbiya fanlaridan darslar o’tila boshladi. 1993 yildan kafedrani D.A.Soatova boshqardi.
                Kafedra nomi «O’zbek va rus tillari» deb ataldi va kursning barcha guruhlarida o’zbek tili va adabiyot fanlari o’qitila boshladi.
                1996 yildan boshlab «O’zbek va rus tillari» kafedrasi “Хorijiy tillar”  kafedrasiga qo’shildi. 1996 yildan 1998 yil mart oyigacha kafedrani dots. A. I. Isayev boshqardi. Kafedra «O’zbek va chet tillari » deb atala boshlandi va kafedrada talabalarga ingliz, nemis, rus, o’zbek tili va yozuv fanlaridan dars o’tilgan.
                1997 yil 2- martdan kafedraga f.f.n. dots. Em M. nomzodlik dissertatsiyasini himoya qildi. 1999 yil 2- martdan 2012 yil yanvargacha kafedraga f.f.n. dots. Em M. rahbarlik qildi. 2002 yilda kafedra mudiri f.f.n. Em M. dotsentlik unvoniga sazovor bo’ldi.
                2012 yildan kafedraning «O’zbek va chet tillari» nomi “Хorijiy tillar” kafedrasi deb o’zgartirildi.
                
                2015 yildan 2019 yil fevral oyiga qadar “Xorijiy tillar” kafedrasiga katta o’qituvchi N.X.Baysariyev rahbarlik qildi.
                
                2019 yil 11 fevraldan “Xorijiy tillar” kafedrasini katta o’qituvchi B.T.Bazarov boshqarib kelmoqda.
                
                2019 yil 2 dekabrda O’zbekiston Respuplikasi Prezidentining farmoniga binoan “Xorijiy tillar” kafedrasi tarkibidan o’zbek tili va rus tillari fanlari ajratilib “O’zbek tili va adabiyoti” kafedrasi tashkil topdi.
                Hozirgi kunda kafedrada dots Em M., katta o’qituvchilar Mustafoqulova H., Dusbaeva N., Madiyeva G.,Quychiyeva Z., Soliev E., Norqo’zieva I., Yakubov F., Kavilova T., assistent  o’qituvchilar  Shodiev M., Solieva M., Abduvalieva D., Tangatov B., Ochilova N., Baxtiyoriy T., Fayzullaeva A., Raximov A., Atabekova F., Qurbonova D., Irgashev X., Xiloliddinova F., Boqieva R., Yusupov G., Elova U., lar mehnat qilmoqdalar.
                Kafedra professor-oqituvchilari doimiy ravishda mintaqaviy malaka oshirish markazlarida o’z malakalarini oshirib kelmoqdalar va olgan bilim va ko’nikmalarini amaliy mashg’ulot darslarida qo’llashmoqdalar.
                
                Hozirgi kunda  kafedra o’qituvchilari Bazarov Bunyod Tulkunjanovich “Ingliz tilida qurilish sohasidagi terminlarning leksikologik tahlili va o’qitish metodikasi”, Elova Umida Ruzimurodovna  “XIX –asr Amerika romantizm va realism she’riyati” (Uolt Uitmen va Longfello she’riyati misolida),  Qurbonova Dilnoza Arslonovna  “Ingliz tili darslarida o’quvchilarda madaniyatlararo bagrikenglik kompetentsiyasini shakllantirish mexanizmlari”, Atabekova Feruza Xujamkulovna  “Ingliz tilini o’rgatish mazmunida realiyalarning roli” (asosiy ixtisosligi chet tili bo’lmagan texnika oliy o’quv yurti talabalari misolida) ushbu mavzularda ilmiy-tadqiqot mavzularda ilmiy izlanishlar olib bormoqdalar .
                
                Kafedra professor-oqituvchilari doimiy ravishda xalqaro ilmiy jurnallarda  (“Web of Science”, “Scopus” va boshqa xalqaro e’tirof etilgan bazalarga kiritilgan jurnallarda)  ko’plab ilmiy maqolalar  chop etib kelmoqdalar.
            </p>

        </div>
    </div>
</div>



{% endblock content %}




