{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/tabiytola.jpg" %}">
                </div>
                <div class="right">
                    <p>Tabiiy tolalar va motoga ishlov berish kafedrasi mudiri</p>
                    <p>Texnika fanlari bo’yicha falsafa doktori (PhD),<b> dotsent  Egamberdiyev Fazliddin Otaqulovich</b></p>
                    <p><b>Qabul vaqti:</b>haftaning seshanba, payshanba va juma kunlari soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b> (+99890) 516 44 89  </p>
                    <p><a href="fazliddin.123456789@mail.ru" class="poshta" ><b> E-mail: </b>   fazliddin.123456789@mail.ru</a> </p>
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp;Tabiiy tolalar va matoga ishlov berish” kafedrasi haqida  </b><br>
                “Tabiiy tolalar va matoga ishlov berish” kafedrasi 2020-2021 o‘quv yilidan yangi kafedra sifatida Jizzax politexnika institutining “Sanoat texnologiyalari” fakulteti ta’sarrufida faoliyat olib boradi. Hozirda kafedrada jami 32 nafar professor o‘qituvchilar faoliyat ko‘rsatib kelmoqda, shundan 5 nafar professor, 9 nafar dotsent, 3 nafar katta o‘qituvchi va 15 nafar assistent o‘qituvchilardir.

               
                Kafedra o‘qituvchilari tomonidan bakalavriat ta’lim yo‘nalishlarida 280 ga yaqin kunduzgi va 190 nafar sirtqi bakalavr talabalar, 10 ga yaqin magistratura mutaxasisliklarida tahsil olib kelmoqdalar. Bundan tashqari 2 nafar doktorantlar kafedra professor o‘qituvchilari bilan birgalikda ilmiy izlanishlarini olib bormoqda.
                <br><b>&nbsp;&nbsp; BAKALAVRIAT YO’NALISHI:</b><br>
                60721300 – Tabiiy tolalarni dastlabki ishlash texnologiyasi (paxta).<br>

60720700 –Texnologik mashinalar va jihozlar (toʼqimachilik, yengil va paxta sanoati).<br>

60721200 – Yengil sanoat buyumlari konstruksiyasini ishlash va texnologiyasi (tikuv buyumlari texnalogiyasi).<br>

60721200 – Yengil sanoat buyumlari konstruksiyasini ishlash va texnologiyasi (charm va mo‘yna texnalogiyasi).<br>
Kafedrada magistrantlarimiz 70721301 – “Paxtani dastlabki ishlash va urug’ tayyorlash texnologiyasi” mutaxasisligi bo‘yicha o‘z bilim va ko‘nikmalarini oshirib kelmoqda.

Bulardan tashqari kafedrada faoliyat yuritayotgan ilmiy izlanuvchi o‘qituvchilarimizdan 2 nafari  05.06.02.– “To‘qimachilik materiallari texnologiyasi va xomashyoga dastlabki ishlov berish” (texnika fanlari) ixtisosligi bo‘yicha ilmiy faoliyat olib bormoqdalar.

“Tabiiy tolalar va matoga ishlov berish” kafedrasi yosh kafedra bo‘lishiga qaramasdan yuksak salohiyatli kadrlarni jamiyatga tayyorlab berish, bundan tashqari ilmiy-tadqiqot ishlarda, tashkiliy-uslubiy ishlarda, ma’naviy-ma’rifiy ishlarda va sport ishlarida ham institut kafedralari ichida yuqori o‘rinlardan birini egallab kelmoqda.

Kafedra o‘qituvchilari tomonidan har o‘quv yilida talabalarga va magistrantlarga 60 dan ortiq mutaxassislik fanlaridan yuqori saviyada tashkil etilgan o’quv xonalarida dars mashg’ulotlari olib borilmoqda.

Jumladan kafedrada o‘quv jarayoni malakali ustozlar tomanidan a’lo darajada amalga oshirilmoqda. Buning uchun kafedramizda talabalarga maruza darslarini olib boorish uchun 5 ta xonalar mavjud. Bundan tashqari amaliy va laboratoriya dars mashg‘ulotlarini amalga oshirish uchun laboratoriya jixozlari bilan ta’minlangan 8 ta xonalar bor. Ulardan 2 tasi ilmiy laboratoriya bo‘lib, biri paxtani dastlabki ishlash uchun qo‘llaniladigan barcha laboratoriya jixozlari bilan, ikkinchisi esa hozirgi kunda rivojlanib kelayotgan charm xomashyolarini dastlabki ishlash korxonalarining laboratoriya jixozlari bilan ta’minlangandir.

Paxtani dastlabki ishlash va urug‘ tayyorlash texnalogiyalari bo‘yicha

“Ilmiy laboratoriya” xonasi

Charm xomashyosini dastlabki ishlash texnalogiyalari bo‘yicha

“Ilmiy laboratoriya” xonasi

 

Kafedraning ilmiy-pedogogik kadrlari sifati, tarkibi, yoshi, ilmiy salohiyati bo‘yicha belgilangan me’yoriy ko‘rsatkichlarga javob beradi. Kafedraning 2022/2023 o‘quv yili uchun o‘quv yuklamasi bo‘yicha shtat birligi 18.25 ni tashkil etib, shundan asosiy shtatda 15 nafar, ichki o‘rindoshlar 12 nafar va tashqi o‘rindoshlar 5 nafar professor-o‘qituvchilar faoliyat ko‘rsatishdi. Ulardan 5 nafar professor, 8 nafar dotsent bo‘lib, kafedraning umumiy ilmiy salohiyati 39.0 % ni tashkil etdi. Kafedraning o‘rtacha yoshi asosiy va o‘rindoshlik asosida ishlayotgan professor-o‘qituvchilarga asosan 36 yosh.

Barchamizga ma’lumki respublikamizda fan, inovatsiyalar va ilmiy salohiyatga yildan yilga e’tibor ortib bormoqda. Bunda barcha ilm insonlarining ham xizmati kattadir. Shu jumlada ta’kidlab o‘tishimiz joizki, bizning kafedra o‘qituvchilarimiz ham ilmiy izlanishlari bilan soha rivojlanishiga katta hissa qo‘shib kelmoqdalar. Kafedra o‘qituvchilari tomonidan 250 dan ziyod ilmiy maqola va tezislar chop etilgan bo‘lib, bulardan SCOPUS bazasidagi jurnallarda 20 dan ortiq, 200 dan ortig‘i esa mahalliy va xorijiy jurnallarda chop etilgan. Bundan tashqari kafedra professor-o‘qituvchilari tomonidan 50 dan ortiq darslik, o‘quv qo‘llanma va monografiyalar ham chop etilgan.
            </p>

        </div>
    </div>
</div>



{% endblock content %}




