{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/iconmen.png" %}">
                </div>
                <div class="right">
                    <p>Iqtisodiyot va menejment kafedrasi mudiri</p>
                    <p>iqtisod fanlari nomzodi, dotsent<b> Abdunazarov Saidaxmat Abdumalikovich</b></p>
                    <p><b>Qabul vaqti:</b> haftaning seshanba, payshanba va shanba kunlari soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b>+99893-300-37-67</p>
                    <p><a href=" S.Abunazarov@mail.ru" class="poshta" ><b> E-mail: </b> S.Abunazarov@mail.ru</a> </p>  
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp;IQTISODIYOT VA MENEJMENTI KAFEDRASI TARIXI</b><br>
                Kafedra 1984 yil 12 dekabrda «Mashinasozlik va qurulishda iqtisodiyot va boshqaruv» nomi bilan tashkil etilgan.

1984-1994 yillarda dots. N. Q. Shodiyev, dots. B. Kattakishiyev, dots. T. Q. Qayumov, dots. I. T. Tirkashev kafedra mudiri vazifasini bajargan.

1996 yilda kafedra «Menejment» va «Makroiqtisodiyot» kafedralariga bo’lingan bo’lib, «Menejment» kafedrasiga dots. Sh. R. Ro’zmetov va «Makroiqtisodiyot» kafedrasiga dots. T.E.Eshonqulov mudir etib tayinlangan.

2003 yilda O’zbekiston Respublikasi Vazilar Maxkamasining qaroriga asosan «Menejment» va «Makroiqtisodiyot» kafedralari birlashtirilib «Iqtisodiyot va menejment» kafedrasi tashkil etildi. «Iqtisodiyot va menejment» kafedrasi 2006 yilda «Boshqaruv», 2008 yilda «Ishlab chiqarishda boshqaruv» nomlari bilan faoliyat yuritgan. Bu davrda kafedraga dots. T.E.Eshoinqulov raxbarlik qildi. O’zbekiston Respublikasi Vazilar Maxkamasining 2014 yil 12 iyundagi 157 sonli «Jizzax politexnika instituti tashkiliy tuzilmasini takomillshtirish» to’g’risidagi qaroriga binoan yangidan «Menejment» kafedrasi tashkil etildi. 2015 yildan esa «Transport tizimlarini boshqarish» kafedrasi nomi bilan faoliyat yuritgan. Kafedra 2017 yildan-2020 yilgacha “Menejment” nomlari bilan faoliyat yuritgan. Kafedra 2020 yildan “Iqtisodiyot va menejment” kafedrasi nomi bilan faoliyat yuritmoqda.

Kafedrada 3 nafar fan doktori va professor, 7 nafar fan nomzodlari va dotsentlar, 10 nafar katta o’qituvchlar, 11 nafar assistentlar, bir nafar kabinet mudiri faoliyat ko’rsatmoqdalar.

Kafedra mudiri S. Abdunazarov raxbarligida fan doktorlari va professorlari O. Abdullayev, J.Х.Bobonazarova, N.I.Saidaxmedova, fan nomzodlari va dotsentlar R.Xidoyatov, B.Kattakisiyev, B.A.Muxtorov, M.P.Tsoy, A.М.Kuchimov, D.S.Saidaxmedova, katta o’qituvchilar Sh.G`.Rasulova, Z.О.Umarova, M.Y.Siddiqov, F.Ya.Obidova, J.I. Nasriddinov, S. А. Bozorova, D. B. Jabborov, D. F. Bayzakova, T. А. Berdiyorov, I. А. Tursunqulov, O. А. Arziqulov, assistentlar F.A.Aziztoyeva, Z. М. Jabborova, Sh. Sh. Rasulov, D. D. Norboyeva, D. T. Komilov, O`.Norboyev, Sh.Saloxitdinov, D.Xushvaqtov, O`. Xolbo`tayev, Y.Ortiqov, I.Yo`ldasheva talabalar bilan o‘quv, o‘quv-uslubiy, ma’naviy -ma’rifiy ishlarni olib borishmoqda. Kafedradа O. Abdullayev, J.Х.Bobonazarova, N.I.Saidaxmedovalar doktorlik dissertatsiylarini himoya qildilar. Kafedrani ilmiy saloxiyati 39 % tashkil qiladi.

Kafedrada bakalavriatning 5230200- “Menejment”, 5230900- “Buxgalteriya hisobi va audit” ta’lim yo’nalishi bo’yicha, magistratura mutaxassisligining 5A230201-Menejment mutaxassisligi bo`yicha kadrlar tayyorlanadi, shuningdek institutdagi barcha ta’lim yo`nalishlarini iqtisodiy fanlaridan mashg`ulotlar olib boriladi.
Bakalavriatning 5230200- “Menejment”, 5230900- “Buxgalteriya hisobi va audit” ta’lim yo’nalishi bo’yicha hamda magistratura mutaxassisligining 5A230201-Menejment mutaxassisligini tamomlagan mutaxassislar korxona, tashkilot, muassasalarda menejer lavozimida ishlash va iqtisodiy yo`nalishlar bo’yicha magistraturaga o’qishga kirish imkoniga ega bo’ladilar.
            </p>

        </div>
    </div>
</div>



{% endblock content %}




