{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/yolmux.jpg" %}">
                </div>
                <div class="right">
                    <p>Yo’l muxandisligi» kafedrasi mudiri</p>
                    <p><b> G’aniev Inomjon G’ulomovich</b></p>
                    <p><b>Qabul vaqti:</b> haftaning Dushanba va juma kunlari soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b> (+99897) 702-74-04</p>
                    <p><a href=" ganiev.inomjon@gmail.com" class="poshta" ><b> E-mail: </b> ganiev.inomjon@gmail.com</a> </p>
                </div>
            </div>
            <p>
                
               <br><b>&nbsp;&nbsp; Yo’l muxandisligi  kafedrasi tarixi</b><br>
               
               «Bino va inshootlar qurilishi» kafedrasi negizida 2008-yil 5340600-«Transport inshootlari ekspluatatsiyasi» yo’nalishi ochilgan bo’lib, Transport inshootlarining ekspluatatsiyasi (transport turlari bo’yicha) yo’nalishiga talab oshganini hisobga olib 2010-yil sentyabr oyidan boshlab «Bino va inshootlar qurilishi» kafedrasi negizidan «Avtomobil yo’llari va harakat xavfsizligi» kafedrasi ajralib alohida kafedra bo’lib chiqdi.

               2011-yili kafedrada yangi 5340800-«Avtomobil yo’llari va aerodromlar» yo’nalishiga qabul boshlandi. 2012-yildan boshlab kafedra qoshida 5A340602-«Avtomobil yo’llari va aerodromlarni ta’mirlash va saqlash» mutaxassisligi bo’yicha magistraturaga qabul boshlandi.
               
               2012-2013 o’quv yilida Vazirlar Mahkamasi qarori bilan kafedra nomi «Avtomobil yo’llari» deb o’zgartirildi va kafedra mudiri etib dots. Adilov Oqbo’ta Karimovich tayinlandi.
               
               2013-2014 o’quv yillarida kafedra mudiri lavozimida dots. Berdiqulov A’zam Mardonovich boshqarib bordi.
               
               2014-2017 o’quv yillarida kafedra mudiri lavozimida dots. Hamraqulov Ravshan Jabborovich boshqarib bordi.
               
               Kafedrada 2017-2018 yillarda kafedra mudiri lavozimida dots. G’aniev In’omjon G’ulomovich olib bordi. Kafedrada 2018-yil 12 aprelidan kafedra mudiri etib Erboyev Shavkat Ochiltoshevich tayinlandi 2018 -2020 yillarda kafedra mudiri lavozimida ishladi.
               
               2020 yil 10 avgustda G’aniev Inomjon G’ulomovich Yo’l muxandisligi kafedra mudiri etib tayinlandi.
               
               Bugungi kunda kafedrada 5340600-«Transport inshootlarining ekspluatatsiyasi»
               
               5340600-«Yol muxandisligi»  va 5340800-«Avtomobil yo’llari va aerodromlar» bakalavr yo’nalishi, «5A30601-«Transport inshootlari ekspluatatsiyasi» (Avtomobil yo’llari bo’yicha) hamda 5A340801-«Avtomobil yo’llari va aerodromlar (umumiy foydalanishdagi avtomobil yo’llari va aerodromlar )» magistratura mutaxassisligi bo’yicha jami 433 ta talaba va magistrlar ta’lim olmoqda. Shulardan: 104 ta talaba grand asosida, 312 ta talaba to’lov kontrakt asosida, 9 ta magistr grand asosida, 8 ta magistr to’lov kontrakt asosida tahsil olmoqda.
                <br><b>&nbsp;&nbsp; Bakalavr yo’nalishlari:</b><br>
                5340600-«Transport inshootlarinin gekspluatatsiyasi (transport turlari bo’yicha)» yo’nalishi

                5340800-«Avtomobil yo’llari va aerodromlar» yo’nalishi
               <br><b>&nbsp;&nbsp; Magistratura mutaxassisligi:</b><br>
               5A30601-«Transport inshootlari ekspluatatsiyasi» (Avtomobil yo’llari bo’yicha)

                5A340603-«Avtomobil yo’llari va aerodromlar (umumiy foydalanishdagi avtomobil yo’llari va aerodromlar )»
                <br><b>&nbsp;&nbsp; Erishilgan ilmiy natijalar:</b><br>
                Kafedra qoshida Qurilish mahsulotini sinash akkreditatsiyalangan laboratoriyasi faoliyatini muvaffaqiyatli davom ettirmoqda. Mazkur laboratoriya davomida magistrantlar va iqtidorli talabalar ilmiy tadqiqot ishilari bo‘yicha dasturlar asosida ilmiy natijalariga ega bo‘lmoqdalar.

                “Yo’l muxandisligi” kafedrasi tomonidan olib borilayotgan ilmiy-tadqiqot faoliyati doimiy ravishda institut ilmiy va ilmiy-uslubiy kengashlari yig‘ilishlarida muhokama qilingan hamda tegishli qarorlar qabul qilingan.

 
                <br><b>&nbsp;&nbsp; Yangi 2019-2020 yil uchun quyidagi tadbirlarni amalga oshirish rejalashtirilgan:</b><br>
                – kafedra ilmiy salohiyatini 50% ga yetkazish yo‘llarini izlash;<br>

– ustaqil tadqiqotchilar dissertatsiyalarining bajarilish ahvoli haqida fakultetlari lmiy kengash yig‘ilishlarida atroflicha muhokama qilish va tegishli qarorlar qabul qilish;<br>

– kafedrada davlat grantlari, korxona va tashkilotlar buyurtmasi (shartnoma) asosida tegishli ixtisoslik va mutaxassisliklar bo‘yicha mutaxassis ilmiy-pedagogik kadrlar tayyorlovchi, doktorlik dissertatsiyasini himoya qilishga, ilmiy-tadqiqot natijalarini amaliyotga joriy etishga, ixtiro va ratsionalizatorlik takliflari bo‘yicha hujjatlarni tayyorlash va rasmiylashtirishga ko‘maklashish;

– kafedra professor-o‘qituvchilari tomonidan yaratilayotgan innovatsion ishlanmalarni ishlab chiqarishda tatbiq etish masalalarini amalga oshirish;<br>

– kafedrada xalqaro miqyosdagi ilmiy-amaliy anjuman o‘tkazish;<br>
Iqtidorli talabalar va yosh olimlarni turli xil anjuman va tanlovlarda faolishtirok etishini ta’minlash;<br>

– O‘zbekiston Respublikasi Fanlar Akademiyasi bilan hamkorlikda talabalarni tajriba konstruktorlik va ilmiy-tadqiqot ishlariga jalb qilishga alohida e’tibor qaratish;<br>

Transport inshootlarini faqulotda vaziyatlarda texnik boshqarish.
Bugungi kunda iqtidorli talabalar ilmiy-tadqiqot ishlariga jalb qilinmoqda.
Kafedrada o‘tiladigan fanlar bo‘yicha ilg‘or pedogogik va axborot texnologiyalardan samarali foydalanilmoqda.

O‘quv yili davomida talabalarga har taraflama chuqur bilim berish maqsadida yangi pedagogik va axborot texnologiyalardan unumli foydalanishga asosiy e’tibor qaratildi. Hamma fanlardan ko‘rgazmali qurollar, elektron slaydlar tayyorlangan va institut ARM bazasiga kiritilgan.

Kafedrada yaratilgan o‘quv qo‘llanmalar, uslubiy ko‘rsatmalar, elektron slaydlar har oyda Ziyonet elektron tarmog‘iga joylashtirilb kelinmoqda.
Shuningdek kafedradagi maxsus fanlardan etishmagan o‘quv adabiyotlar bo‘yicha shu o‘quv yili davomida 2 ta o‘quv qo‘llanma kafedra o‘qituvchilari tomonidan ishlab chiqilib o‘quv jarayoniga qo‘llanildi.

Kafedrada o‘qitiladigan fanlar zamonaviy pedagogik va axborot texnologiyalari asosida tashkil etilmoqda. Ma’ruza va amaliy mashg‘ulotlarda multimediya, prezentatsiya, ish o‘yinlari qo‘llanilmoqda. Ma’ruza mashg‘ulotlarining 25% dan ortig‘i muammoli tarzda tashkil etilib, ularda talabalarning faolligi ta’minlanmoqda. Buning natijasida kafedrada o‘qitiladigan fanlar bo‘yicha talabalarning o‘rtacha o‘zlashtirish ko‘rsatkichi yildan yilga ortib bormoqda. Talabalar bilimini baholashning reyting tizimiga qat’iy amal qilinmoqda. Mustaqil ta’lim uchun ajratilgan soatlar hajmida talabalar slayd, krossvord, test va ilmiy maqolalar tayyorlab o‘z reyting ballarini oshirishga erishmoqdalar.

Dotsent R.Hamraqulov 2019 yil mart oyida Moskva shahri MADIda malaka oshirib qaytdi.

Katta o‘qituvchi O.Zafarov 2019 yil 4.03-12.04 kunlari Xindiston davlatining “Entrepreneurship Development Institute of India” institutida “Industrial Infrastructure and Sustanaible Project preparation and Appraisal” dasturi bo‘yicha malaka oshirib qaytdi.

Katta o‘qituvchi R.Bobojonov 2019 yilda O‘zbekiston Respublikasi Vazirlar Mahkamasi huzuridagi “El-yurt umidi” jamg‘armasi granti asosida, Belorus Respublikasi Minsk shahridagi stajirovkada bo‘lib maxsus № 0019022 raqamli guvohnoma va sertifikatni olgan. Belorus milliy texnika Universitetining “Avtomobil yo‘llari” kafedrasida 8 soatlik ma’ruza, 4 soat amaliy va 6 soatlik laboratoriya darslarini jami 18 soat dars o‘tgan. Ma’lumotnoma № 114-06-55/003 yanvar oyining 13 sanasi 2020 yil. Belorus milliy texnika Universitetining “Avtomobil yo‘llari” kafedrasida 2019 yilning 18 dekabrida “Master klass” va 2020 yilning 10 yanvarida ham “Master klass” darslarini o‘tib tegishli sertifikatlarini olib kelgan.

Assistant E. Urushbayev 2019 yil 23 sentyabrdan 2020 yil 18 yanvargacha O‘zbekiston Respublikasi Prizdenti Xuzuridagi Davlat boshqaruvi akademiyasi qoshidagi Yoshlar muammolarini o‘rganish va istiqbolli kadrlarni tayyorlash institutining “Istiqbolli kadrlarni qayta tayyorlash” kursida ta’lim olib, Oliy ta’lim muassasalarida o‘quv jarayonlarini rivojlantirish tizimini takomillashtirish mavzusida 4 oylik qayta tayyorlov kursini muvaffaqiyatli tamomlab keldi.

2019/20 o‘quv yilida kafedraning 3 nafar o‘qituvchilari reja asosida Toshkent arxitektura-qurilish instituti qoshidagi tarmoq qayta tayyorlash va malaka oshirish markazida, “Avtomobil yo‘llari va aerodromlar” yo’nalishi bo‘yicha 2020 yilning 1 martidan 28 aprelgacha qayta tayyorlash va malaka oshirish kursidan o‘tdilar.
               
            </p>

        </div>
    </div>
</div>



{% endblock content %}




