{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/matem.jpg" %}">
                </div>
                <div class="right">
                    <p>Oliy matematika kafedrasi mudiri</p>
                    <p>PhD, dotsent<b>Usanov Mehriddin Mustafayevich</b></p>
                    <p><b>Qabul vaqti:</b>  haftaning Chorshanba va Juma kunlari soat 15:00 dan 17:00 gacha.</p>
                    <p><b>Telefon:</b> +998(97) 644-35-00</p>
                    <p><a href="mehriddin.usanov.91@bk.ru" class="poshta" ><b> E-mail: </b>mehriddin.usanov.91@bk.ru</a> </p>
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp;KAFEDRA HAQIDA MA’LUMOT:</b><br>

                “Oliy Matematika” kafedrasi 1978-yil mart oyida Toshkent Politexnika instituti Jizzax umumtexnika fakulteti umum ta`lim fanlari kafedrasi qoshida tashkil etildi. 1978-2017 yillarda kafedraga fizika-matematika fanlari nomzodi, dotsent M.Mansurov, texnika fanlari nomzodi T.Eshonqulov, fizika matematika fanlari nomzodlari: A.O.Musayev, A.Hamroqulov, B.Bobonazarov, A.Sh.Berdiyorov, U.A.Soatov, texnika fanlari nomzodi A.Abdulxalikov va katta o`qituvchi S.Murodovlar mudirlik qildilar. Kafеdraning tuzilishi va rivojlanishida fizika matematika fanlari nomzodi, dotsent M.Mansurov, A.O.Musayev, A.Abdulxalikovlar katta hissa qo‘shgan. 2017 yilning iyun oyidan boshlab kafedraga fizika matematika fanlari nomzodi Azamat Shodiyevich Berdiyorov mudirlik qilib kelmoqda.

1988-1994 yillari kafedraga f.m.f.n. A.O.Musayev mudirlik qildilar. Bu yillar davomida kafedra a’zolaridan besh nafari fan nomzodligi dissertatsiyalarini muvaffaqiyatli himoya qildilar va kafedra ilmiy salohiyati 70% ni tashkil etdi. Besh yil davomida kafedra a’zolari tomonidan 60 dan ortiq ilmiy maqolalar 40 dan ziyod o‘quv-uslubiy qo‘llanma, ko‘rsatmalar yaratildi. Kafedra a’zolari dastlab filial, so‘ngra 1992 yildan yangi tashkil etilgan Jizzax Politexnika institutining turli bo‘g‘inlarida faoliyat yurita boshladilar.

2010 – 2016 yillar mobaynida kafedra yosh o‘qituvchilari R.Mirzaqobilov, T.Haydarov, H. Alimov, S.Sharipov, K.Axadova, B.Rahimov va A.Ne’matovlar orqali yoshartirildi. Bu yosh mutaxassislar qisqa vaqt ichida o’z ilmiy-tadqiqot izlanishlarini aniqladilar va mamlakatimiz poytaxtidagi nufuzli oliy o‘quv yurtlari Milliy universitet, Texnika universiteti olimlari bilan uzviy ilmiy-tadqiqot ishlarini boshladilar. Kafedra ilmiy salohiyatini oshirish va uni yosh olimlar bilan ilmiy-uslubiy barqarorligini ta’minlash borasida keng qamrovli o‘quv-uslubiy izlanish ishlari olib borilmoqda.

2012-2016 yillarda f.m.f.n., dotsent E.A.Saliyev kafedrada ishladi. Hozirgi vaqtda “Разработка алгоритмов програмного обиспечения обработки и анализа изображений на основе теории нечотких множиств” mavzu bo‘yicha doktorlik dissertatsiyasini himoya qilish arafasida.

2016-yil sentabrdan kafedraga f.m.f.d., professor S.Otaqulov ishga taklif etildi. Bu yetuk olim mehnat faoliyatini boshlagandan yosh o‘qituvchilar B.Rahimov va T.Haydarovlarning ilmiy ishiga kerakli maslahatlarini berib kelmoqda.

Kafedra a`zolarining ilmiy ishlari Rossiya, Ukraina, AQSH va boshqa davlatlar hamda Respublikamizning nufuzli ilmiy jurnallarida chop etilgan.
<br><b>&nbsp;&nbsp;KAFEDRADA O’QITILADIGAN FANLAR:</b><br>
1.Matematika,<br>
2.Matematika I,II,<br>
3.Oliy matematika,<br>
4.Iqtisodchilar uchun matematika
<br><b>&nbsp;&nbsp;KAFEDRADA OLIB BORILAYOTGAN ILMIY ISHLAR</b><br>
Kafedraning ilmiy—tadqiqot faoliyatining ustivor yo‘nalishi “Dinamik tizim parametrlariga oid axborot to’liqsizligi va o’yin vaziyatlarini hisobga oluvchi boshqarish va optimallashtirish masalalari matematik modellarning tadqiqi” (Исследование математических моделей задач управления и оптимизации, учитываюших неполноты информации о параметрах динамической системы и игровых ситуаций) mavzusida.Bundan tashqari kafedra professor-o’qituvchilari quyidagi uch yo‘nalish bo’yicha ilmiy izlanish olib bormoqda.<br>
1.“Texnika oliy o‘quv yurtlarida oliy matematikani o‘qitish muammolari”<br>
2.“Matematikaning texnik masalalarga tadbiqlari”<br>
3.“Matematikaning klassik masalalari”.
 
           
</p>

        </div>
    </div>
</div>



{% endblock content %}




