{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/kimkaf.jpg" %}">
                </div>
                <div class="right">
                    <p>Kimyo kafedrasi mudiri</p>
                    <p>kimyo fani bo’yicha falsafa doktori (PhD )<b> Haqberdiev Shuxrat Maxramovich</b></p>
                    <p><b>Qabul vaqti:</b> Dushanba va juma kunlari soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b> +99893-650-91-99</p>
                    <p><a href="h.shuxrat81@mail.ru" class="poshta" ><b> E-mail: </b>h.shuxrat81@mail.ru</a> </p>
                </div>
            </div>
            <p>
                Xakberdiyev Shuxrat 1981 yilda tug’ilgan, millati o’zbek, ma’lumoti oliy, kimyo fanlari bo’yicha (PhD) falsafa doktori, 2007 yilda Jizzax davlat pedagogika institutini kimyo mutaxassisligi bo’yicha magisrtaturani tamomlagan, 2010 yil Mirzo Ulug’bek nomudagi O’zbekiston milliy universiteti stajyor-tadqiqotchi izlanuvchisi, 2013 yil Mirzo Ulug’bek nomudagi O’zbekiston milliy universiteti katta ilmiy xodim izlanuvchisi, 2017 yidan JizPI “Kimyo” kafedrasi mudiri.

                Xakberdiyev Shuxrat 80 ta ilmiy-metodik ishlar, shu jumladan, 21 ta o’quv-metodik ishlar, 1 ta monografiya, 3 ta elektron darsga potent va 1 ta o’quv qo’llanma muallifi. Ilmiy ishlari Angliya, Xindiston, Avstriya, Rossiya davlatlari imiy jurnallarida chop etilgan.
                <br><b>&nbsp;&nbsp; Kimyo kafedrasi tarixi</b><br>
                “Kimyo” kafedrasi 2017 yil 10 oktayabrda tashkil etildi va kafedra mudiri etib Xakberdiyev Shuxrat Mavramovich tayinlandi.

                Bugungi kunda kafedrada 53420400 – «Kimyoviy texnologiya» bakalavr yo’nalishi bo’yicha jami   ta talabalar ta’lim olmoqda. Shulardan:   ta talaba grand asosida,    ta talaba to’lov kontrakt asosida tahsil olmoqda.
                <br><b>&nbsp;&nbsp; Erishilgan ilmiy natijalar:</b><br>
                “Kimyo” kafedrasi professor-o`qituvchilari  2021 – 2024 yilda ilmiy–tadqiqot faoliyati va ilmiy pedagogik kadrlar tayyorlash borasida keng ko`lamda faoliyat ko`rsatib,  bir qancha ijobiy ishlarni amalga oshirdilar. 2021 yil 23 sentabr kuni Bobomurodova Sanobar Yunusovna texnika fanlari bo’yicha nomzodlik dissertatsiyasini muvaffaqiyatli himoya qildi.  Kafedra professor-o`qituvchilari tomonidan xorijiy ilmiy jurnallarda, ОАК tasarufidagi jurnallarda, SCOPUS tasarufidagi jurnallarda va turli konferensiyalarada maqolalar nashrdan chiqarib kelmoqda.
                <br><b>&nbsp;&nbsp; 2021-2024 YIL UCHUN QUYIDAGI TADBIRLARNI AMALGA OSHIRISH REJALASHTIRILGAN:</b><br>
                – kafedra ilmiy salohiyatini 50% ga yetkazish yo‘llarini izlash;<br>
                -mustaqil tadqiqotchilar dissertatsiyalarining bajarilish ahvoli haqida fakul`tetlar ilmiy kengash yig‘ilishlarida atroflicha muhokama qilish va tegishli qarorlar qabul qilish;<br>
                – kafedrada davlat grantlari, korxona va tashkilotlar buyurtmasi (shartnoma) asosida tegishli ixtisoslik va mutaxassisliklar bo‘yicha mutaxassis ilmiy-pedagogik kadrlar tayyorlovchi, doktorlik dissertatsiyasini himoya qilishga, ilmiy-tadqiqot natijalarini amaliyotga joriy etishga, ixtiro va ratsionalizatorlik takliflari bo‘yicha hujjatlarni tayyorlash va rasmiylashtirishga ko‘maklashish;
                -kafedra professor-o‘qituvchilari tomonidan yaratilayotgan innovatsion ishlanmalarni ishlab chiqarishda tatbiq etish masalalarini amalga oshirish;<br>
                -kafedrada xalqaro miqyosdagi ilmiy-amaliy anjuman o‘tkazish;<br>
                iqtidorli talabalar va yosh olimlarni turli xil anjuman va tanlovlarda faol ishtirok etishini ta’minlash;<br>
                -O‘zbekiston Respublikasi Fanlar Akademiyasi bilan hamkorlikda talabalarni tajriba konstruktorlik va ilmiy-tadqiqot ishlariga jalb qilishga alohida e’tibor qaratish;<br>
                – kafedra professor-o‘qituvchilari tomonidan yaratilayotgan innovatsion ishlanmalarni, ilmiy-tadqiqot ishlarini ommaviy axborot vositalarida yoritish.<br>
                -Kafedraga qarashli guruhlarning iqtidorli talabalari bilan professor-o‘qituvchilar muntazam ishlash, ilmiy-amaliy yordam ko’rsatish.<br>
                Kafedrada o‘tiladigan fanlar bo‘yicha ilg‘or pedogogik va axborot texnologiyalardan samarali foydalanilmoqda.<br>
                O‘quv yili davomida talabalarga har taraflama chuqur bilim berish maqsadida yangi pedagogik va axborot texnologiyalardan unumli foydalanishga asosiy e’tibor qaratildi. Hamma fanlardan ko‘rgazmali qurollar, elektron slaydlar tayyorlangan va institut ARM bazasi va HEMIS tizimiga kiritilgan.<br>
                Kafedrada o‘qitiladigan barcha fanlardan zamonaviy pedagogik va axborot texnologiyalari asosida ta’lim texnologiyalari yaratilgan. Hamda kimyo ta’lim yo‘nalishi talabalari uchun zamonaviy kimyoviy laboratori va laboratoriya jihozlari bilan taminlangan.<br>
                Kafedrada yaratilgan o‘quv qo‘llanmalar, uslubiy ko‘rsatmalar, elektron slaydlar har oyda Ziyonet elektron tarmog‘iga joylashtirilib kelinmoqda.<br>

            </p>
            <div class="container">
                <div class="row">
                  <div class="col  mt-3">
                    <img src="{% static "Photos/kimkaf2.jpg" %}" class="kaf-img">
                  </div>
                  <div class="col  mt-3">
                    <img src="{% static "Photos/kimkaf3.jpg" %}" class="kaf-img">

                  </div>
                  <div class="col mt-3">
                    <img src="{% static "Photos/kimkaf4.jpg" %}" class="kaf-img">

                  </div>
                </div>
              </div>

        </div>
    </div>
</div>



{% endblock content %}




