{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                     <img src="{% static "Photos/log.jpg" %}">
                </div>
                <div class="right">
                    <p>Transport logistikasi kafedrasi mudiri</p>
                    <p>Texnika fanlari bo‘yicha falsafa doktori<b> G‘ulom Ibroximovich Mamayev</b></p>
                    <p><b>Qabul vaqti:</b> haftaning Seshanba va Juma kunlari soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b>+99 (899) 567-17-46</p>
                    <p><a href="dgpi-info@edu.uz" class="poshta" ><b> E-mail: </b>dgpi-info@edu.uz</a> </p>  
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp;Transport logistikasi kafedrasi</b><br>
                “Transport logistikasi” kafedrasi 2017-yil “Yer usti transport tizimlari” kafedrasi negizida 5620100- “Tashishlarni tashkil etish va transport logistikasi (avtomobil transporti)” yo‘nalishi hamda 5610100-“Xizmatlar sohasi (avtomobil transporti)” yo‘nalishlarini o‘ziga jamlagan holda, 2016-2017 o‘quv yilida Vazirlar Mahkamasi qarori bilan “Logistika va servis” kafedrasi sifatida ajralib alohida kafedra sifatida faoliyat boshlagan.

2020-2021-o‘quv yillarida kafedraning nomi “Transport logistikasi”ga o‘zgartirildi.

2019-2020-o‘quv yillarida kafedrada O‘zbekiston Respublikasi Prezidentining mashinasozlik va elektrotexnika sanoatini rivojlantirish bo‘yicha amalga oshirilayotgan islohotlarni inobatga olgan xolda “5320200 – Mashinasozlik texnologiyasi, mashinasozlik ishlab chiqarishni jihozlash va avtomatlashtirish” bakalavriat ta’lim yo‘nalishini ochdi.

O‘zbekiston Respublikasining 1997 yildagi 463-I-son Kadrlar tayyorlash milliy dastur kadrlarning yangi avlodini shakllantirishga asosida 2020-2021 o‘quv yillarida kafedrada 70711601- Intellektual transport tizimlari (avtomobil transporti) magistratura mutaxasisligi ochildi.

Bugungi kunda kafedrada 5620100-“Tashishlarni tashkil etish va transport logistikasi (avtomobil transporti)” 5610100-“Xizmatlar sohasi (avtomobil transporti)” bakalavr yo‘nalishida bo‘yicha jami 70711601-Intellektual transport tizimlari (avtomobil transporti) magistratura mutaxassisligi bo‘yicha jami 305 ta talaba va magistrlar ta’lim olmoqda. Shulardan: 60 ta talaba grand asosida, 245 ta talaba to‘lov kontrakt asosida, 6 ta magistr grand asosida, 3 ta magistr to‘lov kontrakt asosida tahsil olmoqda.

“Transport logistikasi” kafedrasida kadrlar tayyorlash milliy dasturi asosida uchta bakalavriat ta’lim yo‘nalishlari bo‘yicha bakalavrlar va bitta magistr mutaxassisligi bo‘yicha magistrlar tayyorlanmoqda.

2021-2022-o‘quv yilidan kafedrada 25 ta professor-o‘qituvchi faoliyat ko‘rsatmoqda. 8 ta dotsent, 5 ta katta o‘qituvchi, 12 ta assistantlar faoliyat olib bormoqda. Kafedra jamoasi oldiga zamonaviy logistik xizmatlarini ko‘rsatish va mashinasozlik yo‘nalishi bo‘yicha yetuk bakalavr va magistrlar tayyorlash, o‘quv uslubiy, ilmiy-tadqiqot ishlari olib borish asosiy vazifalar etib belgilandi.

Kafedra professor-o‘qituvchilari halqaro loyihalarda ham faol ishtirok etib, INTRAS-Intellektual transport tizimlari-O‘zbekistonda axborot kommunikasiyalari texnologiyalariga asoslangan yangi magistratura dasturini yaratish loyihada ishtirok etib kelmoqda.

Kafedra professor-o‘qituvchilari mahalliy loyihalarda ham faol ishtirok etib kelmoqda jumladan “Samarqand aglomeratsiyasiyasi uchun yo‘lovchilar oqimini o‘rganish” loyihasi yutib olindi.

Kafedra professor-o‘qituvchilari xorijiy universitetlarda malaka oshirish hamda bir qarot loyiha asosida ilmiy tatqiqot ishlarni amalga oshirib kelmoqda.

Jumladan kafedra dotsenti Abdunazarov Jamshid Nurmuhammadovich AQShning O‘zbekistondagi elchixonasi va Xalqaro ta’lim bo‘yicha Amerika kengashi tomonidan O‘zbekiston oliy ta’lim muassasalari o‘qituvchilari uchun joriy qilingan “Faculty Enrichment program” dasturi doirasida UW Milwaukee universitetiga 2021-yilning 23-avgustidan 2021 yilning 31-dekabrigacha stajirovka dasturida bo‘lib qaytdi.

Kafedra o‘qituvchisi Nishonov Aziz Oqziqul o‘g‘li 2021-2022 o‘quv yilida Rossiya Federatsiyaning Moskva shahrida joylashgan “Moskva avtomobil yo‘llari insituti (MADI)” da “Международная летняя школа «Дорога #1»” nomli xalqaro yozgi maktab dasturida malaka oshirib keldi.

Kafedrada sportga ham alohida e’tibor qaratilib kelinmoqda. Buning natijasida kafedra o‘qituvchilari Jizzax politexnika instituti rektorining tashabusi bilan o‘tkaziladigan futbol bo‘yicha “Rektor kubogi” musobaqalarida oxirgi yillarda ketma-ket ikki bora kubok sohibiga aylandi.
                <br><b>&nbsp;&nbsp;BAKALAVRIAT</b><br>
                5620100 Tashishni tashkel etish (TTE va TL)<br>
5610100 Xizmatlar sohasi (AT)
                <br><b>&nbsp;&nbsp;KAFEDRADA OLIB BORILAYOTGAN ILMIY ISHLAR</b><br>
                Bultakov Z.T – Tosh maydalovchi mashinalarning ish samaradorligini oshirish<br>
Ravshanov SH.I – Avtotransport korxonalarida chiqayotgan chiqindi gazlarning ekologig xavfsizligini aniqlash.
                <br><b>&nbsp;&nbsp;Elektr texnologiyasi  kafedrasi  tarixi</b><br>
            </p>

        </div>
    </div>
</div>



{% endblock content %}




