{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/iconmen.png" %}">
                </div>
                <div class="right">
                    <p>Elektr texnologiyasi kafedrasi mudiri</p>
                    <p><b>Axmedov Erkin Raxmonovich</b></p>
                    <p><b>Qabul vaqti:</b>  haftaning Dushanba va juma kunlari soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b> +99893-613-85-55</p>
                    <p><a href="  erkin.axmedov.1984@gmail.com" class="poshta" ><b> E-mail: </b>  erkin.axmedov.1984@gmail.com</a> </p>
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp;Elektr texnologiyasi  kafedrasi  tarixi</b><br>
                “Elektr  texnologiyasi” kafedrasining tashkil etilish tarixi 2020-yil   10-avgustda Jizzax politexnika institutida  faoliyat ko’rsatib kelayotgan “Elektroenergetika” kafedrasi tarkibidan ajralib chiqqan. Hozirgi kunda kafedra tarkibida 13 nafar professor-o’qituvchilar faoliyat ko‘rsatib kelmoqdalar. Shu jumladan, 3 nafar    fizika-matematika fan nomzodi va PhD,dotsentlar, 5 nafar katta o‘qituvchi, 5 nafar  assistentlar faoliyat ko’rsatmoqda. Shu kunlarda  kafedra katta o’qituvchilari G.Qo‘shaqov, U.Mirzayev, T.Sa’dullayevlar 05.05.02 “Elektrotexnika.Elektr energiya stansiyalari, tizimlari.Elektrotexnik majmualar va qurilmalar” ixtisoslik bo‘yicha mustaqil tadqiqotchi sifatida ilmiy faoliyat bilan shug’ullanib kelishmoqda.

                “Elektr texnologiyasi” kafedrasida “Yosh elektromexanik” to‘garagi mavjud bo‘lib, hozirgi kunda to‘garakga bakalavriyat talabalaridan 30 nafar talabalar a’zo bo‘lganlar. Kafedradagi barcha professor-o‘qituvchilari to‘garakga a’zo talabalarga biriktirilib, to‘garak ish rejasi, mashg‘ulotlarini olib borish grafigi tuzilgan. Hozirgi kunda kafedrada  60710700 – “Elektr texnikasi, elektr mexanikasi va elektr texnologiyalari (elektr mashinasozlik) ta’lim yo‘nalishi bo‘yicha bakalavrlar tayyorlamoqda.
                <br><b>&nbsp;&nbsp;Xalqaro hamkorlik aloqalar</b><br>
                Shu jumladan kafedrada  Xalqaro Oliy ta’lim muassalari reytingda top-1000 taligidan o‘rin olgan  Turkiya respublikasining  eng nufuzli Oliy ta’lim muassasi bo‘lgan   EGE universiteti  bilan  o‘zaro hamkorlik shartnomasi tuzilgan.Kafedra shu bilan bir qatorda “MEI”MTU, Don texnika universiteti, “TIQXMMI” MTU, TDTU,   hamda “O‘zbekenergo” DAK “Jizzax viloyati hududiy elektr tarmoqlari korxonasi”AJ, “Jizzax Plastmassa”AO,  “Jizzax don maxsulotlari”AJ, “Jizzax Zenatkor temir beton buyumlari” AJ, “Stone lider” MCHJ, Elektro-elenant fayz” MCHJ  ishlab chiqarish korxonalari bilan hamkorlik shartnomalari tuzilgan.Shuningdek kafedraga  Germaniya davlati “Didactic” LEYBOLD korxonasidan eng zamonaviy texnologiyalar asosida yaratilgan laboratoriya jihozilari olib kelingan.

 
                <br><b>&nbsp;&nbsp;Elektr texnologiyasi  kafedrasi  tarixi</b><br>
                <br><b>&nbsp;&nbsp;Elektr texnologiyasi  kafedrasi  tarixi</b><br>
            </p>

        </div>
    </div>
</div>



{% endblock content %}




