{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/eko.jpg" %}">
                </div>
                <div class="right">
                    <p>Ekologiya va atrof muhit muxofazasi kafedra mudiri</p>
                    <p><b>Qiryigitov Xurshid Botirovich</b></p>
                    <p><b>Qabul vaqti:</b> Shanba 10:00 – 12:00</p>
                    <p><b>Telefon:</b> 0372-226-40-00</p>
                    <p><b>E-mail: </b> coding@list.ru</p>
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp;EKOLOGIYA VA ATROF MUHIT MUHOFAZASI KAFEDRASI TARIXI </b><br>

                2001 o‘quv yildan boshlab “Mehnat va atrof muhit muhofazasi” kafedrasi qoshida “Muxandislik komunikatsiya qurilishi” va “Ekologiya va tabiatdan foydalanish” mutaxassisliklariga talabalar qabul qilina boshlandi va 2005 yilda birinchi marta  bu mutaxassisliklar bo‘yicha talabalar bitirib chiqishdi.

                “Ekologiya va atrof muhit muhofazasi”  kafedrasi 2012 yil iyul oyidan boshlab yangi kafedra sifatida faoliyat ko‘rsata boshladi.
                
                2012 yildan boshlab kafedra bazasida 5630100- Ekologiya va atrof muhit muhofazasi,
                
                2019 yildan boshlab 5640200-Mehnat muhofazasi va texnika xavfsizligi mutaxassisligi bo‘yicha malakali kadrlar tayyorlash yo‘lga qo‘yildi.
                
                Kafedrani 2020 yildan boshlab Qiryigitov X. boshqarib kelmoqda.
                <br><b>&nbsp;&nbsp; BAKALAVRIAT  YO‘NALISHI. </b><br>
                Hozirda kafedra 5630100–“Ekologiya va atrof-muhit muhofazasi” yo‘nalishi bo‘yicha bakalavriat mutaxassislarini tayyorlaydi.

                Yo‘nalish – O‘zbekiston uzluksiz ta’lim Davlat ta’lim standartlari, oliy ta’limning Davlat ta’lim standarti, oliy ta’lim yo‘nalishlar va mutaxassislklari klassisfikatoriga kiritilgan. Ta’limning kunduzgi o‘qish shaklida muddati – 4 yil.
                
                Akademik daraja – “Bakalavr”
                
                Bakalavr: – kasblar va lavozimlar milliy klassifikatoriga muvofiq oliy ma’lumotli shaxs egallashi lozim bo‘lgan lavozimlarda ta’limning ushbu yo‘nalishi bo‘yicha mustaqil faoliyat ko‘rsatilishi, ushbu ta’lim yo‘nalishi hamda turdosh ta’lim yo‘nalishlarining magistratura mutaxassisliklari bo‘yicha oliy ta’lim olishni davom ettirishi mumkin va qayta tayyorlash va malaka oshirish tizimida qo‘shimcha kasbiy ta’lim olishga tayyorlangan bo‘ladi.
                
                Kasbiy faoliyat turlari: – 5630100 – Ekologiya va atrof-muhit muhofazasi ta’lim yo‘nalishi bo‘yicha bakalavr o‘zining fundamental, umumkasbiy va maxsus tayyorgarligiga muvofiq quyidagi kasbiy faoliyat turlarini bajarishi mumkin:
                
                loyihaviy – konstruktorlik: – tabiatni muhofaza qiluvchi, sanoat chiqindilarini tozalash, zararsizlantirish va qayta ishlash, apparatura va tozalash inshoatlarini loyihalash, ularga tegishli loyiha xujjatlarini ishlab chiqish va shu kabilar:
                
                ishlab chiqarish – boshqaruv: – tozalash inshoatlarini ishlatish, mahsulot sifatini, mahsulot va yordamchi materiallarini nazorat qilish, texnologiyani takomillashtirish bo‘yicha takliflar kiritish, ishlab chiqarishning ekologik xavsizligini ta’minlash va boshqalar:
                
                eksperemental – tadqiqot: – yangi xavsiz, ekologik toza texnologiyalarni, usullarni va atrof tabiiy muhit komponentlarini muhofaza qilish txnikalari borasida ilmiy-tadqiqot ishlarini rejalashtirish va olib borish.
                
                Kasbiy faoliyatning asosiy jabhalari: – Mamlakatimizning mustaqilligini mustahkamlashda ma’naviy etuk, ilmiy salohiyati kuchli, barkamol yoshlarni tarbiyalash muhim ahamiyatga ega. CHunki, kelajakda mamlakatimizning iqtisodiy qudrati, ilmiy salohiyati mana shu yoshlar qo‘lida bo‘ladi. Ularni boy ma’naviy merosimiz, tarixiy an’analarimiz, milliy va umuminsoniy qadriyatlarga hurmat ruhida, Vatanga muhabbat, istiqlol g‘oyalarga sadoqat ruhida tarbiyalash, ularni etuk malakali mutaxassis qilib chiqarish har bir pedagogik jamoa oldidagi  buyuk vazifadir.
                
                Hozirda kafedra 5640200-Mehnat muhofazasi va texnika xavfsizligi yo‘nalishi bo‘yicha bakalavriat mutaxassislarini tayyorlaydi.
                
                Yo‘nalish – O‘zbekiston uzluksiz ta’lim Davlat ta’lim standartlari, oliy ta’limning Davlat ta’lim standarti, oliy ta’lim yo‘nalishlar va mutaxassislklari klassisfikatoriga kiritilgan. Ta’limning kunduzgi o‘qish shaklida muddati – 4 yil.
                
                Akademik daraja – “Bakalavr”
                
                5640200-Mehnat muhofazasi va texnika xavfsizligi bakalavriyat ta’lim yo’nalishi-fan, ishlab chiqarish va xizmat ko’rsatish sohasidagi yo‘nalish bo’lib, mehnat muhofazasini ta’minlash, inson mehnat va faoliyati uchun qulay texnosferani (inson tomonidan shakllantirilgan muhit) shakllantirish, texnika xavfsizligini ta’minlashning muhim jihatlarini, zamonaviy texnik vositalardan, nazorat usullaridan va prognozlardan oqilona foydalanish hisobiga inson hayoti va sog’lig’ini asrash, xodimlarning mehnat muhofazasi yuzasidan o’qitish va bilimlarni sinash, mehnat bozori infratuzilmasining bilan bog’liq kompleks masalalar majmuasini qamrab oladi.
                
                Yo‘nalish bo’yicha fan, texnika va texnologiyalarning zamonaviy yutuqlari, kadrlar buyurtmachilari talablaridan kelib chiqqan holda bakalavrlarning kasbiy faoliyat sohalarida qo’shimcha va o’zgarishlar bo’lishi mumkin. Bo‘lishi mumkin bo‘lgan qo‘shimcha va o‘zgarishlar muayyan ta’lim yo‘nalishining malaka talablari va o‘quv rejalarni ishlab chiqishda hisobga olinishini nazarda tutiladi.

            </p>

        </div>
    </div>
</div>



{% endblock content %}




