{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/jistar.jpg" %}">
                </div>
                <div class="right">
                    <p>Jismoniy tarbiya kafedrasi mudiri</p>
                    <p><b>Abduvaliyev Xurshid Abdulxayitovich</b></p>
                    <p><b>Qabul vaqti:</b> haftaning seshanba, payshanba va juma kunlari soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b> </p>
                    <p><b>E-mail: </b> </p>
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp;Jismoniy tarbiya kafedrasi</b><br>
                “Jismoniy tarbiya” kafedrasi 1992 yil tashkil etilgan. Kafedraga katta o‘qituvchi R.B.Bozorov rahbarlik qildi. 1993 yildan katta o‘qituvchi A.K.Akilov kafedra mudiri lavozimida ishladi. Jismoniy tarbiya kafedrasi tashkil etilgan paytda institut rektori akad.N.Rashidov tomonidan sport inshoatlari qurishga, sport zalini qayta ta’mirlashiga, sport anjomlari bilan ta’minlanishiga, jismoniy tarbiya va sportni rivojlantirishiga o‘zining mehnati bilan kafedraga har tomonlama yordam ko‘rsatdi. 1995 yildan 2012 yilgacha kafedraga DZYUDO kurashi bo‘yicha sport ustasi katta o‘qituvchi Q.YA.YUsupov rahbarlik qilgan. 2017 yildan Abduvaliev Xurshid Abdulxayitovich kafedrada raxbarlik qilmoqda.
                Institut rahbariyati va kafedra o‘qituvchilari jismoniy tarbiya va sportni takomillashtirish, talabalarni sport to‘garaklarga jalb etish, ularda sport to‘garaklariga jiddiy e’tibor berib, jismoniy tarbiya va sportga oid dasturlar, rejalar tuzildi. Kafedrada kurash, voleybol, stol tennis, qo‘l to‘pi, basketbol, futbol va kichik futbol kabi sport turlaridan to‘garaklarda mashg‘ulotlar o‘tilmoqda.kabi o‘qituvchilar yoshlarni jamiyatga sog‘lom, baquvvat, dovyurak, jasur har tomonlama jismoniy rivojlangan, mehnat va vatan himoyasiga tayyor qilib tarbiyalashda o‘z bilim va mahoratlarini sarflamoqdalar.
                
                Bundan tashqari talabalar muntazam ravishda tibbiy ko‘rikdan o‘tkazilib turiladi, ularning jismoniy tayyorgarligini talabalarga qo‘yilgan talablar, o‘quv mezonlari, test sinovlari “Jismoniy tarbiya va sport Davlat qo‘mitasi” tomonidan joriy qilingan. Institut “Jismoniy tarbiya” kafedrasi tomonidan ommaviy sport tadbirlar rejasi va jadvali tuzilgan.
                
                Jizzax politexnika instituti 2000 yildan 2016 yilgacha “Universiada” sport musobaqalariga qatnashib kelgan va faxriy o‘rinlar egllb kelishdi. Institutimizda 2012 – 2015 yillarda biri – biridan muxtasham jaxon andozalariga mos keladigan kiyinsh xonalar, yuvinish xonalar va sport inshootlari bunyod etildi. Sunniy qoplamali maydonlar, sport zal, trinajyor, kurash zali va boshqa sport inshootlarini yaqin o‘tmishda faqat orzu qilish mumkin edi xolos. Bugun institutimiz faqat iste’dodli sportchi o‘g‘il qizlarni bilangina emas balki yirik turnirlarni musobaqalarni o‘tkaziladigan institut sifatida ham tanildi.
                
                “BARKAMOL AVLOD-2017” SPORT O‘YINLARI JIZZAX – 2017
                “Jismoniy tarbiya” kafedrasi o‘qituvchilari tomonidan sport musobaqalariga tayyorgarlik ko‘rish va o‘tkazish maqsadida qilingan ishlar
                
                “Jismoniy tarbiya” kafedrasi o‘qituvchilari va xodimlari “Barkamol avlod-2017” sport musobaqalariga tayyorgarlik qilish va o‘tkazish bo‘yicha qo‘yidagi ishlarni amalga oshirdilar.
                
                Futbol maydoni tayyorlandi, yangi darvoza o‘rnatildi, 300 kishilik tribuna, elektron tablo o‘rnatildi. Voleybol maydoni, Tennis kort tashkil qilindi. Gimnastika shaxarcha atrofiga yugurish yo‘lakchasi yangitdan qurildi. Sport zalga tegishli kiyinish xonasi ta’mirlandi. 82 ta shkafga ilgichlar o‘rnatildi, yorig‘lik chiroqlari o‘zgartirildi, Dush xonalardagi 21 ta setkasi yangilandi to‘liq, suv va oqova tizimi ta’mirlandi. Karidor, fae, o‘qituvchilar xonalari 100% ta’mirlandi. Sport zalga zaxira chiqish zinalari ham to‘liq ta’mirlandi. YOng‘in havfsizligi bo‘yicha anjomlar joylashtirildi. Barcha ishlarda kafedra mudiri Abduvaliev X. tomonidan rahbarlik qilindi va Futbol maydonini tayyorlandi. Aloxida sport turlari bo‘yicha Xodjimatov V. Voleybol sport turi bo‘yicha sport zalni sport musobaqaga tayyorladi va osoishda chiroyli qilib musobaqani o‘tkazdi. Sport musobaqalar 25 may kuni boshlandi.
                
                Yakunda “Barkamol Avlod- 2017” sport musobaqalari juda qiziqarli o‘tdi. Barcha qatnashgan sportchilarga sport majmua va xududimiz yoqdi. Lekin sport majmuaga berilgan sport anjomlari afsuskiy qaytarilmoqda.
                
                Institutimizda professor – o‘qituvchi, xodim va talabalarga jismoniy tarbiya va ularning sog‘liqlarini mustahkamlash tadbirlari butun o‘quv yili davomida o‘quv mashg‘uloti, jismoniy tarbiya, sport, jismoniy mashqlar bilan professor – o‘qituvchi, xodim va talabalarni mustaqil ravishda shug‘ullanishi, ommaviy sog‘lomlashtirish, jismoniy tarbiya va sportning har xil turlari bilan sport to‘garaklarida shug‘ullanish sifatida olib boriladi. Jismoniy tarbiya va sport nafaqat jismoniy balki ma’naviy kamolotga etishishda ham muxim omildir. U irodani toblaydi, aniq maqsad sari intilish, qiyinchiliklarni bardosh va chidam bilan engishga o‘rgatadi. Inson qalbida g‘alabaga ishonch, g‘urur va iftixor tuyg‘ularini tarbiyalaydi.
            </p>

        </div>
    </div>
</div>



{% endblock content %}




