{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/umumtex.jpg" %}">
                </div>
                <div class="right">
                    <p>Umumtexnika fanlari kafedrasi mudiri</p>
                    <p><b>Turmatov Jaloliddin Raxmatullayevich</b></p>
                    <p><b>Qabul vaqti:</b> haftaning Seshanba va juma kunlari soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b> (+99897) 523-76-76</p>
                    <p><a href="jalol7619@mail.ru" class="poshta" ><b> E-mail: </b> jalol7619@mail.ru</a> </p>
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp; UMUMTEXNIKA FANLARI kafedrasi tarixi</b><br>
                1977 yil Toshkent Politexnika instituti qoshida Umutexnika fanlari fakulteti va shu fakultet tasarrufida “Umumtexnika” va “Umumta`lim” kafedralari tashkil etilgan. “Umumtexnika” kafedrasiga dots. Soatov M mudir etib tayinlandi.

1978 yil ToshPI ning Jizzax filiali tashkil etilgandan keyin “Umumtexnika” kafedrasidan “Texnik mexanika” kafedrasi ajralib chiqdi va kafedraga dots. M.Hazratqulov mudir etib tayinlandi.

1992 yil Jizzax politexnika instituti tashkil etilishi munosabati bilan “Texnik mexanika” kafedrasi “Nazariy va amaliy mexanika” kafedrasiga aylantirildi va kafedra mudiri lavozimiga dots. X.X.Igamberdiyev tasdiqlandi.

Institutda talabalar sonining va kafedrada o`qitiladigan fanlarning oshishi tufayli turli yillarda kafedra “Yengil sanoat texnologiyalari va mexanika” kafedrasi (kaf. mud. dots. X.X.Igamberdiyev), “Mexanika” kafedrasi” (kaf. mud. dots. A.SH.Berdiyorov), “Umummuhandislik fanlari” kafedrasi (kaf. mud. dots. M.H.Raxmatullayev), “Umummuhandislik fanlari va qishloq xo`jaligini mexanizatsiyalashtirish” kafedrasi (kaf. mud. dots. G`.G`.Egamnazarov), “Umummuhandislik fanlari, metrologiya va standartlashtirish” kafedrasi” (kaf. mud. dots. X.X.Igamberdiyev), “Umumtexnika fanlari” kafedrasi (kaf. mud. dots. A.X.Zokirov), “Umumtexnika fanlari” kafedrasi (kaf. mud. dots.М.А.Aynaqulov) nomlari bilan faoliyat yuritgan.

Hozirgi kunda kafedrada 23 ta professor-o’qituvchi faoliyat ko’rsatmoqda. 6 ta fan nomzodi, dotsentlar, 5 ta katta o’qituvchi, 9 ta assistent, 3 ta o’rindoshlar. Kafedra jamoasi oldiga yetuk kadrlar tayyorlashda o’quv uslubiy, ilmiy-tadqiqot ishlari olib borish kabi vazifalar belgilab berilgan.

Kafedrada “Nazariy mexanika”, “Texnik mexanika”, “Amaliy mexanika”, “Mexanika”, “Qurilish mexanikasi”, “Materialshunoslik”  kabi fanlar o’tiladi. O’tiladigan barcha fanlardan o’quv jarayoniga mos holda o`quv-uslubiy materiallar tayyorlangan. Barcha fanlardan materiallal masofaviy ta`lim uchun “Moodle” tizimiga kiritilgan.

Erishilgan ilmiy natijalar:

Oxirgi uch yilda kafedra professor-o’qituvchilari tomonidan 12 ta ilmiy maqola xalqaro ilmiy jurnallarda, 30 dan ortiq ilmiy maqola va tezislar xalqaro anjumanlarda, 19 ilmiy maqola Respublika mulk agentligining 2 ta guvohnomasi olindi.

Talabalarga har tomonlama chuqur bilim berish maqsadida kafedrada o‘qitiladigan fanlarda yangi pedagogik va axborot texnologiyalardan unumli foydalanishga asosiy e’tibor qaratildi. Fanlardan ko‘rgazmali qurollar, elektron slaydlar tayyorlangan va institut ARM bazasiga kiritilgan.

Kafedrada yaratilgan o‘quv qo‘llanmalar, uslubiy ko‘rsatmalar, elektron slaydlar har oyda Ziyonet tarmog‘iga joylashtirilb boriladi. Shuningdek kafedradagi maxsus fanlardan yetishmagan o‘quv adabiyotlar bo‘yicha shu o‘quv yili davomida 2 ta o‘quv qo‘llanma kafedra o‘qituvchilari tomonidan ishlab chiqilib, o‘quv jarayoniga qo‘llanilmoqdi.

Kafedrada o‘qitiladigan fanlardan ma’ruza mashg‘ulotlarining 25% dan ortig‘i muammoli tarzda tashkil etilib, ularda talabalarning faolligi ta’minlanmoqda. Buning natijasida kafedrada o‘qitiladigan fanlar bo‘yicha talabalarning o‘rtacha o‘zlashtirish ko‘rsatkichi ortib bormoqda. Talabalar bilimini baholashning reyting tizimiga qat’iy amal qilinmoqda. Mustaqil ta’lim uchun ajratilgan soatlar hajmida talabalar slayd, krossvord, test va ilmiy ma`ruzalar tayyorlab o‘z reyting ballarini oshirishga erishmoqdalar.

2019/20 o‘quv yilida kafedraning 2 nafar o‘qituvchilari reja asosida O`zMU huzuridagi tarmoq (mintaqaviy) markazida, “Mexanika” yo’nalishi bo‘yicha malaka oshirib keldi.
            <br><b>&nbsp;&nbsp; Yangi 2020-2021 o`quv yili uchun quyidagi tadbirlarni amalga oshirish rejalashtirilgan:</b><br>
            – kafedra ilmiy salohiyatini 50% ga yetkazish yo‘llarini izlash;<br>

– mustaqil tadqiqotchilar dissertatsiyalarining bajarilish ahvoli haqida fakultetlari lmiy kengash yig‘ilishlarida atroflicha muhokama qilish va tegishli qarorlar qabul qilish;<br>

– kafedrada davlat grantlari, korxona va tashkilotlar buyurtmasi (shartnoma) asosida tegishli ixtisoslik va mutaxassisliklar bo‘yicha mutaxassis ilmiy-pedagogik kadrlar tayyorlovchi, doktorlik dissertatsiyasini himoya qilishga, ilmiy-tadqiqot natijalarini amaliyotga joriy etishga, ixtiro va ratsionalizatorlik takliflari bo‘yicha hujjatlarni tayyorlash va rasmiylashtirishga ko‘maklashish;<br>

– kafedra professor-o‘qituvchilari tomonidan yaratilayotgan innovatsion ishlanmalarni ishlab chiqarishda tatbiq etish masalalarini amalga oshirish;<br>

– kafedrada a`zolari, yosh olimlar va iqtidorli talabalarning  xalqaro miqyosdagi ilmiy-amaliy anjumanlarda va tanlovlarda ishtirokini ta`minlashish;<br>

– O‘zbekiston Respublikasi Fanlar Akademiyasi bilan hamkorlikda talabalarni tajriba konstruktorlik va ilmiy-tadqiqot ishlariga jalb qilishga alohida e’tibor qaratish.<br>

Kafedra faoliyatidan namunalar.
        </p>

        </div>
    </div>
</div>



{% endblock content %}




