{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/muxkom.jpg" %}">
                </div>
                <div class="right">
                    <p>Muhandislik va kompyuter grafikasi kafedrasi mudiri</p>
                    <p>Iqtisod fanlari nomzodi<b> Aynaqulov Muxitdin Abduxamidovich</b></p>
                    <p><b>Qabul vaqti:</b> haftaning seshanba, payshanba va juma kunlari soat 10:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b> ...</p>
                    <p><b>E-mail: </b> ...</p>
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp; Muhandislik va komyuter grafikasi kafedrasi tarixi</b><br>
                «Muhandislik va komyuter grafikasi» kafedrasi tarixi
                Oliy va o‘rta maxsus ta’lim vazirligi tomonidan 2020 yil 1 iyuldagi Jizzax Politexnika institutini qayta tasdiqlangan strukturasini joriy etish to‘g‘risida Jizzax Politexnika instituti ilmiy kengashining 2020 yil 28 avgustdagi 1-sonli qarori asosida “Umumtexnika fanlari” kafedrasi tarkibidan ajralib chiqdi va kafedra nomi “Muhandislik va kompyuter grafikasi” kafedrasi deb nomlandi. “Muhandislik va kompyuter grafikasi” kafedrasi Jizzax Politexnika instituti “Qurilish materiallari muhandisligi” fakulteti tasarrufidagi kafedra bo‘lib, u o‘z faoliyatini O‘zbekiston Respublikasining “Ta’lim to‘g‘risida”gi Qonuni, “Kadrlar tayyorlash milliy Dasturi”, Oliy va o‘rta-maxsus ta’lim vazirligining me’yoriy xujjatlari va institut ilmiy Kengashi qarorlari, institut rektorining bo‘yruqlari hamda kafedra Nizomi asosida olib boradi.
                
                “Muhandislik va kompyuter grafikasi” kafedrasi o‘z faoliyatini O‘zbekiston Respublikasining “Ta’lim to‘g‘risida”gi Qonuni, “Kadrlar tayyorlash milliy Dasturi”, Prezident Farmonlari, Farmoyishlari va Qarorlari, Vazirlar Mahkamasi Qarorlari, Oliy va o‘rta maxsus ta’lim Vazirligi me’yoriy xujjatlari, institut Kengashi qarorlari, institut rektorining bo‘yruqlari hamda kafedra Nizomi asosida ish olib bormoqda.
                
                Kafedrada o’qitiladigan fanlar:
                
                Kafedrada “Chizma geometriya va muhandislik grafikasi”, “Muhandislik va kompyuter grafikasi”, “Muhandislik grafikasi” fanlari o’qitilmoqda.
                
                
                <br><b>&nbsp;&nbsp; KAFEDRANING O’QITUVCHILARI HAQIDA:</b><br>
                Hozirgi kunda kafedrada 12 ta shtat birligi mavjud, ulardan 1 nafari fan nomzodi, dotsent, 4 nafari katta o’qituvchi va 7 nafari assistent.

«Muhandislik va kompyuter grafikasi» kafedrasida to’qqiz nafar professor-o’qituvchilar akademik guruhlarda murabbiylik ishlarini olib bormoqdalar. Bundan tashqari, o’qituvchilar va talabalar kechqurun, kafedra boshqa kunlarida talabalar turar joyida faol qatnashadilar, muzey va kinoteatrlarga tashrif buyuradilar.
                <br><b>&nbsp;&nbsp;  KAFEDRADA OLIB BORILAYOTGAN ILMIY ISHLARI:</b><br>
                “Muxandislik va kompyuter grafikasi” kafedrasi professor–o‘qituvchilar tomonidan quyidagi ustuvor yo‘nalishlarda ilmiy-tadqiqot ishlari olib borilmoqda.

 

B.Gapparov – Jizzax politexnika instituti “Muxandislik va kompyuter grafikasi” kafedrasi  mudiri Aynaqulov M.A. ilmiy raxbarligida, 13.00.07 – “Ta’limda menejment” ixtisosligi bo‘yicha PhD falsafa doktori ilmiy darajasini olish uchun “Ta’lim muassasalarining faoliyat jarayonlarini takomillashtirish va boshqarish yo‘nalishlari” mavzusidagi ilmiy tadqiqot ishini mustaqil tadqiqotchi sifatida boshladi.
F.O‘razaliev – texnika fanlari nomzodi A.Egamov raxbarligida “Jizzax erkin iqtisodiy zonada avtomobil transporti logistik tizimini takomillashtirish” mavzusidagi ilmiy tadqiqot ishini mustaqil tadqiqotchi sifatida boshladi.

A.A.Muxitdinov – Termiz davlat universiteti p.f.b.f.d., dots. Sh.U.Qosimov ilmiy rahbarligida 13.00.02 – Ta’lim va tarbiya nazariyasi va metodikasi (texnika fanlari) ixtisosligi bo‘yicha “Texnika oliy ta’lim muassasalarida 3D texnologiyalaridan foydalanib talabalarda konstruktiv kompetensiyalarni rivojlantirish metodikasini takomillashtirish (Muhandislik va kompyuter grafikasi fani misolida)” mavzusida ilmiy tadqiqot ishlarini erkin tadqiqotchi sifatida ilmiy-tadqiqot ishlarini davom ettirmoqda.
<br><b>&nbsp;&nbsp; KAFEDRANING PROFESSOR-O’QITUVCHILAR TARKIBI VA ILMIY IZLANUVCHILAR TOMONIDAN NASHR ETILADIGAN MAQOLALAR RO’YXATI.</b><br>
Qurilishda zamonaviy menejer va uning kreativ ta’limi. Me’morchilik va qurilish muammolari 2020, №2 2-(qism) M.A.Aynaqulov

Экономическая эффективность управления кластером в реалъном секторе экономики. “Global science and innovations 2020: central asia” nur-sultan(astana), Kazakhstan 20-22th 2020. М.А.Айнақулов, A.A.Mухитдинов

Хозяйственные кластеры и их основные направления. Oбщество: научно-образователъный потенциал развития (иден, ресурсы, решения) г.Чебоксары, Россия 2020 г. М.А.Айнақулов

Motivatsiya samaradorlik garovi sifatida. Samarqand Davlat Universiteti ilmiy axborotnoma jurnalining gumanitar fanlar seriyasi. 2020-yil 2-son (120) ISSN 2091-5446. M.A.Aynaqulov

Jizzax viloyatida uy xo’jaliklari faoliyati rivoji va uning institutsional asoslari. “Moliya-kredit tizimini iqtisodiyotning real sektori bilan o’zaro munosabatlarini institutsional rivojlantirish” xii xalqaro ilmiy-amaliy anjuman materiallari SAMARQAND-2020. M.A.Aynaqulov, O.T.Nazarov

Xo’jalik yuritish klasterining institusional asoslari. “Мoliya-kredit tizimini iqtisodiyotning real sektori bilan o’zaro munosabatlarini institutsional rivojlantirish” xalqaro ilmiy-amaliy anjuman materiallari SAMARQAND-2020. M.A.Aynaqulov, A.A.Muxitdinov

Institutional fundamentals of economic management cluster. Рroceeding of international multidisciplinary scientific-remote online conference on innovative solutions and advanced experiments issn 2581-4230 samarkand, uzbekistan June 18th & 19th, 2020. M.A.Aynaqulov, Y.Kuvondikov

Нормативно-правовая база взаимоотношений хозяйствующих субъектов на основе производственного кластера в строителъном комлексе. Me’morchilik va qurilish muammolari (ilmiy texnik jurnal) 2021,№1 2-QISM Samarqand 2021. М.А.Айнақулов

Ijtimoiy-iqtisodiy samaradorlikni ta’minlashda vaqtni boshqarishning (Time management) o‘rni va roli. Mejdunarodnaya nauchno-texnicheskaya konferensiya “Transport:aktual’nыe zadachi i innovatsii” Tashkent, Respublika Uzbekistan (22-aprelya 2021 g). M.A.Aynaqulov

Ta’lim sifatini ta’minlashda kompetentli yondashuv ko‘rsatkichlari. Namangan davlat universiteti ilmiy axborotnomasi ISSN:2181-0427 (2021-yil 6-son). M.A.Aynaqulov

Xizmat ko‘rsatish sohalari uchun raqobatdosh kadrlar tayyorlashda OTM xodimlarining kompententlik yo‘nalishlari. Xizmat ko‘rsatish sohasini innovatsion va raqamli iqtisodiyot sharoitida rivojlantirish muammolari xalqaro ilmiy anjuman materiallar to‘plami (iv-qism) Samarqand-2021. M.A.Aynaqulov

Iqtisodiyotni boshqarishda axboriy xizmat ko’rsatish. “Xotin-qizlarning fan, ta’lim, ma’daniyat vaa innovatsion texnologiyalarni rivojlantirish sohasidagi yutuqlari” mavzusidagi xalqaro ilmiy anjumani. Jizzax-2021. M.A.Aynaqulov

Формы, методы перспектиы и механизмы развития агрокластера и их основные направления. “Инновационнная экономика: проблемы ,анализ и перспективы развития” 20-21 мая 2021 г (II-часть). М.А.Айнақулов

Samaradorlikni ta’minlashda vaqtni boshqarishning (Time management) o‘rni va roli. Respublika hamda qator xorijiy davlatlarning ilmiy faoliyat sohasidagi etakchi olimlari hamkorligida masofaviy shaklda tashkil etilgan “Ilmiy tadqiqotlar sammiti” 2021 yil 12 iyun. M.A.Aynaqulov, Khudoiberdiev B

Diversifikatsiya va boshqaruv. Respublika hamda qator xorijiy davlatlarning ilmiy faoliyat sohasidagi etakchi olimlari hamkorligida masofaviy shaklda tashkil etilgan “Ilmiy tadqiqotlar sammiti” 2021 yil 12 iyun. M.A.Aynaqulov, Khudoiberdiev B

Transportda menejmentning iqtisodiy samaradorligini aniqlash ko‘rsatichlari. Andijon mashinasozlik instituti “O‘zbekiston va avtomobil sanoati: fan, ta’lim va ishlab chiqarish integratsiyasi” mavzusidagi xalqaro ilmiy amaliy anjuman 2021 yil 29-30 iyun. M.A.Aynaqulov

Инновации в образовании курса инжиниринга графика в непрерывном образовании. “Me’morchilik va qurilish muammolari” ilmiy texnik jurnali. Samarqand 2020 yil. A.B.Muxitdinov, A.A.Muxitdinov

Qadimgi misr va gresiya olimlarining geometrik va tasvirlash usullaridagi izlanishlari. “Me’morchilik va qurilish muammolari” ilmiy texnik jurnali. Samarqand 2020 yil. A.B.Muxitdinov, A.A.Muxitdinov

Diskli egat ochgichlarning ayrim xususiyatlari. “Наука и инновации” халқаро конференция материаллар тўплами. Тошкент 2020 йил. А.Б.Мухитдинов

Impact of computer graphics on the engineering product design: conceptual analysis. “Innovatsion rivojlanishda ijtimoiy-gumanitar fanlarning dolzarb masalalari” mavzusidagi xalqaro ilmiy–amaliy konferensiya materiallari to‘plami. Jizzax 2020 yil 20 noyabr, 268 bet. A.B.Muxitdinov

Analytical part of teaching the topic of the essence of assembly drawings and methods of teaching them to draw in detail, its coverage. “Ishlab chiqarishga innovatsion texnologiyalarni joriy etish va qayta tiklanadigan energiya manbalaridan foydalanish muammolari” mavzusidagi respublika miqyosidagi ilmiytexnik anjumanining materiallari to‘plami. Jizzax, 2020 yil 2 noyabr, 195 bet. A.B.Muxitdinov A.A.Muxitdinov

Основные методы проведения занятий по дисциплине “Начертательная геометрия и инженерная графика”. “Academia science” ilmiy tadqiqotlar markazi. Uzacademia ilmiy uslubiy jurnal. Barcha sohalar bo‘yicha. Vol 1, Issue 2, august 2020. A.B.Muxitdinov A.A.Muxitdinov

Xizmat ko‘rsatish sohasini rivojlantirish va samaradorligini oshirishda motivatsiyaning roli “Xizmat ko‘rsatish sohasini innovatsion va raqamli iqtisodiyot sharoitida rivojlantirish muammolari” xalqaro ilmiy–amaliy anjuman materiallar to‘plami. Samarqand 2021 yil. A.B.Muxitdinov

Raqamli iqtisodiyot sharoitida boshqaruvning ahamiyati. “Innovatsion iqtisodiyot: muammo, tahlil va rivojlanish istiqbollari” xalqaro ilmiy-amaliy anjuman tezislar to‘plami. 2021 yil 20-21 may. A.B.Muxitdinov

Interfaol ta’lim me’tolarida axborot madaniyatini oshirish masalalari. “Beshta muhim tashabbus-buyuk kelajak poydevori” mavzusidagi Respublika iqtidorli talaba yoshlarning onlayn ilmiy-amaliy konferensiya materiallari. Jizzax, 2021 yil 27 may. A.B.Muxitdinov, N.Gakmuradov

Inson kapitali: jahon banki yondashuvlari. “Xotin–qizlarning fan, ta’lim, madaniyat va innovatsion texnologiyalarni rivojlantirish sohasidagi yutuqlari” mavzusidagi xalqaro ilmiy–amaliy anjuman materiallari. Jizzax 2021 yil 125 bet. A.B.Muxitdinov

Qurilish majmuasida xo‘jalik yuritish klasterining institutsional asoslari. “Me’morchilik va qurilish muammolari” ilmiy texnik jurnali. Samarqand 2021 yil. A.B.Muxitdinov, A.A.Muxitdinov

Study program computer graphics – engineering animation and their
connection with modern uzbekistan industry. “Innovatsion rivojlanishda ijtimoiy-gumanitar fanlarning dolzarb masalalari” mavzusidagi xalqaro ilmiy–amaliy konferensiya materiallari to‘plami. Jizzax 2020 yil 20 noyabr, 267 bet. A.A.Muxitdinov

Xizmat ko‘rsatish sohasini rivojlantirish va samaradorligini oshirishda xo‘jalik faoliyatini transformatsiyalashning boshqaruvchilik roli. Xizmat ko‘rsatish sohasini innovatsion va raqamli iqtisodiyot sharoitida rivojlantirish muammolari. / Xalqaro ilmiy-amaliy konferensiyasi materiallari (V qism). 2021 yil 19-20 fevral kunlari. Samarqand, SamISI, 2021. 152–156 bet. A.A.Muxitdinov

Kasanachillik, kooperatsiya va klaster tushunchalari va ularning o‘zaro aloqadorligi. Zamonaviy tadqiqotlar, innovatsiyalar, texnika va texnologiyalarning dolzarb muammolari va rivojlanish tendensiyalari. Respublika miqyosidagi ilmiy-texnik anjuman materiallari to‘plami. – Jizzax: JizPI, 9-10 aprel 2021 yil. 2-tom. 30-31bet. A.A.Muxitdinov

Oila iqtisodi va uning jizzax viloyatida rivojlanish mexanizmlari. «Innovatsion iqtisodiyot: muammo, tahlil va rivojlanish istiqbollari». Xalqaro ilmiy-amaliy anjumani ilmiy maqolalar II-to‘plami (2021 yil 20-21 may) – T.: «Voris-nashriyot», 2021, 297-302 bet. A.A.Muxitdinov, B.T.Abbazov

Sopol g‘isht sifatini yaxshilashning eksprimental asoslari. “Beshta muhim tashabbus-buyuk kelajak poydevori” mavzusidagi Respublika iqtidorli talaba-yoshlarning onlayn miqyosidagi ilmiy-amaliy anjumani materiallari. – Jizzax: JizPI, 27 may 2021 yil. 1-tom. 233-235 bet. A.A.Muxitdinov, D.Axmatov

Iqtisodiyotda koorporatsiyaga asoslangan agroklaster yo‘nalishlari. In Volume 1, Issue 5 of oriental Renaissance: Innovative, educational, natural and social sciences in June 2021. A.A.Muxitdinov

Strategies for creating multiviews from pictorials. Novateur publications. Journalnx- a multidisciplinary peer reviewed journal. Issn no: 2581 – 4230 Volume 6, issue 9, sep. -2020 230-233. X.A.Aynaqulov, Z.J.Shafoatov

“Sanoatning ekologik muammolari”. Problems and prospects of innovative technology and technologies in the field of environmental protection Tahkent 2020 page 108. X.A.Aynaqulov

Modeling laminar transport phonemna is a casson rheological fluid from a horizontal circular cylinder with partial slip. «Innovatsion rivojlanishda ijtimoiy-gumanitar fanlarning dolzarb masalalari» xalqaro ilmiy-amaliy konferensiyasi Jizzax shahri 2020-yil 20-noyabr 256-bet. X.A.Aynaqulov

Xizmat ko‘rsatish sohasiga raqobatbardosh kadrlar tayyorlashda OTM da innovatsion yo‘nalishlar. «Xizmat ko‘rsatish sohasini innovatsion va raqamli iqtisodiyot sharoitida rivojlantirish muammolari» xalqaro ilmiy-amaliy anjuman. SAMARQAND – 2021 232-bet. X.A.Aynaqulov

«Особенности методов обучениячерчению (на примере построение изображений). International scientific journal «global science and innovations 2020: central asia» nur-sultan Kazakhstan, june 2020. X.A.Aynaqulov, I.O.Julanov

Mehnat tarbiyasining ahamiyati         Xotin qizlarning fan, ta’lim, ma’daniyat va innovatsion texnologiyalarni rivojlantirish sohasidagi yutuqlari. Jizzax-2020. 228-bet. X.A.Aynaqulov, I.O.Julanov

Strategies for creating multiviews from pictorials. Uz Academia ilmiy-tadqiqotlar markazi ISSN-(E)-2181-1334 VOL1, ISSUE 2, AUGUST 2020 2-JILD. X.A.Aynaqulov

Paxtani yirik iflosliklardan tozalash mashinalari samaradorligini oshirish yo’llari. “Наука и инновации” xalqaro konferensiya materiallar to’plami. Toshkent 2020 yil 26-noyabr 1-qism. X.A.Aynaqulov

«Особенности методов обучениячерчению (на примере построение изображений). “Me’morchilik va qurilish muammolari” Ilmiy texnik jurnal issn 2901-5004 Samarqand 2020-yil №2 2-qism. X.A.Aynaqulov, Z.J.Shafoatov

«Нанесение размеров на чертежах по базированиям». International scientific journal «global science and innovations 2020: central asia» nur-sultan Kazakhstan, june 2020 issn 2664-2271 june-july 2020. X.A.Aynaqulov, I.O.Julanov

Sanoat ishlab chiqarishini joylashtirish va atrof-muhit muhofazasi. “Zamonaviy tadqiqotlar, innovatsiyalar, texnika va texnologiyalarning dolzarb muammolari va rivojlanish tendensiyalari” ilmiy-texnik anjuman materiallari Jizzax 2021-yil 9-10-aprel 2-tom 18-bet. X.A.Aynaqulov, A.P.Isanov

Jizzax viloyatida aholi bandligini ta’minlashning ba’zi ko’rinishlari. “Innovatsion iqtisodiyot: muammo, tahlil va rivojlanish istiqbollari” xalqaro ilmiy-amaliy anjuman ilmiy maqolalar to’plami 2021-yil 20-21 may 1-qism. X.A.Aynaqulov

“Ko’pburchaklarning yasalish usullari”. “Zamonaviy tadqiqotlar, innovatsiyalar, texnika va texnologiyalarning dolzarb muammolari va rivojlanish tendensiyalari” ilmiy-texnik anjuman Jizzax-2020-yil 10-11-aprel i-tom. X.A.Aynaqulov, F.B.O’rozaliyev

Jizzax viloyatida oilaviy pudratning innovatsion ko’rinishlari. “Xotin qizlarning fan, ta’lim, ma’daniyat va innovatsion texnologiyalarni rivojlantirish sohasidagi yutuqlari” mavzusidagi xalqaro ilmiy-amaliy anjuman. Jizzax 2021-yil 21-22 may i-tom. X.A.Aynaqulov

Xizmat ko’rsatish sohasiga raqobatdosh kadrlar tayyorlashda OTM da innovatsion yo’nalishlar. “Xizmat ko’rsatish sohasini innovatsion va raqamli iqtisodiyot sharoitida rivojlantirish muammolari” xalqaro ilmiy-amaliy anjuman materiallari to’plami IV- qism Samarqand 2021-yil19-20- fevral. X.A.Aynaqulov

Axborotlashgan jamiyatda yoshlarning internetdan to’g’ri foydalanishida yo’llanma berish hamda kitobxonlikni keng targ’ibot qilish. X.A.Aynaqulov, “Beshta muhim tashabbus buyuk kelajak poydevori” mavzusida 2021-yil 27-may kuni o’tqazilgan respublika iqtidorli talaba-yoshlarning onlayn miqyosidagi ilmiy-amaliy anjuman materiallari to’plami Jizzax-2021. X.A.Aynaqulov, D.X.Abduhamidov

“Paxtani yirik iflosliklardan tozalash mashinalari konstruksiyasini takomillashtirish bo‘yicha olib borilgan ilmiy tadqiqot ishlarining tahlili”. “Fan va texnologiyalar taraqqiyoti” Ilmiy – texnikaviy jurnal №2/2021 196-202 bB.T.Abbazov, R.M.Muradov, I.Z.Abbazov

“EFFICIENCY OF MANAGEMENT”. Jizzax politexnika instituti “Ishlab chiqarishga innovatsion texnologiyalarni joriy etish va qayta tiklanadigan energiya manbalaridan foydalanish muammolari” mavzusidagi respublika miqyosidagi ilmiy-texnik anjumanining materiallari to‘plami. B.T.Abbazov, A.YA.Xatamov, D.X.Igamberdiev

“Improvement Of The Method Of Heat Calculation Of The Drum Dryer For. Cotton-Raw” Skopus bazasidagi “International Journal of Advanced Science and Technology” Vol. 29. No. 7. (2020). pp. 2117-2127. B.T.Abbazov, A.Q.Usmonqulov, U.A.Norboev, F.S.Sodiqov

“VERTUAL LABORATORIYA ISHLARINI BAJARISHDA KOMPYUTER DASTURIDAN FOYDALANISH”    O‘z Akademiya Ilmiy-uslubiy jurnal 2-jild 2020 yil avgust 248-250 bet. B.T.Abbazov, B.N.Gapparov

“Xizmat ko‘rsatish menejmentida mehnatni mativatsiyalashning maqbul tizimini loyihalashtirish tamoillari”. “Xizmat ko‘rsatish sohasini innovatsion va raqamli iqtisodiyot sharoitida rivojlantirish muammolari xalqaro ilmiy-amaliy anjuman materiallari to‘plami (V-qism) (2021 yil 19-20 fevral) 148-152 betlar B.T.Abbazov

“Взгляды Узбекских педагогов на развитие общества”. Международный научно-практический журнал «Глобалная наука и инновация 2020: ЦЕНТРАЛЬНАЯ АЗИЯ» 46-49 бетлар. Б.Т.Аббазов, Гаппаров Б.Н.
            </p>

        </div>
    </div>
</div>



{% endblock content %}




