{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/ener.jpg" %}">
                </div>
                <div class="right">
                    <p>Energetika kafedrasi mudiri</p>
                    <p><b>Xonto‘rayev Ikromjon Munavarovich</b></p>
                    <p><b>Qabul vaqti:</b> haftaning Dushanba va juma kunlari soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b> 72 226-45-47 </p>
                    <p><a href=" dgpi_info@edu.uz" class="poshta" ><b> E-mail: </b> dgpi_info@edu.uz</a> </p>

                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp;Energetika kafedrasi tarixi</b><br>
                Mazkur kafedra 1979-yilda Toshkent politexnika institutining Jizzax filialida faoliyat ko‘rsatgan «Umumta’lim fanlari» kafedrasi tarkibidan ajralib chiqqan.
                Kafedra dastlab, «Fizika» kafedrasi nomi bilan, so‘ng 1992-yilda Elektroenergetika mutaxassisligi ochilishi munosabati bilan «Fizika va elektroenergetika» deb nomlangan. 2002-yilda uning tarkibidan «Elektroenergetika» kafedrasi ajralib chiqdi. 2005-yilda esa  «Fizika va elektroenergetika»  kafedralari birlashtirilib «Elektroenergetika va fizika» kafedrasi,  2012-yilda «Elektroenergetika» kafedrasi va 2020-yildan boshlab «Energetika» kafedrasi deb nomlanib kelmoqda.
                Hozirgi kunda kafedra tarkibida 21 ta professor-o‘qituvchilar faoliyat ko‘rsatib kelmoqdalar. Jumladan, 1 ta professor, 3 ta fan nomzodi-dotsentlar, 4 ta katta o‘qituvchi, 13 ta assistentlar elektr energetikasi va energetika mutaxassisligiga oid 36 ta fan sirlarini Davlat ta’lim standartlariga mos holda talabalar ongiga singdirib kelmoqdalar.
                Shu kunlarda esa assistentlar O. Olimov, M. Hasanov, A. Suyarov, A. Boliyev, A. Qurbonovlar mustaqil tadqiqotchi sifatida ilmiy faoliyat bilan shug‘ullanib kelishmoqda.
                
<br><b>&nbsp;&nbsp;Elektroenergetika yo’nalishlari</b><br>
1. 70710901 – Energiya tejamkorligi va energoaudit (Issiqlik energetikasi)<br>

3. Yo’nalishning fan va texnika sohasida tutgan o’rni «EE» texnikaning elektr energiyasini ishlab chiqarish, o’zgartirish, uzatish, taqsimlash va iste’mol qilish, hamda bu jarayonlarni boshqarish usullari bilan bog’liq holda  faoliyatini o’z ichiga olgan qismidir.
<br><b>&nbsp;&nbsp;Mutaxassislik bo‘yicha magistrlar kasbiy faoliyatlarining turlari: </b><br>
-  ilmiy-tadqiqot faoliyati;<br>
-  loyihaviy, konstruktorlik va texnologik faoliyat;<br>
-  tashkiliy-boshqaruv faoliyati;<br>
-  oliy, malaka oshirish, qayta tayyorlash ta’lim muassasalarida ilmiy-pedagogik hamda o‘rta maxsus,  kasb-hunar ta’lim tizimida pedagogik faoliyat (o‘rnatilgan tartibda);<br>
- konsalting xizmati faoliyati.<br>

<br><b>&nbsp;&nbsp;Ta’limni davom ettirish imkoniyatlari:</b><br>
Magistratura  bitiruvchilari  magistr  akademik  darajasini  olganlaridan  so‘ng,  oliy ta’lim  muassasalari  hamda  O‘zbekiston  Respublikasi  Fanlar  akademiyasi  va  tarmoq ilmiy tadqiqotlarida  katta  ilmiy  xodim ̵ izlanuvchi,  mustaqil va  erkin tadqiqotchi  sifatida  ilmiy- tadqiqot ishlarini davom ettirishlari mumkin.<br>
60710500 – Energetika (atom elektr stansiyalari)
<br><b>&nbsp;&nbsp;Kasb faoliyati turlari:</b><br>
“Elektroenergetika” yo‘nalishi bakalavriati umumkasbiy, fundamental va maxsus tayyorgarlikka ega bo‘lib, quyidagi kasbiy faoliyat turlarini bajaradi:
- berilgan va ishlab chiqilgan usullar asosida ijodiy jamoa ishtirokida loyiha-konstruktorlik ishlarini bajarish;
- elektr stansiyalari;
- elektr tarmoqlari va tizimlari;
- sanoat korxonalari, shahar, tuman, elektr ta’minoti tizimlari;
- alohida elektroenergetik obyektlar;
- avtomatlashtirish va avtomatik boshqarish tizimlari va releli himoyalash, yuqori va past kuchlanishli texnika obyektlari;
- belgilangan tartib va talablar asosida ishlab chiqarish va uni boshqarish;
- elektr stansiyalari, nimstansiyalar, sanoat korxonalari, shahar, tuman, alohida obyektlarni elektr ta’minoti tarmog‘i va tizimlarini montaj qilish, o‘rnatish, ishlatish hamda nazorat qilish;
- releli himoya va avtomatlashtirish tizimlari hamda boshqarish jihozlari;
- yuqori kuchlanish texnik obyektlari;
- tizimlarda ilmiy tadqiqotlar olib borish;
- tadqiqot natijalarini fizikaviy va matematik modellashtirish asosida qayta ishlash;
- elektroenergetik tizim va obyektlarning rejimlarini hisoblash hamda boshqarish qurilmalari, releli himoya va avtomatlashtirish funksiyalarini modellashtirish.       


{% comment %} <br><b>&nbsp;&nbsp;Elektroenergetika yo’nalishlari</b><br>
<br><b>&nbsp;&nbsp;Elektroenergetika yo’nalishlari</b><br>
<br><b>&nbsp;&nbsp;Elektroenergetika yo’nalishlari</b><br>
<br><b>&nbsp;&nbsp;Elektroenergetika yo’nalishlari</b><br> {% endcomment %}

            </p>

        </div>
    </div>
</div>



{% endblock content %}




