{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/iconmen.png" %}">
                </div>
                <div class="right">
                    <p>Kimyoviy texnologiyalar kafedrasi mudiri</p>
                    <p><b>Vaqqosov Sobir Sayfullayevich</b></p>
                    <p><b>Qabul vaqti:</b>  haftaning seshanba, payshanba va juma kunlari soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b> (97) 3252204</p>
                    <p><a href="sobirvak@mail.ru" class="poshta" ><b> E-mail: </b>   sobirvak@mail.ru</a> </p>
                    
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp;KIMYOVIY TEXNOLOGIYA» kafedrasi haqida ma’lumot </b><br>
                Har bir jamiyatning kelajagi uning ajralmas qismi va hayotiy zarurati bo‘lgan ta’lim tizimining qay darajada rivojlanganligi bilan belgilanadi. Bugungi kunda mustaqil taraqqiyot yo‘lidan borayotgan mamlakatimizning uzluksiz ta’lim tizimini isloh qilish va takomillashtirish, yangi sifat bosqichiga ko‘tarish, unga ilg‘or pedagogik va axborot texnologiyalarini joriy qilish hamda ta’lim samaradorligini oshirish davlat siyosati darajasiga ko‘tarildi. «Ta’lim to‘g‘risida» gi Qonun va «Kadrlar tayyorlash milliy dasturi» ning qabul qilinishi bilan uzluksiz ta’lim tizimi orqali zamonaviy kadrlar tayyorlashning asosi yaratildi. O‘zbekiston Respublikasi demokratik, huquqiy va fuqarolik jamiyatini qurish yo‘lidan borayotgan bir paytda ta’lim sohasida amalga oshirilayotgan islohotlarning bosh maqsadi va harakatga keltiruvchi kuchi har tomonlama rivojlangan barkamol insonni tarbiyalashdan iboratdir.

                “Kimyoviy texnologiya” kafedrasida mutaxassislik fanlar bo`yicha o`quv-uslubiy, ilmiy-uslubiy, ilmiy-tadqiqot ishlari, shuningdek ilmiy va ilmiy-pedagogik kadrlar tayyorlash, malaka oshirish va qayta tayyorlash hamda tashkiliy, ma’naviy-ma’rifiy va tarbiyaviy ishlar amalga oshiriladi.
                
                “Kimyoviy texnologiya” kafedrasi 1983-yilda Toshkent Politexnika institutining Jizzax filiali tarkibida, kimyo fanlari doktori, professor Qurbonov Farhod Qurbonovichning rahbarligida “Umumiy kimyo” kafedrasi nomi bilan tashkil etildi.
                
                1995-2005 yillar kafedraga kimyo fanlari nomzodi B.Urdusheva, 2006-2010 yillarda kimyo fanlari nomzodi N.Tangyarikov, 2011-yilda dotsent I.Ro`zmatov, 2012-2016 yillarda M.N.Pozilov, 2017-2018 yillarda k.f.n., dotsent I.Ro`zmatovlar rahbarlik qildilar.  2018-yildan boshlab katta o’qituvchi  S.Vaqqosov rahbarlik qilmoqda.
                
                “Kimyoviy texnologiya” kafedrasi  bugungi kunda quyidagi tashkilotlar  bilan hamkorlik aloqalari yo`lga qo‘yilgan: Toshkent kimyo texnologiya instituti, O‘zbekiston Fanlar Akademiyasi Polimerlar fizikasi va kimyosi ilmiy tekshirish instituti, Umumiy va noorganik  kimyo  ilmiy tekshirish  instituti, Mikrobiologiya ilmiy tekshirish instituti, “Jizzax akkumulyator zavodi” AJ, “Jizzaxplastmassa” AJ, “Jizzax sement zavodi” AJ, “Jizzaxpolimerplast” MCHJ, “Irrigatsiya invest” MChJ, “Zenatkor temir beton” MChJ, “Sogdiana pipe plast” MCHJ, “Jizzax neft baza” MChJ, “Hudud gaz” Jizzax gaz ta’minoti filiali.
                
                “Kimyoviy texnologiya” kafedrasi Jizzax politexnika instituti “Kimyoviy texnologiya” fakulteti tasarrufidagi kafedra bo‘lib, o‘z faoliyatini O‘zbekiston  Respublikasining  “Ta’lim to‘g‘risida” gi Qonuni, “Kadrlar tayyorlash milliy Dasturi”, Oliy va o‘rta-maxsus ta’lim vazirligining me’yoriy xujjatlari va institut ilmiy Kengashi qarorlari, institut rektorining buyruqlari hamda kafedra Nizomi asosida olib boradi.
                
                Kafedra bakalavriatning 5320400 – Kimyoviy texnologiya (Elektrokimyo), 5320400 – Kimyoviy texnologiya (Qurilish materiallari) va 5321300 – Neft va neft-gazni qayta ishlash texnologiyasi ta’lim yo`nalishlari hamda magistratura yo`nalishi bo`yicha 5A320408 –  Materiallar kimyoviy qarshiligi va zanglashdan himoyalash mutatxassisligi bo‘yicha kadrlar tayyorlaydi.
                
                “Kimyoviy texnologiya” kafedrasida quyidagi faoliyat turlari bo‘yicha ish olib boriladi: o‘quv ishlari, ilmiy-uslubiy ishlar, ilmiy-tadqiqot  ishlari, tashkiliy-uslubiy ishlar, ma’naviy-ma’rifiy, tarbiyaviy va sport ishlari, talim va ishlab chiqarish integratsiyasi doirasidagi boshqa ishlar. Ushbu faoliyat turlari bo`yicha kafedra 2020-2021 o‘quv yilida samarali faoliyat olib borilmoqda. Kafedrada vazirlikning, institutning ilmiy va ilmiy-uslubiy kengash qarorlarini bajarilishi ta’minlaydi.
            </p>

        </div>
    </div>
</div>



{% endblock content %}




