{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/iconmen.png" %}">
                </div>
                <div class="right">
                    <p>Bino va inshootlar qurilishi kafedrasi mudiri</p>
                    <p>dot.<b> Asatov Nurmuhammad Abdunazarovich</b></p>
                    <p><b>Qabul vaqti:</b> haftaning seshanba, payshanba va juma kunlari soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b>  (90)5398855</p>
                    <p><a href=" asatov_nur@list.ru" class="poshta" ><b> E-mail: </b>  asatov_nur@list.ru</a> </p>
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp; Kafedra  haqida ma’lumot:</b><br>
                “Bino va inshootlar qurilishi” kafedrasining tashkil etilishi tarixi Jizzax politexnika instituti  tarixining boshlanishi bilan bevosita bog‘liq. Ya’ni, 1977 yil hozirgi institut negizida Toshkent politexnika institutining “Qurilish fanlari” kafedrasi tashkil etilib,  kafedraga dots. A.Salimov rahbarlik qildi.

Kafedraga tajribali pedagoglar A.Abduraximov va Q.Bo‘riyevlar bilan bir qatorda iqtidorli yoshlar T.Muqumov, R.Nimatov, I.Meliyev, B.Sobirov, B.Kattakishiyevlar taklif etildilar. Keyinchalik  kafedra bir necha kafedralar ajralib ketdi va turli yillarda har xil nom bilan atalib kelindi.

1983 yili “Qurilish fanlari” kafedrasi negizida “Sanoat va fuqaro binolari me’morchiligi” nomli mutaxassislik kafedrasi tashkil etildi va kafedrani t.f.n. E.Abdullaev boshqargan.

Kafedra bu davrlarda “Sanoat va fuqaro qurilishi” hamda “Qishloq xo‘jalik qurilishi” mutaxassisliklari bo‘yicha kadrlar tayyorlagan.

1984-1998 yillarda kafedraga dots. A.G‘aniev rahbarlik qilgan. Ushbu yillarda kafedra “Sanoat va fuqaro qurilishi”, “Sanoat va fuqaro binolari me’morchiligi” nomlari bilan  faoliyat ko‘rsatdi.

Kafedra 1997 yildan boshlab “Bino va inshootlar qurilishi” nomi bilan yuritila boshlandi va bugungi  kungacha ham ushbu nom bilan faoliyat ko‘rsatmoqda.

1998 -2002 yillarda t.f.n. O.Burxonov, 2002-2004  yillarda dots. A.G‘aniev,  2005-2006 yilda t.f.n. R.Hamraqulov, 2007-2008 yillarda dots. I. G‘aniev va B.Rahmonovlar  rahbarlik qilganlar.

2008 yildan bugungi kungacha kafedraga t.f.n., dots. N.Asatov rahbarlik qilib kelmoqda.

Bugungi kunda kafedrada 7 nafar fan nomzodi va dotsentlar, 11 nafar katta o‘qituvchi, 15 nafar assistient, 3 nafar kabinet mudiri faoliyat ko‘rsatmoqda. Kafedra ilmiy salohiyati – 22 % ni, o‘rtacha yoshi- 41 yoshni tashkil etadi. Dots. N.Asatov rahbarligida B.Matniyazov, A.Berdiqulov, I.Meliev, U.Yusupov, T.Qosimov, O.Xakimov, katta o‘qituvchilar A.Ubayullaev, A.Guliev, M.Aliev, O‘.Ablaeva, O‘.Djuraev, B.Sagatov, N.Xudoykulov, S.Subhonkulov, O.Isroilov, E.Xamraqulova, Sh.Aliqobulov, assistentlar N.Normatova, A.Boymatov, U.Korabekov, G.Mirazimova, A.Mingyasharov, M.Tillaev, N.Raxmonov, N.Asatov, A.G‘ulomova, N.Islamova, Yo.Rajabov va O‘.Ispandiyarovalar talabalar bilan o‘quv, o‘quv-uslubiy, ma’naviy-ma’rifiy ishlarni olib borishmoqda.

Kafedrada olib borilayotgan ta’lim sifatini yanada oshirish maqsadida Toshkent arxitektura-qurilish instituti dotsenti U. Yusupov va Samarqand Davlat arxitektura va qurilish instituti dotsenti T.Qosimovlar o‘quv jarayoniga jalb etilgan.

Kafedra mudiri dots. N.Asatovning bevosita tashabbusi asosida O‘zbekiston Respublikasi Qurilish vazirligining 2019 yil 28 avgustdagi qarori bilan A va B guruhdagi qurilish ob’ektlari loyihalarini ishlab chiqish uchun AL-000176 raqamli “Arxitektura – shaharsozlik hujjatlarini ishlab chiqish faoliyatini amalga oshirish uchun LITSENZIYA” olindi. Bu borada viloyatimizdagi qurilish tashkilotlari va xususiy firmalari bilan shartnomalar asosida ishlar olib borilmoqda.

Kafedrada tahsil olgan 3000 ga yaqin sobiq talabalar nafaqat respublikamizda, balki xorijiy davlatlarda xalq xo‘jaligining turli tarmoqlarida samarali mehnat qilishmoqdalar. Masalan, sobiq bitiruvchilarimizdan A.Raxmonqulov – Jizzax viloyati hokimining qurilish bo‘yicha muovini, I.Mamasoliev, B.Axmedov, B.Nazarov, A.Raxmonqulov, A.Axmedov va boshqalar xususiy qurilish firmalarining boshlig‘i lavozimida faoliyat yuritmoqdalar.

Iqtidorli talabalar kafedrada faoliyat ko‘rsatayotgan fan to‘garaklariga ham jalb qilingan. Iqtidorli talabalarning ishlari tanlovlarga, nomli stipendiyalarga tavsiya qilingan va yutuqlarga erishilgan. Oxirgi 3 yil davomida 3 ta “Beruniy” stipendiyasi sovrindorlari, 4 ta “Yurt kelajagi” tanlovi viloyat g‘oliblari, 2 ta fan olimpiadasi  va boshqa tanlovlarning sovrindorlari yetishib chiqqan.

Kafedraning iqtidorli talabalaridan Botirov Bektosh 2019 yilda “Innovatsion g‘oyalar yetakchisi” ko‘krak nishoni bilan taqdirlangan bo‘lsa, Ilhomova Sevara 2020 yilda “Zulfiya” nomidagi Davlat mukofati sohibasi bo‘ldi. Shu bilan birga kafedraning 339-17 BIQ guruhi talabasi Nasimov Sardor bugungi kunda Moskva davlat arxitektura institutida tahsil olmoqda.

Xalqaro aloqalar  borasida Jizzax politexnika instituti va Ilmiy tadqiqotlar Moskva Davlat qurilish universiteti bilan 2018 yil 18 mayda tuzilgan №269-100/18-sonli hamkorlik shartnomasi va 2018 yil 18 oktyabrda tuzilgan Ta’lim dasturini amalgan oshirish bo‘yicha shartnoma asosida hamkorlik ishlarini amalga oshirmoqda. Ushbu shartnomalarga asosan bugungi kunda, 07.03.01-Arxitektura ta’lim yo‘nalishida – 9 nafar, 08.03.01-Qurilish ta’lim yo‘nalishida – 11 nafar talaba taxsil olmoqda.

2020 yil 17 yanvar kuni Milliy tadqiqotlar Moskva Davlat qurilish universiteti va Jizzax politexnika instituti o‘rtasida tuzilgan hamkorlik Memorandumida belgilangan vazifalar ijrosini ta’minlash, hamda talaba va o‘qituvchilar orasidagi almashishlarga amaliy yordam ko‘rsatish maqsadida Milliy tadqiqotlar Moskva Davlat qurilish universitetidan taklif qilingan ushbu universitet professori, t.f.d. Shukurov Ilxom Sadriyevich bilan uchrashuv o‘tkazildi. Professor I.S.Shukurov “Zamonaviy shaharsozlik muammolari, shaharsozlikning rivojlanish tendensiyalari va kelajak loyihalar” mavzusida ma’ruza qildi.

Kafedra professor-o‘qituvchilari tomonidan aspirantura, doktorantura va stajirovka qilishlari uchun dunyoda yetakchi o‘rinlarda kelayotgan Moskva shahridagi Beton va temirbeton ilmiy tadqiqot instituti (NIIJB) bilan ham hamkorlik ishlari olib borildi va natijada 2018 yil 18 may kuni JizPI va NIIJB lar o‘rtasida xamkorlik shartnomalari imzolandi.

Shu bilan birga, bugungi kunda kafedra katta o‘qituvchisi J.Zokirov Xitoy Xalq Respublikasining Tunszi universitetida bazaviy doktoranturani o‘tamoqda.

Bugungi kunda respublikamizning etakchi oliy ta’lim muassasalari Toshkent arxitektura-qurilish instituti, Samarqand Davlat arxitektura va qurilish instituti, Farg’ona politexnika institutlarining turdosh kafedralari bilan hamkorlik shartnomalari tuzilgan va hamkorlikda o‘quv va o‘quv-uslubiy ishlar olib borilmoqda.
                <br><b>&nbsp;&nbsp; BAKALAVRIAT yo‘nalishi:</b><br>
                5340200 – BINO VA INSHOOTLAR QURILISHI (TURLARI BO‘YICHA) 
                <br><b>&nbsp;&nbsp;MAGISTRATURA mutaxassisligi:</b><br>
                5A340201 – bino va inshootlar qurIlishi (ENeRGIYa SAMARALI BINOLAR)
                <br><b>&nbsp;&nbsp; KAFEDRADA OLIB BORILAYOTGAN ILMIY IShLAR</b><br>
                Kafedrada quyidagi professor-o‘qituvchilar doktorlik dissertatsiyasi ustida tadqiqotchi sifatida ilmiy ish olib bormoqdalar:

– kafedra katta o‘qituvchisi B.Sagatov tomonidan “Прочностm усиленных железобетонных балок по наклонным сечениям при статическом и динамическом нагружении” mavzusida ilmiy izlanishlar olib borilmoqda.

– mustaqil tadqiqotchi M.Aliev tomonidan “Разработка методики оценка технического состояния зданий и сооружений” mavzusida ilmiy izlanishlar olib borilmoqda.

– kafedra assitenti M.Tillaev Toshkent arxitektura va qurilish instituti dotsenti U.Yusupov rahbarligida “Dispers materiallar bilan armaturalangan mayda donali og‘ir betonlarning xossalarini tadqiq etish” mavzusidagi doktorlik dissertatsiya (PhD) ishi bo‘yicha ilmiy izlanishlarni olib borishmoqda.

“Bino va inshootlar qurilishi” kafedrasida talaba yoshlarning ilmiy faoliyatga keng jalb qilish va qo‘llab-quvvatlash maqsadida 4 ta to‘garak tashkil etilgan va ularga 70 nafar talaba jalb etilgan.
                <br><b>&nbsp;&nbsp; KAFEDRADA OLIB BORILAYOTGAN ILMIY-USLUBIY ISHLAR</b><br>
                Kafedradagi bakalavriat ta’lim yo‘nalishi mutaxassisligi bo‘yicha o‘qitiladigan barcha fanlar yangi avlod darsliklar, o‘quv qo‘llanmalar bilan ta’minlangan.

Kafedrada o‘qitiladigan barcha fanlar bo‘yicha ma’lumotlar tayyorlanib Moodle tizimiga kiritildi.

2019-2020 o‘quv yilida kafedrada o‘tiladigan aksariyat fanlardan ma’ruza matni lotin alifbosida tayyorlanib talabalar foydalanishi uchun tarqatildi.

Kafedraga tegishli barcha fanlar bo‘yicha talabalar bilimini nazorat qilishda maxsus elektron test dasturidan foydalaniladi, barcha fanlarda testlar majmui tayyorlangan.

Laboratoriya, amaliy mashg‘ulotlarning va malakaviy amaliyotlarni o‘tkazish  bo‘yicha  to‘liq uslubiy ta’minlandi.

Kafedrada Oliy va o‘rta maxsus ta’lim vazirligi tomonidan tasdiqlangan «Talaba mustaqil ishini tashkil etish, nazorat qilish va baholash tartibi to‘g‘risida»gi namunaviy Nizom asosida ishlab chiqilgan «Jizzax politexnika institutida talaba mustaqil ishini tashkil etish, nazorat qilish va baholash tartibi to‘g‘risida»gi Nizomga asosan talaba mustaqil ishi tashkil etiladi. 2019-2020 o‘quv yilida barcha fanlar bo‘yicha talabalar mustaqil ishlarini tashkil etish bo‘yicha uslubiy qo‘llanmalar ishlab chiqilgan.

Kafedrada talabalar tomonidan kurs ishlari va bitiriuv malakaviy ishlarining aksariyat qismi CorelDRAW va AutoAD dasturlarida tayyorlanmoqda.  Shu munosobat bilan institut rektorining tashabbusi bilan “Bino va inshootlar qurilishi” kafedrasiga jami 20 komplekt yuqori opretiv tezlikka ega bo‘lgan zamonaviy kompyuterlar berildi.
            </p>

        </div>
    </div>
</div>



{% endblock content %}




