{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/arxloyha.jpg" %}">
                </div>
                <div class="right">
                    <p>Arxitekturaviy loyihalash kafedrasi mudiri</p>
                    <p><b>Xoliqov Sindorqul Ravshanovich</b></p>
                    <p><b>Qabul vaqti:</b> Dushanba – Juma kunlari soat 14:00 dan 15:00 gacha.</p>
                    <p><b>Telefon:</b>+99897.327-61-20</p>
                    <p><a href="bobobekovbohodir@gmail.com" class="poshta" ><b> E-mail: </b> bobobekovbohodir@gmail.com</a> </p>
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp; Kafedra  Haqida ma’lumot:</b><br>
                2020-2021 o’quv yilidan regionga “Arxitektura” yo’nalishidagi kadrlarni tayyorlashda ta’lim sifatini va samaradorligini oshirish maqsadida institutda “Arxitekturaviy loyihalash” kafedrasi tashkil qilindi va kafedraga arxitektra fanlari nomzodi B.K.Bobobekov mudir etib tayinlandi.

Hozirgi kunda kafedrada, 1 nafar fan doktori, professor, 2 nafar fan nomzodi, dosentlar, 2 nafar katta o’qituvchi, 7 nafar assistiyent va 2 nafar kabinet mudiri faoliyat ko’rsatmoqda.

Kafedra ilmiy salohiyati – 25 % ni, o’rtacha yoshi- 44 yoshni tashkil etadi.

Kafedrada a.f.n. B.Bobobekov rahbarligida prof. A.Salimov, dos. K.Zoirov,  katta o’qituvchilar A.Jonuzaqov, J.Usarov, assistentlar N.Abdusamatoov,  S.Xolikov, A.Narziyev, A.Kaxxarov, B.Esbergenov, A.Karimov, B.Abdullayev talabalar bilan o’quv, o’quv-uslubiy, ma’naviy-ma’rifiy ishlarni olib borishmoqda. Kafedrada a.f.n. B.Bobobekov rahbarligida prof. A.Salimov, dos. K.Zoirov,  katta o’qituvchilar A.Jonuzaqov, J.Usarov, assistentlar N.Abdusamatoov,  S.Xolikov, A.Narziyev, A.Kaxxarov, B.Esbergenov, A.Karimov, B.Abdullayev talabalar bilan o’quv, o’quv-uslubiy, ma’naviy-ma’rifiy ishlarni olib borishmoqda.

Kafedrada olib borilayotgan ta’lim sifatini yanada oshirish maqsadida Toshkent arxitektura-qurilish instituti professori, a.f.d. A. Salimov va Jizzax Dalat pedagogika instituti dosenti K.Zoirovlar o’quv jarayoniga jalb etilgan.

Kafedrada O’zbekiston Respublikasi Qurilish vazirligining 2019 yil 28 avgustdagi qarori bilan A va B guruhdagi qurilish obyektlari loyihalarini ishlab chiqish uchun AL-000176  raqamli “Arxitektura – shaharsozlik hujjatlarini ishlab chiqish faoliyatini amalga oshirish uchun LISENZIYa” olindi va “Politex me’mor loyiha” guruhi tashkil etilgan. Bu borada viloyatimizdagi qurilish tashkilotlari va xususiy firmalari bilan shartnomalar asosida ishlar olib borilmoqda.

Iqtidorli talabalar kafedrada faoliyat ko’rsatayotgan fan to’garaklariga ham jalb qilingan.

Kafedrada “Yosh rassom-dizayner” ijodiy to’garagi faoliyat olib bormoqda. Ilmiy to’garaklarda jami 49 nafar iqtidorli va iste’dodli talabalar ijod sirlari bilan tanishtirib borilmoqda.

Beshta tashabbusni o’zida mujassam etgan ma’naviy-ma’rifiy faoliyat bo’yicha talabalar “Yosh rassom-dizayner”, “Kompyuter savodxonligi”, ”Zukko kitobxon” va  sport to’garaklariga muntazam qatnashib, yuqori natijalrga erishmoqdalar.

Iqtidorli talabalarning ishlari tanlovlarga, nomli stipendiyalarga tavsiya qilingan va yutuqlarga erishilgan. Oxirgi  yil davomida 1 ta “Beruniy” stipendiyasi sovrindori, bir qancha boshqa nufuzli tanlovlarning sovrindorlari yetishib chiqqan.

Jumladan, Namozova Nodira Sherali qizi 231-18 Arxitektura guruhi talabasi – Beruniy nomidagi davlat stependiyasi soxibasi(2021 y.)  va Institut yil talabasi g’olibi(2020 y.) bo’ldi.

Xalqaro aloqalar  borasida Jizzax politexnika instituti va Ilmiy tadqiqotlar Moskva Davlat qurilish universiteti bilan 2018 yil 18 mayda tuzilgan №269-100/18-sonli hamkorlik shartnomasi va 2018 yil 18 oktyabrda tuzilgan Ta’lim dasturini amalgan oshirish bo’yicha shartnoma asosida hamkorlik ishlarini amalga oshirmoqda. Ushbu shartnomalarga asosan bugungi kunda, 07.03.01-Arxitektura ta’lim yo’nalishida – 11 nafar talaba taxsil olmoqda.

Bugungi kunda respublikamizning yetakchi oliy ta’lim muassasalari Toshkent arxitektura-qurilish instituti, Samarqand Davlat arxitektura va qurilish instituti, Farg’ona politexnika institutlarining turdosh kafedralari bilan hamkorlik shartnomalari tuzilgan va hamkorlikda o’quv va o’quv-uslubiy ishlar olib borilmoqda.
                <br><b>&nbsp;&nbsp; BAKALAVRIAT yo’nalishi:</b><br>
                5340100 – arxitektura(bino va inshootlar)
                <br><b>&nbsp;&nbsp; KAFeDRADA OLIB BORILAYoTGAN ILMIY-USLUBIY IShLAR</b><br>
                Kafedradagi bakalavriat ta’lim yo’nalishi mutaxassisligi bo’yicha o’qitiladigan barcha fanlar yangi avlod darsliklar, o’quv qo’llanmalar bilan ta’minlangan.

Kafedrada o’qitiladigan barcha fanlar bo’yicha ma’lumotlar tayyorlanib Moodlye tizimiga kiritildi.

2020-2021 o’quv yilida kafedrada o’tiladigan aksariyat fanlardan ma’ruza matni lotin alifbosida tayyorlanib talabalar foydalanishi uchun tarqatildi.

Kafedraga tegishli barcha fanlar bo’yicha talabalar bilimini nazorat qilishda maxsus elektron test dasturidan foydalaniladi, barcha fanlarda testlar majmui tayyorlangan.

Amaliy mashg’ulotlarning va malakaviy amaliyotlarni o’tkazish  bo’yicha  to’liq uslubiy ta’minlandi.

Kafedrada Oliy va o’rta maxsus ta’lim vazirligi tomonidan tasdiqlangan «Talaba mustaqil ishini tashkil etish, nazorat qilish va baholash tartibi to’g’risida»gi namunaviy Nizom asosida ishlab chiqilgan «Jizzax politexnika institutida talaba mustaqil ishini tashkil etish, nazorat qilish va baholash tartibi to’g’risida»gi Nizomga asosan talaba mustaqil ishi tashkil etiladi. 2020-2021 o’quv yilida barcha fanlar bo’yicha talabalar mustaqil ishlarini tashkil etish bo’yicha uslubiy qo’llanmalar ishlab chiqilgan.

Kafedrada talabalar tomonidan kurs ishlari va bitiriuv malakaviy ishlarining aksariyat qismi SorelDRAW va AutoCAD dasturlarida tayyorlanmoqda. Shu munosobat bilan institut rektorining tashabbusi bilan “Arxitekturaviy loyixalash” kafedrasiga jami 18 komplekt yuqori opretiv tezlikka ega bo’lgan zamonaviy kompyuterlar berildi.
            </p>

        </div>
    </div>
</div>



{% endblock content %}




