{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/tranmux.jpg" %}">
                </div>
                <div class="right">
                    <p>Transport vositalari muhandisligi kafedrasi mudiri</p>
                    <p>PhD, dotsent <b>Ernazarov Aziz Alibayevich </b></p>
                    <p><b>Qabul vaqti:</b>dushanba-juma (soat 14:00 dan 16:00 gacha)</p>
                    <p><b>Telefon:</b>+998915960104</p>
                    <p><a href=" ixtiyor.8778@mail.ru" class="poshta" ><b> E-mail: </b> ixtiyor.8778@mail.ru</a> </p>
                </div>
            </div>
            <p>
               <br><b>&nbsp;&nbsp; Kafedra tarixi:</b><br>
               Kafedra 1993 yilda «Avtomobillar va avtomobilsozlik» nomi bilan tashkil etilgan. Dotsent T. Abduazizov rahbarligida kafedraning tarkibi shakllantirildi, o’quv jarayonini tashkil etish uchun barcha zarur sharoitlar yaratildi.

               1998-1999 yillarda kafedrani akademik N.Rashidov boshqargan. N. Rashidov rahbarligi davrida kafedraning ilmiy salohiyatini oshirishga alohida e’tibor berildi.
               
               1999 yildan 2003 yilgacha kafedrani t.f.n. M. Rahmatullaev. Uning rahbarligi davrida kafedrada kompyuter sinfi yaratildi, o’quv xonalari yangi o’quv qo’llanmalari bilan jihozlandi, ko’plab ma’ruzalar va amaliy mashg’ulotlar kompyuter texnologiyalaridan foydalangan holda o’qitildi. Talabalarning yozgi amaliyoti UzDEWOO va SamAvto korxonalarida muntazam ravishda o’tkazib kelinmoqda.
               
               2003 yildan 2008 yilgacha kafedrani Jizzax politexnika instituti professori O. Hamroqulov boshqargan. Qisqa vaqt ichida kafedraning ilmiy-pedagogik tarkibi o’zgarib, kafedraning ilmiy salohiyati yaxshilandi.
               
               Shu vaqt ichida kafedra o’qituvchisi S.A. Usmonov nomzodlik dissertatsiyasini himoya qildi.
               
               2008 yildan 2013 yilgacha kafedrani dotsent S. Usmonov boshqargan. S.Usmonov rahbarligida CD_JEP-26123-2005 xalqaro va ilmiy grantlari loyihalari «CAD / CAE / CAM tizimlarida muhandislik magistrlik dasturini yaratish» (umumiy summasi 430810 evro) va OT-F-6-004 «Olib tashlash avtoulovlardan ajratilgan chiqindi gazlar, taqsimlanish printsipi va ularning atmosfera havosining muvozanatiga ta’siriga asoslanib «(jami 21 million so’m). Ushbu loyihalar natijasida 2009 yil yanvar oyida CAD / CAM o’quv laboratoriyasi ishga tushirildi
               
               2013 yildan 2019 yilgacha kafedrani texnika fanlari nomzodi boshqargan. Dos. O.K. Odilov.
               
               Dots. Rahbarligida O. Odilova, kafedrada 1 ta innovatsion loyiha amalga oshirildi, ushbu loyiha asosida kafedra doktoranti S.Jiyanboev o’z ilmiy ishini yakunladi. Dotsent S.A rahbarligida. Usmonov, ikkita xalqaro grant amalga oshirilmoqda.
               
               2019 yildan boshlab kafedrani filologiya fanlari nomzodi Asqarov Ixtiyorjon Baxtierovich boshqarib kelmoqda. Shu davrdan boshlab kafedrada ilmiy ishlarga katta e’tibor berilmoqda. Kafedra professor-o’qituvchilari institut ilmiy hayotida faol qatnashadilar.
               
               2019-2020 yillarda fakultet tomonidan 5 ta darslik, 2 ta o’quv qo’llanma, 42 ta o’quv-uslubiy qo’llanma, 6 ta patent, 36 dan ortiq konferentsiyalarning ilmiy maqolalari, 60 dan ortiq ilmiy maqolalar ilmiy va xorijiy ilmiy jurnallarda nashr etildi.
               
               2020-2021 yillarda fakultet tomonidan 3 ta o’quv qo’llanma, 8 ta o’quv qo’llanma, 56 ta o’quv-uslubiy qo’llanma, 12 ta patent, 48 dan ortiq konferentsiyalarning ilmiy maqolalari, 70 dan ortiq ilmiy maqolalar ilmiy va xorijiy ilmiy jurnallarda nashr etildi. Kafedra o’qituvchilari Rossiyaning «SIMETRA» kompaniyasi bilan birgalikda Samarqand shahrining harakat xavfsizligini yaxshilash bo’yicha xalqaro loyihada faol ishtirok etishdi.
               <br><b>&nbsp;&nbsp; Bakalavr yo’nalishlari:</b><br>
               5310600 –  Transport vositalari muhandisligi (turlari bo’yicha)

                5310500- Avtomobilsozlik va traktorsozlik
               <br><b>&nbsp;&nbsp; Magistratura mutaxassisligi:</b><br>
               5A310601 – Er usti transport vositalari va tizimlari (transport turlari bo‘yicha)

                5A310604 – Avtomobillar va avtomobil xo‘jaligi

 
            </p>

        </div>
    </div>
</div>



{% endblock content %}




