{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/iconmen.png" %}">
                </div>
                <div class="right">
                    <p>Ishlab chiqarish jarayonlarini avtomatlashtirish va boshqarish» kafedrasi mudiri</p>
                    <p><b>Eshonqulov Sherzod Ummatovich</b></p>
                    <p><b>Qabul vaqti:</b> haftaning Seshanba, Payshanba va Shanba kunlari soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b>+998936502283</p>
                    <p><a href="sh.eshonqulov995@gmail.com" class="poshta" ><b> E-mail: </b>sh.eshonqulov995@gmail.com</a> </p>
                    
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp;Ishlab chiqarish jarayonlarini avtomatlashtirish va boshqarish» kafedrasi tarixi</b><br>
                “Ishlab chiqarish jarayonlarini avtomatlashtirish va boshqarish” kafedrasida hozirgi kunda 1 ta ta’lim yo’nalishi bo’yicha bakalavrlar tayyorlanib kelmoqda

–60711400 – “Texnologik jarayonlar va ishlab chiqarishni avtomatlashtirish va boshqarish” ta’lim yo’nalishi mavjud.

Kafedrada bitta ma’ruzalar xonasi, 1 ta amaliy-seminarlar xonalari, 3 ta kompyuter xonasi mavjud, bundan tashqari ta’lim va ishlab chiqarish o’rtasidagi fan-ta’lim va ishlab chiqarish integratsiyani, nazariya bilan amaliyotning uyg’unlashuvini jadallashtirish maqsadida Ishlab shiqarish korxonalari va kafedra o’rtasida imzolangan xamkorlik shartomalari asosida “Zarista Textile”, “UzTelecom AK”, “Jizzax Polimer Plast”, “Jizzax Toshtepa Textile” MCHJ korxonalarida kafedra bilan xamkorlik yo’lga qo’yilgan. Bugungi kunda ushbu korxonalarda dars o’tish, amaliy tadqiqotlar olib boorish, ilmiy tadqiqotlar o’tkazish uchun shart-sharoitlar yetarli darajada yaratilgan. Bunda jami 18 nafar professor-o’qituvchilar faoliyat ko’rsatib kelmoqda.

2021-2022 o’quv yilida kafedradagi maxsus fanlardan yetishmagan o‘quv adabiyotlar bo‘yicha shu o‘quv yili davomida 2 ta darslik, 6 ta o‘quv qo‘llanma va 6 ta monografiya kafedra professor-o‘qituvchilari tomonidan ishlab chiqilib o‘quv jarayoniga qo‘llanildi.
1992 yilda «Ishlab chiqarish jarayonlarini avtomatlashtirish va boshqarish» kafedrasi «Informatika va IT» kafedrasi deb nomlangan va institut kengashining avgust oyi qaroriga asosan «Oliy matematika» kafedrasi bazasida tashkil qilindi.

1996 yilda kafedraga dots. A.Savurboev mudir etib saylandi va kafedra faoliyati oldiga ilmiy-tadqiqot, o’quv uslubiy, ma`naviy-ma`rifiy ishlar bo’yicha yangi vazifalar qo’yildi. 2002-2003 o’quv yilidan boshlab kafedra «Informatika va axborot texnologiyalari» deb nomlandi va unga 5521900-«Informatika va axborot texnologiyalari» yo’nalishi bo’icha malakali mutaxassislarni tayorlash vazifasi yuklandi.

2004 yilda kafedraga dots. B.Qo’ziyev mudir etib saylandi. Kafedrada o’quv mashg’ulotlari bilan birgalikda ilmiy tadqiqot ishlari ham uzviy ravishda olib boriladi. Olib borilayotgan ilmiy tadqiqot ishlarining natijalari Respublika ilmiy-amaliy konferentsiyalarida, institut ilmiy ishlari to’plamlarida o’z aksini topmoqda.

2008 yildan 2017 yilgacha kafedra mudiri vazifasini dotsent S.A.Tavboyev bajarib kelgan. Bu davrga kelib 2008 yilda yangidan Kasbiy pedagogik ta’lim «Informatika va axborot texnologiyalari» yo’nalishiga talabalar qabul qilina boshladi.

2018- yildan 2023 yil fevral oyigacha kafedraga dots. U.Turopov  mudir etib saylandi. 2020 yilda «Ishlab chiqarish jarayonlarini avtomatlashtirish va boshqarish» kafedrasi deb nomlandi. Kafedrada o’quv mashg’ulotlari bilan birgalikda ilmiy tadqiqot ishlari ham uzviy ravishda olib boriladi. Olib borilayotgan ilmiy tadqiqot ishlarining natijalari Respublika ilmiy-amaliy konferentsiyalarida, institut ilmiy ishlari to’plamlarida o’z aksini topmoqda.

Kafedra zamonaviy kompyuterlar bilan jihozlangan bo’lib, xalqaro axborot tarmog’i – Internetga ulangan. Har bir o’quv mashg’uloti elektron darsliklar asosida, hamda masofaviy o’qitish uslublaridan foydalanilgan holda zamonaviy kompyuter texnologiyalati asosida olib borilmoqda.

Kafedra o’qituvchilaridan hozirgi vaqtda katta o’qituvchi U.Hasanov, A.Guliyev, assistentlar N.Qarshiboyev, N.Ibragimova, I.Tavboyevlar dissertatsiyasi ustida ilmiy tadqiqot ishlarini olib bormoqdalar.

       
<br><b>&nbsp;&nbsp;Yangi 2022-2023 yil uchun quyidagi tadbirlarni amalga oshirish rejalashtirilgan:</b><br>
                2022-2023 o’quv yilida kafedraning professor-o‘qituvchilari Ege University, Faculty of Science Department of Mathematics professor-o‘qituvchilari bilan hamkorlikda ilmiy tadqiqot ishlarini amalga oshirishni yo’lga qo’ymoqchi.

– kafedra ilmiy salohiyatini 50% ga yetkazish yo‘llarini izlash;

-mustaqil tadqiqotchilar dissertatsiyalarining bajarilish ahvoli haqida fakul`tetlar ilmiy kengash yig‘ilishlarida atroflicha muhokama qilish va tegishli qarorlar qabul qilish;

– kafedrada davlat grantlari, korxona va tashkilotlar buyurtmasi (shartnoma) asosida tegishli ixtisoslik va mutaxassisliklar bo‘yicha mutaxassis ilmiy-pedagogik kadrlar tayyorlovchi, doktorlik dissertatsiyasini himoya qilishga, ilmiy-tadqiqot natijalarini amaliyotga joriy etishga, ixtiro va ratsionalizatorlik takliflari bo‘yicha hujjatlarni tayyorlash va rasmiylashtirishga ko‘maklashish;

-kafedra professor-o‘qituvchilari tomonidan yaratilayotgan innovatsion ishlanmalarni ishlab chiqarishda tatbiq etish masalalarini amalga oshirish;

-kafedrada xalqaro miqyosdagi ilmiy-amaliy anjuman o‘tkazish;

iqtidorli talabalar va yosh olimlarni turli xil anjuman va tanlovlarda faol ishtirok etishini ta’minlash;

-Kafedraga qarashli guruhlarning iqtidorli talabalari bilan professor-o‘qituvchilar muntazam ishlash, ilmiy-amaliy yordam ko’rsatish.

Kafedrada o‘tiladigan fanlar bo‘yicha ilg‘or pedogogik va axborot texnologiyalardan samarali foydalanilmoqda.

O‘quv yili davomida talabalarga har taraflama chuqur bilim berish maqsadida yangi pedagogik vzamonaviy a axborot texnologiyalardan unumli foydalanishga asosiy e’tibor qaratilmoqda. Hamma fanlardan ko‘rgazmali qurollar, elektron slaydlar tayyorlangan va institut ARM bazasiga kiritilgan.

Kafedrada yaratilgan o‘quv qo‘llanmalar, uslubiy ko‘rsatmalar, elektron slaydlar har oyda Ziyonet elektron tarmog‘iga joylashtirilib kelinmoqda.

Kafedrada o‘qitiladigan fanlar zamonaviy pedagogik va axborot texnologiyalari asosida tashkil etilmoqda. Ma’ruza va amaliy mashg‘ulotlarda multimediya, prezentatsiya qo‘llanilmoqda.Ma’ruza mashg‘ulotlarining 25% dan ortig‘i muammoli tarzda tashkil etilib, ularda talabalarning faolligi ta’minlanmoqda. Buning natijasida kafedrada o‘qitiladigan fanlar bo‘yicha talabalarning o‘rtacha o‘zlashtirish ko‘rsatkichi yildan yilga ortib bormoqda.
                <br><b>&nbsp;&nbsp;Radioelektronika kafedrasi haqida ma’lumot</b><br>

               
            </p>

        </div>
    </div>
</div>



{% endblock content %}




