{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>DOKTORANTURA</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/dokt/__dokt-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col-md-9">
                    <main id="content" class="content-style">
                                                <article id="post-279" class="post-279 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Doktorantlar ma’lumotlari</h1>                             </div>
                                <div class="entry-content">
                                                                    <p style="text-align: center;"><strong>Jizzax politexnika institutida mavjud tayanch doktorantura doktorantlari, stajyor tadqiqotchilari va mustaqil izlanuvchilari to‘g‘risida ma’lumot</strong></p>
    <table class="table table-bordered" width="100%">
    <tbody>
    <tr>
    <td width="62"><strong>№</strong></td>
    <td width="141"><strong>F.I.Sh</strong></td>
    <td width="212"><strong>Ixtisosligi</strong></td>
    <td width="265"><strong>Mavzusi</strong></td>
    <td width="150"><strong>Ilmiy rahbari</strong></td>
    <td colspan="2" width="80"><strong>Ta’lim shakli</strong></td>
    </tr>
    <tr>
    <td width="62">1.</td>
    <td width="141">Nuriddin Gadayev Erdashevich</td>
    <td width="212">05.06.02-To‘qimachilik materiallari texnologiyasi va xom-ashyoga dastlabki ishlov berish</td>
    <td width="265">Sifatli tola olish maqsadida tosh tutgich qurilmasining samarali konstruksiyasini yaratish</td>
    <td width="150">t.f.d., prof. Muradov Rustam Muradovich</td>
    <td colspan="2" width="80"><strong>D</strong><strong>/1</strong></td>
    </tr>
    <tr>
    <td width="62">2.</td>
    <td width="141">Diyor Shamiyev Baxriddin o‘g‘li</td>
    <td width="212">05.06.02-To‘qimachilik materiallari texnologiyasi va xom-ashyoga dastlabki ishlov berish</td>
    <td width="265">To‘quv dastgohlari assortimentlik imkoniyatlari asosida yo‘l-yo‘l naqshli to‘qimalarni loyihalash</td>
    <td width="150">t.f.n., dots., Doniyorova Matluba Adashbayevna</td>
    <td colspan="2" width="80"><strong>D/1</strong></td>
    </tr>
    <tr>
    <td width="62">3.</td>
    <td width="141">Xoldorova Muxayyo Otakulovna</td>
    <td width="212">13.00.05.-Kasb-hunar ta’limi nazariyasi va metodikasi</td>
    <td width="265">Pedagogika kollejlarida ekologik ta’lim metodikasini o‘qitishni takomillashtirish</td>
    <td width="150">p.f.d., prof., Xamidov Jalil Abdurasulovich</td>
    <td colspan="2" width="80"><strong>D</strong><strong>/1</strong></td>
    </tr>
    <tr>
    <td width="62">4.</td>
    <td width="141">Suyarov Anvar Olimjon o‘g‘li</td>
    <td width="212">05.05.06-Qayta tiklanadigan energiya turlari asosidagi energiya qurilmalari</td>
    <td width="265">Qayta tiklanuvchi energiya manbali elektr ta’minoti tizimida nosinusoidal kattaliklarni tadqiq qilish.</td>
    <td width="150">t.f.n., dots. Sattarov Xurshid Abdishukurovich</td>
    <td colspan="2" width="80"><strong>D</strong><strong>/2</strong></td>
    </tr>
    <tr>
    <td width="62">5.</td>
    <td width="141">Tillayev Mirjalol Abdubanonovich</td>
    <td width="212">05.09.05- Qurilish materiallari va buyumlari</td>
    <td width="265">Dispers materiallari bilan armaturalangan mayda donali og‘ir betonlarning xossalarini tadqiq etish</td>
    <td width="150">t.f.n, dos. Qo‘ldashev Xoljigit Qo‘ldashevich</td>
    <td colspan="2" width="80"><strong>D</strong><strong>/2</strong></td>
    </tr>
    <tr>
    <td width="62">6.</td>
    <td width="141">Ulug‘muradov Xamroz Yusuf o‘g‘li</td>
    <td width="212">05.06.02-To‘qimachilik materiallari texnologiyasi va xom-ashyoga dastlabki ishlov berish</td>
    <td width="265">Sifatli tola olish maqsadida paxtani mayda iflosliklardan tozalash mashinasining samarali konstruksiyasini yaratish.</td>
    <td width="150">t.f.d., prof.Muradov Rustam Muradovich</td>
    <td colspan="2" width="80"><strong>D</strong><strong>/2</strong></td>
    </tr>
    <tr>
    <td width="62">7.</td>
    <td width="141">Muxametshina Elmira Talgatovna</td>
    <td width="212">05.06.02-To‘qimachilik materiallari texnologiyasi va xom-ashyoga dastlabki ishlov berish</td>
    <td width="265">Paxtani qayta ishlash texnologiyasida chigit shikastlanishini tadqiq qilish</td>
    <td width="150">t.f.d., prof.Muradov Rustam Muradovich</td>
    <td colspan="2" width="80"><strong>D</strong><strong>/2</strong></td>
    </tr>
    <tr>
    <td width="62">8.</td>
    <td width="141">Adilov Boburjon Baxriddin o‘g‘li</td>
    <td width="212">13.00.05-Kasb taьlimi nazariyasi va metodikasi</td>
    <td width="265">Talabalarni kasbiy faoliyatga tayyorlashda o‘qitishning elektron vositalaridan foydalanish metodikasi (Texnika oliy ta’lim muassasalari misolida).</td>
    <td width="150">p.f.d., dos. Xamidov Jalil Abdurasulovich</td>
    <td colspan="2" width="80"><strong>D</strong><strong>/2</strong></td>
    </tr>
    <tr>
    <td width="62">9.</td>
    <td width="141">Isroilov Ulug‘bek&nbsp; Begali o‘g‘li<p></p>
    <p>&nbsp;</p></td>
    <td width="212">05.01.02-Tizimli tahlil, boshqaruv va axborotni qayta ishlash</td>
    <td width="265">Murakkab jarayonlarni modellashtirishda adekvat mezon tanlash uchun omillar, yondoshishlar va asosiy usullar tahlili</td>
    <td width="150">t.f.n., dos. Turopov Ulug‘bek O‘razovich</td>
    <td colspan="2" width="80"><strong>D</strong><strong>/3</strong></td>
    </tr>
    <tr>
    <td width="62">10.</td>
    <td width="141">Karimova Kamola Gʻulomovna</td>
    <td width="212">05.08.06-Gʻildirakli va gusenisali mashinalar va ularni ishlatish</td>
    <td width="265">O‘zbekiston sharoitida maydalangan shina rezinalarini qo‘shish hisobiga asfaltbeton qoplamalarni sifatini oshirish</td>
    <td width="150">t.f.d., prof. Shermuxammedov Abdulaziz Adilxanovich</td>
    <td colspan="2" width="80"><strong>D</strong><strong>/3</strong></td>
    </tr>
    <tr>
    <td width="62">11.</td>
    <td width="141">Abdusamatov Kamol Begaliyevich</td>
    <td width="212">05.09.05-Qurilish&nbsp; materiallari&nbsp; va buyumlari</td>
    <td width="265">Sanoat chiqindilarining fizik-mexanik xossalarini eksprimental-nazariy tadqiqi asosida fibrogazobeton texnologiyasini takomillashtirish</td>
    <td width="150">t.f.d., prof.A.A.Bahodirov</td>
    <td colspan="2" width="80"><strong>D</strong><strong>/3</strong></td>
    </tr>
    <tr>
    <td width="62">12.</td>
    <td width="141">Azizov Obid Ergashjanovich</td>
    <td width="212">13.00.05-Kasb-hunar ta’limi nazariyasi va metodikasi</td>
    <td width="265">Elektron ta’lim muxitida bo‘lajak boshlang‘ich sinf o‘qituvchilarining kasbiy tayyorgarligini takomillashtirish”,</td>
    <td width="150">P.f.d.prof Olimov Qahramon Tanzilovich</td>
    <td colspan="2" width="80"><strong>D</strong><strong>/3</strong></td>
    </tr>
    <tr>
    <td width="62">13.</td>
    <td width="141">Mamatqulov Asilbek Kiryigitovich</td>
    <td width="212">02.00.13-Noorganik moddalar va ular asosida materiallar texnologiyasi</td>
    <td width="265">Akkumlyator batareyalarining razryadlanish jarayonini kamaytirish usullarini takomillashtirish</td>
    <td width="150">t.f.d. F .I.Erkabayev</td>
    <td colspan="2" width="80"><strong>D</strong><strong>/3</strong></td>
    </tr>
    <tr>
    <td width="62">14.</td>
    <td width="141">Pirnazarov Ilxom Islamovich</td>
    <td width="212">05.09.03-Issiqlik taьminoti, ventilyasiya&nbsp; havoni kondisiyalash,gaz taьminoti va yoritish</td>
    <td width="265">Zamonaviy issiqxonalarda optimal mikroiqlim sharoitlarini takomillashtirish</td>
    <td width="150">t.f.d., prof.S.M.Boboyev</td>
    <td colspan="2" width="80"><strong>D</strong><strong>/3</strong></td>
    </tr>
    <tr>
    <td width="62">15.</td>
    <td width="141">Qarshiboyev Nizomiddin Abdumalik O‘g‘li</td>
    <td width="212">05.01.02-Tizimli tahlil, boshqaruv va axborotni qayta ishlash</td>
    <td width="265">Ranglarni identifikasiyalash va tahlil qilish tizimiga raqamli ishlov berish algoritmi, dasturiy ta’minotini yaratish</td>
    <td width="150">t.f.n., dos. S.A.Tavboyev</td>
    <td colspan="2" width="80"><strong>D</strong><strong>/3</strong></td>
    </tr>
    <tr>
    <td width="62">16.</td>
    <td width="141">Abdullayev Djamol Djamshedovich</td>
    <td width="212">02.00.13-Noorganik moddalar va ular asosida materiallar texnologiyasi</td>
    <td width="265">Tabiiy porfirinlar asosida farmasevtik moddalar ajratib olish texnologiyasi<p></p>
    <p>&nbsp;</p></td>
    <td width="150">k.f.d.N.Tangyarikov</td>
    <td colspan="2" width="80"><strong>D</strong><strong>/3</strong></td>
    </tr>
    <tr>
    <td style="text-align: center;" colspan="9" width="1016"><strong>Mustaqil izlanuvchilar</strong></td>
    </tr>
    <tr>
    <td width="62">1.</td>
    <td width="141">Mirzoxid Alimov Abdumalikovich</td>
    <td width="212">13.00.05-Kasb-xunar ta’limi nazariyasi va metodikasi</td>
    <td width="265">Talabalarning hisoblash tafakkurini mobil texnologiyalar asosida rivojlantirish metodikasini takomillashtirish (Raqamli boshqarish tizimlari o‘quv fani misolida)</td>
    <td width="150">p.f.f.d., dots., Yarlakabov Umirzoq Mamatqulovich</td>
    <td colspan="2" width="80"><strong>MI</strong><strong>/1</strong></td>
    </tr>
    <tr>
    <td width="62">2.</td>
    <td width="141">Turabov Anvar Mavlonkulovich</td>
    <td width="212">13.00.05-Kasb-xunar ta’limi nazariyasi va metodikasi</td>
    <td width="265">Bo‘lajak kasb ta’limi o‘qituvchilarining kasbiy barqarorligini shakllantirish.</td>
    <td width="150">p.f.n., dos. Alimov Normurod Nosirovich</td>
    <td colspan="2" width="80"><strong>MI</strong><strong>/2</strong></td>
    </tr>
    <tr>
    <td width="62">3.</td>
    <td width="141">Ibragimova Nargiza Anarovna</td>
    <td width="212">05.01.02-Tizimli tahlil, boshqaruv va axborotni qayta ishlash</td>
    <td width="265">Lazer nuri qurilmasi nazoratida ob’yektining tekis qatlamini aniqlovchi algoritim va dasturiy taminotini yaratish</td>
    <td width="150">t.f.n., dos. Turopov Ulug‘bek O‘razovich</td>
    <td colspan="2" width="80"><strong>MI/3</strong></td>
    </tr>
    <tr>
    <td width="62">4.</td>
    <td width="141">Begmatov Baxriddin Yaxshilikovich</td>
    <td width="212">13.00.05-Kasb-xunar ta’limi nazariyasi va metodikasi</td>
    <td width="265">Texnika oliygoxlarida ishlab chiqarish amaliyotini tashkil yetish va o‘tkazish metodikasini takomillashtirish</td>
    <td width="150">P.f.n. dos. S.Alikulov</td>
    <td colspan="2" width="80"><strong>MI/3</strong></td>
    </tr>
    <tr>
    <td style="text-align: center;" colspan="9" width="1018"><strong>Stajyor-tadqiqotchilar</strong></td>
    </tr>
    <tr>
    <td width="62">1.</td>
    <td width="141">Jabborov Uralbek Kankel o‘g‘li</td>
    <td width="212">05.06.02-To‘qimachilik materiallari texnologiyasi va xom-ashyoga dastlabki ishlov berish</td>
    <td width="265">Gilam ishlab chiqarish bo‘yicha xom ashyolardan samarali ishlab chiqarishning innovasion texnologiyalarini tadqiq etish</td>
    <td width="150">t.f.f.d.(PhD) Doniyorov Bektosh Baxodirovich</td>
    <td colspan="2" width="80"><strong>ST</strong></td>
    </tr>
    <tr>
    <td width="62">2.</td>
    <td width="141">Saloxitdinov Sherzod Farxodovich</td>
    <td width="212">13.00.05-Kasb-xunar ta’limi nazariyasi va metodikasi</td>
    <td width="265">Bo‘lajak muhandislarni tadbirkorlik faoliyatiga yo‘naltirib o‘qitish metodikasini takomillashtirish (61040100 – Transport logistikasi (avtomobil transporti)) ta’lim yo‘nalishi misolida</td>
    <td width="150">p.f.d., prof., Himmataliyev Do‘snazar Omonovich</td>
    <td colspan="2" width="80"><strong>ST</strong></td>
    </tr>
    <tr>
    <td style="text-align: center;" colspan="9" width="1020"><strong>Bitirgan tayanch doktorantlar</strong></td>
    </tr>
    <tr>
    <td width="62">1.</td>
    <td width="141">Guliyev Alijon Abdulxakimovich</td>
    <td width="212">05.01.02-Tizimli tahlil, boshqaruv va axborotni qayta ishlash</td>
    <td width="265">Optimal boshqaruv va modellashtirishda informativ parametrlar majmuasini shakllantirishning ko‘p mezonli usullari</td>
    <td width="150">f-m.f.n. Jo‘rayev Gʻayrat Umarovich</td>
    <td colspan="2" width="80"><strong>D</strong><strong>/3</strong></td>
    </tr>
    <tr>
    <td width="62">2.</td>
    <td width="141">Taylaqov Abdurazoq Abilovich</td>
    <td width="212">11.00.05-Atrof muhitni muhofaza qilish va tabiiy resurslardan oqilona foydalanish</td>
    <td width="265">Aydar-Arnasoy ko‘llar tizimi ekologik xolatini ekoturizmni rivojlantirish maqsadida zamonaviy usullar yordamida baholash</td>
    <td width="150">k.f.d., prof.Qulmatov Rashid Anorovich</td>
    <td colspan="2" width="80"><strong>D</strong><strong>/3</strong></td>
    </tr>
    <tr>
    <td style="text-align: center;" colspan="9" width="1016"><strong>Bitirgan mustaqil izlanuvchilar</strong></td>
    </tr>
    <tr>
    <td width="62">1.</td>
    <td width="141">Qo‘shoqov Gulmurod Adilovich</td>
    <td width="212">05.01.02-Tizimli tahlil, boshqaruv va axborotni qayta ishlash</td>
    <td width="265">Iste’molchilar yuklama grafigiga moslashuvchan gidroakkumlasiolovchi elektr stansiyalarini qurish loyihasi va uning avtomatlashtirilgan tizimi</td>
    <td width="150">t.f.n., dos.Turopov Ulug‘bek O‘razovich</td>
    <td colspan="2" width="80"><strong>MI</strong><strong>/3</strong></td>
    </tr>
    <tr>
    <td style="text-align: center;" colspan="9" width="936"><strong>Bitirgan</strong><strong> Stajyor-tadqiqotchilar</strong></td>
    </tr>
    <tr>
    <td width="62">1.</td>
    <td width="141">Xoldorova Muxayyo Otakulovna</td>
    <td width="212">13.00.05-Kasb-hunar ta’limi nazariyasi va metodikasi</td>
    <td width="265">Imkoniyati cheklangan o‘quvchilarni kasbga tayyorlashda individual yondashuvni amalga oshirish metodlari</td>
    <td width="150">P.f.d. Qaxromon Tanzilovich Olimov</td>
    <td colspan="2" width="80"><strong>ST</strong></td>
    </tr>
    </tbody>
    </table>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
        
            </div>
        </div>
    </div>
</div>



{% endblock content %}