{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>DOKTORANTURA</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/dokt/__dokt-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col-12">
                    <main id="content" class="content-style">
                                                <article id="post-277" class="post-277 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Doktorantura nizomi</h1>                             </div>
                                <div class="entry-content">
                                                                    <p>1. O’zbekiston Respublikasi Vazirlar Mahkamasi huzuridagi Oliy attestatsiya komissiyasi Rayosatining 2017 yil 31 maydagi 239/3-son «Ilmiy darajalar beruvchi ilmiy kengash to’g’risidagi nizomni tasdiqlash haqida»gi qarori (O’zbekiston Respublikasi Adliya vazirligi tomonidan 2017 yil 23 iyunda ro’yxatdan o’tkazildi, ro’yxat raqami 2893). Yuklab olish:&nbsp;<a class="a-link" href="http://oak.uz/engine/download.php?id=185">Ilmiy-kengash.pdf</a></p>
    <p>2. O’zbekiston Respublikasi Vazirlar Mahkamasi huzuridagi Oliy attestatsiya komissiyasi Rayosatining 2017 yil 31 maydagi 239/4-son «Ilmiy darajalar berish tartibi to’g’risidagi nizomni tasdiqlash haqida»gi qarori (O’zbekiston Respublikasi Adliya vazirligi tomonidan 2017 yil 23 iyunda ro’yxatdan o’tkazildi, ro’yxat raqami 2894) Yuklab olish:&nbsp;<a class="a-link" href="http://oak.uz/engine/download.php?id=186">Ilmiy-daraja.pdf</a></p>
    <p>3. O’zbekiston Respublikasi Vazirlar Mahkamasi huzuridagi Oliy attestatsiya komissiyasi Rayosatining 2017 yil 31 maydagi 239/5-son «Ilmiy unvonlar berish tartibi to’g’risidagi nizomga o’zgartirish va qo’shimchalar kiritish haqida»gi qarori (O’zbekiston Respublikasi Adliya vazirligi tomonidan 2017 yil 23 iyunda ro’yxatdan o’tkazildi, ro’yxat raqami 2793-2). Yuklab olish:<a class="a-link" href="http://oak.uz/engine/download.php?id=187">Ilmiy-unvon.pdf&nbsp;</a></p>
    <p>4. O’zbekiston Respublikasi Vazirlar Mahkamasi huzuridagi Oliy attestatsiya komissiyasi Rayosatining 2017 yil 31 maydagi 239/6-son «Malakaviy imtihonlarni o’tkazish tartibi to’g’risidagi nizomga o’zgartirishlar kiritish haqida»gi qarori (O’zbekiston Respublikasi Adliya vazirligi tomonidan 2017 yil 23 iyunda ro’yxatdan o’tkazildi, ro’yxat raqami 2764-1). Yuklab olish:&nbsp;<a class="a-link" href="http://oak.uz/engine/download.php?id=188">Malakaviy-imtihon.pdf&nbsp;</a></p>
    <p>5. O’zbekiston Respublikasi Vazirlar Mahkamasi huzuridagi Oliy attestatsiya komissiyasi Rayosatining 2017 yil 31 maydagi 239/7-son «Ekspert kengashi to’g’risidagi nizomga o’zgartirishlar kiritish haqida»gi qarori (O’zbekiston Respublikasi Adliya vazirligi tomonidan 2017 yil 23 iyunda ro’yxatdan o’tkazildi, ro’yxat raqami 2443-2). Yuklab olish:&nbsp;<a class="a-link" href="http://oak.uz/engine/download.php?id=189">Ekspert-kengash.pdf</a></p>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
        
            </div>
        </div>
    </div>
</div>



{% endblock content %}