{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Fakultetlar</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/fakultet/fakultet-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            
            {% comment %} #################################### {% endcomment %}
        
            <div class="__cards">  
                
                {% comment %} <a href="{% url "pageF1" %}" class="__card">
                    <img src="{% static "Photos/iconmen.png" %}">
                    <h4>Jiyanbayev Sirojiddin Valiyevich</h4>
                    <h6 class="__h6">Transport <br> fakulteti dеkani</h6>
                </a> {% endcomment %}
                
                <a href="{% url "pageF2" %}" class="__card">
                    <img src="{% static "Photos/san dekan.jpg" %}">
                    <h4>Abbazov Ilhom Zapirovich</h4>
                    <h6 class="__h6">Sanoat texnologiyalari <br> fakulteti dеkani</h6>
                </a>
                
                <a href="{% url "pageF3" %}" class="__card">
                    <img src="{% static "Photos/arx dekan.jpg" %}">
                    <h4>Berdiqulov Azzam Mardonovich</h4>
                    <h6 class="__h6">Arxitektura va qurilish <br> fakulteti dеkani</h6>
                </a>
                
                <a href="{% url "pageF4" %}" class="__card">
                    <img src="{% static "Photos/radiodekan.jpg" %}">
                    <h4>Pardaboyev Obid Raximboboyevich</h4>
                    <h6 class="__h6">Energetika va radioelektronika <br> fakulteti dеkani</h6>
                </a>
                
                <a href="{% url "pageF5" %}" class="__card">
                    <img src="{% static "Photos/serdekan.jpg" %}">
                    <h4>Hamidov Jalil Abdurasulovich</h4>
                    <h6 class="__h6">Servis <br> fakulteti dеkani</h6>
                </a>
                
                <a href="{% url "pageF6" %}" class="__card">
                    <img src="{% static "Photos/qur dekan.jpg" %}">
                    <h4>Mirzabekov Mirkomil Saidaxmadovich</h4>
                    <h6 class="__h6">Qurilish materiallari va kimyoviy texnologiya <br> fakulteti dеkani</h6>
                </a>

    
    
            </div>
        
            {% comment %} #################################### {% endcomment %}   
                
        </div>
    </div>
</div>



{% endblock content %}