{% extends "base.html" %} {% load static %} {% block content %}

<div class="container block news">
  <div class="top-text">
    <div>
      <h3 class="news-h3">Fakultetlar</h3>
      <div class="line-b"></div>
    </div>
    <div class="line"></div>
  </div>
  <div class="row mt-4">
    <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
      <div class="card-box_left">
        {% include "rektorat/fakultet/fakultet-copy.html" %}
      </div>
    </div>
    <div class="block_right col col-xxl-9 col-xl-9 col-lg-9">
      <div class="__user_cards mb-3">
        <div class="left"><img src="{% static "Photos/serdekan.jpg" %}"></div>
        <div class="right">
          <p>Servis fakulteti dеkani</p>
          <p>p.f.d. prof. v.b.<b> Hamidov Jalil Abdurasulovich</b></p>
          <p>
            <b>Qabul vaqti:</b> haftaning dushanba, chorshanba va juma kunlari
            soat 14:00 dan 16:00 gacha
          </p>
          <p><b>Telefon:</b> +99898 561-85-61</p>
          <p>
            <a href=" jalil1975@umail.uz" class="poshta"><b> E-mail: </b> jalil1975@umail.uz</a
            >
          </p>
        </div>
      </div>
      <div class="__user_cards mb-3">
        <div class="left"><img src="{% static "Photos/iconmen.png" %}"></div>
        <div class="right">
          <p>
            Servis fakulteti ma’naviy va ma’rifiy ishlar bo’yicha dekan muovini
          </p>
          <p><b>Xushvaqtov Dilshod Abduvaliyevich</b></p>
          <p>
            <b>Qabul vaqti:</b> haftaning dushanba, chorshanba va juma kunlari
            soat 14:00 dan 16:00 gacha
          </p>
          <p><b>Telefon:</b> +99897- 613-06-06</p>
          <p>
            <a href="  xushvaqtovdilshod606@gmail.ru" class="poshta"><b> E-mail: </b> xushvaqtovdilshod606@gmail.ru</a
            >
          </p>
        </div>
      </div>

      <p>
        <br /><b>&nbsp;&nbsp;Servis fakulteti tarixi</b><br>
        O‘zbekiston Respublikasi Oliy va O‘rta Maxsus ta’lim vazirligining 2017
        yil 9-sentyabrdagi “O‘zbekiston Respublikasi Vazirlar Mahkamasining 2017
        yil 5- sentyabrdagi 699-son qarori ijrosini ta’minlash to‘g‘risida” gi
        650-son buyrug‘iga asosan yangi “SERVIS” fakulteti tashkil topdi.
        <br /><b>&nbsp;&nbsp;Servis fakultetiga qarashli kafedralar</b><br>
        Logistika va servis kafedrasi–kafedra mudiri t.f.f.d., Djiyanboyev
        Sirojiddin Valiyevich Transport logistikasi kafedrasi haqida ma’lumot
        Jizzax politexnika institutning “Servis” fakulteti tarkibidagi
        «Transport logistikasi» kafedrasi 2017-yilda “Tashishlarni tashkil etish
        va transport logistikasi” nomi bilan tashkil qilindi. Ushbu davrda katt.
        o’q. F.Isroilov raxbarlik qilgan. Kafedra “Avtotransport korxonalarida
        texnik ekspluatatsiya jarayonida avtomobillar faoliyati samaradorligi
        hamda xavfsizligini ta’minlashning ilmiy asoslarini ishlab chiqish”,
        «Avtomobil transport vositalaridan ajralib chiqadigan chiqindi
        gazlarning atrof muxitga tarqalish qonuniyatini va ularning atmosfera
        havo balansiga ta’sirini asoslash», «Innovatsion ta’lim texnologiyalari
        asosida bo’lajak bakalavrlarni kasbiy tayyorlashning ilmiy nazariy
        asoslari» yo’nalishlari bo’yicha ilmiy tadqiqot ishlarini olib borgan.
        Shuningdek, t.f.f.d S.V.Djiyanbaev mahalliy neft xomashyolaridan
        chiquvchi chiqindilarga qayta ishlov berib avtomobil va temiryo’l
        transportida uzatmalar qutisida foydalanish uchun surkov moylarini olish
        bo‘yicha ilmiy ishlarni amalga ochirib, qator patent va ilmiy yutuqlarga
        erishgan. Hozirgi kunda kafedrada katt.o’q. S.Qosimov “Elektron ta’lim
        trenajorlarini loyihalash va ulardan foydalanish metodikasi”, katt.o’q.
        Qarshiboyev Sh.E. “Texnika oliy ta’lim muassasalarida talabalarning
        maxsus kompetensiyalarini shakllantirish metodikasi (Yo‘lovchilarni
        tashishning zamonaviy texnologiyalari fani misolida), Axmedov Z.S.
        “Hududiy transport logistikasi sohasini boshqarishning innovatsion
        mexanizmlarini takomillashtirish” mavzularida ilmiy izlanishlar olib
        bormoqda. Shuni alohida ta’kidlash joizki, kafedra xalqaro va mahalliy
        loyihalarni amalga oshirishda katta tajribaga ega bo‘lib, jumladan,
        2017-2021-yillarda xalqaro “INTRAS” loyihasini amalga oshirdi va
        kafedrada “Intellektual transport tizimlari” mutaxassisligi bo‘yicha
        yangi magistratura yo‘nalishi ochildi. 2021-yilda Rossiyaning “SIMETRA”
        kompaniyasi bilan hamkorlikda “Samarqand shahar transport
        aglomeratsiyasi uchun yo‘lovchilar oqimini o‘rganish” loyihasini amalga
        oshirdi. Kafedrada 30 dan ortiq professor-o‘qituvchilar faoliyat yuritib
        kelmoqda. Kafedra mudiri t.f.f.d. S.V.Djiyanbaev, dots. M.
        Raxmatullayev, katt.o‘qt. F.Isroilov, katt.o‘qt. S.Qosimov, katt.o‘qt.
        M.Eshonqulov, katt.o‘qt. Sh.Qarshiboyev, katt.o‘qt. X.Tog‘ayev,
        katt.o‘qt. Sh.Xoshimova, ass.Z.Axmedov, ass.B.Yo‘ldoshyev,
        ass.A.Nishonov, ass. B.Turatov, ass. I.Safarov, ass. D.Kuchimova kabi
        qator malakali fan o’ituvchilar faoliyat yuritmoqda. S.Djiyanbaev ilmiy
        faoliyati davomida 1 ta darslik, 4 ta o‘quv qo’llanma, darslik va
        broshyuralar, 30 dan ortiq ilmiy maqola, Gеrmaniya, Angliya, Ozarbayjon,
        Slovakiya, Avstriya kabi Yevropaning ko’plab rivojlangan davlatlarida
        malaka oshirib kelgan. BAKALAVRIAT 5620100 Transport logistikasi (TL)
        5610100 Xizmatlar sohasi (AT) 5320200 Mashinasozlik texnologiyasi,
        mashina ishlab chiqarishni jihozlash va avtomatlashtirish (MT,MIChJ va
        A) MAGISTRATURA 5А310609 – Intellektual transoport transport tizimlari
        (avtomobil transporti)
      </p>
    </div>
  </div>
</div>

{% endblock content %}
