{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Bo'limlar</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/fakultet/fakultet-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/arx dekan.jpg" %}">
                </div>
                <div class="right">
                    <p>Arxitektura va qurilish fakulteti dеkani</p>
                    <p>iqtisod fanlari nomzodi.<b> Berdiqulov Azzam Mardonovich</b></p>
                    <p><b>Qabul vaqti:</b> haftaning seshanba, payshanba va juma kunlari soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b> (97) 815 85 00</p>
                    <p><a href=" azzamberdikulov@mail.ru" class="poshta" ><b> E-mail: </b> azzamberdikulov@mail.ru</a> </p>
                </div>
            </div>
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/iconmen.png" %}">
                </div>
                <div class="right">
                    <p>Arxitektura va qurilish fakulteti dеkani</p>
                    <p>iqtisod fanlari nomzodi.<b> Berdiqulov Azzam Mardonovich</b></p>
                    <p><b>Qabul vaqti:</b> haftaning seshanba, payshanba va juma kunlari soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b> (97) 815 85 00</p>
                    <p><a href=" azzamberdikulov@mail.ru" class="poshta" ><b> E-mail: </b> azzamberdikulov@mail.ru</a> </p>
                </div>
            </div>
            <p>
                <br><b>&nbsp;&nbsp;Arxitektura va qurilish fakulteti tarixi</b><br>
                Mustaqillikdan keyin, 1992-yilda Toshkent politexnika institutining Jizzax filiali O‘zbekiston Respublikasi Prezidentining farmoniga binoan, alohida mustaqil Jizzax politexnika institutiga aylantirildi. 1977-yilda Toshkent politexnika institutining Jizzax “Umumtexnika” fakulteti tashkil etildi. 1980-yilda u Toshkent politexnika institutining Jizzax filiali sifatida faoliyat ko‘rsatib, bunda asosan, “Sanoat va fuqaro qurilishi”, “Qurilish buyumlarini ishlab chiqarish” mutaxassisliklari bo‘yicha bugungi kunga qadar respublikamiz va viloyatimiz xalq xo‘jaligiga ko‘plab mutaxassislar yetkazib berdi.

Bu vaqtga kelib institut tarkibiga Toshkent avtomobil yo‘llari institutning Jizzaxdagi “Umumtexnika”, Toshkent Kimyo texnologiya institutining Jizzax “Umumtexnika” fakultetlari ham birlashtirilib Jizzax politexnika instituti tarkibida 5 ta fakultet faoliyat ko‘rsata boshladi. Bular: “Qurilish muhandisligi”, “Muhandislik iqtisodiyoti”, “Avtomexanika”, “Kimyo texnologiya”, “Kechki-sirtqi” fakultetlari shular jumlasidandir.

Hozirgi “Arxitektura va qurilish” fakulteti 2014-yil  12-iyundagi “Vazirlar Mahkamasining Jizzax politexnika instituti faoliyatini takomillashtirish to‘g‘risida 2012-yil 29- iyundagi 187-son qaroriga o‘zgartirish kiritish haqida” 157-son qarori, shuningdek, Oliy va o‘rta maxsus ta’lim vazirligining 2014-yil 14-iyundagi 229-sonli buyrug‘ini ta’minlash maqsadida, “Binolar va muhandislik inshootlari injineringi” nomi bilan “Avtotransport” hamda institutning “Sanoat texnologiyasi va qurilish” fakulteti bazasida “Sanoat texnologiyasi” fakultetlari tashkil etildi.

Jizzax viloyatining ishlab chiqarish va qurilish tarmoqlari uchun malakali mutaxassislar tayyorlash sifatini oshirish orqali mintaqaning ijtimoiy-iqtisodiy rivojlanishini ta’minlash, Jizzax erkin industrial zonasida zamonaviy texnologiyalar asosida barpo etilgan korxonalar uchun yuqori malakali mutaxassislar tayyorlashni tizimli yo‘lga qo‘yish, respublika hududlarida arxitektura va qurilish sohasi xodimlari kasb darajasi va malakasini zamonaviy talablarga muvofiq muntazam oshirib borish tizimini joriy etish maqsadida Vazirlar Mahkamasining 2017- yil 5-sentyabrdagi 699-son qarori, Oliy va o‘rta maxsus ta’lim Vazirligining 2017-yil 17- sentyabrdagi 650-son buyrug‘i ijrosini ta’minlash maqsadida Jizzax politexnika institutida “Arxitektura va qurilish”, “Sanoat texnologiyalari”, “Avtotransport”, “Elektromexanika va radioelektronika”, “Servis” fakultetlari tashkil topdi.
<br><b>&nbsp;&nbsp;Arxitektura va qurilish fakulteti tarkibida 4 ta kafedra faoliyat ko‘rsatadi</b><br>
1.“Bino va inshootlar qurilishi” kafedrasi, kafedra mudiri t.f.n. dots. Asatov Nurmuxammad Abdunazarovich.<br>
2.“Muhandislik kommunikatsiyalari” kafedrasi, kafedra mudiri katta o‘qituvchi Sultonov Akmal .<br>
3.“Arxitekturaviy loyihalash” kafedrasi, kafedra mudiri t.f.n. dots. Bobobekov Baxodir Kudratovich.<br>
4.“O‘zbek tili va adabiyoti” kafedrasi, kafedra mudiri katta o‘qituvchi Xamdamova Xanifaxon Shukurillayevna<br>
<br><b>&nbsp;&nbsp;Fakultetda 4 ta ta’lim yo’nalishlari bo‘yicha bakalavrlar tayyorlanadi.</b><br>
60730300 – “Bino va inshootlar qurilishi”<br>
60730400 – “Muhandislik kommunikatsiyalari qurilishi va montaji”<br>
60730100 – “Arxitektura” (turlari bo‘yicha)<br>
5610100 – “Xizmatlar sohasi” (uy-joy kommunal va maishiy xizmatlar)<br>

            </p>
         
        </div>
    </div>
</div>



{% endblock content %}




