<div class="card-box_left">
    <a href="{% url "tBp1" %}" class="btn">E’lon va yangiliklar</a>
    <a href="{% url "tBp2" %}" class="btn">Yo’riqnoma</a>
    <a href="{% url "tBp3" %}" class="btn">Dars jadvali</a>
    <a href="{% url "tBp4" %}" class="btn">O’zlashtrish</a>
    <a href="{% url "tBp5" %}" class="btn">Davomat</a>
    <a href="{% url "tBp6" %}" class="btn">Iqtidorli talabalar</a>
    <a href="{% url "tBp7" %}" class="btn">Stipendiyalar</a>
    <a href="{% url "tBp8" %}" class="btn">Kontrakt miqdorlari</a>
    <a href="{% url "tBp9" %}" class="btn">Talabalar turar joyi</a>
    <a href="{% url "tBp10" %}" class="btn">BMI ximoyasi</a>
</div>
