{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>BAKALAVRIAT</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "talabalar/bakalavr/bakalavr-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col">
                    <main id="content" class="content-style">
                                                <article id="post-390" class="post-390 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Stipendiyalar</h1>                             </div>
                                <div class="entry-content">
                                                                    <p style="text-align: center;"><strong>Oliy ta‘lim muassasalari talabalari stipendiyalarining bazaviy miqdorlari</strong></p>
    <table class="table" border="1" width="100%" cellspacing="0">
    <tbody>
    <tr>
    <td><strong>Т/r</strong></td>
    <td style="text-align: center;"><strong>Talabalar toifasi</strong><br>
    (xorijiy talabalardan tashqari)</td>
    <td><strong>Miqdori</strong><br>
    (bir oyda so‘m)</td>
    </tr>
    <tr>
    <td>1.</td>
    <td>O‘zbekiston Respublikasi Prezidentining Davlat stipendiyalariga</td>
    <td>2 191 541</td>
    </tr>
    <tr>
    <td>2.</td>
    <td>Beruniy, Ibn Sino, Navoiy, Ulug‘bek, Imom al-Buxoriy va Islom Karimov nomidagi Davlat stipendiyalariga</td>
    <td>1 461 028</td>
    </tr>
    <tr>
    <td>3.</td>
    <td>Oliy ta’lim muassasalari talabalariga to‘lanadigan stipendiyaning bazaviy miqdori</td>
    <td>517 880</td>
    </tr>
    <tr>
    <td>4.</td>
    <td>Barcha fanlar bo‘yicha o‘zlashtirish ko‘rsatkichi faqat “a’lo” baho (reyting ko‘rsatkichi 86 balldan kam bo‘lmagan) bo‘lgan talabalarga tayinlanadigan stipendiya miqdori</td>
    <td>621 456</td>
    </tr>
    <tr>
    <td>5.</td>
    <td>Iqtidorga ega, halqaro, respublika va oliy ta‘lim muassasasi miqyosida o‘tkazilgan fan olimpiadalari g‘olibi bo‘lgan talabaga alohida tayinlanadagan qo‘shimcha stipendiyaning miqdori:<p></p>
    <p>xalqaro miqyosidagi olimpiada g‘olibi</p>
    <p>respublika miqyosidagi olimpiada g‘olibiga</p>
    <p>oliy ta’lim muassasasi miqyosidagi olimpiada g‘olibiga</p></td>
    <td>&nbsp;<p></p>
    <p>&nbsp;</p>
    <p>1 553 640</p>
    <p>1 035 768</p>
    <p>517 880</p></td>
    </tr>
    <tr>
    <td>7.</td>
    <td>Kar-soqov, ko‘zi ojiz hamda 1 va 2-guruh nogironligi bo‘lgan talabalarga stipendiya belgilangan stipendiyaga nisbatan 50 foiz yuqori miqdorda nazarda tutiladi.</td>
    <td></td>
    </tr>
    </tbody>
    </table>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}