<div class="card-box_left">
    <a href="{% url "tMp1" %}" class="btn">Yo’riqnoma</a>
    <a href="{% url "tMp2" %}" class="btn">Dars jadvali</a>
    <a href="{% url "tMp3" %}" class="btn">O’zlashtirish</a>
    <a href="{% url "tMp4" %}" class="btn">Davomat</a>
    <a href="{% url "tMp5" %}" class="btn">Iqtidorli talabalar</a>
    <a href="{% url "tMp6" %}" class="btn">Kontrakt miqdorlari</a>
    <a href="{% url "tMp7" %}" class="btn">Stipendiyalar</a>
    <a href="{% url "tMp8" %}" class="btn">Magistrlik dissertatsiyasi mavzulari to’g’risidagi e’lonlar</a>
    <a href="{% url "tMp9" %}" class="btn">Magistrlik dissertatsiya ximoyasi</a>
</div>