{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Magistratura</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "talabalar/magistr/__magistr-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col">
                    <main id="content" class="content-style">
                                                <article id="post-3661" class="post-3661 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Davomat</h1>                             </div>
                                <div class="entry-content">
                                                                    <p style="text-align: center;"><strong>Jizzax politexnika instituti<br>
    2019/2020 o’quv yili kuzgi semestri bo’yicha magistratura talabalar davomati to’g’risida ma’lumot</strong></p>
    <p>&nbsp;</p>
    <table class="tabel table-bordered width=">
    <tbody>
    <tr>
    <td style="text-align: center;" rowspan="3" width="155"><strong>OTM nomi</strong></td>
    <td style="text-align: center;" rowspan="3" width="216"><strong>Fakultet nomi</strong></td>
    <td style="text-align: center;" rowspan="3" width="330"><strong>Ko’rsatkichlar</strong></td>
    <td style="text-align: center;" rowspan="3" width="99"><strong>O’lchov birligi</strong></td>
    <td style="text-align: center;" colspan="3" rowspan="2" width="192"><strong>Magistratura</strong></td>
    </tr>
    <tr>
    <td></td>
    </tr>
    <tr>
    <td width="64"><strong>1-kurs</strong></td>
    <td width="64"><strong>2-kurs</strong></td>
    <td width="64"><strong>jami</strong></td>
    </tr>
    <tr>
    <td style="text-align: center;" rowspan="10" width="155">Jizzax politexnika instituti</td>
    <td style="text-align: center;" rowspan="2" width="216">Avtotransport</td>
    <td style="text-align: center;" width="330">Talabalar soni</td>
    <td style="text-align: center;" width="99">soni</td>
    <td style="text-align: center;" width="64">32</td>
    <td style="text-align: center;" width="64">17</td>
    <td style="text-align: center;" width="64">49</td>
    </tr>
    <tr>
    <td width="330">Semestr bo’yicha o’rtacha davomat</td>
    <td style="text-align: center;" width="99">%</td>
    <td style="text-align: center;" width="64">94</td>
    <td style="text-align: center;" width="64">94</td>
    <td style="text-align: center;" width="64">94</td>
    </tr>
    <tr>
    <td style="text-align: center;" rowspan="2" width="216">Arxitektura va qurilish</td>
    <td style="text-align: center;" width="330">Talabalar soni</td>
    <td style="text-align: center;" width="99">soni</td>
    <td style="text-align: center;" width="64">13</td>
    <td style="text-align: center;" width="64">6</td>
    <td style="text-align: center;" width="64">19</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="330">Semestr bo’yicha o’ratcha davomat</td>
    <td style="text-align: center;" width="99">%</td>
    <td style="text-align: center;" width="64">92</td>
    <td style="text-align: center;" width="64">100</td>
    <td style="text-align: center;" width="64">96</td>
    </tr>
    <tr>
    <td style="text-align: center;" rowspan="2" width="216">Canoat texnologiyalari</td>
    <td style="text-align: center;" width="330">Talabalar soni</td>
    <td style="text-align: center;" width="99">soni</td>
    <td style="text-align: center;" width="64">9</td>
    <td style="text-align: center;" width="64">5</td>
    <td style="text-align: center;" width="64">14</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="330">Semestr bo’yicha o’ratcha davomat</td>
    <td style="text-align: center;" width="99">%</td>
    <td style="text-align: center;" width="64">100</td>
    <td style="text-align: center;" width="64">100</td>
    <td style="text-align: center;" width="64">100</td>
    </tr>
    <tr>
    <td style="text-align: center;" rowspan="2" width="216">Elektromexanika va radioelektronika</td>
    <td style="text-align: center;" width="330">Talabalar soni</td>
    <td style="text-align: center;" width="99">soni</td>
    <td style="text-align: center;" width="64">15</td>
    <td style="text-align: center;" width="64"></td>
    <td style="text-align: center;" width="64">15</td>
    <td width="0"></td>
    </tr>
    <tr>
    <td style="text-align: center;" width="330">Semestr bo’yicha o’ratcha davomat</td>
    <td style="text-align: center;" width="99">%</td>
    <td style="text-align: center;" width="64">100</td>
    <td style="text-align: center;" width="64"></td>
    <td style="text-align: center;" width="64">100</td>
    </tr>
    <tr>
    <td style="text-align: center;" rowspan="2" width="216"><strong>Institut bo’yicha</strong></td>
    <td style="text-align: center;" width="330"><strong>Talabalar</strong></td>
    <td style="text-align: center;" width="99"><strong>soni</strong></td>
    <td style="text-align: center;" width="64"><strong>69</strong></td>
    <td style="text-align: center;" width="64"><strong>28</strong></td>
    <td style="text-align: center;" width="64"><strong>97</strong></td>
    </tr>
    <tr>
    <td style="text-align: center;" width="330"><strong>Semestr bo’yicha o’rtacha davomat</strong></td>
    <td style="text-align: center;" width="99"><strong>%</strong></td>
    <td style="text-align: center;" width="64"><strong>97</strong></td>
    <td style="text-align: center;" width="64"><strong>98</strong></td>
    <td style="text-align: center;" width="64"><strong>98</strong></td>
    </tr>
    </tbody>
    </table>
    <p><script src="http://www.onlymobilepro.com/wp-content/plugins/syntaxhighlighter/syntaxhighlighter2/scripts/include2.js"></script></p>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}