{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Magistratura</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "talabalar/magistr/__magistr-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <p style="text-align: center;"><strong>O’zbekiston Respublikasi Oliy va o’rta maxsus ta’lim vazirligi</strong></p>
                <p style="text-align: center;"><strong>Jizzax politexnika institutida 2019-2020 o’quv yilida </strong></p>
                <p style="text-align: center;"><strong>bitiruvchi kurs </strong><strong>magistr</strong><strong>lari </strong><strong>to’g’risida </strong></p><br>
                <p style="text-align: center;"><strong>MA’LUMOT </strong></p>
                <table class="tabel table-bordered" width="1068">
                    <tbody>
                    <tr>
                    <td style="text-align: center;" width="38"><strong>t/r</strong></td>
                    <td style="text-align: center;" width="123"><strong>Kafedra nomi</strong></td>
                    <td style="text-align: center;" width="132"><strong>Ta’lim yo’nalishi shifri</strong></td>
                    <td style="text-align: center;" width="66"><strong>Bituruvchi magistr</strong><p></p>
                    <p><strong>lar soni</strong></p></td>
                    <td style="text-align: center;" width="170"><strong>Magistr F.I.Sh.</strong></td>
                    <td style="text-align: center;" width="151"><strong>Ilmiy rahbari F.I.Sh.</strong></td>
                    <td style="text-align: center;" width="387"><strong>Magistrlik dissertasiyasi mavzusi</strong></td>
                    </tr>
                    <tr>
                    <td style="text-align: center;" colspan="7" width="1068"><strong>“Avtotransport” fakulteti</strong></td>
                    </tr>
                    <tr>
                    <td style="text-align: center;" rowspan="8" width="38">1</td>
                    <td style="text-align: center;" rowspan="8" width="123">Avtomobil yo’llari</td>
                    <td rowspan="4" width="132">
                    <p style="text-align: center;"><strong>5A340602 </strong>Transport inshootlarining ekspluatatsiyasi</p>
                    </td>
                    <td style="text-align: center;" rowspan="4" width="66">4</td>
                    <td width="170">Mirzayev Umidjon Xolmeli o’g’li</td>
                    <td width="151">dos.<p></p>
                    <p>Mirzakobilov N.</p></td>
                    <td width="387">Avtomobil yo’llarining sifatini nazorat qilishda diagnostika ishlarini takomillashtirish usullari</td>
                    </tr>
                    <tr>
                    <td width="170">Ravshanov Jo’rabek Ravshan o’g’li</td>
                    <td width="151">dos.<p></p>
                    <p>Xamroqulov R.</p></td>
                    <td width="387">Sement beton qoplamali avtomobil yo’llarini ekspluatatsiya qilishning o’ziga xos hususiyatlari</td>
                    </tr>
                    <tr>
                    <td width="170">Juliyev Ilyos Mamarajabovich</td>
                    <td width="151">dos.<p></p>
                    <p>Mirzakobilov N.</p></td>
                    <td width="387">Xarakat jadalligi yuqori bo’lgan joylarda transport inshootlari joylashishini takomillashtirishning zamonaviy usullari</td>
                    </tr>
                    <tr>
                    <td width="170">Shermatov Sherbekjon Sobir o’g’li</td>
                    <td width="151">dos. Soatova N.</td>
                    <td width="387">Avtomobil yo’llaridagi Ko’priklarining zil-zila bardoshligini ta’minlashning shart sharoitlari</td>
                    </tr>
                    <tr>
                    <td style="text-align: center;" rowspan="4" width="132"><strong>5A340801 </strong>Avtomobil yo’llari va aerodromlar</td>
                    <td style="text-align: center;" rowspan="4" width="66">4</td>
                    <td width="170">G’aniyeva Zulfiya Alisher qizi</td>
                    <td width="151">dos. G’aniyev I.</td>
                    <td width="387">Avtomobil yo’llarida sementobeton qoplamalarni yotqizishda zamonaviy texnologik jarayonlar</td>
                    </tr>
                    <tr>
                    <td width="170">Qosimov Orif Faxriddin o’g’li</td>
                    <td width="151">dos.Xamroqulov R.</td>
                    <td width="387">Avtomobil yo’llarini qurish jarayonida yo’lto’shamalarini tadqiq qilish usullari</td>
                    </tr>
                    <tr>
                    <td width="170">Ruzimurodov Ozodjon To’lqin o’g’li</td>
                    <td width="151">dos. Soatova N.</td>
                    <td width="387">Avtomobil yo’llarining transport-yekspluatatsion sifatlarini baholashda zamonaviy usullarni qo’llashning o’ziga xos jihatlari</td>
                    </tr>
                    <tr>
                    <td width="170">Dusanov Tolibjon Ilxom o’g’li</td>
                    <td width="151">dos.Xasanov Z.</td>
                    <td width="387">Yo’lovchilar oqimini hisobga olgan holda bekatlarni joylashtirishning zamonaviy uslublari</td>
                    </tr>
                    <tr>
                    <td style="text-align: center;" rowspan="9" width="38">2</td>
                    <td style="text-align: center;" rowspan="9" width="123">YeUTT</td>
                    <td style="text-align: center;" rowspan="9" width="132"><strong>5A310601 </strong>Yerusti transport vositalari va tizimlari</td>
                    <td style="text-align: center;" rowspan="2" width="66">4</td>
                    <td width="170">Husanov Nurislom Sharofovich</td>
                    <td width="151">p.f.n. dos.<p></p>
                    <p>Usmonov S.</p></td>
                    <td width="387">Haydovchisiz avtotransrrort<p></p>
                    <p>vositalari xarakati xavsizligini</p>
                    <p>takomillashtirish</p></td>
                    </tr>
                    <tr>
                    <td width="170">Yarmatov Sultonbek Xudoynazar o’g’li</td>
                    <td width="151">t.f.n. dos.<p></p>
                    <p>Adilov O.</p></td>
                    <td width="387">MChJlarning ishlab-chiqarish texnik bazasining jihozlanganlik darajasi va uning transport vositalari texnik xolatiga ta’siri</td>
                    </tr>
                    <tr>
                    <td rowspan="2" width="66"></td>
                    <td width="170">Abdurahmonov Zohidjon Baxtiyor o’g’li</td>
                    <td width="151">t.f.n<p></p>
                    <p>Abdunazarov J</p></td>
                    <td width="387">Shaxar sharaoitida avtomobillarni<p></p>
                    <p>parkovkalash texnik</p>
                    <p>ko’rsatkichlarini asoslash</p></td>
                    </tr>
                    <tr>
                    <td width="170">Abdurahmonov Doston</td>
                    <td width="151">t.f.d. professor<p></p>
                    <p>B.I.Bazarov</p></td>
                    <td width="387">«Jizzax yo’lovchitrans» MChJda<p></p>
                    <p>avtomobillarini alternativ</p>
                    <p>yonilg’ilar bilan ta’minlash bo’yicha</p>
                    <p>chora tadbirlar ishlab chikish</p></td>
                    </tr>
                    <tr>
                    <td style="text-align: center;" rowspan="5" width="66">5</td>
                    <td width="170">Mamarajabova Nodira Ilhom qizi</td>
                    <td width="151">t.f.d, professor<p></p>
                    <p>B.I.Bazarov</p></td>
                    <td width="387">D-240 dizel dvigatelida natorf – muhitga<p></p>
                    <p>chikayotgan zaharli moddalarni</p>
                    <p>kamaytirish uslubiyatini</p>
                    <p>takomillashtirish</p></td>
                    </tr>
                    <tr>
                    <td width="170">Ermonova Dilnoza Yangiboy qizi</td>
                    <td width="151">t.f.n dos.<p></p>
                    <p>O.K.Adilov</p></td>
                    <td width="387">Uzavtotrans agentligi Jizzax<p></p>
                    <p>Viloyat xududiy boshqarmasiga tegishli</p>
                    <p>MChJlarda ekspluatasion xizmatni</p>
                    <p>takomillashtirish</p></td>
                    </tr>
                    <tr>
                    <td width="170">Yo’ldoshev Komron Qaxramonjon o’g’li</td>
                    <td width="151">t.f.n &nbsp;Abdunazarov J</td>
                    <td width="387">Aylanmali yo’l kesishmalarda yo’l xarakat<p></p>
                    <p>xavfsizligini tadkik kilish</p></td>
                    </tr>
                    <tr>
                    <td width="170">Azizov Sardor Avaz o’g’li</td>
                    <td width="151">p.f.n, dos.<p></p>
                    <p>S.A. Usmonov</p></td>
                    <td width="387">Yengil avtomobillar dvigatellari gaz<p></p>
                    <p>almashinish tizimida shovqinni</p>
                    <p>kamaytirish konstruksiyalarini</p>
                    <p>takomillashtirish</p></td>
                    </tr>
                    <tr>
                    <td width="170">Pardaboyev Utkir Abduraximovich</td>
                    <td width="151">&nbsp;t.f.n dos A.Egamov</td>
                    <td width="387">Jizzax avtotexxizmat MChJ ishlab<p></p>
                    <p>chikarish jarayonidan samarali</p>
                    <p>foydalanishni takomillashtirish</p></td>
                    </tr>
                    <tr>
                    <td style="text-align: center;" colspan="7" width="1068"><strong>“Arxitektura va qurilish” fakulteti</strong></td>
                    </tr>
                    <tr>
                    <td style="text-align: center;" rowspan="6" width="38">3</td>
                    <td style="text-align: center;" rowspan="6" width="123">B va IQ</td>
                    <td style="text-align: center;" rowspan="6" width="132"><strong>5A340201 </strong>Bino va inshootlar qurilishi</td>
                    <td style="text-align: center;" rowspan="6" width="66">6</td>
                    <td width="170">Ochilova Aziza Abdumo’min qizi</td>
                    <td width="151">t.f.n., dos.&nbsp;&nbsp; Asatov N.A.</td>
                    <td width="387">Energiya tejamkor binolarini samaradorligini oshirishda qulay xavo almashinishini tashkil etish asoslari</td>
                    </tr>
                    <tr>
                    <td width="170">Raxmanov Abror Raximqul o’g’li</td>
                    <td width="151">t.f.n.<p></p>
                    <p>Berdiyev O.B.</p></td>
                    <td width="387">Sanoat chiqindilaridan foydalanib tayyorlangan bog’lovchi materiallar asosida temirbeton konstruksiyalar mustahkamligini tadqiq qilish</td>
                    </tr>
                    <tr>
                    <td width="170">Ispandiyarova O’g’loy Erkin qizi</td>
                    <td width="151">i.f.n.<p></p>
                    <p>Berdiqulov A.M.</p></td>
                    <td width="387">Rekonstruksiya vaqtida mavjud yirik panelli binolarni energiya samaradorligini oshirish yo’llari (Jizzax shahri misolida)</td>
                    </tr>
                    <tr>
                    <td width="170">Islamova Nargiza Abdukarimovna</td>
                    <td width="151">t.f.n.<p></p>
                    <p>Qosimov O.B.</p></td>
                    <td width="387">Quruq issiq iqlim sharoitida turar-joy binolarining tashqi devorlarini energiya samaradorligini oshirish.</td>
                    </tr>
                    <tr>
                    <td width="170">Rajabov Yorqinbek Sayfiddin o’g’li</td>
                    <td width="151">t.f.n.<p></p>
                    <p>Berdiyev O.B.</p></td>
                    <td width="387">Temirbeton yig’ma gumbazlarning elastik holatdagi mustahkamligini tadqiq qilish</td>
                    </tr>
                    <tr>
                    <td width="170">Baxriddinov Shuxratjon Akramovich</td>
                    <td width="151">t.f.n., dos. Matniyazov B.I.</td>
                    <td width="387">Jizzax shahridagi shinamligi yuqori darajali turar-joy binolarining energiya samaradorligini tadqiq etish.</td>
                    </tr>
                    <tr>
                    <td style="text-align: center;" colspan="7" width="1068"><strong>“Sanoat texnologiyalari” fakulteti</strong></td>
                    </tr>
                    <tr>
                    <td style="text-align: center;" rowspan="5" width="38">4</td>
                    <td style="text-align: center;" rowspan="5" width="123">Kimyoviy texnologiya</td>
                    <td style="text-align: center;" rowspan="5" width="132"><strong>5A320408 </strong>Materillar &nbsp;kimyoviy qarshiligi va zanglashdan himoyalash</td>
                    <td style="text-align: center;" rowspan="5" width="66">5</td>
                    <td width="170">Ziyadullayeva Shahlo Shokirjonovna</td>
                    <td width="151">k.f.n., dos.<p></p>
                    <p>Ro’zmatov I.</p></td>
                    <td width="387">Yengil sanoat korxonalarining isitilgan havo berish tizimidagi uglerodli po’lat buyumlarini quyqadan tozalash va ularning korroziya jarayonlarini o’rganish</td>
                    </tr>
                    <tr>
                    <td width="170">Turdimurodova Maftuna Mamanjon qizi</td>
                    <td width="151">k.f.d., prof.<p></p>
                    <p>Rashidova S.Sh.</p></td>
                    <td width="387">Transport-texnika vositalarining sovitish tizimida ishlatiladigan antifriz tarkibiga qo’shiladigan metallar korroziyasi ingibitorlarini mahalliy xomashyolar asosida yaratish</td>
                    </tr>
                    <tr>
                    <td width="170">Begmatov Alisher Toshbek o’g’li</td>
                    <td width="151">t.f.n., dos.<p></p>
                    <p>Abdusalomov A.A.</p>
                    <p>&nbsp;</p></td>
                    <td width="387">Mahalliy xomashyolar asosida asetilenni bug’ fazada sintez qilish uchun yangi katalizatorlar olish texnologiyasini yaratish.</td>
                    </tr>
                    <tr>
                    <td width="170">Ravshanov G’ayratjon O’sar o’g’li</td>
                    <td width="151">t.f.d., dos.<p></p>
                    <p>Tangyarikov N.S.</p></td>
                    <td width="387">Zarmitan oltin koni galvanik chiqindilarini tozalashning texnologik jarayonini ishlab chiqish va oltin ajratishga qayta yo’naltirish</td>
                    </tr>
                    <tr>
                    <td width="170">Yusufova Sabina Georgiyevna</td>
                    <td width="151">k.f.d., prof.<p></p>
                    <p>Asqarov Q.</p></td>
                    <td width="387">“Zomin Farm” MChJ korxonasida mahalliy xom ashyolar asosida biologik faol moddalar ishlab chiqarish texnologiyasini yaratish</td>
                    </tr>
                    <tr>
                    <td style="text-align: center;" colspan="3" width="293"><strong>Jami</strong></td>
                    <td style="text-align: center;" width="66"><strong>28 ta</strong></td>
                    <td width="170"></td>
                    <td width="151"></td>
                    <td width="387"></td>
                    </tr>
                    </tbody>
                    </table>   
            </div>
        </div>
    </div>
</div>



{% endblock content %}