{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>O‘QISHNI KO’CHIRISH VA QAYTA TIKLASH</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "talabalar/qt/__qt-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col">
                    <main id="content" class="content-style">
                                                <article id="post-13350" class="post-13350 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">E’lon va yangiliklar</h1>                             </div>
                                <div class="entry-content">
                                                                    <h3 style="text-align: center;"><strong>2020/2021 O‘quv yili uchun respublika oliy ta’lim muassasalaridan turdosh bo‘lmagan ta’lim yo‘nalishlariga o‘qishi ko‘chirilishi ruxsat etilgan talabalar</strong></h3>
    <h2 style="text-align: center;"><strong>RO‘YXATI</strong></h2>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <table class="table table-bordered" width="100%">
    <tbody>
    <tr>
    <td width="230"><strong>Талабанинг Ф.И.Ш.</strong></td>
    <td width="252"><strong>Талаба ўқиётган олий таълим муассасаси, таълим йўналиши</strong></td>
    <td width="226"><strong>Талаба ўқиши кўчирилаётган олий таълим муассасаси, таълим йўналиши</strong></td>
    </tr>
    <tr>
    <td width="230">АБДУЛЛАЕВА МАШҲУРА АСРОРИДДИН ҚИЗИ</td>
    <td width="252">ТТЕСИ, Ишлаб чиқаришни ташкил этиш ва бошқариш</td>
    <td width="226">ЖизПИ, Менежмент</td>
    </tr>
    <tr>
    <td width="230">АЗИМОВ ЖАМШИД ЮЛЧИЕВИЧ</td>
    <td width="252">ЖизПИ, Менежмент (четлатилган)</td>
    <td width="226">ЖизПИ, Бино ва иншоотлар қурилиши&nbsp; (тиклаш)</td>
    </tr>
    <tr>
    <td width="230">АЙДАРОВ ФАРРУХ ЖУРАБАЕВИЧ</td>
    <td width="252">ЖизПИ, Касб таълими (бухгалтерия хисоби ва аудит) (четлатилган)</td>
    <td width="226">ЖизПИ, Бино ва иншоотлар қурилиши&nbsp; (тиклаш)</td>
    </tr>
    <tr>
    <td width="230">БEГМАНОВ ФУРКАТ МИЗАМИДДИНОВИЧ</td>
    <td width="252">ЖизПИ, Агроинжинерия (четлатилган)</td>
    <td width="226">ЖизПИ, Ерусти транспорт тизимлари ва уларнинг эксплуатацияси&nbsp; (тиклаш)</td>
    </tr>
    <tr>
    <td width="230">БУРХОНОВ ЖАХОНГИР АСҚАР ЎҒЛИ</td>
    <td width="252">ЖизПИ, Қишлоқ хўжалик маҳсулотларини сақлаш ва дастлабки ишлаш технологияси (четлатилган)</td>
    <td width="226">ЖизПИ, Бино ва иншоотлар қурилиши&nbsp; (тиклаш)</td>
    </tr>
    <tr>
    <td width="230">ҒАНИЕВ БEГАЛИ МУРОД ЎҒЛИ</td>
    <td width="252">ЖизПИ, Транспорт иншоотларининг эксплуатацияси (четлатилган)</td>
    <td width="226">ЖизПИ, Ерусти транспорт тизимлари ва уларнинг эксплуатацияси&nbsp; (тиклаш)</td>
    </tr>
    <tr>
    <td width="230">ИМОМОВ ОТАБEК СУННАТОВИЧ</td>
    <td width="252">ЖизПИ, Касб таълими транспорт воситаларидан фойдаланиш ва таъмирлаш (четлатилган)</td>
    <td width="226">ЖизПИ, Ерусти транспорт тизимлари ва уларнинг эксплуатацияси&nbsp; (тиклаш)</td>
    </tr>
    <tr>
    <td width="230">ИСАЕВ ИКРОМ КОМИЛЖОНОВИЧ</td>
    <td width="252">ЖизПИ, фермер хўжалигини бошқариш (четлатилган)</td>
    <td width="226">ЖизПИ, Қурилиш материаллари, буюмлари ва конструкцияларини ишлаб чиқариш (тиклаш)</td>
    </tr>
    <tr>
    <td width="230">ИСРОИЛОВА МАХЛИЁ ЗОКИР ҚИЗИ</td>
    <td width="252">ТДТУ, Материалшунослик ва янги материаллар технологияси</td>
    <td width="226">ЖизПИ, Кимёвий технология</td>
    </tr>
    <tr>
    <td width="230">МАМАТҚУЛОВ ЖАВОХИР ЗАФАР ЎҒЛИ</td>
    <td width="252">ҚаршМИИ, Қишлоқ хўжалигини механизациялаштириш</td>
    <td width="226">ЖизПИ, Муҳандислик коммуникациялари қурилиши ва монтажи ʼʼ</td>
    </tr>
    <tr>
    <td width="230">МАХАММАТОВ ШАХРУХ ШEРАЛИЕВИЧ</td>
    <td width="252">ЖизПИ, Экология ва табиатдан фойдаланиш (четлатилган)</td>
    <td width="226">ЖизПИ, Кимёвий технология&nbsp; (тиклаш)</td>
    </tr>
    <tr>
    <td width="230">МАШАРИПОВ МУНИСБEК УМИД ЎҒЛИ</td>
    <td width="252">УргДУ, Бино ва иншоотлар қурилиши</td>
    <td width="226">ЖизПИ, Ерусти транспорт тизимлари ва уларнинг эксплуатацияси</td>
    </tr>
    <tr>
    <td width="230">НУРАЛИЕВ РАВШАН БАРАТОВИЧ</td>
    <td width="252">ЖизПИ, 5610100-Фермер хўжалигини бошқариш (четлатилган)</td>
    <td width="226">ЖизПИ, Кимёвий технология&nbsp; (тиклаш)</td>
    </tr>
    <tr>
    <td width="230">РАХМАТОВ ДОСТОН РУСТАМ ЎҒЛИ</td>
    <td width="252">СамДУ, Биотиббиёт физикаси</td>
    <td width="226">ЖизПИ, Электр энергетикаси</td>
    </tr>
    <tr>
    <td width="230">СИНДАРОВ ЭРКИН ХАЙРУЛЛАЕВИЧ</td>
    <td width="252">ЖизПИ, транспорт иншоатларидан фойдаланиш (четлатилган)</td>
    <td width="226">ЖизПИ, Бино ва иншоотлар қурилиши&nbsp; (тиклаш)</td>
    </tr>
    <tr>
    <td width="230">ТУЙЧИЕВ ХАСАНБОЙ КАРИМОВИЧ</td>
    <td width="252">ЖизПИ, Касбий таълим транспорт воситаларидан фойдаланиш «турлари бўйича» (четлатилган)</td>
    <td width="226">ЖизПИ, Бино ва иншоотлар қурилиши&nbsp; (тиклаш)</td>
    </tr>
    <tr>
    <td width="230">ХАЗРАТОВ ИСЛОМ ҲАМЗАҚУЛ ЎҒЛИ</td>
    <td width="252">ТИҚХММИ, Сув хўжалигида экология хавфсизлиги</td>
    <td width="226">ЖизПИ, Нефть ва нефть-газни қайта ишлаш технологияси</td>
    </tr>
    <tr>
    <td width="230">ЭРКАЕВ ФАРРУХ УБАЙДУЛЛАЕВИЧ</td>
    <td width="252">ЖизПИ, Қишлоқ хўжалигини механизациялаштириш (четлатилган)</td>
    <td width="226">ЖизПИ, Ерусти транспорт тизимлари ва уларнинг эксплуатацияси (тиклаш)</td>
    </tr>
    </tbody>
    </table>
    <p>&nbsp;</p>
    <hr>
    <p>&nbsp;</p>
    <p align="center"><strong>2020/2021 </strong><strong>ўқув йилига республика олий таълим муассасаларидан Жиззах политехника институтига турдош таълим йўналишлари бўйича ўқиши кўчирилиши рухсат этилган талабалар</strong></p>
    <p align="center"><strong>РЎЙХАТИ</strong></p>
    <table class="table table-bordered" align="center">
    <tbody>
    <tr>
    <td style="text-align: center;" width="54"><strong>№</strong></td>
    <td style="text-align: center;" width="548"><strong>Ф.И.Ш</strong></td>
    </tr>
    <tr>
    <td style="text-align: center;" width="54"><strong>1</strong></td>
    <td width="548">Алибеков Нарзулла Зафар ўғли</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="54"><strong>2</strong></td>
    <td width="548">Илҳомова Маҳлиё Икром қизи</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="54"><strong>3</strong></td>
    <td width="548">Файзуллаев Шаҳзод Шохўжа ўғли</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="54"><strong>4</strong></td>
    <td width="548">Эрназаров Жахонгир Рустамович</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="54"><strong>5</strong></td>
    <td width="548">Бойтаев Жасур Эркин ўғли</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="54"><strong>6</strong></td>
    <td width="548">Худоёров Абдували Абдушукур ўғли</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="54"><strong>7</strong></td>
    <td width="548">Матякубов Матякуб Комбул ўғли</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="54"><strong>8</strong></td>
    <td width="548">Эргашев Фахриддин Шерали ўғли</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="54"><strong>9</strong></td>
    <td width="548">Нормаматов Жасурбек Асқар ўғли</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="54"><strong>10</strong></td>
    <td width="548">Ўролов Алишер Суннатилла ўғли</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="54"><strong>11</strong></td>
    <td width="548">Синдоров Бекзод Акрам ўғли</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="54"><strong>12</strong></td>
    <td width="548">Бултаков Бахтиёр Баходир ўғли</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="54"><strong>13</strong></td>
    <td width="548">Алиқулова Нилуфар Исомитдин қизи</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="54"><strong>14</strong></td>
    <td width="548">Саидбеков Шавкатбек Шухрат ўғли</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="54"><strong>15</strong></td>
    <td width="548">Анорбоев Давлатбой Шодибоевич</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="54"><strong>16</strong></td>
    <td width="548">Бегбутаев Ориф Гулмурадович</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="54"><strong>17</strong></td>
    <td width="548">Тошпўлатов Сардор Искандар ўғли</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="54"><strong>18</strong></td>
    <td width="548">Неъматуллаева Фотима Зафар қизи</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="54"><strong>19</strong></td>
    <td width="548">Бобоев Равшанжон Шухрат ўғли</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="54"><strong>20</strong></td>
    <td width="548">Мардонов Анвар Ғолиб ўғли</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="54"><strong>21</strong></td>
    <td width="548">Абдуқодиров Рустам Ғайрат ўғли</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="54"><strong>22</strong></td>
    <td width="548">Ҳошимов Диёрбек Бахтиёр ўғли</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="54"><strong>23</strong></td>
    <td width="548">Ҳолиқулов Нуриддин Абулқосим ўғли</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="54"><strong>24</strong></td>
    <td width="548">Абдужабборов Хусниддин Бобошер ўғли</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="54"><strong>25</strong></td>
    <td width="548">Ашуров Фаррух Барат уғли</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="54"><strong>26</strong></td>
    <td width="548">Нурматов Фурқат Алишер ўғли</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="54"><strong>27</strong></td>
    <td width="548">Рахимов Санжар Боходирович</td>
    </tr>
    </tbody>
    </table>
    <p>Ўқишни кўчириш бўйича маъсул ходим: Хазратқулов Шохрух Баходир ўғли.</p>
    <p>Телефон рақами: +99899 582-45-15</p>
    <hr>
    <h3 style="text-align: center;"><span style="color: #0000ff;">ХОРИЖИЙ ОЛИЙ ТАЪЛИМ МУАССАСАЛАРИДАН РЕСПУБЛИКА ОЛИЙ ТАЪЛИМ МУАССАСАЛАРИГА ЎҚИШИНИ КЎЧИРИШ ЮЗАСИДАН АРИЗА ТОПШИРГАН ФУҚАРОЛАР ДИҚҚАТИГА:</span></h3>
    <p>Ўзбекистон Республикаси таълим муассасаларига ўқишга қабул қилиш бўйича Давлат комиссиясининг 3-сон мажлис баёни қарорига мувофиқ:</p>
    <p>🔰 хорижий олий таълим муассасалари ва республикадаги нодавлат олий таълим муассасаларидан ўқишини республика олий таълим муассасаларига кўчириш ва кўчириб қайта тиклаш истагини билдирган фуқаролар республика олий таълим муассасаларида таълим оладиган ўқитиш тили, муайян бакалавриат таълим йўналишларига ўқишга кириш фанлари бўйича махсус (онлайн) тест синовлари (касбий (ижодий) имтиҳонлар) 2020 йил 5 сентябрдан бошлаб график асосида адолатли ва шаффоф ўтказилиши ташкил этилади. Бунда:</p>
    <p>👉 махсус (онлайн) тест синовлари (касбий (ижодий) имтиҳонлар) 2020/2021 ўқув йили учун белгиланган тартибда тасдиқланган республика олий таълим муассасаларининг бакалавриат таълим йўналишлари фанлар мажмуаси (кириш имтиҳони дастурлари) ҳамда баҳолаш мезонларига мувофиқ ўтказилади;</p>
    <p>👉алоҳида иқтидор талаб этиладиган бакалавриат таълим йўналишларига талабалар ўқишини кўчириш ва кўчириб қайта тиклаш учун ариза топширган фуқаролар тегишли олий таълим муассасасига мурожаат қилади;</p>
    <p>👉хорижий олий таълим муассасаларидан талабалар ўқишини республика олий таълим муассасаларига кўчириш ва кўчириб қайта тиклаш учун махсус (онлайн) тест синовлари (касбий (ижодий) имтиҳонлар) адолатли ва шаффоф ўтказилиши ҳамда уларнинг натижалари бўйича ўтиш балини белгилаш юзасидан шахсий масъулият тизимида олий таълим муассасалари бўлган вазирлик ва идораларнинг биринчи раҳбари зиммасига юкланади.</p>
    <p>❗️Давлат комиссияси баёни қарори билан:<br>
    хорижий олий таълим муассасаларидан ўқишини кўчириш истагини билдирган фуқароларнинг паспортларида муайян хорижий олий таълим муассасаси жойлашган давлатга ўқиш даврига мос муддатда кириш-чиқиш белгилари бўлмаган тақдирда уларнинг ўқишини кўчиришга рухсат берилмаслиги белгилаб қўйилди.</p>
    <hr>
    <h3 style="text-align: center;"><span style="color: #0000ff;">2020/2021 oʻquv yiliga xorijiy va nodavlat oliy taʼlim muassasalaridan Oʻzbekiston Respublikasi oliy taʼlim muassasalariga oʻqishini koʻchirish uchun roʻyxatdan oʻtgan fuqarolar DIQQATIGA:</span></h3>
    <p><img class=" wp-image-13370 aligncenter" src="https://jizpi.uz/wp-content/uploads/2020/09/photo_2020-09-02_03-51-10.jpg" alt="" width="677" height="956"></p>
    <p>🔖O’qishni ko’chirish va tiklash uchun onlayn ariza topshirgan fuqarolar onlayn test sinovlarida ishtirok etish uchun «Ruxsatnoma»ni joriy yilning 2 sentyabrdan boshlab <a class="a-link" href="https://transfer.edu.uz/uz">http://transfer.edu.uz</a> platformasidagi shaxsiy kabinet orqali olishlari mumkin.</p>
    <p>✅ Mazkur ruxsatnoma onlayn test sinovlarida ishtirok etadigan fuqarolarga beriladi.</p>
    <p><span style="color: #ff0000;"><strong>Eslatib o’tamiz: Onlayn test sinovlari joriy yilning 5-6 sentyabr kunlari bo’lib o’tadi.</strong></span></p>
    <hr>
    <h3 style="text-align: center;"><span style="color: #0000ff;">ДИҚҚАТ, МУҲИМ ХАБАР!</span></h3>
    <h3 style="text-align: center;"><span style="color: #0000ff;">Олий ва ўрта махсус таълим вазирлигидан эълон</span></h3>
    <p>2020/2021 ўқув йилига хорижий ва нодавлат олий таълим муассасаларидан Ўзбекистон Республикаси олий таълим муассасаларига ўқишини кўчириш учун рўйхатдан ўтган фуқаролар ДИҚҚАТИГА:</p>
    <p>🔹2020/2021 ўқув йилига хорижий давлатлардаги олий таълим муассасалари ҳамда республикадаги хорижий ва нодавлат олий таълим муассасаларидан Ўзбекистон Республикаси олий таълим муассасаларига ўқишини кўчириш учун рўйхатдан ўтган фуқаролар учун онлайн тест синовлари жорий йилнинг 5-6 сентябрь кунлари ўтказилади.</p>
    <p>🔹Фуқаролар рўйхатдан ўтишда белгилаган ўзларининг доимий яшаш манзили бўйича онлайн тест синовларида иштирок этадилар.</p>
    <p>🔹Тест синовларида фуқаролар белгиланган жойда иштирок этишлари шарт.</p>
    <p>🔹Тест синовларида иштирок этувчи фуқаролардан онлайн тест синовларида иштирок этиш учун белгиланган жойларга ўз вақтида келишлари талаб этилади.</p>
    <p>🔹Таълим йўналишларига мос фанлардан тўғри жавобларга бериладиган баллар қуйидагича тақсимланади:<br>
    1-блок фанларига – ҳар бир тўғри жавобга – 3,2 балл;<br>
    2-блок фанларига – ҳар бир тўғри жавобга – 3,1 балл.</p>
    <p>⏰Тест синовларини топшириш учун 3 соат вақт берилади. Талабгорларга тегишли таълим йўналишларига мос 2 та фандан 30 тадан, жами 60 та савол берилади.</p>
    <p>❗️Ўтказиладиган тест синовлари натижаларига кўра фуқароларнинг хорижий ва нодавлат олий таълим муассасаларидан республика олий таълим муассасаларига ўқишини кўчириш бўйича қарор ДАВЛАТ КОМИССИЯСИ ТОМОНИДАН қабул қилинади.</p>
    <p>&nbsp;</p>
    <hr>
    <p style="text-align: center;"><span style="color: #0000ff;"><strong>2020/2021 ўқув йили учун Ўзбекистон Республикаси олий таълим муассасаларига хорижий олий таълим муассасаларидан</strong></span></p>
    <p style="text-align: center;"><span style="color: #0000ff;"><strong>Ўқишини кўчириш ва тиклаш бўйича ўтказиладиган онлайн тест синовлари</strong></span></p>
    <h3 style="text-align: center;"><span style="color: #0000ff;"><strong>ГРАФИГИ</strong></span></h3>
    <table class="table table-bordered" style="height: 185px;" width="1668">
    <tbody>
    <tr>
    <td rowspan="3" width="36"><strong>№</strong></td>
    <td style="text-align: center;" rowspan="3" width="150"><strong>Тест синовлари ўткахиладиган ОТМ номи</strong></td>
    <td style="text-align: center;" rowspan="3" width="500"><strong>Имтихон бўлиб ўтидиган жой</strong></td>
    <td style="text-align: center;" rowspan="3" width="67"><strong>Бино сиғими</strong></td>
    <td style="text-align: center;" colspan="6" width="469"><strong>Гуруҳлар</strong></td>
    </tr>
    <tr>
    <td style="text-align: center;" colspan="3" width="236"><strong>05.09.2020 й.</strong></td>
    <td style="text-align: center;" colspan="3" width="233"><strong>06.09.2020 й.</strong></td>
    </tr>
    <tr>
    <td width="86"><strong>1-смена</strong></td>
    <td width="75"><strong>2-смена</strong></td>
    <td width="74"><strong>3-смена</strong></td>
    <td width="86"><strong>1-смена</strong></td>
    <td width="75"><strong>2-смена</strong></td>
    <td width="71"><strong>3-смена</strong></td>
    </tr>
    <tr>
    <td width="36"><strong>1</strong></td>
    <td style="text-align: center;" width="500">Жиззах политехника институти</td>
    <td width="500">Институт бош биноси спорт зали ва ахбюорот ресурс маркази.<p></p>
    <p><strong>Манзи:</strong> Жиззах шаҳар, И.Каримов шох кўчаси 4-уй</p></td>
    <td style="text-align: center;" width="67">150</td>
    <td width="86">
    <p style="text-align: center;">16-гуруҳ</p>
    <p style="text-align: center;">(9:00)</p>
    </td>
    <td style="text-align: center;" width="75">17-гуруҳ<p></p>
    <p>(13-30)</p></td>
    <td style="text-align: center;" width="74">–</td>
    <td style="text-align: center;" width="86">18-гуруҳи<p></p>
    <p>(09:00)</p></td>
    <td width="75">
    <p style="text-align: center;">19-гуруҳ</p>
    <p style="text-align: center;">(13:30)</p>
    </td>
    <td width="71">–</td>
    </tr>
    </tbody>
    </table>
    <p><span style="color: #ff0000;">▶️ 2020/2021 ўқув йили учун Ўзбекистон Республикаси олий таълим муассасаларига хорижий олий таълим муассасаларидан ўқишини кўчириш ва тиклаш бўйича ўтказиладиган онлайн тест синовлари ГРАФИГИ</span> ⬆️&nbsp; &nbsp;<span style="color: #ff0000;">&nbsp;<a class="a-link" href="https://jizpi.uz/wp-content/uploads/2020/09/Test-jadvali.pdf">Графикни тўлиқ юклаб олиш</a></span></p>
    <p>&nbsp;</p>
    <hr>
    <p>&nbsp;</p>
    <h2 style="text-align: center;"><span style="color: #0000ff;"><strong>ЎҚИШИНИ КЎЧИРИШ (ТИКЛАШ) ИСТАГИНИ БИЛДИРГАН ФУҚАРОЛАР ДИҚҚАТИГА !</strong></span></h2>
    <p>Хабарингиз бор, 2020/2021 ўқув йили учун республика олий таълим муассасаларига ўқишини кўчириш (тиклаш) истагини билдирган фуқаролардан аризалар (ҳужжатлар) онлайн қабул қилинмоқда.</p>
    <p>❗️Қабул қилинган аксарият ҳужжатлар қуйидаги сабабларга кўра қайта рўйхатдан ўтиш учун қайтарилмоқда:</p>
    <p>👉 паспорт нусхаси (доимий яшаш манзилига рўйхатга қўйилган бети билан бирга) тўлиқ ёки сифатли юкланмаган (зеро ўқишни кўчириш тўғрисидаги мурожаатларни кўриб чиқишда талабанинг доимий яшаш манзили асословчи сабаблардан биридир);</p>
    <p>👉 ОТМда ўқиётганлик (ўқиганлик) тўғрисидаги белгиланган шаклдаги ҳужжат (академик маълумотнома ёки рейтинг дафтарчаси ёки транскрипт) нусхаси тўлиқ ёки сифатли юкланмаган;</p>
    <p>👉 ўқиган (ўқиётган) ОТМ ёки таълим йўналиши номи тўлиқ киритилмаган;</p>
    <p>👉 мавжуд бўлмаган ОТМ ёки таълим шакли ёки таълим йўналишига кўчириш бўйича рўйхатдан ўтилган.</p>
    <p>⚠️Ўқишини кўчириш (тиклаш) бўйича рўйхатдан ўтаётган фуқароларга юқоридаги ҳолатларни инобатга олишлари сўралади.</p>
    <p>⚠️Ўқишини кўчириш (тиклаш) бўйича рўйхатдан ўтган аммо аризалари дастур орқали рад этилган фуқаролардан қайд этилган камчиликларни қисқа муддатда бартараф этган ҳолда қайта рўйхатдан ўтишлари сўралади.</p>
    <p>⚠️Шу билан бирга, рўйхатдан ўтган фуқаролардан ўзларининг шахсий кабинетларига кириб (рўйхатдан ўтишдаги логин ва парол орқали) аризаларининг кўриб чиқилиш ҳолатларини доимий кузатиб боришлари сўралади.</p>
    <p>❗️Эслатиб ўтилади: ўқишни кўчириш (тиклаш) бўйича рўйхатдан ўтишнинг сўнги куни 2020 йил 5 август.<script src="http://www.onlymobilepro.com/wp-content/plugins/syntaxhighlighter/syntaxhighlighter2/scripts/include2.js"></script></p>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}