{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>CALL CENTER</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/qabul-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
          

                <table class="table table-bordered" width="100%">
                    <tbody>
                    <tr>
                    <td colspan="5" width="737">
                    <p style="text-align: center;"><strong>Call center markazi faoliyati bo‘yicha</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td style="text-align: center;" width="47"><strong>№</strong></td>
                    <td style="text-align: center;" width="331"><strong>Xodimning F.I.SH.</strong></td>
                    <td style="text-align: center;" width="94"><strong>Lavozimi</strong></td>
                    <td style="text-align: center;" width="142"><strong>Biriktirilgan telefon raqami</strong></td>
                    <td width="123">
                    <p style="text-align: center;"><strong>Uyali telefon raqami</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td width="47">1</td>
                    <td width="331">Suyunov O&#8217;rozboy Donyor o&#8217;g&#8217;li</td>
                    <td width="94">Dekan muovini</td>
                    <td rowspan="5" width="142">&nbsp;</p>
                    <p><strong>72-226-</strong><strong>50</strong><strong>&#8211;</strong><strong>3</strong><strong>3</strong></p>
                    <p><strong>72-226-</strong><strong>03</strong><strong>&#8211;</strong><strong>23</strong></p>
                    <p><strong>72-226-57-17</strong></td>
                    <td width="123">99-574 -94-23</td>
                    </tr>
                    <tr>
                    <td width="47">2</td>
                    <td width="331">Mardonov Raxim Gʼaybulla oʼgʼli</td>
                    <td width="94">Assistent</td>
                    <td width="123">94-624-62-44</td>
                    </tr>
                    <tr>
                    <td width="47">3</td>
                    <td width="331">Qosimov Sardor Faxriddin oʼgʼli</td>
                    <td width="94">Assistent</td>
                    <td width="123">94-400-24-19</td>
                    </tr>
                    <tr>
                    <td width="47">4</td>
                    <td width="331">Misirov Islom Pardaboevich</td>
                    <td width="94">Tyutor</td>
                    <td width="123">98-561-86-41</td>
                    </tr>
                    <tr>
                    <td width="47"></td>
                    <td width="331"></td>
                    <td width="94"></td>
                    <td width="123"></td>
                    </tr>
                    </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <table class="table table-bordered" width="100%">
                    <tbody>
                    <tr>
                    <td colspan="5" width="737">
                    <p style="text-align: center;"><strong>Axborot maslaxat markazi faoliyati bo‘yicha</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td style="text-align: center;" width="47"><strong>№</strong></td>
                    <td style="text-align: center;" width="331"><strong>Xodimning F.I.SH.</strong></td>
                    <td style="text-align: center;" width="94"><strong>Lavozimi</strong></td>
                    <td style="text-align: center;" width="132"><strong>Biriktirilgan telefon raqami</strong></td>
                    <td width="132">
                    <p style="text-align: center;"><strong>Uyali telefon raqami</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td width="47">1</td>
                    <td width="331"><span class="word">Sarimsoqov</span> <span class="word">Sardor</span> <span class="word">Shoyzoqovich</span></td>
                    <td width="94">Assistent</td>
                    <td rowspan="4" width="132"><strong>72-226-</strong><strong>44</strong><strong>&#8211;</strong><strong>50</strong></p>
                    <p><strong>72-226-5</strong><strong>4</strong><strong>&#8211;</strong><strong>77</strong></p>
                    <p><strong>72-226-36-81</strong></td>
                    <td width="132">93-995-81-91</td>
                    </tr>
                    <tr>
                    <td width="47">2</td>
                    <td width="331"><span class="word">Abdullev</span> <span class="word">Alisher</span> <span class="word">Abulqosimovich</span></td>
                    <td width="94">Assistent</td>
                    <td width="132">93-305-83-64</td>
                    </tr>
                    <tr>
                    <td width="47">3</td>
                    <td width="331"><span class="word">Qosimov</span> <span class="word">Baxtiyor</span> <span class="word">Ahmadjonovich</span></td>
                    <td width="94">Assistent</td>
                    <td width="132">91-569-97-85</td>
                    </tr>
                    <tr>
                    <td width="47">4</td>
                    <td width="331"><span class="word">Mamaraximova</span> <span class="word">Aziza</span> <span class="word">Mamatqul</span> <span class="word">qizi</span></td>
                    <td width="94">Tyutor</td>
                    <td width="132">91-943-95-05</td>
                    </tr>
                    </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <table class="table table-bordered" width="100%">
                    <tbody>
                    <tr>
                    <td colspan="6" width="737">
                    <p style="text-align: center;"><strong>Magstratura bo‘yicha murojaatlarga ma’sul</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td style="text-align: center;" width="47"><strong>№</strong></td>
                    <td style="text-align: center;" width="265"><strong>Xodimning F.I.SH.</strong></td>
                    <td style="text-align: center;" colspan="2" width="161"><strong>Lavozimi</strong></td>
                    <td style="text-align: center;" width="132"><strong>Biriktirilgan telefon raqami</strong></td>
                    <td width="132">
                    <p style="text-align: center;"><strong>Uyali telefon raqami</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td width="47">1</td>
                    <td width="265">Ibragimov Jaxongir Ko‘chimovich</td>
                    <td colspan="2" width="161">Magstratura bo‘limi boshlig‘i</td>
                    <td width="132">72-226-50-61</td>
                    <td width="132">(90) 265-06-82</td>
                    </tr>
                    <tr>
                    <td colspan="6" width="737">
                    <p style="text-align: center;"><strong>O‘qishni ko‘chirish tiklash bo‘yicha murojaatlarga mas’ul</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td style="text-align: center;" width="47"><strong>№</strong></td>
                    <td style="text-align: center;" colspan="2" width="331"><strong>Xodimning F.I.SH.</strong></td>
                    <td style="text-align: center;" width="94"><strong>Lavozimi</strong></td>
                    <td style="text-align: center;" width="132"><strong>Biriktirilgan telefon raqami</strong></td>
                    <td width="132">
                    <p style="text-align: center;"><strong>Uyali telefon raqami</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td width="47">1</td>
                    <td colspan="2" width="331">Barnoev Lochinbek Bekpo‘lat o‘g‘li</td>
                    <td width="94">Nazoratchi</td>
                    <td rowspan="2" width="132">72-226-45-47</td>
                    <td width="132">(99) 582-45-15</td>
                    </tr>
                    <tr>
                    <td width="47">2</td>
                    <td colspan="2" width="331">Xazratqulov Shoxruh  Baxodir  o‘g‘li</td>
                    <td width="94">Muxandis</td>
                    <td width="132">(93)295-91-97</td>
                    </tr>
                    <tr>
                    <td width="47"></td>
                    <td width="265"></td>
                    <td width="66"></td>
                    <td width="94"></td>
                    <td width="132"></td>
                    <td width="132"></td>
                    </tr>
                    </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <table class="table table-bordered" width="100%">
                    <tbody>
                    <tr>
                    <td colspan="5" width="737">
                    <p style="text-align: center;"><strong>Iqtisodiyot tarmoqlarida kamida besh yil ish stajiga ega bo‘lgan fuqarolarni sirtqi ta’lim shakllari qabuli bo‘yicha murojaatlarga</strong><strong> mas’ul</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td style="text-align: center;" width="47"><strong>№</strong></td>
                    <td style="text-align: center;" width="331"><strong>Xodimning F.I.SH.</strong></td>
                    <td style="text-align: center;" width="94"><strong>Lavozimi</strong></td>
                    <td style="text-align: center;" width="132"><strong>Biriktirilgan telefon raqami</strong></td>
                    <td width="132">
                    <p style="text-align: center;"><strong>Uyali telefon raqami</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td width="47">1</td>
                    <td width="331">Xushvaqtov Dilshod Abduvaliyevich</td>
                    <td width="94">Dekan muovini</td>
                    <td width="132">98-888-08-73</td>
                    <td width="132">(97) 613-06-06</td>
                    </tr>
                    </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <p style="text-align: center;"><strong>Xorijiy oliy ta’lim muassasalari bilan qo‘shma ta’lim dasturlari asosida bakalavrlar qabuli bo‘yicha</strong><strong> murojaatlarga</strong><strong> mas’ul </strong></p>
                    <table class="table table-bordered" width="100%">
                    <tbody>
                    <tr>
                    <td style="text-align: center;" width="47"><strong>№</strong></td>
                    <td style="text-align: center;" width="331"><strong>Xodimning F.I.SH.</strong></td>
                    <td style="text-align: center;" width="94"><strong>Lavozimi</strong></td>
                    <td style="text-align: center;" width="132"><strong>Biriktirilgan telefon raqami</strong></td>
                    <td width="132">
                    <p style="text-align: center;"><strong>Uyali telefon raqami</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td width="47">1</td>
                    <td width="331">Sattarov Mamadali Mardanqulovich</td>
                    <td width="94">mutaxassis</td>
                    <td width="132">99 332 26 66</td>
                    <td width="132">(99) 332- 26 -66</td>
                    </tr>
                    </tbody>
                    </table>
                    <p style="text-align: center;"><strong>ikkinchi va undan keyingi ta’limni olish </strong><strong>bo‘yicha </strong><strong>murojaatlarga</strong><strong> mas’ul</strong></p>
                    <table class="table table-bordered" width="100%">
                    <tbody>
                    <tr>
                    <td style="text-align: center;" width="47"><strong>№</strong></td>
                    <td style="text-align: center;" width="331"></td>
                    <td style="text-align: center;" width="94"><strong>Lavozimi</strong></td>
                    <td style="text-align: center;" width="132"><strong>Biriktirilgan telefon raqami</strong></td>
                    <td width="132">
                    <p style="text-align: center;"><strong>Uyali telefon raqami</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td width="47">1</td>
                    <td width="331">Egamberdiyev Fazliddin Otaqulovich</td>
                    <td width="94">Kafedra mudiri</td>
                    <td width="132">90 516 44 89</td>
                    <td width="132">(90) 516 -44- 89</td>
                    </tr>
                    </tbody>
                    </table>


                


            </div>
        </div>
    </div>
</div>



{% endblock content %}