{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>CALL CENTER</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/qabul-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col">
                    <main id="content" class="content-style">
                        <article id="post-487" class="post-487 page type-page status-publish hentry">
                            <div class="entry-content">
                                    <p style="text-align: center;">
                                        <strong>2024-2025 o‘quv yilida Jizzax politexnika institutining qabul komissiyasi mas’ul rahbarlari
                                        </strong>
                                    </p>
                                    <p style="text-align: center;"><strong>TARKIBI</strong></p>
                                    <table style="height: 500px; text-align:center;" width="100%">
                                        <tbody>
                                            <tr>
                                            <td width="29"><strong>№</strong></td>
                                            <td width="162"><strong>Ma’lumotlar</strong></td>
                                            <td width="300"><strong>Qabul komissiyasi raisi Usmankulov Alishеr Kadirkulovich</strong></td>
                                            <td width="300"><strong>Qabul komissiyasi raisi o‘rinbosari Nasriddinov Jasurjon Islomovich</strong></td>
                                            <td width="300"><strong>Qabul komissiyasi ma’sul kotibi Mirzabеkov Mirkomil Saydaxmatovich</strong></td>
                                            </tr>
                                            <tr>
                                            <td width="29">1</td>
                                            <td width="162">Xizmat tеlеfon raqami</td>
                                            <td width="464">72-226-46-05</td>
                                            <td width="464">72-226-24-57</td>
                                            <td width="464">72-226-48-19</td>
            
                                            </tr>
                                            <tr>
                                            <td width="29">2</td>
                                            <td width="162">Mobil tеlеfoni raqami</td>
                                            <td width="464">93-307-53-73</td>
                                            <td width="464">90-265-76-98</td>
                                            <td width="464">95-330-48-88</td>
                                            </tr>
                                            <tr>
                                            <td width="29">3</td>
                                            <td width="162">Tеlеgram raqami</td>
                                            <td width="464">93-307-53-73</td>
                                            <td width="464">90-265-76-98</td>
                                            <td width="464">95-330-48-88</td>
                                            </tr>
                                            <tr>
                                            <td width="29">4</td>
                                            <td width="162">Faks</td>
                                            <td width="464">72-226-45-47</td>
                                            <td width="464">72-226-45-47</td>
                                            <td width="464">72-226-45-47</td>
                                            </tr>
                                            <tr>
                                            <td width="29">5</td>
                                            <td width="162">е-mail</td>
                                            <td width="464">usmankulov1968y@mail.ru</td>
                                            <td width="464">njasur1976@mail.ru</td>
                                            <td width="464">mirkomil84@inbox.ru</td>
                                            </tr>       
                                        </tbody>
                                    </table>
                                    <div class="entry-links"></div>
                            </div>
                        </article>
                    </main><!----content-style---->
                </div>
                <div style="margin-top:20px;"></div>
            





          

                <table class="table table-bordered" width="100%">
                    <tbody>
                    <tr>
                    <td colspan="5" width="737">
                    <p style="text-align: center;"><strong>Call center markazi faoliyati bo‘yicha</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td style="text-align: center;" width="47"><strong>№</strong></td>
                    <td style="text-align: center;" width="331"><strong>Xodimning F.I.SH.</strong></td>
                    <td style="text-align: center;" width="94"><strong>Lavozimi</strong></td>
                    <td style="text-align: center;" width="142"><strong>Biriktirilgan telefon raqami</strong></td>
                    <td width="123">
                    <p style="text-align: center;"><strong>Uyali telefon raqami</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td width="47">1</td>
                    <td width="331">Qosimov Orif Faxriddin o‘g‘li</td>
                    <td width="94">Dekan muovini</td>
                    <td rowspan="5" width="142">&nbsp;</p>
                    <p><strong>72-226-</strong><strong>50</strong><strong>&#8211;</strong><strong>3</strong><strong>3</strong></p>
                    <p><strong>72-226-</strong><strong>03</strong><strong>&#8211;</strong><strong>23</strong></p>
                    <p><strong>72-226-57-17</strong></td>
                    <td width="123">99-574-94-23</td>
                    </tr>
                    <tr>
                    <td width="47">2</td>
                    <td width="331">Yusupov Qurbonboy Hamrayevich</td>
                    <td width="94">Assistent</td>
                    <td width="123">91-627-06-65</td>
                    </tr>
                    <tr>
                    <td width="47">3</td>
                    <td width="331">Sarimsoqov Uchqun Soatbay o‘g‘li</td>
                    <td width="94">Assistent</td>
                    <td width="123">91-194-30-93</td>
                    </tr>
                    <tr>
                    <td width="47">4</td>
                    <td width="331">Sulaymanov Yodgor Baxtiyor o‘g‘li</td>
                    <td width="94">Tyutor</td>
                    <td width="123">90-265-25-61</td>
                    </tr>
                    <tr>
                    <td width="47"></td>
                    <td width="331"></td>
                    <td width="94"></td>
                    <td width="123"></td>
                    </tr>
                    </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <table class="table table-bordered" width="100%">
                    <tbody>
                    <tr>
                    <td colspan="5" width="737">
                    <p style="text-align: center;"><strong>Axborot maslaxat markazi faoliyati bo‘yicha</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td style="text-align: center;" width="47"><strong>№</strong></td>
                    <td style="text-align: center;" width="331"><strong>Xodimning F.I.SH.</strong></td>
                    <td style="text-align: center;" width="94"><strong>Lavozimi</strong></td>
                    <td style="text-align: center;" width="132"><strong>Biriktirilgan telefon raqami</strong></td>
                    <td width="132">
                    <p style="text-align: center;"><strong>Uyali telefon raqami</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td width="47">1</td>
                    <td width="331"><span class="word">Sarimsoqov Sardor Shoyzoqovich</span></td>
                    <td width="94">Assistent</td>
                    <td rowspan="4" width="132"><strong>72-226-</strong><strong>44</strong><strong>&#8211;</strong><strong>50</strong></p>
                    <p><strong>72-226-5</strong><strong>4</strong><strong>&#8211;</strong><strong>77</strong></p>
                    <p><strong>72-226-36-81</strong></td>
                    <td width="132">93-995-81-91</td>
                    </tr>
                    <tr>
                    <td width="47">2</td>
                    <td width="331"><span class="word">Razzoqov Jafar Abduvali o‘g‘li</span></td>
                    <td width="94">Assistent</td>
                    <td width="132">99-525-17-57</td>
                    </tr>
                    <tr>
                    <td width="47">3</td>
                    <td width="331"><span class="word">Mustafaqulov Javohir</span></td>
                    <td width="94">Assistent</td>
                    <td width="132">99-557-06-66</td>
                    </tr>
                    <tr>
                    <td width="47">4</td>
                    <td width="331"><span class="word">Mamaraximova Aziza Mamatqul qizi</span></td>
                    <td width="94">Tyutor</td>
                    <td width="132">91-943-95-05</td>
                    </tr>
                    </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <table class="table table-bordered" width="100%">
                    <tbody>
                    <tr>
                    <td colspan="6" width="737">
                    <p style="text-align: center;"><strong>Magstratura bo‘yicha murojaatlarga ma’sul</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td style="text-align: center;" width="47"><strong>№</strong></td>
                    <td style="text-align: center;" width="265"><strong>Xodimning F.I.SH.</strong></td>
                    <td style="text-align: center;" colspan="2" width="161"><strong>Lavozimi</strong></td>
                    <td style="text-align: center;" width="132"><strong>Biriktirilgan telefon raqami</strong></td>
                    <td width="132">
                    <p style="text-align: center;"><strong>Uyali telefon raqami</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td width="47">1</td>
                    <td width="265">Ibragimov Jaxongir Ko‘chimovich</td>
                    <td colspan="2" width="161">Magstratura bo‘limi boshlig‘i</td>
                    <td width="132">72-226-50-61</td>
                    <td width="132">(90) 265-06-82</td>
                    </tr>
                    <tr>
                    <td colspan="6" width="737">
                    <p style="text-align: center;"><strong>O‘qishni ko‘chirish tiklash bo‘yicha murojaatlarga mas’ul</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td style="text-align: center;" width="47"><strong>№</strong></td>
                    <td style="text-align: center;" colspan="2" width="331"><strong>Xodimning F.I.SH.</strong></td>
                    <td style="text-align: center;" width="94"><strong>Lavozimi</strong></td>
                    <td style="text-align: center;" width="132"><strong>Biriktirilgan telefon raqami</strong></td>
                    <td width="132">
                    <p style="text-align: center;"><strong>Uyali telefon raqami</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td width="47">1</td>
                    <td colspan="2" width="331">Barnoev Lochinbek Bekpo‘lat o‘g‘li</td>
                    <td width="94">Nazoratchi</td>
                    <td rowspan="2" width="132">72-226-45-47</td>
                    <td width="132">(99) 582-45-15</td>
                    </tr>
                    {% comment %} <tr>
                    <td width="47">2</td>
                    <td colspan="2" width="331">Xazratqulov Shoxruh  Baxodir  o‘g‘li</td>
                    <td width="94">Muxandis</td>
                    <td width="132">(93)295-91-97</td>
                    </tr>
                    <tr>
                    <td width="47"></td>
                    <td width="265"></td>
                    <td width="66"></td>
                    <td width="94"></td>
                    <td width="132"></td>
                    <td width="132"></td>
                    </tr> {% endcomment %}
                    </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <table class="table table-bordered" width="100%">
                    <tbody>
                    <tr>
                    <td colspan="5" width="737">
                    <p style="text-align: center;"><strong>Iqtisodiyot tarmoqlarida kamida besh yil ish stajiga ega bo‘lgan fuqarolarni sirtqi ta’lim shakllari qabuli bo‘yicha murojaatlarga</strong><strong> mas’ul</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td style="text-align: center;" width="47"><strong>№</strong></td>
                    <td style="text-align: center;" width="331"><strong>Xodimning F.I.SH.</strong></td>
                    <td style="text-align: center;" width="94"><strong>Lavozimi</strong></td>
                    <td style="text-align: center;" width="132"><strong>Biriktirilgan telefon raqami</strong></td>
                    <td width="132">
                    <p style="text-align: center;"><strong>Uyali telefon raqami</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td width="47">1</td>
                    <td width="331">Azizov Obid Ergashjonovich</td>
                    <td width="94">Dekan muovini</td>
                    <td width="132">94-425-47-60</td>
                    <td width="132">94-425-47-60</td>
                    </tr>
                    </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <p style="text-align: center;"><strong>Xorijiy oliy ta’lim muassasalari bilan qo‘shma ta’lim dasturlari asosida bakalavrlar qabuli bo‘yicha</strong><strong> murojaatlarga</strong><strong> mas’ul </strong></p>
                    <table class="table table-bordered" width="100%">
                    <tbody>
                    <tr>
                    <td style="text-align: center;" width="47"><strong>№</strong></td>
                    <td style="text-align: center;" width="331"><strong>Xodimning F.I.SH.</strong></td>
                    <td style="text-align: center;" width="94"><strong>Lavozimi</strong></td>
                    <td style="text-align: center;" width="132"><strong>Biriktirilgan telefon raqami</strong></td>
                    <td width="132">
                    <p style="text-align: center;"><strong>Uyali telefon raqami</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td width="47">1</td>
                    <td width="331">Nishonov Aziz Orziqul o‘g‘li</td>
                    <td width="94">Bo‘lim boshlig‘i</td>
                    <td width="132">90-911-55-34</td>
                    <td width="132">90-911-55-34</td>
                    </tr>
                    </tbody>
                    </table>
                    <p style="text-align: center;"><strong>ikkinchi va undan keyingi ta’limni olish </strong><strong>bo‘yicha </strong><strong>murojaatlarga</strong><strong> mas’ul</strong></p>
                    <table class="table table-bordered" width="100%">
                    <tbody>
                    <tr>
                    <td style="text-align: center;" width="47"><strong>№</strong></td>
                    <td style="text-align: center;" width="331"></td>
                    <td style="text-align: center;" width="94"><strong>Lavozimi</strong></td>
                    <td style="text-align: center;" width="132"><strong>Biriktirilgan telefon raqami</strong></td>
                    <td width="132">
                    <p style="text-align: center;"><strong>Uyali telefon raqami</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td width="47">1</td>
                    <td width="331">Egamberdiyev Fazliddin Otaqulovich</td>
                    <td width="94">Kafedra mudiri</td>
                    <td width="132">90 516 44 89</td>
                    <td width="132">(90) 516 -44- 89</td>
                    </tr>
                    </tbody>
                    </table>
                    <p style="text-align: center;"><strong>Koʻzi ojizlar toifasiga kiruvchi abiturientlarning kirish imtihonlarini oʻtkazish bo‘yicha murojaatlarga mas’ul</strong></p>
                    <table class="table table-bordered" width="100%">
                    <tbody>
                    <tr>
                    <td style="text-align: center;" width="47"><strong>№</strong></td>
                    <td style="text-align: center;" width="331"></td>
                    <td style="text-align: center;" width="94"><strong>Lavozimi</strong></td>
                    <td style="text-align: center;" width="132"><strong>Biriktirilgan telefon raqami</strong></td>
                    <td width="132">
                    <p style="text-align: center;"><strong>Uyali telefon raqami</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td width="47">1</td>
                    <td width="331">Yaxshilikov Komil O‘rolovich</td>
                    <td width="94">Uslubchi</td>
                    <td width="132">93-291-69-70</td>
                    <td width="132">93-291-69-70</td>
                    </tr>
                    </tbody>
                    </table>
                    <p style="text-align: center;"><strong>Fuqaroligi bo‘lmagan shaxslarni institutga hujjatlarini rasmiylashtirish bo‘yicha murojaatlarga mas’ul</strong></p>
                    <table class="table table-bordered" width="100%">
                    <tbody>
                    <tr>
                    <td style="text-align: center;" width="47"><strong>№</strong></td>
                    <td style="text-align: center;" width="331"></td>
                    <td style="text-align: center;" width="94"><strong>Lavozimi</strong></td>
                    <td style="text-align: center;" width="132"><strong>Biriktirilgan telefon raqami</strong></td>
                    <td width="132">
                    <p style="text-align: center;"><strong>Uyali telefon raqami</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td width="47">1</td>
                    <td width="331">Djamolov O‘tkir Ilxomovich</td>
                    <td width="94">Bo‘lim boshlig‘i</td>
                    <td width="132">90-264-40-35</td>
                    <td width="132">72-226-56-20</td>
                    </tr>
                    <tr>
                        <td width="47">2</td>
                        <td width="331">G‘aybullayev Soibjon </td>
                        <td width="94">Mutaxassis</td>
                        <td width="132">99-343-40-00</td>
                        <td width="132">99-343-40-00</td>
                        </tr>
                    </tbody>
                    </table>

                    Ish rejimi:
Dushanbadan shanbagasha – soat 8:00 dan 18:00 gacha
Tushlik. Soat 13:00 dan 14:00 gacha

                


            </div>
        </div>
    </div>
</div>



{% endblock content %}