<div class="card-box_left">
    <a href="{% url "callCenter" %}" class="btn">CALL CENTER</a>
    <a href="{% url "bakalavr" %}" class="btn">Bakalavr</a>
    <a href="{% url "magistr" %}" class="btn">Magistratura</a>
    <a href="{% url "sirtqi" %}" class="btn">Sirtqi Ta'lim</a>
    <a href="{% url "doktarantura" %}" class="btn">Doktorantura</a>
    <a href="{% url "xorijiyTalabalar" %}" class="btn">Xorijiy Fuqarolar</a>
    <a href="{% url "qoshmaTalim" %}" class="btn">Qoshma Ta'lim dasturi</a>
    <a href="{% url "ikkiMutaxasislik" %}" class="btn">2 - Mutaxassislik</a>
    <a href="{% url "texnikum" %}" class="btn">Texnikumlar</a>
</div>