@import url(https://fonts.googleapis.com/css?family=Poppins:300);

body{
    height: 100vh;
    font-family: "Poppins";
    background: #0e2941 !important;
}
.login-page {
  width: 400px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 400px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Poppins", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 7px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  
}
.form button {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #234666;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  border-radius: 7px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #0e2941;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #234666;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

label{
  color: aqua !important;
}


/* ########################################################################################## */
/* ########################################################################################## */
/* ########################################################################################## */


.navbar-expand-lg{
  background-color: #0e2941 !important;
  border: 3px solid #0b2135;
  border-radius: 10px;
}
.navbar-expand-lg a{
  color: #FFFFFF !important;
}
.dropdown-menu .dropdown-item{
  color: #000 !important;
}
.text-h2{
  display: flex !important;
  justify-content: space-around !important;
  color: #FFFFFF !important;
  margin: 10px;
  text-align:center  !important;
}
.left-card,.right-card{
  height: 700px;
  width: 50% !important;
  overflow: auto;
}




::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: #0b2135;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ddd;
  border: 1px solid #ccc;
}
