*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* ############################################################################## */
  /* ############################################################################## */
  
  .item-Main{
    width: 1440px;
  }




  .carousel {
    position: relative;
    overflow: hidden;
    font-size: 2.5vmin;
  }
  
  .carousel-slider {
    display: flex;
    transition: 0.6s;
  }
  
  .carousel-slide {
    flex: 0 0 100%;
  }
  
  .carousel-slide img {
    display: block;
    width: 100%;
    height: 36em;
    object-fit: cover;
  }
  
  .carousel button {
    font-size: inherit;
  }
  
  .carousel-prev,
  .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 1em;
    border: none;
    cursor: pointer;
  }
  
  .carousel-prev {
    left: 2em;
    display: none;
  }
  
  .carousel-next {
    display: none;
    right: 2em;
  }
  
  .carousel-navigation {
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  
  .carousel-bullet {
    width: 10px;
    height: 10px;
    border: none;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .carousel-bullet.is-active {
    background: #144c84;
  }







  .XA-box{
    position: absolute;
    display: flex !important;
    flex-direction: row !important;
    z-index: 9999999999;
    right: 43%;
    top: 0;

    /* top: 350px;
    left: 10px; */
  }
  .XA-box a{
    display: block;
    margin:2px 5px;
  }
  .XA-box img{
    border-radius: 4px !important;
    object-fit: cover;
    width: 100px;
    height: 40px;
    background: rgba(0, 0, 0, 0.315);
  }

@media only screen and (max-width: 576px) {
  .__user_cards .left img{
    width: 130px !important;
    height: 150px !important;
    border: 1px solid red !important;
    
    }
    .__user_cards .right{
      font-size: 14px;
    }
    .map iframe {
      width: 300px !important;
      height: 250px !important;
  }
  .col1 img{
    margin-left: 0px !important;
  }

}

  .poshta{
    text-decoration: none;
  }
  .kaf-img{
    width: 770px !important;
    object-fit: cover;
  }
  .bak-nizom{
    text-decoration: none !important;
    background-color: none !important;
  }

 .a-link{
  display: block;
  width: 100% !important;
  text-decoration: none;
  background-color: transparent !important;
  color: blue !important;
  /* padding: 20px 0;
  margin: 5px;
  background-color: #144c84;
  color: #fff;
  transition: all .3s; */
 }




  /* ############################################################################## */
  /* ############################################################################## */
  /* ############################################################################## */
  
  
  @media only screen and (max-width: 1200px) {
    .elonlar_blocki {
      display: flex !important;
      flex-wrap: wrap;
    }
    .elonlar_blocki .card{
      flex-wrap: wrap;
      margin: 10px !important;
      border-radius: 15px !important;

    }
    .elonlar_blocki .card img{
      border-radius: none !important;
      width: 100% !important;
    }
   
    .close{
      display: block !important;
      cursor: pointer;
      margin-top:   10px;
      margin-left: 10px;
      width: 30px;
      height: 30px;
  
    }
    .menu{
      display: block !important;
      cursor: pointer;
      margin-top: 20px;
      width: 50px;
      height: 50px;
      position: absolute;
      top: -70px;
      right: 60px;
      margin-top: 100px;
    }
  
    .responsive{
      display: none !important;
      position: fixed;
      z-index: 999 !important;
      top: 0;
      right: 0;
      width: 300px !important; 
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start !important;
      background-color: #1566B7;
      transition: all .3s;
      box-shadow: 0 0 15px #000 !important;
    }
   
    .dropdown{
      border-bottom: 1px solid wheat;  
      width: 100%;
      text-align: center;
    }
    .dropdown:hover .navbar_nav_a {
      background: #fff;
      color: black !important;
    }
    .navbar_nav_a{
      width: 100%;
    }
  
    
  }
  @media only screen and (max-width: 992px) {
 
    .cards .user-card .left img{
      width: 200px !important;
    }
    .cards .user-card .right h2{
      font-size: 22px !important;
    }
    .cards .user-card .right p{
      font-size: 25px !important;
    }


    .block_left{
      display: none !important;
    }
    .block_right{
      width: 100% !important;
    }
  }
  @media only screen and (max-width: 768px) {
    .elonlar_blocki {
      display: flex !important;
      flex-wrap: wrap;
      width: 100% !important;
      margin: auto !important;
    }
    .elonlar_blocki .card{
      width: 400px !important;
      flex-wrap: wrap !important;
      margin: 10px !important;
      border-radius: 15px !important;

    }
    .elonlar_blocki .card img{
      border-radius: none !important;
      width: 100% !important;
    }
    .block_left{
      display: none !important;
    }
    .block_right{
      width: 100% !important;
    }

    .respons_footer{
      margin: 0 70px !important;
    }

  }




  /* ############################################################################## */
  /* ############################################################################## */
  /* ############################################################################## */


  .menu, .close{
    display: none;
  }
  
  
  .header_new{
    display: flex !important;
    justify-content: space-between;
  }
  
  .navbar_new{
    display: flex;
    justify-content: space-between;
    padding-top: 20px; 
  }
  
  
  
  .dropdown {
    display: inline-block;
  }
  
  
  .navbar_nav_a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  .dropdown_ul {
    display: none;
    position: absolute;
    background: #e9e9e9;
    box-shadow: 0 0 5px #fff;
    min-width: 100px; 
    left: -28px;
    z-index: 999;
    list-style: none;
    border-radius: 5px;
  }
  
  
  .dropdown_li a {
    display: block;
    margin-left: -32px;
    color: #000 !important;
    text-decoration: none;
    width: 170px;
    height: 35px;
    border-bottom: 1px solid #b9b9b9;
    padding-top: 5px;
    text-align: center;
    transition: all .2s;

  }

  
  .dropdown_li .last-a {
    display: block;
    margin-left: -32px;
    color: #000 !important;
    text-decoration: none;
    width: 170px;
    height: 60px !important;
    padding-top: 5px;
    text-align: center;
  }


  
  .dropdown:hover .dropdown_ul {
    display: block;
  }
  
  .dropdown .dropdown_ul .dropdown_li a:hover{
    color: #fff !important;
    background: #1566B7;
    transition: all .2s;
    border-radius: 5px;

  }
  
  
  
  
  
  /* ############################################################################## */
  
  
  
  
  /* Optional: Customize scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #1566B7;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: #fff;
  }
  
  
  /*  
    color: #1566B7;         kuk rang navbar 
    
    color: #093663;         navbar:hover
    font-family: Roboto;
  
    background: #585858;    Useful information
  */
  
  /* ############################################## */
  
  
  .jizpi-logo{
    width: 100px;
    border-radius: 100%;
  }
  
  .bg-color{
    background: #1566B7;
    position: sticky;
    z-index: 9999;
  
    top: 0px;
  }
  
  
  
  
  
  .nav-logo-left{
    display: flex;
  }
  
  .nav-logo-left h2{
    font-size: 16px;
    margin-left: 10px;
    color: #fff;
  }
  .nav-logo-left h2 span{
    display: block;
  }
  
  
  
  
  .navbar_new a{
    text-decoration: none;
    color: #fff;
  }
  
  
  
  
  .use-inf{
    width: 100%;
    height: 30px;
    background: #585858;
    position: sticky;
    top: 0px;
    z-index: 9999;
  }
  .cont-inf{
    display: flex;
    justify-content: space-between;
  }
  
  .cont-inf-left{
    display: flex
  }
  .cont-inf-left p{
    color: #fff;
  }
  .cont-inf-left a{
    padding:0 6px;
  }
  .cont-inf-left a img{
    border-radius: 0;
  }
  
  .cont-inf-left a i{
    color: #fff !important;
    font-size: 15px;
    padding: 1px 6px;
  }
  
  .cont-inf a span{
    color: #fff !important;
    font-size: 20px;
    margin: 3px;
  }
  /* ############################################## */
  
  .cont-inf-right{
    position: relative;
    width: 130px;
  }
  
  .cont-inf-right a{
    text-decoration: none;
    color: #fff;
  }
  .tizim{
    position: absolute;
    top: 2px;
    right: 0;
  }
  
  /* ############################################## */
  
  
  
  
  
  /* ############################################## */
  
  .carousel-item img{
    width: 100%;
    object-fit: cover;
    border-radius: 0 !important;
    height: 700px !important;
  }
  .carousel-indicators button{
    border-radius: 100%;
    width: 10px !important;
    height: 10px !important;
  }
  
  .news{
    margin-top: 50px;
    border-top: none;
  }
  /* .block{
    border: 1px solid red;
  } */
  .block .top-text{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
  }
  .top-text h3{
    color: #093663;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .top-text .news-h3{
    color: #093663;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .block .top-text .line{
    width: 85%;
    margin-top: 12px;
    height: 2px;
    background-color: #093663;
  }
  .top-text .line-b{
    width: 50%;
    margin-top: 7px;
    height: 3px;
    background: #FFBD13;
  }
  .korsatgich .top-text .line{
    width: 80%;
  }

  .nav-news ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: -30px;
    margin-bottom: 50px;
  }
  .nav-news ul li a{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 14px;
    transition: all .3s;
    font-weight: 600;
    color: #093663;
  }
  
  .nav-news ul li a:hover{
    color: #FFF;
    background: #093663;
    transition: all .3s;
  }
  
  /* ############################################## */
  
  .top-hiwi{
    margin-top: 10px;
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
  }
  
  
  .top-hiwi .card{
    border: none;
    width: 160px;
    margin-top: 50px;
    height: auto;
    text-decoration: none;
  }
  
  .top-hiwi .card .box{
    width: 140px;
    height: 140px;
    margin: 14px;
    border-radius: 100%;
    border: 1px solid #d4d4d4;
    /* border: 1px solid red; */
    transition: all .2s;
    padding:35px;
  }
  
  .top-hiwi .card .box:hover{
    transition: all .2s;
    border: 1px solid #093663;
    border-top: 8px solid #093663;
  
  }
  
  
  .top-hiwi .card .box-line{
    width: 3px;
    height: 50px;
    margin-left: 50%;
    background: #093663;
  }
  
  .top-hiwi .card .box-line-radius{
    width: 13px;
    height: 13px;
    background: #093663;
    border: none;
    border-radius: 100px;
    margin-left: 47%;
  }
  
  .top-hiwi .card h6{
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    color: #093663;
    /* background: #093663; */
  }
  
  .card_fakultet{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .fakultet {
    position: relative;
    object-fit: cover;
    border-radius: 15px;
    width: 220px;
    height: 300px;
    z-index: 9;
  }
  .fakultet h6{
    margin-top: 250px;   
    text-align: center;
    color: #fff;
  }
  .fakultet img{
    opacity: .6;
    transition: all .3s;
    width: 220px;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
  }
  .fakultet .liner-gradient{
    position: absolute;
    bottom: -10px;
    border-radius: 15px;
    background: linear-gradient(to bottom, #206ab41c,#206ab41c,#1B6EC0);
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    width: 220px;
    height: 310px;
  }
  
  .fakultet:hover img{
    transition: all .3s;
    opacity: 1;
  }
  
  .elonlar_blocki{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap !important;
    justify-content: space-between;    
  }
  .elonlar_blocki .card{
    position: relative;
    width: 270px;
    height: 390px;
    transition: all .2s;
  }
  .elonlar_blocki .card:hover{
    box-shadow: 0 0 15px #1b136450;
    transition: all .2s;
  
  }
  .elonlar_blocki .card img{
    height: 200px;
    border-radius: 6px !important;
    width: 100% !important;
  }
  .elonlar_blocki .card h5,.elonlar_blocki .card p{
    text-align: center;
    margin: 5px 3px;
    color: #06203a;
  }

  .card p{
    color: #06203a;
    text-align: center;
    font-size: 14px;
  }
  .elonlar_blocki .card .btn{
    position: absolute;
    left: 4px;
    width: 97%;
    border-radius: 8px;
    background: #06203a;
    color: #fff;
    transition: all .3s;
    bottom: 4px;
  }
  .elonlar_blocki .card .btn:hover{
    transition: all .3s;
    background: #072d53;
  }

  
  .staticlik_block{
    /* border: 1px solid red; */
    justify-content: center !important;
  }
  
  
  .cls{
    /* background-color: #06203a; */
    margin-top: 10px;
    padding: 50px 0;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../Photos/icons/photo_2024-06-01_06-35-27.jpg)  !important;
    background-attachment:fixed !important ;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }

  .kursatgich h1{
    font-size: 40px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .kursatgich ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    font-size: 36px;
    list-style: none;
  }
  .kursatgich ul li{
    border: 1px solid #093663;
    width: 250px;
    font-size: 25px;
    padding: 15px 0;
    /* border-radius: 40px; */
    text-align: center;  
    margin: 10px;
    color: #fff;
    transition: all .3s;
  }
  
  .kursatgich ul li:hover{
    transition: all .3s;
    color: #fff;
    border: 1px solid #1566B7;
  
  }
  
  .kursatgich ul li img{
    width: 100px;
    display: block;
    margin: 10px;
    margin-left: 70px;
  
  }
  
  
  .elementlar{
    height: 250px;
    width: 260px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid aquamarine;
    text-decoration: none;
    color: #868686;
  }
  .elementlar:hover{
    border: 1px solid #1566B7;
    color: #06203a;
  }
  .elementlar img{
    width: 150px !important;
    margin-left: 45px;
    border-radius: 100%;
  }
  .elementlar h3{
    font-size: 18px;
    text-align: center;
    /* margin-top: 50px !important; */
  }
  
  
  
  
  .col1{
    color: #fff;
    text-transform: uppercase;
  }
  .col1 p{
    font-size: 25px;
    font-weight: 500;
  }
  .col1 span{
    margin-left: 70px;
  }
  .col1 img{
    width: 150px;
    margin-left: 50px;
    border-radius: 100%;
  }
  .col1 .statik_box{
    display: flex;
    margin-top: 20px;
    margin-left: -30px;
  }
  .col1 .statik_box .statik_card{
    width: 100px;
    height: 40px;
    margin-right: 10px;
    border: 1px solid #585858;
  }
  
  
  
  .col2 p{
    font-size: 14px;
  }
  .col2 p span{
    margin: 0px ;
  }
   .map iframe{
    width: 370px;
    height: 250px;
  }
  
  .col3{
    color: #FFF;
  }
  .col3 h3{
    margin-bottom: 60px;
  }
  .col3 p{
    font-size: 13px;
    margin-left: 50px;
  }
  .footer_hiwi{
    margin-left: 50px;
  }
  .footer_hiwi h3{
    margin-top: 55px;
    margin-bottom: 20px;
  }
  .footer_hiwi ul{
    display: flex;
    justify-content: flex-start;
    list-style: none;    
    margin-left: -30px;
  }
  .footer_hiwi ul li{
    margin-right: 10px;
  }
  .footer_hiwi ul li a img{
    width: 40px;
  }
  
  .item{
    width: 250px;
    height: 300px;
  }


  .footer{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../Photos/footer.png);    
    background-attachment: fixed !important;
  }

  .cls2{
    padding: 20px 0;
    margin-top: 50px;
  }

  
/* ############################################### */
.block_left .card-box_left{
  display: flex;
  flex-direction: column;
}

.block_left .card-box_left a{
  display: block;
  margin: 5px 0;
  padding: 10px 0;
  background-color: #144c84;
  color: #fff;
  transition: all .3s;

}

.block_right .card-box_right{
  display: flex;
  flex-wrap: wrap;
}

.block_right .card-box_right a{
  display: block;
  width: 300px;
  padding: 20px 0;
  margin: 5px;
  background-color: #144c84;
  color: #fff;
  transition: all .3s;
}

.block_left .card-box_left a:hover, .block_right .card-box_right a:hover {
  transition: all .3s;
  background-color: #0b2f52;

}


.p1920{
  text-align: right !important;
  width: 100% !important;
  /* margin-left: 65%; */
  margin-bottom: 25px;
}
.p1920_{
  width: 100% !important; 
  text-align: center !important;
}

/* ############################################################################# */
/* ############################################################################# */
/* ############################################################################# */
/* ############################################################################# */
/* ############################################################################# */

.__cards{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  
} 
.__card{
  width: 250px !important;
  height: 350px !important;
  border-radius: 20px;
  /* background-color: rgb(228, 228, 228); */
  box-shadow: 0 0 5px gray;
  text-align: center;
  transition: all .2s;
  cursor: pointer;
  margin: 20px;
  text-decoration: none;
}
.__card img{
  width: 250px;
  height: 200px;
  border-top-right-radius: 20px; 
  border-top-left-radius: 20px; 
  margin-bottom: 10px !important;
}
.__card h4{
  color: #093663 !important;
  font-size: 22px;
}
.__card h6{
  margin-top: 10px;
  font-size: 14px;
  color: #093663 !important;
  transition: all .5s;
}




.__card:hover{
  transition: all .2s;
  box-shadow: 0 0 10px #093663;
}



footer{
  background-color: #093663;
  width: 100%;
}
.footer-divs{
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer1{
  height: 100%;
  margin-top: 20px;
  color: white;
  text-align: center;
  padding: 50px 10px;
  width: 400px;
}
.footer1 img{
  margin: 10px;
}

.footer2{
  height: 100%;
  padding: 50px 10px;
  width: 400px;

}
.__manzil{
  font-size: 25px;
  color: white;
  font-weight: 700;
}
.__manzil_{
  margin-left: -79px;
  font-size: 25px;
  color: white;
  font-weight: 700;
}
.__manzil2{
  width: 80px;
  border: 2px solid white;
}
.locatsion-div{
  display: flex;
  align-items: center;
}
.locatsion-div label{
  color: rgb(223, 223, 223);
  font-size: 23px;
  /* font-weight: 500; */
  margin-left: 10px;
}

.ml{
  margin-left: 50px;
}

.footer3{
  height: 100%;
  width: 400px;

  padding: 50px 20px !important;
  color: white;
  font-size: 22px;    
}

.footer33{
  margin-left: 50px;
}
.jizpi-uz{
  text-decoration: none;
  color: white;
  margin-left: 50px;
}
.sahifalar{
  display: flex;
  color: white !important;
}
.sahifalar2{
  margin-top: 15px;
  border-right: 2px solid white;
  padding: 0px 10px;
  height: 40px;
}
.ijtimoiy{
  color: white;
  transition: all .5s;
}
.ijtimoiy:hover{
  color: #b6bec5;
  transition: all .5s;
}
.footer-text{
  width: 100%;
  height: 100%;
  background-color: #0b1d30;
  margin-top: 20px;
  color: #9b9b9b;
  display: flex;
}
.pa1{
  width: 70%;
}
.pa2 p{
  float: right;
}



/* ############################################################################# */
/* ############################################################################# */


.main{
  height: 600px;
  background: #1a202c;
}
.main h1{
  transform: translate(0%,200px);
  font-size: 45px;
  color: #fff;
}

.user-card{
  text-decoration: none;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 300px;
  padding: 5px;
  border: 2px solid #ebeaea;  
  border-radius: 10px;  
  display: flex;
  transition: all .3s;
}
.user-card:hover{
  transition: all .3s;
  border: 2px solid #072d53;  
}
.mt3{
  font-size: 25px;
  color: #072d53 !important;
}
.p{
  color: #072d53 !important;
  font-size: 35px;
  text-transform: uppercase;
}

.user-card .right{
  margin-left: 20px;
  margin-top: 20px;
  font-size: 20px;
}
.user-card .left img{
  border-radius: 10px;
  width: 250px;
  height: 285px;
  object-fit: cover;
}


.user-cards{
  text-decoration: none;
  display: flex;
  border: 3px solid #072d53;
margin: 19px !important;
  height: 300px;
  overflow: hidden !important;
  width: 300px;
  transition: all .3s;
}
.user-cards:hover .left{
  transition: all .3s;
  transform: translate(-300px);
}
.user-cards:hover .right{
  transition: all .3s;
  transform: translate(-300px);
  color: #06203a !important;

}
.user-cards .right p{
  color: #072d53;
  font-size: 20px;
  width: 300px ;
  font-weight: 500;
  padding: 1px 10px;
}


.user-cards .left{
  transition: all .3s;
  width: 300px;
  height: 300px !important;
  background: #072d53;
  border: 1px solid #072d53;
}
.user-cards .left img{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
  margin-left: 55px;
}
.user-cards .left p{
  color: #fff;
  text-align: center;
  margin-top: 15px;
  font-size: 22px;
  width: 300px ;
  font-weight: 600;
}




/* ################################# */


.__user_cards {
  display: flex;
}
.__user_cards .left img{
  width: 200px;
  height: 250px;
  object-fit: cover;
}
.__user_cards .right{
  margin-left: 20px;
  width: 100% !important;
}
.__user_cards .right p{
  padding: 4px 0px;
  border-bottom: 1px solid #b9b8b8;
}

.__card__{
  text-decoration: none;
  margin: 10px;
  width: 200px !important;
  padding: 10px;
  border:1px solid #868686;
  border-radius: 10px;
  text-align: center;
  flex-wrap: wrap;
  transition: all .2s;
}

.__card__:hover{
  transition: all .2s;
  background: #144c84;
  color: #fff;
}