@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

img {
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  cursor: pointer;
}

.parent {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  color: #093663;
}

.right-content {
  width: 80%;
}

.right-content-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-content-time div {
  font-weight: bolder;
  font-size: 23px;
}

.right-content-time div p {
  border: 2px solid #ffbd13;
  width: 75%;
}

.right-content-time span {
  border: 3px solid #093663;
  width: 70%;
  margin-bottom: 10px;
  border-radius: 10px;
}

.right-content-img img {
  width: 100%;
  height: 450px;
}

.right-content-title h2 {
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 0.7px;
  line-height: 34px;
}

.right-content-decr p {
  font-weight: bold;
  font-size: 20px;
}

.left-content-img {
  display: flex;
  flex-direction: column;
}

.left-content-img img {
  width: 100%;
  height: 290px;
  margin-top: 30px;
  opacity: 0.7;
}

.left-content-img .active-img {
  opacity: 1;
}

.left-content-img img:first-child {
  margin-top: 0;
}


@media (min-width: 100px) and (max-width: 460px) {
  .parent {
    gap: 1px;
  }
  .right-content-time {
    font-weight: normal;
  }
  .right-content-time div {
    font-size: 15px;
  }
  .right-content-time span {
    width: 60%;
    border: 2px solid #093663;
  }
  .right-content-title h2 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: 800;
  }
  .right-content-decr p {
    font-size: 13px;
    letter-spacing: normal;
    font-weight: 500;
  }
  .right-content-img img {
    height: 170px;
  }
  .left-content-img img {
    width: 60px;
    margin-top: 6px;
    height: 60px;
  }
}

@media (min-width: 461px) and (max-width: 599px) {
  .parent {
    gap: 9px;
  }
  .right-content-time {
    font-weight: normal;
  }
  .right-content-time div {
    font-size: 16px;
  }
  .right-content-time span {
    width: 70%;
    border: 2px solid #093663;
  }
  .right-content-title h2 {
    font-size: 15px;
    line-height: 21px;
    font-weight: 800;
  }
  .right-content-decr p {
    font-size: 14px;
    letter-spacing: normal;
  }
  .right-content-img img {
    height: 230px;
  }

  .left-content-img img {
    height: 70px;
    width: 90px;
    margin-top: 8px;
  }
}


@media (min-width: 600px) and (max-width: 800px) {
  .parent {
    gap: 10px;
  }

  .left-content img {
    margin-top: 8px;
    height: 60px;
  }

  .right-content {
    width: 100%;
  }

  .right-content-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right-content-img img {
    height: 300px;
  }

  .right-content-time div {
    font-size: 17px;
  }
  .right-content-time span {
    border: 2px solid #093663;
    width: 75%;
  }
  .right-content-title h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
  }
  .right-content-decr p {
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 600;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .parent {
    gap: 10px;
  }

  .right-content {
    width: 100%;
  }

  .left-content-img img {
    height: 70px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    margin-top: 13px;
    opacity: 0.7;
  }

  .right-content-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right-content-img img {
    height: 300px;
  }

  .right-content-time div {
    font-size: 19px;
  }
  .right-content-time span {
    border: 2px solid #093663;
    width: 75%;
  }
  .right-content-title h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
  }
  .right-content-decr p {
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 600;
  }
}
