<div class="card-box_left">
    <a href="{% url "pageMF1" %}" class="btn">Shartnoma to’lovlari</a>
    <a href="{% url "pageMF2" %}" class="btn">Bitiruvchilar monitoringi</a>
    <a href="{% url "pageMF3" %}" class="btn">Ijtimoiy muxofaza</a>
    <a href="{% url "pageMF4" %}" class="btn">Molyaviy xisobotlar</a>
    <a href="{% url "pageMF5" %}" class="btn">Molyaviy shartnomalar</a>
    <a href="{% url "pageMF6" %}" class="btn">Moliyaviy ko’rsatkichlar</a>
    <a href="{% url "pageMF7" %}" class="btn">Xizmat avtomototransport vositalari, xizmat uylari va boshqa ko’chmas mulk obyektlari</a>
</div>