{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Xalqaro Faoliyat</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "faoliyat/moliyaviy-faoliyat/__moliyaviy-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
        
                <div class="col-12">
                    <main id="content" class="content-style">
                                                <article id="post-468" class="post-468 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Shartnoma to’lovlari</h1>                             </div>
                                <div class="entry-content">
                                                                    <p style="text-align: center;"><strong>2021/2022 o‘quv yili uchun Jizzax politexnika institutida bakalavriat ta’lim&nbsp; yo‘nalishlari bo‘yicha bitta talabani to‘lov – kontrakt shaklida bir yillik o‘qitish</strong></p>
    <p style="text-align: center;"><strong>MIQDORLARI</strong></p>
    <table class="table table-bordered" width="100%">
    <tbody>
    <tr>
    <td width="21%">
    <p style="text-align: center;"><strong>YO‘NALIShLAR</strong></p>
    </td>
    <td style="text-align: center;" width="12%">Bakalavriat kunduzgi (<em>Stipendiyali to‘lov – kontrakt miqdori) </em><strong>Yillik</strong></td>
    <td style="text-align: center;" width="12%">Bakalavriat kunduzgi&nbsp; <em>(Stipendiyali to‘lov – kontrakt miqdori)<strong><br>
    </strong></em><strong>1-yarim yillik </strong></td>
    <td style="text-align: center;" width="12%">Bakalavriat kunduzgi&nbsp; <em>(Stipendiyali to‘lov – kontrakt miqdori)<br>
    </em><strong>&nbsp;2- yarim yillik </strong></td>
    <td style="text-align: center;" width="13%">Bakalavriat kunduzgi&nbsp; (<em>Stipendiyasiz to‘lov – kontrakt miqdori</em>) <strong>Yillik</strong></td>
    <td style="text-align: center;" width="13%">Bakalavriat kunduzgi&nbsp; (<em>Stipendiyasiz to‘lov – kontrakt miqdori</em>)<br>
    <strong>1-yarim yillik </strong></td>
    <td style="text-align: center;" width="13%">Bakalavriat kunduzgi&nbsp; (<em>Stipendiyasiz to‘lov – kontrakt miqdori</em>)<br>
    <strong>2- yarim yillik </strong></td>
    </tr>
    <tr>
    <td style="text-align: center;" width="21%">&nbsp;– Professional ta’lim (yo‘nalishlar bo‘yicha)</td>
    <td style="text-align: center;" width="12%"><strong>12 627 170</strong></td>
    <td style="text-align: center;" width="12%"><strong>6 313 585</strong></td>
    <td style="text-align: center;" width="12%"><strong>6 313 585</strong></td>
    <td style="text-align: center;" width="13%"><strong>6 412 610</strong></td>
    <td style="text-align: center;" width="13%"><strong>3 206 305</strong></td>
    <td width="13%">
    <p style="text-align: center;"><strong>3 206 305</strong></p>
    </td>
    </tr>
    <tr>
    <td width="21%">&nbsp;– Elektr energetikasi (tarmoqlar va yo‘nalishlar bo‘yicha)</td>
    <td rowspan="17" width="12%">
    <p style="text-align: center;"><strong>12 627 170</strong></p>
    </td>
    <td style="text-align: center;" rowspan="17" width="12%"><strong>6 313 585</strong></td>
    <td style="text-align: center;" rowspan="17" width="12%"><strong>6 313 585</strong></td>
    <td style="text-align: center;" rowspan="17" width="13%"><strong>6 412 610</strong></td>
    <td style="text-align: center;" rowspan="17" width="13%"><strong>3 206 305</strong></td>
    <td rowspan="17" width="13%">
    <p style="text-align: center;"><strong>3 206 305</strong></p>
    </td>
    </tr>
    <tr>
    <td width="21%">&nbsp;&nbsp; Avtomobilsozlik va traktorsozlik</td>
    </tr>
    <tr>
    <td width="21%">&nbsp;– Elektr texnikasi, elektr mexanikasi va elektr texnologiyalari <em>(tarmoqlar bo‘yicha)</em></td>
    </tr>
    <tr>
    <td width="21%">&nbsp;– Elektronika va asbobsozlik <em>(tarmoqlar bo‘yicha)</em></td>
    </tr>
    <tr>
    <td width="21%">-Texnologik jarayonlar va ishlab chiqarishni avtomatlashtirish va boshqarish (tarmoqlar bo‘yicha)</td>
    </tr>
    <tr>
    <td width="21%">&nbsp;– Transport vositalari muhandisligi (turlari bo‘yicha)</td>
    </tr>
    <tr>
    <td width="21%">&nbsp;– Metrologiya standartlashtirish va mahsulot sifati menejmenti <em>(tarmoqlar bo‘yicha)</em></td>
    </tr>
    <tr>
    <td width="21%">&nbsp;– Kimyoviy texnologiya (ishlab chiqarish turlari bo‘yicha),</td>
    </tr>
    <tr>
    <td width="21%">&nbsp;– Yengil sanoat buyumlari konstruksiyasini ishlash va texnologiyasi <em>(ishlab chiqarish turlari bo‘yicha)</em></td>
    </tr>
    <tr>
    <td width="21%"><em>&nbsp;</em>– Qishloq xo‘jalik mahsulotlarini saqlash va dastlabki ishlash texnologiyasi</td>
    </tr>
    <tr>
    <td width="21%">Qishloq xo‘jaligini mexanizatsiyalashtirish</td>
    </tr>
    <tr>
    <td width="21%">&nbsp;– Oziq-ovqat texnologiyasi (maxsulot turlari bo‘yicha)</td>
    </tr>
    <tr>
    <td width="21%">&nbsp;– Tabiiy tolalarni dastlabki ishlash texnologiyasi (xomashyo turlari bo‘yicha)</td>
    </tr>
    <tr>
    <td width="21%">&nbsp;– Neft va neft-gazni qayta ishlash texnologiyasi</td>
    </tr>
    <tr>
    <td width="21%">&nbsp;– Energetika (tarmoqlar bo‘yicha)</td>
    </tr>
    <tr>
    <td width="21%">&nbsp;– Mashinasozlik texnologiyasi, mashinasozlik&nbsp; ishlab chiqarishini jihozlash va avtomatlashtirish</td>
    </tr>
    <tr>
    <td width="21%">&nbsp;– Materialshunoslik va yangi materiallar texnologiyasi (<em>qurilish )</em></td>
    </tr>
    <tr>
    <td width="21%">&nbsp;– Ekologiya va atrof-muhit muhofazasi <em>(tarmoqlar va sohalar bo‘yicha) </em></td>
    <td rowspan="3" width="12%">
    <p style="text-align: center;"><strong>12 627 170</strong></p>
    </td>
    <td style="text-align: center;" rowspan="3" width="12%"><strong>6 313 585</strong></td>
    <td style="text-align: center;" rowspan="3" width="12%"><strong>6 313 585</strong></td>
    <td style="text-align: center;" rowspan="3" width="13%"><strong>6 412 610</strong></td>
    <td style="text-align: center;" rowspan="3" width="13%"><strong>3 206 305</strong></td>
    <td rowspan="3" width="13%">
    <p style="text-align: center;"><strong>3 206 305</strong></p>
    </td>
    </tr>
    <tr>
    <td width="21%"><em>&nbsp;– </em>Mehnat muhofazasi va texnika xavfsizligi<em>&nbsp; (tarmoqlar bo‘yicha)</em></td>
    </tr>
    <tr>
    <td width="21%">&nbsp;– Transport logistikasi <em>(transport turlari bo‘yicha)</em></td>
    </tr>
    <tr>
    <td width="21%">&nbsp;– Bino va inshootlar qurilishi <em>(turlari bo‘yicha)</em></td>
    <td rowspan="7" width="12%">
    <p style="text-align: center;"><strong>13 306 500</strong></p>
    </td>
    <td style="text-align: center;" rowspan="7" width="12%"><strong>6 653 250</strong></td>
    <td style="text-align: center;" rowspan="7" width="12%"><strong>6 653 250</strong></td>
    <td style="text-align: center;" rowspan="7" width="13%"><strong>7 091 940</strong></td>
    <td style="text-align: center;" rowspan="7" width="13%"><strong>3 545 970</strong></td>
    <td rowspan="7" width="13%">
    <p style="text-align: center;"><strong>3 545 970</strong></p>
    </td>
    </tr>
    <tr>
    <td width="21%">&nbsp;– Muhandislik kommunikatsiyalari qurilishi va montaji <em>(turlari bo‘yicha)</em></td>
    </tr>
    <tr>
    <td width="21%">&nbsp;– Qurilish materiallari, buyumlari va konstruksiyalarini ishlab chiqarish</td>
    </tr>
    <tr>
    <td width="21%">&nbsp;– Yig‘ma temirbeton va beton konstruksiyalari va buyumlar ishlab chiqarish texnologiyasi</td>
    </tr>
    <tr>
    <td width="21%">&nbsp;– Devorbop va pardozbop qurilish materiallari texnologiyasi</td>
    </tr>
    <tr>
    <td width="21%">&nbsp;– Yo‘l muhandisligi <em>(sohalar va faoliyat turlari bo‘yicha)</em></td>
    </tr>
    <tr>
    <td width="21%">&nbsp;– Avtomobil yo‘llari va aerodromlar</td>
    </tr>
    <tr>
    <td width="21%">&nbsp;– Arxitektura (turlari bo‘yicha)</td>
    <td width="12%">
    <p style="text-align: center;"><strong>13 985 830</strong></p>
    </td>
    <td style="text-align: center;" width="12%"><strong>6 992 915</strong></td>
    <td style="text-align: center;" width="12%"><strong>6 992 915</strong></td>
    <td style="text-align: center;" width="13%"><strong>7 771 270</strong></td>
    <td style="text-align: center;" width="13%"><strong>3 885 635</strong></td>
    <td width="13%">
    <p style="text-align: center;"><strong>3 885 635</strong></p>
    </td>
    </tr>
    <tr>
    <td width="21%">&nbsp;– Radioelektron qurilmalar va tizimlar <em>(tarmoqlar bo‘yicha)</em></td>
    <td width="12%">
    <p style="text-align: center;"><strong>13 306 500</strong></p>
    </td>
    <td style="text-align: center;" width="12%"><strong>6 653 250</strong></td>
    <td style="text-align: center;" width="12%"><strong>6 653 250</strong></td>
    <td style="text-align: center;" width="13%"><strong>7 091 940</strong></td>
    <td style="text-align: center;" width="13%"><strong>3 545 970</strong></td>
    <td width="13%">
    <p style="text-align: center;"><strong>3 545 970</strong></p>
    </td>
    </tr>
    <tr>
    <td width="21%">– Xizmatlar sohasi (faoliyat turlari va yo‘nalishlari bo‘yicha)</td>
    <td width="12%">
    <p style="text-align: center;"><strong>13 306 500</strong></p>
    </td>
    <td style="text-align: center;" width="12%"><strong>6 653 250</strong></td>
    <td style="text-align: center;" width="12%"><strong>6 653 250</strong></td>
    <td style="text-align: center;" width="13%"><strong>7 091 940</strong></td>
    <td style="text-align: center;" width="13%"><strong>3 545 970</strong></td>
    <td width="13%">
    <p style="text-align: center;"><strong>3 545 970</strong></p>
    </td>
    </tr>
    <tr>
    <td width="21%">&nbsp;– Menejment <em>(tarmoqlar va sohalar bo‘yicha)</em></td>
    <td rowspan="2" width="12%">
    <p style="text-align: center;"><strong>15 344 490</strong></p>
    </td>
    <td style="text-align: center;" rowspan="2" width="12%"><strong>7 672 245</strong></td>
    <td style="text-align: center;" rowspan="2" width="12%"><strong>7 672 245</strong></td>
    <td style="text-align: center;" rowspan="2" width="13%"><strong>9 129 930</strong></td>
    <td style="text-align: center;" rowspan="2" width="13%"><strong>4 564 965</strong></td>
    <td rowspan="2" width="13%">
    <p style="text-align: center;"><strong>4 564 965</strong></p>
    </td>
    </tr>
    <tr>
    <td width="21%">&nbsp;– Buxgalteriya hisobi va audit (tarmoqlar bo‘yicha)</td>
    </tr>
    </tbody>
    </table>
    <p>O‘zbekiston Respublikasi Prezidentining farmonlariga muvofiq o‘quv yili davomida stipendiya miqdori oshirilganda, bir talabani stipendiyali o‘qitish qiymati miqdori stipendiyaning&nbsp; yangi miqdoridan kelib chiqib, o‘quv yili oxirigacha oshiriladi.</p>
    <p>Oliy ta’lim muassasalarining kunduzgi ta’lim shaklida tahsil olib (bakalavriat va magistratura), <strong>2021- yil 1-noyabrga qadar </strong>koronavirus infeksiyasiga qarshi emlangan (vaksina olgan) talabalarga 2021/2022 o‘quv yili uchun bakalavriat ta’lim yo‘nalishlari (magistratura mutaxassisliklari) bo‘yicha belgilangan stipendiyasiz bazaviy to‘lov-kontrakt miqdorlari 10 foiz chegirma beriladi.</p>
    <p>&nbsp;</p>
    <p style="text-align: center;"><strong>2021/2022 o‘quv yili uchun Jizzax politexnika instituti magistratura mutaxassisliklari bo‘yicha bitta talabani bir yillik o‘qitish</strong></p>
    <p style="text-align: center;"><strong>MIQDORLARI</strong></p>
    <table class="table table-bordered" width="100%">
    <tbody>
    <tr>
    <td width="23%"><strong>MUTAXASSISLIKLAR</strong></td>
    <td width="12%">Magistratura kunduzgi (<em>Stipendiyali to‘lov – kontrakt miqdori</em>)<strong> Yillik</strong></td>
    <td width="12%">Magistratura kunduzgi (<em>Stipendiyali to‘lov – kontrakt miqdori</em>)<strong><br>
    1-yarim yillik </strong></td>
    <td width="12%">Magistratura kunduzgi (Stipendiyali to‘lov – kontrakt miqdori)<br>
    <strong>2- yarim yillik</strong></td>
    <td width="13%">Magistratura kunduzgi (<em>Stipendiyasiz to‘lov – kontrakt miqdori</em>)</td>
    <td width="13%">Magistratura kunduzgi (<em>Stipendiyasiz to‘lov – kontrakt miqdori</em>)<strong><br>
    1-yarim yillik </strong></td>
    <td width="13%">Magistratura kunduzgi (Stipendiyasiz to‘lov – kontrakt miqdori)<br>
    <strong>2- yarim yillik</strong></td>
    </tr>
    <tr>
    <td width="23%">&nbsp;– Menejment</td>
    <td width="12%"><strong>16 703 150</strong></td>
    <td width="12%"><strong>8 351 575</strong></td>
    <td width="12%"><strong>8 351 575</strong></td>
    <td width="13%"><strong>10 488 590</strong></td>
    <td width="13%"><strong>5 244 295</strong></td>
    <td width="13%"><strong>5 244 295</strong></td>
    </tr>
    <tr>
    <td width="23%">&nbsp;– Yer usti transport vositalari va tizimlari <em>(transport turlari bo‘yicha)</em></td>
    <td rowspan="9" width="12%"><strong>13 985 830</strong></td>
    <td rowspan="9" width="12%"><strong>6 992 915</strong></td>
    <td rowspan="9" width="12%"><strong>6 992 915</strong></td>
    <td rowspan="9" width="13%"><strong>7 771 270</strong></td>
    <td rowspan="9" width="13%"><strong>3 885 635</strong></td>
    <td rowspan="9" width="13%"><strong>3 885 635</strong></td>
    </tr>
    <tr>
    <td width="23%">&nbsp;– Avtomobillar va avtomobil xo‘jaligi</td>
    </tr>
    <tr>
    <td width="23%">&nbsp;– Materiallar kimyoviy qarshiligi va zanglashdan himoyalash</td>
    </tr>
    <tr>
    <td width="23%">&nbsp;– Intellektual transport tizimlari</td>
    </tr>
    <tr>
    <td width="23%">– Metrologiya, standartlashtirish va sifatni boshqarish <em>(tarmoqlar bo‘yicha)</em></td>
    </tr>
    <tr>
    <td width="23%">&nbsp;– Energiya tejamkorligi va energoaudit <em>(tarmoqlar bo‘yicha)</em></td>
    </tr>
    <tr>
    <td width="23%">&nbsp;– To‘qimachilik mahsulotlari texnologiyasi (mahsulot turlari bo‘yicha)</td>
    </tr>
    <tr>
    <td width="23%">&nbsp;&nbsp;&nbsp; Paxtani dastlabki ishlash va urug‘ tayyorlash&nbsp;&nbsp; texnologiyasi</td>
    </tr>
    <tr>
    <td width="23%">&nbsp;– Qishloq xo‘jalik maxsulotlarini saqlash va dastlabki ishlash texnologiyasi(maxsulot turlari bo‘yicha)</td>
    </tr>
    <tr>
    <td width="23%">&nbsp;– Bino va inshootlar qurilishi <em>(inshootlar turlari bo‘yicha)</em>,</td>
    <td rowspan="4" width="12%"><strong>14 665 160</strong></td>
    <td rowspan="4" width="12%"><strong>7 332 580</strong></td>
    <td rowspan="4" width="12%"><strong>7 332 580</strong></td>
    <td rowspan="4" width="13%"><strong>8 450 600</strong></td>
    <td rowspan="4" width="13%"><strong>4 225 300</strong></td>
    <td rowspan="4" width="13%"><strong>4 225 300</strong></td>
    </tr>
    <tr>
    <td width="23%">&nbsp;– Qurilish materiallari, buyumlari, konstruksiyalari va ularni ishlab chiqarish texnologiyalari</td>
    </tr>
    <tr>
    <td width="23%">&nbsp;– Avtomobil yo‘llari va aerodromlar <em>(turlari bo‘yicha)</em></td>
    </tr>
    <tr>
    <td width="23%"><em>&nbsp;– </em>Transport inshootlarining ekspluatatsiyasi (transport inshootlari<em> turlari bo‘yicha)</em></td>
    </tr>
    </tbody>
    </table>
    <p style="text-align: left;">O‘zbekiston Respublikasi Prezidentining farmonlariga muvofiq o‘quv yili davomida stipendiya miqdori oshirilganda, bir talabani stipendiyali o‘qitish qiymati miqdori stipendiyaning&nbsp; yangi miqdoridan kelib chiqib, o‘quv yili oxirigacha oshiriladi.</p>
    <p>Oliy ta’lim muassasalarining kunduzgi ta’lim shaklida tahsil olib (bakalavriat va magistratura), <strong>2021- </strong><strong>yil</strong><strong> 1-</strong><strong>noyabrga</strong> <strong>qadar</strong> koronavirus infeksiyasiga qarshi emlangan (vaksina olgan) talabalarga 2021/2022 o‘quv yili uchun bakalavriat ta’lim yo‘nalishlari (magistratura mutaxassisliklari) bo‘yicha belgilangan stipendiyasiz bazaviy to‘lov-kontrakt miqdorlari 10 foiz chegirma beriladi.</p>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>



                
            </div>
        </div>
    </div>
</div>



{% endblock content %}