{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Xalqaro Faoliyat</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "faoliyat/xalqaro-faoliyat/__xalqaro-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <a href="{% url "pageXF1" %}" class="btn">Xalqaro hamkorlik aloqalari</a>
                <a href="{% url "pageXF2" %}" class="btn">Xorijiy malaka oshirish va ta’lim</a>
                <a href="{% url "pageXF3" %}" class="btn">Xalqaro konferensiyalar</a>
                <a href="{% url "pageXF4" %}" class="btn">Xalqaro loyihalar va grantlar</a>
                <a href="{% url "pageXF5" %}" class="btn">Chet ellik talabalar uchun</a>
                <a href="{% url "pageXF6" %}" class="btn">Kontaktlar</a>
             
            </div>
        </div>
    </div>
</div>



{% endblock content %}