<div class="card-box_left">
    <a href="{% url "pageSirtqi1" %}" class="btn">Abiturientga eslatma</a>
    <a href="{% url "pageSirtqi2" %}" class="btn">Qabul nizomlari</a>
    <a href="{% url "pageSirtqi3" %}" class="btn">Qabul kvotasi</a>
    <a href="{% url "pageSirtqi4" %}" class="btn">Hujjatlar to’plami</a>
    <a href="{% url "pageSirtqi5" %}" class="btn">Besh yil stajga ega bo’lganlar tavsiyanoma asosida o’qishga qabul qilinish</a>
    <a href="{% url "pageSirtqi6" %}" class="btn">Biz bilan bog’lanish</a>
    {% comment %} <a href="{% url "pageSirtqi7" %}" class="btn">Qabul komissiyasi</a>
    <a href="{% url "pageSirtqi8" %}" class="btn">O‘tish ballari 2023/2024</a> {% endcomment %}
</div>







