{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>SIRTQI TA’LIM</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/sirtqi/__sirtqi-copy.html" %}

        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
             
                <div class="col-">
                    <main id="content" class="content-style">
                                                <article id="post-3543" class="post-3543 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Qabul kvotasi</h1>                             </div>
                                <div class="entry-content">
                                                                    <table class="table table-bordered" width="100%">
    <tbody>
    <tr>
    <td style="text-align: center;" colspan="6" width="748"><strong>2023/2024 ўқув&nbsp; йилида</strong><br>
    <strong> Жиззах политехника институти&nbsp;</strong><strong>бакалавриатининг сиртқи таълим шакли бўйича давлат буюртмаси асосида ўқишга қабул қилиш</strong><strong>параметрларининг таълим йўналишлари ва ўқитиш тиллари бўйича тақсимланиши</strong></td>
    </tr>
    <tr>
    <td style="text-align: center;" rowspan="3" width="42">№*</td>
    <td style="text-align: center;" rowspan="3" width="85">Шифр</td>
    <td style="text-align: center;" rowspan="3" width="396">Таълим йўналишлари</td>
    <td style="text-align: center;" colspan="3" width="225">Тўлов-контракт асосида</td>
    </tr>
    <tr>
    <td rowspan="2" width="75">Жами</td>
    <td colspan="2" width="150">шу жумладан:</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="75">ўзбек</td>
    <td style="text-align: center;" width="75">рус</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="42"></td>
    <td style="text-align: center;" width="85"></td>
    <td style="text-align: center;" width="396">Жиззах политехника институти</td>
    <td style="text-align: center;" width="75"><strong>875</strong></td>
    <td style="text-align: center;" width="75"><strong>875</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    {% comment %} <td width="42"></td>
    <td colspan="2" width="481">шу жумладан, таълим йўналишлари бўйича</td>
    <td width="75"></td>
    <td width="75"></td>
    <td width="75"></td> {% endcomment %}
    </tr>
    <tr>
    <td width="42">1</td>
    <td width="85">60410100</td>
    <td width="396">Иқтисодиёт</td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">2</td>
    <td width="85">60410200</td>
    <td width="396">Бухгалтерия ҳисоби  </td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">3</td>
    <td width="85">60410800</td>
    <td width="396">Менежмент</td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">4</td>
    <td width="85">60520200</td>
    <td width="396">Экология ва атроф-муҳит муҳофазаси</td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">5</td>
    <td width="85">60610300</td>
    <td width="396">Компьютер инжиниринги</td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">6</td>
    <td width="85">60610900</td>
    <td width="396">Радиоэлектрон қурилмалар ва тизимлар</td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">7</td>
    <td width="85">60710100</td>
    <td width="396">Кимё муҳандислиги</td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">8</td>
    <td width="85">60710400</td>
    <td width="396">Энергетика муҳандислиги </td>
    <td style="text-align: center;" width="75"><strong>50</strong></td>
    <td style="text-align: center;" width="75"><strong>50</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">9</td>
    <td width="85">60710500</td>
    <td width="396">Электр муҳандислиги</td>
    <td style="text-align: center;" width="75"><strong>50</strong></td>
    <td style="text-align: center;" width="75"><strong>50</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">10</td>
    <td width="85">60710700</td>
    <td width="396">Электроника ва асбобсозлик</td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">11</td>
    <td width="85">60710800</td>
    <td width="396">Метрология ва стандартлаштириш</td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">12</td>
    <td width="85">60711200</td>
    <td width="396">Металлургия муҳандислиги</td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">13</td>
    <td width="85">60711400</td>
    <td width="396">Транспорт воситалари муҳандислиги</td>
    <td style="text-align: center;" width="75"><strong>50</strong></td>
    <td style="text-align: center;" width="75"><strong>50</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">14</td>
    <td width="85">60712100</td>
    <td width="396">Қайта тикланувчи энергия манбаалари</td>
    <td style="text-align: center;" width="75">25</td>
    <td style="text-align: center;" width="75">25</td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">15</td>
    <td width="85">60720100</td>
    <td width="396">Озиқ-овқат технологияси</td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">16</td>
    <td width="85">60720400</td>
    <td width="396">Технологик машиналар ва жиҳозлар</td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
        <td width="42">17</td>
        <td width="85">60720700</td>
        <td width="396">Енгил саноат муҳандислиги</td>
        <td style="text-align: center;" width="75"><strong>75</strong></td>
        <td style="text-align: center;" width="75"><strong>75</strong></td>
        <td width="75"></td>
    </tr>
    <tr>
        <td width="42">18</td>
        <td width="85">60730300</td>
        <td width="396">Қурилиш муҳандислиги</td>
        <td style="text-align: center;" width="75"><strong>125</strong></td>
        <td style="text-align: center;" width="75"><strong>125</strong></td>
        <td width="75"></td>
    </tr>
    <tr>
        <td width="42">19</td>
        <td width="85">60720400</td>
        <td width="396">Муҳандислик коммуникациялари қурилиш ва эксплуатацияси</td>
        <td style="text-align: center;" width="75"><strong>25</strong></td>
        <td style="text-align: center;" width="75"><strong>25</strong></td>
        <td width="75"></td>
    </tr>
    <tr>
        <td width="42">20</td>
        <td width="85">60730500</td>
        <td width="396">Йўл муҳандислиги</td>
        <td style="text-align: center;" width="75"><strong>50</strong></td>
        <td style="text-align: center;" width="75"><strong>50</strong></td>
        <td width="75"></td>
    </tr>
    <tr>
        <td width="42">21</td>
        <td width="85">60810100</td>
        <td width="396">Қишлоқ хўжалигини механизациялаштириш</td>
        <td style="text-align: center;" width="75"><strong>50</strong></td>
        <td style="text-align: center;" width="75"><strong>50</strong></td>
        <td width="75"></td>
    </tr>
    <tr>
        <td width="42">22</td>
        <td width="85">60810700</td>
        <td width="396">Қишлоқ хўжалик маҳсулотларини сақлаш ва қайта ишлаш технологияси</td>
        <td style="text-align: center;" width="75"><strong>25</strong></td>
        <td style="text-align: center;" width="75"><strong>25</strong></td>
        <td width="75"></td>
    </tr>
    <tr>
        <td width="42">23</td>
        <td width="85">61010400</td>
        <td width="396">Логистика</td>
        <td style="text-align: center;" width="75"><strong>50</strong></td>
        <td style="text-align: center;" width="75"><strong>50</strong></td>
        <td width="75"></td>
    </tr>
    </tbody>
    </table>
                                    <div class="entry-links">
                                        <a href="../../../static/upload/Qabul-2024 kvotasi.pdf" class="a-link">Qabul kuvotasini  yuklab olish</a>
                                        <a href="../../../static/upload/farmon.pdf" class="a-link">Prezident farmoni  yuklab olish</a>
                                        <a href="../../../static/upload/blanka.pdf" class="a-link">2024 Test uchun topshiriq blankasi  yuklab olish</a>
                                    </div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}