{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>SIRTQI TA’LIM</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/sirtqi/__sirtqi-copy.html" %}

        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
             
                <div class="col-">
                    <main id="content" class="content-style">
                                                <article id="post-3543" class="post-3543 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Qabul kvotasi</h1>                             </div>
                                <div class="entry-content">
                                                                    <table class="table table-bordered" width="100%">
    <tbody>
    <tr>
    <td style="text-align: center;" colspan="6" width="748"><strong>2023/2024 ўқув&nbsp; йилида</strong><br>
    <strong> Жиззах политехника институти&nbsp;</strong><strong>бакалавриатининг сиртқи таълим шакли бўйича давлат буюртмаси асосида ўқишга қабул қилиш</strong><strong>параметрларининг таълим йўналишлари ва ўқитиш тиллари бўйича тақсимланиши</strong></td>
    </tr>
    <tr>
    <td style="text-align: center;" rowspan="3" width="42">№*</td>
    <td style="text-align: center;" rowspan="3" width="85">Шифр</td>
    <td style="text-align: center;" rowspan="3" width="396">Таълим йўналишлари</td>
    <td style="text-align: center;" colspan="3" width="225">Тўлов-контракт асосида</td>
    </tr>
    <tr>
    <td rowspan="2" width="75">Жами</td>
    <td colspan="2" width="150">шу жумладан:</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="75">ўзбек</td>
    <td style="text-align: center;" width="75">рус</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="42"></td>
    <td style="text-align: center;" width="85">16</td>
    <td style="text-align: center;" width="396">Жиззах политехника институти</td>
    <td style="text-align: center;" width="75"><strong>550</strong></td>
    <td style="text-align: center;" width="75"><strong>550</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42"></td>
    <td colspan="2" width="481">шу жумладан, таълим йўналишлари бўйича</td>
    <td width="75"></td>
    <td width="75"></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">1</td>
    <td width="85">60411200</td>
    <td width="396">Менежмент (тармоқлар ва соҳалар бўйича)</td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">2</td>
    <td width="85">60710100</td>
    <td width="396">Кимёвий технология (ишлаб чиқариш турлари бўйича)</td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">3</td>
    <td width="85">60710600</td>
    <td width="396">Электр энергетикаси (тармоқлар ва йўналишлар бўйича)</td>
    <td style="text-align: center;" width="75"><strong>50</strong></td>
    <td style="text-align: center;" width="75"><strong>50</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">4</td>
    <td width="85">60710700</td>
    <td width="396">Электр техникаси, электр механикаси ва электр технологиялари (тармоқлар бўйича)</td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">5</td>
    <td width="85">60711300</td>
    <td width="396">Метрология, стандартлаштириш ва маҳсулот сифати менежменти (тармоқлар бўйича)</td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">6</td>
    <td width="85">60712500</td>
    <td width="396">Транспорт воситалари муҳандислиги (турлари бўйича)</td>
    <td style="text-align: center;" width="75"><strong>50</strong></td>
    <td style="text-align: center;" width="75"><strong>50</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">7</td>
    <td width="85">60720100</td>
    <td width="396">Озиқ-овқат технологияси (маҳсулот турлари бўйича)</td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">8</td>
    <td width="85">60721200</td>
    <td width="396">Енгил саноат буюмлари конструкциясини ишлаш ва технологияси (ишлаб чиқариш турлари бўйича)</td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">9</td>
    <td width="85">60721300</td>
    <td width="396">Табиий толаларни дастлабки ишлаш технологияси (хом ашё ва жараён турлари бўйича)</td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">10</td>
    <td width="85">60730300</td>
    <td width="396">Қурилиш муҳандислиги: бино ва иншоотлар қурилиши</td>
    <td style="text-align: center;" width="75"><strong>50</strong></td>
    <td style="text-align: center;" width="75"><strong>50</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">11</td>
    <td width="85">60730400</td>
    <td width="396">Муҳандислик коммуникациялари қурилиш ва монтажи (турлари бўйича)</td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">12</td>
    <td width="85">60730300</td>
    <td width="396">Қурилиш муҳандислиги: деворбоп ва пардозбоп қурилиш материаллари технологияси</td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">13</td>
    <td width="85">60730300</td>
    <td width="396">Қурилиш муҳандислиги: қурилиш материаллари, буюмлари ва конструкцияларини ишлаб чиқариш</td>
    <td style="text-align: center;" width="75"><strong>75</strong></td>
    <td style="text-align: center;" width="75"><strong>75</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">14</td>
    <td width="85">60730800</td>
    <td width="396">Йўл муҳандислиги (соҳалар ва фаолият турлари бўйича)</td>
    <td style="text-align: center;" width="75">25</td>
    <td style="text-align: center;" width="75">25</td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">15</td>
    <td width="85">60810100</td>
    <td width="396">Қишлоқ хўжалигини механизациялаштириш</td>
    <td style="text-align: center;" width="75"><strong>50</strong></td>
    <td style="text-align: center;" width="75"><strong>50</strong></td>
    <td width="75"></td>
    </tr>
    <tr>
    <td width="42">16</td>
    <td width="85">61040100</td>
    <td width="396">Транспорт логистикаси (транспорт турлари бўйича)</td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td style="text-align: center;" width="75"><strong>25</strong></td>
    <td width="75"></td>
    </tr>
    </tbody>
    </table>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}