{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>SIRTQI TA’LIM</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/sirtqi/__sirtqi-copy.html" %}

        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col">
                    <main id="content" class="content-style">
                        <article id="post-3594" class="post-3594 page type-page status-publish hentry">
                        <div class=""><h1 class="entry-title">Biz bilan bog’lanish</h1></div>
                                <div class="entry-content">
                                <div class="row">
    <div>
    <p>&nbsp;</p>
    {% comment %} <table width="690">
    <tbody>
    <tr>
    <td colspan="5" width="690">
    <p style="text-align: center;"><strong>МАГСТРАТУРА бўйича</strong> <strong>мурожаатларга</strong> <strong>маъсул</strong></p>
    </td>
    </tr>
    <tr>
    <td width="52">
    <p style="text-align: center;"><strong>№</strong></p>
    </td>
    <td style="text-align: center;" width="239"><strong>Ходимнинг Ф.И.Ш.</strong></td>
    <td style="text-align: center;" width="121"><strong>Лавозими</strong></td>
    <td style="text-align: center;" width="146"><strong>Бириктирилган телефон рақами</strong></td>
    <td width="133">
    <p style="text-align: center;"><strong>Уяли телефон рақами</strong></p>
    </td>
    </tr>
    <tr>
    <td width="52">1</td>
    <td width="239">Ибрагимов Жахонгир Кўчимович</td>
    <td width="121">Магистратура бўлими бошлиғи</td>
    <td width="146">72-226-49-82</td>
    <td width="133">93-292-56-44</td>
    </tr>
    </tbody>
    </table> {% endcomment %}
    </div>
    <div></div>
    <div class="col-md-4"><b>Manzil:</b><br>
    O’zbekiston Respublikasi<br>
    Jizzax viloyati Jizzax shaxri<br>
    Islom Karimov ko’chasi 4 uy.<br>
    Indeks 130100</div>
    <div></div>
    <div class="col-md-4"><b>E-mail:</b><br>
    <a href="mailto:dgpi_info@edu.uz" class="a-link">dgpi_info@edu.uz</a></div>
    <div></div>
    <div class="col-md-4"><b>Telefonlar:</b><br>
    +99 (872) 2264605<br>
    +99 (872) 2264506</div>
    <div></div>
    <div class="col-md-4"><b>Fax:</b><br>
    +99 (872) 2264605</div>
    </div>
    <div></div>
    <div></div>
    <p><b>Ishonch telefonlar:</b><br>
    +99 (872) 2265700<br>
    +99 (872) 2265701<br>
    +99 (872) 2265711<br>
    +99 (872) 2265703<br>
    +99 (872) 2265477<br>
    +99 (872) 2261720<br>
    <img class="aligncenter" src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3A24d6d07c29f730f42d6c0e4dee104bed9f557784dbcce18ce9aa91bfd147c2c6&amp;width=600&amp;height=400&amp;lang=ru_RU"></p>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
                  
            </div>
        </div>
    </div>
</div>



{% endblock content %}