{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>SIRTQI TA’LIM</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/sirtqi/__sirtqi-copy.html" %}

        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col">
                    <main id="content" class="content-style">
                                                <article id="post-13035" class="post-13035 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Besh yil stajga ega bo’lganlar tavsiyanoma asosida o’qishga qabul qilinish</h1>                             </div>
                                <div class="entry-content">
                                                                    <p align="justify"><strong>Iqtisodiyot tarmoqlarida kamida besh yil ish stajiga ega bo‘lgan fuqarolarni sirtqi&nbsp; ta’lim shakliga suhbat natijalariga ko‘ra tabaqalashtirilgan to‘lov-kontrakt asosida o‘qishga qabul qilish tartibi</strong></p>
    <p align="justify">O‘zbekiston Respublikasi ta’lim muassasalariga o‘qishga qabul qilish bo‘yicha&nbsp;<strong>Davlat komissiyasi majlisining 2019 yil 4 iyuldagi 1-son bayoni</strong>&nbsp;bilan iqtisodiyot tarmoqlarida kamida besh yil ish stajiga ega bo‘lgan fuqarolarni sirtqi va kechki ta’lim shakliga suhbat natijalariga ko‘ra tabaqalashtirilgan to‘lov-kontrakt asosida o‘qishga qabul qilish&nbsp;<strong>TARTIBI&nbsp;</strong>tasdiqlangan.</p>
    <p align="justify">Vazirlik, idora va yirik xo‘jalik birlashmasi tizimida asosiy ish joyi sifatida besh yildan kam bo‘lmagan muddatda faoliyat yuritayotgan xodimlarga (texnik xodimlar bundan mustasno) ushbu vazirlik, idora va yirik xo‘jalik birlashmasining asosiy faoliyatidan kelib chiqib, tavsiyanoma berish shaxsan birinchi rahbar tomonidan amalga oshirilishi belgilan.</p>
    <p align="justify">Suhbat natijalariga ko‘ra sirtqi va kechki ta’lim shakliga o‘qishga tavsiya etilgan, talabgorning o‘qishi (sirtqi ta’lim shakli uchun 5 yil, kechki ta’lim shakli uchun 4 yil) uchun to‘lov-shartnoma mablag‘lari ishlab turgan tashkilot (vazirlik, idora yoki yirik xo‘jalik birlashmasi) tomonidan belgilangan muddatlarda to‘lab berilishi ta’minlanadi.</p>
    <p align="justify">Tavsiyanoma olgan talabgorlar&nbsp;<strong>Davlat test markazi (DTM)</strong>ning veb-sayti orqali onlayn ro‘yxatdan o‘tadi.</p>
    <p align="justify">Vazirlik, idora yoki yirik xo‘jalik birlashmalari tavsiyanoma bergan talabgorlar haqidagi ma’lumotlar bazasi&nbsp;<strong>Davlat test markazi (DTM)</strong>ning maxsus dasturiga integratsiya qilib borilishi belgilangan.</p>
    <p align="justify">Tavsiyanomalar belgilangan tartibda&nbsp;<strong>adolatli va shaffof</strong>&nbsp;berilishi yuzasidan mas’uliyat vazirlik, idora yoki yirik xo‘jalik birlashmaning birinchi&nbsp;<strong>rahbarlari zimmasiga yuklatilgan.</strong></p>
    <p>&nbsp;</p>
    <p align="justify"><strong>Ikkinchi va undan keyingi ta’lim olish uchun abituriyentlarni o‘qishga qabul qilish tartibi</strong></p>
    <p align="justify">O‘zbekiston Respublikasi ta’lim muassasalariga o‘qishga qabul qilish bo‘yicha Davlat komissiyasi majlisining 2008 yil 13 avgustdagi 15-son bayoni bilan (O‘zbekiston Respublikasi Adliya vazirligi tomonidan 2008-yil 21-avgustda 1844-son bilan davlat ro‘yxatidan o‘tkazilgan) O‘zbekiston Respublikasi ta’lim muassasalarida ikkinchi va undan keyingi ta’limni olish tartibi to‘g‘risida NIZOM tasdiqlangan.</p>
    <p align="justify">Ushbu Nizomga asosan ikkinchi va undan keyingi oliy ma’lumot bo‘yicha o‘qitish to‘lov-kontrakt (shartnoma) asosida amalga oshiriladi.</p>
    <p>Oliy ma’lumotga ega bo‘lgan shaxslar quyidagi ikkinchi va undan keyingi oliy ma’lumotni olishlari mumkin:</p>
    <ul>
    <li>bakalavr va diplomli mutaxassis darajasiga ega bo‘lgan shaxslar – bakalavriat ta’lim yo‘nalishlari bo‘yicha;</li>
    <li>magistr darajasiga ega bo‘lgan shaxslar – bakalavriat ta’lim yo‘nalishlari va turdosh magistratura mutaxassisliklari bo‘yicha.</li>
    </ul>
    <p align="justify">Ikkinchi va undan keyingi oliy ma’lumot olish bo‘yicha kadrlar tayyorlash huquqiga ega ta’lim muassasalari ro‘yxati hamda oliy ta’lim muassasalarida ularning qabul ko‘rsatkichlari O‘zbekiston Respublikasi ta’lim muassasalariga qabul qilish bo‘yicha Davlat komissiyasi tomonidan belgilanadi.</p>
    <p align="justify"><strong>Joriy o‘quv yili uchun Ikkinchi va undan keyingi oliy ma’lumot olish uchun abiturientlar hujjatlar qabul qilish Oliy va o‘rta maxsus ta’lim vazirligining&nbsp;</strong><a href="tg://unsafe_url?url=http%3A%2F%2Fikkinchitalim.edu.uz%2F" class="a-link"><strong>ikkinchitalim.edu.uz</strong></a><strong>&nbsp;– onlayn platformasi orqali&nbsp; amalga oshiriladi.</strong></p>
    <p align="justify">Ta’lim muassasasining qabul komissiyasi kiruvchilarning bilim darajasini baholash maqsadida shakli va tartibi O‘zbekiston Respublikasi Oliy va o‘rta maxsus ta’lim vazirligi bilan kelishiladigan sinovlar o‘tkazish huquqiga ega.</p>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
                  
            </div>
        </div>
    </div>
</div>



{% endblock content %}