{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>SIRTQI TA’LIM</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/sirtqi/__sirtqi-copy.html" %}

        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_riht">
                <div class="col">
                    <main id="content" class="content-style">
                                                <article id="post-3562" class="post-3562 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Hujjatlar to’plami</h1>                             </div>
                                <div class="entry-content">
                                                                    <p style="text-align: center;"><span style="color: #0000ff;"><strong>HUJJATLAR&nbsp;&nbsp; TO’PLAMI</strong></span></p>
    <p>O‘zbekiston Respublikasi ta’lim muassasalariga qabul qilish bo‘yicha Davlat komissiyasi tomonidan tasdiqlangan 2021 yil test sinovlari qaydnomasiga muvofiq talabalar safiga qabul qilish uchun tavsiya etilganlar institutga taqdim etishi kerak bo‘lgan hujjatlar ro‘yxati:</p>
    <ol>
    <li>Rektor nomiga ariza;</li>
    <li>Pasport nusxasi 6 dona (asli ko‘rsatilgan holda);</li>
    <li>Diplom yoki attestat (ilovasi bilan birga) asl nusxasi;</li>
    <li>Til bilish darajasini tasdiqlovchi sertifikat asli; (agar bo‘lsa)</li>
    <li>3,5×4,5 foto 12 dona;</li>
    <li>Hujjatlar yig‘ma jildi (ipli papka);</li>
    <li>Konvert A5 formatida;</li>
    <li>Ish joyidan ma’lumotnoma (agar ishlasa)</li>
    <li>Imtiyoz asosida talabalikka tavsiya etilganlar uchun (imtiyoz beruvchi hujjatning asli, agar bo‘lsa).</li>
    </ol>
    <p>&nbsp;</p>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
                  
            </div>
        </div>
    </div>
</div>



{% endblock content %}