{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Bayroq</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="col mt-4">
            <h4>O’zbekiston Respublikasi davlat bayrog'i</h4>

            <img src="{% static "Photos/icons/flag.png" %}" width="400" class="m-4">

            <p>O`zbekiston Respublikаsining Dаvlаt bаyrog`i O`zbekiston Respublikаsi dаvlаt suverenitetining rаmzidir.

                Davlat bayrog‘i O‘zbekiston Respublikasining 1991 yil 18 noyabrdagi 407-XII-sonli «O‘zbekiston Respublikasining Davlat bayrog‘i to‘g‘risida»gi Qonuni bilan tasdiqlangan.
                
                O‘zbekiston Respublikasining Davlat bayrog‘i — bayroqning butun uzunligi bo‘ylab o‘tgan to‘q moviy rang, oq rang va to‘q yashil rangli uchta endan tarkib topgan to‘g‘ri to‘rtburchak shaklidagi matodir.
                
                O‘zbekiston Respublikasi Davlat bayrog‘ining uzunligi 250 santimetrga, kengligi 125 santimetrga teng. Moviy rang, oq rang va yashil rangli enlarning kengligi bir xil. Har bir en 40 santimetrga tengdir. O‘zbekiston Respublikasi Davlat bayrog‘ining o‘rtasidagi oq rangli enning chetlaridan kengligi 2,5 santimetrga teng qizil hoshiyalar o‘tkazilgan.
                
                O‘zbekiston Respublikasi Davlat bayrog‘ining yuqori qismidagi moviy rangli enning yuz tomoni va orqa tomonida dastaga yaqin joyida oq rangli yangi oy va uning yonida o‘n ikkita oq rangdagi besh qirrali yulduz tasvirlangan.
                
                Oq rangli yangi oy va o‘n ikkita oq rangli besh qirrali yulduzning tasviri moviy rangli yuqori enning o‘rtasidan 70×30 santimetrga teng to‘g‘ri to‘rtburchakka sig‘adigan qilib joylashtirilgan.
                
                Oq rangli yangi oy vertikal holatda do‘ng tomoni dastaga qaratilgan, dastadan 20 santimetr masofada joylashtirilgan bo‘lib, diametri 30 santimetrli doiraga sig‘adi.
                
                O‘n ikkita oq rangli besh qirrali yulduz diametri 6 santimetrli doiraga sig‘adi. Doiralar orasidagi masofa 6 santimetr. Yulduzlar uzunasiga va tikkasiga quyidagi tartibda joylashadi: yuqori qatorda uchta, o‘rta qatorda to‘rtta va quyi qatorda beshta yulduz. Quyi qatordagi yulduzlar yangi oyning pastki uchidan 3,5 santimetr masofada joylashadi.</p>
            
        </div>
    </div>
</div>



{% endblock content %}