<a href="{% url "pageM1" %}" class="btn">Raqamli ta’lim texnologiyalari markazi</a>
<a href="{% url "pageM2" %}" class="btn">Axborot-resurs markazi</a>
{% comment %} <a href="{% url "pageM3" %}" class="btn">Arxitektor-loyihachilar va quruvchilarni qayta tayyorlash va malakasini oshirish mintaqaviy markazi</a>
<a href="{% url "pageM4" %}" class="btn">O’zbekiston yoshlar ittifoqi</a>
<a href="{% url "pageM5" %}" class="btn">Texnologiyalar va innovatsiyalarni qo‘llab-quvvatlash markazi</a>
<a href="{% url "pageM6" %}" class="btn">Inkubatsiya markazi</a> {% endcomment %}