{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Rektorat</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/markazlar/markaz-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/iconmen.png" %}">
                </div>
                <div class="right">
                    <p>Axborot resurs markazi direktori</p>
                    <p><b>Uralov Shuxrat Qo’chqarovich</b></p>
                    <p><b>Qabul vaqti:</b> dushanba, chorshanba va juma, soat 14:00 dan 16:00 gacha.</p>
                    <p><b>Telefon:</b> +998933010114</p>
                    <p><a href=" jizpiarm@inbox.uz" class="poshta" ><b> E-mail: </b> jizpiarm@inbox.uz</a> </p>
                </div>
            </div>
            <p>
                Axborot resurs markazi – ARM (2006 yil 23 iyungacha institut kutubxonasi) 1977 yilda tashkil etilgan. ARM fondi Toshkent, Moskva, Kiyev shaharlaridagi institutlar tomonidan yuborilgan ijtimoiy, fizika, matematika, va ximiya fanlari bo’yicha bir necha yuzlab kitoblardan iborat bo’lgan.

Hozirgi kunda ARM yagona kitobxonlik guvohnomasi bilan 5620 ming kitobxonga va elektron manbalardan foydalanuvchilarga hizmat ko’rsatmoqda. Kitobxonlar orasida universitet talabalari, professor-o’qituvchilar tarkibi, xodimlari, aspirantlaridan tashqari boshqa oliy o’quv yurtlari talabalari va o’qituvchilari, malaka oshirish kursi tinglovchilari, telekommunikatsiya sohasidagi korxona xodimlari ham mavjud. ARM abonement tizimi orqali kitoblarni uyda, hamda qiroatxonalarda foydalanishning keng imkoniyatini yaratadi. ARM an’anaviy, ya’ni qog’ozda tashuvchi va elektron ma’lumotlardan iborat.

Kutubxona fondi bugungi kunda 199 894 nusxa atrofida bo’lgan kitoblar, broshyuralar, jurnallar, disket va CD-ROMlar tashkil etadi. Fondning 61% o’quv adabiyotlar, 32% – ilmiy, 5% – badiiy, qolganlari – boshqa adabiyotlar tashkil etadi. Yil mobaynida kutubxona  mingdan ortiq kitob sotib oladi, ko’plab jurnallar va gazetalarga obuna bo’ladi.

Kutubxona kitobxonlar bilan turli xil ishlar va metodlar olib boradi:

– oyda ikki marta Kafedra kunlari uyushtiriladi;

– mavzuli kitobli-illyustrativli, hamda yangi adabiyotlar ko’rgazmalari o’tkaziladi;

– har doim yangi kelgan adabiyotlarga byulettenlar ochiladi;

Bizning kitobxonlarga: kutubxonaning kitob fondiga an’anaviy kitobxon katalogi (tizimli va alfavitli), aloqa bo’yicha maqolalarning tizimli kartotekalari, Respublikaning hozirgi hayotiga doir aktual savollar bo’yicha mavzuli kartotekalari bo’yicha keng ma’lumot apparati mavjud.
            </p>
           
        
        </div>
    </div>
</div>



{% endblock content %}




