{% load static %}
<nav class="use-inf">
    <div class="container">
        <div class="cont-inf">
            <div class="cont-inf-left">
                <a href="#"><img width="30" height="20" src="{% static "/Photos/icons/flag.png" %}" alt=""></a><p>|</p>
                <a href="#"><img width="20" height="20" src="{% static "/Photos/icons/gerp.png" %}" alt=""></a><p>|</p>
                <a href="#"><img src="{% static "/Photos/svg/music.svg" %}" alt=""></a><p>|</p>
                <a href="#"><img src="{% static "/Photos/svg/lan.svg" %}" alt=""></a><p>|</p>
                <a href="#"><img src="{% static "/Photos/svg/eays.svg" %}" alt=""></a><p>|</p>
                <a href="#"><img src="{% static "/Photos/svg/email.svg" %}" alt=""></a><p>|</p>
                <a href="#"><img src="{% static "/Photos/svg/cloud.svg" %}" alt=""></a><p>|</p>
            </div>
            <div class="cont-inf-right">
                <img src="{% static "Photos/svg/locked.svg" %}" alt="">
                <a href="#" class="tizim">Tizimga kirish</a>
            </div>
        </div>
    </div>
</nav>

<div class="bg-color">
  <div class="container">
    <div class="header_new">
      <div class="nav-logo-left">
          <a href="{% url "index" %}"><img class="jizpi-logo" src="{% static "Photos/icons/jizpi-logo.png" %}" alt=""></a>
          <h2 class="text-jizpi">
              <span class="mt-3">JIZZAX</span>
              <span>POLITEXNIKA</span>
              <span>INSTITUTI</span>
          </h2>
      </div>  

      <img class="menu" src="{% static "Photos/icons/menu512.png" %}">

      <div class="navbar_new  responsive">
        <img class="close" src="{% static "Photos/icons/close48.png" %}">
            <div class="dropdown">
                <a href="#" class="navbar_nav_a">Yangiliklar</a>
                <ul class="dropdown_ul">
                  <li class="dropdown_li"><a href="{% url "news" %}">Yangiliklar</a></li>
                  <li class="dropdown_li"><a href="{% url "elon" %}">Elonlar</a></li>
                </ul>
            </div>
              
            <div class="dropdown">
                <a href="#" class="navbar_nav_a">Institut</a>
                <ul class="dropdown_ul">
                  <li class="dropdown_li"><a href="{% url "institut" %}">Institut</a></li>
                  <li class="dropdown_li"><a href="{% url "kengash" %}">Kengashlar</a></li>
                  <li class="dropdown_li"><a href="{% url "meyoriy-hujjat" %}">Meyoriy Hujjatlar</a></li>
                </ul>
            </div>
              
            <div class="dropdown">
                <a href="#" class="navbar_nav_a">Tuzilma</a>
                <ul class="dropdown_ul">
                  <li class="dropdown_li"><a href="{% url "rektorat" %}">Rektorat</a></li>
                  <li class="dropdown_li"><a href="{% url "bolimlar" %}">Bo'limlar</a></li>
                  <li class="dropdown_li"><a href="{% url "markazlar" %}">Markazlar</a></li>
                  <li class="dropdown_li"><a href="{% url "fakultet" %}">Fakultetlar</a></li>
                  <li class="dropdown_li"><a href="{% url "kafedra" %}">Kafedralar</a></li>
                </ul>
            </div>
              
            <div class="dropdown">
                <a href="#" class="navbar_nav_a">Faoliyat</a>
                <ul class="dropdown_ul">
                    <li class="dropdown_li"><a href="{% url "ilmiyFaoliyat" %}">Ilmiy Faoliyat</a></li>
                    <li class="dropdown_li"><a href="{% url "oquvFaoliyat" %}">O'quv Faoliyat</a></li>
                    <li class="dropdown_li"><a href="#">Xalqaro Faoliyat</a></li>
                    <li class="dropdown_li"><a href="#">Moliyaviy Faoliyat</a></li>
                    
                </ul>
            </div>

            <div class="dropdown">
                <a href="#" class="navbar_nav_a">Qabul-2024</a>
                <ul class="dropdown_ul">
                  <li class="dropdown_li"><a href="#">CALL-CENTER</a></li>
                  <li class="dropdown_li"><a href="#">Bakalavr</a></li>
                  <li class="dropdown_li"><a href="#">Magistratura</a></li>
                  <li class="dropdown_li"><a href="#">Sirtqi Ta'lim</a></li>
                  <li class="dropdown_li"><a href="#">Doktorantura</a></li>
                  <li class="dropdown_li"><a href="#">Xorijiy Fuqarolar</a></li>
                  <li class="dropdown_li"><a href="#">Qoshma Ta'lim dasturi</a></li>
                  <li class="dropdown_li"><a href="#">2 - Mutaxassislik</a></li>
                  <li class="dropdown_li"><a href="#">Texnikumlar</a></li>
                </ul>
            </div>
              
            <div class="dropdown">
                <a href="#" class="navbar_nav_a">Talabalar</a>
                <ul class="dropdown_ul">
                    <li class="dropdown_li"><a href="#">Bakalavr</a></li>
                    <li class="dropdown_li"><a href="#">Magistratura</a></li>
                    <li class="dropdown_li"><a href="#">Sirtqi Ta'lim</a></li>
                    <li class="dropdown_li"><a href="#">Xorijiy Fuqarolar</a></li>
                    <li class="dropdown_li"><a href="#" class="last-a">O'qishni Ko'chirish va qayta tiklash</a></li>
                </ul>
            </div>
              
            
            <div class="dropdown">
                <a href="#" class="navbar_nav_a">Aloqa</a>
            </div>
            
            <div class="dropdown">
                <a href="#" class="navbar_nav_a">Interaktiv xizmatmatlar</a>
            </div>
              
      </div>
  </div>
    
  </div>
</div>



  
  


<script>
  const menu = document.querySelector('.menu')
  const close = document.querySelector('.close')
  const navbarNew = document.querySelector('.responsive')

  menu.addEventListener('click',()=>{
    navbarNew.style="display: block !important;"
  })

  close.addEventListener('click',()=>{
    navbarNew.style="display: none  !important;"
  })



</script>

<!-- Navbar end -->