{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>ilmiy-Faoliyat</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "faoliyat/ilmiy-faoliyat/__ilmiy-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <a href="{% url "pageIF1" %}" class="btn">Ilm-fan-2024</a>
                <a href="{% url "pageIF2" %}" class="btn">Nomzodlik imtihonlari</a>
                <a href="{% url "pageIF3" %}" class="btn">Ilmiy tadbirlar</a>
                <a href="{% url "pageIF4" %}" class="btn">Ilmiy nashrlar</a>
                <a href="{% url "pageIF5" %}" class="btn">Yosh ekspertlar guruhi</a>
                <a href="{% url "pageIF6" %}" class="btn">Konferensiyalar</a>
                <a href="{% url "pageIF7" %}" class="btn">YoIstiqboldagi rejalarsh</a>
                <a href="{% url "pageIF8" %}" class="btn">Ilmiy tatqiqot faoliyati</a>
                <a href="{% url "pageIF9" %}" class="btn">Ilmiy tadqiqot yo’nalishlari</a>
                <a href="{% url "pageIF10" %}" class="btn">Ilmiy yangiliklar</a>
                <a href="{% url "pageIF11" %}" class="btn">Xujjatlar to’plami</a>
                <a href="{% url "pageIF12" %}" class="btn">Ustoz-shogird maktabi</a>
                <a href="{% url "pageIF13" %}" class="btn">Innovatsion dastur</a>
                <a href="{% url "pageIF14" %}" class="btn">Innovatsion loyihalar</a>
                <a href="{% url "pageIF15" %}" class="btn">Bitiruvchilar klubi</a>
                <a href="{% url "pageIF16" %}" class="btn">Ilmiy e’lonlar</a>
                <a href="{% url "pageIF17" %}" class="btn">«Yoshlar ovozi» gazetasi</a>
            </div>
        </div>
    </div>
</div>



{% endblock content %}