{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>ilmiy-Faoliyat</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3">
            {% include "faoliyat/ilmiy-faoliyat/__ilmiy-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col-12">
                    <main id="content" class="content-style">
                                                <article id="post-285" class="post-285 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Innovatsion dastur</h1>                             </div>
                                <div class="entry-content">
                                                                    <p><strong>ЖизПИ инновацион дастури</strong></p>
    <p><strong>(олинган натижаларни ишлаб чиқаришга жорий этиш)</strong></p>
    <p>&nbsp;</p>
    <p align="justify">Институтда ишлаб чиқариш корхоналари ва ташкилотлари муаммоси бўйича илмий-тадқиқот ишлари бажарилмоқда. Институтда яратилаётган инновацион ғоялар ва технологияларни ишлаб чиқаришга татбиқ этиш тизимини такомиллаштириш ҳақида белгилаб олинган чора ва тадбирларни амалга ошириш борасида маълум ютуқларга эришилди. Белгиланган вазифаларни ўз муддатида ва сифатли амалга оширилишини таъминлаш йўлга қўйилган.</p>
    <p align="justify">Институтда мавжуд бўлган барча кафедрада, жумладан 5 та факультетлар деканлари ва 22 кафедралари мудирлари масъуллигида 17 та “Инновацион гуруҳлар” ташкил этилган.</p>
    <p align="justify">Институт бўйича тузилган 17 та инновацион гуруҳнинг умумий таркиби 177 нафарни ташкил этади, унга институтдан 71 нафар профессор-ўқитувчилар ва 28 нафар иқтидорли талабалар ҳамда корхоналардан 53 нафар вакиллар киритилган.</p>
    <p align="justify">Корхоналардан олинган илмий муаммолар рўйхатига 61 та илмий ва услубий тадқиқот мавзулари киритилган. Институт бўйича 2018-2019 ўқув йилида мазкур мавзуларга доир 2 та докторлик диссертацияси, 4 та номзодлик диссертацияси, 16 та магистрлик диссертацияси, 125 та битирув малакавий иши, 160 та курс ишлари бажарилди.</p>
    <p>&nbsp;</p>
    <p>1-жадвал</p>
    <p><strong>Олий таълим, фан ва ишлаб чиқариш ўртасидаги инновацион ҳамкорликни амалга ошириш юзасидан умумлаштирилган маълумот</strong></p>
    <table class="table table-bordered text-center" width="100%">
    <tbody>
    <tr>
    <td rowspan="3" width="11%">Инновацион гуруҳлар сони</td>
    <td colspan="7" width="88%">Инновацион гуруҳ аъзолари сони</td>
    </tr>
    <tr>
    <td rowspan="2" width="14%">Жами:</td>
    <td colspan="6" width="73%">Шу жумладан,</td>
    </tr>
    <tr>
    <td width="12%">Профессор-ўқитувчилар</td>
    <td width="12%">Таянч докторантлар</td>
    <td width="12%">Докторантлар</td>
    <td width="12%">Магистр. талабалари</td>
    <td width="12%">Иқтидорли талабалар</td>
    <td width="12%">Корхона вакиллари</td>
    </tr>
    <tr>
    <td width="11%">17</td>
    <td width="14%">177</td>
    <td width="12%">71</td>
    <td width="12%">18</td>
    <td width="12%">7</td>
    <td width="12%">28</td>
    <td width="12%">53</td>
    <td width="12%">45</td>
    </tr>
    </tbody>
    </table>
    <p>&nbsp;</p>
    <table class="table table-bordered text-center" width="100%">
    <tbody>
    <tr>
    <td rowspan="3">Шартнома асосда ҳамкорлик йўлга қўйилган корхоналар</td>
    <td rowspan="3">Ўрганил. корхона.&nbsp; илм. технол. муаммолар сони</td>
    <td colspan="7">Корхоналар илмий-технологик муаммолари асосида йўлга қўйилган ИТИ сони</td>
    </tr>
    <tr>
    <td rowspan="2">Жами:</td>
    <td colspan="6">Шу жумладан</td>
    </tr>
    <tr>
    <td>Курс ииш</td>
    <td>БМИ</td>
    <td>Магистрлик диссертацияси</td>
    <td>(PhD) диссертац</td>
    <td>(DS) диссертац</td>
    <td>Хўжалик шартномалари</td>
    </tr>
    <tr>
    <td>61</td>
    <td>350</td>
    <td>163</td>
    <td>111</td>
    <td>14</td>
    <td>20</td>
    <td>42</td>
    <td>17</td>
    <td>177</td>
    </tr>
    </tbody>
    </table>
    <p align="justify">Институтда ишлаб чиқариш корхоналари ва ташкилотлари муаммоси бўйича илмий-тадқиқот ишлари бажарилмоқда. Кафедрада яратилаётган инновацион ғоялар ва технологияларни ишлаб чиқаришга татбиқ этиш тизимини такомиллаштириш ҳақида белгилаб олинган чора ва тадбирларни амалга ошириш борасида маълум ютуқларга эришилди. Белгиланган вазифаларни ўз муддатида ва сифатли амалга оширилишини таъминлаш йўлга қўйилган.</p>
    <p>Кафедрада жорий йилда олиб борилган илмий-тадқиқотлар натижасида қуйидаги натижалар олинди:</p>
    <p align="justify">– ички ёнув двигателларини газ ёниғиси билан ишлаш жараёнининг такомиллаштирилган варианти;</p>
    <p align="justify">– илмий манбаларга таянган ҳолда автотранспорт воситалари билан атроф-муҳит орасида масса алмашинув жараёнининг такомиллашган модели;</p>
    <p>– Шахар шароитида йўловчи ташиш жараёнининг назарий тадқиқи;</p>
    <p align="justify">– ички ёнув двигателларида газ ёниғиси билан ишлаш жараёнининг кинематик ва динамик параметрларининг илмий асослари;</p>
    <p align="justify">– транспорт воситаларидан ажралиб чиққан парник эффекти ҳосил қилувчи газларнинг миқдорий кўламининг математик усули ва унинг атмосфера ҳаво балансига таъсирини тадқиқ қилишнинг илмий-методологик асослари;</p>
    <p>– Йўл қурилиш машиналари ишчи органларининг самарадорлигини ошириш йўллари ишлаб чиқилди.</p>
    <p align="justify">Турли таркибдаги биогазлардан фойдаланиб автомобилларнинг эксплуатацион кўрсаткичларини яхшилаш:</p>
    <p>Ишдан кутиладиган натижалар:</p>
    <p>– атроф-муҳитнинг экологик ҳолати барқарорлашади;</p>
    <p>– аҳоли ўртасида турли хил юқумли касалликларнинг авж олишига барҳам берилади;</p>
    <p>– аҳоли орасида ўзи яшайдиган маконга нисбатан онгли мунособат шаклланади;</p>
    <p align="justify">– органик чиқиндиларни самарали усуллар билан қайта ишлаб иқтисодий жиҳатдан фойдали, экологик тоза маҳсулотлар олинади.</p>
    <p align="justify">Мaвжуд мaълумoтлaргa кўрa Ўзбeкистoндa 6 мингдaн oртиқ фeрмeр xўжaликлaри мaвжуд бўлиб, улaрдa 650 мингдaн oртиқ қoрaмoл вa 21 миллиoн бoшдaн oртиқ пaррaндaлaр йилигa 6 миллиoн тoннaдaн oртиқ oргaник чиқиндилaр ҳoсил қилaдилaр.</p>
    <p align="justify">Бир қaтoр фeрмeр xўжaликлaридa биoлoгик чиқиндилaрни қaйтa ишлaйдигaн вa биoгaз ҳaмдa биoўғит ишлaб чиқaрaдигaн биoгaз қурилмaлaри фoйдaлaнилмoқдa. Ишлaб чиқaрилaётгaн биoгaз xўжaликлaрнинг ички эҳтиёжлaри учун фoйдaлaнилмoқдa.</p>
    <p align="justify">Институтда жорий йилда ишлаб чиқариш корхоналари билан инновацион корпоратив&nbsp; олиб борилган илмий-тадқиқотлар натижасида қуйидаги натижалар олинди:</p>
    <p>– автомобиль йўллари транспорт-эксплуатацион ҳолатини ошириш усули ишлаб чиқилди;</p>
    <p>– асфальтобетоннинг юқори ёзги температура таъсирида деформацион хусусияти аниқланди;</p>
    <p align="justify">– иқтисодиётни модернизациялаш шароитида қишлоқ меҳнат бозори шаклланиши ва унинг хусусиятлари, ўзига хос омиллари ва айни вақтдаги ҳолатини таҳлил қилинди ва қишлоқ жойларида меҳнат ресурсларининг ўсиб боришини туманлар кесимида ўрганиш асосида ишчи кучига талаб ва таклиф ўртасидаги рационал нисбатни тадқиқ қилишнинг илмий-методологик асослари ишлаб чиқилди;</p>
    <p>– рельслар учун сурков материалининг тажрибавий варианти яратилди, амалда синаб кўрилди ва амалиётда қўллаш учун қабул қилинди;</p>
    <p align="justify">– ёғ-мой саноати чиқиндилари ва нефт чиқиндилари қолдиқ маҳсулотларидан фойдаланиб, редукторлар учун сурков материаллари яратилди ва амалиётда қўллаш учун қабул қилинди.</p>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}