{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>ilmiy-Faoliyat</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3">
            {% include "faoliyat/ilmiy-faoliyat/__ilmiy-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col-md-9">
                    <main id="content" class="content-style">
                                                <article id="post-471" class="post-471 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">«Yoshlar ovozi» gazetasi</h1>                             </div>
                                <div class="entry-content">
    <p>2020 o’quv yilida chop etilgan tahrirlar</p>
    <ol>
    <li><a class="a-link" href="http://host.djizpi.uz/gazita/2020/01_Yanvar.rar">Yanvar</a></li>
    <li><a class="a-link" href="http://host.djizpi.uz/gazita/2020/02.%20Fevral.zip">Fevral</a></li>
    </ol>
    <p>2019 o’quv yilida chop etilgan tahrirlar</p>
    <ol>
    <li><a class="a-link" href="http://host.djizpi.uz/gazita/2019/01_Yanvar.rar">Yanvar</a></li>
    <li><a class="a-link" href="http://host.djizpi.uz/gazita/2019/02_Fevral.rar">Fevral</a></li>
    <li><a class="a-link" href="http://host.djizpi.uz/gazita/2019/03_mart.rar">Mart&nbsp;</a></li>
    <li><a class="a-link" href="http://host.djizpi.uz/gazita/2019/04_aprel.rar">Aprel</a></li>
    <li><a class="a-link" href="http://host.djizpi.uz/gazita/2019/05_may.rar">May</a></li>
    <li><a class="a-link" href="http://host.djizpi.uz/gazita/2019/06_iyun.rar">Iyun</a></li>
    <li><a class="a-link" href="http://host.djizpi.uz/gazita/2019/07_iyul.rar">Iyul</a></li>
    <li><a class="a-link" href="http://host.djizpi.uz/gazita/2019/09_sentabr.rar">Sentabr</a></li>
    <li><a class="a-link" href="http://host.djizpi.uz/gazita/2019/10_oktabr.rar">Oktabr</a></li>
    <li><a class="a-link" href="http://host.djizpi.uz/gazita/2019/11_noyabr.rar">Noyabr</a></li>
    <li><a class="a-link" href="http://host.djizpi.uz/gazita/2019/12_dekabr.rar">Dekabr</a></li>
    </ol>
    <p>2018&nbsp;o’quv yilida chop etilgan tahrirlar</p>
    <ol>
    <li><a class="a-link" href="http://host.djizpi.uz/gazita/2018/01_yanvar.rar">Yanvar</a></li>
    <li><a class="a-link" href="http://host.djizpi.uz/gazita/2018/02_Fevral.rar">Fevral</a></li>
    <li><a class="a-link" href="http://host.djizpi.uz/gazita/2018/03_Mart.rar">Mart&nbsp;</a></li>
    <li><a class="a-link" href="http://host.djizpi.uz/gazita/2018/04_Aprel.rar">Aprel</a></li>
    <li><a class="a-link" href="http://host.djizpi.uz/gazita/2018/05_May.rar">May</a></li>
    <li><a class="a-link" href="http://host.djizpi.uz/gazita/2018/06_Iyun.rar">Iyun</a></li>
    <li><a class="a-link" href="http://host.djizpi.uz/gazita/2018/07_Iyul.rar">Iyul</a></li>
    <li><a class="a-link" href="http://host.djizpi.uz/gazita/2018/09_Sentabr.rar">Sentabr</a></li>
    <li><a class="a-link" href="http://host.djizpi.uz/gazita/2018/10_oktabr.rar">Oktabr</a></li>
    <li><a class="a-link" href="http://host.djizpi.uz/gazita/2018/11_Noyabr.rar">Noyabr</a></li>
    <li><a class="a-link" href="http://host.djizpi.uz/gazita/2018/12_Dekabr.rar">Dekabr</a></li>
    </ol>
    <p>2017 o’quv yilida chop etilgan tahrirlar</p>
    <ol>
    <li><a class="a-link" href="#">Yanvar</a></li>
    <li><a class="a-link" href="#">Fevral</a></li>
    <li><a class="a-link" href="#">Mart&nbsp;</a></li>
    <li><a class="a-link" href="#">Aprel</a></li>
    <li><a class="a-link" href="#">May</a></li>
    <li><a class="a-link" href="#">Iyun</a></li>
    <li><a class="a-link" href="#">Iyul</a></li>
    <li><a class="a-link" href="#">Avgust</a></li>
    <li><a class="a-link" href="#">Sentabr</a></li>
    <li><a class="a-link" href="#">Oktabr</a></li>
    <li><a class="a-link" href="#">Noyabr</a></li>
    <li><a class="a-link" href="#">Dekabr</a></li>
    </ol>
    <p>2016 o’quv yilida chop etilgan tahrirlar</p>
    <ol>
    <li><a class="a-link" href="#">Yanvar</a></li>
    <li><a class="a-link" href="#">Fevral</a></li>
    <li><a class="a-link" href="#">Mart&nbsp;</a></li>
    <li><a class="a-link" href="#">Aprel</a></li>
    <li><a class="a-link" href="#">May</a></li>
    <li><a class="a-link" href="#">Iyun</a></li>
    <li><a class="a-link" href="#">Iyul</a></li>
    <li><a class="a-link" href="#">Avgust</a></li>
    <li><a class="a-link" href="#">Sentabr</a></li>
    <li><a class="a-link" href="#">Oktabr</a></li>
    <li><a class="a-link" href="#">Noyabr</a></li>
    <li><a class="a-link" href="#">Dekabr</a></li>
    </ol>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}