{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>ilmiy-Faoliyat</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3">
            {% include "faoliyat/ilmiy-faoliyat/__ilmiy-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col-md-9">
                    <main id="content" class="content-style">
                                                <article id="post-2535" class="post-2535 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Istiqboldagi rejalar</h1>                             </div>
                                <div class="entry-content">
                                                                    <p style="text-align: center;"><strong>Jizzax politexnika institutining 2018-2021 yillarga mo‘ljallangan ilmiy–pedagogik kadrlar tayyorlash&nbsp;</strong></p>
    <p style="text-align: center;"><strong>STRATEGIK REJASI</strong></p>
    <table class="table" width="100%">
    <tbody>
    <tr>
    <td width="44"><strong>№</strong></td>
    <td width="163"><strong>Kafedra</strong></td>
    <td width="161"><strong>FISH</strong></td>
    <td width="249"><strong>Dissertatsiya mavzusi</strong></td>
    <td width="189"><strong>Ilmiy rahbari</strong></td>
    <td width="141"><strong>Tadqiqot faoliyati olib borilayotgan muassasa</strong></td>
    <td width="120"><strong>Himoya mo‘ljal-lanayotgan yil</strong></td>
    </tr>
    <tr>
    <td style="text-align: center;" colspan="7" width="1065"><strong>Doktorantlar</strong></td>
    </tr>
    <tr>
    <td width="44">1</td>
    <td width="163">Oliy matematika</td>
    <td width="161">Alimov X.N.</td>
    <td width="249">Yuqori darajadagi taqsimlangan tizimlarda differensial izlanish o’yinlari nazariyasi</td>
    <td width="189">fizika-matematika fanlari doktori, prof. D.K.Durdiev</td>
    <td width="141">SamDU</td>
    <td width="120"><strong>2019</strong></td>
    </tr>
    <tr>
    <td width="44">2</td>
    <td width="163">Er usti transport tizimlari</td>
    <td width="161">Yarbobaev A.</td>
    <td width="249">Neftni qayta ishlash sanoat chiqindilaridan foydalib dizel moylarini olish texnologiyasini takomillashtirish</td>
    <td width="189">t.f.d prof. B.N.Xamidov</td>
    <td width="141">O‘zR FA Noarganik kimyo instituti</td>
    <td width="120"><strong>2019</strong></td>
    </tr>
    <tr>
    <td width="44">3</td>
    <td width="163">Bino va inshootlar qurilishi</td>
    <td width="161">Sagatov B.U.</td>
    <td width="249">Temir-beton konstruktsiyalarining mustahkam va dinamik yuklarni egiluvchi qismlardagi mustahkamligini tekshirish</td>
    <td width="189">t.f.d., prof. Ashrabov Anvar Abbosovich. TAYI professori.</td>
    <td width="141">Toshkent arxitektura qurilish instituti</td>
    <td width="120"><strong>2019</strong></td>
    </tr>
    <tr>
    <td width="44">4</td>
    <td width="163">Kasb ta’limi</td>
    <td width="161">Mustafaqulov A.A.</td>
    <td width="249">Bo‘lajak tarbiyachilarni kasbiy faoliyatga tayyorlashda pedagogik amaliyotni tashkil qilish texnologiyasi</td>
    <td width="189">p.f.d., prof. F.R.YUzlikaev</td>
    <td width="141">Nizomiy nomidagi TDPU</td>
    <td width="120"><strong>2020</strong></td>
    </tr>
    <tr>
    <td width="44">5</td>
    <td width="163">Er usti transport tizimlari</td>
    <td width="161">Samiev X.X.</td>
    <td width="249">Shaharda yo’lovchi tashish samaradorligini oshirish (Toshkent shxri misolida)</td>
    <td width="189">i.f.d. prof. K.B.Nasretdinov</td>
    <td width="141">JizPI</td>
    <td width="120"><strong>2020</strong></td>
    </tr>
    <tr>
    <td width="44">6</td>
    <td width="163">Informatsion texnologiyalar</td>
    <td width="161">Alishev SH.A.</td>
    <td width="249">Ko‘p bosqichli tog‘-kon partland-siment va silikat materiallarini qayta ishlash jarayonlarini boshqarish usullari va modellari</td>
    <td width="189">t.f.d. prof. M.S.YAkubov</td>
    <td width="141">JizPI</td>
    <td width="120"><strong>2020</strong></td>
    </tr>
    <tr>
    <td style="text-align: center;" colspan="6" width="946"><strong>Mustaqil izlanuvchilar</strong></td>
    <td width="120"><strong>&nbsp;</strong></td>
    </tr>
    <tr>
    <td width="44">7</td>
    <td width="163">«O‘zbekiston tarixi va ijtimoiy fanlar»</td>
    <td width="161">Bobanazarova J.X.</td>
    <td width="249">“Qishloq joylarida ayollar bandligini oshirishning ijtimoiy-iqtisodiy mexanizmlarini takomillashtirish”</td>
    <td width="189">iqtisod fanlari doktori,&nbsp; professor SH.R.Xolmo‘minov</td>
    <td width="141">Toshkent Davlat Iqtisodiyot Universiteti</td>
    <td width="120"><strong>2019</strong></td>
    </tr>
    <tr>
    <td width="44">8</td>
    <td width="163">Menejment</td>
    <td width="161">Nasriddinov J.I.</td>
    <td width="249">“Amortizatsiya nazariyasi va uni jadallashgan usullarini qo‘llash-ning milliy iqtisodiyotdagi xususiyatlari”</td>
    <td width="189">i.f.d., prof. A.A.Mamatov</td>
    <td width="141">Gul.DU</td>
    <td width="120"><strong>2020</strong></td>
    </tr>
    <tr>
    <td width="44">9</td>
    <td width="163">Er usti transport tizimlari</td>
    <td width="161">Qarshiboev SH.</td>
    <td width="249">SHaxarlarda mulkchilikning turli shakillarida avtotransport tizimi ishini takomillashtirish</td>
    <td width="189">t.f.d&nbsp; prof. K.B.Nasretdinov</td>
    <td width="141">JizPI</td>
    <td width="120"><strong>2020</strong></td>
    </tr>
    <tr>
    <td width="44">10</td>
    <td width="163">Avtomobil yo‘llari</td>
    <td width="161">Mirzabekov M.S.</td>
    <td width="249">Tog‘li avtomobil yo‘llarida xarakat xavfsizligini baxolash metodologiyasi</td>
    <td width="189">t.f.d., prof. SH.Xikmatov</td>
    <td width="141">Toshkent AYLQE instituti</td>
    <td width="120"><strong>2020</strong></td>
    </tr>
    <tr>
    <td style="text-align: center;" colspan="6" width="946"><strong>Erkin izlanuvchilar</strong></td>
    <td width="120"><strong>&nbsp;</strong></td>
    </tr>
    <tr>
    <td width="44">11</td>
    <td width="163">Metrologiya va standartlashtirish</td>
    <td width="161">SHertayloqov G‘.</td>
    <td width="249">Noastandrat labaratoratoriyadan foydalanib o‘quvchilar faoliyatini faollashtirish</td>
    <td width="189">t.f.d., prof. Maxmudov YU.M.</td>
    <td width="141">O‘zMU</td>
    <td width="120"><strong>2020</strong></td>
    </tr>
    <tr>
    <td width="44">12</td>
    <td width="163">Kimyoviy texnologiya</td>
    <td width="161">Haqberdiev SH.M.</td>
    <td width="249">Gossipolni aminobirikmalar, SN-kislotalar xosilalari, ularning supramolekulyar komplekslari va immunostimullash, immunosuprissiv faolligi</td>
    <td width="189">k.f.d., prof. Dalimov D.N.</td>
    <td width="141">O‘zbekiston Milliy Universiteti</td>
    <td width="120"><strong>2019</strong></td>
    </tr>
    <tr>
    <td width="44">13</td>
    <td width="163">Bino va inshootlar qurilishi</td>
    <td width="161">Erboev SH.O.</td>
    <td width="249">Temir&nbsp; yo‘llarda foydalanishdagi temirbeton&nbsp; ko‘priklarning yuk ko‘tarish qobiliyatlarini oldindan aytib berish asoslari</td>
    <td width="189">t.f.d. professor Ishonxodjaev A. TAYI professori.</td>
    <td width="141">Toshkent avtomobil yo‘llar instituti</td>
    <td width="120"><strong>2019</strong></td>
    </tr>
    <tr>
    <td width="44">14</td>
    <td width="163">Informatsion texnologiyalar</td>
    <td width="161">Tavboev S.A.</td>
    <td width="249">Intellektuallashgan elektron o‘quv adabiyotlarini yaratishning nazariyasi va amaliyoti (informatika siklidagi fanlar misolida)</td>
    <td width="189">t.f.d., prof. Fazilov SH.X.</td>
    <td width="141">JizPI</td>
    <td width="120"><strong>2020</strong></td>
    </tr>
    <tr>
    <td width="44">15</td>
    <td width="163">Informatsion texnologiyalar</td>
    <td width="161">Qo‘ziev B.N.</td>
    <td width="249">Analitik&nbsp; demo-iqtisodiy tizimlar rivojlanishini tizimli tahlil qilish</td>
    <td width="189">t.f.d., prof. Adilova F.T.</td>
    <td width="141">JizPI</td>
    <td width="120"><strong>2020</strong></td>
    </tr>
    <tr>
    <td width="44">16</td>
    <td width="163">Avtomobil yo‘llari</td>
    <td width="161">Xamraqulov R.J.</td>
    <td width="249">Mexanik tarqalish tamoyillari asosida kinematika kinematografiyasini hisobga olgan holda aniq tasavvurni bashorat qilish</td>
    <td width="189">t.f.d., prof. Ashrapov A.A.</td>
    <td width="141">JizPI</td>
    <td width="120"><strong>2020</strong></td>
    </tr>
    <tr>
    <td width="44">17</td>
    <td width="163">Ekoliogiya va atrof muhit muhofazasi</td>
    <td width="161">Xoldorov B.</td>
    <td width="249">Kungaboqar (Heliantus annuus. L) savati va uzum siqmasidan pektin olish texnologiyasini takomillashtirish</td>
    <td width="189">t.f.d., prof. Q.O.Dodaev</td>
    <td width="141">Toshkent kimyo texnologiya instituti</td>
    <td width="120"><strong>2019</strong></td>
    </tr>
    <tr>
    <td width="44">18</td>
    <td width="163">Muhandislik kommunikatsiyalari qurilishi</td>
    <td width="161">BobomurodovU.</td>
    <td width="249">Qishloq axolisini ichimlik suvlar-ni plastmassa quvurlar bilan o‘tka-zish samaradorliklarini oshirish</td>
    <td width="189">t.f.d., prof. U.Soatov</td>
    <td width="141">SamDAKI</td>
    <td width="120"><strong>2019</strong></td>
    </tr>
    <tr>
    <td width="44">19</td>
    <td width="163">Muhandislik kommunikatsiyalari qurilishi</td>
    <td width="161">Sultonov A.</td>
    <td width="249">Suvdan foydalanish soxasida axborot samaradorligini oshirish yo‘llari (Jizzax viloyati SIU misolida)</td>
    <td width="189">t.f.d., prof. O.Kenjaboev</td>
    <td width="141">ToshMI</td>
    <td width="120"><strong>2019</strong></td>
    </tr>
    <tr>
    <td width="44">20</td>
    <td width="163">Kimyoviy texnologiya</td>
    <td width="161">O‘ralova<p></p>
    <p>N.Q.</p></td>
    <td width="249">Aminlar, amidlar va aldegidlar asosida yangi kompleksonlar sintezi texnologiyasi va qo‘llanilishi</td>
    <td width="189">t.f.d., prof. Ikromov A.</td>
    <td width="141">TKTI</td>
    <td width="120"><strong>2019</strong></td>
    </tr>
    <tr>
    <td width="44">21</td>
    <td width="163">Kimyoviy texnologiya</td>
    <td width="161">Rashidova N.T.</td>
    <td width="249">Ksilotrof zamburug‘lar lignino-litik fermentlari va ularning lignotsellyuloza chiqindilari biokonversiyasidagi ishtiroklari</td>
    <td width="189">b.f.d., prof. Axmedova Z.</td>
    <td width="141">Mikrobilogiya instituti, laboratoriya mudiri</td>
    <td width="120"><strong>2020</strong></td>
    </tr>
    <tr>
    <td width="44">22</td>
    <td width="163">Ekoliogiya va atrof muhit muhofazasi</td>
    <td width="161">Tirkasheva M.B.</td>
    <td width="249">Pomir-Oloy tizmalari archazorlari</td>
    <td width="189">b.f.d., prof.<p></p>
    <p>F.O. Xasanov</p></td>
    <td width="141">O‘simliklar va hayvon genofondi instituti</td>
    <td width="120"><strong>2020</strong></td>
    </tr>
    <tr>
    <td width="44">23</td>
    <td width="163">Muhandislik kommunikatsiyalari qurilishi</td>
    <td width="161">Axmedova<p></p>
    <p>M.</p></td>
    <td width="249">Jizzaxdonmaxsulotlari korxonasining chang gaz tozalash uskunalarini modernizatsiyalash va ifloslantiruvchi moddalarning atrof muxitga ta’sirini baxolashning ilmiy metodik asoslari</td>
    <td width="189">t.f.d, prof. S.Boboev</td>
    <td width="141">SamDU</td>
    <td width="120"><strong>2020</strong></td>
    </tr>
    <tr>
    <td width="44">24</td>
    <td width="163">Informatsion texnologiyalar</td>
    <td width="161">To‘raqulov O.X.</td>
    <td width="249">Qarorlar qabul qilishni qo’llab-quvvatlash uchun aql-tasniflash tizimlarining modellari va algoritmlari</td>
    <td width="189">t.f.d., prof. Bobomurodov O.J.</td>
    <td width="141">O‘zDJTU</td>
    <td width="120"><strong>2020</strong></td>
    </tr>
    <tr>
    <td width="44">25</td>
    <td width="163">Informatsion texnologiyalar</td>
    <td width="161">Toshpo‘latov M.O.</td>
    <td width="249">Halq xo‘jaligi masalalarini intellektual tahlil qilishni qo‘llab echish algoritm va usullari</td>
    <td width="189">t.f.d., prof. Nishanov A.X.</td>
    <td width="141">TATU</td>
    <td width="120"><strong>2020</strong></td>
    </tr>
    </tbody>
    </table>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}