{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>ilmiy-Faoliyat</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3">
            {% include "faoliyat/ilmiy-faoliyat/__ilmiy-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col-12">
                    <main id="content" class="content-style">
                                                <article id="post-2931" class="post-2931 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Yosh ekspertlar guruhi</h1>                             </div>
                                <div class="entry-content">
                                                                    <p style="text-align: right;"><strong>“Tasdiqlayman”</strong></p>
    <p style="text-align: right;">Ilmiy ishlar va innovatsiyalar bo‘yicha prorektor</p>
    <p style="text-align: right;"><strong>&nbsp;________&nbsp; T.A.Berdiyorov</strong></p>
    <p style="text-align: right;">“___”___________2022 yil</p>
    <p>&nbsp;</p>
    <p>Jizzax politexnika institutidagi&nbsp; innovatsion g‘oyalarni har&nbsp;tomonlama rivojlantirish uchun zarur sharoitlar yaratish, institut professor-o‘qituvchilari, yosh olimlar va talabalarning innovatsion texnologiyalarni yaratish borasidagi tashabbuskorligini oshirish&nbsp;yuzasidan tizimli ishlarni tashkil etish bo‘yicha</p>
    <p style="text-align: center;"><strong>“Yosh ekspertlar guruhi”</strong></p>
    <p style="text-align: center;"><strong>TARKIBI</strong></p>
    <table class="table table-bordered" width="100%">
    <tbody>
    <tr>
    <td width="6%"><strong><em>T/R</em></strong></td>
    <td width="19%"><strong><em>FISH</em></strong></td>
    <td width="56%"><strong><em>Lavozimi,</em></strong><p></p>
    <p><strong><em>(talaba bo‘lsa fakulteti, kursi, o‘qiydigan guruhi)</em></strong></p></td>
    <td width="18%"><strong><em>Vazifasi</em></strong></td>
    </tr>
    <tr>
    <td width="6%">1</td>
    <td width="19%">Xudoyorov SHarof</td>
    <td width="56%">Ilmiy-innovatsion ishlanmalarni tijoratlashtirish bo‘limi boshlig‘i</td>
    <td width="18%">Rais</td>
    </tr>
    <tr>
    <td width="6%">2</td>
    <td width="19%">Abdunazarov Jamshid</td>
    <td width="56%">Xalqaro hamkorlik bo‘yicha prorektor</td>
    <td width="18%">Rais o‘rinbosari</td>
    </tr>
    <tr>
    <td width="6%">3</td>
    <td width="19%">Rahmatov Utkir</td>
    <td width="56%">Xalqaro hamkorlik bo‘limi boshligi</td>
    <td width="18%">Rais o‘rinbosari</td>
    </tr>
    <tr>
    <td width="6%">5</td>
    <td width="19%">Turatov Bekzod</td>
    <td width="56%">TTPU va JizPi hamkorligidagi mashinasozlik texnologiyasi qo’shma ta’lim dasturi bo’yicha mas’ul yordamchisi</td>
    <td width="18%">A’zo</td>
    </tr>
    <tr>
    <td width="6%">6</td>
    <td width="19%">Nishonov Aziz</td>
    <td width="56%">TTPU va JizPi hamkorligidagi mashinasozlik texnologiyasi qo’shma ta’lim dasturi bo’yicha mas’ul</td>
    <td width="18%">A’zo</td>
    </tr>
    <tr>
    <td width="6%">7</td>
    <td width="19%">Norqo‘ziyev Akmal</td>
    <td width="56%">TVM kafedrasi assistenti</td>
    <td width="18%">A’zo</td>
    </tr>
    </tbody>
    </table>
    <p><strong>“Yosh ekspertlar guruhi” rahbari&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SH.Xudoyorov</strong></p>
    <p>&nbsp;</p>
    <p>Jizzax politexnika institutidagi&nbsp; innovatsion g‘oyalarni har</p>
    <p>tomonlama rivojlantirish uchun zarur sharoitlar yaratish, institut professor-o‘qituvchilari, yosh olimlar va talabalarning innovatsion texnologiyalarni yaratish borasidagi tashabbuskorligini oshirish</p>
    <p>yuzasidan tizimli ishlarni tashkil etish bo‘yicha</p>
    <p><strong>Yosh ekspertlar guruhining</strong></p>
    <p><strong>CHORA-TADBIRLAR REJASI</strong></p>
    <table class="table table-bordered" width="100%">
    <tbody>
    <tr>
    <td>T/R</td>
    <td>CHora-tadbirlar nomi</td>
    <td>Muddati</td>
    <td>Mas’ullar</td>
    </tr>
    <tr>
    <td>1</td>
    <td>CHora-tadbirlar dasturini ishlab chiqish va tasdiqlash</td>
    <td>2021 yil iyun</td>
    <td>T.Berdiyorov,<p></p>
    <p>SH.Xudoyorov, J.Abdunazarov</p></td>
    </tr>
    <tr>
    <td>2</td>
    <td>Talabalarni ilmiy faoliyatga yo‘naltirish uchun 1-kursdan ilmiy rahbar tayinlash va shu asosda ustoz-shogird tizimini yo‘lga qo‘yish</td>
    <td>Muntazam</td>
    <td>T.Berdiyorov,<p></p>
    <p>SH.Xudoyorov, J.Abdunazarov</p></td>
    </tr>
    <tr>
    <td>3</td>
    <td>Talabalarga ilmiy rahbarlik qilayotgan professor-o‘qituvchilarni talabaning konferensiyalar, shu jumladan, xalqaro konferensiyalardagi ishtiroki natijasiga ko‘ra moddiy rag‘batlantirish tizimini yaratish</td>
    <td>Muntazam</td>
    <td>T.Berdiyorov,<p></p>
    <p>SH.Xudoyorov, J.Abdunazarov</p></td>
    </tr>
    <tr>
    <td>4</td>
    <td>Talabalarga xalqaro andozalar asosida maqola yozish ko‘nikmasini shakllantirish maqsadida seminarlar tashkil qilish</td>
    <td>Har oyda</td>
    <td>T.Berdiyorov,<p></p>
    <p>SH.Xudoyorov, J.Abdunazarov,</p>
    <p>Taklif qilinganlar</p></td>
    </tr>
    <tr>
    <td>5</td>
    <td>Institut xalqaro loyihalarida talabalarning ishtirokini ko‘paytirish va xalqaro miqyosda faoliyat ko‘rsatishini ta’minlash</td>
    <td>Muntazam</td>
    <td>SH.Xudoyorov, J.Abdunazarov, O‘.Rahmatov,<p></p>
    <p>S.Usmanov</p></td>
    </tr>
    <tr>
    <td>6</td>
    <td>Institutda yiliga ikki marta, bahorda institut miqyosida va kuzda respublika miqyosida turdosh oliy ta’lim muassasalari iqtidorli talabalarini jalb etgan holda sohaning dolzarb muammolariga bag‘ishlangan ilmiy-amaliy anjuman o‘tkazish tartibini joriy qilish. Anjumanda eng sara maqola va ma’ruzalar mualliflari (talabalar)ni xalqaro konferensiyalarga tavsiya etish va moddiy qo‘llab-quvvatlash.</td>
    <td>Har yilning<p></p>
    <p>16 may va</p>
    <p>26-27 noyabr</p></td>
    <td>T.Berdiyorov,<p></p>
    <p>SH.Xudoyorov, J.Abdunazarov,</p>
    <p>SH.Achilov</p></td>
    </tr>
    <tr>
    <td>7</td>
    <td>Talabalarning respublika konferensiyasi materiallarini chop etish uchun maxsus yillik to‘plam tashkil etish</td>
    <td>Har yilning<p></p>
    <p>26-27 noyabr</p></td>
    <td>T.Berdiyorov,<p></p>
    <p>SH.Xudoyorov, J.Abdunazarov</p></td>
    </tr>
    <tr>
    <td>8</td>
    <td>Kompyuter lingvistikasi o‘quv-ilmiy laboratoriyasini tashkil etish va talabalarning innovatsion loyihalar ustida ish olib borishini ta’minlash</td>
    <td>Muntazam</td>
    <td>T.Berdiyorov,<p></p>
    <p>SH.Xudoyorov, J.Abdunazarov,</p>
    <p>N.Boysariev,</p>
    <p>Em Maya</p></td>
    </tr>
    <tr>
    <td>9</td>
    <td>Talabalar uchun ilmiy tadqiqot olib borish yo‘l-yo‘riqlari bo‘yicha o‘quv-seminar tashkil qilish va ushbu seminarda o‘zaro muhokamalar olib borish</td>
    <td>Har oyda bir marta</td>
    <td>T.Berdiyorov,<p></p>
    <p>SH.Xudoyorov, J.Abdunazarov,</p>
    <p>SH.Achilov</p></td>
    </tr>
    <tr>
    <td>10</td>
    <td>Yilda bir marta turdosh institut talabalari o‘rtasida insholar tanlovini o‘tkazish va g‘oliblarni taqdirlashni tashkil etish</td>
    <td>Har yili may oyida</td>
    <td>T.Berdiyorov,<p></p>
    <p>SH.Xudoyorov, J.Abdunazarov,</p>
    <p>SH.Achilov</p></td>
    </tr>
    <tr>
    <td>11</td>
    <td>YOsh olimlar va talabalar o‘rtasida har yili innovatsion g‘oya va tashabbuslar tanlovini o‘tkazib borish va g‘oliblarni taqdirlashni tashkil etish</td>
    <td>Har yili may oyida</td>
    <td>T.Berdiyorov,<p></p>
    <p>SH.Xudoyorov, J.Abdunazarov,</p>
    <p>SH.Achilov</p></td>
    </tr>
    <tr>
    <td>12</td>
    <td>O‘quv mashg‘ulotlarini talabalarni innovatsion fikrlashga yo‘naltiradigan o‘qitish texnologiyalari va interfaol uslublarni joriy etish asosida tashkil etish</td>
    <td>Muntazam</td>
    <td>T.Berdiyorov,<p></p>
    <p>SH.Xudoyorov, J.Abdunazarov,</p>
    <p>SH.Achilov</p>
    <p>(O‘quv bo‘limi bilan)</p></td>
    </tr>
    <tr>
    <td>13</td>
    <td>Institut professor-o‘qituvchilari,&nbsp; yosh olimlari hamda iqtidorli talabalarini o‘zlarining tijoratbop innovatsion ishlanmalari va g‘oyalari bilan Innovatsion g‘oyalar va texnologiyalar yarmarkalarida faol ishtirokini ta’minlash</td>
    <td>Har yili may oyida</td>
    <td>T.Berdiyorov,<p></p>
    <p>SH.Xudoyorov, J.Abdunazarov,</p>
    <p>SH.Achilov</p></td>
    </tr>
    <tr>
    <td>14</td>
    <td>Institutda&nbsp; innovatsion g‘oyalarni har tomonlama rivojlantirish hamda innovatsion texnologiyalarni yaratish borasida xorij tajribasini o‘rganish va uni amaliyotga tadbiq etish.</td>
    <td>Muntazam</td>
    <td>T.Berdiyorov,<p></p>
    <p>SH.Xudoyorov, J.Abdunazarov,</p>
    <p>SH.Achilov</p>
    <p>O‘.Rahmatov,</p>
    <p>S.Usmanov</p></td>
    </tr>
    <tr>
    <td>15</td>
    <td>Innovatsion loyihasi mavjud talabalarni so‘rovnoma asosida aniqlash va ushbu talabalar bilan individual holda ish olib borish<p></p>
    <p>&nbsp;</p></td>
    <td>Muntazam</td>
    <td>T.Berdiyorov,<p></p>
    <p>SH.Xudoyorov, J.Abdunazarov,</p>
    <p>SH.Achilov</p>
    <p>O‘.Rahmatov</p></td>
    </tr>
    <tr>
    <td>16</td>
    <td>Talabalar ilmiy-innovatsion ishlanmalarining virtual monitoringini tashkil qilish</td>
    <td>Muntazam</td>
    <td>T.Berdiyorov,<p></p>
    <p>SH.Xudoyorov, J.Abdunazarov,</p>
    <p>SH.Achilov</p>
    <p>O‘.Rahmatov</p></td>
    </tr>
    </tbody>
    </table>
    <p><strong>“Yosh ekspertlar guruhi” rahbari&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SH.Xudoyorov</strong></p>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
        </div>
    </div>
</div>



{% endblock content %}