{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>ilmiy-Faoliyat</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3">
            {% include "faoliyat/ilmiy-faoliyat/__ilmiy-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col-12">
                    <main id="content" class="content-style">
                                                <article id="post-289" class="post-289 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Innovatsion loyihalar</h1>                             </div>
                                <div class="entry-content">
                                                                    <p style="text-align: center;"><strong>Jizzax politexnika instituti kafedralari tomonidan bajarilayotgan innovatsion loyihalar va </strong></p>
    <p style="text-align: center;"><strong>ishlab chiqilishi yoki takomillashtirilishi rejalashtirilgan yangi mahsulotlar </strong><strong>haqida</strong></p>
    <p style="text-align: center;"><strong>M A ‘ L U M O T</strong></p>
    <p><strong>&nbsp;</strong></p>
    <table class="table table-hover">
    <tbody>
    <tr>
    <td><strong>№</strong></td>
    <td><strong>Innovatsion loyihalar nomi va mas’ul ijrochining F.I.O.si</strong></td>
    <td><strong>Loyihani amalga oshirish qanday amalga oshiriladi</strong></td>
    <td><strong>Loyihaning moliya miqdori (mln.so‘m)</strong></td>
    <td><strong>Loyihani amalga oshirishdan kutilayotgan natija (mahsulot)</strong></td>
    </tr>
    <tr>
    <td>1.</td>
    <td>SHisha mahsulotlari chiqindilarini utilizatsiya qilish, ular asosida yuqori mustahkamlikka ega, sovuqqa chidamli, keramik fasad g‘ishtlari ishlab chiqarish liniyasi<p></p>
    <p>&nbsp;</p>
    <p>(QB va KICH kafedrasi mudiri I.Bozorov) +998915960318</p></td>
    <td>1.SHisha va shisha mahsulotlari chiqindilarini maydalash, talqon qilish texnologik liniyasi o‘rnatiladi.<p></p>
    <p>2.YUqori mustahkamlikka ega, sovuqqa chidamli fasad g‘ishtlari ishlab chiqarish liniyasi o‘rnatiladi.</p>
    <p>&nbsp;</p></td>
    <td>1500,0</td>
    <td>Energiya tejamkor, issiq-sovuq va shovqin o‘tkazmaydigan keramik g‘isht mahsuloti ishlab chiqiladi. SHisha chiqindilar utilizatsiyasi esa ekologik sharoitni yaxshilab, tabiiy xom-ashyolarni tejash imkonini beradi. Ishlab chiqarilgan mahsulotni qurilish korxonalari bilan tuzilgan shartnomalar asosida realizatsiyasi tashkil etiladi. Respublikadagi barcha turdagi shisha chiqindilari utilizatsiya qilish uchun yig‘iladi, qayta ishlanadi, mini texnologik jihozlar asosida energiya tejamkor yuqori sifatli keramik g‘isht ishlab chiqariladi</td>
    </tr>
    <tr>
    <td>2.</td>
    <td>“Mexatronika va robototexnika” ilmiy ishlab chiqarish klasteri<p></p>
    <p>&nbsp;</p>
    <p>(Logistika va servis kafedrasi mudiri S.Djiyanbaev) +998933030778</p></td>
    <td>“DelCam” kompaniya-sining Power Mill qurilmasi olib kelinadi. Bunda 3D o‘lchamli noyob bo‘lgan detallarni yaratiladi va ularni shu erada tayyorlash imkoniyati yaratiladi.</td>
    <td>900,0</td>
    <td>Ushbu ilmiy ishlab chiqarish klasterida transport vosita-larining detallarini yasash, ular ustida ilmiy tajrib-alar o‘tkazish imkoniyati tug‘iladi. CHetdan olib keli-nayotgan noyob hamda mayda detallarni mahalliy sharoit-larda tayyorlash uchun ilmiy asoslangan baza yaratiladi. Transport vositalarining noyob detallarini ishlab chiqarish hamda mahalliylashtirish imkoniyati oshadi hamda ularni takomillashtirish ustida ilmiy-tadqiqot ishlari olib boriladi.</td>
    </tr>
    <tr>
    <td>3.</td>
    <td>Jizzax viloyatida mahalliy xom-ashyolardan surkov moyi materiallarini yaratish<p></p>
    <p>&nbsp;</p>
    <p>(Logistika va servis kafedrasi mudiri S.Djiyanbaev) +998933030778</p></td>
    <td>Tajriba-sanoat qurilmasini tayyorlash, bunda (reaktor, dvigatel, elektr qizdirgich) yasaladi hamda ishlab chiqarish tashkil etiladi.</td>
    <td>500,0</td>
    <td>Ushbu tajriba-sanoat uchastkasida mahalliy xom-ashyolar tarkibi o‘rganiladi, chet eldan valyuta evaziga keltirilayotgan “Nigrol, Solidol” moylash material-lari importi kamaytiriladi. Mahsulot realizatsiya qilish og‘ir yuklanishda ekspluatatsiya qilinuvchi transport vositalarga tarqatiladi. “Nigrol”, “Solidol” kabi moylash mahsulotlarini mahalliy xomashyolardan har xil turlarini ishlab chiqarish imkoniyati yaratiladi hamda ularni takomillashtirish ustida ilmiy-tadqiqot ishlari olib boriladi.</td>
    </tr>
    <tr>
    <td>4.</td>
    <td>G‘o‘za bargini terish va qayta ishlash asosida limon va olma kislotasini ajratib olish texnologiyasi<p></p>
    <p>&nbsp;</p>
    <p>(UMF kafedrasi o‘qituvchisi Tog‘aev X.)</p>
    <p>+998933060094</p></td>
    <td>1. G‘o‘za bargini terish qurilmasi tayyorlash va O‘zMEI (SAIMI) da sinovdan o‘tkazish.<p></p>
    <p>2. Bargni qayta ishlab undan limon va olma kislotasini ajratib olish liniyasi sotib olinadi.</p></td>
    <td>1000,0</td>
    <td>Defoliatsiya natijasida g‘o‘za bargini to‘kish va ekologiyaga zarar etkazishga barham beriladi. Ishlab chiqarilgan mahsulotni oziq-ovqat mahsulotlari ishlab chiqarish korxonalari bilan tuzilgan shartnomalar asosida realizatsiyasi tashkil etiladi. G‘o‘za bargini terish qurilmasi tayyorlanadi va ishlab chiqarish liniyasi</td>
    </tr>
    <tr>
    <td>5.</td>
    <td>O‘zbekiston sharoitida maydalangan shina rezinalarini qo‘shish hisobiga asfaltbeton qoplamasi sifatini oshirish<p></p>
    <p>(EUTT kafedrasi ilmiy tadqiqotchisi K.Karimova)</p>
    <p>+998902647400</p></td>
    <td>1.Asfaltbeton qoplamasi sifatini oshirish uchun ish faoliyatiga yaroqsiz shinalardan foydalanib qoplama ishonchililik xususiyati oshiriladi.<p></p>
    <p>2.YAroqsiz shinalarni qayta ishlash uchun mini ARK -300 markadagi texologik jihozdan unumli foydalaniladi.</p>
    <p>3. YAroqsiz shinalarni qayta ishlash bilan ekologik muammolar echiladi, sanoatning yuqori rentabiligi ta’minlanadi</p></td>
    <td>250,0</td>
    <td>Rezina granulalari bitum ishchi 150-160<sup>0</sup>S temreraturada ham o‘z holatini yo‘qotmasligini ta’minlaydi, shuningdek asfaltbeton qoplama mustaxkamligini, issiq-sovuqq chidamiyligini oshiradi, xizmat ko‘rsatish davrini uzayishini ta’minlaydi.<p></p>
    <p>1 km eni 13 metrlik yo‘l uchun bitum sarfi 2%ga qisqaradi va iqtisodiy samaradorlik 22,0 mln. so‘mdan oshadi. YAroqsiz shinalardan foydalanish orqali respublikamizdagi barcha yo‘llarning o‘tkazish qobiliyatini va mustaxkamligini ta’minlash bilan qoplamalar xususiyatini oshirish imkoni yaratiladi.</p></td>
    </tr>
    <tr>
    <td>6.</td>
    <td>Glitserinli antifriz GA-39 ishlab chiqarish sexi liniyasi<p></p>
    <p>&nbsp;</p>
    <p>(KT kafedrasi dotsenti I.Ro‘zmatov) +998941976765</p></td>
    <td>1. Distillangan suv olish uchun distilyator (Bidistillyator GFL 2108) o‘rnatiladi.<p></p>
    <p>2. Glitserin va distillangan suv uchun sig‘imi 1-2 m<sup>3</sup> hajmli sisternalar o‘rnatilib, dozator orqali aralashtirgichli sisternaga montaj qilinadi.</p>
    <p>3. Tayyor mahsulot olish uchun uning tarkibiga maxsus ingibitor va krasitel qo‘shiladi. 2 m<sup>3</sup> hajmli sisternaga quyilib, maxsus idishlarga qadoqlanadi.</p></td>
    <td>200,0</td>
    <td>Ichki bozor uchun minus 39<sup>o</sup>S haroratgacha muzlamaydigan transport vositalarini ichki yonuv dvigatellarini sovituvchi suyuqlik, ya’ni ANTIFRIZ GA-39 ishlab chiqarish yo‘lga qo‘yiladi. Transport vositalarining sovitish tizimi jihozlarini ingibitor korroziya (zangash)dan himoya qilganligi uchun va antifriz tizimni moylash xususiyatiga ega bo‘lganligi uchun ishlash muddati uzayadi. Mahsulotni shartnoma asosida realizatsiya qilish yo‘lga qo‘yiladi. Respublikamizdagi yog‘-moy kombinatlari mahsuloti glitserin asosida antifriz ishlab chiqariladi. Uning tarkibiga qo‘shiladigan korroziya ingibitorlari ham mahalliy xomashyolar asosida ishlab chiqariladi.</td>
    </tr>
    <tr>
    <td>7.</td>
    <td>Beton qorishmalari uchun muzlashga qarshi va armaturani zanglashdan himoyalovchi qo‘shimcha<p></p>
    <p>&nbsp;</p>
    <p>(KT kafedrasi dotsenti I.Ro‘zmatov) +998941976765</p></td>
    <td>1.Ohaktoshni maydalash uchun sharli tegirmon o‘rnatiladi.<p></p>
    <p>2.Reaksion jarayonni amalga oshirish uchun issiqlikka chidamli emallangan reaktor o‘rnatiladi.</p>
    <p>3.Bug‘latish apparati o‘rnatiladi.</p>
    <p>4.Tayyor mahsulot qadoqlanadi.</p></td>
    <td>300,0</td>
    <td>Beton va temir-beton konstruksiyalari tayyorlash jarayonida qo‘shimchani qo‘llash xlorid ionlari ta’sirida korroziyalanish jarayonini bir necha marta sekinlashtiradi, yilning sovuq kuz-qish mavsumlarida ham, beton va temir-beton mahsulotlari ishlab chiqarish imkoniyatini beradi. Mahalliy xom-ashyolar asosida olingan beton va temir-beton konstruksiyalar tayyorlash uchun qo‘shiladigan sovuqqa chidamli qo‘shimcha hamda betondagi po‘lat armaturalarni korroziya (zanglashdan) himoya qiladi. Beton va temir-beton konstruksiyalarini tayyorlashda qo‘shiladigan qo‘shimchaning konsentratsiyasi 0,2-0,5% bo‘lib, u betonning mustahkamligini 20-30% ga oshiradi, sement sarfini kamaytiradi, tayyor mahsulotni siqilishga nisbatan mustahkamligini 1,5-2 marta oshiradi.</td>
    </tr>
    <tr>
    <td>8.</td>
    <td>Hovli va yo‘l trotuarlar uchun sanoat chiqindisidan foydalanib atmosfera tasiriga chidamli keramik tosh qoplamalar ishlab chiqarish.<p></p>
    <p>(Bino va inshootlar qurilishi kafedrasi dotsenti Berdiev O.B.,</p>
    <p>+9891194981</p>
    <p>QBM va KT kafedrasi mudiri Bozorov I.B.)</p>
    <p>+98915960318</p></td>
    <td>1. Hovli va yo‘l trotuarlar uchun atmosfera tasiriga chidamli keramik tosh qoplamalar tayyorlash mini sexi loyihalanadi.<p></p>
    <p>2. Mini sex liniyasi o‘rnatiladi.</p></td>
    <td>800,0</td>
    <td>Hovli va yo‘l trotuarlar uchun turli xil dizayn va rangli ko‘rinishlariga ega bo‘lgan, atmosfera tasiriga chidamli va mustaxkamligi baland keramik tosh qoplama maxsuloti ishlab chiqariladi. Jizzax viloyati Qo‘ytosh koni hududida to‘planib qolgan sanoat chiqindisi (peroksin) dan mustahkam-ligi baland qurilish materiali ishlab chiqarishda foydalaniladi.<p></p>
    <p>&nbsp;</p></td>
    </tr>
    <tr>
    <td>9.</td>
    <td>Innovatsion noinvaziv glyukometr<p></p>
    <p>&nbsp;</p>
    <p>(IT kafedrasi mudiri U.Turapov)</p>
    <p>+98911904981</p></td>
    <td>qandli diabetda qon tarkibidagi glyukoza miqdorining o‘zgarishini biofaol nuqtalarning biofizik parametri asosida aniqlovchi innovatsion noinvaziv glyukometr uskunasi yaratiladi.</td>
    <td>500,0</td>
    <td>Noinvaziv usul juda qisqa vaqt oralig‘ida qon tarkibidagi glyukoza miqdorini aniqlashi, hech qanday og‘riq sezilmasligi, qondagi glyukoza miqdorini doimo va adekvat tarzda baholashga moslashtirilgan;<p></p>
    <p>YUqumli OITS, gepatit va h.o. kasalliklar yuqishi ehtimolligini butkul bartaraf etaladi. Uskuna qandli diabetdan aziyat chekayotgan bemorlar sonini keskin qisqartirishga va bemorlarga xizmat ko‘rsatishning samaradorligini oshirishga xizmat qiladi.</p></td>
    </tr>
    <tr>
    <td>10.</td>
    <td>Kichik kuchlanishli transformatorlarga, chegaralangan balandlikdagi yoritish uskunalariga va yo‘l harakati belgilariga xavfsiz xizmat kursatuvchi agregat.<p></p>
    <p>(MKK kafedrasi o‘qituvchisi Aripov N.)</p>
    <p>97326615</p></td>
    <td>Gidravlik xizmat ko‘rsatish agregatini tayyorlash turli xil gidrotsilindrlarni qo‘llash orqali yasaladi. MTZ-80 traktoriga ulab xizmat ko‘rsatish amalga oshiriladi.</td>
    <td>100,0</td>
    <td>Bir necha transport vositalari o‘rniga bitta agregat bilan xizmat ko‘rsatish yo‘lga ko‘yiladi va juda katta iktisodiy samaradorlikka erishiladi. Gidravlik xizmat ko‘rsatish agregatini kuyish orkali iktisodiy samaradorlik oshadi va bir necha soxaga ekspluatatsiya kilish imkoniyati yaratiladi.</td>
    </tr>
    <tr>
    <td>11.</td>
    <td>“Biostimulyator” o‘simliklardagi fiziologik jarayonlarni yaxshilaydigan va tashqi zararli ta’sirlarga chidamliligini oshiruvchi modda<p></p>
    <p>(“Kimyo” kafedrasi mudiri SH.Haqberdiev) 974359010</p></td>
    <td>O‘simliklarning o‘sishini tezlashtiruvchi, xosildorligini oshiruvchi hamda zarakunandalarga, kasalliklarga qarshi dori vosita.</td>
    <td>172,0</td>
    <td>Zarakunandalarga qarshi ishlatiladagan xorijdan keltirilgan “Xim karate”, “Nurel” va shunga o‘xshash yashnatuvchi dori vositalar o‘rinini bosadi. “Biostimulyator” qishloq xo‘jalik o‘simliklarini har xil zarakunandalardan himoya qilishi va o‘sishini tezlashtirishi hamda xosildorligini oshirilishi bo‘yicha ilmiy tadqiqot ishlari olib borishi mumkin.</td>
    </tr>
    <tr>
    <td>12.</td>
    <td>Biogazdan metan ajratib olib transport vositalariga qo‘llash texnologiyasi<p></p>
    <p>(EUTT kafedrasi o‘qituvchisi SH.Suvonqulov) 933035504</p></td>
    <td>1.Yirik aholi yashash punktlarida to‘planib boradigan maishiy xo‘jalik chiqindilarining fraksion tarkibi o‘rganiladi<p></p>
    <p>2.Organik chiqindilardan biogaz va ekologik toza o‘g‘itlar ajratib olinadi.</p>
    <p>3CHiqindilardan ajralib chiqan biogazdan metan ajratib olingandan so‘ng hosil bo‘lgan emulsiya qoldig‘ini sho‘rlarni yuvish uchun ishlatiladi</p>
    <p>4Ajratib olingan gazni yonilg‘i sifatida transport vositalariga qo‘llaniladi.</p></td>
    <td>150.0</td>
    <td>Organik chiqindilardan samarali usullar bilan qayta ishlab iqtisodiy jihatdan foydali, ekologik toza mahsulotlar olinadi.<p></p>
    <p>Transport vositalarini neft va tabiiy gaz yonilg‘isi o‘rnini bosa oladigan alternativ yonilg‘i bilan ta’minlanadi. Respublikadagi barcha fermer xo‘jaliklari o‘z transport vositalarini alternativ yonilg‘i bilan ta’minlanish imkoni yaratiladi</p></td>
    </tr>
    <tr>
    <td>13.</td>
    <td>Lalmi va sug‘oriladigan dalalarga g‘alla ekish va uni ozuqlantirish qurilmasi (EUTT kafedrasi ilmiy tadqiqotchisi SH.Xudoyorov) 915658907</td>
    <td>1.Lalmi va sug‘oriladigan dalalarga g‘alla ekish va uni ozuqlantirish NRU -05 qurilmasining takomillashtirilgan texnologiyasi ishlab chiqilgan.<p></p>
    <p>2.Qurilmaning texnik tasnifi, ya’ni g‘allani ekish va uni ozuqlantirish kengligi 16-18 m/ni tashkil etadi.</p></td>
    <td>75.0</td>
    <td>1 ga maydonga g‘alla ekishda 2kg g‘alla urug‘i va yonilg‘i sarfi 50% tejaladi.<p></p>
    <p>G‘alla ekish va uni ozuqlantirishda ushbu qurilma yordamida iqtisodiy samaradorlik 20%ga oshadi. Respublikadagi barcha fermer xo‘jaliklarini ushbu qurilma bilan ta’minlanish imkoni yaratiladi</p>
    <p>&nbsp;</p></td>
    </tr>
    <tr>
    <td>14.</td>
    <td>Nooziq-ovqatli Eritritolni ishlab-chiqarishni yulga qo‘yish va uni yangi tipidagi quyosh kollektorlarda joriy etish<p></p>
    <p>(RT kafedrasi mudiri S.Sattorov) 915959530</p></td>
    <td>Eritritol bir nechta kimyo usullari bilan ishlab chiqarish mumkin:<p></p>
    <p>1. Kraxmaldan glyukoza ishlab chiqariladi. Sungra <strong>Moniliella pollinis</strong> qo‘ziqorin erdamida fermentlanadi va tozanlanmagan Eritritol xosil buladi.</p>
    <p>2. Eritrozani gidratatsiya qilib eritritol xosil buladi. Eritroza esa ribon yoki arabin kislotani elektrolit dekarboksilash usuli bilan ishlab chiqariladi.</p></td>
    <td>990,0</td>
    <td>Eritritol 20-100 gradus temperatura oralig‘ida agregat xolatini uzgaruvchan modda bula turib (phase change material) shuni xisobidan quyosh kollektorlar 24 soat ishlaydi va suvni temperaturasi doimo issik saqlanadi.<p></p>
    <p>Oziq-ovqatli Eritritolni ishlab chiqarishni yo‘lga kuyilsa Respublika miqyosida diabet kasalligi 50% kamayadi. Ishlab chiqarilgan texnik Eritritolni tozalash va oqlash protseduradan keyin uni diabet kassalarga shakarni urnini bosuvchi modda sifatida iste’mol kilish tavsiya etiladi.</p></td>
    </tr>
    <tr>
    <td>15.</td>
    <td>“Reaktiv quvvatni kengaytirilgan parametrli boshkarish” (EE kafedrasi Anarboev M.A. 932978758<p></p>
    <p>Xonto‘raev I.M. Kulanov B.YA</p>
    <p>943494489, Mirzaev U. 943418822</p></td>
    <td>Xozirgi kunda ishlab chiqarish korxonalarining rivojlanishi, xonadonlarda kommunal uskunalarning ko‘p ishlatilishi reaktiv kuvatga bo‘lgan talabni oshirmoqda. Reaktiv quvvatni liniyalar orqali uzatish ko‘p isroflarga olib keladi. Reaktiv quvvatni kompensatsiya qilish faqatgina elektr liniyalaridagi isrofni kamaytiribgina qolmay, balki elektr energiyasining sifat ko‘rsatkichlarini yaxshilab, uzatish liniyalarining, transformatorlarning o‘tkazish imkoniyatini oshiradi. Kompensatsiya uskunalarini istemolchiga qanchalik yaqin joylashtirsak, samaradorlik xam shunchalik yuqori bo‘ladi. Loyihani amalga oshirish O‘zbekiston Respublikasi Adliya Vazirligida 2014 – yil 10 – aprelda 1864–1son bilan ro‘yxatga olingan NIZOM asosida amalga oshiriladi.</td>
    <td>&nbsp;<p></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>150,0</p></td>
    <td>Reaktiv quvvatni kompensatsiya qilish faqatgina elektr liniyalaridagi isrofni kamaytiribgina qolmay, balki elektr energiyasining sifat ko‘rsatkichlarini yaxshilab, uzatish liniyalarining, transformatorlarning o‘tkazish imkoniyatini oshiradi.<p></p>
    <p>Elektr energiyasini ishlab chikarish, uzatish, taksimlash va iste’mol kilishda 10 % gacha elektr energiyasi tejaladi. Elektr sistemasida elektr energiya yukolishlari 15-20 % gacha kamayadi. Elektr energiyasining sifat kursatkichlari yaxshilanadi.</p>
    <p>&nbsp;</p></td>
    </tr>
    <tr>
    <td>16,</td>
    <td>“Sutdan yog‘ni ajratish moslamasi”<p></p>
    <p>(EE kafedrasi Anarboev M., 932978758, Xonto‘raev I.M. 943494489, Kulanov B.YA. 939401512, Olimov O. 903116974</p>
    <p>Abdullaev U. 936135354</p></td>
    <td>Moslama sutdan yog‘ni ajratishga mo‘ljallangan. Moslama sutdan yog‘ni ajratishda sarflanadigan elektr energiyasini tejaydi. Xozirgi kunda ishlatilayotgan moslamalardan ixchamligi, qulayligi va energiya tejamkorligi bilan farq qiladi. Moslamaning barcha qismlarini maxalliy xom ashyolardan tayyorlash mumkin. Moslamani maxalliy bozor uchun “o‘zimizda ishlab chiqarilgan” yangi maxsulot – deb xisoblash mumkin. (xozirgi kunda kishlok joylarda axoli bu ishni kir yuvish mashinasidan foydalanib bajarib kelmokda)</td>
    <td>&nbsp;<p></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>100,0</p></td>
    <td>Moslamani maxalliy bozor uchun “o‘zimizda ishlab chiqarilgan” yangi maxsulot – deb xisoblash mumkin. (xozirgi kunda kishlok joylarda axoli bu ishni kir yuvish mashinasidan foydalanib bajarib kelmokda) Moslamadan xonadonlar, fermerlar va kichik sexlarda foydalanish mumkin talabga qarab bir necha xil sig‘imli qilib ishlab chiqarish mumkin.</td>
    </tr>
    <tr>
    <td>17.</td>
    <td>“Mikro GES” ( EE kafedrasi Anarboev M.A.Xonto‘raev I.M. Kulanov B.YA., Olimov O., Abdullaev U.)</td>
    <td>Loyixaning maqsadi Mikro GES larni yasab istemolchilarga(Tog‘li xudud axolisiga) o‘rnatib berishdan iborat. Mikro GESlarni o‘rnatish ekologik toza elektr energiyasi olish, qayta tiklanadigan energiya resurslaridan unumli foydalanish imkonini beribgina qolmay, elektr energiyasi etib bormagan joylarni elektr energiyasi bilan ta’minlash imkonini xam beradi.</td>
    <td>&nbsp;<p></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>150,0</p></td>
    <td>Mikro GESlar energetik tizim uchun katta quvvat bermasligi mumkin, lekin shu yo‘l bilan quyidagi masalalarni echimini topish mumkin.<p></p>
    <p>1.Axoli turmush darajasini oshirish ;</p>
    <p>2.Neft va gaz maxsulotlarni tejab qolish;</p>
    <p>3.Elektr energiyasini narxini tushirish;</p>
    <p>4.Elektr taminoti uzluksizligini taminlash;</p>
    <p>5.YAngi ish o‘rinlarni tashkil qilish;</p>
    <p>6. Kichik biznesni rivojlantirish.</p></td>
    </tr>
    <tr>
    <td>18.</td>
    <td>“Xarbiylar uchun dala-tog‘ sharoitiga mo‘ljallangan mobil “kuyosh elektr stansiyasi”<p></p>
    <p>( EE kafedrasi Anarboev M.A. Xonto‘raev I.M. Kulanov B.YA., Olimov O.)</p></td>
    <td>Loyixaning maqsadi xarbiylar uchun dala-tog‘ sharoitiga mo‘ljallangan mobil “kuyosh elektr stansiyasi” ni yig‘ish, mantaj kilish keyinchalik ayrim qisimlarini ishlab chiqarishdan iborat</td>
    <td>&nbsp;<p></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>150,0</p></td>
    <td>Xarbiylar uchun dala-tog‘ sharoitida mashg‘ulotlar olib borishda elektr ta’minoti ta’minlanadi, ratsiyalarini , telefonlarini zaryadlash imkoni tug‘iladi. Bundan tashqari tog‘li hududda joylashgan fermer xo‘jaliklari uchun xam elektr ta’minoti ta’minlanadi.</td>
    </tr>
    <tr>
    <td>19.</td>
    <td>Metall qipiqlari bilan dispersli armaturalangan mayda donali (fibra)betonlarni tadqiqotlash va konstruksiyalarda qullash<p></p>
    <p>(AY kafedrasi o‘qituvchisi R.Xamroqulov)</p>
    <p>90312792</p></td>
    <td>1.Ishlab chiqarish korxonalari, metallar-ning qirindilaridan hamda “BAZALT” qo‘shma korxonasidagi bazalt chiqindilaridan fibralar olinib gidroteznik inshootlar, yuk ko‘taruvchi temir beton konstruksiyalar uchun fibrabeton ishlab chiqarish yo‘lga qo‘yiladi.<p></p>
    <p>2.Metall va bazalt tolalarini qirqib fibra tayyorlaydigan quyidagi uskunalar xarid qilinadi.</p>
    <p>A) Metall tolalarini qirquvchi uskuna.</p>
    <p>B) Bazalt tolalarini qirquvchi uskuna</p>
    <p>V) Transformator</p>
    <p>G) Betonouzel</p>
    <p>D) Inert materiallar</p>
    <p>3. Ishlab chiqarish korxonalari, metallar-ning qirindilaridan hamda “BAZALT” qo‘shma korxonasi bilan shartnomalar</p>
    <p>4.Fibrabeton ishlab chiqarishga ruxsat beruvchi sertifikat</p></td>
    <td>150.0</td>
    <td>Fibrabeton qorishmalarni gidroteznik inshootlar, yuk ko‘taruvchi temir beton konstruksiyalarga qo‘llash yo‘li bilan barcha beton va temir beton konstruksiyalarning uzoq muddatga chidamliligi, mustahkamlik sifatlari oshadi.</td>
    </tr>
    </tbody>
    </table>
    <p>&nbsp;</p>
    <p><strong>Ilmiy ishlar va innovatsiyalar bo‘yicha prorektor:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; S.Tavboev</strong></p>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}