{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>ilmiy-Faoliyat</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3">
            {% include "faoliyat/ilmiy-faoliyat/__ilmiy-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col-md-9">
                    <main id="content" class="content-style">
                                                <article id="post-2554" class="post-2554 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Bitiruvchilar klubi</h1>                             </div>
                                <div class="entry-content">
                                                                    <p style="text-align: center;"><strong>Jizzax politexnika instituti&nbsp;</strong><strong>“Bitiruvchilar klubi” a’zolari haqida</strong></p>
    <p style="text-align: center;"><strong>MA’LUMOT</strong><strong>Institutni bitirib, shu institutda faoliyat yuritayotgan professor-o‘qituvchilar va texnik xodimlar ro‘yxati</strong></p>
    <ol>
    <li>Akramov Alisher Abrorovich</li>
    <li>Asatov Temur Nurmuhammatovich</li>
    <li>Berdiyorov Temur Azamatovich</li>
    <li>Bozorov G‘ofir Isroilovich</li>
    <li>Djamalov Utkir Ilxamovich</li>
    <li>Ko‘chimov Abdujamil Hamrakulovich</li>
    <li>Uralov SHuxrat Qo‘chqarovich</li>
    <li>Berdiqulov Azzam Mardonovich</li>
    <li>To‘raqulov Olim Xolbo‘taevich</li>
    <li>Mirzabekov Mirkomil Saidaxmedovich</li>
    <li>Erboev SHavkat Ochiltoshevich</li>
    <li>Matniyazov Bakdurdi Ibragimovich</li>
    <li>Muminov Eldorjon Anvarovich</li>
    <li>Muradov Zuxriddin Muxitdin ug‘li</li>
    <li>Muxammadiev Bekzod Asliddinovich</li>
    <li>Saidbaxromova Noila Dilshod Qizi</li>
    <li>Urishbaev Elbek Elmurod o‘g‘li</li>
    <li>Urozov Abduraxmon Maxmadraximovich</li>
    <li>Xudoyberdiev Jamshid Ziyatovich</li>
    <li>Karakulov Xolmeli Mirzaevich</li>
    <li>Tovboev Baxrom Habibullaevich</li>
    <li>Rahmonov Navro‘zbek Ergashevich</li>
    <li>Toshmurodov Abdurasul YAshuzakovich</li>
    <li>Berdiev Obloqul Boboqulovich</li>
    <li>Ablaeva O‘g‘iloy SHodiqulovna</li>
    <li>Djuraev Uktam Uralbaevich</li>
    <li>Ubaydullaev Abdilbase Suvanqulovich</li>
    <li>Olloyorov Xurram Zafarovich</li>
    <li>YOdgorova Xilola Isroilovna</li>
    <li>Qulmurodov Dilshod Istamovich</li>
    <li>Mirzoqobilov SHerzod Norkuzievich</li>
    <li>Nurullaev Usmon Allakulovich</li>
    <li>Odilov Nurmuhammad Eshpo‘lat o‘g‘li</li>
    <li>Turdiev Ma’ruf SHukurillaevich</li>
    <li>Umirov Ilxom Iskandar o‘g‘li</li>
    <li>Urdushev Avaz G‘anievich</li>
    <li>Abdunazarov Jamshid Nurmuxamatovich</li>
    <li>Begmatov Baxriddin YAxshiboevich</li>
    <li>Islomov sherzod Eshpo‘latovich</li>
    <li>Karimova Kamola G‘ulomovna</li>
    <li>Mamaeva Lenie Mansurovna</li>
    <li>Suvanqulov SHerali Abdumannonovich</li>
    <li>Xudoyorov SHarof To‘ychievich</li>
    <li>Xo‘janazarov Bobir Farmonovich</li>
    <li>Guliev Alijon Abdulxakimovich</li>
    <li>Iskandarova Ziyoda Abdumajidovna</li>
    <li>Abraev Mamarasul Salimovich</li>
    <li>Adilov Nabi Xursanovich</li>
    <li>Boymurodova Mahzuna Tursunkulovna</li>
    <li>Mamatqulov Asilbek Kiryigitovich</li>
    <li>Mansurov Olim Pardaboevich</li>
    <li>Xasilov Ilxam Narmatovich</li>
    <li>Saidmirzaeva Dilnoza</li>
    <li>Abduraxmonov Mirqosim Mirazim o‘g‘li</li>
    <li>Axmedov Zoxid Sobirovich</li>
    <li>Mustafoev Bexzod Farxodovich</li>
    <li>Sadullaev Umar Sayfullaevich</li>
    <li>Xoshimova SHoira Safarovna</li>
    <li>YUldoshov Bunyod Tirkashevich</li>
    <li>Aziztoeva Feruza Alpomishevna</li>
    <li>Rasulov SHavkat</li>
    <li>Jabborova Zaynab Mamasodiqovna</li>
    <li>Kamilov Dilshod To‘ychi o‘g‘li</li>
    <li>Bozorova Saboxat Abdujabborovna</li>
    <li>Nasriddinov Jasur Islomovich</li>
    <li>Obidova Feruza YAxyoevna</li>
    <li>Saidahmedova Dilafruz Saidbahromovna</li>
    <li>Siddiqov Mo‘minjon Mamayunusovich</li>
    <li>Umarova Zevi Odilovna</li>
    <li>Raxmonov Furkat Abduxakimovich</li>
    <li>Ergasheva Kamola Nasriddinovna</li>
    <li>Kutlimurotov Ulugbek Masharipovich</li>
    <li>Pirnazarov Ilxom Islomovich</li>
    <li>Matniyazov Xasanboy</li>
    <li>Musaev SHarof</li>
    <li>Bobomurodov Umirqul Sattarovich</li>
    <li>Mansurova SHaxnoza Pulatovna</li>
    <li>Saydullaev Sirojiddin Rahmatullaevich</li>
    <li>Murtazin Emil Rustamovich</li>
    <li>Aynaqulov Xusniddin Abduhamidovich</li>
    <li>Ahmedov Burhon</li>
    <li>Igamberdiev Dilshod Xolmurod o‘g‘li</li>
    <li>Muxiddinov Abduvali</li>
    <li>Muxiddinov Abduvahob Abduvali o‘g‘li</li>
    <li>Nazarov Ortiq Tursunovich</li>
    <li>Jo‘lanov Isoq Odilovich</li>
    <li>Narbekov Nodir Narmatovich</li>
    <li>Soatov SHarof Anvarovich</li>
    <li>Xudayberdiev Bobir Botirovi</li>
    <li>Bobomurodov Zokir Abduqaxxorovich</li>
    <li>Boliev Alisher Mardievich</li>
    <li>Kushakov Gulmurod Adilovich</li>
    <li>Xonto‘raev Ikromjon Munavarovich</li>
    <li>Djamalov Zohid Zafarovich</li>
    <li>Karimova Nurzoda Narzikulovna</li>
    <li>Ermatov Otabek Sayitovich</li>
    <li>Abdusamatov Kamol Begalievich</li>
    <li>Mirzaeva Inobat Toxirovna</li>
    <li>Parsaeva Nodira Jur’atovna</li>
    <li>Berdieva Dildora</li>
    <li>Xudoyberdieva Gulzoda</li>
    <li>Xoldorov Boxodir Baratovich</li>
    <li>Kiryigitov Xurshid</li>
    <li>Karaev G‘ulom</li>
    <li>Nosirov Navruz Ne’mat o‘g‘li</li>
    <li>Xazratqulov SHoxrux Boxodir o‘g‘li</li>
    <li>Nazarova Nigora</li>
    <li>Eshmonov Bobur</li>
    <li>Tursunova Malohat</li>
    <li>Pulatova Lobar</li>
    </ol>
    <p>&nbsp;</p>
    <p style="text-align: center;"><strong>Institutni bitirib, ishlab chiqarishning turli jabhalarida faoliyat yuritayotgan bitiruvchilar ro‘yxati</strong></p>
    <p><strong><em><u>“Bino va inshootlar qurilishi” kaferasi</u></em></strong></p>
    <p>Raxmonkulov Akram, 1992, Viloyat xokimining kurilish masalalari bo‘yicha o‘rinbosari</p>
    <p>Mamasoliev Isroil, 1999, “Meros” KTXICHF rahbari</p>
    <p>Raxmonkulov Akbar, 2014, “Zenatkor temirbeton buyumlari” MCHJ rahbari</p>
    <p>Zokirov O‘tkir, 1990, “Zokir Ota-bek” MCHJ rahbari</p>
    <p>Juraev SHuxrat, 1996, Sirdaryo-Zarafshon ITXB boshligi</p>
    <p>Axmedov Akmal, 2018, “Agrokvant” XK ish boshqaruvchi</p>
    <p>Nazarov Baxtier, 1992, “Injener-servis” MCHJ rahbari</p>
    <p>Abdusamatov Ne’mat, 1992, “Muhandis quruvchilar” MCHJ rahbari</p>
    <p>Turopov Doston, 2017, “Mega grant montaj” MCHJ rahbari</p>
    <p>&nbsp;</p>
    <p><strong><em><u>“Kimyoviy texnologiya” kaf</u></em></strong><strong><em><u>e</u></em></strong><strong><em><u>dra</u></em></strong><strong><em><u>s</u></em></strong><strong><em><u>i</u></em></strong></p>
    <p>Inomov Musaxon Abduvalievich, 2008, G‘allaorol tuman 11 -maktab direktori</p>
    <p>Xudoyberdiev Baxtiyor Olimovich, 1999, Agrosanoat majmui Xizmat ko‘rsatish markazi direktor o‘rinbosari</p>
    <p>Xasanov Baxodir Ergashevich, 2000, Agrosanoat majmui Xizmat ko‘rsatish markazi bosh mutaxassisi</p>
    <p>Mamatqulov Dilshod Axmatjonovich, 1999, “Jizzaxplastmassa” AJ bosh muxandis muovini</p>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}