{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>ilmiy-Faoliyat</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3">
            {% include "faoliyat/ilmiy-faoliyat/__ilmiy-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                {% comment %} <h1>ilm-fan-2024</h1> {% endcomment %}
                <div class="col-12">
                    <main id="content" class="content-style">
                                                <article id="post-1764" class="post-1764 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Ilm-fan-2022</h1>                             </div>
                                <div class="entry-content">
                                                                    <p align="center"><strong>Xalqaro ilmiy-texnik ma’lumotlar bazasidan foydalanish bo‘yicha</strong><br>
    <strong>“Maslahat markazi”</strong></p>
    <p align="justify">Ilmiy va ilmiy-pedagogik kadrlar tayyorlash bo‘limi negizida Scopus va Science Direct xalqaro ilmiy-texnik ma’lumotlar bazasidan foydalanish bo‘yicha professor o‘qituvchilar, doktorant va talabalar uchun ko‘maklashuvchi institut rektorning&nbsp;16.04.2018 yildagi №213-AF sonli buyrug‘iga asosan “Maslahat markazi” tashkil etildi.<br>
    <strong>“Maslahat markazi”ning tarkibi</strong></p>
    <div align="center">
    <table class="table table-bordered" width="100%">
    <tbody>
    <tr>
    <td width="6%"><strong>№</strong></td>
    <td width="43%"><strong>F.I.SH.</strong></td>
    <td width="50%"><strong>Lavozimi</strong></td>
    </tr>
    <tr>
    <td width="6%">1</td>
    <td width="43%">Berdiyorov Temur</td>
    <td width="50%">Ilmiy ishlar va innovatsiyalar bo‘yicha prorektor</td>
    </tr>
    <tr>
    <td width="6%">1</td>
    <td width="43%">O‘ralov SHuhrat</td>
    <td width="50%">Institut ARM boshlig‘i</td>
    </tr>
    <tr>
    <td width="6%">2</td>
    <td width="43%">Musayev Sharof Mamarajabovich</td>
    <td width="50%">Ilmiy-tаdqiqotlаr, innovаtsiyalаr vа ilmiy-pedаgogik kаdrlаr tаyyorlаsh boʼlimi boshlig‘i</td>
    </tr>
    <tr>
    <td width="6%">3</td>
    <td width="43%">Baratov Ilhom</td>
    <td width="50%">Ilmiy-tаdqiqotlаr, innovаtsiyalаr vа ilmiy-pedаgogik kаdrlаr tаyyorlаsh bo‘limi xodimi</td>
    </tr>
    <tr>
    <td width="6%">4</td>
    <td width="43%">Jamolov O‘tkir</td>
    <td width="50%">Institut axborot texnologiyalari markazi direktori</td>
    </tr>
    <tr>
    <td width="6%">5</td>
    <td width="43%">Mahkamov Shoxrux</td>
    <td width="50%">O’qitishni texnik vositalari bo’limi boshlig’i</td>
    </tr>
    <tr>
    <td width="6%">6</td>
    <td width="43%">Raxmatov Utkirjon</td>
    <td width="50%">Xalqaro hamkorlik bo‘limi boshlig‘i</td>
    </tr>
    </tbody>
    </table>
    </div>
    <p align="justify">Institutda faoliyat yuritayotgan har bir kafedrada xalqaro ilmiy-texnik ma’lumotlar bazasidan foydalanishni tashkil etish va uning monitoringini olib borish bo‘yicha kafedra mudirlari va har bir kafedradan bir mas’ul o‘qituvchi belgilandi.</p>
    <table class="table table-bordered" width="100%">
    <tbody>
    <tr>
    <td width="7%">№</td>
    <td width="65%">Kafedra nomi</td>
    <td width="26%">Kafedra mudiri</td>
    </tr>
    <tr>
    <td width="7%">1</td>
    <td width="65%">Transport vositalari muhandisligi</td>
    <td width="26%"><strong>Asqarov Ixtiyor Baxtiyorovich</strong></td>
    </tr>
    <tr>
    <td width="7%">2</td>
    <td width="65%">Yo‘l muhundisligi</td>
    <td width="26%"><strong>Ganiyev Inomjon Gulomovich </strong></td>
    </tr>
    <tr>
    <td width="7%">3</td>
    <td width="65%">Ijmimoiy fanlar</td>
    <td width="26%"><strong>Qulmatov Primqul Meliqo‘ziyevich</strong></td>
    </tr>
    <tr>
    <td width="7%">4</td>
    <td width="65%">Xorijiy tillar</td>
    <td width="26%"><strong>Bazarov Bunyod Tulkunjonovich</strong></td>
    </tr>
    <tr>
    <td width="7%">5</td>
    <td width="65%">Bino va inshootlar qurilishi</td>
    <td width="26%"><strong>Asatov Nurmuxammad Abdunazarovich</strong></td>
    </tr>
    <tr>
    <td width="7%">6</td>
    <td width="65%">Arxitekturaviy loyixalash</td>
    <td width="26%"><strong>Bobobekov Baxodir Qudratovich</strong></td>
    </tr>
    <tr>
    <td width="7%">7</td>
    <td width="65%">Muxandislik kommunikatsiyalar</td>
    <td width="26%"><strong>Sultonov Akmal Obidovich</strong><p></p>
    <p><strong>Qutlimurodov u m</strong></p></td>
    </tr>
    <tr>
    <td width="7%">8</td>
    <td width="65%">O‘zbek tili va adabiyoti</td>
    <td width="26%"><strong>Xamdamova Xanifa</strong></td>
    </tr>
    <tr>
    <td width="7%">9</td>
    <td width="65%">Qurilish materiallari va konstruksiyalari</td>
    <td width="26%"><strong>Berdiyev Oblokul </strong></td>
    </tr>
    <tr>
    <td width="7%">10</td>
    <td width="65%">Umum texnika fanlari</td>
    <td width="26%"><strong>Turmatov Jalol</strong></td>
    </tr>
    <tr>
    <td width="7%">11</td>
    <td width="65%">Muhandislik va komryuter grafikasi kafedrasi mudir</td>
    <td width="26%"><strong>Aynakulov Muxiddin Abduxamidovich</strong></td>
    </tr>
    <tr>
    <td width="7%">12</td>
    <td width="65%">To‘qimachilik maxsulotlarini qayta ishlash</td>
    <td width="26%"><strong>Doniyorov Bektosh Bahodirovich</strong></td>
    </tr>
    <tr>
    <td width="7%">13</td>
    <td width="65%">Tabiy tolalar va matoga ishlov berish</td>
    <td width="26%"><strong>Egamberdiyev Fazliddin</strong> <strong>Otakulovich</strong></td>
    </tr>
    <tr>
    <td width="7%">14</td>
    <td width="65%">Qishloq xo‘jalik va oziq-ovqat maxsulotlarini qayta ishlash</td>
    <td width="26%"><strong>Xoldorov Boxodir Baratovich</strong></td>
    </tr>
    <tr>
    <td width="7%">15</td>
    <td width="65%">Jismoniy tarbiya</td>
    <td width="26%"><strong>Abduvaliyev Xurshid Abdulxamidovich</strong></td>
    </tr>
    <tr>
    <td width="7%">16</td>
    <td width="65%">Kimyoviy texnologiya</td>
    <td width="26%"><strong>Vakkosov Sobir Sayfullayevich</strong></td>
    </tr>
    <tr>
    <td width="7%">17</td>
    <td width="65%">Ekologiya va atrof muhit muxofazasi</td>
    <td width="26%"><strong>Kiryigitov Xurshid Botirovich</strong></td>
    </tr>
    <tr>
    <td width="7%">18</td>
    <td width="65%">Kimyo</td>
    <td width="26%"><strong>Haqberdiyev Shuxrat Mahramovich</strong></td>
    </tr>
    <tr>
    <td width="7%">19</td>
    <td width="65%">Oliy matematika</td>
    <td width="26%"><strong>Soatov Ulug‘bek</strong></td>
    </tr>
    <tr>
    <td width="7%">20</td>
    <td width="65%">Energetika</td>
    <td width="26%"><strong>Anorboyev Muxiddin Amanovich</strong></td>
    </tr>
    <tr>
    <td width="7%">21</td>
    <td width="65%">Elektr texnologiyasi</td>
    <td width="26%"><strong>Parsaxonov Abdukobil Gofurovich</strong></td>
    </tr>
    <tr>
    <td width="7%">22</td>
    <td width="65%">Radioelektronika</td>
    <td width="26%"><strong>Mustafakulov Jabbor Axmatkulovich</strong></td>
    </tr>
    <tr>
    <td width="7%">23</td>
    <td width="65%">Ishlab chiqarish jarayonlarini avtomatlashtirish va boshqarish</td>
    <td width="26%"><strong>Turopov Ulug‘bek Urazqulovich</strong></td>
    </tr>
    <tr>
    <td width="7%">24</td>
    <td width="65%">Fizika</td>
    <td width="26%"><strong>Mustafokulov Asror Axmedovich</strong></td>
    </tr>
    <tr>
    <td width="7%">25</td>
    <td width="65%">Transport logistikasi</td>
    <td width="26%"><strong>Mamayev G‘ulom </strong></td>
    </tr>
    <tr>
    <td width="7%">26</td>
    <td width="65%">Iqtisodiyot va menejmet</td>
    <td width="26%"><strong>Abdunazarov Saidaxmat Abdumalikovich</strong></td>
    </tr>
    <tr>
    <td width="7%">27</td>
    <td width="65%">Metrologiya va strandartlashtirish</td>
    <td width="26%"><strong>Shertaylakov Gayrat Muradovich</strong></td>
    </tr>
    <tr>
    <td width="7%">28</td>
    <td width="65%">Professional taʼlim</td>
    <td width="26%"><strong>Alikulov Saloxiddin Turdimuradovich</strong></td>
    </tr>
    </tbody>
    </table>
    <p align="justify">Xalqaro ilmiy-texnik ma’lumotlar bazasidan foydalanishni tashkil etish va uning monitoringini olib borish bo‘yicha mas’ullar ro‘yxatiIlmiy va ilmiy-pedagogik kadrlar tayyorlash bo‘limi tomonidan Scopus va Science Direct xalqaro ilmiy-texnik ma’lumotlar bazasidan foydalanish bo‘yicha yo‘riqnomalar tayyorlandi.</p>
    <p><strong>Xalqaro ilmiy-texnik ma’lumotlar bazasidan foydalanish bo’yicha yo’riqnoma.</strong></p>
    <p><a class="a-link"  href="https://www.jizpi.uz/wp-content/uploads/2018/06/Digital-Library-White-Paper-5-бет.pdf"><strong>Ko’chirib olish</strong></a></p>
    <p><strong>Ro’yxatdan o’tish bo’yicha qo’llanma.</strong></p>
    <p><a  class="a-link" href="https://www.jizpi.uz/wp-content/uploads/2018/06/Рўйхатдан-ўтиш-қўлланмаси.pdf"><strong>Ko’chirib olish</strong></a></p>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}