{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>ilmiy-Faoliyat</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3">
            {% include "faoliyat/ilmiy-faoliyat/__ilmiy-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col-md-9">
                    <main id="content" class="content-style">
                                                <article id="post-2542" class="post-2542 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Ilmiy tadqiqot yo’nalishlari</h1>                             </div>
                                <div class="entry-content">
                                                                    <p style="text-align: center;"><strong>Jizzax politexnika instituti ilmiy-tadqiqot</strong></p>
    <p style="text-align: center;"><strong>faoliyatining ustuvor yo‘nalishlari</strong></p>
    <p align="justify">O‘zbekiston Respublikasi Prezidentining “O‘zbekiston Respublikasini yanada rivojlantirish bo‘yicha Harakatlar strategiyasi to‘g‘risida”gi 2017 yil 7 fevraldagi PF-4947-sonli farmonida oliy ta’lim sifatini yaxshilash hamda ularni rivojlantirish chora­tadbirlarini amalga oshirish alohida belgilab berilgan. Farmonda ko‘zda tutilgan vazifalardan kelib chiqqan holda, institutda ta’lim sifatini va ilmiy tadqiqot faoliyatini yuqori saviyaga ko‘tarish borasida aniq maqsadlarga yo‘naltirilgan ishlar amalga oshirilmoqda.</p>
    <p align="justify">Joriy yilda O‘zbekiston respublikasini va Jizzax viloyatini ijtimoiy-iqtisodiy rivojlantirish uchun ustivor&nbsp; <strong>9 ta yo‘nalishlar</strong> bo‘yicha ilmiy-tadqiqot ishlari olib borildi. Ilmiy-tadqiqotlar yuqori saviyada olib borish uchun institutda ilmiy va moddiy-texnik bazani kuchaytirish hamda faoliyat ko‘rsatayotgan professor-o‘qituvchi va mutaxassis olimlarning ilmiy potensialini oshirish borasida tadbirlar amalga oshirildi.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Jumladan, Davlat ilmiy-texnik dasturlari doirasida davlat byudjetidan mablag‘ bilan ta’minlanmaydigan ilmiy-tadqiqot ishlarining bajarilishi va ulardan olingan ilmiy va amaliy natijalar:</p>
    <p align="justify"><strong>01A – yo‘nalish: </strong>Mintaqa xalq xo‘jaligini rivojlantirishda yangi axborot tizimlarini joriy qilish muammolari.</p>
    <p align="justify"><strong>02A – yo‘nalish: </strong>Texnika yo‘nalishidagi OO‘YU talabalari uchun zamonaviy kompyuter dasturlari va pedagogik o‘qitish usullarining ilmiy asoslarini ishlab chiqish.</p>
    <p>02A.01–muammo: O‘quvchilarda zamonaviy kompter tarmoqlarini ishlatish va o‘rgatish bo‘yicha ko‘nikma va malakalarini ishlab chiqish.</p>
    <p>02A.02–muammo: Ob’ektlarni sinflash va anglash masalalarida monoton sistemalar metodi orqali echim qabul qilish va uning dasturiy ta’minotini yaratish.</p>
    <p align="justify"><strong>&nbsp;</strong><strong>03A-yo‘nalish:</strong> “Avtomobil transportidan foydalanish samaradorligi va harakat xavfsizligini ta’minlashning ilmiy asoslarini ishlab chiqish” (Ilmiy rahbar: t.f.n. dotsent O.K.Adilov) bo‘yicha 2015-2021 yillarga mo‘ljallangan ilmiy-tadqiqot ishlari davom ettirildi. Joriy yilda 4 ta maqola ilmiy jurnalda, 3 ta maqola xorijiy jurnalda chop etirildi. SHuningdek 2 ta dasturiy patent olindi. Ilmiy – amaliy anjumanlarda 15 ta maqola chop etirildi. Bundan tashqari 1 nafar mustaqil tadqiqotchi, 5 nafar&nbsp; magistrant, 2 nafar iqtidorli talaba ilmiy tadqiqot ishlarini olib bormoqda, ilmiy tadaqiqot ishilari yuzasidan xisobotlari kafedraga taqdim etilgan. Ilmiy tadqiqot ishlari yuzasidan ilmiy maqola va tezislar&nbsp; ilmiy – amaliy anjumanlarda chop etililgan. Turli tadbirlarda ishtiroklari bilan diplom va sertifikatlar olishgan.</p>
    <p align="justify"><strong>4A-yo‘nalish</strong>: “Kristall materiallarni strukturaviy uzgarishlarini tadkik etish” mavzusi asosida prfessor o‘qituvchilar ilmiy tadkikot ishlarini olib borishmoqda.</p>
    <p align="justify">Olib borilayotgan ilmiy-tadqiqot ishlari natijalari asosida Davlat grantlari, innovatsion loyihalar tanlovi va Respublika yarmarkalariga ilmiy loyihalar tayyorlanmoqda va ilmiy daraja olish uchun doktorlik dissertatsiyalari tayyorlanmoqda.</p>
    <p>Ushbu yo‘nalish bo‘yicha quyidag mavzular bo‘yicha ilmiy izlanishlar olib borildi.</p>
    <p align="justify">-Kristall materiallarning xususiyatlarini spektroskopik usullarda tekshirish. Rahbar va maslahatchilar: f.m.f.d. Prof. YUldashev U.YU.</p>
    <p align="justify">-Noravshan muxitda murakkab tizim biofaol nuqtalardan foydalanib qon tarkibini aniqlashning matematik va algoritmik ta’minoti. Raxbar U.Turopov, ijrochilar Qo‘shoqov G, Olimov O.</p>
    <p>-Elektroenergetikaning dolzarb muammolari.</p>
    <p>Maslahatchilar prof. I.X.Siddiqov, prof.Pirmatov. N.</p>
    <p align="justify">Ijrochilar: F.Nazarov, Sa’dullaev A, Anorboev M, Astanov B, O.Nurullaev, Xonturaev I, Narimonov B, assistentlar R. Kazakov, U. Mirzaev.</p>
    <p align="justify"><strong>5A-yo‘nalish</strong>: “Mahalliy xom-ashyolar asosida raqobatbardosh mahsulotlar yaratish texnologiyalari” mavzusida ilmiy tadqiqotlar davom ettirilmoqda</p>
    <p align="justify">Joriy yilda ushbu yo‘nalish asosida “Mahalliy xom-ashyolar va sanoat chiqindilari asosida tarkibida korroziya ingibitorlari saqlovchi sovutgich suyuqliklar yaratish” hamda “Atsetilenni bug‘ fazada gidratatsiyalash uchun mahalliy xom-ashyolar asosida katalizatorlar yaratish” mavzularida ilmiy-tadqiqot ishlari olib borildi.</p>
    <p align="justify"><strong>6A- yo‘nalish</strong>: “Mashinalar majmuini takomillashtirish va parametrlarini asoslash” mavzusida ilmiy tadiqot ishlari davom ettirildi.</p>
    <p align="justify">Joriy yilda ushbu yo‘nalish bo‘yicha “Qishloq xo‘jalik ekinlari urug‘ini ajratadigan qurilmalar va ularni o‘lchamlarini asoslash”, “Tuproqqa asosiy ishlov berish mashinalari ish ko‘rsatkichlarini oshirish”, “Eryong‘oqni ekish, qator oralariga ishlov berish, yig‘ishtirish hamda donini po‘choqlaridan ajratuvchi mashinalar majmuini takomillashtirish va ularning parametrlarini asoslash” mavzularida ilmiy-tadqiqot ishlari olib borilmoqda.</p>
    <p align="justify"><strong>7A-yo‘nalish</strong>: “Tog‘ tizmalari tizimida tabiiy resurslarni rivojlantirish” mavzusida ilmiy tadqiot ishlarini davom ettirdilar.</p>
    <p align="justify">Joriy yilda ushbu yo‘nalishda “Archovniki Pamira-Alayskogo xrebta” mavzusidagi ilmiy ishda o‘simliklarning noyob dorivor xususiyatlari o‘rganildi va ilmiy maqolaga natijalar kiritilib Avstriyaning STAPFIYA jurnaliga yuboriladi Archazorlar formatsiyasi tarkibida o‘suvchi Kindikchalik karrak o‘simligini noyobligi aniqlab, uni O‘zbekiston qizil kitobiga kiritishga tavsiya etildi. O‘zbekiston qizil kitobi. 297 bet.</p>
    <p align="justify"><strong>8A-yo‘nalish</strong>: “Aydar-Arnasoy ko‘llar tizimida tabiiy resurslarni rivojlantirish” mavzusida ilmiy tadqiot ishlarini davom ettirdilar.</p>
    <p align="justify">Joriy yilda ushbu yo‘nalishda “Kungaboqar savati va uzum siqmasidan pektin olish texnologiyasini takomillashtirish” mavzusida ilmiy tadqiqot ishlari davom ettirildi.</p>
    <p align="justify">“Aydar-Arnasoy ko‘llar tizimi tabiiy resurslarini ekoturizmni rivojlantirish maqsadida baholash” mavzusida ilmiy tadqiqot ishi bo‘yicha Aydar-Arnasoy ko‘llar tizimining tabiiy resurslari, suv miqdori, suvning gidrologiyasi va gidroximiyasi&nbsp; 1960, 1990 yillar va hozirgi holatlari&nbsp; tahlillar asosida o‘rganildi.</p>
    <p align="justify"><strong>9A-yo‘nalish</strong>: “Temir-beton konstruksiyalarining mustahkamlik parametrlarini asoslash” mavzusida ilmiy tadqiqot ishlari davom ettirildi.</p>
    <p align="justify">Joriy yilda ushbu yo‘nalish asosida “Quruq va issiq iqlimda betonning suv filtratsiyasining nazariy asoslarini ishlab chiqish va yuqori bosimlarda suv o‘tkazmaydigan beton tayyorlash texnologiyasini yaratish” mavzusida ilmiy ishlarini boshlagan.</p>
    <p align="justify">“Issledovanie prochnosti i deformativnosti tonkostennыx konicheskix obolochek ekspluatiruemыx v usloviyax suxogo i jarkogo klimata” mavzusida ilmiy izlanishlar olib borildi va quyidagi natijalarga erishildi:</p>
    <p align="justify">– Samarqand davlat arxitektura-qurilish instituti qoshidagi “Fazoviy konstruksiyalar binolar va inshootlar zizilabardoshligi” ilmiy ishlab chiqarish laboratoriyasining olimlari bilan hamkorlikda yupqa temir-beton konussimon gumbazlar qo‘llanilgan yopmalarni xisoblash, loyihalash, tayyorlash va qurish texnologiyalari bo‘yicha m’yoriy ko‘rsatmalar ishlab chiqishda ishtirok etildi.</p>
    <p align="justify">– qisqa va uzoq muddatli yuklangan yupqa devorli temirbeton konussimon qobiq gumbazni tayanch xalqasining deformatsiyasi hisobga olingan holdagi&nbsp; eksperimental tadqiqot etish&nbsp; usullari o‘rganildi;</p>
    <p align="justify">– yupqa devorli temirbeton konussimon qobiq gumbazni yuqori darajadagi ekspluatatsion buzuvchi kuchlar tasiriga EHMlarini qo‘llagan holda loyihalash va hisoblash bo‘yicha takliflar kiritildi.</p>
    <p align="justify">“Issledovanie prochnosti jelezobetonnыx balok s uchetom sil zatsepleniya v naklonnыx treщinax i vneshnego armirovaniya vыsokoprochnыmi kompozitami” mavzusida ilmiy izlanishlar olib borildi va quyidagi natijalarga erishildi:</p>
    <p align="justify">– Toshkent avtomobil yo‘llari va Jizzax politexnika istitutining ilmiy laboratoriyalarida egilishga ishlovchi temir-beton konsitruksiyalarining mustaxkamligini aniqlash bo‘yicha tajriba ishlari o‘tkazildi.</p>
    <p align="justify">– o‘tkazilgan tajriba ishlari natijalari bo‘yicha Qozon davlat-arxitektura qurilish institiutida o‘tkazilgan «Mexanika razrusheniya stroitelnыx materialov i konstruksiy» mavzusidag xalqaro konferensiyada ilmiy maqolalar (3 dona) elon qilindi.</p>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}