{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>ilmiy-Faoliyat</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3">
            {% include "faoliyat/ilmiy-faoliyat/__ilmiy-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col-12">
                    <main id="content" class="content-style">
                                                <article id="post-2529" class="post-2529 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Ilmiy tadbirlar</h1>                             </div>
                                <div class="entry-content">
                                                                    <hr>
    <p style="text-align: center;" align="justify"><strong>“</strong>Paxta tozalash jarayonida tozalagich agregati konstruksiyasini takomillashtirish<strong>” mavzusidagi texnika fanlari </strong>bo‘yicha falsafa doktori<strong> (</strong>PhD<strong>) dissertatsiyasi bo‘yicha – seminari bo‘lib o‘tdi.</strong></p>
    <p>10.07.2021 yil soat 10-00 da ZOOM dasturi orqali talabgor Ibrat YAxshimurodovich Rajabovning 05.02.03 – Texnologik mashinalar. Robotlar, mexatronika va robototexnika tizimlari ixtisosligi bo‘yicha <strong>“</strong>Paxta tozalash jarayonida tozalagich agregati konstruksiyasini takomillashtirish<strong>” mavzusidagi texnika fanlari </strong>bo‘yicha falsafa doktori<strong> (</strong>PhD<strong>) </strong>dissertatsiyasi bo‘yicha etakchi tashkilot – Jizzax politexnika institutining seminari bo‘lib o‘tdi.</p>
    <hr>
    <p style="text-align: center;" align="justify"><strong>“Paxta xomashyosi va tolasini tozalagichlarining konstruksiyalarini ishlab chiqish va parametrlarini hisoblashning ilmiy asoslari” mavzusidagi texnika fanlari doktori (DSc) dissertatsiyasi bo‘yicha – seminari bo‘lib o‘tdi.</strong></p>
    <p align="justify">03.07.2020 yil soat 14-00 da ZOOM dasturi orqali talabgor Toxir Mamarajapovich Kulievning 05.02.03 – Texnologik mashinalar. Robotlar, mexatronika va robototexnika tizimlari ixtisosligi bo‘yicha “Paxta xomashyosi va tolasini tozalagichlarining konstruksiyalarini ishlab chiqish va parametrlarini hisoblashning ilmiy asoslari” mavzusidagi texnika fanlari doktori (DSc) dissertatsiyasi bo‘yicha etakchi tashkilot- Jizzax politexnika institutining seminari bo‘lib o‘tdi.</p>
    <hr>
    <p style="text-align: center;"><strong>«To‘g‘ri oqimli tola ajratish qurilmasi konstruksiyasini ishlab chiqish va parametrlarini asoslash» mavzusidagi dissertatsiya&nbsp; seminari bo‘lib o‘tdi.</strong></p>
    <p align="justify">20.06.2020 yil soat 10-00 da ZOOM dasturi orqali talabgor Abduvali Turg‘unpo‘latovich Majidovning 05.02.03 – “Texnologik mashinalar, Robotlar, mexatronika va robototexnika tizimlari” ixtisosligi bo‘yicha texnika fanlari bo‘yicha falsafa doktori (PhD) ilmiy darajasini olish uchun Namangan muhandislik-texnologiyalar instituti huzuridagi ilmiy darajalar beruvchi PhD.03/30.12.2019.01 raqamli ilmiy kengashi tomonidan himoyaga tavsiya etilgan «To‘g‘ri oqimli tola ajratish qurilmasi konstruksiyasini ishlab chiqish va parametrlarini asoslash» mavzusidagi dissertatsiya ishiga etakchi tashkilot – Jizzax politexnika institutining seminari bo‘lib o‘tdi.</p>
    <hr>
    <p align="justify">Аnarboyev Muxiddin Аlmanovichning <strong>«Reaktiv quvvatni boshqarish tizimlari uchun funktsiyalarining imkoniyatlari kengaytirilgan elektromagnit tokni kuchlanishga oʼzgartgichlar”</strong> mavzusida texnika fanlari boʼyicha falsafa doktori (PhD) dissertatsiya ishi himoyasi bo’lib o’tdi.</p>
    <p align="justify">2021 yil 19 iyun soat 10<sup>00&nbsp;&nbsp;</sup>da Anarboyev Muxiddin Аlmanovichning 05.01.06 – “Hisoblash texnikasi va boshqaruv tizimlarining elementlari va qurilmalari” (texnika fanlari) ixtisosligi boʼyicha “Reaktiv quvvatni boshqarish tizimlari uchun funktsiyalarining imkoniyatlari kengaytirilgan elektromagnit tokni kuchlanishga oʼzgartgichlar” mavzusida tayyorlangan doktorlik (PhD) dissertatsiyasining himoyasi Toshkent davlat texnika universiteti huzuridagi ilmiy darajalar beruvchi DSc.03/30.12.2019.T.03.02 raqamli Ilmiy kengashning majlisida boʼlib oʼtdi.</p>
    <hr>
    <p style="text-align: center;"><strong>“Konduktiv issiqlik almashuvini takomillashtirish asosida paxtani qurish jarayonini tezlashtirish” mavzusidagi texnika fanlari bo‘yicha falsafa doktori (PhD) dissertatsiyasi bo‘yicha&nbsp; seminari bo‘lib o‘tdi.</strong></p>
    <p align="justify">13.06.2020 yil soat 14-00 da ZOOM dasturi orqali talabgor YUlduz Ilxomovna Ko‘palovaning 05.06.02 -“To‘qimachilik materiallari texnologiyasi va xom ashyoga dastlabki ishlov berish” ixtisosligi bo‘yicha texnika fanlari bo‘yicha falsafa doktori (PhD) ilmiy darajasini olish uchun Namangan muhandislik-texnologiyalar instituti huzuridagi ilmiy darajalar beruvchi PhD.03/30.12.2019.01 raqamli ilmiy kengashi tomonidan himoyaga tavsiya etilgan “Konduktiv issiqlik almashuvini takomillashtirish asosida paxtani qurish jarayonini tezlashtirish” mavzusidagi texnika fanlari bo‘yicha falsafa doktori (PhD) dissertatsiyasi bo‘yicha etakchi tashkilot- Jizzax politexnika institutining seminari bo‘lib o‘tdi.</p>
    <hr>
    <p style="text-align: center;"><strong>«Mokisiz to‘quv dastgohlarida ko‘ylakbop to‘qimalarni ishlab chiqarishda iplar taragligining tadqiqi va optimallashtirish» mavzusidagi dissertatsiya – seminari bo‘lib o‘tdi.</strong></p>
    <p align="justify">08.06.2020 yil soat 10-00 da ZOOM dasturi orqali talabgor Hamza YUldoshevich Rasulovning 05.06.02 -“To‘qimachilik materiallari texnologiyasi va xom ashyoga dastlabki ishlov berish” ixtisosligi bo‘yicha texnika fanlari bo‘yicha falsafa doktori (PhD) ilmiy darajasini olish uchun Namangan muhandislik-texnologiyalar instituti huzuridagi ilmiy darajalar beruvchi PhD.03/30.12.2019.01 raqamli ilmiy kengashi tomonidan himoyaga tavsiya etilgan «Mokisiz to‘quv dastgohlarida ko‘ylakbop to‘qimalarni ishlab chiqarishda iplar taragligining tadqiqi va optimallashtirish» mavzusidagi dissertatsiya ishiga etakchi tashkilot – Jizzax politexnika institutining seminari bo‘lib o‘tdi.</p>
    <hr>
    <p style="text-align: center;"><strong>Ilmiy-uslubiy semenari yig‘ilishi</strong></p>
    <p align="justify">Jizzax Politexnika institutida 2019 yil 9 aprel kuni “Oliy matematika” va JDPI “Matematika o‘qitish metodikasi” kafedralarining birlashgan ilmiy-uslubiy semenari yig‘ilishining bo’lib o’tdi. Yig’ilishda oliy matematika kafedra mudiri A.Berdiyorov, JizPI prorektori dots. S.Tovbaev, “Servis” fakulteti dekani p.f.d. J.A.Xamidov &nbsp;A.Kodiriy nomidagi JDPI prof-o‘qituvchilari O.Abdullaev, A.SHamsiev va T.Azamovlar, JizPI&nbsp; Kafedra prof.-o‘qituvchilari A.Musaev, A.Abduxalikov, U.Soatov, Q.Azimov, R.Gadoev, U.Djonizakov, U.Turaev, M.Usanov, X.Jabborov, I.Kulonov, T.Haydarov, B.Rahimov, A.Ne’matov, “Informatsion texnologiyalar” kaf. dotsenti A.Savurboev, “Elektrotexnika va radioelektronika” kafedrasi katta o‘qituvchisi A.Pardaboev “Umummuxandislik fanlari” kafedrasi katta o‘qituvchisi T.Bultakov va boshqalar Qatnashdilar.</p>
    <p>Yig’ilishda quyidagi masalalar ko’rildi.</p>
    <p style="text-align: center;"><strong>Jizzax politexnika institutda Oliy attestatsiya komissiyasi raisi bilan uchrashuv bo‘lib o‘tdi.</strong></p>
    <p>&nbsp;</p>
    <p align="justify">2019 yil 12 mart kuni Jizzax politexnika institutida “Oliy malakali ilmiy va ilmiy-pedagogik kadrlarni attestatsiyadan o‘tkazish tizimini yanada takomillashtirish chora-tadbirlari to‘g‘risida”gi qarori loyihasi bo‘yicha O‘zbekiston Respublikasi Vazirlar Mahkamasi huzuridagi Oliy attestatsiya komissiyasi (OAK) raisi YUsupov Axmadbek Tadjievich ishtirokida davra suhbati bo‘lib o‘tdi. Suhbatda Jizzax politexnika institutining rahbariyati, professor-o‘qituvchilari, doktorantlari va 65 dan ortiq mustaqil izlanuvchilar ishtirok etishdi.</p>
    <p align="justify">Ochiq muloqot davomida OAK raisiga bir qator savol berilib, ularga berilgan atroflicha javoblar tinglandi, o‘rtaga tashlangan muammoli masalalar muhokama qilindi. Jumladan, PhD Djiyanbaev S.tomonidan ilmiy unvonlarni olish uchun qo‘yilgan talablardan biri kafedra mudiri yoki boshqa biror lavozimda bo‘lish kerakligini, ushbu muammoni echishda OAK qanday yordam berishi mumkinligi to‘g‘risida savol berildi. Ushbu savolga javoban, OAK raisi hozirgi kunda mavjud nizomlarga o‘zgartirish kiritish bo‘yicha takliflar tayyorlangani, jumladan ularga ko‘ra ilmiy unvonlar berish talablaridan lavozim va muddatga qo‘yiladigan talablarni chiqarish taklifi asoslanganligi haqida aytib o‘tdi.</p>
    <p align="justify">SHuningdek, kata o‘qituvchi Haqberdiev SH. Ilmiy tadqiqot ishlari natijalarini tadqiq etish dalolatnomalarini olishda muammaolar vujudga kelganligi, bu borada OAK qanday echim taklif qilishi mumkinligi haqida savol berdi. O‘z o‘rnida A.T.YUsupov mazkur masala bo‘yicha tayyorlangan takliflar yuzasidan atroflicha ma’lumot berdi.</p>
    <p align="justify">OAK raisi ilmiy-tadqiqot faoliyatiga axborot-kommunikatsiya texnologiyalarni keng joriy qilish yuzasidan, jumladan OAK va oliy ta’lim va ilmiy-tadqiqot muassasalari kengashlari, shuningdek, ilmiy darajalar beruvchi ilmiy kengashlar o‘rtasidagi barcha yozishmalar hamda ilmiy unvonlar va ilmiy darajalarda tasdiqlash bo‘yicha attestatsiya ishlari elektron hujjat aylanish tizimi orqali qabul qilinishi bo‘yicha tegishli dasturiy va ilmiy-tashkiliy chora-tadbirlar amalga oshirilayotgani to‘g‘risida batafsil tushuntirish berdi.</p>
    <p align="justify">Yig‘ilish so‘ngida OAK raisi Saidahmedova Nodira, Turapov Ulugbek, Djiyanboev Sirojiddin, Tavboev Sirojiddin, SHertoyloqov G‘ayrat, Nasriddinov Jasur, Berdiyorov Temur, Sagatov Baxodir, Xoldirov Baxodirlarning avtoreferatlariga o‘z tavsiyalarini berdi va ularning ishiga omad tiladi.</p>
    <p>&nbsp;</p>
    
            <style type="text/css">
                #gallery-1 {
                    margin: auto;
                }
                #gallery-1 .gallery-item {
                    float: left;
                    margin-top: 10px;
                    text-align: center;
                    width: 33%;
                }
                #gallery-1 img {
                    border: 2px solid #cfcfcf;
                }
                #gallery-1 .gallery-caption {
                    margin-left: 0;
                }
                /* see gallery_shortcode() in wp-includes/media.php */
            </style>
            <div id="gallery-1" class="gallery galleryid-2529 gallery-columns-3 gallery-size-thumbnail"><dl class="gallery-item">
                <dt class="gallery-icon landscape">
                    <a href="https://jizpi.uz/faoliyat/ilmiyfaoliyat/ilmiy-tadbirlar/attachment/image010-8/"><img width="150" height="150" src="https://jizpi.uz/wp-content/uploads/2018/11/image010-3-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt=""></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon landscape">
                    <a href="https://jizpi.uz/faoliyat/ilmiyfaoliyat/ilmiy-tadbirlar/attachment/image009-20/"><img width="150" height="150" src="https://jizpi.uz/wp-content/uploads/2018/11/image009-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" srcset="https://jizpi.uz/wp-content/uploads/2018/11/image009-150x150.png 150w, https://jizpi.uz/wp-content/uploads/2018/11/image009-400x400.png 400w" sizes="(max-width: 150px) 100vw, 150px"></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon landscape">
                    <a href="https://jizpi.uz/faoliyat/ilmiyfaoliyat/ilmiy-tadbirlar/attachment/image008-11/"><img width="150" height="150" src="https://jizpi.uz/wp-content/uploads/2018/11/image008-1-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt=""></a>
                </dt></dl><br style="clear: both"><dl class="gallery-item">
                <dt class="gallery-icon landscape">
                    <a href="https://jizpi.uz/faoliyat/ilmiyfaoliyat/ilmiy-tadbirlar/attachment/image006-13/"><img width="150" height="150" src="https://jizpi.uz/wp-content/uploads/2018/11/image006-2-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt=""></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon landscape">
                    <a href="https://jizpi.uz/faoliyat/ilmiyfaoliyat/ilmiy-tadbirlar/attachment/image007-34/"><img width="150" height="150" src="https://jizpi.uz/wp-content/uploads/2018/11/image007-1-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" srcset="https://jizpi.uz/wp-content/uploads/2018/11/image007-1-150x150.png 150w, https://jizpi.uz/wp-content/uploads/2018/11/image007-1-400x400.png 400w" sizes="(max-width: 150px) 100vw, 150px"></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon landscape">
                    <a href="https://jizpi.uz/faoliyat/ilmiyfaoliyat/ilmiy-tadbirlar/attachment/image005-41/"><img width="150" height="150" src="https://jizpi.uz/wp-content/uploads/2018/11/image005-8-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="" srcset="https://jizpi.uz/wp-content/uploads/2018/11/image005-8-150x150.jpg 150w, https://jizpi.uz/wp-content/uploads/2018/11/image005-8-400x400.jpg 400w" sizes="(max-width: 150px) 100vw, 150px"></a>
                </dt></dl><br style="clear: both"><dl class="gallery-item">
                <dt class="gallery-icon landscape">
                    <a href="https://jizpi.uz/faoliyat/ilmiyfaoliyat/ilmiy-tadbirlar/attachment/image004-19/"><img width="150" height="150" src="https://jizpi.uz/wp-content/uploads/2018/11/image004-5-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt=""></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon landscape">
                    <a href="https://jizpi.uz/faoliyat/ilmiyfaoliyat/ilmiy-tadbirlar/attachment/image003-51/"><img width="150" height="150" src="https://jizpi.uz/wp-content/uploads/2018/11/image003-1-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" srcset="https://jizpi.uz/wp-content/uploads/2018/11/image003-1-150x150.png 150w, https://jizpi.uz/wp-content/uploads/2018/11/image003-1-400x400.png 400w" sizes="(max-width: 150px) 100vw, 150px"></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon landscape">
                    <a href="https://jizpi.uz/faoliyat/ilmiyfaoliyat/ilmiy-tadbirlar/attachment/image002-21/"><img width="150" height="150" src="https://jizpi.uz/wp-content/uploads/2018/11/image002-5-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt=""></a>
                </dt></dl><br style="clear: both"><dl class="gallery-item">
                <dt class="gallery-icon landscape">
                    <a href="https://jizpi.uz/faoliyat/ilmiyfaoliyat/ilmiy-tadbirlar/attachment/image001-62/"><img width="150" height="150" src="https://jizpi.uz/wp-content/uploads/2018/11/image001-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" srcset="https://jizpi.uz/wp-content/uploads/2018/11/image001-150x150.png 150w, https://jizpi.uz/wp-content/uploads/2018/11/image001-400x400.png 400w" sizes="(max-width: 150px) 100vw, 150px"></a>
                </dt></dl>
                <br style="clear: both">
            </div>
    
    <p>&nbsp;</p>
    <p style="text-align: center;"><strong>Жиззах политехника институтда докторант Беҳбудов Шавкат Ҳусеновичнинг «Ипли бирикмаларнинг мустахкамлигини оширувчи полимер композит қоплаш қурилмасини ишлаб чиқиш ва параметрларини асослаш» мавзусидаги 05.02.03 – «Технологик машиналар. Роботлар, мехатроника ва </strong></p>
    <p style="text-align: center;"><strong>робототехника тизимлари</strong><strong>» ихтисослиги бўйича техника фанлари бўйича фалсафа доктори (PhD) илмий даражасини олиш учун&nbsp; ёзилган диссертацияси муҳокамаси бўйича семинар бўлиб ўтди.</strong></p>
    <p>&nbsp;</p>
    <p align="justify">2018 йил 19 июнь куни Тошкент тўқимачилик ва енгил саноат институти докторанти Беҳбудов Шавкат Ҳусеновичнинг «Ипли бирикмаларнинг мустахкамлигини оширувчи полимер композит қоплаш қурилмасини ишлаб чиқиш ва параметрларини асослаш» мавзусидаги) 05.02.03 – «Технологик машиналар. Роботлар, мехатроника ва робототехника тизимлари» ихтисослиги бўйича техника фанлари бўйича фалсафа доктори (PhD) илмий даражасини олиш учун&nbsp; ёзилган диссертацияси муҳокамаси бўлиб ўтди. Суҳбатда Жиззах политехника институтининг раҳбарияти, профессор-ўқитувчилари, докторантлар ва 20 дан ортиқ мустақил изланувчилар иштирок этишди.</p>
    <p>Семинарни Илмий ишлар ва инновациялар бўйича проректор &nbsp;т.ф.н., доц. С.А.Тавбоев бошқариб борди.</p>
    <p align="justify">Докторант Ш.Бехбудов диссертация ишининг долзарблиги, мақсади, вазифаси ва илмий янгилиги ҳақида маълумот берди. Шунингдек, диссертация ишида олиб борилган илмий-тадқиқот ишлари ва унинг натижалари билан таништирди.</p>
    <p align="justify">Диссертация тадқиқоти Тошкент тўқимачилик ва енгил саноат институти илмий тадқиқот ишлари режасининг ОТ-А3-63 «Тикилаётган кийим деталларига полимер композит қоплашнинг ресурстежамкор технологиясини ишлаб чиқиш» (2017-2018); ОТ-А3-35 «Ресурстежамкор, юқори иш унумида сифатли тикишни таъминлайдиган тикув машиналари юритмаси конструкциясини ишлаб чиқиш ва ҳисоблаш методлари» (2017-2018); мавзуларидаги лойиҳалари доирасида бажарилган.</p>
    <p align="justify">Тадқиқотнинг мақсади матоларни тикилган чокларини ва четларини полимер композити билан қоплаб мустаҳкамлигини ошириш қурилмасини ишлаб чиқиш ва ишчи органлари параметрларини асослашдан иборат.</p>
    <p>Тадқиқотнинг объекти сифатида тикув машинасида тикилаётган кийим деталларига полимер композицияни қоплаш қурилмаси олинган.</p>
    <p align="justify">Тадқиқотнинг предмети тикилаётган матолардаги узилиш деформацияси, қурилмадаги қайишқоқ элементларнинг ҳаракат қонунлари, параметрларни ҳисоблаш натижалари, боғланиш графиклари ва параметрларини ташкил этади.</p>
    <p>Маъруза тугагач муҳокама бошланди ва семинар қатнашчилари томонидан саволлар берилди.</p>
    <p align="justify">Юқоридагиларни инобатга олиб шуни таъкидлаш мумкинки,&nbsp; бажарилган тадқиқот иши тугалланган илмий иш бўлиб, унда Ўзбекистон Республикаси иқтисодиётининг юксалишига қаратилган муҳим вазифалардан бири ҳал этилган.</p>
    <p>Бажарилган диссертация иши натижалари Ўзбекистон тўқимачилик ва енгил саноати корхоналарида қўллашга тавсия этилади.</p>
    <p align="justify">Мавзунинг долзарблиги, ишнинг ўрганилганлик даражаси, илмий янгилиги ва натижаларнинг жорий қилинганлиги Ўзбекистон Республикаси Олий Аттестация Комиссиясининг 05.02.03 – «Технологик машиналар. Роботлар, мехатроника ва робототехника тизимлари» ихтисослиги бўйича техника фанлари бўйича фалсафа доктори (PhD) илмий даражасини олишга қўйилган талабларига тўлиқ жавоб беради.</p>
    <p align="justify">Барча сўзга чиққанлар бажарилган ишни ижобий баҳолаб, диссертация ишини ТТЕСИ қошидаги илмий даражалар берувчи DSс.27.06.2017.Т.08.01 рақамли илмий кенгашда муҳокама қилишга тавсия берди.</p>
    <p>&nbsp;</p>
    <p style="text-align: center;"><strong>Жиззах политехника институтда </strong><strong>Мустақил изланувчи И.Д.Мадумаровнинг «Пахтани иссиқлик-намлик ҳолатини муқобиллаштириш ва бир текис таъминлаш асосида тозалаш жараёнининг самарадорлигини ошириш» мавзусидаги фан доктори (DSc) </strong><strong>диссертацияси муҳокамаси бўйича семинар</strong><strong> бўлиб ўтди</strong>.</p>
    <p>&nbsp;</p>
    <p align="justify">2019 йил 1 март куни Тошкент тўқимачилик ва енгил саноат институти мустақил изланувчиси И.Д.Мадумаровнинг «Пахтани иссиқлик-намлик ҳолатини муқобиллаштириш ва бир текис таъминлаш асосида тозалаш жараёнининг самарадорлигини ошириш» мавзусидаги фан доктори (DSc) диссертацияси муҳокамаси бўлиб ўтди. Суҳбатда Жиззах политехника институтининг раҳбарияти, профессор-ўқитувчилари, докторантлари ва 20 дан ортиқ мустақил изланувчилар иштирок этишди.</p>
    <p>Семинарни Илмий ишлар ва инновациялар бўйича проректор &nbsp;т.ф.н., доц. С.А.Тавбоев бошқариб борди.</p>
    <p align="justify">Мустақил изланувчи И.Д.Мадумаров диссертация ишининг долзарблиги, мақсади, вазифаси ва илмий янгилиги ҳақида маълумот берди. Шунингдек, диссертация ишида олиб борилган илмий-тадқиқот ишлари ва унинг натижалари билан таништирди.</p>
    <p align="justify">Талабгор маърузасида пахта хом-ашёсини қуритиш, тозалаш техника ва технологияларини яратиш ва такомиллаштириш бўйича қатор, жумладан, қуйидаги устувор йўналишларда тадқиқотлар олиб борилмоқда: пахтани тозалашнинг самарали техника ва технологияларини ишлаб чиқиш, пахтани иссиқлик-намлик кўрсаткичларининг тозалаш жараёнига таъсир даражасини аниқлаш, пахтани кўп компонентли материал эканлигини эътиборга олган ҳолда тозалаш жараёнининг режим кўрсаткичлари ва тола сифатини сақлашни таъминловчи тозалаш параметрларини ишлаб чиқиш. Лекин, чет эл ва маҳаллий пахта тозалаш корхоналарида фойдаланилаётган барабанли қуритгичлар ва ифлос аралашмалардан тозалаш машиналари ва таҳлили уларнинг ишчи қисмлари самарадорликларини ошириш масалалари ўзининг самарали ечимини топмаганлигини таъкидлади.</p>
    <p align="justify">Назарий ва тажрибавий тадқиқотлар асосида тўрли юза бўйлаб ҳаракатланаётган пахта толаси таркибидан ажраладиган ифлосликларнинг юза бўйлаб тақсимланиши ва тўрли юзаларда ифлосликларнинг ажралиш қонуниятини аниқланган, турли зичликларда ҳаракатланаётган ўзаро эластик боғланишда бўлган икки ва ундан ортиқ пахта бўлакчалари таркибидан ифлосликларнинг ажралиш жараёни математик моделлари ишлаб чиқилган, тозалаш технологик жараёнида пахта толасининг намлик ва ҳароратлари ўртасидаги боғланишлари аниқланган. Шунингдек, яратилган янги таъминловчи мослама пахта хом ашёсининг табиий сифат кўрсаткичларини сақлаб қолиши, тозалаш машиналарига талаб этилган пахта хом ашёсини бир меъёрда титиб, узлуксиз узатиб берилиши, машиналар тозалаш самарадорлиги ошганлиги ҳамда ишлаб чиқилган маҳсулот сифатининг яхшиланишига эришилганлигини маълум қилди.</p>
    <p>Маъруза тугагач муҳокама бошланди ва семинар қатнашчилари томонидан саволлар берилди.</p>
    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>Барча сўзга чиққанлар бажарилган ишни ижобий баҳолаб, диссертация ишини ТТЕСИ қошидаги илмий даражалар берувчи DSс.27.06.2017.Т.08.01 рақамли илмий кенгашда муҳокама қилишга тавсия берди.</p>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}