{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>ilmiy-Faoliyat</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3">
            {% include "faoliyat/ilmiy-faoliyat/__ilmiy-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                {% comment %} <h1>ilm-fan-2024</h1> {% endcomment %}
                <div class="col-12">
                    <main id="content" class="content-style">
                                                <article id="post-255" class="post-255 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Ilmiy nashrlar</h1>                             </div>
                                <div class="entry-content">
                                                                    <p style="text-align: center;"><strong>JizPI professor-o’qituvchilarining scopus bazasida indekslangan jurnallar va&nbsp;</strong><strong>yuqori impakt faktorga ega jurnallarda chop etgan ilmiy ishlari ro’yxati</strong></p>
    <table width="100%" class="table table-bordered">
    <tbody>
    <tr>
    <td width="31">
    <p style="text-align: center;"><strong>№</strong></p>
    </td>
    <td style="text-align: center;" width="205"><strong>Mualliflar</strong></td>
    <td style="text-align: center;" width="444"><strong>Tadqiqot mavzusi</strong></td>
    <td style="text-align: center;" width="160"><strong>Jurnal nomi&nbsp; </strong></td>
    <td style="text-align: center;" width="76"><strong>Manzil</strong></td>
    <td width="57">
    <p style="text-align: center;"><strong>Yil</strong></p>
    </td>
    </tr>
    <tr>
    <td width="31">1</td>
    <td width="205">Zavqiddinjon Kurbanov</td>
    <td width="444">Strong grinding based on local raw materials getting stones</td>
    <td width="160">AIP Conference Proceedings</td>
    <td width="76">Scopus</td>
    <td width="57">2022</td>
    </tr>
    <tr>
    <td width="31">2</td>
    <td width="205">Отакулов Салим</td>
    <td width="444">On the property of relative controllability for the model of dynamic system with mobile terminal set</td>
    <td width="160">AIP Conference Proceedings</td>
    <td width="76">Scopus</td>
    <td width="57">2022</td>
    </tr>
    <tr>
    <td width="31">3</td>
    <td width="205">Mustafoev A</td>
    <td width="444">Development of automated water detection device</td>
    <td width="160">AIP Conference Proceedings</td>
    <td width="76">Scopus</td>
    <td width="57">2022</td>
    </tr>
    <tr>
    <td width="31">4</td>
    <td width="205">Shumkarova S</td>
    <td width="444">Effect of Secondary Material Resources on Physical and Mechanical Properties of Floor Fabrics</td>
    <td width="160">AIP Conference Proceedings</td>
    <td width="76">Scopus</td>
    <td width="57">2022</td>
    </tr>
    <tr>
    <td width="31">5</td>
    <td width="205">Avalbaev G</td>
    <td width="444">Selection of materials for work in aggressive environments in oil production</td>
    <td width="160">AIP Conference Proceedings</td>
    <td width="76">Scopus</td>
    <td width="57">2022</td>
    </tr>
    <tr>
    <td width="31">6</td>
    <td width="205">Shumkarova S</td>
    <td width="444">Correction coefficiency of physical and mechanical properties of fabrics and calculation of irrigation</td>
    <td width="160">AIP Conference Proceedings</td>
    <td width="76">Scopus</td>
    <td width="57">2022</td>
    </tr>
    <tr>
    <td width="31">7</td>
    <td width="205">Mustafoev A</td>
    <td width="444">Study of the Technological Possibilities of the Large Sole Furnace in Localization of Imported Electric Heaters</td>
    <td width="160">AIP Conference Proceedings</td>
    <td width="76">Scopus</td>
    <td width="57">2022</td>
    </tr>
    <tr>
    <td width="31">8</td>
    <td width="205">Ganiev A</td>
    <td width="444">Study of Physical and Mechanical Properties of High Strong Concrete with Chemical Additives</td>
    <td width="160">AIP Conference Proceedings</td>
    <td width="76">Scopus</td>
    <td width="57">2022</td>
    </tr>
    <tr>
    <td width="31">9</td>
    <td width="205">Turapov U</td>
    <td width="444">Analysis of Criteria for Image Processing and Recognition on the Basis of Informative and Strong Signs of Personalface Structure</td>
    <td width="160">AIP Conference Proceedings</td>
    <td width="76">Scopus</td>
    <td width="57">2022</td>
    </tr>
    <tr>
    <td width="31">10</td>
    <td width="205">Muhitdinov A.B</td>
    <td width="444">The Role of Software in the Development of Modeling in Education</td>
    <td width="160">AIP Conference Proceedings</td>
    <td width="76">Scopus</td>
    <td width="57">2022</td>
    </tr>
    <tr>
    <td width="31">11</td>
    <td width="205">Alikabulov S</td>
    <td width="444">Production and Performance Tests of Axo Oil with Improved Colloidal Indicators</td>
    <td width="160">AIP Conference Proceedings</td>
    <td width="76">Scopus</td>
    <td width="57">2022</td>
    </tr>
    <tr>
    <td width="31">12</td>
    <td width="205">Ruzmatov I., Nurullaev Sh.P., Saidmirzaeva D.B., Qurbanova L.M., Mullajonova Z.S</td>
    <td width="444">The Sorbents with Using Rotory Slag and Physico-Chemical Characteristic of the Absorption</td>
    <td width="160">AIP Conference Proceedings</td>
    <td width="76">Scopus</td>
    <td width="57">2022</td>
    </tr>
    <tr>
    <td width="31">13</td>
    <td width="205">Aynakulov M.A., Gapparov B.N., Khatamov A.Ya., Khudoyberdiev B.B</td>
    <td width="444">Development of Methods for Improving the Lessons of Information Technology on The Basis of Graphic Programs</td>
    <td width="160">AIP Conference Proceedings</td>
    <td width="76">Scopus</td>
    <td width="57">2022</td>
    </tr>
    <tr>
    <td width="31">14</td>
    <td width="205">Toshmatov N</td>
    <td width="444">Water Sources in Industrial Enterprises and Methods of Increasing Their Reliability (on the Example of Sherabad Cement Plant)</td>
    <td width="160">AIP Conference Proceedings</td>
    <td width="76">Scopus</td>
    <td width="57">2022</td>
    </tr>
    <tr>
    <td width="31">15</td>
    <td width="205">Aynakulov Kh.A., Ubaydullayev A., O’Razaliyev F.B., Soatov Sh.A</td>
    <td width="444">Increasing the Effectiveness of Lessons by Creating a Problem Situation in Teaching Drawing</td>
    <td width="160">AIP Conference Proceedings</td>
    <td width="76">Scopus</td>
    <td width="57">2022</td>
    </tr>
    <tr>
    <td width="31">16</td>
    <td width="205">Karimova K</td>
    <td width="444">Study of laboratory-technological researches on the validity of six samples of “Osmonsoy” basalt deposits of Jizzakh region and “Karabulak” basalt deposits of Namangan region in the Republic of Uzbekistan for the production of different (continuous, coarse, super delicate and fine) fibers</td>
    <td width="160">AIP Conference Proceedings</td>
    <td width="76">Scopus</td>
    <td width="57">2022</td>
    </tr>
    <tr>
    <td width="31">17</td>
    <td width="205">Khusanov J</td>
    <td width="444">On the Motion Control of a Five-Link Manipulator</td>
    <td width="160">International Conference on Stability and Oscillations of Nonlinear Control Systems (Pyatnitskiy’s Conference)</td>
    <td width="76">Scopus</td>
    <td width="57">2022</td>
    </tr>
    <tr>
    <td width="31">18</td>
    <td width="205">Tavboyev S.A</td>
    <td width="444">Recognition Algorithm Models Based on&nbsp;the&nbsp;Selection of&nbsp;Two-Dimensional Preference Threshold Functions</td>
    <td width="160">Communications in Computer and Information Science</td>
    <td width="76">Scopus</td>
    <td width="57">2022</td>
    </tr>
    </tbody>
    </table>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}