<div class="card-box_left">
    <a href="{% url "pageB1" %}" class="btn">abiturientga eslatma</a>
    <a href="{% url "pageB2" %}" class="btn">Qabul nizomlari</a>
    <a href="{% url "pageB3" %}" class="btn">Qabul kvotasi</a>
    <a href="{% url "pageB4" %}" class="btn">Hujjatlar to’plami</a>
    <a href="{% url "pageB5" %}" class="btn">Fanlar ro’yxati</a>
    <a href="{% url "pageB6" %}" class="btn">Qabul komissiyasi</a>
    <a href="{% url "pageB7" %}" class="btn">O’tish ballari 2023-2024</a>
    <a href="{% url "pageB8" %}" class="btn">Biz bilan bog’lanish</a>
</div>