<div class="card-box_left">
    <a href="{% url "pageBak1" %}" class="btn">abiturientga eslatma</a>
    <a href="{% url "pageBak2" %}" class="btn">Qabul nizomlari</a>
    <a href="{% url "pageBak3" %}" class="btn">Qabul kvotasi</a>
    <a href="{% url "pageBak4" %}" class="btn">Hujjatlar to’plami</a>
    <a href="{% url "pageBak5" %}" class="btn">Fanlar ro’yxati</a>
    <a href="{% url "pageBak6" %}" class="btn">Qabul komissiyasi</a>
    {% comment %} <a href="{% url "pageBak7" %}" class="btn">O’tish ballari 2023-2024</a> {% endcomment %}
    <a href="{% url "pageBak8" %}" class="btn">Biz bilan bog’lanish</a>
</div>