{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Bakalavr</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/bakalavr/bakalavr-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col-md-9">
                    <main id="content" class="content-style">
                                                <article id="post-2579" class="post-2579 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Fanlar ro’yxati</h1>                             </div>
                                <div class="entry-content">
                                                                    <p><strong>J</strong><strong>izzax politexnika instituti</strong><strong>ning bakalavriat ta’lim yo‘nalishlariga mos test sinovi topshiriladigan fanlar majmuasi, test topshiriqlari soni hamda baxolash mezonlari</strong></p>
    <p><em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</em><em>&nbsp;</em><strong><em>2023</em></strong><strong><em>-2024</em></strong><strong><em>&nbsp; o‘quv yili uchun</em></strong></p>
    <p><strong><em>&nbsp;</em></strong>I.Test sinovi topshiriladigan fanlar bo‘yicha test topshiriqlari soni va baxolash mezonlari</p>
    <p><strong>&nbsp;</strong></p>
    <table class="table table-bordered" width="100%">
    <tbody>
    <tr>
    <td width="173">Fanlar nomi</td>
    <td width="173">Test topshiriqlari soni</td>
    <td width="173">Baxolash mezonlari</td>
    <td width="173">Maksimal ball</td>
    </tr>
    <tr>
    <td colspan="4" width="693">Barcha test topshiruvchilar uchun majburiy uchta fan bo‘yicha</td>
    </tr>
    <tr>
    <td width="173">Ona tili<p></p>
    <p>(o‘zbek, rus, qoraqalpoq va boshqa tillar</p></td>
    <td width="173">10</td>
    <td width="173">1,1</td>
    <td width="173">11,0</td>
    </tr>
    <tr>
    <td width="173">Matematika</td>
    <td width="173">10</td>
    <td width="173">1,1</td>
    <td width="173">11,0</td>
    </tr>
    <tr>
    <td width="173">O‘zbekiston tarixi</td>
    <td width="173">10</td>
    <td width="173">1,1</td>
    <td width="173">11,0</td>
    </tr>
    <tr>
    <td width="173"><strong>Jami:</strong></td>
    <td width="173"><strong>30</strong></td>
    <td width="173"><strong>&nbsp;</strong></td>
    <td width="173"><strong>33,0</strong></td>
    </tr>
    <tr>
    <td colspan="4" width="693"><strong><em>Bakalavriat ta’lim yo‘nalishiga mos ikkita fan bo‘yicha</em></strong></td>
    </tr>
    <tr>
    <td width="173">1-fan</td>
    <td width="173">30</td>
    <td width="173">3,1</td>
    <td width="173">93,0</td>
    </tr>
    <tr>
    <td width="173">2-fan</td>
    <td width="173">30</td>
    <td width="173">2,1</td>
    <td width="173">63</td>
    </tr>
    <tr>
    <td width="173"><strong>jami</strong></td>
    <td width="173"><strong>60</strong></td>
    <td width="173"><strong>&nbsp;</strong></td>
    <td width="173"><strong>156,0</strong></td>
    </tr>
    <tr>
    <td width="173"><strong>5 ta fan bo‘yicha jami:</strong></td>
    <td width="173"><strong>90</strong></td>
    <td width="173"><strong>&nbsp;</strong></td>
    <td width="173"><strong>189,0</strong></td>
    </tr>
    </tbody>
    </table>
    <p>&nbsp;</p>
    <p><strong>II.Bakalavriat ta’lim yo‘nalishlari ro‘yxati va ularga mos test sinovi (kasbiy (ijodiy) imtixon) topshiriladigan fanlar majmuasi</strong></p>
    <p><strong>&nbsp;</strong></p>
    <table class="table table-bordered" width="100%">
    <tbody>
    <tr>
    <td width="45"><strong>T/R</strong></td>
    <td width="85"><strong>Tanlov kodi</strong></td>
    <td width="369"><strong>&nbsp;</strong><p></p>
    <p><strong>Bakalaviat ta’lim yo‘nalishi nomi</strong></p></td>
    <td width="104"><strong>1-fan</strong></td>
    <td width="94"><strong>2-fan</strong></td>
    </tr>
    <tr>
    <td width="45">1</td>
    <td width="85">60112400</td>
    <td width="369">Professional ta’lim (transport vositalari muxandisligi)</td>
    <td width="104">Matematika</td>
    <td width="94">Chet tili</td>
    </tr>
    <tr>
    <td width="45">2</td>
    <td width="85">60410100</td>
    <td width="369">Buxgalteriya hisobi va audit (tarmoqlar bo‘yicha)</td>
    <td width="104">Matematika</td>
    <td width="94">Chet tili</td>
    </tr>
    <tr>
    <td width="45">3</td>
    <td width="85">60411200</td>
    <td width="369">Menejment (tarmoqlar va sohalar bo‘yicha)</td>
    <td width="104">Matematika</td>
    <td width="94">Chet tili</td>
    </tr>
    <tr>
    <td width="45">4</td>
    <td width="85">60611500</td>
    <td width="369">Radioelektron qurilmalar va tizimlar (tarmoqlar bo‘yicha)</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">5</td>
    <td width="85">60710100</td>
    <td width="369">Kimyoviy texnologiya (ishlab chiqarish turlari bo‘yicha)</td>
    <td width="104">Kimyo</td>
    <td width="94">Matematika</td>
    </tr>
    <tr>
    <td width="45">6</td>
    <td width="85">60710400</td>
    <td width="369">Ekologiya va atrof-muhit muhofazasi (tarmoqlar va sohalar bo‘yicha)</td>
    <td width="104">Kimyo</td>
    <td width="94">Biologiya</td>
    </tr>
    <tr>
    <td width="45">7</td>
    <td width="85">60710500</td>
    <td width="369">Energetika (tarmoqlar bo‘yicha)</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">8</td>
    <td width="85">60710600</td>
    <td width="369">Elektr energetikasi&nbsp; (tarmoqlar va yo‘nalishlar bo‘yicha)</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">9</td>
    <td width="85">60710700</td>
    <td width="369">Elektr texnikasi, elektr mexanikasi va elektr texnologiyalari (tarmoqlar bo‘yicha)</td>
    <td width="104">Fizika</td>
    <td width="94">Matematika</td>
    </tr>
    <tr>
    <td width="45">10</td>
    <td width="85">60711200</td>
    <td width="369">Elektronika va asbobsozlik (tarmoqlar bo‘yicha)</td>
    <td width="104">Fizika</td>
    <td width="94">Matematika</td>
    </tr>
    <tr>
    <td width="45">11</td>
    <td width="85">60711300</td>
    <td width="369">Metrologiya, standartlashtirish va mahsulot sifati menejmenti (tarmoqlar bo‘yicha)</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">12</td>
    <td width="85">60711400</td>
    <td width="369">Texnologik jarayonlar va ishlab chiqarishni avtomatlashtirish va boshqarish (tarmoqlar bo‘yicha)</td>
    <td width="104">Fizika</td>
    <td width="94">Matematika</td>
    </tr>
    <tr>
    <td width="45">13</td>
    <td width="85">60712100</td>
    <td width="369">Metallurgiya (metall turlari bo‘yicha)</td>
    <td width="104">Kimyo</td>
    <td width="94">Matematika</td>
    </tr>
    <tr>
    <td width="45">14</td>
    <td width="85">60712400</td>
    <td width="369">Avtomobilsozlik va traktorsozlik</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">15</td>
    <td width="85">60712500</td>
    <td width="369">Transport vositalari muhandisligi (turlari bo‘yicha)</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">16</td>
    <td width="85">60720100</td>
    <td width="369">Oziq-ovqat texnologiyasi (maxsulot turlari bo‘yicha)</td>
    <td width="104">Kimyo</td>
    <td width="94">Biologiya</td>
    </tr>
    <tr>
    <td width="45">17</td>
    <td width="85">60720600</td>
    <td width="369">Materialshunoslik va yangi materiallar texnologiyasi (tarmoqlar bo‘yicha)</td>
    <td width="104">Kimyo</td>
    <td width="94">Matematika</td>
    </tr>
    <tr>
    <td width="45">18</td>
    <td width="85">60720700</td>
    <td width="369">Texnologik&nbsp; mashinalar va jixozlar (tarmoqlar bo‘yicha)</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">19</td>
    <td width="85">60720800</td>
    <td width="369">Mashinasozlik texnologiyasi, mashinasozlik ishlab chiqarishini jihozlash va avtomatlashtirish</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">20</td>
    <td width="85">60721200</td>
    <td width="369">Engil sanoat buyumlari konstruksiyasini ishlash va texnologiyasi (ishlab chiqarish turlari bo‘yicha)</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">21</td>
    <td width="85">60721300</td>
    <td width="369">Tabiiy tolalarni dastlabki ishlash texnologiyasi (xom ashyo va jarayon turlari bo‘yicha)</td>
    <td width="104">Fizika</td>
    <td width="94">Matematika</td>
    </tr>
    <tr>
    <td width="45">22</td>
    <td width="85">60730100</td>
    <td width="369">Arxitektura (turlari bo‘yicha)</td>
    <td width="104">Matematika</td>
    <td width="94">Ona tili va adabiyoti</td>
    </tr>
    <tr>
    <td width="45">23</td>
    <td width="85">60730300</td>
    <td width="369">Qurulish muxandisligi&nbsp;bino vа inshoatlar qurilishi</td>
    <td width="104">&nbsp;Matematika</td>
    <td width="94">&nbsp;Fizika</td>
    </tr>
    <tr>
    <td width="45">24</td>
    <td width="85">60730400</td>
    <td width="369">Muhandislik kommunikasiyalari qurilish va montaji (turlari bo‘yicha)</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">25</td>
    <td width="85">60730500</td>
    <td width="369">Suv ta’minoti va kanalizasiya tizimlarini loyixalashtirish va ekspluatasiyasi</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">26</td>
    <td width="85">60730300</td>
    <td width="369">Qurilish muhandisligi: qurilish materiallari, buyumlari va konstruksiyalarini ishlab chiqarish</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">27</td>
    <td width="85">60730800</td>
    <td width="369">Yo‘l muhandisligi (soxalar va faoliyat turlari bo‘yicha)</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">28</td>
    <td width="85">60810100</td>
    <td width="369">Qishloq xo‘jaligini mexanizasiyalashtirish</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">29</td>
    <td width="85">60811300</td>
    <td width="369">Qishloq xo‘jalik mahsulotlarini saqlash va dastlabki ishlash texnologiyasi (maxsulotlar turlari bo‘yicha)</td>
    <td width="104">Kimyo</td>
    <td width="94">Biologiya</td>
    </tr>
    <tr>
    <td width="45">30</td>
    <td width="85">61020200</td>
    <td width="369">Mehnat muhofazasi va texnika xavfsizligi (tarmoqlar bo‘yicha)</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    <tr>
    <td width="45">31</td>
    <td width="85">61040100</td>
    <td width="369">Transport logistikasi (transport turlari bo‘yicha)</td>
    <td width="104">Matematika</td>
    <td width="94">Fizika</td>
    </tr>
    </tbody>
    </table>
    <p>&nbsp;</p>
    <p><strong>Asos:&nbsp; </strong><strong>O‘zbekiston Respublikasi Oliy ta’lim, fan va innovasiyalar vazirining 2023 – yil 5 – maydagi 124-son buyrug‘iga 1-ilovasi</strong></p>
    <p>&nbsp;</p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>&nbsp;</strong><strong>JizPI&nbsp; Qabul komissiyasi</strong></p>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>

                
            </div>
        </div>
    </div>
</div>



{% endblock content %}