{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Bakalavr</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/bakalavr/bakalavr-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div align="justify">
                    <hr>
                    {% comment %} <p style="text-align: center;"><span style="color: #0000ff;"><strong>Jizzax politexnika institutida </strong></span></p>
                    <p style="text-align: center;"><span style="color: #0000ff;"><strong>2024/2025&nbsp;</strong><strong>o</strong><strong>‘</strong><strong>quv</strong> <strong>yili</strong> <strong>uchun</strong> <strong>xorijiy</strong> <strong>oliy</strong> <strong>ta</strong><strong>’</strong><strong>lim</strong> <strong>muassasalari</strong> <strong>bilan</strong> <strong>hamkorlikda</strong> <strong>qo</strong><strong>‘</strong><strong>shma</strong> <strong>ta</strong><strong>’</strong><strong>lim</strong> <strong>dasturlari</strong> <strong>asosida</strong> <strong>kadrlar</strong> <strong>tayyorlash</strong> <strong>rejalashtirilgan</strong> <strong>ta</strong><strong>’</strong><strong>lim</strong> <strong>yo</strong><strong>‘</strong><strong>nalishlari</strong><strong> (</strong><strong>mutaxassisliklar</strong><strong>) </strong><strong>to</strong><strong>‘</strong><strong>g</strong><strong>‘</strong><strong>risida</strong></span></p>
                    <table class="table table-bordered" width="100%">
                    <tbody>
                    <tr>
                    <td rowspan="2" width="121"><strong>Bak/mag</strong></td>
                    <td colspan="2" width="232"><strong>Ta’lim yo‘nalishi (mutaxassislik)</strong></td>
                    <td rowspan="2" width="193"><strong>Hamkor xorijiy oliy ta’lim muassasasidagi ta’lim yo‘nalishi (mutaxassislik) nomi</strong></td>
                    <td rowspan="2" width="113"><strong>Xorijiy davlat nomi</strong></td>
                    <td rowspan="2" width="103"><strong>Hamkor xorijiy oliy ta’lim muassasasi nomi</strong></td>
                    <td rowspan="2" width="97"><strong>2024-2025 o‘quv yili uchun qabul kvotasiga taklif (kontrakt)</strong></td>
                    <td rowspan="2" width="80"><strong>O‘qitish tili</strong></td>
                    <td rowspan="2" width="82"><strong>Ta’lim muddati (2+2, 3+1, 1+1 va b.)</strong></td>
                    </tr>
                    <tr>
                    <td width="89"><strong>Shifri</strong></td>
                    <td width="143"><strong>Nomi</strong></td>
                    </tr>
                    <tr>
                    <td width="121"><strong>Bakalavr</strong></td>
                    <td width="89"><strong>&nbsp;</strong></td>
                    <td width="143"><strong>&nbsp;</strong></td>
                    <td width="193"><strong>&nbsp;</strong></td>
                    <td width="113"><strong>&nbsp;</strong></td>
                    <td width="103"><strong>&nbsp;</strong></td>
                    <td width="97"><strong>280</strong></td>
                    <td width="80"><strong>&nbsp;</strong></td>
                    <td width="82"><strong>&nbsp;</strong></td>
                    </tr>
                    <tr>
                    <td width="121"><strong>Magistratura</strong></td>
                    <td width="89"><strong>&nbsp;</strong></td>
                    <td width="143"><strong>&nbsp;</strong></td>
                    <td width="193"><strong>&nbsp;</strong></td>
                    <td width="113"><strong>&nbsp;</strong></td>
                    <td width="103"><strong>&nbsp;</strong></td>
                    <td width="97"><strong>10</strong></td>
                    <td width="80"><strong>&nbsp;</strong></td>
                    <td width="82"><strong>&nbsp;</strong></td>
                    </tr>
                    <tr>
                    <td width="121">Bakalavr</td>
                    <td width="89">60611500</td>
                    <td width="143">Radiolelektron qurilmalar va tizimlar (tarmoqlar boʻyicha)</td>
                    <td width="193">11.03.01 Радиоэлектронное оборудование и системы (по отраслям)</td>
                    <td width="113">Rossiya Federatsiyasi</td>
                    <td width="103">“Moskva energetika instituti” milliy tadqiqot universiteti</td>
                    <td width="97">20</td>
                    <td width="80">Rus tili</td>
                    <td width="82">2+2</td>
                    </tr>
                    <tr>
                    <td width="121">Bakalavr</td>
                    <td width="89">60711200</td>
                    <td width="143">Elektronika va asbobsozlik (tarmoqlar boʻyicha)</td>
                    <td width="193">11.03.04<p></p>
                    <p>Электроника и приборостроение (по отраслям)</p></td>
                    <td width="113">Rossiya Federatsiyasi</td>
                    <td width="103">“Moskva energetika instituti” milliy tadqiqot universiteti</td>
                    <td width="97">20</td>
                    <td width="80">Rus tili</td>
                    <td width="82">2+2</td>
                    </tr>
                    <tr>
                    <td width="121">Bakalavr</td>
                    <td width="89">60710100</td>
                    <td width="143">Kimyoviy texnologiya (ishlab chiqarish turlari boʻyicha)</td>
                    <td width="193">18.03.01.<p></p>
                    <p>Химическая технология<br>
                    Химическая технология (по видам производств)</p></td>
                    <td width="113">Rossiya Federatsiyasi</td>
                    <td width="103">Ivanova Davlat kimyo-texnologiya universiteti</td>
                    <td width="97">30</td>
                    <td width="80">Rus tili</td>
                    <td width="82">2+2</td>
                    </tr>
                    <tr>
                    <td width="121">Bakalavr</td>
                    <td width="89">60711300</td>
                    <td width="143">Metrologiya, standartlashtirish va mahsulot sifati menejmenti (tarmoqlar boʻyicha)</td>
                    <td width="193">27.03.01<p></p>
                    <p>Метрология, стандартизация и менеджмент качества продукции (по отраслям)</p></td>
                    <td width="113">Rossiya Federatsiyasi</td>
                    <td width="103">Ivanova Davlat kimyo-texnologiya universiteti</td>
                    <td width="97">20</td>
                    <td width="80">Rus tili</td>
                    <td width="82">2+2</td>
                    </tr>
                    <tr>
                    <td width="121">Bakalavr</td>
                    <td width="89">60720800</td>
                    <td width="143">Mashinasozlik texnologiyasi, mashinasozlik ishlab chiqarishini jihozlash va avtomatlashtirish</td>
                    <td width="193">15.03.01<p></p>
                    <p>Технология машиностроения, оборудование и автоматизация машиностроительных производств</p></td>
                    <td width="113">Rossiya Federatsiyasi</td>
                    <td width="103">Qozon Federal universiteti</td>
                    <td width="97">20</td>
                    <td width="80">Rus tili</td>
                    <td width="82">2+2</td>
                    </tr>
                    <tr>
                    <td width="121">Bakalavr</td>
                    <td width="89">60712500</td>
                    <td width="143">Transport vositalari muhandisligi (turlari boʻyicha)</td>
                    <td width="193">23.03.02<p></p>
                    <p>Инженерия транспортных средств</p></td>
                    <td width="113">Rossiya Federatsiyasi</td>
                    <td width="103">Qozon Federal universiteti</td>
                    <td width="97">20</td>
                    <td width="80">Rus tili</td>
                    <td width="82">2+2</td>
                    </tr>
                    <tr>
                    <td width="121">Bakalavr</td>
                    <td width="89">60411200</td>
                    <td width="143">Menejment (tarmoqlar va sohalar boʻyicha)</td>
                    <td width="193">38.03.02<p></p>
                    <p>Менеджмент</p></td>
                    <td width="113">Rossiya Federatsiyasi</td>
                    <td width="103">Qozon Federal universiteti</td>
                    <td width="97">20</td>
                    <td width="80">Rus tili</td>
                    <td width="82">2+2</td>
                    </tr>
                    <tr>
                    <td width="121">Bakalavr</td>
                    <td width="89">60710600</td>
                    <td width="143">Elektr energetikasi&nbsp; (tarmoqlar va yoʻnalishlar boʻyicha)</td>
                    <td width="193">13.03.02. Электроэнергетика и электротехника (Автоматизированные электрические распределительные сети)<br>
                    Электроэнергетика (по отраслям и направлениям)</td>
                    <td width="113">Rossiya Federatsiyasi</td>
                    <td width="103">Don davlat texnika universiteti</td>
                    <td width="97">20</td>
                    <td width="80">Rus tili</td>
                    <td width="82">2+2</td>
                    </tr>
                    <tr>
                    <td width="121">Bakalavr</td>
                    <td width="89">60730300</td>
                    <td width="143">Bino va inshootlar qurilishi (turlari bo‘yicha)</td>
                    <td width="193">08.03.01 – Строительство</td>
                    <td width="113">Rossiya Federatsiyasi</td>
                    <td width="103">Milliy tadqiqotlar Moskva Davlat qurilish universiteti</td>
                    <td width="97">10</td>
                    <td width="80">Rus tili</td>
                    <td width="82">2+2</td>
                    </tr>
                    <tr>
                    <td width="121">Bakalavr</td>
                    <td width="89">60720800</td>
                    <td width="143">Mashinasozlik texnologiyasi, mashinasozlik ishlab chiqarishini jihozlash va avtomatlashtirish</td>
                    <td width="193">Mechanical engineering</td>
                    <td width="113">Italiya</td>
                    <td width="103">Toshkent shahridagi Turin politexnika universiteti</td>
                    <td width="97">100</td>
                    <td width="80">Ingliz tili</td>
                    <td width="82">2+2</td>
                    </tr>
                    <tr>
                    <td width="121"><strong>Magistratura</strong></td>
                    <td width="89">70710901</td>
                    <td width="143">Energiya tejamkorligi va energoaudit (tarmoqlar boʻyicha)</td>
                    <td width="193">13.04.02 Электорэнергетика и электротехника (Автоматизированные системы электроснабжения)</td>
                    <td width="113">Rossiya Federatsiyasi</td>
                    <td width="103">Don davlat texnika universiteti</td>
                    <td width="97">10</td>
                    <td width="80">Rus tili</td>
                    <td width="82">1+1</td>
                    </tr>
                    </tbody>
                    </table> {% endcomment %}
                    <p>&nbsp;</p>
                    <p><strong><span style="color: #0000ff;">Oliy ta’lim muassasalariga kirish uchun onlayn ro‘yxatdan o‘tish bo‘yicha videoqo‘llanma</span></strong></p>
                    <p><a href="http://https://youtu.be/v1bzwnBPaxI" class="fancybox-youtube a-link">Youtube orqali ko‘rish</a></p>
                    <p>Davlat test markazining rasmiy sahifalari:<br>
                    <a href="https://t.me/dtmuzb" class="a-link">Telegram </a> <a href="https://www.facebook.com/dtmuzb/" class="a-link">Facebook</a>&nbsp; <a href="https://instagram.com/dtmuzb/" class="a-link">Instagram </a>  <a href="https://www.youtube.com/dtmuzb/" class="a-link">YouTube </a></p>
                    <hr>
                    <p><strong><span style="color: #0000ff;">Chet tilidan kasbiy (ijodiy) imtihonlarni o‘tkazish tartibi</span></strong></p>
                    <p>Chet tilidan kasbiy (ijodiy) imtihonlarni o‘tkazish tartibi</p>
                    <p><a href="https://youtu.be/HP4q5mW3AmY" class="fancybox-youtube a-link">Youtube orqali ko‘rish </a></p>
                    <p>Davlat test markazining rasmiy sahifalari:<br>
                    <a href="https://t.me/dtmuzb" class="a-link">Telegram </a>&nbsp;| <a href="https://www.facebook.com/dtmuzb/" class="a-link">Facebook </a>&nbsp;| <a href="https://instagram.com/dtmuzb/" class="a-link">Instagram </a>&nbsp;| <a href="https://www.youtube.com/dtmuzb/" class="a-link">YouTube </a></p>
                    <hr>
                    <p>Qabul jarayoni</p>
                    <p>⚡️5-iyundan oliy va professional taʼlim muassasalariga oʻqishga kirish istagidagi abituriyentlar uchun qabul boshlanadi (kasb-hunar maktabi bundan mustasno) Bu haqda AOKAda oʻtkazilgan brifingda Bilim va malakalarni baholash agentligi direktori maslahatchisi Zohid Shakarov maʼlum qildi.
                        💬Oʻqishga qabul qilish boʻyicha kirish imtihonlari iyul-avgust oylarida oʻtkaziladi.
                        Davlat OTMlari bakalavriatiga qabul jarayoni ikki bosqichda amalga oshiriladi.
                        🔄1-bosqichda abituriyentlar har yili 5-iyundan 25-iyunga qadar (25-iyun kuni ham) test sinovi topshirish uchun my.uzbmb.uz saytida onlayn roʻyxatdan oʻtadi hamda quyidagilarni tanlaydi:
                        🔸Faqat test sinovida ishtirok etsa:
                        ✔️fanlar majmuasi;
                        ✔️taʼlim tili;
                        ✔️test topshirish hududi.
                        ↪️Alohida iqtidor talab etiladigan taʼlim yoʻnalishlarida oʻqish istagini bildirsa (ijodiy imtihon) topshirsa:
                        ✔️taʼlim tili;
                        ✔️test topshirish hududi;
                        ✔️alohida iqtidor talab etiladigan taʼlim yoʻnalishi;
                        ✔️kasbiy (ijodiy) imtihonni topshiriladigan davlat OTM.
                        🔄2-bosqichda abituriyentlar test sinovlari toʻliq yakunlanganidan soʻng 15 kun davomida my.uzbmb.uz sayti orqali quyidagilarni tanlaydi:
                        ✔️oliy taʼlim muassasasi;
                        ✔️bakalavriat taʼlim yoʻnalishi;
                        ✔️taʼlim shakli;
                        ✔️tanlov ustuvorligi.
                        🗣 Abituriyentning test sinovida toʻplagan ballari imtihon oʻtkazilgan kunning ertasiga, uning talabalikka tavsiya etilgani yoki etilmagani boʻyicha tanlov natijasi qabul jarayonining 2-bosqichi toʻliq yakunlangandan keyin bir hafta muddatda Agentlikning rasmiy veb-saytida eʼlon qilinadi.
                        ⚡️Kollej va texnikumlarda oʻqish istagini bildirgan abituriyentlar OTMlariga qabulning yakuniy natijasi eʼlon qilinganidan soʻng 10 kun muddatda quyidagilarni tanlaydi:
                        ✔️kollej va (yoki) texnikum;
                        ✔️kasb va mutaxassislik;
                        ✔️taʼlim shakli.
                        🗣 Natijasi bir hafta muddatda Agentlikning rasmiy veb-saytida eʼlon qilinadi.
                        ⚡️Fuqarolar oʻzlarini qiziqtirgan savollari bilan Agentlikning 1195 ishonch telefoniga murojaat qilishlari mumkin.
                        </p>
                    <p>Қабул_2024 | РасманАБИТУРИЕНТЛАР ДИҚҚАТИГА!!!</p>
                    <p>2024/2025 ўқув йили учун қабул квоталари тасдиқланди</p>
                    <p>Президентнинг «Давлат олий таълим муассасаларига ўқишга қабул қилиш жараёнларини ташкил этиш тўғрисида»ги қарорига мувофиқ “2024/2025 ўқув йилида Ўзбекистон Республикасининг олий таълим муассасаларига ўқишга қабул қилишнинг давлат буюртмаси параметрлари тўғрисида”ги Фармойиши қабул қилинди.</p>
                    <p>Унга кўра ўқишга қабул қилишнинг давлат буюртмаси параметрлари умумий квотаси 121 395 нафар этиб белгиланди.</p>
                    <p>👉БАКАЛАВРИАТ – 110 707 нафар:</p>
                    <p>кундузги таълим шаклига – 77 477 нафар;</p>
                    <p>сиртқи таълим шаклига – 26 095 нафар нафар;</p>
                    <p>кечки таълим шаклига – 3 725 нафар;</p>
                    <p>масофавий таълим шаклига – 3 410 нафар;</p>
                    <p>👉МАГИСТРАТУРА – 10 688 нафар.</p>
                    <p>✔️ Шунингдек, молиявий мустақиллик берилган 36 та давлат олий таълим муассасалари тўлов-контракт бўйича яна 50 мингдан ортиқ қабул параметрлари Кузатув кенгашлари қарори билан тасдиқланиши режалаштирилган. Натижада жорий ўқув йилида қабул параметрлари ўтган йилга нисбатан ошади.</p>
                    <hr>
                    <p>Қонунчилик_янгиликлари</p>
                    <p>⚡️»Давлат олий таълим муассасаларига ўқишга қабул қилиш жараёнларини ташкил этиш тўғрисида»ги қарор қабул қилинди.</p>
                    <p>➡️ Ҳужжатга кўра 2024/2025 ўқув йилидан бошлаб давлат олий таълим муассасаларида:</p>
                    <p>➖ўқишга қабул қилишнинг давлат буюртмаси параметрлари Президент фармойишига кўра тасдиқланади;</p>
                    <p>➖бакалавриат йўналишлари бўйича масофавий таълим шакли жорий этилади;</p>
                    <p>➖магистратурага қабул абитуриентнинг бакалавриат диплом бали ўртача кўрсаткичи ҳамда хорижий тилни билиш даражаси бўйича тегишли миллий ёки халқаро сертификат асосида амалга оширилади, мутахассислик фанидан имтиҳон ўтказилмайди.</p>
                    <p>Бунда магистратурага қабул бир йилда икки марта – август ва январь ойларида ташкил этилади.</p>
                    <p>🔖 2023/2024 ўқув йилидан бошлаб давлат олий таълим муассасаларига ўқишга қабул қилишнинг давлат буюртмаси параметрлари фақат давлат гранти бўйича тасдиқланади.</p>
                    <p>🔰 Талабалар ўқишини давлат олий таълим муассасаларига кўчириш бўйича қуйидаги тартиб жорий этилмоқда:</p>
                    <p>➡️ Унга кўра, давлат олий таълим муассасалариаро талабалар ўқишини кўчиришга фақатгина қуйидаги ҳолатларда рухсат берилади:</p>
                    <p>➖ талаба оила қуриши муносабати билан турмуш ўртоғи доимий яшайдиган ҳудуддаги олий таълим муассасасига ўқишини кўчириш учун мурожаат қилганда;</p>
                    <p>➖ давлат органларининг ходимлари иш жойи ўзгарган тақдирда унинг турмуш ўртоғи ёки вояга етмаган фарзанди ўқишини кўчириш учун мурожаат қилганда, тегишли вазирлик (идора) раҳбарининг тавсияси асосида.</p>
                    <p>Маълумот ўрнида, хорижий мамлакатлар ҳамда юртимизда фаолият юритаётган хорижий ОТМ филиаллари ва нодавлат олий таълим ташкилотларидан давлат олий таълим муассасаларига ўқишни кўчириш амалдаги тартибга мувофиқ ташкил этилади.</p>
                    <p>Шунингдек, Олий ва ўрта махсус таълим вазирлигининг ваколатлари кенгаймоқда. Жумладан, ўрта махсус ва профессионал таълим муассасаларига ўқишга қабул қилишнинг давлат буюртмаси параметрлари тегишли вазирлик ва идоралар билан келишилган ҳолда вазирлик томонидан тасдиқланади.</p>
                    <p>🔗 <a href="http://(https://t.me/eduuz)" class="a-link">Telegram</a>&nbsp; | <a href="http://(https://www.instagram.com/edu.uz/)" class="a-link">Instagram</a>&nbsp; | <a class="a-link" href="http://(https://www.facebook.com/eduuzrasmiy)">Facebook</a>&nbsp; | <a href="http://(http://youtube.com/c/eduuz)" class="a-link">YouTube</a></p>
                    <hr>
                    <p>Қабул_2024| #АБИТУРИЕНТЛАР_ДИҚҚАТИГА</p>
                    <p>⚡️Энди олий таълим муассасаларига қабул 20 июндан бошланади</p>
                    <p>✅ 2024/2025 ўқув йили учун республика олий таълим муассасаларига абитуриент сифатида рўйхатдан ўтиш жараёнлари 2024 йилнинг 20 июнидан 20 июлига қадар (жорий кун ҳам) бўлиб ўтади. Бунда онлайн рўйхатдан ўтиш:</p>
                    <p>👉 Ягона интерактив давлат хизматлари портали орқали;</p>
                    <p>👉 Давлат тест марказининг расмий веб-сайти орқали орқали амалга оширилади.</p>
                    <p>➡️Чет тили фанидан касбий (ижодий) имтиҳон ўтказиладиган таълим йўналишларига онлайн рўйхатдан ўтиш 10 июлига қадар (10 июль куни ҳам) амалга оширилади.</p>
                    <p>манбаа: 👉<a href="http://@eduuz" class="a-link">@eduuz</a></p>
                    <p>⚡️Жорий йил ҳам 5 тагача таълим йўналишини танлаш мумкин</p>
                    <p>Қарорга кўра абитуриентларга:</p>
                    <p>➡️ тест синови топшириладиган фанлар мажмуаси ва кетма-кетлиги бир хил бўлган бештагача бакалавриат таълим йўналишларини ҳамда бир вақтнинг ўзида барча таълим шаклларини танлаш ҳуқуқи берилади;</p>
                    <p>➡️ рўйхатдан ўтиш жараёнида танланган бакалавриат таълим йўналишлари устуворлигига қараб дастлаб давлат гранти, кейинчалик тўлов-контракт асосида танловда иштирок этиш имконияти берилади.</p>
                    <p>манбаа: 👉<a href="http://@eduuz" class="a-link">@eduuz</a></p>
                    <hr>
                    <p>⚡️Энди магистратурага қабул икки марта бўлади</p>
                    <p>Жорий ўқув йилидан бошлаб давлат олий таълим муассасаларида:</p>
                    <p>➖магистратурага қабул абитуриентнинг бакалавриат диплом бали ўртача кўрсаткичи ҳамда хорижий тилни билиш даражаси бўйича тегишли миллий ёки халқаро сертификат асосида амалга оширилади, мутахассислик фанидан имтиҳон ўтказилмайди.</p>
                    <p>Бунда магистратурага қабул бир йилда икки марта – август ва январь ойларида ташкил этилади.</p>
                    <p>манбаа: 👉<a href="http://@eduuz" class="a-link">@eduuz</a></p>
                    <p>Қўшимча тўлдириш</p>
                    <p>Магистратурага қабул икки марта амалга оширилганда:</p>
                    <p>🗓 август ойидаги қабул – навбатдаги ўқув йили учун тасдиқланган давлат гранти ва тўлов-контракт асосидаги квоталар учун;</p>
                    <p>🗓 январь ойидаги қабул – ёзда тўлмай қолган ўринлар ҳамда Давлат қабул комиссияси тасдиқланган контракт асосидаги қўшимча квоталар учун бўлади.</p>
                    <p>манбаа: 👉<a href="http://@eduuz" class="a-link">@eduuz</a></p>
                    <hr>
                    <p>Қабул_2024 | Расман</p>
                    <p>АБИТУРИЕНТЛАР ДИҚҚАТИГА!!!</p>
                    <p>2024/2025 ўқув йили учун қабул квоталари тасдиқланди</p>
                    <p>Президентнинг «Давлат олий таълим муассасаларига ўқишга қабул қилиш жараёнларини ташкил этиш тўғрисида»ги қарорига мувофиқ “2024/2025 ўқув йилида Ўзбекистон Республикасининг олий таълим муассасаларига ўқишга қабул қилишнинг давлат буюртмаси параметрлари тўғрисида”ги Фармойиши қабул қилинди.</p>
                    <p>Унга кўра ўқишга қабул қилишнинг давлат буюртмаси параметрлари умумий квотаси 121 395 нафар этиб белгиланди.</p>
                    <p>👉БАКАЛАВРИАТ – 110 707 нафар:</p>
                    <p>кундузги таълим шаклига – 77 477 нафар;</p>
                    <p>сиртқи таълим шаклига – 26 095 нафар нафар;</p>
                    <p>кечки таълим шаклига – 3 725 нафар;</p>
                    <p>масофавий таълим шаклига – 3 410 нафар;</p>
                    <p>👉МАГИСТРАТУРА – 10 688 нафар.</p>
                    <p>✔️ Шунингдек, молиявий мустақиллик берилган 36 та давлат олий таълим муассасалари тўлов-контракт бўйича яна 50 мингдан ортиқ қабул параметрлари Кузатув кенгашлари қарори билан тасдиқланиши режалаштирилган. Натижада жорий ўқув йилида қабул параметрлари ўтган йилга нисбатан ошади.</p>
                    <hr>
                    <p>⚡️»Давлат олий таълим муассасаларига ўқишга қабул қилиш жараёнларини ташкил этиш тўғрисида»ги қарор қабул қилинди.</p>
                    <p>➡️ Ҳужжатга кўра 2024/2025 ўқув йилидан бошлаб давлат олий таълим муассасаларида:</p>
                    <p>➖ўқишга қабул қилишнинг давлат буюртмаси параметрлари Президент фармойишига кўра тасдиқланади;</p>
                    <p>➖бакалавриат йўналишлари бўйича масофавий таълим шакли жорий этилади;</p>
                    <p>➖магистратурага қабул абитуриентнинг бакалавриат диплом бали ўртача кўрсаткичи ҳамда хорижий тилни билиш даражаси бўйича тегишли миллий ёки халқаро сертификат асосида амалга оширилади, мутахассислик фанидан имтиҳон ўтказилмайди.</p>
                    <p>Бунда магистратурага қабул бир йилда икки марта – август ва январь ойларида ташкил этилади.</p>
                    <p>🔖 2023/2024 ўқув йилидан бошлаб давлат олий таълим муассасаларига ўқишга қабул қилишнинг давлат буюртмаси параметрлари фақат давлат гранти бўйича тасдиқланади.</p>
                    <p>🔰 Талабалар ўқишини давлат олий таълим муассасаларига кўчириш бўйича қуйидаги тартиб жорий этилмоқда:</p>
                    <p>➡️ Унга кўра, давлат олий таълим муассасалариаро талабалар ўқишини кўчиришга фақатгина қуйидаги ҳолатларда рухсат берилади:</p>
                    <p>➖ талаба оила қуриши муносабати билан турмуш ўртоғи доимий яшайдиган ҳудуддаги олий таълим муассасасига ўқишини кўчириш учун мурожаат қилганда;</p>
                    <p>➖ давлат органларининг ходимлари иш жойи ўзгарган тақдирда унинг турмуш ўртоғи ёки вояга етмаган фарзанди ўқишини кўчириш учун мурожаат қилганда, тегишли вазирлик (идора) раҳбарининг тавсияси асосида.</p>
                    <p>Маълумот ўрнида, хорижий мамлакатлар ҳамда юртимизда фаолият юритаётган хорижий ОТМ филиаллари ва нодавлат олий таълим ташкилотларидан давлат олий таълим муассасаларига ўқишни кўчириш амалдаги тартибга мувофиқ ташкил этилади.</p>
                    <p>Шунингдек, Олий ва ўрта махсус таълим вазирлигининг ваколатлари кенгаймоқда. Жумладан, ўрта махсус ва профессионал таълим муассасаларига ўқишга қабул қилишнинг давлат буюртмаси параметрлари тегишли вазирлик ва идоралар билан келишилган ҳолда вазирлик томонидан тасдиқланади.</p>
                    <hr>
                    <p>⚡️Энди олий таълим муассасаларига қабул 20 июндан бошланади</p>
                    <p>✅ 2024/2025 ўқув йили учун республика олий таълим муассасаларига абитуриент сифатида рўйхатдан ўтиш жараёнлари 2024 йилнинг 20 июнидан 20 июлига қадар (жорий кун ҳам) бўлиб ўтади. Бунда онлайн рўйхатдан ўтиш:</p>
                    <p>👉 Ягона интерактив давлат хизматлари портали орқали;</p>
                    <p>👉 Давлат тест марказининг расмий веб-сайти орқали орқали амалга оширилади.</p>
                    <p>➡️Чет тили фанидан касбий (ижодий) имтиҳон ўтказиладиган таълим йўналишларига онлайн рўйхатдан ўтиш 10 июлига қадар (10 июль куни ҳам) амалга оширилади.</p>
                    <p>⚡️Жорий йил ҳам 5 тагача таълим йўналишини танлаш мумкин</p>
                    <p>Қарорга кўра абитуриентларга:</p>
                    <p>➡️ тест синови топшириладиган фанлар мажмуаси ва кетма-кетлиги бир хил бўлган бештагача бакалавриат таълим йўналишларини ҳамда бир вақтнинг ўзида барча таълим шаклларини танлаш ҳуқуқи берилади;</p>
                    <p>➡️ рўйхатдан ўтиш жараёнида танланган бакалавриат таълим йўналишлари устуворлигига қараб дастлаб давлат гранти, кейинчалик тўлов-контракт асосида танловда иштирок этиш имконияти берилади.</p>
                    <hr>
                    <p>⚡️Энди магистратурага қабул икки марта бўлади</p>
                    <p>Жорий ўқув йилидан бошлаб давлат олий таълим муассасаларида:</p>
                    <p>➖магистратурага қабул абитуриентнинг бакалавриат диплом бали ўртача кўрсаткичи ҳамда хорижий тилни билиш даражаси бўйича тегишли миллий ёки халқаро сертификат асосида амалга оширилади, мутахассислик фанидан имтиҳон ўтказилмайди.</p>
                    <p>Бунда магистратурага қабул бир йилда икки марта – август ва январь ойларида ташкил этилади.</p>
                    <p>Қўшимча тўлдириш</p>
                    <p>Магистратурага қабул икки марта амалга оширилганда:</p>
                    <p>🗓 август ойидаги қабул – навбатдаги ўқув йили учун тасдиқланган давлат гранти ва тўлов-контракт асосидаги квоталар учун;</p>
                    <p>🗓 январь ойидаги қабул – ёзда тўлмай қолган ўринлар ҳамда Давлат қабул комиссияси тасдиқланган контракт асосидаги қўшимча квоталар учун бўлади.</p>
                    <p>манбаа: 👉<a href="http://@eduuz" class="a-link">@eduuz</a></p>
                    <div class="box">
                    <p>&nbsp;</p>
                    <hr>
                    <h3>Abituriyentlarga eslatma</h3>
                    <p>Abituriyent qabul komissiyasiga tegishli hujjatlarni topshirishi, topshirgan hujjatlariga mos ma’lumotlar abiturientlar bazasiga to‘g‘ri kiritilganini tasdiqlashi lozim. Qabul jarayoni tugagandan so‘ng abiturientning murojaatlari (shikoyatlari) inobatga olinmaydi.</p>
                    <p>Abituriyent ruxsatnomasida ko‘rsatilgan sana va vaqtda test sinovlarida ishtirok etadi. Test sinovlari jarayonida abiturient quyidagi huquqlarga ega:</p>
                    <ul>
                    <li style="list-style-type: none;">
                    <ul class="notice-to-applicant">
                    <li>savollar kitobchasidan qoralama sifatida foydalanish;</li>
                    <li>test topshiriqlarini belgilangan muddatdan oldin bajarish, undan so‘ng test materiallarini tartib bilan guruh nazoratchisiga topshirish hamda test sinovlari o‘tkaziladigan hududdan chiqib ketish.</li>
                    </ul>
                    </li>
                    </ul>
                    <p>Abituriyent test sinovlari o‘tkaziladigan kuni binoga tegishli hududga soat 07:00 (ikkinchi smena soat 13:00) gacha, binoga soat 07:30 (ikkinchi smena soat 13:30) gacha faqat abiturient ruxsatnomasi va pasport bilan shaxsni identifikatsiyalash vositalari hamda videofiksatsiya qurilmalari orqali tartibli ravishda kirishi, test sinovlarini o‘tkazish qoidalariga qat’iy amal qilishi bilan birgalikda, birinchi smenada soat 07:30 dan 08:00 gacha, ikkinchi smenada soat 14:30 dan 15:00 gacha quyidagi ishlarni amalga oshirishga majbur:</p>
                    <ul>
                    <li style="list-style-type: none;">
                    <ul class="notice-to-applicant">
                    <li>test topshiriqlari kitobi va unga mos raqamli javoblar varaqasi raqamlari mosligini tekshirish;</li>
                    <li>test materiallari nuqsonsizligini tekshirish va nuqson borligi aniqlansa, darhol guruh nazoratchisiga xabar berish;</li>
                    <li>javoblar varaqasi to‘g‘ri to‘ldirilishini ta’minlash;</li>
                    <li>test topshiriqlari kitobi muqovasida va javoblar varaqasida ko‘rsatilgan tegishli joyga familiyasi, ismi, otasining ismini yozib, imzo qo‘yish;</li>
                    <li>javoblar varaqasi raqamini abiturient ruxsatnomasi va titul varaqasining tegishli joyiga to‘g‘ri ko‘chirib imzo qo‘yish;</li>
                    <li>titul varaqasida ko‘rsatilgan maxsus kod va ta’lim muassasasi kodini javoblar varaqasida ko‘rsatilgan joyga to‘g‘ri ko‘chirib yozish va tegishli doirachalarni bo‘yash.</li>
                    </ul>
                    </li>
                    </ul>
                    <p>Abituriyent yuqorida ko‘rsatilgan majburiyatlaridan tashqari quyidagilarga shaxsan javobgar hisoblanadi:</p>
                    <ul>
                    <li style="list-style-type: none;">
                    <ul class="notice-to-applicant">
                    <li>javoblar varaqasini havo rang pastali sharikli ruchka bilan to‘ldirish;</li>
                    <li>javoblar varaqasini bukmaslik, marker chizig‘iga yozmaslik, javoblar varaqasi raqami ostida joylashgan doirachalarni bo‘yamaslik;</li>
                    <li>javoblar varaqasi bilim darajasini belgilovchi asosiy hujjat bo‘lganligi uchun uni to‘g‘ri to‘ldirish;</li>
                    <li>belgilangan vaqt tugaguniga qadar test topshiriqlari kitobida mavjud test topshiriqlarini bajargan holda javoblar varaqasining mos tartib raqamidagi tegishli doirachalarini bo‘yab, test topshiriqlari kitobini va unga mos bo‘lgan javoblar varaqasini guruh nazoratchisiga topshirish.</li>
                    </ul>
                    </li>
                    </ul>
                    <p>Test topshiriqlari umumiy o‘rta va o‘rta maxsus, kasb-hunar ta’limining umumta’lim fanlari o‘quv dasturlariga muvofiq tuziladi.</p>
                    <p>Abituriyentlar tanlagan ta’lim yo‘nalishiga qarab tegishli ravishda bir, ikki yoki uchta fan majmuasi bo‘yicha test sinovini topshiradi.</p>
                    <p>Test topshiriqlari kitobidagi mavjud har bir fan 30 tadan test topshirig‘ini o‘z ichiga oladi.</p>
                    <p>Test topshiriqlarini bajarish uchun (javoblar varaqasini to‘ldirish bilan birga) 30 ta test topshirig‘iga 1 soat, 60 ta test topshirig‘iga 2 soat, 90 ta test topshirig‘iga 3 soat vaqt belgilanadi.</p>
                    <p>Har bir test topshirig‘iga 4 tadan («A», «V», «S», «D») muqobil javoblar beriladi.</p>
                    <p>Abituriyent tomonidan har bir test topshirig‘iga faqat bitta javob belgilanishi shart bo‘lib, test topshiriqlari kitobida to‘g‘ri deb hisoblangan javoblarni javoblar varaqasidagi mos tartib raqamli doirachadan bittasini bo‘yaydi (javoblar varaqasida bo‘yalgan javoblarni o‘zgartirish mumkin emas). Agar javoblar varaqasidagi «belgilash uchun namuna» qoidasiga rioya etilmasa, jumladan bitta test topshirig‘iga javoblar varaqasida tegishli doiracha bo‘yalmasa yoki ikki va undan ortiq doiracha bo‘yalsa yoxud to‘liq bo‘yalmasa ushbu test topshirig‘iga ball berilmaydi.</p>
                    <p>Abituriyentning test sinovlarini topshirish vaqtida guruhdan chiqishi taqiqlanadi, chiqqan abiturientlar qaytadan test sinovlariga qo‘yilmaydi. Sog‘lig‘iga salbiy ta’sir etuvchi holatlarda test materiallarisiz kuzatuv ostida guruhdan chiqish hollari bundan mustasno.</p>
                    <p>Quyidagi hollarda abiturient test sinovlari jarayonidan chetlashtiriladi va natijalari chiqarilmasligiga asos bo‘ladi:</p>
                    <ul>
                    <li style="list-style-type: none;">
                    <ul class="notice-to-applicant">
                    <li>test sinovlari o‘tkaziladigan hududga yoki binoga kirishda mikrokalьkulyator, lug‘at, jadval, kitob, uyali telefon, kompьyuter, telekommunikatsiya qurilmalari va boshqa vositalar, shpargalkalar olib kirishga harakat qilsa, olib kirgan bo‘lsa yoki ulardan test sinovlari davomida foydalansa;</li>
                    <li>test materiallarini boshqa abiturientga uzatsa yoki ularga yordam bersa;</li>
                    <li>test materiallarini binodan tashqariga chiqarsa, test topshiriqlari kitobi varag‘ini yirtsa, test sinovlari uchun ajratilgan vaqt tugaganda test materiallarini topshirishdan bosh tortsa;</li>
                    <li>test sinovlari jarayonida videokuzatuvlar orqali abiturientning tartib va qoidalarga amal qilmaganligi aniqlansa.</li>
                    </ul>
                    </li>
                    </ul>
                    <hr>
                    <p style="text-align: center;"><span style="color: #0000ff;"><strong>Sinov topshiriqlarining namunalari va ularni hal qilish bo’yicha tavsiyalar</strong></span></p>
                    <p>MTMning rasmiy sayti «Foydali ma’lumotlar» bo’limida barcha umumiy fanlar bo’yicha o’nta standartlashtirilgan test topshiriqlari va ularning ayrimlarini hal qilish bo’yicha tavsiyalar mavjud.</p>
                    <hr>
                    <p>&nbsp;</p>
                    <p style="text-align: center;"><span style="color: #0000ff;"><strong>Abituriyentlar uchun darsliklar haqida</strong></span></p>
                    <p>2019-2020 o’quv yilida foydalanish uchun tavsiya etilgan umumta’lim maktablari, akademik litseylar va kasb-hunar kollejlari uchun darsliklarning elektron shakli (2 yillik o’quv kursi bilan) Xalq ta’limi vazirligining <a href="http://eduportal.uz/Eduportal/Barchasi/33" class="a-link">axborot-ta’lim portalidan yuklab olinishi mumkin</a>. Mustaqil o’qish uchun taniqli asarlarni <a href="http://www.aim.uz" class="a-link">www.aim.uz</a> saytidan yuklab olish mumkin</p>
                    <p>&nbsp;</p>
                    <hr>
                    <p style="text-align: center;"><span style="color: #0000ff;"><strong>Abituriyentlar uchun qo’shimcha yangiliklar</strong></span></p>
                    <p>O’zbekiston Respublikasi Vazirlar Mahkamasining 2018 yil 10 yanvardagi 21-sonli «O’zbekiston Respublikasida o’lchov birliklarini qo’llash to’g’risida» gi qarori tasdiqlandi.</p>
                    <p>Ushbu qoidaga muvofiq respublikamizda o’quv, uslubiy va qo’shimcha ma’lumotnomalarda Xalqaro birliklar tizimi (SI) bo’yicha o’lchov birliklarining nomlari va belgilaridan foydalanishga ruxsat beriladi.</p>
                    <p>Ushbu qarorni bajarish maqsadida, joriy yilda oliy o’quv yurtlari bakalavriga qabul qilish uchun test topshiriqlari bazasini shakllantirish jarayonida biz qarorga binoan o’lchov birliklaridan foydalanish to’g’risida hisobot beramiz.</p>
                    <p>Masalan: yangi talablarga muvofiq o’lchov birligi santimetr (sm) lotin harflarida sm sifatida belgilanadi.</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <hr>
                    <p>&nbsp;</p>
                    </div>
                    </div>

                
            </div>
        </div>
    </div>
</div>



{% endblock content %}