{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Bakalavr</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/bakalavr/bakalavr-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
              
                <div class="col">
                    <main id="content" class="content-style">
                                                <article id="post-428" class="post-428 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">O’tish ballari 2019-2020 o’quv yili</h1>                             </div>
                                <div class="entry-content">
                                                                    <p style="text-align: center;"><strong>JIZZAX POLITEXNIKA INSTITUTI 2019-2020 O’QUV YILI UCHUN BAKALAVRIAT YO‘NALISHLARIGA TALABALARNI QABUL QILISH UCHUN O‘TKAZILGAN TEST SINOVINING TA’LIM YO‘NALISHLARI BO‘YICHA TANLOV VA O‘TISH BALLARI (kunduzgi,o’zbekcha)</strong></p>
    <table class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
    <th class="text-center" rowspan="2">№</th>
    <th class="text-center" colspan="2">Ta’lim yo‘nalishi</th>
    <th class="text-center" colspan="2">O‘tish bali</th>
    </tr>
    <tr>
    <th class="text-center">Shifri</th>
    <th class="text-center">Nomi</th>
    <th class="text-center">Davlat granti</th>
    <th class="text-center">To‘lov shartnoma</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <th class="text-center">1</th>
    <td class="text-center">5230200</td>
    <td>Menejment (tarmoqlar va sohalar bo`yicha)</td>
    <td class="text-center">143.6</td>
    <td class="text-center">124.3</td>
    </tr>
    <tr>
    <th class="text-center">2</th>
    <td class="text-center">5310100</td>
    <td>Energetika (tarmoqlar bo`yicha)</td>
    <td class="text-center">111.6</td>
    <td class="text-center">99.2</td>
    </tr>
    <tr>
    <th class="text-center">3</th>
    <td class="text-center">5310200</td>
    <td>Elektr energetikasi (tarmoqlar va yo`nalishlar bo`yicha)</td>
    <td class="text-center">123.5</td>
    <td class="text-center">100.3</td>
    </tr>
    <tr>
    <th class="text-center">4</th>
    <td class="text-center">5310600</td>
    <td>Yerusti transport tizimlari va ularning ekspluatatsiyasi (transport turlari bo`yicha)</td>
    <td class="text-center">111.3</td>
    <td class="text-center">89.7</td>
    </tr>
    <tr>
    <th class="text-center">5</th>
    <td class="text-center">5310700</td>
    <td>Elektr texnikasi, elektr mexanikasi va elektr texnologiyalari (tarmoqlar bo`yicha)</td>
    <td class="text-center">82</td>
    <td class="text-center">68.9</td>
    </tr>
    <tr>
    <th class="text-center">6</th>
    <td class="text-center">5310800</td>
    <td>Elektronika va asbobsozlik (tarmoqlar bo`yicha)</td>
    <td class="text-center">75.8</td>
    <td class="text-center">65.7</td>
    </tr>
    <tr>
    <th class="text-center">7</th>
    <td class="text-center">5310900</td>
    <td>Metrologiya, standartlashtirish va mahsulot sifati menejmenti (tarmoqlar bo`yicha)</td>
    <td class="text-center">69.4</td>
    <td class="text-center">63.1</td>
    </tr>
    <tr>
    <th class="text-center">8</th>
    <td class="text-center">5320101</td>
    <td>Materialshunoslik va yangi materiallar texnologiyasi (qurilish)</td>
    <td class="text-center">68.5</td>
    <td class="text-center">61</td>
    </tr>
    <tr>
    <th class="text-center">9</th>
    <td class="text-center">5320200</td>
    <td>Mashinasozlik texnologiyasi, mashinasozlik ishlab chiqarishini jihozlash va avtomatlashtirish</td>
    <td class="text-center">96.5</td>
    <td class="text-center">85.8</td>
    </tr>
    <tr>
    <th class="text-center">10</th>
    <td class="text-center">5320400</td>
    <td>Kimyoviy texnologiya (ishlab chiqarish turlari bo`yicha)</td>
    <td class="text-center">69.3</td>
    <td class="text-center">64.1</td>
    </tr>
    <tr>
    <th class="text-center">11</th>
    <td class="text-center">5320900</td>
    <td>Yengil sanoat buyumlari konstruksiyasini ishlash va texnologiyasi (ishlab chiqarish turlari bo`yicha)</td>
    <td class="text-center">99.2</td>
    <td class="text-center">82.5</td>
    </tr>
    <tr>
    <th class="text-center">12</th>
    <td class="text-center">5321000</td>
    <td>Oziq-ovqat texnologiyasi (mahsulot turlari bo`yicha)</td>
    <td class="text-center">68.6</td>
    <td class="text-center">62.7</td>
    </tr>
    <tr>
    <th class="text-center">13</th>
    <td class="text-center">5321200</td>
    <td>Tabiiy tolalarni dastlabki ishlash texnologiyasi (xom ashyo turlari bo`yicha)</td>
    <td class="text-center">76.5</td>
    <td class="text-center">69.5</td>
    </tr>
    <tr>
    <th class="text-center">14</th>
    <td class="text-center">5321300</td>
    <td>Neft va neft-gazni qayta ishlash texnologiyasi</td>
    <td class="text-center">68.2</td>
    <td class="text-center">64.8</td>
    </tr>
    <tr>
    <th class="text-center">15</th>
    <td class="text-center">5340100</td>
    <td>Arxitektura (turlari bo`yicha)</td>
    <td class="text-center">107.7</td>
    <td class="text-center">98</td>
    </tr>
    <tr>
    <th class="text-center">16</th>
    <td class="text-center">5340200</td>
    <td>Bino va inshootlar qurilishi (turlari bo`yicha)</td>
    <td class="text-center">108.6</td>
    <td class="text-center">85.6</td>
    </tr>
    <tr>
    <th class="text-center">17</th>
    <td class="text-center">5340400</td>
    <td>Muhandislik kommunikatsiyalari qurilishi va montaji (turlari bo`yicha)</td>
    <td class="text-center">100.2</td>
    <td class="text-center">75.6</td>
    </tr>
    <tr>
    <th class="text-center">18</th>
    <td class="text-center">5340500</td>
    <td>Qurilish materiallari, buyumlari va konstruksiyalarini ishlab chiqarish</td>
    <td class="text-center">102</td>
    <td class="text-center">80.5</td>
    </tr>
    <tr>
    <th class="text-center">19</th>
    <td class="text-center">5340600</td>
    <td>Transport inshootlarining ekspluatatsiyasi (transport inshootlari turlari bo`yicha)</td>
    <td class="text-center">97.1</td>
    <td class="text-center">86.8</td>
    </tr>
    <tr>
    <th class="text-center">20</th>
    <td class="text-center">5340800</td>
    <td>Avtomobil yo`llari va aerodromlar</td>
    <td class="text-center">113.8</td>
    <td class="text-center">88</td>
    </tr>
    <tr>
    <th class="text-center">21</th>
    <td class="text-center">5341800</td>
    <td>Devorbop va pardozbop qurilish materiallari texnologiyasi</td>
    <td class="text-center">80.4</td>
    <td class="text-center">70.5</td>
    </tr>
    <tr>
    <th class="text-center">22</th>
    <td class="text-center">5341900</td>
    <td>Yig`ma temirbeton va beton konstruksiyalar va buyumlar ishlab chiqarish texnologiyasi</td>
    <td class="text-center">86.4</td>
    <td class="text-center">73.2</td>
    </tr>
    <tr>
    <th class="text-center">23</th>
    <td class="text-center">5350700</td>
    <td>Radioelektron qurilmalar va tizimlar (tarmoqlar bo`yicha)</td>
    <td class="text-center">103.6</td>
    <td class="text-center">86.8</td>
    </tr>
    <tr>
    <th class="text-center">24</th>
    <td class="text-center">5410500</td>
    <td>Qishloq xo`jalik mahsulotlarini saqlash va dastlabki ishlash texnologiyasi (mahsulotlar turlari bo`yicha)</td>
    <td class="text-center">92.1</td>
    <td class="text-center">70.4</td>
    </tr>
    <tr>
    <th class="text-center">25</th>
    <td class="text-center">5610101</td>
    <td>Xizmatlar sohasi: avtomobil transporti</td>
    <td class="text-center">99.1</td>
    <td class="text-center">86.9</td>
    </tr>
    <tr>
    <th class="text-center">26</th>
    <td class="text-center">5610102</td>
    <td>Xizmatlar sohasi: uy-joy kommunal va maishiy xizmatlar</td>
    <td class="text-center">88.5</td>
    <td class="text-center">76</td>
    </tr>
    <tr>
    <th class="text-center">27</th>
    <td class="text-center">5620100</td>
    <td>Tashishlarni tashkil etish va transport logistikasi (transport turlari bo`yicha)</td>
    <td class="text-center">118.9</td>
    <td class="text-center">87.4</td>
    </tr>
    <tr>
    <th class="text-center">28</th>
    <td class="text-center">5630100</td>
    <td>Ekologiya va atrof-muhit muhofazasi (tarmoqlar va sohalar bo`yicha)</td>
    <td class="text-center">69.1</td>
    <td class="text-center">65.4</td>
    </tr>
    <tr>
    <th class="text-center">29</th>
    <td class="text-center">5640200</td>
    <td>Mehnat muhofazasi va texnika xavfsizligi</td>
    <td class="text-center">84.7</td>
    <td class="text-center">70.3</td>
    </tr>
    </tbody>
    </table>
    <p style="text-align: center;"><strong>JIZZAX POLITEXNIKA INSTITUTI 2019-2020 O’QUV YILI UCHUN BAKALAVRIAT YO‘NALISHLARIGA TALABALARNI QABUL QILISH UCHUN O‘TKAZILGAN TEST SINOVINING TA’LIM YO‘NALISHLARI BO‘YICHA TANLOV VA O‘TISH BALLARI (kunduzgi,ruscha)</strong></p>
    <table class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
    <th class="text-center" rowspan="2">№</th>
    <th class="text-center" colspan="2">Ta’lim yo‘nalishi</th>
    <th class="text-center" colspan="2">O‘tish bali</th>
    </tr>
    <tr>
    <th class="text-center">Shifri</th>
    <th class="text-center">Nomi</th>
    <th class="text-center">Davlat granti</th>
    <th class="text-center">To‘lov shartnoma</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <th class="text-center">1</th>
    <td class="text-center">5310200</td>
    <td>Elektr energetikasi (tarmoqlar va yo`nalishlar bo`yicha)</td>
    <td class="text-center">78.5</td>
    <td class="text-center">67.5</td>
    </tr>
    <tr>
    <th class="text-center">2</th>
    <td class="text-center">5310600</td>
    <td>Yerusti transport tizimlari va ularning ekspluatatsiyasi (transport turlari bo`yicha)</td>
    <td class="text-center">81.4</td>
    <td class="text-center">66</td>
    </tr>
    <tr>
    <th class="text-center">3</th>
    <td class="text-center">5310700</td>
    <td>Elektr texnikasi, elektr mexanikasi va elektr texnologiyalari (tarmoqlar bo`yicha)</td>
    <td class="text-center">71.4</td>
    <td class="text-center">59.7</td>
    </tr>
    <tr>
    <th class="text-center">4</th>
    <td class="text-center">5320400</td>
    <td>Kimyoviy texnologiya (ishlab chiqarish turlari bo`yicha)</td>
    <td class="text-center">68.9</td>
    <td class="text-center">58.7</td>
    </tr>
    <tr>
    <th class="text-center">5</th>
    <td class="text-center">5320900</td>
    <td>Yengil sanoat buyumlari konstruksiyasini ishlash va texnologiyasi (ishlab chiqarish turlari bo`yicha)</td>
    <td class="text-center">72.6</td>
    <td class="text-center">59.2</td>
    </tr>
    <tr>
    <th class="text-center">6</th>
    <td class="text-center">5340200</td>
    <td>Bino va inshootlar qurilishi (turlari bo`yicha)</td>
    <td class="text-center">70.5</td>
    <td class="text-center">60.1</td>
    </tr>
    <tr>
    <th class="text-center">7</th>
    <td class="text-center">5340500</td>
    <td>Qurilish materiallari, buyumlari va konstruksiyalarini ishlab chiqarish</td>
    <td class="text-center">78.5</td>
    <td class="text-center">58.4</td>
    </tr>
    <tr>
    <th class="text-center">8</th>
    <td class="text-center">5340800</td>
    <td>Avtomobil yo`llari va aerodromlar</td>
    <td class="text-center">68.2</td>
    <td class="text-center">61.8</td>
    </tr>
    <tr>
    <th class="text-center">9</th>
    <td class="text-center">5350700</td>
    <td>Radioelektron qurilmalar va tizimlar (tarmoqlar bo`yicha)</td>
    <td class="text-center">73.8</td>
    <td class="text-center">62.5</td>
    </tr>
    <tr>
    <th class="text-center">10</th>
    <td class="text-center">5620100</td>
    <td>Tashishlarni tashkil etish va transport logistikasi (transport turlari bo`yicha)</td>
    <td class="text-center">74.6</td>
    <td class="text-center">61.9</td>
    </tr>
    </tbody>
    </table>
    <p style="text-align: center;"><strong>JIZZAX POLITEXNIKA INSTITUTI 2019-2020 O’QUV YILI UCHUN BAKALAVRIAT YO‘NALISHLARIGA TALABALARNI QABUL QILISH UCHUN O‘TKAZILGAN TEST SINOVINING TA’LIM YO‘NALISHLARI BO‘YICHA TANLOV VA O‘TISH BALLARI (sirtqi)</strong></p>
    <table class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
    <th class="text-center" rowspan="2">№</th>
    <th class="text-center" colspan="2">Ta’lim yo‘nalishi</th>
    <th class="text-center" colspan="2">O‘tish bali</th>
    </tr>
    <tr>
    <th class="text-center">Shifri</th>
    <th class="text-center">Nomi</th>
    <th class="text-center">Davlat granti</th>
    <th class="text-center">To‘lov shartnoma</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <th class="text-center">1</th>
    <td class="text-center">5310200</td>
    <td>Elektr energetikasi (tarmoqlar va yo`nalishlar bo`yicha)</td>
    <td class="text-center">–</td>
    <td class="text-center">72.9</td>
    </tr>
    <tr>
    <th class="text-center">2</th>
    <td class="text-center">5310600</td>
    <td>Yerusti transport tizimlari va ularning ekspluatatsiyasi (transport turlari bo`yicha)</td>
    <td class="text-center">–</td>
    <td class="text-center">70.1</td>
    </tr>
    <tr>
    <th class="text-center">3</th>
    <td class="text-center">5320400</td>
    <td>Kimyoviy texnologiya (ishlab chiqarish turlari bo`yicha)</td>
    <td class="text-center">–</td>
    <td class="text-center">63</td>
    </tr>
    <tr>
    <th class="text-center">4</th>
    <td class="text-center">5320900</td>
    <td>Yengil sanoat buyumlari konstruksiyasini ishlash va texnologiyasi (ishlab chiqarish turlari bo`yicha)</td>
    <td class="text-center">–</td>
    <td class="text-center">69.2</td>
    </tr>
    <tr>
    <th class="text-center">5</th>
    <td class="text-center">5340200</td>
    <td>Bino va inshootlar qurilishi (turlari bo`yicha)</td>
    <td class="text-center">–</td>
    <td class="text-center">69</td>
    </tr>
    <tr>
    <th class="text-center">6</th>
    <td class="text-center">5340400</td>
    <td>Muhandislik kommunikatsiyalari qurilishi va montaji (turlari bo`yicha)</td>
    <td class="text-center">–</td>
    <td class="text-center">67.3</td>
    </tr>
    <tr>
    <th class="text-center">7</th>
    <td class="text-center">5340500</td>
    <td>Qurilish materiallari, buyumlari va konstruksiyalarini ishlab chiqarish</td>
    <td class="text-center">–</td>
    <td class="text-center">66.1</td>
    </tr>
    <tr>
    <th class="text-center">8</th>
    <td class="text-center">5341800</td>
    <td>Devorbop va pardozbop qurilish materiallari texnologiyasi</td>
    <td class="text-center">–</td>
    <td class="text-center">64.2</td>
    </tr>
    <tr>
    <th class="text-center">9</th>
    <td class="text-center">5341900</td>
    <td>Yig`ma temirbeton va beton konstruksiyalar va buyumlar ishlab chiqarish texnologiyasi</td>
    <td class="text-center">–</td>
    <td class="text-center">65</td>
    </tr>
    </tbody>
    </table>
    <p>&nbsp;</p>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
                
            </div>
        </div>
    </div>
</div>



{% endblock content %}