{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Bakalavr</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/bakalavr/bakalavr-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                        
                <div class="row mt-4">
                    <div class="col col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 mt-4">
                        <h5>Biz bilan bog’lanish <br>
                            Manzil: <br>
                            O’zbekiston Respublikasi <br>
                            Jizzax viloyati Jizzax shaxri
                            Islom Karimov ko’chasi 4 uy. <br>
                            Pochta Indeks: 130100</h5>
                    </div>
                    <div class="col col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 mt-4">
                        <h5>E-mail: <i>dgpi_info@edu.uz</i></h5>
                        <h5>Telefonlar: <br><i>72-226-44-50
                           
                            
                             <br> 72-226-54-77</i></h5>
                        <h5>Ishonch telefon raqami: <br> <i>72-226-36-81</i></h5>
                    </div>
                    <div class="col col-12 mt-4">
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12202.633693154998!2d67.8450441!3d40.127615049999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38b29550494bd135%3A0x2ee31c3b0976955a!2sJizzax%20Politexnika%20Instituti%20A%20Binosi!5e0!3m2!1sru!2s!4v1711344128832!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
            
                </div>
                
            </div>
        </div>
    </div>
</div>



{% endblock content %}