{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Bakalavr</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/bakalavr/bakalavr-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <h5 class="entry-title">Qabul kvotasi</h5>
                    <div class="entry-content"><table class="table table-bordered" width="100%">
                        <tbody>
                        <tr>
                        <td colspan="10" width="779">
                        <p style="text-align: center;"><strong>2023/2024 ўқув  йилида Жиззах политехника институти бакалавриатининг кундузги таълим шакли бўйича давлат буюртмаси асосида ўқишга қабул қилиш параметрларининг таълим йўналишлари ва ўқитиш тиллари бўйича тақсимланиши</strong></p>
                        <table style="height: 1874px;" width="1041">
                        <tbody>
                        <tr>
                        <td rowspan="3" width="29">№*</td>
                        <td rowspan="3" width="72">Шифр</td>
                        <td rowspan="3" width="416">Таълим йўналишлари</td>
                        <td rowspan="3" width="49">Жами</td>
                        <td colspan="3" width="146">Давлат грантлари асосида</td>
                        <td colspan="3" width="144">Тўлов-контракт асосида</td>
                        </tr>
                        <tr>
                        <td rowspan="2" width="48">Жами</td>
                        <td colspan="2" width="98">шу жумладан:</td>
                        <td rowspan="2" width="48">Жами</td>
                        <td colspan="2" width="96">шу жумладан:</td>
                        </tr>
                        <tr>
                        <td width="48">ўзбек</td>
                        <td width="50">рус**</td>
                        <td width="48">ўзбек</td>
                        <td width="48">рус</td>
                        </tr>
                        <tr>
                        <td width="29"></td>
                        <td width="72">22</td>
                        <td width="416">Жиззах политехника институти</td>
                        <td width="49">1 775</td>
                        <td width="48">585</td>
                        <td width="48">537</td>
                        <td width="50">48</td>
                        <td width="48">1 190</td>
                        <td width="48">998</td>
                        <td width="48">192</td>
                        </tr>
                        <tr>
                        <td width="29"></td>
                        <td colspan="2" width="488">шу жумладан, таълим йўналишлари бўйича</td>
                        <td width="49"></td>
                        <td width="48"></td>
                        <td width="48"></td>
                        <td width="50"></td>
                        <td width="48"></td>
                        <td width="48"></td>
                        <td width="48"></td>
                        </tr>
                        <tr>
                        <td width="29">1</td>
                        <td width="72">60112400</td>
                        <td width="416">Профессионал таълим (транспорт воситалари мухандислиги)</td>
                        <td width="49">25</td>
                        <td width="48">10</td>
                        <td>10</td>
                        <td width="50"></td>
                        <td width="48">15</td>
                        <td width="48">15</td>
                        <td width="48"></td>
                        </tr>
                        <tr>
                        <td width="29">2</td>
                        <td width="72">60112400</td>
                        <td width="416">Профессионал таълим (иқтисодиёт)</td>
                        <td width="49">25</td>
                        <td width="48">10</td>
                        <td>10</td>
                        <td width="50"></td>
                        <td width="48">15</td>
                        <td width="48">15</td>
                        <td width="48"></td>
                        </tr>
                        <tr>
                        <td width="29">3</td>
                        <td width="72">60410100</td>
                        <td width="416">Бухгалтерия ҳисоби ва аудит (тармоқлар бўйича)</td>
                        <td width="49">25</td>
                        <td width="48">5</td>
                        <td>5</td>
                        <td width="50"></td>
                        <td width="48">20</td>
                        <td width="48">20</td>
                        <td width="48"></td>
                        </tr>
                        <tr>
                        <td width="29">4</td>
                        <td width="72">60411200</td>
                        <td width="416">Менежмент (тармоқлар ва соҳалар бўйича)</td>
                        <td width="49">50</td>
                        <td width="48">5</td>
                        <td>3</td>
                        <td width="50">2</td>
                        <td width="48">45</td>
                        <td width="48">22</td>
                        <td width="48">23</td>
                        </tr>
                        <tr>
                        <td width="29">5</td>
                        <td width="72">60611500</td>
                        <td width="416">Радиоэлектрон қурилмалар ва тизимлар ( тармоқлар бўйича)</td>
                        <td width="49">50</td>
                        <td width="48">10</td>
                        <td>7</td>
                        <td width="50">3</td>
                        <td width="48">40</td>
                        <td width="48">23</td>
                        <td width="48">17</td>
                        </tr>
                        <tr>
                        <td width="29">6</td>
                        <td width="72">60710100</td>
                        <td width="416">Кимёвий технология (ишлаб чиқариш турлари бўйича)</td>
                        <td width="49">75</td>
                        <td width="48">25</td>
                        <td>20</td>
                        <td width="50">5</td>
                        <td width="48">50</td>
                        <td width="48">30</td>
                        <td width="48">20</td>
                        </tr>
                        <tr>
                        <td width="29">7</td>
                        <td width="72">60710400</td>
                        <td width="416">Экология ва атроф-муҳит муҳофазаси (тармоқлар ва соҳалар бўйича)</td>
                        <td width="49">25</td>
                        <td width="48">10</td>
                        <td>10</td>
                        <td width="50"></td>
                        <td width="48">15</td>
                        <td width="48">15</td>
                        <td width="48"></td>
                        </tr>
                        <tr>
                        <td width="29">8</td>
                        <td width="72">60710500</td>
                        <td width="416">Энергетика (тармоқлар бўйича)</td>
                        <td width="49">50</td>
                        <td width="48">20</td>
                        <td>20</td>
                        <td width="50"></td>
                        <td width="48">30</td>
                        <td width="48">30</td>
                        <td width="48"></td>
                        </tr>
                        <tr>
                        <td width="29">9</td>
                        <td width="72">60710600</td>
                        <td width="416">Электр энергетикаси  (тармоқлар ва йўналишлар бўйича)</td>
                        <td width="49">75</td>
                        <td width="48">25</td>
                        <td>20</td>
                        <td width="50">5</td>
                        <td width="48">50</td>
                        <td width="48">30</td>
                        <td width="48">20</td>
                        </tr>
                        <tr>
                        <td width="29">10</td>
                        <td width="72">60710700</td>
                        <td width="416">Электр техникаси, электр механикаси ва электр технологиялари (тармоқлар бўйича)</td>
                        <td width="49">50</td>
                        <td width="48">20</td>
                        <td>20</td>
                        <td width="50"></td>
                        <td width="48">30</td>
                        <td width="48">30</td>
                        <td width="48"></td>
                        </tr>
                        <tr>
                        <td width="29">11</td>
                        <td width="72">60711200</td>
                        <td width="416">Электроника ва асбобсозлик (тармоқлар бўйича)</td>
                        <td width="49">25</td>
                        <td width="48">5</td>
                        <td>5</td>
                        <td width="50"></td>
                        <td width="48">20</td>
                        <td width="48">20</td>
                        <td width="48"></td>
                        </tr>
                        <tr>
                        <td width="29">12</td>
                        <td width="72">60711300</td>
                        <td width="416">Метрология, стандартлаштириш ва маҳсулот сифати менежменти (тармоқлар бўйича)</td>
                        <td width="49">50</td>
                        <td width="48">20</td>
                        <td>20</td>
                        <td width="50"></td>
                        <td width="48">30</td>
                        <td width="48">30</td>
                        <td width="48"></td>
                        </tr>
                        <tr>
                        <td width="29">13</td>
                        <td width="72">60711400</td>
                        <td width="416">Технологик жараёнлар ва ишлаб чиқаришни автоматлаштириш ва бошқариш (тармоқлар бўйича)</td>
                        <td width="49">50</td>
                        <td width="48">20</td>
                        <td>20</td>
                        <td width="50"></td>
                        <td width="48">30</td>
                        <td width="48">30</td>
                        <td width="48"></td>
                        </tr>
                        <tr>
                        <td width="29">14</td>
                        <td width="72">60712100</td>
                        <td width="416">Металлургия (металл турлари бўйича)</td>
                        <td width="49">50</td>
                        <td width="48">20</td>
                        <td>20</td>
                        <td width="50"></td>
                        <td width="48">30</td>
                        <td width="48">30</td>
                        <td width="48"></td>
                        </tr>
                        <tr>
                        <td width="29">15</td>
                        <td width="72">60712400</td>
                        <td width="416">Автомобилсозлик ва тракторсозлик</td>
                        <td width="49">25</td>
                        <td width="48">10</td>
                        <td>10</td>
                        <td width="50"></td>
                        <td width="48">15</td>
                        <td width="48">15</td>
                        <td width="48"></td>
                        </tr>
                        <tr>
                        <td width="29">16</td>
                        <td width="72">60712500</td>
                        <td width="416">Транспорт воситалари муҳандислиги (турлари бўйича)</td>
                        <td width="49">125</td>
                        <td width="48">30</td>
                        <td>25</td>
                        <td width="50">5</td>
                        <td width="48">95</td>
                        <td width="48">75</td>
                        <td width="48">20</td>
                        </tr>
                        <tr>
                        <td width="29">17</td>
                        <td width="72">60720100</td>
                        <td width="416">Озиқ-овқат технологияси (махсулот турлари бўйича)</td>
                        <td width="49">50</td>
                        <td width="48">20</td>
                        <td>20</td>
                        <td width="50"></td>
                        <td width="48">30</td>
                        <td width="48">30</td>
                        <td width="48"></td>
                        </tr>
                        <tr>
                        <td width="29">18</td>
                        <td width="72">60720600</td>
                        <td width="416">Материалшунослик ва янги материаллар технологияси (тармоқлар бўйича)</td>
                        <td width="49">25</td>
                        <td width="48">10</td>
                        <td>10</td>
                        <td width="50"></td>
                        <td width="48">15</td>
                        <td width="48">15</td>
                        <td width="48"></td>
                        </tr>
                        <tr>
                        <td width="29">19</td>
                        <td width="72">60720700</td>
                        <td width="416">Технологик  машиналар ва жихозлар (тармоқлар бўйича)</td>
                        <td width="49">25</td>
                        <td width="48">10</td>
                        <td>10</td>
                        <td width="50"></td>
                        <td width="48">15</td>
                        <td width="48">15</td>
                        <td width="48"></td>
                        </tr>
                        <tr>
                        <td width="29">20</td>
                        <td width="72">60720800</td>
                        <td width="416">Машинасозлик технологияси, машинасозлик ишлаб чиқаришини жиҳозлаш ва автоматлаштириш</td>
                        <td width="49">25</td>
                        <td width="48">10</td>
                        <td>10</td>
                        <td width="50"></td>
                        <td width="48">15</td>
                        <td width="48">15</td>
                        <td width="48"></td>
                        </tr>
                        <tr>
                        <td width="29">21</td>
                        <td width="72">60721200</td>
                        <td width="416">Енгил саноат буюмлари конструкциясини ишлаш<br />
                        ва технологияси (ишлаб чиқариш турлари бўйича)</td>
                        <td width="49">125</td>
                        <td width="48">40</td>
                        <td>35</td>
                        <td width="50">5</td>
                        <td width="48">85</td>
                        <td width="48">65</td>
                        <td width="48">20</td>
                        </tr>
                        <tr>
                        <td width="29">22</td>
                        <td width="72">60721300</td>
                        <td width="416">Табиий толаларни дастлабки ишлаш технологияси (хом ашё ва жараён турлари бўйича)</td>
                        <td width="49">50</td>
                        <td width="48">20</td>
                        <td>20</td>
                        <td width="50"></td>
                        <td width="48">30</td>
                        <td width="48">30</td>
                        <td width="48"></td>
                        </tr>
                        <tr>
                        <td width="29">23</td>
                        <td width="72">60730100</td>
                        <td width="416">Архитектура (турлари бўйича)</td>
                        <td width="49">50</td>
                        <td width="48">20</td>
                        <td>20</td>
                        <td width="50"></td>
                        <td width="48">30</td>
                        <td width="48">30</td>
                        <td width="48"></td>
                        </tr>
                        <tr>
                        <td width="29">24</td>
                        <td width="72">60730300</td>
                        <td width="416">Бино ва иншоотлар қурилиши (турлари бўйича)</td>
                        <td width="49">125</td>
                        <td width="48">50</td>
                        <td>40</td>
                        <td width="50">10</td>
                        <td width="48">75</td>
                        <td width="48">60</td>
                        <td width="48">15</td>
                        </tr>
                        <tr>
                        <td width="29">25</td>
                        <td width="72">60730700</td>
                        <td width="416">Қурилиш материаллари, буюмлари ва конструкцияларини ишлаб чиқариш</td>
                        <td width="49">100</td>
                        <td width="48">30</td>
                        <td>25</td>
                        <td width="50">5</td>
                        <td width="48">70</td>
                        <td width="48">50</td>
                        <td width="48">20</td>
                        </tr>
                        <tr>
                        <td width="29">26</td>
                        <td width="72">60730400</td>
                        <td width="416">Муҳандислик коммуникациялари қурилиш ва монтажи (турлари бўйича)</td>
                        <td width="49">75</td>
                        <td width="48">30</td>
                        <td>30</td>
                        <td width="50"></td>
                        <td width="48">45</td>
                        <td width="48">45</td>
                        <td width="48"></td>
                        </tr>
                        <tr>
                        <td width="29">27</td>
                        <td width="72">60730500</td>
                        <td width="416">Сув таъминоти ва канализация тизимларини лойихалаштириш ва эксплуатацияси</td>
                        <td width="49">50</td>
                        <td width="48">20</td>
                        <td>20</td>
                        <td width="50"></td>
                        <td width="48">30</td>
                        <td width="48">30</td>
                        <td width="48"></td>
                        </tr>
                        <tr>
                        <td width="29">28</td>
                        <td width="72">60730800</td>
                        <td width="416">Йўл муҳандислиги (сохалар ва фаолият турлари бўйича)</td>
                        <td width="49">125</td>
                        <td width="48">30</td>
                        <td>25</td>
                        <td width="50">5</td>
                        <td width="48">95</td>
                        <td width="48">75</td>
                        <td width="48">20</td>
                        </tr>
                        <tr>
                        <td width="29">29</td>
                        <td width="72">60810100</td>
                        <td width="416">Қишлоқ хўжалигини механизациялаштириш</td>
                        <td width="49">50</td>
                        <td width="48">15</td>
                        <td>15</td>
                        <td width="50"></td>
                        <td width="48">35</td>
                        <td width="48">35</td>
                        <td width="48"></td>
                        </tr>
                        <tr>
                        <td width="29">30</td>
                        <td width="72">60811300</td>
                        <td width="416">Қишлоқ хўжалик маҳсулотларини сақлаш ва дастлабки ишлаш технологияси (махсулотлар турлари бўйича)</td>
                        <td width="49">50</td>
                        <td width="48">20</td>
                        <td>20</td>
                        <td width="50"></td>
                        <td width="48">30</td>
                        <td width="48">30</td>
                        <td width="48"></td>
                        </tr>
                        <tr>
                        <td width="29">31</td>
                        <td width="72">61020200</td>
                        <td width="416">Меҳнат муҳофазаси ва техника хавфсизлиги (тармоқлар бўйича)</td>
                        <td width="49">25</td>
                        <td width="48">5</td>
                        <td>5</td>
                        <td width="50"></td>
                        <td width="48">20</td>
                        <td width="48">20</td>
                        <td width="48"></td>
                        </tr>
                        <tr>
                        <td width="29">32</td>
                        <td width="72">61040100</td>
                        <td width="416">Транспорт логистикаси (транспорт турлари бўйича)</td>
                        <td width="49">50</td>
                        <td width="48">10</td>
                        <td>7</td>
                        <td width="50">3</td>
                        <td width="48">40</td>
                        <td width="48">23</td>
                        <td width="48">17</td>
                        </tr>
                        </tbody>
                        </table>
                        </td>
                        </tr>
                        </tbody>
                        </table>
                        <div class="entry-links"></div>
                        </div>
                
            </div>
        </div>
    </div>
</div>



{% endblock content %}