{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Bakalavr</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/bakalavr/bakalavr-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col">
                    <h1 class="entry-title">Qabul komissiyasi</h1>                             </div>
                    <main id="content" class="content-style">
                        <article id="post-487" class="post-487 page type-page status-publish hentry">
                            <div class="entry-content">
                                    <p style="text-align: center;">
                                        <strong>2024-2025 o‘quv yilida Jizzax politexnika institutining qabul komissiyasi mas’ul rahbarlari
                                        </strong>
                                    </p>
                                    <p style="text-align: center;"><strong>TARKIBI</strong></p>
                                    <table style="height: 500px; text-align:center;" width="100%">
                                        <tbody>
                                            <tr>
                                            <td width="29"><strong>№</strong></td>
                                            <td width="162"><strong>F.I.Sh</strong></td>
                                            <td width="300"><strong>Lavozimi</strong></td>
                                            <td width="300"><strong>Vazifasi </strong></td>
                                            </tr>
                                            <tr>
                                            <td width="29">1</td>
                                            <td width="162">Usmankulov Alisher Kadirkulovich</td>
                                            <td width="464">Rektor</td>
                                            <td width="464">Rais</td>
                                            </tr>
                                            <tr>
                                            <td width="29">2</td>
                                            <td width="162">Eshbekova Sanobar Omonlikovna</td>
                                            <td width="464">Yoshlar masalalari va ma’naviy-ma’rifiy ishlar bo‘yicha birinchi prorektor;
                                                - Ko‘zi ojizlar toifasiga kiruvchi abituriyentlaming kirish imtihonlarini o‘tkazish bo‘yicha ma’sul
                                                </td>
                                            <td width="464">Rais muovini</td>
                                            </tr>
                                            <tr>
                                            <td width="29">3</td>
                                            <td width="162">Sangirova Gulshoda Tursunovna</td>
                                            <td width="464">Jizzax viloyat Nurli maskan maktab internati direktori</td>
                                            <td width="464">A’zo</td>
                                            </tr>
                                            <tr>
                                            <td width="29">4</td>
                                            <td width="162">Xaitov Xasan Qodirovich</td>
                                            <td width="464">Korrupsiyaga qarshi kurashish Komplayens-nazorat tizimini boshqarish bo‘limi boshlig‘i</td>
                                            <td width="464">A’zo</td>
                                            </tr>
                                            <tr>
                                            <td width="29">5</td>
                                            <td width="464">Rajabov Orif Xonimqulovich</td>
                                            <td width="464">Institut psixologi</td>
                                            <td width="464">A’zo</td>
                                            </tr> <tr>
                                            <td width="29">6</td>
                                            <td width="464">Maxramov Muhammad Abduhalil o‘g‘li</td>
                                            <td width="464">Yoshlar bilan ishlash, ma’naviyat va ma’rifat bo‘limi uslubchisi</td>
                                            <td width="464">A’zo</td>
                                            </tr>  
                                            <tr>
                                            <td width="29">7</td>
                                            <td width="464">Yaxshilikov Komil O‘rolovich</td>
                                            <td width="464">Yoshlar bilan ishlash, ma’naviyat va ma’rifat bo‘limi uslubchisi</td>
                                            <td width="464">Kotib</td>
                                            </tr>        
                                        </tbody>
                                    </table>
                                    <div class="entry-links"></div>
                            </div>
                        </article>
                    </main><!----content-style---->
                </div>



                <div class="col">




                    <main id="content" class="content-style">
                                                <article id="post-487" class="post-487 page type-page status-publish hentry">
                                <div class="">
                                    
                                <div class="entry-content">
                                                                    <p style="text-align: center;"><strong>Jizzax politexnika instituti 2024-2025 o`quv yili qabul komissiyasi a’zolarining</strong></p>
    <p style="text-align: center;"><strong>TARKIBI</strong></p>
    <table style="height: 2055px;" width="931">
    <tbody>
    <tr>
    <td width="29"><strong>№</strong></td>
    <td width="162"><strong>F.I.SH.</strong></td>
    <td width="464"><strong>Lavozimi, qabul komissiyasidagi vazifasi</strong></td>
    </tr>
    <tr>
    <td width="29">1</td>
    <td width="162">Usmankulov Alisher Kadirkulovich</td>
    <td width="464">Rektor, qabul komissiyasi raisi.</td>
    </tr>
    <tr>
    <td width="29">2</td>
    <td width="162">Nasriddinov Jasur Islomovich</td>
    <td width="464">O‘quv ishlari bo‘yicha prorektor v.b, qabul komissiyasi raisining muovini.</td>
    </tr>
    <tr>
    <td width="29">3</td>
    <td width="162">Abdunazarov Jamshid Nurmuhammadovich</td>
    <td width="464">Ilmiy ishlar va innovatsiyalar bo‘yicha prorektor;
        - Xorijiy oliy ta’lim muassasalari bilan qo‘shma ta’lim dasturlarini muvofiqlashtiruvchi bo‘lim 2+2 dasturlari asosida bakalavrlar qabuli bo‘yicha mas’ul, a’zo
        </td>
    </tr>
    <tr>
    <td width="29">4</td>
    <td width="162">Mirzabekov Mirkomil Saydaxmatovich</td>
    <td width="464">Qurilish materiallari va kimyoviy texnologiya fakulteti dekani, qabul komissiyasi mas’ul kotibi.</td>
    </tr>
    <tr>
    <td width="29">5</td>
    <td width="162">Misirov O’tkir Botirovich</td>
    <td width="464">Moliya - iqtisod ishlari bo‘yicha prorektor v.b, a’zo.</td>
    </tr>
    <tr>
    <td width="29">6</td>
    <td width="162">Eshbekova Sanobar Omonlikovna</td>
    <td width="464">Yoshlar masalalari va ma’naviy-ma’rifiy ishlar bo‘yicha birinchi prorektor;
        - Ko‘zi ojizlar toifasiga kiruvchi abituriyentlarning kirish imtihonlarini o‘tkazish bo‘yicha ma’sul, a’zo
        </td>
    </tr>
    <tr>
    <td width="29">7</td>
    <td width="162">Xaitov Xasan Qodirovich</td>
    <td width="464">Korrupsiyaga qarshi kurashish Komplayens-nazorat tizimini boshqarish bo‘limi boshlig‘i, a’zo.</td>
    </tr>
    <tr>
    <td width="29">8</td>
    <td width="162">Axmedov Jo‘rabek Raxmonberdiyevich</td>
    <td width="464">Sirtqi bo‘lim boshlig‘i;
        - Qabul komissiyasi mas’ul kotibining bakalavriatura sirtqi bo‘lim bo‘yicha o‘rinbosari, a’zo.
        </td>
    </tr>
    <tr>
    <td width="29">9</td>
    <td width="162">Ibragimov Jaxongir Ko‘chimovich</td>
    <td width="464">Magistratura bo‘limi boshlig‘i;
        - Qabul komissiyasi mas’ul kotibining magistratura bo‘yicha o‘rinbosari. a’zo.
        </td>
    </tr>
    <tr>
    <td width="29">10</td>
    <td width="162">Egamberdiyev Fazliddin Otaqulovich</td>
    <td width="464">“Tabiiy tolalar va matoga ishlov berish” kafedrasi mudiri;
        - Institutda ikkinchi oliy ta’lim hujjatlarini qabul qilish bo'yicha mas’ul. a’zo
        </td>
    </tr>
    <tr>
    <td width="29">11</td>
    <td width="162">Hamidov Jalil Abdurasulovich</td>
    <td width="464">Servis fakulteti dekani;
        - Iqtisodiyot tarmoqlarida kamida besh yil ish stajiga ega bo‘lgan fuqarolarning qabuli bo‘yicha mas’ul, a’zo
        </td>
    </tr>
    <tr>
    <td width="29">12</td>
    <td width="162">G‘aybullayev Bobur Jo‘raboy o‘g‘li</td>
    <td width="464">Xodimlar bo‘limi boshlig‘i;
        - Talabalarni o‘qishini ko‘chirish va qayta tiklash bo‘yicha mas’ul, hamda abituriyentlar va ularning ota-onalari bilan suhbat o‘tkazish bo‘yicha ma’sul. a’zo.
        </td>
    </tr>
    <tr>
    <td width="29">13</td>
    <td width="162">Djamolov O‘tkir Ilxomovich</td>
    <td width="464">Raqamli ta’lim texnologiyalari markazi boshlig‘i; 
        -Fuqaroligi bo‘lmagan shaxslarni institutga hujjatlarini rasmiylashtirish bo‘yicha mas’ul, a’zo.
        </td>
    </tr>
    <tr>
    <td width="29">14</td>
    <td width="162">Berdikulov Azzam Mardonovich</td>
    <td width="464">Arxitektura va qurilish fakulteti dekani, a’zo.</td>
    </tr>
    <tr>
    <td width="29">15</td>
    <td width="162">Abbazov Ilxom Zaripovich</td>
    <td width="464">Sanoat texnologiyasi fakulteti dekani, a’zo</td>
    </tr>
    <tr>
    <td width="29">16</td>
    <td width="162">Pardaev Obid Rahimboboyevich</td>
    <td width="464">Energetika va radioelektronika dekani, a’zo</td>
    </tr>
    <tr>
    <td width="29">17</td>
    <td width="162">Jiyanbayev Sirojiddin</td>
    <td width="464">Transport fakulteti dekani, a’zo</td>
    </tr>
    <tr>
    <td width="29">18</td>
    <td width="162">Berdiqulov Sirojiddin Xasanovich</td>
    <td width="464">Bosh hisobchi;
        -Tavsiya etilgan abituriyentlarga shartnomalarni rasmiylashtirish bo’yicha ma’sul, a’zo
        </td>
    </tr>
    </tbody>
    </table>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>



    
                
                <div class="col">
                    <main id="content" class="content-style">
                        <article id="post-487" class="post-487 page type-page status-publish hentry">
                            <div class="entry-content">
                                    <p style="text-align: center;">
                                        <strong>2024-2025 o‘quv yilida Jizzax politexnika institutining Ikkinchi mutaxassislikka qabul qilish bo‘yicha komissiyasi 
                                            TARKIBi </strong>
                                    </p>
                                    <p style="text-align: center;"><strong>TARKIBI</strong></p>
                                    <table style="height: 500px; text-align:center;" width="100%">
                                        <tbody>
                                            <tr>
                                            <td width="29"><strong>№</strong></td>
                                            <td width="162"><strong>F.I.Sh</strong></td>
                                            <td width="300"><strong>Lavozimi</strong></td>
                                            <td width="300"><strong>Vazifasi </strong></td>
                                            </tr>
                                            <tr>
                                            <td width="29">1</td>
                                            <td width="162">Usmankulov Alisher Kadirkulovich</td>
                                            <td width="464">Rektor</td>
                                            <td width="464">Rais</td>
                                            </tr>
                                            <tr>
                                            <td width="29">2</td>
                                            <td width="162">Nasriddinov Jasur Islomovich</td>
                                            <td width="464">O‘quv ishlari bo‘yicha prorektor v.b.</td>
                                            <td width="464">Rais muovini</td>
                                            </tr>
                                            <tr>
                                            <td width="29">3</td>
                                            <td width="162">Egamberdiyev Fazliddin Otaqulovich</td>
                                            <td width="464">“Tabiiy tolalar va matoga ishlov berish” kafedrasi mudiri;
                                                - Institutda ikkinchi oliy ta’lim hujjatlarini qabul qilish bo'yicha mas’ul</td>
                                            <td width="464">Ma’sul</td>
                                            </tr>
                                            <tr>
                                            <td width="29">4</td>
                                            <td width="162">Xaitov Xasan Qodirovich</td>
                                            <td width="464">Korrupsiyaga qarshi kurashish Komplayens-nazorat tizimini boshqarish bo‘limi boshlig‘i</td>
                                            <td width="464">A’zo</td>
                                            </tr>
                                            <tr>
                                            <td width="29">5</td>
                                            <td width="464">G‘aybullayev Bobur Jo‘raboy o‘g‘li</td>
                                            <td width="464">Xodimlar bo‘limi boshlig‘i</td>
                                            <td width="464">A’zo</td>
                                            </tr> <tr>
                                            <td width="29">6</td>
                                            <td width="464">Sharopov Bobir Nabijon o‘g‘li</td>
                                            <td width="464">“Tabiiy tolalar va matoga ishlov berish” kafedrasi assistenti</td>
                                            <td width="464">Kotib</td>
                                            </tr>  
                                            {% comment %} <tr>
                                            <td width="29">7</td>
                                            <td width="464">Yaxshilikov Komil O‘rolovich</td>
                                            <td width="464">Yoshlar bilan ishlash, ma’naviyat va ma’rifat bo‘limi uslubchisi</td>
                                            <td width="464">Kotib</td>
                                            </tr>         {% endcomment %}
                                        </tbody>
                                    </table>
                                    <div class="entry-links"></div>
                            </div>
                        </article>
                    </main><!----content-style---->
                </div>
                <div class="col">
                    <main id="content" class="content-style">
                        <article id="post-487" class="post-487 page type-page status-publish hentry">
                            <div class="entry-content">
                                    <p style="text-align: center;">
                                        <strong>2024-2025 o‘quv yilida Jizzax politexnika institutining Iqtisodiyot tarmoqlarida besh yillik ish stajiga ega bo‘lgan talabgorlarni tavsiyanoma asosida o‘qishga qabul qilish bo‘yicha komissiyasi
                                            TARKIBI
                                             </strong>
                                    </p>
                                    <p style="text-align: center;"><strong>TARKIBI</strong></p>
                                    <table style="height: 400px; text-align:center;" width="100%">
                                        <tbody>
                                            <tr>
                                            <td width="29"><strong>№</strong></td>
                                            <td width="162"><strong>F.I.Sh</strong></td>
                                            <td width="300"><strong>Lavozimi</strong></td>
                                            <td width="300"><strong>Vazifasi </strong></td>
                                            </tr>
                                            <tr>
                                            <td width="29">1</td>
                                            <td width="162">Usmankulov Alisher Kadirkulovich</td>
                                            <td width="464">Rektor</td>
                                            <td width="464">Rais</td>
                                            </tr>
                                            <tr>
                                            <td width="29">2</td>
                                            <td width="162">Xamidov Jalil Abdurasulovich</td>
                                            <td width="464">Servis fakulteti dekani;
                                                - Iqtisodiyot tarmoqlarida besh yillik ish stajiga ega bo‘lgan talabgorlarni tavsiyanoma asosida o‘qishga qabul qilish bo‘yicha ma’sil</td>
                                            <td width="464">Rais muovini</td>
                                            </tr>
                                            <tr>
                                            <td width="29">3</td>
                                            <td width="162">Xaitov Xasan Qodirovich</td>
                                            <td width="464">Korrupsiyaga qarshi kurashish Komplayens-nazorat tizimini boshqarish bo‘limi boshlig‘i</td>
                                            <td width="464">A’zo</td>
                                            </tr>
                                            <tr>
                                            <td width="29">4</td>
                                            <td width="162">Azizov Obid Ergashjonovich</td>
                                            <td width="464">Servis fakultetining o‘quv ishlari bo‘yicha o‘rinbosari</td>
                                            <td width="464">Kotib</td>
                                            </tr>
                                            {% comment %} <tr>
                                            <td width="29">5</td>
                                            <td width="464">G‘aybullayev Bobur Jo‘raboy o‘g‘li</td>
                                            <td width="464">Xodimlar bo‘limi boshlig‘i</td>
                                            <td width="464">A’zo</td>
                                            </tr> <tr>
                                            <td width="29">6</td>
                                            <td width="464">Sharopov Bobir Nabijon o‘g‘li</td>
                                            <td width="464">“Tabiiy tolalar va matoga ishlov berish” kafedrasi assistenti</td>
                                            <td width="464">Kotib</td>
                                            </tr>   {% endcomment %}
                                            {% comment %} <tr>
                                            <td width="29">7</td>
                                            <td width="464">Yaxshilikov Komil O‘rolovich</td>
                                            <td width="464">Yoshlar bilan ishlash, ma’naviyat va ma’rifat bo‘limi uslubchisi</td>
                                            <td width="464">Kotib</td>
                                            </tr>         {% endcomment %}
                                        </tbody>
                                    </table>
                                    <div class="entry-links"></div>
                            </div>
                        </article>
                    </main><!----content-style---->
                </div>
                <div class="col">
                    <main id="content" class="content-style">
                        <article id="post-487" class="post-487 page type-page status-publish hentry">
                            <div class="entry-content">
                                    <p style="text-align: center;">
                                        <strong>2024-2025 o‘quv yilida Jizzax politexnika institutining abituriyentlar va ularning ota-onalari bilan bevosita muloqot qilgan holda ularda yuzaga kelgan turli savollar bo‘yicha tushuntirish va maslahatlar berish maqsadida institut qabul komissiyasi huzurida tashkil etiladigan axborot-maslahat markazi va aloqalar markazi (Call-center) TARKIBI</strong>
                                    </p>
                                    <p style="text-align: center;"><strong>TARKIBI</strong></p>
                                    <table style="height: 500px; text-align:center;" width="100%">
                                        <tbody>
                                            <tr>
                                            <td width="29"><strong>№</strong></td>
                                            <td width="162"><strong>F.I.Sh</strong></td>
                                            <td width="300"><strong>Lavozimi</strong></td>
                                            <td width="300"><strong>Vazifasi </strong></td>
                                            </tr>
                                            <tr>
                                            <td width="29">1</td>
                                            <td width="162">Mirzabekov Mirkomil
                                                Saydaxmatovich
                                                </td>
                                            <td width="464">Qurilish materiallari va kimyoviy texnologiya fakulteti dekani</td>
                                            <td width="464">Mas’ul
                                                rahbar
                                                </td>
                                            </tr>
                                            <tr>
                                            <td width="29">2</td>
                                            <td width="162">Qosimov Orif Faxriddin o‘g‘li</td>
                                            <td width="464">Qurilish materiallari va kimyoviy texnologiya fakulteti o‘quv ishlari bo‘yicha dekan muovini</td>
                                            <td width="464">A’zo</td>
                                            </tr>
                                            <tr>
                                            <td width="29">3</td>
                                            <td width="162">Rajabov Yorqinbek Sayfiddin o‘g‘li</td>
                                            <td width="464">“Bino va inshootlar qurilishi kafedrasi dotsenti.</td>
                                            <td width="464">A’zo</td>
                                            </tr>
                                            <tr>
                                            <td width="29">4</td>
                                            <td width="162">Razzoqov Jafar Abduvali o‘g‘li</td>
                                            <td width="464">To‘qimachilik maxsulotlarini qayta ishlash kafedrasi assistenti</td>
                                            <td width="464">A’zo</td>
                                            </tr>
                                            <tr>
                                            <td width="29">5</td>
                                            <td width="464">Mustafaqulov Javohir</td>
                                            <td width="464">Qurilish materiallari konstruksiyasi kafedrasi assistenti</td>
                                            <td width="464">A’zo</td>
                                            </tr> <tr>
                                            <td width="29">6</td>
                                            <td width="464">Hamidov Sobir Xodiyevich</td>
                                            <td width="464">Kimyo kafedrasi assistenti</td>
                                            <td width="464">A’zo</td>
                                            </tr>
                                            <tr>
                                            <td width="29">7</td>
                                            <td width="464">Mamaraximova Aziza Mamatqul qizi</td>
                                            <td width="464">Qurilish materiallari va kimyoviy texnologiya fakulteti tyutori</td>
                                            <td width="464">A’zo</td>
                                            </tr><tr>
                                            <td width="29">8</td>
                                            <td width="464">Baysariyev Nosir Xolmo‘minovich</td>
                                            <td width="464">O‘zbek tili va adabiyoti kafedrasi dotsenti</td>
                                            <td width="464">A’zo</td>
                                            </tr><tr>
                                            <td width="29">9</td>
                                            <td width="464">Abdullyev Alisher Abulqosimovich</td>
                                            <td width="464">Kimyo kafedrasi assistenti</td>
                                            <td width="464">A’zo</td>
                                            </tr><tr>
                                            <td width="29">10</td>
                                            <td width="464">Sarimsoqov Uchqun Soatbay o‘g‘li</td>
                                            <td width="464">Energetika kafedrasi assistenti</td>
                                            <td width="464">A’zo</td>
                                            </tr><tr>
                                            <td width="29">11</td>
                                            <td width="464">Sulaymanov Yodgor Baxtiyor o‘g‘li</td>
                                            <td width="464">Qurilish materiallari va kimyoviy texnologiya fakulteti tyutori</td>
                                            <td width="464">A’zo</td>
                                            </tr>
                                            {% comment %} <tr>
                                            <td width="29">6</td>
                                            <td width="464">Sharopov Bobir Nabijon o‘g‘li</td>
                                            <td width="464">“Tabiiy tolalar va matoga ishlov berish” kafedrasi assistenti</td>
                                            <td width="464">Kotib</td>
                                            </tr>   {% endcomment %}
                                            {% comment %} <tr>
                                            <td width="29">7</td>
                                            <td width="464">Yaxshilikov Komil O‘rolovich</td>
                                            <td width="464">Yoshlar bilan ishlash, ma’naviyat va ma’rifat bo‘limi uslubchisi</td>
                                            <td width="464">Kotib</td>
                                            </tr>         {% endcomment %}
                                        </tbody>
                                    </table>
                                    <div class="entry-links"></div>
                            </div>
                        </article>
                    </main><!----content-style---->
                </div>
                <div class="col">
                    <main id="content" class="content-style">
                        <article id="post-487" class="post-487 page type-page status-publish hentry">
                            <div class="entry-content">
                                    <p style="text-align: center;">
                                        <strong>2024-2025 o‘quv yilida Jizzax politexnika institutining xorijiy oliy ta’lim muassasalari bilan hamkorlikda tashkil etilgan qo‘shma ta’lim dasturi asosida qabulini amalga oshirish uchun qabul komissiyasi
                                            TARKIBI
                                             </strong>
                                    </p>
                                    <p style="text-align: center;"><strong>TARKIBI</strong></p>
                                    <table style="height: 400px; text-align:center;" width="100%">
                                        <tbody>
                                            <tr>
                                            <td width="29"><strong>№</strong></td>
                                            <td width="162"><strong>F.I.Sh</strong></td>
                                            <td width="300"><strong>Lavozimi</strong></td>
                                            <td width="300"><strong>Vazifasi </strong></td>
                                            </tr>
                                            <tr>
                                            <td width="29">1</td>
                                            <td width="162">Usmankulov Alisher Kadirkulovich</td>
                                            <td width="464">Rektor</td>
                                            <td width="464">Rais</td>
                                            </tr>
                                            <tr>
                                            <td width="29">2</td>
                                            <td width="162">Abdunazarov Jamshid Normuhammadovich</td>
                                            <td width="464">Ilmiy ishlar va innovatsiyalar bo‘yicha prorektor;
                                                - Xorijiy oliy ta’lim muassasalari bilan qo‘shma ta’lim dasturlarini muvofiqlashtiruvchi bo‘lim 2+2 dasturlari asosida bakalavrlar qabuli bo‘yicha mas’ul
                                                </td>
                                            <td width="464">Rais muovini</td>
                                            </tr>
                                            <tr>
                                            <td width="29">3</td>
                                            <td width="162">Xaitov Xasan Qodirovich</td>
                                            <td width="464">“Korrupsiyaga qarshi kurashish Komplayens-nazorat tizimini boshqarish bo‘limi boshlig‘i</td>
                                            <td width="464">A’zo</td>
                                            </tr>
                                            <tr>
                                            <td width="29">4</td>
                                            <td width="162">Nishonov Aziz Orziqul o‘g‘li</td>
                                            <td width="464">Xorijiy OTMlar bilan qo‘shma ta’lim dasturlarini muvofiqlashtiruvchi bo‘lim boshlig‘i </td>
                                            <td width="464">A’zo</td>
                                            </tr>
                                            <tr>
                                            <td width="29">5</td>
                                            <td width="464">Raxmatov O‘tkir Farhod o‘g‘li</td>
                                            <td width="464">Halqaro aloqalar bo‘limi boshlig‘i</td>
                                            <td width="464">A’zo</td>
                                            </tr> <tr>
                                            <td width="29">6</td>
                                            <td width="464">Ortiqov Anvar Aliddin o‘g‘li</td>
                                            <td width="464">Xorijiy OTMlar bilan qo‘shma ta’lim dasturlarini muvofiqlashtiruvchi bo‘lim boshlig‘i o'rinbosari</td>
                                            <td width="464">Kotib</td>
                                            </tr>  
                                            {% comment %} <tr>
                                            <td width="29">7</td>
                                            <td width="464">Yaxshilikov Komil O‘rolovich</td>
                                            <td width="464">Yoshlar bilan ishlash, ma’naviyat va ma’rifat bo‘limi uslubchisi</td>
                                            <td width="464">Kotib</td>
                                            </tr>         {% endcomment %}
                                        </tbody>
                                    </table>
                                    <div class="entry-links"></div>
                            </div>
                        </article>
                    </main><!----content-style---->
                </div>
                <div class="col">
                    <main id="content" class="content-style">
                        <article id="post-487" class="post-487 page type-page status-publish hentry">
                            <div class="entry-content">
                                    <p style="text-align: center;">
                                        <strong>2024-2025 o‘quv yilida Jizzax politexnika institutining Ikkinchi mutaxassislikka qabul qilish bo‘yicha komissiyasi 
                                            TARKIBi </strong>
                                    </p>
                                    <p style="text-align: center;"><strong>TARKIBI</strong></p>
                                    <table style="height: 600px; text-align:center;" width="100%">
                                        <tbody>
                                            <tr>
                                            <td width="29"><strong>№</strong></td>
                                            <td width="162"><strong>Tadbirlar nomi</strong></td>
                                            <td width="300"><strong>Bajarilish muddati</strong></td>
                                            <td width="300"><strong>Bajarilishiga mas’ul shaxs </strong></td>
                                            </tr>
                                            <tr>
                                            <td width="29">1</td>
                                            <td width="162">Institut qabul komissiyasi tarkibini tuzish, har bir qabul komissiyasi a’zosining vazifalarini belgilash</td>
                                            <td width="464">05.06.2024</td>
                                            <td width="464">Mas’ul kotib M. Mirzabekov</td>
                                            </tr>
                                            <tr>
                                            <td width="29">2</td>
                                            <td width="162">Institut qabul komissiyasi huzurida Axborot-maslahat markazi va aloqa markazi (Call-center) uchun 101 xona, 103 xonalarni jihozlash</td>
                                            <td width="464">05.06.2024</td>
                                            <td width="464">O‘. Misirov. M. Mirzabekov</td>
                                            </tr>
                                            <tr>
                                            <td width="29">3</td>
                                            <td width="162">Jizzax viloyati akademik litseylar, texnikumlar, kasb-hunar maktablari bitiruvchilari uchun institutda “Ochiq eshiklar” kunini o‘tkazishni tashkil qilish</td>
                                            <td width="464">10.06.2024 gacha</td>
                                            <td width="464">J.Nasriddinov
                                                M. Mirzabekov. Kafedra mudirlari
                                                </td>
                                            </tr>
                                            <tr>
                                            <td width="29">4</td>
                                            <td width="162">Abiturientlarni institutning ta’lim yo‘nalishlari, ularda talabalarning bilim olish, yashash va bo‘sh vaqtlarini foydali o‘tkazishlari uchun yaratilgan sharoitlar bilan tanishtirish maqsadida ta’lim yo‘nalishlari va mutaxassisliklar bo‘yicha ma’lumotlarni institutning rasmiy veb-saytiga joylashtirish</td>
                                            <td width="464">05.07.2024
                                                gacha
                                                </td>
                                            <td width="464">O‘.Jamolov Mutaxassis chiqaruvchi kafedra mudirlari</td>
                                            </tr>
                                            <tr>
                                            <td width="29">5</td>
                                            <td width="464">2024-2025-o‘quv yili qabuli bo‘yicha ommaviy-axborot vositalari (gazeta va jurnallar, mahalliy televideniye va radio) da e’lonlar berish</td>
                                            <td width="464">iyun-iyul</td>
                                            <td width="464">J.Nasriddinov mas’ul kotibi
                                                M. Mirzabekov
                                                </td>
                                            </tr> <tr>
                                            <td width="29">6</td>
                                            <td width="464">Jizzax viloyati yoshlari, shuningdek yaqin viloyatlar yoshlari o‘rtasida marketing izlanishlarni amalga oshirish, o‘qitishning to‘lov-kontrakt asosida qabul qilish bo‘yicha tashviqot-targ‘ibot ishlarini olib borish</td>
                                            <td width="464">iyun-iyul</td>
                                            <td width="464">I. Meliyev</td>
                                            </tr> 
                                            <tr>
                                            <td width="29">7</td>
                                            <td width="464">Jizzax viloyati yoshlari, shuningdek yaqin viloyatlar yoshlari o‘rtasida marketing izlanishlarni amalga oshirish, o‘qitishning to‘lov-kontrakt asosida qabul qilish bo‘yicha tashviqot-targ‘ibot ishlarini olib borish</td>
                                            <td width="464">iyun-iyul</td>
                                            <td width="464">I. Meliyev</td>
                                            </tr>
                                            <tr>
                                            <td width="29">8</td>
                                            <td width="464">Institut rahbarlarining abiturientlar va ularning ota- onalarini qabul qilish, ularning murojaatlarini belgilangan tartibda ro‘yxatga olish va fuqarolar qabulini joy, kun va soatlari aniq ko‘rsatilgan jadvalga qat’iy rioya etgan holda o‘tkazishni ta’minlash</td>
                                            <td width="464">05.06.2024
                                                15.08.2024</td>
                                            <td width="464">J.Nasriddinov
                                                M.Mirzabekov
                                                </td>
                                            </tr>
                                            <tr>
                                            <td width="29">9</td>
                                            <td width="464">Institut hududida navbatchilik tashkil etish hamda huquq-targ‘ibot organlari bilan hamkorlikda begona shaxslarning paydo bo‘lishiga yo‘l qo‘ymaslik, zarur bo‘lgan hollarda huquq-targ‘ibot organlari vakillariga xabar berib tegishli choralar ko‘rish</td>
                                            <td width="464">05.06.2024
                                                15.08.2024
                                                
                                                </td>
                                            <td width="464">S.Eshbekova</td>
                                            </tr>
                                            <tr>
                                            <td width="29">10</td>
                                            <td width="464">Qabul komissiyalari faoliyati vaqtida test sinovlari o‘tkaziladigan bino yaqinida transport vositalarini qo‘yishni taqiqlash, mazkur bino hududida shubhali buyumlar, xatti-harakatlar aniqlangan hollarda zudlik bilan huquq-targ‘ibot organlariga ma’lim qilish, Test sinovlari vaqtida elektr energiya bilan bog‘liq muammolar bo’lmasligi uchun elektr energiya tizimlarini takroriy nazoratni olib borish va binoni zarur mebel va jihozlar bilan ta’milash</td>
                                            <td width="464">iyun-iyul</td>
                                            <td width="464">O‘.Misirov</td>
                                            </tr> 

                                            <tr>
                                            <td width="29">11</td>
                                            <td width="464">Talabalarni kirish sinovlarida ishtirok etishini oldini olish maqsadida Kadrlar bo‘limi dan hujjatlarni tashqariga chiqarmaslik choralarini ko‘rish</td>
                                            <td width="464">05.06.2024
                                                15.08.2024
                                                </td>
                                            <td width="464">B.G‘aybullayev</td>
                                            </tr> 
                                            <tr>
                                            <td width="29">12</td>
                                            <td width="464">Institut saytida muddatli harbiy xizmatni o‘tayotgan harbiy xizmatchilarni o‘qishga kirishlari uchun yo‘naltirilgan maqsadli axborot resurslarini yaratish</td>
                                            <td width="464">05.06.2024</td>
                                            <td width="464">J.Nasriddinov
                                                O‘. Jamolov
                                                </td>
                                            </tr> 
                                            <tr>
                                            <td width="29">13</td>
                                            <td width="464">Test sinovlari o‘tkaziladigan binoni belgilangan talablar asosida tayyorlash</td>
                                            <td width="464">20.07.2024</td>
                                            <td width="464">O‘.Misirov.
                                                M.Mirzabekov
                                                </td>
                                            </tr> <tr>
                                            <td width="29">14</td>
                                            <td width="464">Test sinovlari o‘tkaziladigan kunlari «Abiturient-2024» qabul jarayonlari bo‘yicha Bilim va malakalarni baholash agentligiga so‘ralgan ma’lumotlarni o‘z vaqtida sifatli qilib taqdim etish</td>
                                            <td width="464">1-15-avgust</td>
                                            <td width="464">Qabul komissiyasi mas’ul kotibi
                                                M.Mirzabekov
                                                </td>
                                            </tr> 
                                            <tr>
                                            <td width="29">11</td>
                                            <td width="464">Yaxshilikov Komil O‘rolovich</td>
                                            <td width="464">Yoshlar bilan ishlash, ma’naviyat va ma’rifat bo‘limi uslubchisi</td>
                                            <td width="464">Kotib</td>
                                            </tr> 
                                        </tbody>
                                    </table>
                                    <div class="entry-links"></div>
                            </div>
                        </article>
                    </main><!----content-style---->
                </div>



















                
            </div>
        </div>
    </div>
</div>



{% endblock content %}