{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Bakalavr</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/bakalavr/bakalavr-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
              
                <div class="col-md-9">
                    <main id="content" class="content-style">
                                                <article id="post-412" class="post-412 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Qabul nizomlari</h1>                             </div>
                                <div class="entry-content">
                                                                    <p>– 2022/2023 o‘quv yili uchun davlat oliy ta’lim muassasalariga o‘qishga qabul qilishning davlat buyurtmasi parametrlari to‘g‘risida</p>
    <div class="alert" role="alert">
    <div class="ACT_ESSENTIAL_ELEMENTS"><strong>2022-yil 15-iyun, F-60-son</strong></div>
    </div>
    <div style="text-align: right;" role="alert"><a href="https://lex.uz/uz/docs/-6069606" class="a-link">To’liq tanishish</a></div>
    <div class="alert" role="alert">
    <hr>
    <p>– Davlat oliy ta’lim muassasalariga o‘qishga qabul qilish jarayonlarini tashkil etish to‘g‘risida</p>
    <div class="alert" role="alert">
    <div class="ACT_ESSENTIAL_ELEMENTS"><strong>2022-yil 15-iyun, PQ-279-son</strong></div>
    </div>
    <div style="text-align: right;" role="alert"><a href="https://jizpi.uz/abituriyent/bakalavriat/qabul-nizomlari/attachment/279-pq/" class="a-link" rel="attachment wp-att-28551">To’liq tanishish</a></div>
    <div class="alert" role="alert">
    <hr>
    <p>– O’zbekiston Respublikasi Qurolli Kuchlari safida muddatli harbiy xizmatni o’tayotgan harbiy xizmatchilarga beriladigan imtiyozlar tizimini yanada takomillashtirish chora-tadbirlari to’g’risida</p>
    </div>
    <div class="alert" role="alert"><strong>2005 yil 31 oktabr, № PQ – 213-son</strong></div>
    <div style="text-align: right;" role="alert"><a class="btn btn-primary a-link" role="button" href="https://lex.uz/docs/-899316" class="a-link" data-toggle="collapse">To’liq tanishish</a></div>
    <div class="alert" role="alert">
    <hr>
    </div>
    <div class="alert" role="alert">– O’zbekiston Respublikasi Qurolli Kuchlari safida muddatli harbiy xizmatni o’tab bo’lgan fuqarolarga imtiyozlar tizimini takomillashtirishga oid qo’shimcha chora-tadbirlar to’g’risida<br>
    <strong>2012 yil 31 may, № PQ-1765-son</strong></div>
    <div style="text-align: right;" role="alert"><a class="btn btn-primary a-link" role="button" href="https://lex.uz/docs/-2018331" data-toggle="collapse">To’liq tanishish</a></div>
    <div class="alert" role="alert">
    <hr>
    </div>
    <div class="alert" role="alert">– O’zbekiston Respublikasi Qurolli Kuchlari Harbiylari va ularning oila a’zolarini ijtimoiy qo’llab-quvvatlashga oid qo’shimcha chora-tadbirlar to’g’risida<br>
    <strong>14.05.2018 y. № PQ-3726</strong></div>
    <div style="text-align: right;" role="alert">To’liq tanishish</div>
    <div class="alert" role="alert">
    <hr>
    </div>
    <div role="alert">– O‘zbekistonning yangi taraqqiyot davrida ta’lim-tarbiya va ilm-fan sohalarini rivojlantirish chora-tadbirlari to‘g‘risida</div>
    <div role="alert">
    <div class="ACT_ESSENTIAL_ELEMENTS"><strong>2020-yil 6-noyabr, PF-6108-son</strong></div>
    <p style="text-align: right;"><a href="https://lex.uz/docs/-5085999" class="a-link">To’liq tanishish</a></p>
    <hr>
    <p>– 2019/2020 o’quv yilida O’zbekiston Respublikasining oliy ta’lim muassasalariga o’qishga qabul qilishning davlat buyurtmasi parametrlari to’g’risida</p>
    </div>
    <div class="alert" role="alert"><strong>19.06.2019 y. № PQ-4359</strong></div>
    <div style="text-align: right;" role="alert"><a href="https://lex.uz/docs/-4380357" class="a-link">To’liq tanishish</a></div>
    <div class="alert" role="alert">
    <hr>
    <p>6.&nbsp;2020/2021 O’quv yilida O’zbekiston Respublikasining oliy ta’lim muassasalariga o’qishga qabul qilishning davlat buyurtmasi parametrlari to’g’risada<br>
    <strong>12.06.2020 y. №PQ-4749</strong></p>
    <p style="text-align: right;"><a class="btn btn-primary a-link" role="button" href="https://lex.uz/pdfs/4855128"  target="_blank" rel="noopener" data-toggle="collapse">To’liq tanishish</a></p>
    <hr>
    <p>7.&nbsp;2021/2022 O’quv yilida O’zbekiston Respublikasining oliy ta’lim muassasalariga o’qishga qabul qilishning davlat buyurtmasi parametrlari to’g’risada<br>
    <strong>22.06.2021 y. №PQ-5157</strong></p>
    <p style="text-align: right;"><a href="https://lex.uz/docs/-5472291" class="a-link">To’liq tanishish</a></p>
    <hr>
    </div>
    <p>&nbsp;</p>
    <div class="alert" role="alert">
    <div class="alert alert-info" role="alert">
    <h4 class="alert-heading" style="text-align: center;"><strong>O’ZBEKISTON RESPUBLIKASI VAZIRLAR MAHKAMASINING QARORLARI</strong></h4>
    </div>
    <div class="alert" role="alert">1. Vazirlar Mahkamasining <strong>«Oliy ta’lim muassasalariga o’qishga qabul qilish, talabalar o’qishini ko’chirish, qayta tiklash va o’qishdan chetlashtirish tartibi to’g’risidagi nizomlarni tasdiqlash haqida»</strong></div>
    <div class="alert" role="alert">2017 yil 20 iyundagi 393-son qaroriga o’zgartirish va qo’shimchalar kiritish to’g’risida<br>
    <strong>Vazirlar Mahkamasining 2019 yil 27 apreldagi 360-son&nbsp;qarori</strong><p></p>
    <hr>
    <p style="text-align: right;"><a class="btn btn-primary a-link" role="button" href="http://www.lex.uz/pdfs/4312702" data-toggle="collapse">Yuklab olish</a></p>
    </div>
    <div class="alert" role="alert">2. Oliy Ta’lim Muassasalariga o’qishga qabul qilish tartibini yanada takomillashtirish to’g’risida<br>
    <strong>Vazirlar Mahkamasining 2018 yil 3 apreldagi 261-son&nbsp;qarori</strong><p></p>
    <hr>
    <p style="text-align: right;"><a class="btn btn-primary a-link" role="button" href="http://www.lex.uz/docs/3646570" data-toggle="collapse">Yuklab olish</a></p>
    </div>
    <div class="alert" role="alert">3. Oliy Ta’lim Muassasalariga o’qishga qabul qilish, talabalar o’qishini ko’chirish, qayta tiklash va o’qishdan chetlashtirish tartibi to’g’risidagi nizomlarni tasdiqlash haqida<br>
    <strong>2017 yil 20 iyun, № 393-son</strong><p></p>
    <hr>
    <p style="text-align: right;"><a class="btn btn-primary a-link" role="button" href="http://www.lex.uz/docs/3244181?type=doc" data-toggle="collapse">Yuklab olish</a></p>
    </div>
    <div class="alert" role="alert">4. Oliy Ta’lim muassasalarining <strong>bakalavriatiga</strong> talabalarni o’qishga qabul qilish tartibi to’g’risida<br>
    <strong>nizom</strong><p></p>
    <hr>
    <p style="text-align: right;"><a class="btn btn-primary a-link" role="button" href="http://www.lex.uz/docs/3244181?type=doc" data-toggle="collapse">Yuklab olish</a></p>
    </div>
    <div class="alert" role="alert">5. Oliy Ta’lim muassasalarining <strong>magistraturasiga</strong> o’qishga qabul qilish tartibi to’g’risida<br>
    <strong>nizom</strong><p></p>
    <hr>
    <p style="text-align: right;"><a class="btn btn-primary a-link" role="button" href="http://www.lex.uz/docs/3244181?type=doc" data-toggle="collapse">Yuklab olish</a></p>
    <p><a href="https://lex.uz/docs/4855128" class="a-link" target="_blank" rel="noopener">2020/2021 O’quv yilida O’zbekiston Respublikasining oliy ta’lim muassasalariga o’qishga qabul qilishning davlat buyurtmasi parametrlari to’g’risada</a></p>
    <hr>
    <p><a href="https://lex.uz/pdfs/4866624" class="a-link">Oliy ta’lim muassasalariga ko’shimcha davlat granti asosidagi qabul ko’rsatkichlari doirasida xotin-qizlarga tanlovda ishtirok etish uchun tavsiyanoma berish va ularni o’qishga qabul qilishni tashkil etish tartibi to’g’risidagi nizomni tasdiqlash haqida</a></p>
    <p>23.06.2020 y. №402</p>
    <hr>
    <p>«Oliy ta’lim muassasalariga qo’shimcha davlat granti asosidagi qabul ko’rsatkichlari doirasida xotin-qizlarga tanlovda ishtirok etish uchun tavsiyanoma berish va ularni o’qishga qabul qilishni tashkil etish tartibi to’g’risidagi nizomni tasdiqlash haqida» 2020 yil 23 iyundagi 402-son qaroriga o’zgartirish va qo’shimchalar kiritish haqida</p>
    <p>03.06.2021 y. №308</p>
    </div>
    </div>
    </div>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main>
                                                               
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}