{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Bakalavr</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/bakalavr/bakalavr-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col-md-9">
                    <main id="content" class="content-style">
                                                <article id="post-487" class="post-487 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Qabul komissiyasi</h1>                             </div>
                                <div class="entry-content">
                                                                    <p style="text-align: center;"><strong>Jizzax politexnika instituti 2023-2024 o`quv yili qabul komissiyasi a’zolarining</strong></p>
    <p style="text-align: center;"><strong>TARKIBI</strong></p>
    <table style="height: 2055px;" width="931">
    <tbody>
    <tr>
    <td width="29"><strong>№</strong></td>
    <td width="162"><strong>F.I.SH.</strong></td>
    <td width="464"><strong>Lavozimi, qabul komissiyasidagi vazifasi</strong></td>
    </tr>
    <tr>
    <td width="29">1</td>
    <td width="162">Usmankulov Alisher Kadirkulovich</td>
    <td width="464">Rektor, qabul komissiyasi raisi.</td>
    </tr>
    <tr>
    <td width="29">2</td>
    <td width="162">Egamnazarov Gayrat Gaybullaevich</td>
    <td width="464">– O‘quv ishlari bo‘yicha prorektor, qabul komissiyasi raisining muovini.</td>
    </tr>
    <tr>
    <td width="29">3</td>
    <td width="162">Mirzabekov Mirkomil Saydaxmatovich</td>
    <td width="464">– “Qurilish materiallari va kimyoviy texnologiya” fakulteti dekani, qabul komissiyasi mas’ul kotibi.</td>
    </tr>
    <tr>
    <td width="29">4</td>
    <td width="162">Xamrakulov Dilshod Qobil о‘g‘li</td>
    <td width="464">Rektor maslahatchisi, a’zo</td>
    </tr>
    <tr>
    <td width="29">5</td>
    <td width="162">Berdiyerov Temur Azamatovich</td>
    <td width="464">-Ilmiy ishlar va innovasiyalar bo‘yicha prorektor, a’zo.</td>
    </tr>
    <tr>
    <td width="29">6</td>
    <td width="162">Alikabulov Shuxrat Abdumalikovich</td>
    <td width="464">– Moliya – iqtisod ishlari bo‘yicha prorektor, a’zo.</td>
    </tr>
    <tr>
    <td width="29">7</td>
    <td width="162">Eshbekova Sanobar Omonlikovna</td>
    <td width="464">– Yoshlar masalalari va maʼnaviy-maʼrifiy ishlar bo‘yicha birinchi prorektor, koʻzi ojizlar toifasiga kiruvchi abituriyentlarning kirish imtihonlarini oʻtkazish uchun fanlar boʻyicha ma’sul, a’zo</td>
    </tr>
    <tr>
    <td width="29">8</td>
    <td width="162">Xaitov Xasan Qodirovich</td>
    <td width="464">Korrupsiyaga qarshi kurashish «Komplayens-nazorat» tizimini boshqarish bо‘lim boshlig‘i, a’zo.</td>
    </tr>
    <tr>
    <td width="29">9</td>
    <td width="162">Abdunazarov Jamshid Normuhammadovich</td>
    <td width="464">– Halqaro hamkorlik bo‘yicha prorektor, a’zo. – Xorijiy oliy ta’lim muassasalari bilan qо‘shma ta’lim dasturlarini muvofiqlashtiruvchi bо‘lim 2+2 dasturlari asosida bakalavrlar qabuli bo‘yicha mas’ul, a’zo</td>
    </tr>
    <tr>
    <td width="29">10</td>
    <td width="162">Axmedov Jo‘rabek Raxmonberdiyevich</td>
    <td width="464">– Sirtqi bo‘lim boshlig’i, – qabul komissiyasi mas’ul kotibining bakalavriatura sirtqi bo‘lim bo‘yicha o‘rinbosari, a’zo.</td>
    </tr>
    <tr>
    <td width="29">11</td>
    <td width="162">Ibragimov Jaxongir Kо‘chimovich</td>
    <td width="464">-Magistratura bo‘limi boshlig’i, – qabul komissiyasi mas’ul kotibining magistratura bo‘yicha o‘rinbosari. a’zo.</td>
    </tr>
    <tr>
    <td width="29">12</td>
    <td width="162">Egamberdiyev Fazliddin Otaqulovich</td>
    <td width="464">– Kafedra mudiri, Institutda ikkinchi oliy ta’lim hujjatlarini qabul qilish bo‘yicha mas’ul</td>
    </tr>
    <tr>
    <td width="29">13</td>
    <td width="162">Hamidov Jalil Abdurasulovich</td>
    <td width="464">-“Servis” fakulteti dekani, – iqtisodiyot tarmoqlarida kamida besh yil ish stajiga ega bo‘lgan fuqarolarning qabuli bo‘yicha mas’ul, a’zo</td>
    </tr>
    <tr>
    <td width="29">14</td>
    <td width="162">Haqberdiyev Shuhrat</td>
    <td width="464">– “Kimyo” kafedrasi mudiri, – texnikumlarni muvaffaqiyatli tamom-lagan bitiruvchilarni oliy ta’lim muassasalarining bakalavriyat ta’lim yo‘nalishlariga suhbat asosida o‘qishga qabul qilishga mas’ul. a’zo.</td>
    </tr>
    <tr>
    <td width="29">15</td>
    <td width="162">G‘aybullayev Bobur Jо‘raboy о‘g‘li</td>
    <td width="464">– Xodimlar bo‘limi boshlig’i, – talabalarni o‘qishini ko‘chirish va qayta tiklash bo‘yicha mas’ul, hamda abituriyentlar va ularning ota-onalari bilan suhbat o‘tkazish bo‘yicha ma’sul. a’zo.</td>
    </tr>
    <tr>
    <td width="29">16</td>
    <td width="162">Djamolov O‘tkir Ilxomovich</td>
    <td width="464">Raqamli ta’lim texnologiyalari markazi boshlig‘i, – fuqaroligi bo‘lmagan shaxslarni institutga xujjatlarini rasmiylashtirish bo‘yicha mas’ul, a’zo.</td>
    </tr>
    <tr>
    <td width="29">17</td>
    <td width="162">Berdikulov Azzam Mardanovich</td>
    <td width="464">– Arxitektura va qurilish fakulteti dekani, a’zo.</td>
    </tr>
    <tr>
    <td width="29">18</td>
    <td width="162">Djiyanbayev Sirojiddin Valiyevich</td>
    <td width="464">– Transport &nbsp;fakulteti dekani,&nbsp; a’zo</td>
    </tr>
    <tr>
    <td width="29">19</td>
    <td width="162">Abbazov Ilxom Zaripovich</td>
    <td width="464">– Sanoat texnologiyasi fakulteti dekani, a’zo</td>
    </tr>
    <tr>
    <td width="29">20</td>
    <td width="162">Pardaev Obid Rajabboyevich</td>
    <td width="464">– Energetika va radioelektronika fakulteti dekani, a’zo</td>
    </tr>
    <tr>
    <td width="29">21</td>
    <td width="162">Akramov Alisher Abrorovich</td>
    <td width="464">– Bosh buxgalter, tavsiya etilgan abituriyentlarga shartnomalarni rasmiylashtirish bo‘yicha mas’ul,&nbsp; a’zo</td>
    </tr>
    </tbody>
    </table>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>

                
            </div>
        </div>
    </div>
</div>



{% endblock content %}