<div class="card-box_left">
    <a href="{% url "pageQM1" %}" class="btn">Abiturientga eslatma</a>
    <a href="{% url "pageQM2" %}" class="btn">Qabul nizomlari</a>
    <a href="{% url "pageQM3" %}" class="btn">Qabul kvotasi</a>
    <a href="{% url "pageQM4" %}" class="btn">Hujjatlar to’plami</a>
    <a href="{% url "pageQM5" %}" class="btn">Fanlar ro’yxati</a>
    <a href="{% url "pageQM6" %}" class="btn">Qabul komissiyasi</a>
    <a href="{% url "pageQM7" %}" class="btn">Kirish fanlari bo’yicha savollar to’plami</a>
    <a href="{% url "pageQM8" %}" class="btn">Magistratura natijalari</a>
    <a href="{% url "pageQM9" %}" class="btn">Biz bilan bog’lanish</a>
</div>