{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Magistratura</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/magistr/__magistr-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col">
                    <main id="content" class="content-style">
                                                <article id="post-3592" class="post-3592 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Qabul komissiyasi</h1>                             </div>
                                <div class="entry-content">
                                                                    <p style="text-align: center;"><strong>Jizzax politexnika instituti 2022-2023 o`quv yili qabul komissiyasi a’zolarining</strong></p>
    <p style="text-align: center;"><strong>TARKIBI</strong></p>
    <table class="table table-bordered" width="100%">
    <tbody>
    <tr>
    <td style="text-align: center;" width="36"><strong>T/r</strong></td>
    <td style="text-align: center;" width="226"><strong>F.I.SH.</strong></td>
    <td style="text-align: center;" width="381"><strong>Lavozimi, qabul komissiyasidagi vazifasi</strong></td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">1</td>
    <td width="226">Usmankulov Alisher Kadirkulovich</td>
    <td width="381">Rektor , qabul komissiyasi raisi</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">2</td>
    <td width="226"><strong>Egamnazarov</strong> <strong>Gayrat</strong> <strong>Gaybullaevich</strong></td>
    <td width="381">– O`quv ishlari bo`yicha prorektor, qabul hay’ati<p></p>
    <p>raisining muovini</p></td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">4</td>
    <td width="226"><strong>Xamrakulov&nbsp; Dilshod Qobil&nbsp; </strong><strong>о</strong><strong>‘g‘li</strong></td>
    <td width="381">Rektor maslahatchisi, a’zo</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">3</td>
    <td width="226">Berdikulov Azzam Mardanovich</td>
    <td width="381">– Arxitektura va qurilish fakulteti dekani, qabul komissiyasi mas’ul kotibi</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">4</td>
    <td width="226">Berdiyerov Temur Azamatovich</td>
    <td width="381">-Ilmiy ishlar va innovasiyalar bo`yicha prorektor, a’zo</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">5</td>
    <td width="226">Alikabulov Shuxrat Abdumalikovich</td>
    <td width="381">– Moliya – iqtisod ishlari bo`yicha prorektor, a’zo</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">6</td>
    <td width="226">Eshbekova Sanobar Omonlikova</td>
    <td width="381">– “Yoshlar masalalari va maʼnaviy-maʼrifiy ishlar bo‘yicha” birinchi prorektor, a’zo</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">7</td>
    <td width="226">Maxsudov Bobir Elamоnovich</td>
    <td width="381">Korrupsiyaga qarshi kurashish «Komplayens-nazorat» tizimini boshqarish bо‘lim boshlig‘i, a’zo</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">8</td>
    <td width="226">Axmedov Jurabek Raxmonberdiyevich</td>
    <td width="381">-Sirtqi bo`lim bolig’i, -qabul komissiyasi mas’ul kotibining bakalavriatura&nbsp; sirtqi bo`lim bo`yicha o`rinbosari</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">9</td>
    <td width="226">Ibragimov Jaxongir Kо‘chimovich</td>
    <td width="381">-Magistratura bo`limi boshlig’i, -qabul komissiyasi mas’ul kotibining magistratura bo`yicha o`rinbosari</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">10</td>
    <td width="226">Qо‘ziyev Botir Nomozovich</td>
    <td width="381">– Bo`lim bolig’i ,Xorijiy OTMlar bilan qо‘shma ta’lim dasturlarini muvofiqlashtiruvchi bо‘lim 2+2&nbsp; dasturlari asosida bakalavrlar qabuli bo`yicha mas’ul</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">11</td>
    <td width="226">Egamberdiyev Fazliddin Otaqulovich</td>
    <td width="381">– Kafedra mudiri,&nbsp;&nbsp; Institutda ikkinchi oliy ta’lim hujjatlarini qabul qilish bo`yicha mas’ul</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">12</td>
    <td width="226">Xamidov Jalil Abdurasulovich</td>
    <td width="381">-“Servis” fakulteti dekani, -iqtisodiyot tarmoqlarida kamida besh yil ish stajiga ega bo`lgan fuqarolarni sirtqi ta’lim shakllari qabuli bo`yicha mas’ul,a’zo</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">13</td>
    <td width="226">Mirzabekov Mirkomil Saidaxmedovich</td>
    <td width="381">– Qurilish materiallari muxandisligi fakulteti dekani texnikumlarni muvaffaqiyatli tamomlagan bitiruvchilarni oily ta’lim muassasalarining bakalavriyat ta’lim yo‘nalishlariga suhbat asosida o‘qishga qabul qilish bo‘yicha mas’ul</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">14</td>
    <td width="226">Gaybullayev Bobur Jо‘raboy о‘g‘li</td>
    <td width="381">– Xodimlar bo`limi boshlig’i, -talabalarni o`qishini ko`chirish va qayta tiklash&nbsp; bo`yicha mas’ul , a’zo</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">15</td>
    <td width="226">Djiyanbayev Sirojiddin Valiyevich</td>
    <td width="381">– Transport &nbsp;fakulteti dekani,&nbsp; a’zo</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">16</td>
    <td width="226">Abbazov Ilxom Zaripovich</td>
    <td width="381">– Sanoat texnologiyasi fakulteti dekani, a’zo</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">17</td>
    <td width="226">Yarlakabov Umirzok Mamatqulovich</td>
    <td width="381">– Energetika va radioelektronika fakulteti dekani, a’zo</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">18</td>
    <td width="226">Tangyarikov Normurod Saitovich</td>
    <td width="381">-Kimyoviy&nbsp; texnologiya fakulteti dekani, a’zo</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="36">19</td>
    <td width="226">Akramov Alisher Abrorovich</td>
    <td width="381">-Bosh buxgalter, tavsiya etilgan abituriyentlarga&nbsp; shartnomalarni rasmiylashtirish bo`yicha mas’ul,&nbsp; a’zo</td>
    </tr>
    </tbody>
    </table>
    <p>&nbsp;</p>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>  
            </div>
        </div>
    </div>
</div>



{% endblock content %}