{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Magistratura</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/magistr/__magistr-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col">
                    <main id="content" class="content-style">
                                                <article id="post-3553" class="post-3553 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Qabul kvotasi</h1>                             </div>
                                <div class="entry-content">
                                                                    <table class="table table-bordered" width="100%">
    <tbody>
    <tr>
    <td style="text-align: center;" colspan="10" width="775"><strong>2023/2024 ўқув&nbsp; йилида</strong><br>
    <strong> Жиззах политехника институти&nbsp;</strong><strong>магистратураси бўйича давлат буюртмаси асосида ўқишга қабул қилиш</strong><strong>параметрларининг таълим йўналишлари ва ўқитиш тиллари бўйича тақсимланиши</strong></td>
    </tr>
    <tr>
    <td rowspan="3" width="29">№*</td>
    <td style="text-align: center;" rowspan="3" width="75">Шифр</td>
    <td style="text-align: center;" rowspan="3" width="344">Мутахассисликлар</td>
    {% comment %} <td style="text-align: center;" rowspan="3" width="46">Жами</td> {% endcomment %}
    {% comment %} <td style="text-align: center;" colspan="3" width="137">Давлат грантлари асосида</td>
    <td style="text-align: center;" colspan="3" width="144">Тўлов-контракт асосида</td> {% endcomment %}
    </tr>
    <tr>
    <td rowspan="2" width="41">Жами</td>
    {% comment %} <td colspan="2" width="96">шу жумладан:</td> {% endcomment %}
    {% comment %} <td rowspan="2" width="48">Жами</td>
    <td colspan="2" width="96">шу жумладан:</td> {% endcomment %}
    </tr>
    <tr>
    <td style="text-align: center;" width="48">ўзбек</td>
    <td style="text-align: center;" width="48">рус**</td>
    {% comment %} <td style="text-align: center;" width="48">ўзбек</td>
    <td style="text-align: center;" width="48">рус</td> {% endcomment %}
    </tr>
    <tr>
    <td width="29"></td>
    <td style="text-align: center;" width="75"></td>
    <td style="text-align: center;" width="344">Жиззах политехника институти</td>
    <td style="text-align: center;" width="46"><strong>93</strong></td>
    <td style="text-align: center;" width="41"><strong>93</strong></td>
    <td style="text-align: center;" width="48"><strong></strong></td>
    {% comment %} <td style="text-align: center;" width="48"><strong>&nbsp;</strong></td>
    <td style="text-align: center;" width="48"><b>14</b></td>
    <td style="text-align: center;" width="48"><b>14</b></td>
    <td width="48"></td> {% endcomment %}
    </tr>
    <tr>
    {% comment %} <td width="29"></td>   {% endcomment %}
    {% comment %} <td colspan="2" width="419">шу жумладан, мутахассисликлар бўйича</td> {% endcomment %}
    {% comment %} <td width="46"></td>
    <td width="41"></td>
    <td width="48"></td> {% endcomment %}
    {% comment %} <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td> {% endcomment %}
    </tr>
    <tr>
    <td width="29">1</td>
    <td width="75">70410201</td>
    <td width="344">Бухгалтерия ҳисоби</td>
    <td style="text-align: center;" width="46"><strong>6</strong></td>
    <td style="text-align: center;" width="41"><b>6</b></td>
    <td style="text-align: center;" width="48"><b></b></td>
    {% comment %} <td style="text-align: center;" width="48"><strong>&nbsp;</strong></td>
    <td style="text-align: center;" width="48"><b>7</b></td>
    <td style="text-align: center;" width="48"><b>7</b></td>
    <td width="48"></td> {% endcomment %}
    </tr>
    <tr>
    <td width="29">2</td>
    <td width="75">70410801</td>
    <td width="344">Менежмент </td>
    <td style="text-align: center;" width="46"><b>6</b></td>
    <td style="text-align: center;" width="41"><strong>6</strong></td>
    <td style="text-align: center;" width="48"><strong></strong></td>
    {% comment %} <td style="text-align: center;" width="48"><strong>&nbsp;</strong></td>
    <td style="text-align: center;" width="48"><b>7</b></td>
    <td style="text-align: center;" width="48"><b>7</b></td>
    <td width="48"></td> {% endcomment %}
    </tr>
    <tr>
    <td width="29">3</td>
    <td width="75">70710101</td>
    <td width="344">Кимёвий технология</td>
    <td style="text-align: center;" width="46"><strong>4</strong></td>
    <td style="text-align: center;" width="41"><strong>4</strong></td>
    <td style="text-align: center;" width="48"><strong></strong></td>
    {% comment %} <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td> {% endcomment %}
    </tr>
    <tr>
    <td width="29">4</td>
    <td width="75">70710410</td>
    <td width="344">Энергия тежамкорлиги ва энергоаудит</td>
    <td style="text-align: center;" width="46"><strong>6</strong></td>
    <td style="text-align: center;" width="41"><strong>6</strong></td>
    <td style="text-align: center;" width="48"><strong></strong></td>
    {% comment %} <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td> {% endcomment %}
    </tr>
    <tr>
    <td width="29">5</td>
    <td width="75">70710411</td>
    <td width="344">Муқобил энергия манбалари</td>
    <td style="text-align: center;" width="46"><strong>4</strong></td>
    <td style="text-align: center;" width="41"><strong>4</strong></td>
    <td style="text-align: center;" width="48"><strong></strong></td>
    {% comment %} <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td> {% endcomment %}
    </tr>
    <tr>
    <td width="29">6</td>
    <td width="75">70710802</td>
    <td width="344">Метрология, стандартлаштириш ва сифатни бошқариш</td>
    <td style="text-align: center;" width="46"><strong>4</strong></td>
    <td style="text-align: center;" width="41"><strong>4</strong></td>
    <td style="text-align: center;" width="48"><strong></strong></td>
    {% comment %} <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td> {% endcomment %}
    </tr>
    <tr>
    <td width="29">7</td>
    <td width="75">70711401</td>
    <td width="344">Транспорт воситалари муҳандислиги</td>
    <td style="text-align: center;" width="46"><strong>4</strong></td>
    <td style="text-align: center;" width="41"><strong>4</strong></td>
    <td style="text-align: center;" width="48"><strong></strong></td>
    {% comment %} <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td> {% endcomment %}
    </tr>
    <tr>
    <td width="29">8</td>
    <td width="75">70711402</td>
    <td width="344">Автомобиллар ва автомобиль хўжалиги</td>
    <td style="text-align: center;" width="46"><strong>4</strong></td>
    <td style="text-align: center;" width="41"><strong>4</strong></td>
    <td style="text-align: center;" width="48"><strong></strong></td>
    {% comment %} <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td> {% endcomment %}
    </tr>
    <tr>
    <td width="29">9</td>
    <td width="75">70711407</td>
    <td width="344">Интеллектуал транспорт тизимлари</td>
    <td style="text-align: center;" width="46">4</td>
    <td style="text-align: center;" width="41">4</td>
    <td style="text-align: center;" width="48"></td>
    {% comment %} <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td> {% endcomment %}
    </tr>
    <tr>
    <td width="29">10</td>
    <td width="75">70712301</td>
    <td width="344">Машинасозлик технологияси</td>
    <td style="text-align: center;" width="46"><strong>4</strong></td>
    <td style="text-align: center;" width="41"><strong>4</strong></td>
    <td style="text-align: center;" width="48"><strong></strong></td>
    {% comment %} <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td> {% endcomment %}
    </tr>
    <tr>
    <td width="29">11</td>
    <td width="75">70720701</td>
    <td width="344">Тўқимачилик маҳсулотлари технологияси</td>
    <td style="text-align: center;" width="46"><strong>6</strong></td>
    <td style="text-align: center;" width="41"><strong>6</strong></td>
    <td style="text-align: center;" width="48"><strong></strong></td>
    {% comment %} <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td> {% endcomment %}
    </tr>
    <tr>
    <td width="29">12</td>
    <td width="75">70720705</td>
    <td width="344">Пахтани дастлабки ишлаш ва уруғ тайёрлаш технологияси</td>
    <td style="text-align: center;" width="46"><strong>4</strong></td>
    <td style="text-align: center;" width="41"><strong>4</strong></td>
    <td style="text-align: center;" width="48"><strong></strong></td>
    {% comment %} <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td> {% endcomment %}
    </tr>
    <tr>
    <td width="29">13</td>
    <td width="75">70730101</td>
    <td width="344">Бино ва иншоотлар архитектураси</td>
    <td style="text-align: center;" width="46"><strong>4</strong></td>
    <td style="text-align: center;" width="41"><strong>4</strong></td>
    <td style="text-align: center;" width="48"><strong></strong></td>
    {% comment %} <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td> {% endcomment %}
    </tr>
    <tr>
    <td width="29">14</td>
    <td width="75">70730301</td>
    <td width="344">Қурилиш муҳандислиги</td>
    <td style="text-align: center;" width="46"><strong>7</strong></td>
    <td style="text-align: center;" width="41"><strong>7</strong></td>
    <td style="text-align: center;" width="48"><strong></strong></td>
    {% comment %} <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td> {% endcomment %}
    </tr>
    <tr>
    <td width="29">15</td>
    <td width="75">70730308</td>
    <td width="344">Қурилиш материаллари технологиялари</td>
    <td style="text-align: center;" width="46"><strong>4</strong></td>
    <td style="text-align: center;" width="41"><strong>4</strong></td>
    <td style="text-align: center;" width="48"><strong></strong></td>
    {% comment %} <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td> {% endcomment %}
    </tr>
    <tr>
    <td width="29">16</td>
    <td width="75">70730401</td>
    <td width="344">Муҳандислик коммуникация тизимлари, қурилиши ва монтажи</td>
    <td style="text-align: center;" width="46"><strong>6</strong></td>
    <td style="text-align: center;" width="41"><strong>6</strong></td>
    <td style="text-align: center;" width="48"><strong></strong></td>
    {% comment %} <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td> {% endcomment %}
    </tr>
    <tr>
        <td width="29">17</td>
        <td width="75">70730502</td>
        <td width="344">Транспорт иншоотларининг эксплуатацияси</td>
        <td style="text-align: center;" width="46"><strong>4</strong></td>
        <td style="text-align: center;" width="41"><strong>4</strong></td>
        <td style="text-align: center;" width="48"><strong></strong></td>
        {% comment %} <td width="48"></td>
        <td width="48"></td>
        <td width="48"></td>
        <td width="48"></td> {% endcomment %}
        </tr>
        <tr>
            <td width="29">18</td>
            <td width="75">70730503</td>
            <td width="344">Автомобиль йўллари ва аэродромлар</td>
            <td style="text-align: center;" width="46"><strong>4</strong></td>
            <td style="text-align: center;" width="41"><strong>4</strong></td>
            <td style="text-align: center;" width="48"><strong></strong></td>
            {% comment %} <td width="48"></td>
            <td width="48"></td>
            <td width="48"></td>
            <td width="48"></td> {% endcomment %}
            </tr>
            <tr>
                <td width="29">19</td>
                <td width="75">70810101</td>
                <td width="344">Қишлоқ хўжалигини механизациялаштириш</td>
                <td style="text-align: center;" width="46"><strong>4</strong></td>
                <td style="text-align: center;" width="41"><strong>4</strong></td>
                <td style="text-align: center;" width="48"><strong></strong></td>
                {% comment %} <td width="48"></td>
                <td width="48"></td>
                <td width="48"></td>
                <td width="48"></td> {% endcomment %}
                </tr>
                <tr>
                    <td width="29">20</td>
                    <td width="75">70810701</td>
                    <td width="344">Қишлоқ хўжалик маҳсулотларини сақлаш ва қайта ишлаш технологияси</td>
                    <td style="text-align: center;" width="46"><strong>4</strong></td>
                    <td style="text-align: center;" width="41"><strong>4</strong></td>
                    <td style="text-align: center;" width="48"><strong></strong></td>
                    {% comment %} <td width="48"></td>
                    <td width="48"></td>
                    <td width="48"></td>
                    <td width="48"></td> {% endcomment %}
                    </tr>
    </tbody>
    </table>
                                    <div class="entry-links">
                                        <a href="../../../static/upload/Qabul-2024 kvotasi.pdf" class="a-link">Qabul kuvotasini  yuklab olish</a>
                                        <a href="../../../static/upload/farmon.pdf" class="a-link">Prezident farmoni  yuklab olish</a>
                                        <a href="../../../static/upload/blanka.pdf" class="a-link">2024 Test uchun topshiriq blankasi  yuklab olish</a>
                                    </div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}