{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Magistratura</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/magistr/__magistr-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col">
                    <main id="content" class="content-style">
                                                <article id="post-3603" class="post-3603 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Abiturientga eslatma</h1>                             </div>
                                <div class="entry-content">
                                                                    <p>▶️ 2022-yil 1-iyuldan respublika OTM magistratura mutaxassisliklariga qabul qilish uchun hujjatlarni onlayn roʻyxatdan oʻtkazish jarayoni boshlandi.</p>
    <p>&amp;nbsp;</p>
    <p>✔️ 2022/2023-oʻquv yili uchun davlat OTMning magistratura mutaxassisliklariga oʻqishga kirish uchun hujjatlarni topshirish jarayoni vazirlikning rasmiy http://magistr.edu.uz veb-sayti orqali 30-iyulga qadar (shu kuni ham) davom etadi.</p>
    <p>&amp;nbsp;</p>
    <p>❗️Eslatib oʻtamiz, 2022/2023-oʻquv yilidan boshlab magistraturaga qabul abituriyentning bakalavriat diplom bali oʻrtacha koʻrsatkichi hamda xorijiy tilni bilish darajasi boʻyicha tegishli milliy yoki xalqaro sertifikat bali asosida, ballar ketma-ketligiga qatʼiy rioya qilgan holda amalga oshiriladi. Qoʻshimcha imtihon oʻtkazilmaydi.</p>
    <p>&amp;nbsp;</p>
    <p>➡️Shu oʻrinda, magistratura mutaxassisliklari hamda oliy taʼlimdan keyingi taʼlim ixtisosliklariga tanlovlarda milliy yoki unga mos darajadagi xalqaro sertifikatga ega shaxslar ishtirok etishi mumkin boʻladi.</p>
    <p>&amp;nbsp;</p>
    <p>👉@eduuz</p>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}