{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Magistratura</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/magistr/__magistr-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col-md-9">
                    <main id="content" class="content-style">
                                                <article id="post-3553" class="post-3553 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Qabul kvotasi</h1>                             </div>
                                <div class="entry-content">
                                                                    <table class="table table-bordered" width="100%">
    <tbody>
    <tr>
    <td style="text-align: center;" colspan="10" width="775"><strong>2023/2024 ўқув&nbsp; йилида</strong><br>
    <strong> Жиззах политехника институти&nbsp;</strong><strong>магистратураси бўйича давлат буюртмаси асосида ўқишга қабул қилиш</strong><strong>параметрларининг таълим йўналишлари ва ўқитиш тиллари бўйича тақсимланиши</strong></td>
    </tr>
    <tr>
    <td rowspan="3" width="29">№*</td>
    <td style="text-align: center;" rowspan="3" width="75">Шифр</td>
    <td style="text-align: center;" rowspan="3" width="344">Мутахассисликлар</td>
    <td style="text-align: center;" rowspan="3" width="46">Жами</td>
    <td style="text-align: center;" colspan="3" width="137">Давлат грантлари асосида</td>
    <td style="text-align: center;" colspan="3" width="144">Тўлов-контракт асосида</td>
    </tr>
    <tr>
    <td rowspan="2" width="41">Жами</td>
    <td colspan="2" width="96">шу жумладан:</td>
    <td rowspan="2" width="48">Жами</td>
    <td colspan="2" width="96">шу жумладан:</td>
    </tr>
    <tr>
    <td style="text-align: center;" width="48">ўзбек</td>
    <td style="text-align: center;" width="48">рус**</td>
    <td style="text-align: center;" width="48">ўзбек</td>
    <td style="text-align: center;" width="48">рус</td>
    </tr>
    <tr>
    <td width="29"></td>
    <td style="text-align: center;" width="75">21</td>
    <td style="text-align: center;" width="344">Жиззах политехника институти</td>
    <td style="text-align: center;" width="46"><strong>115</strong></td>
    <td style="text-align: center;" width="41"><strong>101</strong></td>
    <td style="text-align: center;" width="48"><strong>101</strong></td>
    <td style="text-align: center;" width="48"><strong>&nbsp;</strong></td>
    <td style="text-align: center;" width="48"><b>14</b></td>
    <td style="text-align: center;" width="48"><b>14</b></td>
    <td width="48"></td>
    </tr>
    <tr>
    <td width="29"></td>
    <td colspan="2" width="419">шу жумладан, мутахассисликлар бўйича</td>
    <td width="46"></td>
    <td width="41"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    </tr>
    <tr>
    <td width="29">1</td>
    <td width="75">70112401</td>
    <td width="344">Профессионал таълим назарияси ва методикаси (Транспорт воситалари мухандислиги(автотранспорт)</td>
    <td style="text-align: center;" width="46"><strong>10</strong></td>
    <td style="text-align: center;" width="41"><b>3</b></td>
    <td style="text-align: center;" width="48"><b>3</b></td>
    <td style="text-align: center;" width="48"><strong>&nbsp;</strong></td>
    <td style="text-align: center;" width="48"><b>7</b></td>
    <td style="text-align: center;" width="48"><b>7</b></td>
    <td width="48"></td>
    </tr>
    <tr>
    <td width="29">2</td>
    <td width="75">70411201</td>
    <td width="344">Менежмент (тармоқлар ва соҳалар бўйича)</td>
    <td style="text-align: center;" width="46"><b>10</b></td>
    <td style="text-align: center;" width="41"><strong>3</strong></td>
    <td style="text-align: center;" width="48"><strong>3</strong></td>
    <td style="text-align: center;" width="48"><strong>&nbsp;</strong></td>
    <td style="text-align: center;" width="48"><b>7</b></td>
    <td style="text-align: center;" width="48"><b>7</b></td>
    <td width="48"></td>
    </tr>
    <tr>
    <td width="29">3</td>
    <td width="75">70710106</td>
    <td width="344">Материаллар кимёвий қаршилиги ва занглашдан ҳимоялаш</td>
    <td style="text-align: center;" width="46"><strong>6</strong></td>
    <td style="text-align: center;" width="41"><strong>6</strong></td>
    <td style="text-align: center;" width="48"><strong>6</strong></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    </tr>
    <tr>
    <td width="29">4</td>
    <td width="75">70710901</td>
    <td width="344">Энергия тежамкорлиги ва энергоаудит (тармоқлар бўйича)</td>
    <td style="text-align: center;" width="46"><strong>9</strong></td>
    <td style="text-align: center;" width="41"><strong>9</strong></td>
    <td style="text-align: center;" width="48"><strong>9</strong></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    </tr>
    <tr>
    <td width="29">5</td>
    <td width="75">70711302</td>
    <td width="344">Метрология, стандартлаштириш ва сифатни бошқариш (тармоқлар бўйича)</td>
    <td style="text-align: center;" width="46"><strong>6</strong></td>
    <td style="text-align: center;" width="41"><strong>6</strong></td>
    <td style="text-align: center;" width="48"><strong>6</strong></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    </tr>
    <tr>
    <td width="29">6</td>
    <td width="75">70712501</td>
    <td width="344">Ер усти транспорт воситалари ва тизимлари (транспорт турлари бўйича)</td>
    <td style="text-align: center;" width="46"><strong>6</strong></td>
    <td style="text-align: center;" width="41"><strong>6</strong></td>
    <td style="text-align: center;" width="48"><strong>6</strong></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    </tr>
    <tr>
    <td width="29">7</td>
    <td width="75">70712504</td>
    <td width="344">Автомобиллар ва автомобиль хўжалиги</td>
    <td style="text-align: center;" width="46"><strong>6</strong></td>
    <td style="text-align: center;" width="41"><strong>6</strong></td>
    <td style="text-align: center;" width="48"><strong>6</strong></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    </tr>
    <tr>
    <td width="29">8</td>
    <td width="75">70712509</td>
    <td width="344">Интеллектуал транспорт тизимлари</td>
    <td style="text-align: center;" width="46"><strong>6</strong></td>
    <td style="text-align: center;" width="41"><strong>6</strong></td>
    <td style="text-align: center;" width="48"><strong>6</strong></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    </tr>
    <tr>
    <td width="29">9</td>
    <td width="75">70721201</td>
    <td width="344">Тўқимачилик маҳсулотлари технологияси (маҳсулот турлари бўйича)</td>
    <td style="text-align: center;" width="46">6</td>
    <td style="text-align: center;" width="41">6</td>
    <td style="text-align: center;" width="48">6</td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    </tr>
    <tr>
    <td width="29">10</td>
    <td width="75">70721301</td>
    <td width="344">Пахтани дастлабки ишлаш ва уруғ тайёрлаш технологияси</td>
    <td style="text-align: center;" width="46"><strong>8</strong></td>
    <td style="text-align: center;" width="41"><strong>8</strong></td>
    <td style="text-align: center;" width="48"><strong>8</strong></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    </tr>
    <tr>
    <td width="29">11</td>
    <td width="75">70730301</td>
    <td width="344">Бино ва иншоотлар қурилиши (иншоотлар тури бўйича)</td>
    <td style="text-align: center;" width="46"><strong>10</strong></td>
    <td style="text-align: center;" width="41"><strong>10</strong></td>
    <td style="text-align: center;" width="48"><strong>10</strong></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    </tr>
    <tr>
    <td width="29">12</td>
    <td width="75">70730401</td>
    <td width="344">Муҳандислик коммуникация тизимлари, қурилиши ва монтажи (турлари бўйича)</td>
    <td style="text-align: center;" width="46"><strong>10</strong></td>
    <td style="text-align: center;" width="41"><strong>10</strong></td>
    <td style="text-align: center;" width="48"><strong>10</strong></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    </tr>
    <tr>
    <td width="29">13</td>
    <td width="75">70730309</td>
    <td width="344">Қурилиш материаллари, буюмлари, конструкциялари ва уларни ишлаб чиқариш технологиялари</td>
    <td style="text-align: center;" width="46"><strong>6</strong></td>
    <td style="text-align: center;" width="41"><strong>6</strong></td>
    <td style="text-align: center;" width="48"><strong>6</strong></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    </tr>
    <tr>
    <td width="29">14</td>
    <td width="75">70730802</td>
    <td width="344">Транспорт иншоотларининг эксплуатацияси (транспорт иншоотлари турлари бўйича)</td>
    <td style="text-align: center;" width="46"><strong>6</strong></td>
    <td style="text-align: center;" width="41"><strong>6</strong></td>
    <td style="text-align: center;" width="48"><strong>6</strong></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    </tr>
    <tr>
    <td width="29">15</td>
    <td width="75">70730803</td>
    <td width="344">Автомобиль йўллари ва аэродромлар (турлари бўйича)</td>
    <td style="text-align: center;" width="46"><strong>6</strong></td>
    <td style="text-align: center;" width="41"><strong>6</strong></td>
    <td style="text-align: center;" width="48"><strong>6</strong></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    </tr>
    <tr>
    <td width="29">16</td>
    <td width="75">70811301</td>
    <td width="344">Қишлоқ хўжалик маҳсулотларини сақлаш ва дастлабки ишлаш технологияси (маҳсулотлар турлари бўйича)</td>
    <td style="text-align: center;" width="46"><strong>4</strong></td>
    <td style="text-align: center;" width="41"><strong>4</strong></td>
    <td style="text-align: center;" width="48"><strong>4</strong></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    <td width="48"></td>
    </tr>
    </tbody>
    </table>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}