<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url "home" %}">Admin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url "index" %}">JizPI Sayti</a>
          </li>
        
        
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Bo'limlar</a>
            
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url "create_article_news" %}">Yangilik qo'shish</a></li>
              <li><a class="dropdown-item" href="{% url "create_article_elon" %}">Elon qo'shish</a></li>
            </ul>
          </li>
        
         
        </ul>
        <form class="d-flex" role="search">
          
            <a href="{% url 'logout_user' %}" class="btn btn-outline-danger">Chiqish</a>
          
        </form>
      </div>
    </div>
  </nav>