{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/login.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap_5_3_2.css" %}">
    <title>Admin</title>
</head>
<body>
    <div class="container">
        
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url "home" %}">Admin</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url "index" %}">JizPI Sayti</a>
                  </li>
                
                
                 
                
                 
                </ul>
                <form class="d-flex" role="search">
                  
                    <a href="{% url 'logout_user' %}" class="btn btn-outline-danger">Chiqish</a>
                  
                </form>
              </div>
            </div>
          </nav>

          <h2 class="text-h2">Yangilik qo'shish Bo'limi</h2>
 
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
                {% if form.errors %}
                <div>
                    <h3>Xatoliklar:</h3>
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
       
          </div>
    </div>

    <!-- script my JS -->
    <script src="{% static "js/bootstrap5.3.js" %}"></script>
</body>
</html>


