<div class="card-box_left">
    <a href="{% url "pageQT1" %}" class="btn">Qo’shma ta’lim dasturlarida o’qish uchun onlayn ro’yxatdan o’tish</a>
    <a href="{% url "pageQT2" %}" class="btn">CALL CENTER</a>
    <a href="{% url "pageQT3" %}" class="btn">Abiturientlar uchun e’lonlar</a>
    <a href="{% url "pageQT4" %}" class="btn">Abiturientga eslatma</a>
    <a href="{% url "pageQT5" %}" class="btn">Qabul kvotasi</a>
    <a href="{% url "pageQT6" %}" class="btn">Qabul nizomlari</a>
    <a href="{% url "pageQT7" %}" class="btn">Qabul komissiyasi</a>
    <a href="{% url "pageQT8" %}" class="btn">Hujjatlar to’plami</a>
    <a href="{% url "pageQT9" %}" class="btn">Fanlar ro’yxati</a>
    <a href="{% url "pageQT10" %}" class="btn">Biz bilan bog’lanish</a>
</div>