{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Qo`shma ta’lim dasturlari</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/qoshmaTalim/__qtalim-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col">
                    <main id="content" class="content-style">
                                                <article id="post-12556" class="post-12556 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Fanlar ro’yxati</h1>                             </div>
                                <div class="entry-content">
                                                                    <table class="table table-bordered" width="100%">
    <tbody>
    <tr>
    <td style="text-align: center;" width="285"><strong>Ta’lim yo’nalashlari va mutaxassisliklar nomi</strong></td>
    <td style="text-align: center;" width="219"><b>Hamkor xorijiy oliy ta’lim muassasasi nomi</b></td>
    <td style="text-align: center;" width="176"><b>Kirish imtixonlari fanlari</b></td>
    </tr>
    <tr>
    <td style="text-align: center;" width="285"><strong>BAKALAVR</strong></td>
    <td width="219"></td>
    <td width="176"></td>
    </tr>
    <tr>
    <td width="285">Kimyo texnologiya (ishlab chiqarish turlari bo’yicha)<p></p>
    <p>( 18.03.01-Kimyo texnologiya)</p></td>
    <td rowspan="2" width="219">&nbsp;<p></p>
    <p style="text-align: center;">«Ivanova Davlat kimyo texnologiya universiteti»</p>
    <p style="text-align: center;">Rossiya</p>
    </td>
    <td width="176">Kimyo<p></p>
    <p>Rus tili</p></td>
    </tr>
    <tr>
    <td width="285">Metrologiya, standartlashtirish va mahsulot sifati menejmenti (tarmoqlar bo’yicha)<p></p>
    <p>(27.03.01- Standartlashtirish va metrologiya)</p></td>
    <td width="176">Kimyo<p></p>
    <p>Rus tili</p></td>
    </tr>
    <tr>
    <td width="285">Arxitektura (turlar bo’yicha)<p></p>
    <p>(07.03.01 – Архитектура)</p></td>
    <td rowspan="2" width="219">
    <p style="text-align: center;">«Moskva davlat qurilish milliy tadqiqot universiteti»</p>
    <p style="text-align: center;">Rossiya</p>
    </td>
    <td width="176">Matematika<p></p>
    <p>Arxitektura grafikasi</p>
    <p>Chizma</p>
    <p>Rus tili</p></td>
    </tr>
    <tr>
    <td width="285">Bino ishnoatlari qurilishi (turlari bo’yicha)<p></p>
    <p>(08.03.01 – Qurilish)</p></td>
    <td width="176">Matematika<p></p>
    <p>Fizika</p>
    <p>Rus tili</p></td>
    </tr>
    <tr>
    <td width="285">Radioelektron qurilmalar va tizimlar (tarmoqlari bo’yicha)<p></p>
    <p>(11.03.01 – Radiotexnika)</p></td>
    <td rowspan="2" width="219">
    <p style="text-align: center;">«Moskva energetika instituti» milliy tadqiqot universiteti</p>
    <p style="text-align: center;">Rossiya</p>
    </td>
    <td width="176">Matematika<p></p>
    <p>Fizika</p>
    <p>Rus tili</p></td>
    </tr>
    <tr>
    <td width="285">Elektronika va asbobsozlik (tarmoqlari bo’yicha)<p></p>
    <p>(11.03.04 – Электроника)</p></td>
    <td width="176">Matematika<p></p>
    <p>Rus tili</p></td>
    </tr>
    <tr>
    <td width="285">Mashinasozlik texnologiyasi, mashinasozlik ishlab chiqarishni jihozlash va avtomatlashtirish<p></p>
    <p>(15.03.01 – Mashinasozlik)</p></td>
    <td rowspan="2" width="219">
    <p style="text-align: center;">«Qozon (Volgabo’yi) federal universiteti»</p>
    <p style="text-align: center;">Rossiya</p>
    </td>
    <td width="176">Matematika<p></p>
    <p>Fizika</p>
    <p>Rus tili</p></td>
    </tr>
    <tr>
    <td width="285">Transport vositalari muhandisligi (turlari bo’yicha)<p></p>
    <p>(23.03.02- Er usti transport va texnologik komplekslar)</p></td>
    <td width="176">Matematika<p></p>
    <p>Fizika</p>
    <p>Rus tili</p></td>
    </tr>
    <tr>
    <td width="285">Elektr energetikasi (tarmoqlar va yo’nalashlar bo’yicha)<p></p>
    <p>(13.03.02- Avtomatlashtirilgan elektr taqsimlash tarmoqlari)</p></td>
    <td width="219">
    <p style="text-align: center;">«Don davlat texnika universiteti»</p>
    <p style="text-align: center;">Rossiya</p>
    </td>
    <td width="176">Matematika<p></p>
    <p>Rus tili</p></td>
    </tr>
    </tbody>
    </table>
    <p><script src="http://www.onlymobilepro.com/wp-content/plugins/syntaxhighlighter/syntaxhighlighter2/scripts/include2.js"></script></p>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
                

            </div>
        </div>
    </div>
</div>



{% endblock content %}