{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Qo`shma ta’lim dasturlari</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/qoshmaTalim/__qtalim-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col-md-9">
                    <main id="content" class="content-style">
                                                <article id="post-12987" class="post-12987 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Abiturientlar uchun e’lonlar</h1>                             </div>
                                <div class="entry-content">
                                                                    <p style="text-align: center;"><strong>Jizzax politexnika institutida </strong></p>
    <p style="text-align: center;"><strong>2022/2023 </strong><strong>o</strong><strong>‘</strong><strong>quv</strong> <strong>yili</strong> <strong>uchun</strong> <strong>xorijiy</strong> <strong>oliy</strong> <strong>ta</strong><strong>’</strong><strong>lim</strong> <strong>muassasalari</strong> <strong>bilan</strong> <strong>hamkorlikda</strong> <strong>qo</strong><strong>‘</strong><strong>shma</strong> <strong>ta</strong><strong>’</strong><strong>lim</strong> <strong>dasturlari</strong> <strong>asosida</strong> <strong>kadrlar</strong> <strong>tayyorlash</strong> <strong>rejalashtirilgan</strong> <strong>ta</strong><strong>’</strong><strong>lim</strong> <strong>yo</strong><strong>‘</strong><strong>nalishlari</strong><strong> (</strong><strong>mutaxassisliklar</strong><strong>) </strong><strong>to</strong><strong>‘</strong><strong>g</strong><strong>‘</strong><strong>risida</strong></p>
    <p><strong>&nbsp;</strong></p>
    <p style="text-align: center;"><strong>MA’LUMOT</strong></p>
    <table class="table table-bordered" width="100%">
    <tbody>
    <tr>
    <td rowspan="2" width="121"><strong>Bak/mag</strong></td>
    <td colspan="2" width="232"><strong>Ta’lim yo‘nalishi (mutaxassislik)</strong></td>
    <td rowspan="2" width="193"><strong>Hamkor xorijiy oliy ta’lim muassasasidagi ta’lim yo‘nalishi (mutaxassislik) nomi</strong></td>
    <td rowspan="2" width="113"><strong>Xorijiy davlat nomi</strong></td>
    <td rowspan="2" width="103"><strong>Hamkor xorijiy oliy ta’lim muassasasi nomi</strong></td>
    <td rowspan="2" width="97"><strong>2022-2023 o‘quv yili uchun qabul kvotasiga taklif (kontrakt)</strong></td>
    <td rowspan="2" width="80"><strong>O‘qitish tili</strong></td>
    <td rowspan="2" width="82"><strong>Ta’lim muddati (2+2, 3+1, 1+1 va b.)</strong></td>
    </tr>
    <tr>
    <td width="89"><strong>Shifri</strong></td>
    <td width="143"><strong>Nomi</strong></td>
    </tr>
    <tr>
    <td width="121"><strong>Bakalavr</strong></td>
    <td width="89"><strong>&nbsp;</strong></td>
    <td width="143"><strong>&nbsp;</strong></td>
    <td width="193"><strong>&nbsp;</strong></td>
    <td width="113"><strong>&nbsp;</strong></td>
    <td width="103"><strong>&nbsp;</strong></td>
    <td width="97"><strong>280</strong></td>
    <td width="80"><strong>&nbsp;</strong></td>
    <td width="82"><strong>&nbsp;</strong></td>
    </tr>
    <tr>
    <td width="121"><strong>Magistratura</strong></td>
    <td width="89"><strong>&nbsp;</strong></td>
    <td width="143"><strong>&nbsp;</strong></td>
    <td width="193"><strong>&nbsp;</strong></td>
    <td width="113"><strong>&nbsp;</strong></td>
    <td width="103"><strong>&nbsp;</strong></td>
    <td width="97"><strong>10</strong></td>
    <td width="80"><strong>&nbsp;</strong></td>
    <td width="82"><strong>&nbsp;</strong></td>
    </tr>
    <tr>
    <td width="121">Bakalavr</td>
    <td width="89">60611500</td>
    <td width="143">Radiolelektron qurilmalar va tizimlar (tarmoqlar boʻyicha)</td>
    <td width="193">11.03.01 Радиоэлектронное оборудование и системы (по отраслям)</td>
    <td width="113">Rossiya Federatsiyasi</td>
    <td width="103">“Moskva energetika instituti” milliy tadqiqot universiteti</td>
    <td width="97">20</td>
    <td width="80">Rus tili</td>
    <td width="82">2+2</td>
    </tr>
    <tr>
    <td width="121">Bakalavr</td>
    <td width="89">60711200</td>
    <td width="143">Elektronika va asbobsozlik (tarmoqlar boʻyicha)</td>
    <td width="193">11.03.04<p></p>
    <p>Электроника и приборостроение (по отраслям)</p></td>
    <td width="113">Rossiya Federatsiyasi</td>
    <td width="103">“Moskva energetika instituti” milliy tadqiqot universiteti</td>
    <td width="97">20</td>
    <td width="80">Rus tili</td>
    <td width="82">2+2</td>
    </tr>
    <tr>
    <td width="121">Bakalavr</td>
    <td width="89">60710100</td>
    <td width="143">Kimyoviy texnologiya (ishlab chiqarish turlari boʻyicha)</td>
    <td width="193">18.03.01.<p></p>
    <p>Химическая технология<br>
    Химическая технология (по видам производств)</p></td>
    <td width="113">Rossiya Federatsiyasi</td>
    <td width="103">Ivanova Davlat kimyo-texnologiya universiteti</td>
    <td width="97">30</td>
    <td width="80">Rus tili</td>
    <td width="82">2+2</td>
    </tr>
    <tr>
    <td width="121">Bakalavr</td>
    <td width="89">60711300</td>
    <td width="143">Metrologiya, standartlashtirish va mahsulot sifati menejmenti (tarmoqlar boʻyicha)</td>
    <td width="193">27.03.01<p></p>
    <p>Метрология, стандартизация и менеджмент качества продукции (по отраслям)</p></td>
    <td width="113">Rossiya Federatsiyasi</td>
    <td width="103">Ivanova Davlat kimyo-texnologiya universiteti</td>
    <td width="97">20</td>
    <td width="80">Rus tili</td>
    <td width="82">2+2</td>
    </tr>
    <tr>
    <td width="121">Bakalavr</td>
    <td width="89">60720800</td>
    <td width="143">Mashinasozlik texnologiyasi, mashinasozlik ishlab chiqarishini jihozlash va avtomatlashtirish</td>
    <td width="193">15.03.01<p></p>
    <p>Технология машиностроения, оборудование и автоматизация машиностроительных производств</p></td>
    <td width="113">Rossiya Federatsiyasi</td>
    <td width="103">Qozon Federal universiteti</td>
    <td width="97">20</td>
    <td width="80">Rus tili</td>
    <td width="82">2+2</td>
    </tr>
    <tr>
    <td width="121">Bakalavr</td>
    <td width="89">60712500</td>
    <td width="143">Transport vositalari muhandisligi (turlari boʻyicha)</td>
    <td width="193">23.03.02<p></p>
    <p>Инженерия транспортных средств</p></td>
    <td width="113">Rossiya Federatsiyasi</td>
    <td width="103">Qozon Federal universiteti</td>
    <td width="97">20</td>
    <td width="80">Rus tili</td>
    <td width="82">2+2</td>
    </tr>
    <tr>
    <td width="121">Bakalavr</td>
    <td width="89">60411200</td>
    <td width="143">Menejment (tarmoqlar va sohalar boʻyicha)</td>
    <td width="193">38.03.02<p></p>
    <p>Менеджмент</p></td>
    <td width="113">Rossiya Federatsiyasi</td>
    <td width="103">Qozon Federal universiteti</td>
    <td width="97">20</td>
    <td width="80">Rus tili</td>
    <td width="82">2+2</td>
    </tr>
    <tr>
    <td width="121">Bakalavr</td>
    <td width="89">60710600</td>
    <td width="143">Elektr energetikasi&nbsp; (tarmoqlar va yoʻnalishlar boʻyicha)</td>
    <td width="193">13.03.02. Электроэнергетика и электротехника (Автоматизированные электрические распределительные сети)<br>
    Электроэнергетика (по отраслям и направлениям)&nbsp;</td>
    <td width="113">Rossiya Federatsiyasi</td>
    <td width="103">Don davlat texnika universiteti</td>
    <td width="97">20</td>
    <td width="80">Rus tili</td>
    <td width="82">2+2</td>
    </tr>
    <tr>
    <td width="121">Bakalavr</td>
    <td width="89">60730300</td>
    <td width="143">Bino va inshootlar qurilishi (turlari bo‘yicha)</td>
    <td width="193">08.03.01 – Строительство</td>
    <td width="113">Rossiya Federatsiyasi</td>
    <td width="103">Milliy tadqiqotlar Moskva Davlat qurilish universiteti</td>
    <td width="97">10</td>
    <td width="80">Rus tili</td>
    <td width="82">2+2</td>
    </tr>
    <tr>
    <td width="121">Bakalavr</td>
    <td width="89">60720800</td>
    <td width="143">Mashinasozlik texnologiyasi, mashinasozlik ishlab chiqarishini jihozlash va avtomatlashtirish</td>
    <td width="193">Mechanical engineering</td>
    <td width="113">Italiya</td>
    <td width="103">Toshkent shahridagi Turin politexnika universiteti</td>
    <td width="97">100</td>
    <td width="80">Ingliz tili</td>
    <td width="82">2+2</td>
    </tr>
    <tr>
    <td width="121"><strong>Magistratura</strong></td>
    <td width="89">70710901</td>
    <td width="143">Energiya tejamkorligi va energoaudit (tarmoqlar boʻyicha)</td>
    <td width="193">13.04.02 Электорэнергетика и электротехника (Автоматизированные системы электроснабжения)</td>
    <td width="113">Rossiya Federatsiyasi</td>
    <td width="103">Don davlat texnika universiteti</td>
    <td width="97">10</td>
    <td width="80">Rus tili</td>
    <td width="82">1+1</td>
    </tr>
    </tbody>
    </table>
    <p>&nbsp;</p>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
                

            </div>
        </div>
    </div>
</div>



{% endblock content %}