{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Qo`shma ta’lim dasturlari</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/qoshmaTalim/__qtalim-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">

                <a href="{% url "pageQT1" %}" class="btn">Qo’shma ta’lim dasturlarida o’qish uchun onlayn ro’yxatdan o’tish</a>
                <a href="{% url "pageQT2" %}" class="btn">CALL CENTER</a>
                <a href="{% url "pageQT3" %}" class="btn">Abiturientlar uchun e’lonlar</a>
                <a href="{% url "pageQT4" %}" class="btn">Abiturientga eslatma</a>
                <a href="{% url "pageQT5" %}" class="btn">Qabul kvotasi</a>
                <a href="{% url "pageQT6" %}" class="btn">Qabul nizomlari</a>
                <a href="{% url "pageQT7" %}" class="btn">Qabul komissiyasi</a>
                <a href="{% url "pageQT8" %}" class="btn">Hujjatlar to’plami</a>
                <a href="{% url "pageQT9" %}" class="btn">Fanlar ro’yxati</a>
                <a href="{% url "pageQT10" %}" class="btn">Biz bilan bog’lanish</a>

            </div>
        </div>
    </div>
</div>



{% endblock content %}