<div class="card-box_left">
    <a href="{% url "pageIM1" %}" class="btn">CALL CENTER</a>
    <a href="{% url "pageIM2" %}" class="btn">Abituriyentga eslatma</a>
    <a href="{% url "pageIM3" %}" class="btn">Qabul nizomlari</a>
    <a href="{% url "pageIM4" %}" class="btn">Qabul komissiyasi</a>
    <a href="{% url "pageIM5" %}" class="btn">Qabul kvotasi</a>
    <a href="{% url "pageIM6" %}" class="btn">Hujjatlar to’plami</a>
    <a href="{% url "pageIM7" %}" class="btn">Suhbatdan o‘tish vaqti (jadval)</a>
    <a href="{% url "pageIM8" %}" class="btn">Biz bilan bog’lanish</a>
    <a href="{% url "pageIM9" %}" class="btn">Namunaviy savollar to’plami</a>
    <a href="{% url "pageIM10" %}" class="btn">Imtixon natijalari</a>
                
</div>