{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Ikkinchi mutaxassislik</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/im/__im-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col">
                    <main id="content" class="content-style">
                                                <article id="post-12890" class="post-12890 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Qabul komissiyasi</h1>                             </div>
                                <div class="entry-content">
                                                                    <p style="text-align: center;"><strong>Jizzax politexnika instituti 2023-2024 o`quv yili qabul komissiyasi a’zolarining</strong></p>
    <p style="text-align: center;"><strong>TARKIBI</strong></p>
    <table style="height: 723px;" width="963">
    <tbody>
    <tr>
    <td width="36"><strong>№</strong></td>
    <td width="180"><strong>F.I.Sh.</strong></td>
    <td width="331"><strong>Lavozimi</strong></td>
    <td width="94"><strong>Vazifasi</strong></td>
    </tr>
    <tr>
    <td width="36">1</td>
    <td width="180">Usmankulov Alisher Kadirkulovich</td>
    <td width="331">Rektor</td>
    <td width="94">Rais</td>
    </tr>
    <tr>
    <td width="36">2</td>
    <td width="180">Egamnazarov Gayrat Gaybullaevich</td>
    <td width="331">O‘quv ishlari bo‘yicha prorektor</td>
    <td width="94">Rais muovini</td>
    </tr>
    <tr>
    <td width="36">3</td>
    <td width="180">Xamrakulov Dilshod Qobil о‘g‘li</td>
    <td width="331">Rektor maslahatchisi</td>
    <td width="94">A’zo</td>
    </tr>
    <tr>
    <td width="36">4</td>
    <td width="180">Xaitov Xasan Qodirovich</td>
    <td width="331">Korrupsiyaga qarshi kurashish “Komplayens-nazorat” tizimini boshqarish boʻlimi boshlig’i</td>
    <td width="94">A’zo</td>
    </tr>
    <tr>
    <td width="36">5</td>
    <td width="180">G‘aybullayev Bobur Jо‘raboy о‘g‘li</td>
    <td width="331">Xodimlar bo‘limi boshlig‘i</td>
    <td width="94">A’zo</td>
    </tr>
    <tr>
    <td width="36">6</td>
    <td width="180"></td>
    <td width="331">Mutaxassis chiqaruvchi kafedra mudirlari</td>
    <td width="94">A’zo</td>
    </tr>
    <tr>
    <td width="36">7</td>
    <td width="180"></td>
    <td width="331">Sohalar bo‘yicha ishlab chiqarishdan taklif etilgan etakchi mutaxassis</td>
    <td width="94">A’zo</td>
    </tr>
    <tr>
    <td width="36">8</td>
    <td width="180">Egamberdiyev Fazliddin Otaqulovich</td>
    <td width="331">“Tabiiy tolalar va matoga ishlov berish” kafedrasi mudiri</td>
    <td width="94">Kotib</td>
    </tr>
    </tbody>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
                
            </div>
        </div>
    </div>
</div>



{% endblock content %}