{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Ikkinchi mutaxassislik</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/im/__im-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                
                <div class="col">
                    <main id="content" class="content-style">
                                                <article id="post-12876" class="post-12876 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Suhbatdan o‘tish vaqti (jadval)</h1>                             </div>
                                <div class="entry-content">
                                                                    <hr>
    <p style="text-align: center;"><strong>Oliy&nbsp;ma’lumotga&nbsp;ega bo’lgan shaxslarni&nbsp;bakalavriat ta’lim yo’nalishlari bo’yicha ikkinchi va undan keyingi ta’limni olishi&nbsp;uchun institutga test&nbsp;asosida qabul qilish uchun</strong></p>
    <p style="text-align: center;"><strong>BAHOLASH MEZONI</strong></p>
    <p>Imtixon jarayonida abuturiyentlarning har biriga</p>
    <p>– Mamlakatda o‘z sohasiga oid amalga oshirilayotgan islohotlarning mohiyati va ahamiyatini tushunish.</p>
    <p>– ikkinchi va undan keyingi bakalavriat ta’lim yo‘nalishini tanlashda motivasiya (soha kasbining mohiyati va ijtimoiy ahamiyatini tushunish, unga doimiy qiziqish ko‘rsatish).</p>
    <p>– Tanlangan bakalavriat ta’lim yo‘nalishi sohasidagi bilim va kasbiy ko‘nikmalarning mavjudligi bo‘yicha jami qirqta savol beriladi.</p>
    <p>Har bir variantda 40 tadan savollari mavjud bo‘lib, har bir to‘g‘ri javob uchun 2,5 ball beriladi. Savollar uchun eng yuqori ball – 100 ballni tashkil etadi. Imtixon natijalari quyidagi mezonlar bo‘yicha to‘plagan umumiy bali quyidagicha baholanadi.</p>
    <p>Muayyan ta’lim yo‘nalishi (guruh) bo‘yicha imtixon jarayoni yakunlangach Imtixon komissiyasi a’zolari tomonidan to‘ldirilgan test kitobidagi ballar hisoblab chiqiladi imtixonning yakuniy natijalarini qayd etilib, Imtixon komissiyasi tomonidan tasdiqlanadi.</p>
    <p>Imtixon natijalariga ko’ra toplangan ball 55 baldan yuqori bo‘lganda abituriyent imtixondan o‘tgan hisoblanadi.</p>
    <p>Oliy ta’lim muassasasida imtixonlar o‘tkazilishi davrida belgilangan tartibda apellyatsiya shikoyatlarini ko‘rib chiqish uchun apellyasiya komissiyasi tashkil etiladi.</p>
    <p>Apellyatsiya shikoyatlari imtixon natijalari e’lon qilingan vaqtdan boshlab 24 soat ichida qabul qilinadi va appelyatsiya komissiyasi tomonidan murojaat qilganlarning sonidan kelib chiqqan holda bir kundan uch kungacha bo‘lgan muddatda ko‘rib chiqiladi.</p>
    <p><em>Imtixon Jizzax politexnika institutining 2023 yil 24 iyundagi 11-sonli kengashi qaroriga asosan&nbsp;<strong>test</strong>&nbsp;shaklida 22-23 avgust kunlari o’tkaziladi</em></p>
    <p><a class="a-link" href="https://jizpi.uz/wp-content/uploads/2020/08/Qabul-2022-2023-ga-joylash-uchun.docx">Qabul 2023-2024 Savollar Toplami</a></p>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}