{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Ikkinchi mutaxassislik</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/im/__im-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <div class="col">
                    <main id="content" class="content-style">
                                                <article id="post-12894" class="post-12894 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Qabul nizomlari</h1>                             </div>
                                <div class="entry-content">
                                                                    <div align="justify">
    <div class="ACCEPTING_BODY">
    <h3 style="text-align: center;">O‘zbekiston Respublikasi Vazirlar Mahkamasining</h3>
    <h3 style="text-align: center;">qarori</h3>
    <p style="text-align: center;"><strong>O‘zbekiston Respublikasi oliy ta’lim muassasalarida ikkinchi va undan keyingi oliy ta’limni olish tartibi to‘g‘risidagi nizomni tasdiqlash haqida</strong></p>
    <p>“Ta’lim to‘g‘risida”gi O‘zbekiston Respublikasining <a class="a-link" href="http://lex.uz/docs/-5013007">Qonuni</a>, O‘zbekiston Respublikasi Prezidentining “Milliy qonunchilik bazasini kompleks tizimlashtirish chora-tadbirlari to‘g‘risida” 2021-yil 30-apreldagi PF-6218-son <a class="a-link" href="http://lex.uz/docs/-5400414">Farmoniga</a> muvofiq fuqarolarning ishlab chiqarishdan ajralmagan holda ikkinchi va undan keyingi oliy ta’lim olishi uchun shart-sharoitlar yaratish maqsadida Vazirlar Mahkamasi qaror qiladi:</p>
    <p>1. Quyidagilarni nazarda tutuvchi O‘zbekiston Respublikasi oliy ta’lim muassasalarida ikkinchi va undan keyingi oliy ta’limni olish tartibi to‘g‘risidagi nizom ilovaga muvofiq tasdiqlansin va 2022-yil 1-maydan boshlab kuchga kiritilsin:</p>
    <p>oliy ta’lim muassasalari bakalavriat ta’lim yo‘nalishlari xususiyatidan kelib chiqib, ikkinchi va undan keyingi oliy ta’limni oliy ta’lim muassasalarida mavjud bakalavriat ta’lim yo‘nalishlari va ta’lim shakllarida tashkil etish;</p>
    <p>ikkinchi va undan keyingi oliy ta’lim bo‘yicha qabul parametrlarini belgilash, o‘qishga kirish uchun belgilangan muddatlarda maxsus elektron tizim orqali ro‘yxatdan o‘tish;</p>
    <p>ikkinchi va undan keyingi oliy ta’limda o‘quv jarayonini tashkil etish, shu jumladan, o‘qish davomiyligini tegishli bakalavriat ta’lim yo‘nalishlari uchun belgilangan muddatdan bir yilga kam etib belgilash;</p>
    <p>ikkinchi va undan keyingi oliy ta’limning bakalavriat ta’lim yo‘nalishlari o‘quv rejasi va fan dasturlarini tayanch oliy ta’lim muassasalari tomonidan turdosh oliy ta’lim muassasalari bilan kelishilgan holda kadrlar buyurtmachilarining ehtiyojlaridan kelib chiqib alohida ishlab chiqish va tasdiqlash.</p>
    <p>2. O‘zbekiston Respublikasi Oliy va o‘rta maxsus ta’lim vazirligi manfaatdor vazirliklar va idoralar bilan birgalikda o‘zlari qabul qilgan normativ-huquqiy hujjatlarni bir oy muddatda ushbu qarorga muvofiqlashtirsin.</p>
    <p>3. Mazkur qarorning bajarilishini nazorat qilish O‘zbekiston Respublikasi Bosh vazirining ijtimoiy rivojlantirish masalalari bo‘yicha o‘rinbosari B.A. Musayev hamda O‘zbekiston Respublikasi oliy va o‘rta maxsus ta’lim vaziri A.X. Toshkulov zimmasiga yuklansin.</p>
    <p><strong>O‘zbekiston Respublikasining Bosh vaziri A. ARIPOV</strong></p>
    <p>Toshkent sh.,</p>
    <p>2021-yil 24-sentabr,</p>
    <p>606-son</p>
    <p>Vazirlar Mahkamasining 2021-yil 24-sentabrdagi 606-son qaroriga<br>
    ILOVA</p>
    <p><strong>O‘zbekiston Respublikasi oliy ta’lim muassasalarida ikkinchi va undan keyingi oliy ta’limni olish tartibi to‘g‘risida</strong></p>
    <p>NIZOM</p>
    <p><strong>1-bob. Umumiy qoidalar</strong></p>
    <p>1. Ushbu Nizom oliy ta’lim muassasalarida bakalavriat ta’lim yo‘nalishlari bo‘yicha ikkinchi va undan keyingi oliy ta’limni tashkil etish tartibini belgilaydi.</p>
    <p>Mazkur Nizom O‘zbekiston Respublikasi oliy harbiy ta’lim muassasalariga nisbatan tatbiq etilmaydi.</p>
    <p>2. “Ta’lim to‘g‘risida”gi O‘zbekiston Respublikasi Qonunining <a class="a-link" href="http://lex.uz/docs/-5013007#-5013303">11-moddasiga </a>muvofiq fuqarolar shartnoma asosida ikkinchi va undan keyingi oliy ma’lumotni olish huquqiga egadirlar.</p>
    <p>3. Oliy ma’lumotga ega bo‘lgan bakalavr (diplomli mutaxassis) darajasiga ega shaxslar bakalavriat ta’lim yo‘nalishlari bo‘yicha ikkinchi va undan keyingi oliy ta’limni olishlari mumkin.</p>
    <p>4. Oliy ta’lim muassasalari tomonidan ikkinchi va undan keyingi oliy ta’lim mavjud quvvatlari, moddiy-texnika bazasi, professor-o‘qituvchilari tarkibi hamda bakalavriat ta’lim yo‘nalishlari xususiyatidan kelib chiqib, muayyan oliy ta’lim muassasasida bir yil oldingi qabul parametrlarida mavjud bakalavriat ta’lim yo‘nalishlari va ta’lim shakllarida tashkil etiladi.</p>
    <p><strong>2-bob. Ikkinchi va undan keyingi oliy ta’limga qabul qilishni tashkil etish</strong></p>
    <p>5. Ikkinchi va undan keyingi oliy ta’lim bo‘yicha qabul parametrlari oliy ta’lim muassasasining ilmiy-pedagogik salohiyati va moddiy-texnik bazasi hisobga olingan holda oliy ta’lim muassasasi kengashi tomonidan belgilanadi.</p>
    <p>6. Oliy ta’lim muassasalarida tashkil etiladigan qabul komissiyalari (keyingi o‘rinlarda — qabul komissiyasi)ga ikkinchi va undan keyingi oliy ta’lim qabulini amalga oshirish vazifasi yuklatiladi.</p>
    <p>7. Ikkinchi va undan keyingi oliy ta’limga o‘qishga kirish uchun abituriyentlar har yili 10-iyuldan 10-avgustga qadar (shu kuni ham) O‘zbekiston Respublikasi Oliy va o‘rta maxsus ta’lim vazirligi tomonidan ishlab chiqilgan maxsus elektron tizim orqali ro‘yxatdan o‘tadi.</p>
    <p>8. Abituriyentlar ro‘yxatdan o‘tishda maxsus elektron tizimga o‘zining shaxsiy ma’lumotlarini kiritadi va quyidagi hujjatlarni yuklaydi:</p>
    <p>oliy ma’lumot to‘g‘risidagi hujjatning nusxasi (yoki diplomdan ko‘chirma — O‘zbekiston Respublikasi oliy ta’lim muassasalarini davlat granti asosida o‘qib tugatganlar uchun);</p>
    <p>oliy ma’lumot to‘g‘risidagi hujjatning ilova nusxasi.</p>
    <p>Bunda, xorijiy davlatlar ta’lim muassasalarining 1992-yil 1-yanvardan keyin berilgan diplomlari belgilangan tartibda nostrifikatsiyadan o‘tkazilgan bo‘lishi lozim.</p>
    <p>9. Ikkinchi va undan keyingi oliy ta’limga qabul qilish tartibi (kirish imtihoni shakli, baholash mezonlari, imtihon o‘tkazish muddatlari) oliy ta’lim muassasasining xususiyatidan kelib chiqib, oliy ta’lim muassasasi kengashi tomonidan belgilanadi va har yili 1-iyulga qadar oliy ta’lim muassasasining rasmiy veb-saytida e’lon qilinadi.</p>
    <p>10. Ikkinchi va undan keyingi oliy ta’limga qabul qilish natijalari har yili 30-avgustga qadar oliy ta’lim muassasalari tomonidan e’lon qilinadi.</p>
    <p>11. Ikkinchi va undan keyingi ta’limda o‘qish uchun talabalikka tavsiya etilgan shaxslar bilan oliy ta’lim muassasasi o‘rtasida shartnoma rasmiylashtiriladi.</p>
    <p>Shartnomalar yuridik shaxslar uchun 3 nusxada, jismoniy shaxslar uchun 2 nusxada rasmiylashtiriladi.</p>
    <p>Shartnoma shartlari, ularni amalga oshirish tartibi hamda tomonlarning majburiyatlari qonun hujjatlariga muvofiq amalga oshiriladi.</p>
    <p>12. Oliy ta’lim muassasalari bakalavriat ta’lim yo‘nalishlari xususiyatidan kelib chiqib, ikkinchi va undan keyingi oliy ta’lim uchun to‘lov-kontrakt miqdori bir talabani o‘qitish bilan bog‘liq xarajatlar miqdoridan kelib chiqib, oliy ta’lim muassasasi kengashi tomonidan belgilanadi.</p>
    <p>13. Talabalarni o‘qishga qabul qilish shartnomada belgilangan to‘lov amalga oshirilgandan so‘ng, oliy ta’lim muassasasi rektorining buyrug‘i bilan rasmiylashtiriladi.</p>
    <p><strong>3-bob. Ikkinchi va undan keyingi oliy ta’limda o‘quv jarayonini tashkil etish</strong></p>
    <p>14. Ikkinchi va undan keyingi oliy ta’limda o‘qish o‘quv rejalaridagi fanlar farqidan qat’i nazar, 2-kursdan boshlanadi.</p>
    <p>Bunda ikkinchi va undan keyingi oliy ta’limda o‘qish davomiyligi tegishli bakalavriat ta’lim yo‘nalishlari uchun belgilangan muddatdan bir yilga kam etib belgilanadi.</p>
    <p>15. Ikkinchi va undan keyingi oliy ta’limning bakalavriat ta’lim yo‘nalishlari o‘quv rejasi va fan dasturlari tayanch oliy ta’lim muassasalari tomonidan turdosh oliy ta’lim muassasalari bilan kelishilgan holda kadrlar buyurtmachilarining ehtiyojlaridan kelib chiqib, kunduzgi ta’lim shakli uchun tasdiqlangan o‘quv reja va fan dasturlariga muvofiq holda alohida ishlab chiqiladi va tasdiqlanadi.</p>
    <p>16. Ikkinchi va undan keyingi oliy ta’limda tahsil olayotgan talabalar o‘qishini ko‘chirish, qayta tiklash va o‘qishdan chetlashtirish O‘zbekiston Respublikasi Vazirlar Mahkamasining 2017-yil 20-iyundagi 393-son qarori bilan tasdiqlangan Oliy ta’lim muassasalari talabalari o‘qishini ko‘chirish, qayta tiklash va o‘qishdan chetlashtirish tartibi to‘g‘risidagi <a class="a-link" href="http://lex.uz/docs/-3244181#-3245763">nizomga </a>asosan amalga oshiriladi.</p>
    <p>17. Ikkinchi va undan keyingi oliy ta’limda tahsil olgan shaxslarga, davlat attestatsiyasi yakunlari bo‘yicha, davlat namunasidagi hujjat (diplom va uning ilovasi) beriladi.</p>
    <p><strong>4-bob. Yakunlovchi qoidalar</strong></p>
    <p>18. Ushbu Nizomni qo‘llashda yuzaga keladigan nizolar qonun hujjatlarida belgilangan tartibda hal etiladi.</p>
    <p>19. Mazkur Nizom talablarining buzilishida aybdor bo‘lgan shaxslar qonun hujjatlarida belgilangan tartibda javob beradilar.</p>
    <p>&nbsp;</p>
    <p><em> (Qonunchilik ma’lumotlari milliy bazasi, 24.09.2021-y., 09/21/606/0911-son)</em></p>
    </div>
    </div>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
                
            </div>
        </div>
    </div>
</div>



{% endblock content %}