{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Ikkinchi mutaxassislik</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/im/__im-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                
                <div class="col">
                    <main id="content" class="content-style">
                                                <article id="post-12882" class="post-12882 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Abiturientga eslatma</h1>                             </div>
                                <div class="entry-content">
                                                                    <p>⚡️Ikkinchi mutaxassislikka hujjatlar qabuli boshlandi</p>
    <p>📌 Oliy ta’lim muassasalariga ikkinchi va undan keyingi ta’lim olish uchun hujjat topshirish bo’yicha video yo’riqnoma</p>
    <p>HD FORMATDA SIFATLI&nbsp; <a class="a-link" href="https://youtu.be/Xx8ANi7zFtY" class="fancybox-youtube">Ko’rish</a></p>
    <p>Qabul kvotalari:<br>
    <a class="a-link" href="https://t.me/YQQUZB_KANAL/13691">https://t.me/YQQUZB_KANAL/13691</a>&nbsp;Kunduzgi<br>
    <a class="a-link" href="https://t.me/YQQUZB_KANAL/13692">https://t.me/YQQUZB_KANAL/13692</a>&nbsp;Sirtqi<br>
    <a class="a-link" href="https://t.me/YQQUZB_KANAL/13693">https://t.me/YQQUZB_KANAL/13693</a>&nbsp;Masofaviy<br>
    <a class="a-link" href="https://t.me/YQQUZB_KANAL/13694">https://t.me/YQQUZB_KANAL/13694</a>&nbsp;Kechki</p>
    <p>Qabul kvotalarini sayt orqali ko’rish ➡️ https://yqqedu.uz/140</p>
    <p>🔰Respublikadagi davlat oliy taʼlim muassasalariga ikkinchi va undan keyingi oliy maʼlumot boʻyicha oʻqitishga nomzodlardan arizalar Oliy va oʻrta maxsus taʼlim vazirligining ikkinchitalim.edu.uz platformasi orqali onlayn qabul qilinadi.</p>
    <p>▪️Bunda nomzodlar platformada:<br>
    ➖oʻzining pasport maʼlumotlari, JSHSHIR maʼlumoti haqida axborotlarni kiritadi;<br>
    ➖diplom va uning ilovasining elektron nusxasini yuklaydi;<br>
    ➖hamda oʻqish istagini bildirgan oliy taʼlim muassasasi va taʼlim yoʻnalishini tanlaydilar.</p>
    <p>❗️Bunda, xorijiy davlatlar ta’lim muassasalarining 1992-yil 1-yanvardan keyin berilgan diplomlari belgilangan tartibda nostrifikatsiyadan o‘tkazilgan bo‘lishi lozim.</p>
    <p>☝️Ikkinchi va undan keyingi oliy maʼlumot boʻyicha oʻqitish toʻlov-kontrakt asosida amalga oshiriladi.</p>
    <p>Arizalar 10-avgustga qadar qabul qilinadi.</p>
    <p>Bizni kuzating: 👉@eduuz</p>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}