{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Ikkinchi mutaxassislik</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "qabul/im/__im-copy.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                
                <div class="col">
                    <main id="content" class="content-style">
                                                <article id="post-12892" class="post-12892 page type-page status-publish hentry">
                                <div class="">
                                    <h1 class="entry-title">Qabul kvotasi</h1>                             </div>
                                <div class="entry-content">
                                                                    <table class="table table-bordered" width="100%">
    <tbody>
    <tr>
    <td style="text-align: center;" colspan="5" width="707"><strong>2023/2024 o‘quv yili uchun ikkinchi va undan keyingi oliy ta’limga&nbsp;<u>sirtqi</u>&nbsp;ta’lim shakli bo‘yicha qabul parametrlarining<br>
    ta’lim yo‘nalishlari va o‘qitish tillari bo‘yicha<br>
    TAQSIMLANISHI</strong></td>
    </tr>
    <tr>
    <td rowspan="3" width="91"><strong>Shifr</strong></td>
    <td rowspan="3" width="425"><strong>Jizzax politexnika instituti va ta’lim yo‘nalishlari nomi</strong></td>
    <td colspan="3" width="191"><strong>To‘lov-kontrakt asosida</strong></td>
    </tr>
    <tr>
    <td rowspan="2" width="55"><strong>Jami</strong></td>
    <td colspan="2" width="136"><strong>shu jumladan:</strong></td>
    </tr>
    <tr>
    <td width="70"><strong>o‘zbek</strong></td>
    <td width="67"><strong>rus</strong></td>
    </tr>
    <tr>
    <td width="91"><strong>&nbsp;</strong></td>
    <td width="425"><strong>Jizzax politexnika instituti</strong></td>
    <td width="55"><strong>155</strong></td>
    <td width="70"><strong>155</strong></td>
    <td width="67"><strong>&nbsp;</strong></td>
    </tr>
    <tr>
    <td width="91">60411200</td>
    <td width="425">Menejment (tarmoqlar va sohalar bo‘yicha)</td>
    <td width="55">15</td>
    <td width="70">15</td>
    <td width="67"></td>
    </tr>
    <tr>
    <td width="91">60710100</td>
    <td width="425">Kimyoviy texnologiya (ishlab chiqarish turlari bo‘yicha)</td>
    <td width="55">10</td>
    <td width="70">10</td>
    <td width="67"></td>
    </tr>
    <tr>
    <td width="91">60710600</td>
    <td width="425">Elektr energetikasi (tarmoqlar va yo‘nalishlar bo‘yicha)</td>
    <td width="55">15</td>
    <td width="70">15</td>
    <td width="67"></td>
    </tr>
    <tr>
    <td width="91">60711300</td>
    <td width="425">Metrologiya, standartlashtirish va maxsulot sifati menejmenti (tarmoqlar bo‘yicha)</td>
    <td width="55">10</td>
    <td width="70">10</td>
    <td width="67"></td>
    </tr>
    <tr>
    <td width="91">60712500</td>
    <td width="425">Transport vositalari muhandisligi (turlari bo‘yicha)</td>
    <td width="55">10</td>
    <td width="70">10</td>
    <td width="67"></td>
    </tr>
    <tr>
    <td width="91">60720100</td>
    <td width="425">Oziq-ovqat texnologiyasi (mahsulot turlari bo‘yicha)</td>
    <td width="55">10</td>
    <td width="70">10</td>
    <td width="67"></td>
    </tr>
    <tr>
    <td width="91">60721200</td>
    <td width="425">Yengil sanoat buyumlari konstruksiyasini ishlash va texnologiyasi (ishlab chiqarish turlari bo‘yicha)</td>
    <td width="55">10</td>
    <td width="70">10</td>
    <td width="67"></td>
    </tr>
    <tr>
    <td width="91">60721300</td>
    <td width="425">Tabiiy tolalarni dastlabki ishlash texnologiyasi (xom ashyo va jarayon turlari bo‘yicha)</td>
    <td width="55">10</td>
    <td width="70">10</td>
    <td width="67"></td>
    </tr>
    <tr>
    <td width="91">60730300</td>
    <td width="425">Qurilish muxandisligi; bino va inshootlar qurilishi</td>
    <td width="55">10</td>
    <td width="70">10</td>
    <td width="67"></td>
    </tr>
    <tr>
    <td width="91">60730400</td>
    <td width="425">Muhandislik kommunikatsiyalari qurilishi va montaji (turlari bo‘yicha)</td>
    <td width="55">10</td>
    <td width="70">10</td>
    <td width="67"></td>
    </tr>
    <tr>
    <td width="91">60730300</td>
    <td width="425">Qurilish muhandisligi;qurilish materiallari, buyumlari va konstruksiyalarini ishlab chiqarish</td>
    <td width="55">10</td>
    <td width="70">10</td>
    <td width="67"></td>
    </tr>
    <tr>
    <td width="91">60730800</td>
    <td width="425">Yo‘l muhandisligi (sohalar va faoliyat turlari bo‘yicha)</td>
    <td width="55">10</td>
    <td width="70">10</td>
    <td width="67"></td>
    </tr>
    <tr>
    <td width="91">60810100</td>
    <td width="425">Qishloq xo‘jaligini mexanizatsiyalashtirish</td>
    <td width="55">10</td>
    <td width="70">10</td>
    <td width="67"></td>
    </tr>
    <tr>
    <td width="91">61040100</td>
    <td width="425">Transport logistikasi (transport turlari bo‘yicha)</td>
    <td width="55">10</td>
    <td width="70">10</td>
    <td width="67"></td>
    </tr>
    <tr>
    <td colspan="4" rowspan="2" width="640">Izox: 2023/2024 o‘quv yili uchun ikkinchi va undan keyingi oliy ta’limga&nbsp; sirtqi ta’lim shakli bo‘yicha qabul parametrlari 2023 yil&nbsp; 24 iyundagi institut kengashi 11- sonli majlis bayoni bilan&nbsp; tasdiqlangan</td>
    <td width="67"></td>
    </tr>
    <tr>
    <td width="67"></td>
    </tr>
    </tbody>
    </table>
    <hr>
    <h3><a class="a-link" href="https://jizpi.uz/wp-content/uploads/2020/08/kunduzgi-2.pdf">Ikkinchi mutaxassislik uchun kvotalar Kunduzgi</a></h3>
    <h3><a class="a-link" href="https://jizpi.uz/wp-content/uploads/2020/08/sirtqi-2.pdf">Ikkinchi mutaxassislik uchun kvotalar Sirtqi</a></h3>
    <p>&nbsp;</p>
                                    <div class="entry-links"></div>
                                </div>
                            </article>
                                                                </main><!----content-style---->
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}