<a href="{% url "mh-page-1" %}" class="btn">Prezident Qarorlari</a>
<a href="{% url "mh-page-2" %}" class="btn">Prezident Farmonlari</a>
<a href="{% url "mh-page-3" %}" class="btn">Vazirlik Buyruqlari</a>
<a href="{% url "mh-page-4" %}" class="btn">Adliya Qarorlari</a>
<a href="{% url "mh-page-5" %}" class="btn">Hukumat Qarorlari</a>
<a href="{% url "mh-page-6" %}" class="btn">Hukumat Dasturlari</a>
<a href="{% url "mh-page-7" %}" class="btn">Institut Buyruqlari</a>
<a href="{% url "mh-page-8" %}" class="btn">Klassifikatorlar</a>