{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Xotin-Qizlar Kengashi</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "institut/__vasiylik_copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <h3 align="center">O‘ZBEKISTON RESPUBLIKASI OLIY VA O‘RTA MAXSUS TA’LIM VAZIRLIGI  JIZZAX POLITEXNIKA INSTITUTI</h3>
                <p class="p1920_"> XOTIN – QIZLAR  QO‘MITAS BOSHLANG‘ICH TASHKILOTI FAOLIYATI TO‘G‘RISIDAGI</p>
                <p class="p1920"> <b>"TASDIQLAYMAN"</b><br>Jizzax politexnika instituti rektori <br>_________ A.K.Usmonkulov<br>«____»____________2018 yil</p>
            
                <p class="p1920_">JIZZAX  POLITEXNIKA  INSTITUTI <br> XOTIN – QIZLAR QO‘MITASI BOSHLANG‘ICH TASHKILOTI FAOLIYATI TO‘G‘RISIDA <br> N I Z O M</p>
                <p class="p1920_">UMUMIY KOIDALAR</p>
                <p>
                    1.1.  Jizzax politexnika instituti xotin – qizlar qo‘mitasi boshlang‘ich tashkiloti ayollar tomonidan ixtiyoriylik asosida korxona, tashkilot, muassasa, mehnat jamoalari, o‘quv yurtlari, mahalla, huquq targ‘ibot organlari, harbiy qismlarda ta’sisi yig‘ilishi qarori bilan tashkil etiladigan o‘zini-o‘zi boshqaruvchi tashkilotdir. (Keyingi o‘rinlarda matnda qo‘mita deb yuritiladi).
                    <br>
                    1.2. Qo‘mita o‘z faoliyatini O‘zbekiston Respublikasi Konstitutsiyasi, O‘zbekiston Respublikasining “Nodavlat notijorat tashkilotlari to‘g‘risida”gi,  “O‘zbekiston Respublikasida jamoat birlashmalari to‘g‘risida”gi Qonuni va nodavlat notijorat tashkilotlarini tartibga soluvchi boshqa qonunlar, shuningdek viloyat xotin-qizlar qo‘mitasining Ustavi hamda mazkur Nizomga muvofiq olib boradi.

                    <br><br>

                    <b>XOTIN-QIZLAR QO‘MITASI BOSHLANG‘ICH TASHKILOTINI TASHKIL ETISH VA UNING TASHKILIY TUZILMASI</b>

                    <br><br>

                    2.1.  Qo‘mita uning a’zolari qarori asosida tuziladi.
                    <br>
                    2.2. Jamoada faoliyat olib borayotgan har bir xotin – qizlar millati, ma’lumoti, ijtimoiy ahvolidan qat’iy nazar Qo‘mitaga a’zo bo‘lish huquqiga egadir.
                    <br>
                    2.3. O‘n sakkiz yoshga to‘lgan jismoniy shaxslar Qo‘mita a’zolari bo‘lishi mumkin.
                    <br>
                    2.4.  Qo‘mitaning raisi va o‘rinbosari a’zolarning umumiy majlisida 5 yilga saylanadi.
                    <br>
                    2.5. Boshlang‘ich tashkilotda a’zolarning sonidan kelib chiqqan holda 15 kishigacha bo‘lgan tarkibda Kengash saylanishi mumkin.
                    <br>
                    2.6. Xotin – qizlar Qo‘mita raisi oliy ta’lim muassasasi ilmiy kengashi a’zosi sifatida yiliga 1 marotaba hisobot beradi.
                    <br><br>
                    

                    <b>XOTIN-QIZLAR QO‘MITASI BOSHLANG‘ICH TASHKILOTINING MAQSAD VA VAZIFALARI</b>

                    <br>
                    <br>
                    3.1. Boshlang‘ich tashkilotning asosiy maqsadi – jamiyatda iqtisodiy-ijtimoiy islohotlarni hayotga tatbiq etish jarayonlarida xotin-qizlarning faol ishtirokini ta’minlash, ularning huquqiy savodxonligini oshirish, qonuniy manfaatlarini himoya qilish, davlat va jamiyatning har tomonlama jadal rivojlanishida xotin-qizlarning faol ishtirokini ta’minlash, onalik va bolalikni muhofaza etish, mustahkam oilalarni barpo etish, sog‘lom turmush tarzini targ‘ib qilish, xotin-qizlarni turli yot oqimlar ta’siridan himoya qilish hamda ma’naviy kamolotini yuksaltirishdan iborat.
                    <br>
                    3.2. Boshlang‘ich tashkilot o‘z maqsadlariga erishish uchun jamoatchilik nazoratini o‘rnatadi va quyidagi vazifalarni amalga oshiradi:
                    <br>
                    – Xotin-qizlarning jamiyatda ijtimoiy-iqtisodiy, siyosiy faolligini, huquqiy bilimlarini oshirish, huquqiy madaniyatini oshirish va qonuniy manfaatlarini himoya qilish, ularning muammolarini o‘rganish va bartaraf etilishiga ko‘maklashish;

                    –  Xotin-qizlarning ma’naviy, intellektual, kasbiy salohiyati va mehnat faolligini oshirish, kasbiy mahoratini yuksaltirib borishi uchun shart-sharoitlarni yaratish hamda ularning jamoat ishlarida manzilli ishtirokini ta’minlash;

                    – Kam ta’minlangan, ijtimoiy muhofazaga muhtoj, imkoniyati cheklangan, nogiron xotin-qizlar va yolg‘iz ayollarga har tomonlama ko‘maklashish;

                    – Xotin-qizlar o‘rtasida milliy g‘oya, milliy qadriyatlarimiz,  urf-odatlarimizva an’analarimizga sodiqlik tuyg‘ularini (Kiyinish madaniyati, muomala madaniyati, salomlashish odobi) qizlarni har tomonlama etuk insonlar qilib tarbiyalash, ularni oilaga tayorlash yo‘nalishida institutda alohida reja asosida turli madaniy-ma’rifiy tadbirlar, uchrashuvlar, seminarlar, debatlar va konferensiyalar o‘tkazish;

                    – Ijtimoiy-ma’naviy muhitni sog‘lomlashtirish, diniy ekstremizm, missionerlik, aqidaparastlik kabi nosog‘lom diniy oqimlar ta’siriga tushib qolishlarining oldini olish;

                    – Xalqimizning ruhiyatiga, turmush tarziga yot bo‘lgan huquqbuzarlik, jinoyatchilik, giyohvandlik, ichkilikbozlik, fohishabozlik, o‘z joniga qasd qilish kabi holatlarning oldini olish, kiyinish madaniyati, institutning ichki mehnat intizomi,  odob axloq qoidalariga amal qilishi bo‘yicha zarur choralarni ko‘rish;

                    –  Qo‘mita o‘z oldiga ko‘ygan vazifalarni hal etishda respublika, viloyat, shahar, tuman va tarmoqlar xotin-qizlar qo‘mitalari, tibbiyot muassasalari, davlat, jamoat va nodavlat tashkilotlari bilan hamkorlik kilish;

                    –   Xotin-qizlarning kitob mutolaasiga qiziqishlarini oshirish va kitobxonlik madaniyatini shakllantirish, ish jarayonida, kundalik faoliyatida foydalanish uchun zamonaviy va milliy adabiyotlar bilan boyitilgan axborot-resurs markazlariga muntazam qatnovlarini tashkil etish;

                    –  Talaba qizlarni oilaviy hayotga tayyorlash, yosh oilalarni ijtimoiy faollikkayo‘naltirish, ular o‘rtasida ijtimoiy foydali mehnat turi bilan shug‘ullanadigan, ibrat namunasiga ega bo‘lgan xotin-qizlarning hayot faoliyatlari va turmush tarzlarini keng targ‘ib qilish;

                    – Xotin-qizlarning sportga bo‘lgan qiziqishlarini oshirish, turli sport musobaqalarini tashkillashtirish, sport bilan shug‘ullanishi uchun zarur shart-sharoitlar yaratish kabi ishlarni amalga oshiradi.

                    <br><br>

                    <b>XOTIN-QIZLAR QO‘MITASI BOSHLANG‘ICH TASHKILOTINING HUQUQ VA MAJBURIYATLARI</b>
                    <br>
                    <br>

                    4.1. Boshlang‘ich tashkilot (Uning saylab qo‘yilagan organlari) o‘z maqsad va vazifalarini amalga oshirishda quyidagi huquqlarga ega:

                    – Viloyat xotin-qizlar qo‘mitasi Ustavi va mazkur Nizom tamoyillariga zid bo‘lmagan meyoriy va boshqa lokal hujjatlarni qabul qilish;

                    –  Belgilangan tartib va me’yorga muvofiq o‘z vakillarini yuqori xotin-qizlar qo‘mitalari tarkibiga saylash, ularni chaqirtirib olish va almashtirish;

                    –  Xotin-qizlar qo‘mitalari faoliyatining barcha masalalari bo‘yicha xotin-qizlar qo‘mitasining yuqori tashkilotlariga murojaat etish, axborot olish, zarurat tug‘ilganda, qo‘yilgan masalalar hal etilishida qo‘llab-quvvatlanish;

                    –  YUqori tashkilot konferensiyalari va saylab qo‘yiladigan organlari tomonidan ko‘rib chiqilishi uchun hujjatlar loyihalarini kiritish;

                    –  O‘z vakillari orqali yuqori xotin-qizlar tashkilotlarining kollegial organlari ishida ishtirok etish;

                    –  YUqori xotin-qizlar qo‘mitalari tomonidan o‘tkazilayotgan tadbirlar, o‘quv-seminarlariga o‘z vakillarini yo‘llash;

                    –  Iqtidorli qizlarni Zulfiya nomidagi Davlat mukofotiga nomzod sifatida hamda Davlat stipendiyalariga tayyorlashda ishtirok etish;

                    – Boshlang‘ich tashkilot faollarini,  Xotin-qizlarning ijodiy faoliyatlarini qo‘llab-quvvatlash va rag‘batlantirish borasida turli madaniy-ma’rifiy tadbirlar, ijodiy uchrashuvlar, tanlovlar tashkil etish, iqtidorli, o‘z kasbining haqiqiy egasi, jamoat ishlarida faol bo‘lgan xotin-qizlarni turli Davlat mukofotlariga taqdim  etish maqsadida yuqori xotin-qizlar qo‘mitalariga taqdimnomalar kiritish;

                    – Ayollarning jamiyatda ijtimoiy, iqtisodiy  – siyosiy va mehnat faoliyatini kuchaytirish, ularning huquq va manfaatlarini himoya qilish hamda ta’minlash ishlarin ishlarini olib borish;

                    – Madaniy xayotda to‘laqonli ishtirok etishini ta’minlash, ularning ma’naviy va intellektual saviyasini yuksaltirish borasida olib borilayotgan ishlarning samaradorligini oshirish;

                    – Ularni ijtimoiy – huquqiy jihatdan qo‘llab-quvvatlash, onalik va bolalikni muhofaza qilish va ularga etarli sharoitlar yaratib berish, yoshlarni ma’naviy barkamol, g‘oyaviy kurashchan, millat va davlatning barqarorligi hamda taraqqiyoti yulida o‘z kuchini ayamaydigan, milliy qadriyatlarni ulug‘laydigan, ma’naviy tahdidlarga qarshi tura oladigan, o‘zida fidoiylik va dahldorlik hissini mujassamlashtirgan insonlar qilib tarbiyalashda oliy ta’lim muassasalarining jamoat tashkilotlari bilan hamkorligini kuchaytirish hamda oliy ta’lim muassasalari talaba-qizlari o‘rtasida olib borilayotgan ma’naviy – ahloqiy tarbiya ishlarini yanada takomillashtirish;

                    – Mehnat munosabatlarini takomillashtirish, ayollar bandligini ta’minlash, xotin – qizlar ijtimoiy mavqeini yuksaltirish, ularning o‘qish va mehnat faoliyatini rag‘batlantirish;

                    – talaba qizlarni  hayotda o‘z o‘rinlarini topishga, o‘z-o‘zini tarbiyalash, o‘z shaxsini kamolotga etkazish, o‘z ruhiy dunyosini takomillashtirish usullarini egallashlariga yordam berish;

                    -sadoqatli, mehribon ona bo‘lib kelajak avlodni davomchisi bo‘lgan solih farzandlar tarbiyalaydigan qilib o‘stirish;

                    <br>
                    <br>
                    <b>XOTIN-QIZLAR QO‘MITASI BOSHLANG‘ICH TASHKILOTI FAOLIYATINIG ASOSIY TAMOYILLARI</b>

                    <br>
                    <br>
                    5.1. Boshlang‘ich tashkilot o‘z faoliyatini quyidagi tamoyillar asosida olib boradi:

                    – Boshlang‘ich tashkilot rahbar organlarining saylab qo‘yilishi;

                    –  Boshlang‘ich tashkilot saylab qo‘yiladigan organlarining o‘z tashkiloti va yuqori turuvchi xotin-qizlar qo‘mitalari oldida ularga berilgan vakolatlar doirasida hisobot berishi;

                    – Boshlang‘ich tashkilot saylab qo‘yiladigan  organlari ishida kollegiallik, oshkoralik;

                    –  Barcha  boshlang‘ich tashkilotlarning teng huquqliligi;

                    –  Qarorlar qabul qilish chog‘ida munozara erkinligi va qabul qilinganidan keyin so‘zsiz bajarilishining ta’minlanishi.
                    <br>
                    <br>
                    <b>INSTITUT XOTIN – QIZLAR QO‘MITASI RAISINING VAKOLATLARI</b>
                    <br>
                    <br>

                    6.1. Institut xotin – qizlar qo‘mitasi raisining vakolatlari quyidagilardan iborat:

                    –  Boshlang‘ich tashkilot pasportining yuritilishi;

                    –  Boshlang‘ich tashkilot ta’sisi hujjatlari, uning faoliyatiga oid zarur me’yoriy-huquqiy hujjatlarning mavjudligi (Yig‘ilish bayoni, qarori, boshlang‘ich tashkilot Nizomi, faoliyatga oid uslubiy qo‘llanma, tavsiyalar va boshqalar);

                    –  Qo‘mitaning yillik ish rejasini amalga oshirishda yo‘riqlar berish, quyi bo‘g‘inlar faoliyatini muvofiklashtirish;

                    –  Institutda “Qizlarjon”klubini tashkil etish va uning faoliyatini yo‘lga qo‘yish;

                    – Ma’naviy-ma’rifiy tadbirlarni o‘tkazishda, fakultet, xodimlar xotin-qizlar qo‘mitasi b.t. raislariga bevosita ko‘rsatmalar berish.

                    – Xotin – qizlar qo‘mitasi raisi fakultet,  bo‘lim xotin-qizlar qo‘mitasi  raislariga,  ularning amaldagi ish rejalarining bajarilishiga bevosita rahbarlik qilish, ularga yuklatilgan vazifalarning bajarilishini nazorat qilish va ular tomonidan amalga oshirilgan ishlar yuzasidan axborot va ma’lumotlar qabul qilish;

                    – Boshlang‘ich tashkilot raisi yoki rais o‘rinbosari qo‘mita a’zolari oldida faoliyat to‘g‘risida hisobot berib borishi;

                    – Qo‘mita faoliyati bilan bog‘liq bo‘lgan ishlarni yuritish, hujjatlar bilan ishlash, o‘z faoliyat doirasiga tegishli bo‘lgan turli majlislar, ishchi yig‘ilishlari bayonnomalarining olib borilishini va belgilangan tartibda rasmiylashtirilishini ta’minlash;

                    –  Boshlang‘ich tashkilot faoliyati uchun institut rahbariyati tomonidan zarur shart-sharoitlarning yaratilishi (Xona, mebel jihozlari, kompyuter texnologiyalari,  internet tarmog‘iga ulanganligi, aloqa vositalari)

                    – institut Ilmiy kengashi majlislarida ko‘rib chiqish uchun vakolat doirasidagi masalalar yuzasidan hujjatlar loyihalarini kiritish;

                    – institut Ilmiy kengashi majlislarida qabul qilingan qaror va rejalarning o‘ziga tegishli qismlari ijrosini ta’minlaydi hamda ularning bajarilishi yuzasidan tegishli axborotlar tayyorlash;

                    – institutda o‘zining tajribali faoliyati bilan namuna ko‘rsatib kelayotgan xotin – qizlarni moddiy va ma’naviy rag‘batlantirish bo‘yicha takliflar kiritish;

                    – institutda tuziladigan attestatsiya va tanlov komissiyalari tarkibida  a’zo sifatida ishtirok etish;

                    – Ma’naviyat va ma’rifat  masalalari bo‘yicha, ma’naviy va axloqiy tarbiya ishlari prorektori  bilan kelishilgan holda, professor-o‘qituvchilarni, talabalarni, barcha xotin-qizlarni o‘tkaziladigan ma’naviy – ma’rifiy tadbirlarga bevosita jalb qilish;
                    <br>
                    <br>

                    <b>XOTIN-QIZLAR QO‘MITASI BOSHLANG‘ICH TASHKILOTINING ORGANLARI</b>
                    <br>
                    <br>

                    7.1. Quyidagilar boshlang‘ich tashkilotning organlari hisoblanadi:

                    – Xotin-qizlar umumiy yig‘ilishi (Konferensiyasi) boshlang‘ich tashkilotrayosati

                    

                    XOTIN-QIZLAR QO‘MITASI BOSHLANG‘ICH TASHKILOTINING UMUMIY YIG‘ILISHI (KONFERENSIYASI)

                    <br><br>

                    8.1. Xotin-qizlar qo‘mitasini boshlang‘ich tashkilotining umumiy yig‘ilishi (Konferensiyasi) boshlang‘ich tashkilotining oliy organi hisoblanadi.
                    <br>
                    8.2. Boshlang‘ich tashkilotining umumiy yig‘ilishi (Konferensiyasi) zaruriyatga qarab, ammo yiliga kamida bir mata o‘tkaziladi.
                    <br>
                    8.3. Hududiy jihatdan tarqoq holda bo‘lganligi yoki boshlang‘ich tashkilotda a’zolar ko‘psonliligi tufayli umumiy yig‘ilishni o‘tkazish imkoni bo‘lmagan hollarda   boshlang‘ich tashkilotining rayosati o‘tkaziladi;

                    –  Konferensiyaga vakillik me’yori hamda delegatlar saylash tartibini boshlang‘ich tashkilot rayosati qarori bilan belgilanadi;

                    –  Boshlang‘ich tashkilotining umumiy yig‘ilishi (Konferensiyasi)ni chaqirish, vakillik normasi va kun tartibi to‘g‘risidagi qaror kamida 3 kun oldin e’lon qilinadi.
                    <br>
                    8.4. Boshlang‘ich tashkilotning novbatdan tashqari umumiy yig‘ilishi (Konferensiyasi) qarori bilan o‘z tashabbusiga binoan, boshlang‘ich tashkiloti a’zolarining kamida uchdan bir qismining talabiga ko‘ra  yoki yuqori turuvchi xotin-qizlar qo‘mitasi qaroriga binoan chaqiriladi.
                    <br>
                    8.5.  Boshlang‘ich tashkilotning umumiy yig‘ilishi (Konferensiyasi)ning vakolatlari quyidagilardan iborat:

                    –   Boshlang‘ich tashkilot raisi (Tashkilotchisi) faoliyati to‘g‘risidagi hisobotlarni eshitio‘;

                    –  Faoliyatiga doir nizomlar va boshqa hujjatlarni qabul qilish, shuningdek, ularga qo‘shimcha va o‘zgartishlar  kiritish;

                    –  Boshlang‘ich tashkilot raisi yoki tashkilotchisini saylash, ularning tarkibini saylash;

                    –  YUqori xotin-qizlar tashkilotlarining saylab qo‘yiladigan organlari tarkibiga vakillar saylash, yuqori xotin-qizlar tashkilotlarining konferensiyalari (Qurultoylari)ga delegatlar saylash;

                    –  Ustavga muvofiq boshlang‘ich tashkilotlarga berilgan boshqa vakolatlarni amalga oshirish.

                    
                    <br><br>

                    <b>XOTIN-QIZLAR QO‘MITASI BOSHLANG‘ICH TASHKILOTINING RAYOSATI</b>
                    <br>
                    <br>
                    9.1. Joriy ishlarni olib borish uchun xotin-qizlar umumiy yig‘ilishi (konferensiyasi)da quyidagilar 5 yil muddatga saylanadi:

                    

                    –  Korxona, tashkilot va muassasalarda boshlang‘ich tashkilot rayosati;

                    –  Korxona, tashkilot va muassasalarning tarkibiy bo‘linmalarida – xotin-qizlar guruhi tashkilotchisi.

                    –  Boshlang‘ich tashkilot rayosati majlislari zaruratga qarab, lekin har chorakda kamida bir marta o‘tkaziladi.
                    <br>
                    9.2. –  Boshlang‘ich tashkilot rayosatining vakolatlari quyidagilardan iborat:
                    <br>
                    –  Umumiy ig‘ilish (Konferensiya)lar oralig‘ida boshlang‘ich tashkilot faoliyatiga rahbarlik qilish;

                    –  Ayollarni ijtimoi-huquqi qo‘llab-quvvatlash, onalik va bolalikni muhofaza qilish, ayollarni kasbiy, jismoniy, ma’naviy va intellektual o‘sishi sohasida, shuningdek jamiyatni modernizatsiyalash va demokratik yangilash jarayonida ayollar rolini kuchaytirish va boshqa masalalar bo‘yicha amaliy chora-tadbirlarini amalga oshirish;
                    <br>
                    9.3. Qo‘mita Ustavida  hamda mazkur Nizomda ko‘zda tutilgan maqsad va vazifalarni amalga oshirish yuzasidan tegishli choralarni belgilash va amalga oshirish;

                    –  Boshlang‘ich tashkilot a’zolarining qonuni talablarini ifodalash va himoya qilish;

                    –  Boshlang‘ich tashkilotning ish rejasini tasdiqlash;

                    –  Amaldagi qonunchilikka binoan, amaldagi qonun va qoidalarga rioya etilishi ustidan jamoatchilik nazoratini tashkil etish, mehnat huquqi, mehnat va salomatlik muhofazasi masalalari bo‘yicha me’yoriy hujjatlar loyihalarini ishlab chiqishda ishtirok etish, ularga rioya etilishini nazorat qilish;

                    –  Xotin-qizlar guruhlarin tuzish to‘g‘risida qarorlar qabul qilish.
                    <br>
                    9.4. Boshlang‘ich tashkilot ishiga tashkilotning a’zolari soni 15 nafargacha bo‘lganda boshlang‘ich tashkilot tashkilotchisi, a’zolar soni 16 nafar va undan yuqori bo‘lganda boshlang‘ich tashkilot raisi rahbarlik qiladi.

                    <br>
                    <br>
                    <b>XOTIN-QIZLAR QO‘MITASINI QAYTA TUZISH, TUGATISH VA TASHKIL ETISH</b>
                    <br>
                    <br>
                    10.1. Xotin-qizlar qo‘mitasini boshlang‘ich tashkilotini qayta tuzish, tashkil etish va tugatish (qo‘shish, ajratish, ayirish, birlashtirish, qayta o‘zgartirish) boshlang‘ich tashkilot yig‘ilishi (Konferensiyasi) qaroriga asosan  amalga oshiriladi.
                    <br>
                    10.2. Xotin-qizlar qo‘mitasini qayta tashkil etishda barcha hujjatlar (boshqaruv, shaxsiy tarkib bo‘yicha hujjatlar va boshqalar) tarkibi, a’zolari qonun hujjatlarida belgilangan tartibda tuziladi.
                    <br><br>
                    <b>MAQOMI</b>
                    <br><br>
                    11.1. Institut xotin-qizlar qo‘mitasi raisi ma’naviy-axloqiy tarbiya ishlari bo‘yicha prorektorning xotin-qizlar ishi bo‘yicha o‘rinbosari maqomiga ega va ish jarayonida ma’naviy-axloqiy tarbiya ishlari bo‘yicha prorektorga bo‘ysunadi.
                </p>
                <p class="p1920"> <b>Ushbu NIZOM institut Ilmiy</b><br>kengashining  “_____ ” ______________ <br>2018 yildagi  _____ sonli yig‘ilishida<br>ko‘rib chiqilgan  va   tasdiqlangan.</p>
                 
            </div>
        </div>
    </div>
</div>



{% endblock content %}