{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Yosh Olimlar Kengashi</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "institut/__vasiylik_copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <p>
                    Yosh olimlar kengashi <br>
<b>Yosh olimlar kengashi raisi: </b> Djiyanbayev Sirojiddin Valiyevich, «Logistika» kafedrasi mudiri, PhD, falsafa doktori. <br>

<b>Yosh olimlar kengashi</b><br>
Jizzax politexnika instituti Yosh olimlar kengashi yosh olimlarni o‘zaro birlashtirish va ularning manfaatlarini himoya qilish maqsadida tashkil etilgan.
<br>
JizPI Yosh olimlar kengashi (YOK) – doimiy faoliyat yurituvchi kollegial organ bo‘lib, JizPIning yosh olimlari vakillaridan tashkil topgan va o‘z faliyatini jamoatchilik asosida olib boradi. 18-35 yishgacha bo‘lgan JizPI mustaqil izlanuvchilari, doktorantlari, shuningdek professor-o‘qituvchilari YOK a’zolari bo’lib hisoblanadi.
<br>
YOK faoliyatining asosiy maqsadi yosh olimlar manfaatlarini himoya qilish, yosh olim va mutahassislarning professional o‘sishi va jamoatchilik ishida faolligini oshirish,YOK uchun dolzarb bo‘lgan ilmiy muammolar echimini topishda birlashtirish, yosh olimlarning innovatsiya faoliyatini rivojlantirish, ularning ilmiy natijalarini ommalashtirish hamda yoshlarni ilmiy tadiqiqotlarga jalb etish hisoblanadi.
<br>
YOKning asosiy foliyat yo’nalishlari:
<br>
<b>YOK faoliyatining asosiy yo‘nalishlari:</b>
<br>
yoshlarni institutning ilmiy va jamoat ishlarida, ilmiy va ilmiy-metodik tadbirlarda faol qatnashishga jalb etish;
keng doiradagi yosh olimlarni jalb etgan holda milliy, xorijiy va xalqaro miqyosdagi dolzarb ilmiy muammolarni muhokama qilish uchun konferensiya, davra suhbati va ilmiy seminarlar tashkil etish va o‘tkazish;
yetuk milliy va xorijiy olimlar, amaliyotchilar va siyosatchilar bilan uchrashuvlar tashkil etish;
yosh olimlar ilmiy maqolalari va tezislarini ilmiy jurnallar, to‘plamlar va boshqa nashrlarda chop etilishini tashkil etish;
huquq sohasida yosh olimlarning ilmiy va pedagogik faoliyatining asosiy yo‘nalishlari va natijalari haqida axborot almashinishini ta’minlash;
huquq sohasidagi ilmiy faoliyat bilan bog‘liq muammolarni hal etishga qaratilgan tajriba almashish mexanizmini joriy etish;
yosh olimlar faoliyatini (hizmat safarlari, konferensiyalarda ishtirok, maqola nashr etish va h.k.) qo‘llab-quvvatlash maqsadida moddiy manbalarni (milliy va xorijiy grantlar, homiylik yordami) jalb etish;
yosh olimlar ilmiy tadqiqot yo‘nalishlariga bog‘liq bo‘lgan o‘quv va ilmiy-tadqiqot loyihalari to‘g‘risida ma’lumotlar tarqatish;
huquq sohasida yosh olimlar natijalarini keng tarqatish va joriy etish;
Institut yosh olimlari ijodiy va professional imkoniyatlarini to‘liq amalga oshirish maqsadida qonun chiqaruvchi va huquq qo‘llovchi o‘rganlar bilan o‘zaro hamkorlik qilish.
                </p>
            </div>
        </div>
    </div>
</div>



{% endblock content %}