{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Rektor Tabrigi</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            {% include "institut/__card-box_left.html" %}
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <h3>Rektor Tabrigi</h3>
            <p>
                Ҳурматли профессор-ўқитувчилар! Азиз талабалар!
                Институтимиз жамоасининг ҳар бир аъзосини ислом оламининг энг улуғ байрами бўлмиш Рамазон ҳайити билан муборакбод этаётганимдан бениҳоя  мамнунман.  Ушбу қутлуғ ойда сабру қаноат, шукроналик, руҳий покланиш, савобли амаллар қилишдек олижаноб фазилатларга янада эътиборли бўламиз. Яратганнинг раҳматидан умидвор бўламиз. Бу йил юртимизда ушбу муқаддас ойга хос бўлган савобли амаллар ҳар қачонгидан ҳам яққол намоён бўлди, десам, янглишмайман.
                Мард ва матонатли халқимиз коронавирус пандемияси, бошимизга тушган турли синовлар ва табиий офатлар шароитида “Оллоҳ сабр-тоқатли инсонлар билан биргадир”, деган илоҳий ўгитга амал қилиб, тушкунликка берилмасдан, янада аҳил ва бирдам бўлиб, инсонпарварлик, ҳамжиҳатликнинг юксак намунасини кўрсатди.
                Институтимизнинг аҳил жамоаси ҳам “Саховат ва кўмак” умуммиллий ҳаракати доирасида кўплаб хайрли ишларга қўл урди. Фахрий ўқитувчилар, ижтимоий ҳимояга муҳтож инсонлар ҳолидан хабар олинди. Сардоба тошқинидан жабр кўрган одамларга  инсонпарварлик ёрдами кўрсатилди. Шу ўринда синовли кунларда бир тану жон бўлиб, биродарларига ёрдам кўрсатган жамоамиз аъзоларига миннатдорлик билдираман хамда Жиззах политехника институти илмпарвар ва замонавий технологияларга асосланган илм даргоҳи бўлиши билан бирга ҳамиша ёрдамга шай, гуманист жамоа бўлиб қолади деб ўйлайман.
                Ҳозирги юксак технологиялар асрида мустаҳкам иймон-эътиқод билан бирга замонавий илм-фан, касб-ҳунарлар, хорижий тилларни пухта эгаллаш, инновациялар соҳасидаги ютуқларни чуқур ўзлаштириш, ёшларимизни миллий ва умуминсоний қадриятлар руҳида тарбиялаш барқарор тараққиётга эришишнинг энг муҳим шартидир. Бу бизнинг ҳар доим амал қиладиган шиоримиз бўлиб қолади.
                Шу муборак кунларда Яратгандан ҳар бирингизнинг хонадонингизга тинчлик-хотиржамлик, фароғат, барака , оила аъзоларингизга соғлик-саломатлик, эзгу ишларингизга ривож тилайман. Бутун дунёда коронавирус хавфи тезроқ барҳам топиб, яна қайноқ илм ва ижод оламига қайтишимизга тилакдошман.
                Ийд ал Фитр муборак!
                ректор, т.ф.д., проф                 
                <b>А.УСМАНКУЛОВ</b>
            </p>
            
            
        </div>
    </div>
</div>



{% endblock content %}