{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Prezident Farmonlari</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "institut/__meyoriy-hujjat-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nomi</th>
                            <th scope="col">To’liq tanishish</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Iqtisodiyotni rivojlantirish va kambag‘allikni qisqartirishga oid davlat siyosatini tubdan yangilash chora-tadbirlari to‘g‘risida</td>
                            <td><a href="#">№ PF-5975 26.03.2020</a></td>
                        </tr>
                     
                    </tbody>
                  </table>

        </div>
    </div>
</div>



{% endblock content %}