{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Vasiylik Kengashi</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "institut/__vasiylik_copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">
                <p class="p1920"><b>Jizzax politexnika institutining </b><br><b>2014 yil 4 iyundagi </b><br><b>152-AF sonli buyrug‘iga</b> <br><b>ilova</b></p>
                <p class="p1920_"><b> Jizzax politexnika institutining vasiylik kengashi to‘g‘risida Namunaviy nizomi</b></p><br>
                <p class="p1920_"><b> I. Umumiy qoidalar</b></p>
                <p>
                    1. Ushbu Namunaviy nizom Jizzax politexnika institutining vasiylik kengashi faoliyatini tartibga soladi. <br>
2. Jizzax politexnika institutining vasiylik kengashi (keyingi o‘rinlarda Kengash deb ataladi) institutning jamoatchilik boshqaruvi organlaridan biri xisoblanadi.
<br>
3. Kengash yuridik shaxs xisoblanmaydi. Kengash o‘z faoliyatini jamoatchilik asosida amalga oshiradi.
<br>
4. Kengash o‘z faoliyatini O‘zbekiston Respublikasi Konstitutsiyasiga va qonunlariga, O‘zbekiston Respublikasi Oliy majlisi palatalarining qarorlariga, O‘zbekiston Respublikasi Prezidentining farmonlari , qarorlari va farmoyishlariga, O‘zbekiston Respublikasi Vazirlar Maxkamasining qarorlari va farmoyishlariga, ushbu Namunaviy nizomga hamda boshqa qonun xujjatlariga muvofiq amalga oshiradi.
<br>
5. Ta’lim jarayonida ijtimoiy sheriklik tamoyillarini samarali amalga oshirish, ta’lim sifatini yaxshilash, institutning moddiy-texnika bazasini mustaxkamlashga ta’lim jarayonini takomilashtirish  Kengashning asosiy maqsadlari xisoblanadi.
<br>
6. Kengash tarkibiga davlat organlarining, nodavlat notijorat tashkilotlarining vakillari, xomiylar, shuningdek institutning faoliyatini takomilashtirish va rivojlantirishdan manfaatdor bo‘lgan boshqa yuridik va jismoniy shaxslarga kirishi mumkin.
<br>
7. Kengashning tarkibi Oliy va o‘rta maxsus ta’lim vazirligi tomonidan tasdiqlanadi, ushbu bandning ikkinchi va uchinchi xat boshlarida nazarda tutilgan xolatlar bundan mustasno.
Kengash tarkibiga O‘zbekiston Respublikasi Vazirlar Maxkamasiga xisobot beradigan davlat va xo‘jalik boshqaruvi organlarining raxbarlari kiritiladigan xolatlarda Kengash tarkibi tegishli vazirliklar va idoralar tomonidan  O‘zbekiston Respublikasi Vazirlar Maxkamasiga tasdiqlash uchun kiritiladi.
Kengash tarkibiga xuquqni muxofaza qilish va sud organlarining, xarbiylashtirilgan tuzilmalarning, shuningdek O‘zbekiston Respublikasi Prezidentiga xisobot beradigan davlat boshqaruvi organlarining raxbarlari kiritiladigan xolatlarda  Oliy va o‘rta maxsus ta’lim vazirligining taqdimnomasiga binoan Vazirlar Maxkamasi tomonidan O‘zbekiston Respublikasi Prezidentiga ko‘rib chiqish uchun kiritiladi.
<br>
8. Kengash to‘g‘risidagi Nizom ushbu Na’munaviy nizom talablarini xisobga olgan xolda Kengash tomonidan tasdiqlanadi.
<br>
II. Kengashning vazifalari va vakolatlari
<br>
9. Qo‘yidagilar Kengashning asosiy vazifalari xisoblanadi:
institutni moddiy-texnika, o‘quv-metodik bazasini mustaxkamlash, ijtimoiy va maishiy infratuzilmasini yaxshilash, binolarni muvofiqlashtirish va xududlarni obodonlashtirish;
ta’lim jarayonini xamda talabalarning ishlab chiqarish amaliyotini samarali tashkil etish va takomilashtirish, shuningdek institut bitiruvchilarini kelgusida ishlab chiqarish, fan va ta’limni integratsiyalashni rivojlantirish orqali ishga joylashtirish;
bakalavrlar va magistrlar tayyorlash sifatini hamda ilmiy tadqiqotlar samaradorligini baxolash ishlarini tashkil etish;
ta’lim jarayoni sifati va natijadorligini oshirish, kelgusida mexnat bozori rivojlanishini xisobga olgan xolda mutaxassislar va ilmiy-texnika kadrlarini tayyorlashning istiqboli yo‘nalishlarini aniqlash;

mutaxassislar tayyorlash sifatiga ko‘maklashadigan, istiqbolli dasturlarni  moliyalashtirish va amalga oshirish;

institutda ilmiy tadqiqot va innovatsiya faoliyatini rivojlantirish, fundamental (amaliy) ilmiy-texnika ishlanmalarini amalga oshirish, o‘quv va ilmiy jarayonlarni oqilona integratsiyalash;

talabalarning bevosita ishlab chiqarishdagi amaliy mashg‘ulotlarini o‘tkazishni tashkil etish;

ishlab chiqarish va xizmatlar ko‘rsatish soxasidagi malakali va tajribali mutaxassislarni ta’lim jarayoniga jalb etish;

institutda pedagog kadrlarining mexnat sharoitlarini yaxshilash xamda ularning malaka oshirish va qayta tayyorlashdan o‘tishlarini tashkil etish;

institut faoliyatining izchil (grantlar) mablag‘larini va boshqa byudjetdan tashqari mablag‘larni jalb etish;

eng  avvalo, etim bolalar jumlasidan bo‘lgan talabalarga ijtimoiy himoyalashni ta’minlash, iqtidorli talabalarga stipendiyalar ajratish, talabalarning yashashi uchun xonadonlarda yashash va foydali xordiq chiqarish sharoitlarini yaxshilash, shuningdek ta’tillar davrida talabalarning dam olishini tashkil etish;

o‘qitishning ilg‘or shakllari va metodlarini, kompyuter va axborot-kommunikatsiya texnologiyalarini, elektron ta’lim resurslarini ta’lim jarayoniga joriy etish, shu jumladan internet tarmog‘idan foydalanishini ta’minlash, institutni zamonaviy o‘quv-laboratoriya anjomlari va o‘quv-metodik adabiyotlar bilan ta’minlash, ilmiy – tadqiqot va innovatsiya faoliyatini qo‘llab-quvvatlash va rag‘batlantirish, institutning zamonaviy ilmiy laboratoriyalarini shakllantirish va rivojlantirish;

institutda sog‘lom intellektual va ma’naviy – psixologik, pedagoglar va talabalar o‘rtasida o‘zaro xamfikrlik muhitini shakllantirishga, ularda kasbiy, ma’naviy, intellektual va jismoniy takomillashuvga doimiy intilishi tarbiyalashga yo‘naltirilgan tadbirlarni amalga oshirish;

mualliflik o‘quv dasturlari, metodik qo‘llanmalar, tavsiyanomalar, didaktik materiallar xamda boshqa o‘quv-metodik xujjatlarni ishlab chiqish va nashr etish;

iqtidorli talabalarni etakchi xorijiy ta’lim muassasalariga tajriba orttirishga yuborish bo‘yicha takliflarni  shakllantirish, ular uchun  maxsus stipendyalar ta’sis etish;

institutning professor-o‘qituvchilar tarkibi, katta ilmiy xodimlari – izlanuvchilari va talabalari uchun xalqaro tajriba almashuvlari tashkil etish borasida ko‘maklashish.
<br>
10. Kengash o‘ziga yuklangan vazifalarni bajarish maqsadida:

Institutdan Kengashga yuklashgan vazifalarni bajarish uchun zarur ma’lumotlar va axborotlarni belgilangan tartibda oladi:

Kengash to‘g‘risidagi Nizomga o‘zgartirishlar va qo‘shimchalar kiritish to‘g‘risidagi takliflarni ishlab chiqadi va belgilangan tartibda kiritadi;

Institutning ish rejalarini, tadbirlar rejalarini, dasturlarini va boshqa xujjatlarini muxokama etishda qatnashadi, ularni takomillashtirishga doir takliflar kiritadi;

Institut faoliyatini takomillashtirish va rivojlantirish, shu jumladan institutning raxbarlik lavozimlariga nomzodlarni ko‘rib chiqish yuzasidan davlat organlariga murojaat qiladi;

Institutda kadrlar tayyorlash sifatini yaxshilash bo‘yicha takliflar kiritadi, shuningdek institutning rektoriga institutning xodimlari va talabalarini moddiy va ma’naviy rag‘batlantirish to‘g‘risida tavsiyanomalar taqdim etadi;

Kengashning mablag‘ tushumlari va mablag‘larning sarflanishi bo‘yicha moliyaviy rejasini tasdiqlaydi;

Kengash mablag‘laridan foydalanish tartibini belgilaydi;

Kengash mablag‘lari bo‘yicha moliyaviy rejaning ijrosi to‘g‘risidagi xisobotlarni ko‘rib chiqadi;

Kengash mablag‘laridan maqsadli va samarali foydalanishini tekshirish uchun nazorat taftish komissiyasini tayinlaydi

Kengash amaldagi qonun xujjatlariga, o‘z Nizomiga va institutning ustaviga muvofiq boshqa vakolatlarga xam ega bo‘lishi mumkin.
<br>
III. Kengash faoliyatini tashkil etish
<br>
11. Kengashda ishtirok etishning ixtiyoriyligi va Kengash vakolatiga tegishli masalalarni xal etishda uning barcha a’zolarining teng xuquqliligi tamoyillari asosida shakllantiriladi.

Kengash, qoidaga ko‘ra, Kengash vakolatiga tegishli masalalarni hal etishda uning barcha a’zolaridan iborat tarkibda shakllantiriladi.

Kengashning son tarkibi tartibga solinmaydi. Kengashning shaxsiy tarkibi va rahbariyatidagi o‘zgarishlar, qoidaga ko‘ra bir yilda bir marta amalga oshiriladi.

Institut rektori lavozimiga ko‘ra Kengash a’zosi xisoblanadi.
<br>
12. Kengash raisi va uning o‘rinbosari Kengashning birinchi tashkiliy majlisida saylanadi, majlisda institutning rektori raislik qiladi.

Kengash raisi va uning o‘rinbosari Kengash a’zolari orasidan saylanadi.

Kengash a’zolarining faoliyati muddatlari, Kengash raisi va uning o‘rinbosarini qayta saylash Kengash to‘g‘risidagi Nizomda belgilanadi.

Kengash o‘z vakolatlarini institutning rektoriga berish xuquqiga ega emas.
<br>
13. Kengash raisi:

Kengash majlisi kun tartibini belgilaydi va uni chaqiradi;

Kengash qarorlarini tasdiqlaydi va ularning bajarilishi nazorat qilinishini tashkil etadi;

Kengashning yillik ish rejasini tasdiqlaydi, shuningdek Kengashning yillik ish rejasi  bajarilishi to‘g‘risidagi xisobotni Kengashga taqdim etadi;

Kengash a’zolariga yuklangan vazifalar bajarilishi yuzasidan ularning ishini muvofiqlashtiradi;

Davlat organlari va boshqa tashkilotlarda Kengash nomidan vakillik qiladi;

Kengashning samarali ishlashini ta’minlash uchun boshqa vakolatlarni amalga oshiradi.
<br>
14. Kengash raisi o‘rinbosarining vakolatlari Kengashining qarori bilan belgilanadi.
<br>
15. Kengash a’zolari quyidagi xuquqlarga ega:

Kengash majlislarida ko‘rib chiqiladigan masalalarni muxokama qilish va xal etishda qatnashish;

Institutda ta’lim jarayonini rivojlantirishning  dolzarb masalalari bo‘yicha Kengashga takliflar kiritish;

Kengash tomonidan ko‘rib chiqiladigan masalalar bo‘yicha xulosa taqdim etish.

Kengash a’zolari Kengash tarkibida o‘z faoliyatini jamoatchilik asosida amalga oshiradilar.

Kengash a’zolari majlisda shaxsan qatnashishi kerak. Bunday qatnashishning imkoni bo‘lmagan taqdirda Kengash a’zosi majlisning kun tartibi bo‘yicha o‘z fikrini Kengashga yozma ravishda taqdim etishga xaqlidir.
<br>
16. Kengash o‘z ishlarini o‘zi tasdiqlagan rejalar asosida amalga oshiradi va o‘z majlislarini zaruriyatga ko‘ra, biroq yil choragida kamida bir marta o‘tkazadi. Kengash raisi tomonidan uning a’zolarining yozma iltimosnomalari asosida navbatdan tashqari majlislar chaqirilishi mumkin. Iltimosnomalarda navbatdan tashkari majlisni chaqirishning sabablari va asoslari bayon qilinishi kerak.
<br>
17. Kengash majlisini Kengash raisi, u bo‘lmagan taqdirda esa-Kengash raisining o‘rinbosari bajaradi.

Kengash majlisi unda Kengash a’zolarining kamida uchdan ikki qismi qatnashganda xuquqiy vakolatli xisoblanadi.

Majlisni o‘tkazish uchun kvorum yoki rais va uning o‘rinbosari bo‘lmaganda Kengash majlisini o‘tkazishining yangi sanasi e’lon qilinadi.
<br>
18. Kengash majlisida ko‘rib chiqiladigan masalalarning xususiyatiga ko‘ra davlat organlari va boshqa tashkilotlarning raxbarlari va mutaxassislari, institutning xodimlari, ayrim jismoniy shaxslar taklif etilishi mumkin.
<br>
19. Kengash kotibi:

Kengash majlisiga barcha zarur xujjatlarning o‘z vaqtida tayyorlanishini ta’minlaydi;

Majlisni o‘tkazish muddatlari va joyini Kengash raisi bilan kelishadi;

Kun tartibi masalalari bo‘yicha Kengash majlislari o‘tkazilishini tashkil etadi;

Kengash a’zolari va taklif etilgan shaxslarni  majlisning sanasi, kun tartibi loyixasi, majlisni o‘tkazish vaqti va joyidan xabardor qiladi;

Kengash qarorlari bajarilishi monitoringini yuritadi;

Kengash bayonnomalarini rasmiylashtiradi va tasdiqlangan bayonnomalarni Kengash a’zolariga va boshqa manfaatdor tashkilotlarga yuboradi;

Kengash kotibi Kengash a’zosi xisoblanadi;
<br>
20. Kengash o‘z faoliyatini ta’lim muassasasining rektori bilan o‘zaro xamkorlikda amalga oshiradi.
<br>
IV. Kengash tomonidan qarorlar qabul qilish va ularning bajarilishini tashkil etish
<br>
Kengash qarori Kengashning majlisda qatnashgan a’zolarining oddiy  ko‘pchilik ovozi bilan qabul qilinadi. Ovozlar teng bo‘lgan taqdirda Kengash raisining ovozi xal qiluvchi xisoblanadi.

Tushumlar va sarflarning yillik moliyaviy rejasini, shuningdek Kengash mablag‘laridan foydalanilishini tasdiqlash masalalari bo‘yicha qaror kengashning majlisda qatnashgan a’zolari uchdan ikki qismining ovozlari bilan qabul qilinadi.
<br>
22. Kengash qarorlari Kengash majlisining bayonnomasi bilan rasmiylashtiriladi. Kengash majlisining bayonnomasi Kengash raisi tomonidan tasdiqlanadi va bir xafta muddatda Kengash a’zolariga va manfaatdor tashkilotlarga yuboriladi.
<br>
23. Kengash bayonnomasining asl nusxasi va uning materiallari institutda saqlanadi.

Institut  rektori Kengash xujjatlarining saqlanishi va ularning saqlanishini ta’minlash uchun shart-sharoitlar yaratadi.
<br>
24. Kengash kotibi Kengash a’zolarining yordamida Kengash qarorlarining bajarilishini muntazam ravishda o‘rganadi va ko‘rib chiqadi, zaruriyat bo‘lganda, Kengash raisiga tegishli takliflar kiritadi.

Kengash qabul qilgan qarorlarning ijro etilishi xolatini o‘z majlislarida muntazam ravishda ko‘rib chiqadi.
<br>
25. Kengashning ish tartibi Kengash tasdiqlaydigan reglamentda belgilanadi.
<br>
V. Kengash mablag‘lari
<br>
26. Kengash mablag‘lari vakillari Kengash a’zolari xisoblanadigan tashkilotlarning, shuningdek Kengash a’zolarining xayriya ehsonlari, ixtiyoriy badallari shaklida Kengash tomonidan institutga jalb etiladigan byudjettdan tashqari mablag‘lar, shuningdek qonun xjjatlarida taqiqlanmagan boshqa mablag‘lar xisobiga shakllantiriladi.

Kengash mablag‘lari mol-mulk, pul mablag‘lari, boshqa moddiy va nomoddiy aktivlar shaklida yuritiladi.
<br>
27. Kengash mablag‘laridan Kengashning maqsadlari, vazifalari va vakolatlarini amalga oshirish va ularga erishish uchun foydalanilishi mumkin.
<br>
28. Kengash mablag‘lari Oliy ta’lim muassasasini rivojlantirish jamg‘armasining byudjetdan tashqari shaxsiy xisob raqamida jamlanadi, Jamg‘armaning daromadlari va xarajatlar smetasiga kiritiladi va ulardan belgilangan tartibda foydalaniladi.

Institutga beriladigan aktivlardan foydalanish tartibi Kengashning qarori bilan belgilanadi.
<br>
29. Kengashning kelgusi yilgi daromadlari va mablag‘lari sarflarining xajmi Kengash majlisida tasdiqlangan moliyaviy rejaga muvofiq Oliy ta’lim muassasasini rivojlantirish jamg‘armasining daromadlari va xarajatlari smetasiga kiritiladi.

Kengash tushumlari va mablag‘lari sarfining moliyaviy rejasiga institutdagi Kengash faoliyati bilan bog‘liq joriy xarajatlar kiritiladi.
<br>
30. Kengashning daromadlari va mablag‘lari smetasi Kengashning qarori asosida institut rektori tomonidan tasdiqlanadi.

Zaruriyat bo‘lganda Kengashning daromadlari va mablag‘lari sarflari smetasiga qonun xujjatlarida belgilangan tartibda o‘zgartirishlar kiritilishi mumkin.
<br>
31. Kengash mablag‘larining buxgalteriya xisobi to‘g‘ri yuritilishi, mablag‘lar zarur tarzda rasmiylashtirilishi va ulardan maqsadli foydalanilishini nazorat qilishi uchun institut rektori va bosh buxgalteriyasi javob beradi.

Jamg‘armaning joriy yilda foydalanilmagan mablag‘lari qoldig‘i olib qo‘yilmaydi  va keyingi yilga o‘tkaziladi.
<br>
32. Kengashning mablag‘laridan xodimlarning qo‘shimcha soni ta’minot uchun foydalanish ta’qiqlanadi.
<br>
33. Kengash mablag‘laridan to‘g‘ri, maqsadli va samarali foydalanilishi ustidan moliyaviy nazoratni amalga oshiradi.

Nazoratni amalga oshirish uchun Kengash tomonidan Kengashning nazorat-taftish komissiyasi tayinlanadi.

Kengash nazorat taftish komissiyasining raisi va a’zolarini tayinlash tartibi, ularning vakolatlari muddatlari va taftishlarni o‘tkazish davriyligi Kengashning reglamentida belgilanadi.
<br>
34. Kengashning nazorat taftish komissiyasi:

Bir yilda bir marta xisob raqamning to‘g‘riligini tekshiradi, Kengash mablag‘lari xisobigi amalga oshirilgan sarf xarajatlarni taftish qiladi, yillik xisobotlar va balansn bo‘yicha xulosa tayyorlaydi;

Kengashning kelgusi yilgi tushumlar va mablag‘lari sarflarining moliyaviy rejasini uni tuzishini to‘g‘riligi va asoslanganligi yuzasidan ko‘rib chiqadi;

Kengash mablag‘laridan maqsadli va samarali foydalanilgani yuzasidan Kengash oldida xisobot beradi.
<br>
35. Kengashning kelgusi yilgi tushumlari va mablag‘lari sarflarining moliyaviy rejasi ko‘rib chiqilgandan va nazorat taftish komissiyasi tomonidan ma’qullangan keyin Kengash tomonidan tasdiqlanadi.
<br>
36. Moliya xo‘jalik faoliyati bilan bog‘liq kelishmovchiliklar qonun xujjatlarida nazarda tutilgan tartibda xal etiladi.
<br>
VI. Kengash faoliyatini tugatish
<br>
37. Kengashni tarqatib yuborish tasarrufida tegishli oliy ta’lim muassasasi bo‘lgan vazirliklar va idoralarning qarorlari asosida amalga  oshiriladi.
<br>
38. Kengash tarqatib yuborilgan taqdirda uning Kengash mablag‘laridan boshqarish bo‘yicha vakolati vaqtincha institutning Kengashiga beriladi.
                </p>
            </div>
        </div>
    </div>
</div>



{% endblock content %}