{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Vasiylik Kengashi</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "institut/__vasiylik_copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="card-box_right">

                <p class="p1920_"><b> Jizzax politexnika institutining Vasiylik kengashi</b></p>
                <p class="p1920_"><b> Tarkibi</b></p>

                <table class="table table-bordered" width="100%">
                    <tbody>
                    <tr>
                    <td width="45"><strong> </strong></p>
                    <p><strong> №</strong></td>
                    <td width="142"><strong>Ismi-sharifi</strong></td>
                    <td width="397"><strong>Korxona va tashkilot nomi, lavozimi</strong></td>
                    <td width="113"><strong>Vasiylik kengashida</strong></td>
                    </tr>
                    <tr>
                    <td width="45">1</td>
                    <td width="142"><strong>Saliev E.A.</strong></td>
                    <td width="397">Jizzax viloyati  xokimi</td>
                    <td width="113">rais</td>
                    </tr>
                    <tr>
                    <td width="45">2</td>
                    <td width="142"><strong>Xolmatov E</strong>.</td>
                    <td width="397">“ Ekologiya va atorf-muhitni muhofaza qilish” boshqarmasi boshlig‘i,</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">3</td>
                    <td width="142"><strong>Zoyirov M.</strong></td>
                    <td width="397">&#8211; Jizzax viloyat MIZ direksiyasi direktori,</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">4</td>
                    <td width="142"><strong>Usmonov T</strong></td>
                    <td width="397">Jizzax akkumulyator zavodi OAJ  direktori ,</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">5</td>
                    <td width="142"><strong>To‘raqulov E</strong></td>
                    <td width="397">“ Jizzax plastmassa ” zavodi direktori,</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">6</td>
                    <td width="142"><strong>Obruev B.</strong></td>
                    <td width="397">Viloyat gaz ta’minoti boshqarmasi boshlig‘i ,</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">7</td>
                    <td width="142"><strong>Ibragimov</strong> <strong>B.</strong></td>
                    <td width="397">Jizzax xududiy elektr tarmoqlar korxonasi” AJ raisi,</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">8</td>
                    <td width="142"><strong>Mamarasulov Z</strong>.</td>
                    <td width="397">Jizzax viloyati “ Suvoqova” ICH boshqarmasi boshlig‘i,</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">9</td>
                    <td width="142"><strong>Sultonov M.</strong></td>
                    <td width="397">Jizzax viloyati yagona buyurtmachi injiniring kompaniyasi,</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">10</td>
                    <td width="142"><strong>Erkaev O</strong></td>
                    <td width="397">Qishloqqurilishinvest” MCHJ    filiali direktori,</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">11</td>
                    <td width="142"><strong>Qo‘ldoshev E</strong>.</td>
                    <td width="397">Viloyat  qurilish  boshqarmasi  boshlig‘i,</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">12</td>
                    <td width="142"><strong>Raxmatov G‘.</strong></p>
                    <p>&nbsp;</td>
                    <td width="397">Viloyat  qurilish  soxasida nazorat  xududiy  inspeksiyasi         boshlig‘i,</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">13</td>
                    <td width="142"><strong>Ergashev D.</strong></td>
                    <td width="397">“Toshtepa teks” MCHJ  boshlig‘i,</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">14</td>
                    <td width="142"><strong>Komilov  Q.</strong></td>
                    <td width="397">“Jizzaxteks” MCHJ boshlig‘i,</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">15</td>
                    <td width="142"><strong>Burhonov N.</strong></td>
                    <td width="397">Aziakarpet”MCHJ boshlig‘i,</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">16</td>
                    <td width="142"><strong>Raxmatov H</strong></td>
                    <td width="397">“Tuman ko‘priklaridan foydalanish” DUK boshlig‘i,</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">17</td>
                    <td width="142"><strong>Mamatqulov R</strong>.</p>
                    <p>&nbsp;</td>
                    <td width="397">“Jizzaxsuvqurilishinvest “DUK korxonasi direktori,</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">18</td>
                    <td width="142"><strong>Sultonov</strong>  <strong>N.     </strong></td>
                    <td width="397">Jizzaxdonmahsulotlari” AJ boshqaruvi.raisi,</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">19</td>
                    <td width="142"><strong>Bobobekov M.</strong></td>
                    <td width="397">Jizzax kommunal xo‘jalik boshqarmasi boshlig‘i,</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">20</td>
                    <td width="142"><strong>Xoliqov R</strong></p>
                    <p>&nbsp;</td>
                    <td width="397">Jizzax “Avtomobil yo‘llaridan foydalanish” boshqarmasi boshlig‘i</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">21</td>
                    <td width="142"><strong>Boqiev I.</strong></td>
                    <td width="397">Jizzax viloyat “O‘zavtotrans” OAJ boshlig‘i</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">22</td>
                    <td width="142"><strong>Odiljonov J</strong>.</td>
                    <td width="397">“Jizzaxavtotranstservis” MCHJ boshlig‘i,</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">23</td>
                    <td width="142"><strong>Boboqulov B</strong></td>
                    <td width="397">Viloyat qishloq xo‘jaligi boshqarmasi boshlig‘i,</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">24</td>
                    <td width="142"><strong>Karataev M</strong></td>
                    <td width="397">“Jizzax viloyati issiqlik manbai “DUK boshlig‘i,</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">25</td>
                    <td width="142"> <strong>Xursanov A.</strong></p>
                    <p><strong>    </strong></td>
                    <td width="397">Olmaliq kon metalurgiya kombinatiga qarashli Jizzax sement  zavodi boshqaruvchisi,</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">26</td>
                    <td width="142"> <strong>Azimov A</strong>.</p>
                    <p>&nbsp;</td>
                    <td width="397">“Qurilish” ADA ilmiy ishlab chiqarish tijorat firmasi   boshlig‘i,</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">27</td>
                    <td width="142"><strong>Zokirov</strong> <strong>S. </strong></td>
                    <td width="397">Irrigatsiyainvest” boshlig‘i,</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">28</td>
                    <td width="142"><strong>Raxmonqulov  A.</strong></td>
                    <td width="397">“ Zinatkor TTB ” MCHJ boshlig‘i,</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">29</td>
                    <td width="142"><strong>Isroilov A.</strong></td>
                    <td width="397">Jizzaxagrokimyoximoya HAJ  direktori;</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">30</td>
                    <td width="142"><strong>Bekmirzaev M</strong></p>
                    <p>&nbsp;</td>
                    <td width="397">Jizzax standartlashtirish va metrologiya boshqarmasi boshlig‘i;</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">31</td>
                    <td width="142"><strong>Xan. E.</strong></td>
                    <td width="397">Loyiha – boshqaruv milliy agentligi ( NAPU) Jizzax viloyat bo‘limi boshlig‘i</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">32</td>
                    <td width="142"><strong>Usmanqulov A. </strong></td>
                    <td width="397">Jizzax politexnika instituti rektori,</td>
                    <td width="113">a’zo</td>
                    </tr>
                    <tr>
                    <td width="45">33</td>
                    <td width="142"><strong>Matniyazov B</strong></td>
                    <td width="397">JizPI moliyaviy-iqtisodiy ishlar bo‘yicha prorektor,</td>
                    <td width="113">kotib</td>
                    </tr>
                    </tbody>
                    </table>
 
            </div>
        </div>
    </div>
</div>



{% endblock content %}